[2017-03-07 13:28] rhamilto commented on #496
This is what we're doing today in OpenShift via a directive.  https://github.com/openshift/origin-web-console/blob/master/app/views/directives/header/_navbar-utility.html

[2017-03-07 13:31] andresgalante commented on #496
@rhamilto that's good to know, we were planning to do the same for the pfang implementation.

Ok, I'll go on with that plan, thanks a lot for the patience and help

[2017-03-07 19:21] lizsurette opened #613 "Bottom of page Arrow/Link Bar not working on PatternFly.org homepage"
Seems like clicking the bottom of the page arrow/link bar isn't taking me to the next page on the PatternFly.org homepage. I'm using Chrome Version 56.0.2924.87 (64-bit) if that's helpful.

[2017-03-09 19:36] priley86 commented on #597
@rhamilto i've opened #614. I believe this should resolve the issue. Adding this override explicitly to `.form-control` in `src\less\forms.less` ensures that `.forms-control::placeholder` is output to `patternfly.css` and then autoprefixer can apply its prefixes correctly. This problem stems from the fact that Bootstrap less or other 3rd party less which adds prefixes will be ignored by autoprefix

[2017-03-10 02:20] dabeng commented on #607
I got [PR](https://github.com/patternfly/patternfly-org/pull/373) for this issue.

[2017-03-10 10:31] andresgalante commented on #210
I am going to close this issue for now. If there is a need for a slider for more than one patternfly consumer we can go though the patternfly process to add a new component.

[2017-03-10 10:32] #448 closed

[2017-03-10 22:02] chrismueller opened #616 "Datatables pagination broken in Google Chrome"
Hi. It seems that the datatables pagination is broken in Googles Chrome browser.
After changing the row count per page no items are being displayed and the rowcounts are change to "NaN-NaN".
Within Edge and Firefox everything works well.
Even the demo on the patternfly homepage is affected: http://www.patternfly.org/pattern-library/content-views/table-view/#/code

![unbenannt](https://cloud.github

[2017-03-11 16:19] LHinson commented on #616
Thanks for reporting @chrismueller

@dabeng, would you be able to look into this? Might make sense to look into #588 as well. Let me know and I'll create a story in Jira as well! Thanks :)

[2017-03-13 17:37] andresgalante commented on #616
@LHinson @dabeng this might be a bug on the website, since the patternfly implementation works:

https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/table-view.html

If it is a bug on the website please move this issue to https://github.com/patternfly/patternfly-org

[2017-03-13 17:40] andresgalante commented on #613
Hi @lizsurette This is a bug on the website, can you please open an issue or link to this issue here in the website repo:
https://github.com/patternfly/patternfly-org

[2017-03-13 17:41] andresgalante commented on #607
@mcarrano For next time, all issues related to the website should go on the websites repo https://github.com/patternfly/patternfly-org
thanks!

[2017-03-13 17:43] lizsurette commented on #613
@andresgalante Yes!! Sorry about that :)

[2017-03-13 17:43] #613 closed

[2017-03-13 17:43] andresgalante commented on #597
I'll close this issue since we are following the discussing on #614

thanks a lot Patrick and Robb!

[2017-03-13 17:46] andresgalante commented on #596
@dabeng can we move this issue to the org repo since it's related to the website? please close this issue once you do it.

And also, this is still a really good idea. 👍

[2017-03-13 17:47] andresgalante commented on #595
Hi @dabeng can you please move this issue to the website repo please and close this one when you do?
thanks a lot!

[2017-03-13 17:49] andresgalante commented on #594
Hi @dabeng
I don't quite understand what are you suggesting. do you want us to do our own charts?
C3 charts are svg based, using D3.

[2017-03-13 17:56] andresgalante commented on #593
True. A few years ago I've wrote how to do that with CSS
http://blog.andresgalante.com/howto/2015/03/06/patternfly-part-2.html

Material design is moving to that approach and frameworks like http://tachyons.io/ are already doing it.

Since breaking apart our monolotic aproach is such a huge task, we are doing it on the new version of patternfly:

https://github.com/patternfly/patternfly-css

@dabe

[2017-03-13 17:56] #593 closed

[2017-03-13 18:00] andresgalante commented on #590
To add an icon to your UI, if it's a patternfly icon do it this way:
`<span class="pficon pficon-middleware"></span>`
and if its a fontawesome icon:
`<span class="icon-class">fa-angle-right</span>`

You can see a list of all icons here:
https://www.patternfly.org/styles/icons/

I hope this answer it, if not please reopen the issue.

[2017-03-13 18:00] #590 closed

[2017-03-13 18:07] andresgalante commented on #586
This is a website issue. Also, I can't reproduce it. Is it fixed? can we close this issue?

[2017-03-13 18:08] andresgalante commented on #553
Ok, What do you guys want  to do? Should we keep it as it is and find a solution on pf5 or fix it now?

[2017-03-13 18:12] andresgalante commented on #540
@priley86 @dtaylor113 any news on this one?

[2017-03-13 18:13] andresgalante commented on #546
Let's continue this discussion on the issue. I'll close it.

[2017-03-13 18:13] #546 closed

[2017-03-13 18:26] andresgalante commented on #529
@jawnsy We've already fixed this on cards for pf5. I'll close this issue and track the progress of the fix for pf3/4 on the jira story.
@LHinson this is something we should fix. Can we please prioritize it?

[2017-03-13 18:26] #529 closed

[2017-03-13 18:29] andresgalante commented on #512
This one is fixed

[2017-03-13 18:32] andresgalante commented on #249
@dlabrecq @priley86 @bleathem any news on this one?

[2017-03-13 18:33] andresgalante commented on #339
@dabeng is this one fixed? can we close it?

[2017-03-13 18:37] andresgalante commented on #216
Thanks a lot for your input. I am going to close this issue for now. If there is a need for a slider for more than one patternfly consumer we can go though the patternfly process to add a new component. Please send an email to the mailing list and we'll discuss it there.

[2017-03-13 18:40] andresgalante commented on #416
Is this still a thing? I though we hide the notification drawer on mobile viewports.

Since we are working on mobile recommendations and we know the notification drawer is one of the problematic components, then I am going to close this issue and continue the this on the brother mobile discussion.

We will take in consideration the problems with notification drawer and mobile viewports for PF5.

[2017-03-13 18:40] #416 closed

[2017-03-13 18:42] andresgalante commented on #481
Is this an issue of patternfly or C3. If it is on C3, can we close this issue, open one upstream and try to send them a PR?

[2017-03-13 18:42] andresgalante commented on #511
Thanks a lot @nireno

[2017-03-13 18:42] #511 closed

[2017-03-13 18:46] andresgalante commented on #485
Is this an issue on the website or on patternfly?

[2017-03-13 18:47] andresgalante commented on #477
That's native HTML5.

[2017-03-13 18:47] #477 closed

[2017-03-13 19:06] mulkieran commented on #216
@andresgalante I'm afraid this sentence "If there is a need for a slider for more than one patternfly consumer we can go though the patternfly process to add a new component." is entirely opaque to me. Could you explain?

[2017-03-13 19:17] andresgalante commented on #216
Sorry, I was too vague.
We have a process to add new components to patternfly. It starts with proposing it to the mailing list. If we have more than one +1 then we add to the library. Now that I am writing it, it sounds silly since that fact that you've open this issues means than more than one person want's a slider.

@LHinson Can we create a story to add a slider to patternfly please?

[2017-03-13 19:53] kybaker commented on #588
@andresgalante @dabeng - Yes, just an oversight. The image will need to be updated.

[2017-03-13 19:55] kybaker commented on #588
@dabeng @andresgalante - Yes, the numbers are incorrect. The example should say 20 at the top.

[2017-03-13 20:18] rhamilto commented on #597
Shouldn't this issue stay open until the PR merges?

[2017-03-14 00:10] #597 closed

[2017-03-14 10:52] andresgalante commented on #460
Hi @dabeng Inner scrolling will cause a treadmill effect, thanks for reporting it.

[2017-03-14 10:52] #460 closed

[2017-03-14 17:41] #496 closed

[2017-03-14 20:14] mulkieran commented on #216
@LHinson Could you point me at where this might be happening? Thanks!

[2017-03-14 20:22] LHinson commented on #216
@mulkieran do you have a test page that you can point me to to check out this implementation that you had in mind?

[2017-03-14 21:48] LHinson commented on #607
Is addressed by: https://github.com/patternfly/patternfly-org/pull/373#issuecomment-286293855

[2017-03-14 21:48] #607 closed

[2017-03-14 22:06] thiagodp commented on #543
Hi @andresgalante,

maybe you could keep the issue opened, in order to not forget about it. Could you please do it? Thanks.

[2017-03-14 22:12] mulkieran commented on #216
I'm sure I don't. I don't run in patternfly circles, I work on lower-level storage tools. But these sometimes require users to specify sizes, and it often seems to me that mistakes are made in choosing the interface to do the specifying. That is why I ended up here, since my understanding is that patternfly is about coming up with some agreed upon standards.

[2017-03-15 16:31] LHinson commented on #216
@mulkieran, @andresgalante and I have looked into this and we would like to add a slider to PatternFly. We are asking @jawnsey to send a PR for the slider seen here: https://jsfiddle.net/ez7suLrm/

Would love for you to review that PR, if interested. Thanks again for bringing this to our attention and apologies for the delay in getting it added to PatternFly!

[2017-03-15 16:54] LHinson commented on #588
@dabeng where did you get this screenshot from?

[2017-03-15 17:33] pharasyte commented on #616
@dabeng @andresgalante

I was able to replicate this my own project.

After digging into the issue, it seems that when 'Bootstrap Select' is initializing the pageSize, it adds the ".pagination-pf-pagesize" class to 'bootstrap-select' DIV that wraps the original SELECT element. This causes the onChange handler set in the "handlePageSize" function to fire twice, once for the original SELECT element,

[2017-03-15 18:08] dlabrecq commented on #616
Thanks for digging into this. I started looking at the dependency versions myself, but didn't expect bootstrap-select was duplicating the pagination-pf-pagesize selector elsewhere. I see the duplication on rawgit and on pf.org; although, rawgit appears to be working. We'll definitely want to fix this, regardless.

Would you like to submit your fix as a PR?

[2017-03-15 18:43] pharasyte commented on #616
@dlabrecq Pull Request 617 submitted.

I didn't test with any other browsers, though. Not sure if that makes a difference in this case.

[2017-03-15 19:21] dlabrecq commented on #616
Using one or the other selector should be fine.

[2017-03-17 13:33] mulkieran commented on #216
Hi!

I took a look at the link. I'm not sure how to review...I see two sliders, which can be moved independently of each other. The quantities are meant to be tied together in my conception, so the sliders can not be independent. Is there
a PR as well as a mockup that I can look at?

[2017-03-18 12:54] LHinson commented on #216
Hey @mulkieran, the PR has not been sent quite yet but we've asked @jawnsy to submit one.

[2017-03-20 09:44] garrett opened #620 "Color palette for Inkscape & GIMP"
I noticed http://www.patternfly.org/styles/color-palette/ is lacking the Patternfly color palette for free software programs such as Inkscape and GIMP, so I converted the color swatches to the correct format using [SwatchBooker](http://www.selapa.net/swatchbooker/) and added a `Columns` line for GIMP to show all colors in one line (instead of wrapping).

As we use Inkscape for design in the Cockpi

[2017-03-20 15:15] mulkieran commented on #216
@LHinson Can I give you a call about this tomorrow? I'ld say this afternoon, but I'm booked from 2:30 to 5:00, most unusual, and I'm going to be running before then.

[2017-03-20 15:39] LHinson commented on #216
Yep, happy to discuss. Will you give me a better understanding of the specifics of what you want to address in the call?

[2017-03-20 17:44] mulkieran commented on #216
I'm afraid I don't understand your process well enough to understand what I've gotten started. I'm worried that I'll end up causing something that I never intended.

[2017-03-23 19:03] mulkieran commented on #216
@LHinson: Is there an irc channel you could typically be found on?

[2017-03-24 17:39] LHinson commented on #216
I'm on slack :/ @mulkieran

[2017-03-27 14:18] andresgalante commented on #620
Thanks a lot @garrett!
You are right we are missing this. Are you able to send a PR to add this to the website?

[2017-03-28 13:48] EricWittmann opened #622 "Problem with use of transform:translate() to animate Modal Dialog position"
I recently ran into a problem when using a custom tooltip inside a PF modal dialog.  My custom tooltip gets positioned using `position:absolute` with a `left` and `top` dynamically set based on the mouse position (clientX, clientY).

This worked well until I tried using it within a modal dialog, at which point the tooltip got positioned relative to the top,left of the dialog!  Confused, I eventual

[2017-03-30 13:34] knokit opened #623 "Unable to find a suitable version for jquery, on branch-4.0-dev"
When installing bower deps, on **branch-4.0-dev**, it cannot automatically resolve the version for jquery which blocks Travis builds.

[2017-03-31 18:44] jawnsy opened #625 "Usages of "calc" need to be escaped before processing with LESS"
In RCUE, there are many properties with value `calc(fixed number)`, which I think is due to the same problem fixed by #624

[code]

Some of the built PatternFly styles seem to have similar behavior, which warrants a closer look:

[code]

[2017-04-11 15:05] vkrizan opened #626 "`list-group-item-header` does not flex items to center"
`list-group-item-header` in list view with expansion does not make items to flex to vertical center. To reproduce it remove icons from [List View - Simple Expansion test page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-simple-expansion.html).

Fix seems to be simple, by adding `display: flex` to `list-group-item-header`. However, I don't know if that is the right sol

[2017-04-18 07:52] iransamaneh commented on #616
this error is not exists only for chrome. i tested it with firefox and it is exists. Pull request 617 did not correct problem. i found error and i will correct it with a new pull request soon.

[2017-04-18 11:23] andresgalante commented on #625
@bleathem We should fix this on the less sources.

@LHinson can we schedule it?

[2017-04-18 13:33] knokit commented on #623
Closing as it seems to be working properly now.

[2017-04-18 13:33] #623 closed

[2017-04-21 21:23] Fryguy opened #633 "Spinner wobbles and has artifacts"
I have recorded a video ([here](https://drive.google.com/file/d/0Bw1P84Qm0MZeZTdVdDJKcDhoZEE/view)) of http://www.patternfly.org/pattern-library/widgets/#spinner on Google Chrome 57.0.2987.133 at 125% browser zoom (that's my default zoom).  In the video, the first spinner is relatively normal but you can see the white artifact and the second spinner is wobbly.

@andresgalante as discussed in Slack

[2017-04-24 13:30] NicolaIsotta opened #634 "Header link inside panel-info is almost unreadable"
Follow-up of #511
JSFiddle: https://jsfiddle.net/8jp7ep25/1/
The other type of panels, having a much lighter background, don't show this problem.

[2017-05-03 09:39] bregman-arie opened #638 "Missing working example of list-view with pagination"
Hi,

First of all, great project!

Now to the actual issue - I'm trying to have list-view with pagination but:

1. There is no example code in patternfly.org on how to use list-view with pagination
2. The current example in this repository is not really working:

https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/pagination-list-view.html?#

Do you have a working example on how to use

[2017-05-09 12:12] andresgalante commented on #638
Hi @bregman-arie,

Are you using angular or jquery?

[2017-05-09 12:13] andresgalante commented on #634
Hi @NicolaIsotta, you are right there is no contrast and the colors are wrong.
Can you send a PR to fix it?

[2017-05-09 12:14] andresgalante commented on #633
Thanks for reporting this @Fryguy I would have never noticed it.
I'll label this issue as a bug and come back to it as soon as I can.

[2017-05-09 12:16] andresgalante commented on #626
Hi @vkrizan We've introduce a new list component to fix the issues with list-view.

it's much cleaner and modular, and it flex much better:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-pf.html

Please let me know if you can migrate to this new version and if it solves your issues with old list view.

Thanks a lot

[2017-05-09 12:46] NicolaIsotta commented on #634
Sorry, I've never used any css preprocessor and I wouldn't know where to start.
Maybe @nireno can help us, he solved #511 .

[2017-05-09 13:10] vkrizan commented on #626
Thanks. Is there documentation for `list-pf` besides test pages? Test pages does not include list with **collapsible** content items (just to make sure they would work together).

FYI: List view at [Patternfly documentation](http://www.patternfly.org/pattern-library/content-views/list-view/#/code) uses previous `list-view-pf` component.

[2017-05-09 13:16] andresgalante commented on #626
Nope, sorry there is no docs for this. It's a "do whatever you want" structure.
The collapsible content is not there, but since it's an empty container you can flex your content or use bootstrap grid or whatever. You can slo do as many nested containers as you want.

Ping me on slack if you have any question and I'll show you around.

[2017-05-10 10:14] michpetrov opened #641 "Examples should use ids to limit JS scope"
Since some examples may end up being included together their event listeners could interfere. This is currently causing patternfly/patternfly-org#408. Having an id will make sure the event listeners are not applied outside of the example. I'll prepare a PR.

[2017-05-10 15:23] serenamarie125 opened #642 "spacing between stacked toast notifications is too large"
The default spacing between stacked toast notifications is too large.  Here is a screenshot from OpenShift.
![f6605a4a-356d-11e7-9f8b-ad4f0a545928](https://cloud.githubusercontent.com/assets/12504403/25906430/9941bdea-3572-11e7-82f7-a113931850bf.png)

I'd like to propose that the spacing between toasts is cut down to 5 px, like this:
![7384eab4-356d-11e7-9d7e-a089761ce578](https://cloud.githubuser

[2017-05-10 15:33] serenamarie125 opened #643 "Toast notifications should be top aligned under the application bar"
The toast notifications documentation shows that a toast notification should be top right aligned. I suggest that this be changed to be top aligned under the application bar, and if there is a horizontal bra, should be top aligned under that.

The toast notification covers items on the banner, and among other things blocks the user from accessing the notification drawer, in some cases.  We have re

[2017-05-12 20:24] suzannehillman opened #644 "Kebab example should be Headline caps"
This bug is based on discussion in a patternfly-design issue (https://github.com/patternfly/patternfly-design/issues/245). After reflection, we will be adding to the http://www.patternfly.org/styles/terminology-and-wording/ document to make it clear that menu items should use Headline caps, not Sentence caps.

As a result of this change, the capitalization in the kebab sample (https://www.patternf

[2017-05-15 20:19] bregman-arie commented on #638
Hi @andresgalante

jquery

[2017-05-16 05:52] RituVasuja opened #646 "Access remote data for advance filter with tableview"
i want advance filter on remotely access json , In patternfly json define inside the program .

[2017-05-17 15:14] dtaylor113 opened #648 "Application Launcher's List View display issues"
In list view:

![image](https://cloud.githubusercontent.com/assets/12733153/26160558/9156c800-3aef-11e7-878a-2824d4cf01e8.png)

- Please add some padding between the icon and label.
[code]
- Please align all labels regardless of size/width of icons, or if there some apps which do not have icons defined.  (Image below has padding-right applied)
![image](https://cloud.githubusercontent.com/assets/12

[2017-05-17 21:57] cdcabrera commented on #648
Sure thing, taking a look.

[2017-05-18 16:24] garrett commented on #620
Hi! Sorry I'm a bit late replying — I meant to do this earlier, but was juggling a lot of stuff (related to RH Summit and all).

I've made a pull request on the website at: https://github.com/patternfly/patternfly-org/pull/412

[2017-05-22 15:31] andresgalante commented on #646
@dlabrecq Can you help with this one please?

[2017-05-22 19:07] dlabrecq commented on #646
There's no description, so it's not clear what you're trying to do. Are you trying to apply a filter to remote data? Or, are you looking to filter paginated data?

Note that the filter HTML has little to do with the table view component, other than some extra styling. In fact, the entire toolbar simply sits on top of the table. However, table view provides a default implementation to apply a simpl

[2017-05-23 05:17] sjcox-rh opened #653 "List View Outline Code doesn't match Designs"
Fuse used the list view pattern and noticed a mismatch in the design and code. The code displays a blue outline for active items which the design mocks show as a gray outline.

Code Implementation:
<img width="555" alt="screen shot 2017-05-22 at 10 14 22 pm" src="https://cloud.githubusercontent.com/assets/16257540/26339346/3284120a-3f3c-11e7-8b73-a3db96b58792.png">

Designs:
<img width="786" alt="

[2017-05-23 11:57] LHinson commented on #653
I _think_ this is a bug on the image and we decided to go with the blue since that is consistent for PatternFly. @kybaker can you confirm? If that's indeed the case, I'll file a bug against the design repo. Thanks @sjcox-rh!

[2017-05-23 14:32] chirino commented on #653
I think the design looks much better.

[2017-05-24 08:37] RituVasuja opened #654 "No proper code for checkbox and radio button ?"

[2017-05-25 12:32] fr0z3nfyr commented on #646
From what I understand, OP is looking for https://datatables.net/reference/api/search().

Anyway, when you say

how exactly can a function in `patternfly.dataTables.pfFilter.js` be overriden? Let's say `clearFilters()` for example.

[2017-05-25 13:12] cshinn commented on #648
If we put in a rule that adds padding for items without icons, we end up with a situation where they're all indented even if none of them have icons
![screen shot 2017-05-25 at 9 09 38 am](https://cloud.githubusercontent.com/assets/3300756/26451393/e922e7ae-4129-11e7-995e-2e192a714bda.png)

We can achieve the desired effect by including a placeholder div
![screen shot 2017-05-25 at 8 55 20 am](htt

[2017-05-25 17:08] dlabrecq commented on #646
patternfly.dataTables.pfFilter.js is a dataTables.net extension, so you could extend DataTable.pfFilter for example. However, if you're looking for search, you'll need a custom implementation. For seacrh functionality, it may be best to call the datatables.net APIs directly.

[2017-06-01 17:40] serenamarie125 opened #656 "Badge color for icons in the masthead should be blue"
Badges which are shown in the masthead should be blue and on the top right corner as shown here:
http://www.patternfly.org/pattern-library/application-framework/masthead/#/design

@LHinson this is a request from oVirt.
Currently in variables.less, @notification-badge-color is set to @brand-danger
It should be pf-blue #0088ce

Note that @jeff-phillips-18 already did this for ManageIQ - you can see

[2017-06-02 12:38] jeff-phillips-18 opened #658 "Toast notifications should be shown over modals"
When using a modal to enter data, if a notification arrives, it is displayed behind the modal and cannot be fully viewed.

[2017-06-02 19:51] #648 closed

[2017-06-02 20:16] spadgett opened #659 "Step indicator numbers are not centered when changing base font size"
We use a 13px base font size and notice the numbers inside the indicator bubbles are off center.

![openshift web console 2017-06-02 16-14-20](https://cloud.githubusercontent.com/assets/1167259/26743113/a2c6cdb2-47ae-11e7-903b-5db06394364c.png)

cc @jwforres @jeff-phillips-18

[2017-06-04 13:48] gregsheremeta opened #661 "npm module size doubled (19.2 MB)"
I noticed that between 3.19 and 3.25 that the npm module size shot up. Looks like the font sizes all grew. Perhaps this is by design and not a real issue, in which case feel free to close.

I have a ton of npm modules on my machine, and patternfly is by far the largest of them at almost 20 MB :)

![selection_229](https://cloud.githubusercontent.com/assets/2248293/26762133/80770cec-490a-11e7-89a8-7

[2017-06-04 13:53] gregsheremeta commented on #661
Introduced in commit https://github.com/patternfly/patternfly/commit/c9800ee1a2876aa9accc351ea3618a9173357db0

[2017-06-05 10:13] michpetrov commented on #659
FWIW, you can adjust the vertical position with line-height, in this case changing it to 21px seems to do the trick. (I don't think there's a way to make it universally centered for an arbitrary font-size)

[2017-06-05 12:06] spadgett commented on #659
@michpetrov Is it possible to calculate line height for the indicator relative to font-size-base? It looks like it's horizontally off-center as well.

We just changed the indicator number to 12px instead of using font-size base, which looks fine.

[2017-06-05 13:34] michpetrov commented on #659
@spadgett I don't think so, at least from what I tried, e.g. for sizes between 14 and 20 px the correct line height seems to be 20px, for larger sizes 18px looks better (even for something like 100px).

As for the horizontal centering part of the problem is the font itself:
![screenshot from 2017-06-05 15-17-34](https://cloud.githubusercontent.com/assets/1999074/26785402/72f48a9c-4a02-11e7-82d5-27

[2017-06-05 14:00] gregsheremeta opened #662 "OpenSans changed"
Upgraded from 3.19 to 3.25 and noticed the typography changed

Previous (which looks much better, imo)
![selection_233](https://cloud.githubusercontent.com/assets/2248293/26786769/a7a35124-49d5-11e7-9839-3b16bc9bf56f.png)

Current (letters look too short to me)
![selection_234](https://cloud.githubusercontent.com/assets/2248293/26786788/b03f73e4-49d5-11e7-90f7-48fa77efc85d.png)

Suspect https://gi

[2017-06-12 17:13] jgiardino opened #663 "alignment of kebab dropdown menu callout"
The callout (i.e. triangle pointing up) of the dropdown menu is not aligned with the kebab icon when the following conditions are true:

- kebab comes after a button
- buttons and kebab are not in a toolbar
- menu is NOT right-aligned (e.g. `ul.dropdown-menu` does not include the class `dropdown-menu-right`)

An example of this implementation can be seen in the [PF-React repo storybook for the keb

[2017-06-12 19:42] cdcabrera opened #664 "Postinstall NPM Script Recursively Firing Jekyll Install"
The postinstall NPM script unnessarily runs Jekyll and Bundler when Patternfly is included as a dependency. Possible solutions:

- Remove NPM ```postinstall```
- Or provide additional checks inside ```postinstall```

Additional distribution clean up could also help improve/streamline installs

@bleathem

[2017-06-12 21:03] bleathem commented on #664
There is a grunt task that runs bundler:
[code]

So I would advocate removing it from the npm postinstall.

[2017-06-15 14:15] #634 closed

[2017-06-15 16:42] #664 closed

[2017-06-15 17:26] jniederm opened #667 "{{site.baseurl}} config attribute can't be '/'"
commit daba0aa3f9f1489ef777658 introduces {{site.baseurl}} config attribute. If value of this attribute is `/` then loading of svg assets is broken.

see https://github.com/patternfly/patternfly/blob/daba0aa3f9f1489ef777658c462a37db32dd99eb/tests/pages/_includes/widgets/layouts/nav-vertical-notification-drawer.html#L10 that will resolve to https://github.com/patternfly/patternfly.github.io/blob/33

[2017-06-16 08:48] michpetrov commented on #667
Related: patternfly/patternfly-design#270

[2017-06-19 17:59] bleathem commented on #667
Don't set `{{site.baseurl}` to `/`.  Rather, set it to a path eg. `/patternfly-org` or to an empty string.

[2017-06-20 08:56] michpetrov commented on #667
@bleathem it is currently set to `/` on patternfly.org; and it cannot be set to an empty string - [Gruntfile.js#21](https://github.com/patternfly/patternfly-org/blob/master/Gruntfile.js#L21)

[2017-06-20 12:12] jeff-phillips-18 commented on #653
@kybaker Can you confirm or deny? If grey, can you specify the color value?

[2017-06-21 19:52] jeff-phillips-18 opened #668 "Notification instances with long text break layout in notification drawer"
From: https://github.com/patternfly/angular-patternfly/issues/430

The css for the message in the vertical accordion is set to `display:inline-block`, which breaks down if you have messages larger than a very simple, short sentence. Example:

<img width="720" alt="screen shot 2017-03-08 at 10 10 05 am" src="https://cloud.githubusercontent.com/assets/280512/23709440/77e01d20-03e7-11e7-8fc8-93490510

[2017-06-22 00:30] bleathem commented on #667
I meant the {{site.baseurl}} configured in the [Jekyll config](https://github.com/patternfly/patternfly-org/blob/master/source/_config.yml#L5).  The derived value in the Gruntfile may indeed be incorrect.

When you say it cannot be an empty string, what value are you referring to?

Re-opening this issue while we investigate.

[2017-06-22 15:01] ianmcxa opened #670 "Datatable filter with Ajax data source"
I am using the table view with the pfFilter extension. My data is sourced via an ajax call and filtered on the server via DataTables's server side rendering. DataTables handles filtering in this case by setting headers on the request.

Is it possible to make patternfly filters set these headers?

[2017-06-22 15:09] michpetrov commented on #667
I mean the final value that Jekyll uses to generate the URLs, because grunt will at the very least prepend `/` (which I think breaks some URLs when you're testing things locally), secondly `navbar-logo-icon` and the like already start with a slash, so you're ending up with double `//assets/img/logo.svg` (which is a problem on the live site).

[2017-06-22 18:54] #668 closed

[2017-06-26 21:19] gregsheremeta commented on #662
ping @LHinson @bleathem

[2017-06-26 21:20] gregsheremeta opened #672 "In vertical navigation, the second level navigation is hanging open after clicking the menu option"
In vertical navigation, the second level navigation is hanging open after clicking the menu option. Menus should close when options in them are clicked.

[2017-06-30 21:29] dlabrecq opened #676 "list-pf doesn't support disabled rows"
The new list-pf layout does not allow rows to be disabled.

Currently the list view component from angular-patternfly shows disabled rows using .list-group-item.disabled (we inherit that from Bootstrap). However, there is no list-pf-item.disabled equivalent for use with the new list-pf layout.

In order to create a list component for patternfly-ng, we need to support disabled rows. I've added my o

[2017-06-30 21:30] dlabrecq commented on #676
FYI, @andresgalante @LHinson

[2017-07-03 13:32] LHinson commented on #676
@dlabrecq what is the use case for the disabled row? I ask because this is not something actually designed in PatternFly to date. Sounds like the product was able to leverage a bootstrap but should be looked at from a design perspective and added to our documentation.

We DO have a "unavailable" option which is denoted via text seen in the Table View but also applicable to List View. See http://ww

[2017-07-03 15:04] dlabrecq commented on #676
I'm simply trying to achieve feature parity with the list view component in Angular Patternfly. You can see the disabled list view row example below -- select "Show Disabled Rows".

http://www.patternfly.org/angular-patternfly/#/api/patternfly.views.component:pfListView

Perhaps @dtaylor113 and/or @jeff-phillips-18 can shed some light regarding the disabled use cases for list view?

It was my unde

[2017-07-03 15:35] LHinson commented on #676
This would be a case where an implementation does not have documentation. The design docs should be treated as the gold standard.

I can work with @serenamarie125 @crobson @mcarrano @mgranfie to determine if this is a gap in our documentation and loop back around with re: whether or not it's needed for the ng implementation.

[2017-07-04 22:49] bleathem commented on #667
This is resolved with https://github.com/patternfly/patternfly-org/pull/427.  Thanks for narrowing down the issue @michpetrov.

[2017-07-04 22:49] #667 closed

[2017-07-05 13:50] dlabrecq commented on #676
Ok, please let me know. I can easily remove the disabled feature from the list component of patternfly-ng.

[2017-07-06 19:09] serenamarie125 commented on #653
I think there was an intentional move to a gray outline.  @andresgalante made a specific change for openshift which uses the gray.

[2017-07-06 19:13] kybaker commented on #653
@LHinson @sjcox-rh  I created the original gray design and during implementation it got changed. I think that the gray works better especially after seeing the live version in context. I think the shadow in the design is important for setting the hierarchy.

[2017-07-07 15:58] mwcz opened #680 "Getting started page includes a CSS file with a script tag"
From http://www.patternfly.org/get-started/setup/

    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css"></script>

[2017-07-07 16:08] mwcz commented on #680
Closing because this is @cbredesen's discovery and I shouldn't steal the glory!

[2017-07-07 16:08] #680 closed

[2017-07-10 13:08] andresgalante commented on #661
Thanks @gregsheremeta We introduce this to add new characters #377

But is a problem. I wonder if open sans can be an opt in and we can use a CDN instead. What do you think?

cc @bleathem

[2017-07-10 19:21] gregsheremeta commented on #661
I was thinking opt-in a separate opensans npm package, maybe even two (light and full [all the characters]). I guess CDN works, but feels not as polished.

[2017-07-11 15:21] andrewasem opened #682 "Paginate Multi Data Tables"
Ao trabalhar com vários Data Table em uma mesma tela e fazer uso de uma do recurso de paginar faz com que todos os datatable sejam paginados ao mesmo tempo.

Para isto se faz necessário alterar a função  "fnUpdate" `for (i = 0; i < ien; i += 1) {
        	  $(an).find('.paginate_input').val(iCurrentPage);
        	  $(an).find('.paginate_of b').html(iPages);

            // Add / remove disabled c

[2017-07-13 15:21] KwisatzHaderach opened #683 "Notification drawer should have pin button"
It's kind of confusing at first (and inconvenient later) that the notification drawer is not closed by clicking anywhere else in the site.
It might be better to have some pin button there so it's on the user if he wants to keep the drawer there or not.

[2017-07-13 15:46] serenamarie125 commented on #683
We are doing some tests related to this specific issue

[2017-07-17 16:17] andresgalante commented on #654
Hi, I don't relly know what you mean, but you can check bootstrap forms documentation here:

http://getbootstrap.com/css/#forms

I'll close this issue, but if you need more help please feel free to reopen it.

Thanks!

[2017-07-17 16:17] #654 closed

[2017-07-18 16:44] #672 closed

[2017-07-21 14:00] #653 closed

[2017-07-21 16:31] #658 closed

[2017-07-24 16:53] gashcrumb opened #691 "API to hide/show main menu removed?"
Hi!  I had added a little API to hide and show the main navigation widget in this pr:

https://github.com/patternfly/patternfly/pull/582

For this issue:

https://github.com/patternfly/patternfly/issues/580

But I just updated the version of patternfly to the 3.25.1 and had this issue reported:

https://github.com/syndesisio/syndesis-ui/issues/638

From what I can tell in the latest code none of m

[2017-07-26 10:48] gashcrumb commented on #691
@bleathem any word on this one?  This regression messes up the main views in our app...

[2017-07-26 22:09] bleathem commented on #691
Sorry abuot this @gashcrumb.  your contribution seems to have gotten lost with the patternfly-functions.js split.  I've created a new PR (#695) re-introducing your contribution.

[2017-07-26 22:28] gashcrumb commented on #691
Awesome, thanks!

On Jul 26, 2017 6:09 PM, "Brian Leathem" <notifications@github.com> wrote:

[2017-07-27 07:35] ncoghlan commented on #458
@kahboom Were you able to get this working without modifying the upstream PatternFly CSS files? I'm hitting similar problems now along the lines of:

[code]

As far as I can tell, I've set https://github.com/ncoghlan/python-release-latency/blob/master/webpack.config.js up correctly based on the demo, but running `./node_modules/.bin/webpack --config webpack.config.js` fails when the CSS files are

[2017-07-27 20:13] srambach opened #697 "Clickable items in masthead (and possibly elsewhere) don't always get the pointer cursor"
The cursor:pointer attribute is being set in quite specific cases such as `.navbar-pf .drawer-pf-trigger-icon`, which has led to some inconsistencies when not explicitly set.
e.g. the Help/About dropdown on [Horizontal Nav](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/horizontal-navigation.html).
It may be better set on something more universal, like `.dropdown-toggle` or `.nav-

[2017-07-28 09:25] ncoghlan commented on #458
Success! My initial problems turned out to be a combination of two things:

1. The syntax for configuring `ExtractTextFiles` has changed from what it was when this demo was first written
2. When an appropriate loader is configured based on the file extension, specifying it again in the `requires` call will cause problems, so you shouldn't do that

Those fixes were applied here: https://github.com/

[2017-08-02 04:43] dlabrecq opened #698 "Toolbar Responsive Bug"
There appears to be an issue with the responsive state of the toolbar.

My example page is split into two panes, so the toolbar does not fill the entire window width. The left side of the page has a 200px wide navigation pane.

When the window is made smaller, the toolbar wraps, but there is no spacing between the rows. Only when the window is made extra small, does the layout show the correct row

[2017-08-02 04:57] dlabrecq opened #699 "Empty State Component: Secondary buttons too close together"
The secondary action buttons are too close together. Need to add more padding to match the PatternFly design.

Patternfly implementation:
<img width="421" alt="screen shot 2017-07-26 at 10 09 50 am" src="https://user-images.githubusercontent.com/16257540/28634625-a1ff0116-71ec-11e7-840b-51435695053e.png">

PatternFly-design:
<img width="377" alt="screen shot 2017-07-26 at 10 09 55 am" src="https:/

[2017-08-02 04:58] dlabrecq commented on #699
FYI @sjcox-rh

[2017-08-02 04:59] dlabrecq commented on #698
Reported by @sjcox-rh

[2017-08-02 05:00] dlabrecq commented on #699
Reported by @sjcox-rh

[2017-08-02 18:25] LHinson commented on #691
@bleathem @gashcrumb can we close this issue since #695 has been merged?

[2017-08-02 18:44] gashcrumb commented on #691
Yep, sorry, thanks!

[2017-08-02 18:44] #691 closed

[2017-08-02 19:24] LHinson commented on #691
No worries! Just didn't want to prematurely close anything @gashcrumb

[2017-08-04 12:18] anikitin35 opened #700 "Off-canvas sidebar support"
How we can add a support of off-canvas sidebar with custom button for opening it?

[2017-08-07 12:52] andresgalante commented on #699
Hi, @sjcox-rh are you looking for a 14px spacing between each btn on the empty state component?
How is that consistent with other instances of group of btns in other components?

[2017-08-07 12:54] andresgalante commented on #698
@LHinson Do we want to work on this for pf3?

[2017-08-08 13:20] sjcox-rh commented on #699
@andresgalante I just noticed that in the implementation for patternfly-ng, the secondary buttons appeared much closer together than in the PatternFly design (shown above) Not sure what the exact pixel is as far as spacing, just wanted to make sure that the spacing between buttons was consistent across all repos.

Thanks!

[2017-08-11 08:24] Layla-P opened #706 "Vertical Navigation active item can be set when not navigated to."
Using the 2 level vertical navigation. If I click on a top level nav to open the second level but then decide not to navigate to any of the links in the secondary menu, the parent is made active even though I have not navigated to it.
I have fixed the issue by removing line 1408 (setActiveItem) in patternfly.js  however, I have not tested that for any knock on effects.

[2017-08-11 17:53] LHinson commented on #662
Hey @gregsheremeta

@bleathem is on PTO over the next couple weeks. Let me and @andreasn touch base with him on this one when he returns and we'll figure out how to solve it. Apologies for the delay.

[2017-08-14 19:37] gregnolle opened #711 "HTML code for launcher home missing?"
Apologies if I've missed this somewhere, but I can't find any HTML code for the "Launcher Home" screen in the Launcher pattern. There's a screenshot in the Overview and Design sections for the pattern, but the Code section only seems to cover login and the launcher menu.

[2017-08-16 13:39] andresgalante commented on #711
Hi @gregnolle
You are right it is missing, we haven't done the code yet.

Is this something you'd like to contribute? If you do I can definitely help you.

Thanks!

[2017-08-16 13:42] andresgalante commented on #700
Hi, If I understand correctly you are looking to create a collapsable sidebar, right?
if that's the case it is not supported on patternfly out of the box, there are many ways you can do it. Look at how to do a drawer, and you'll find many answers to that.

[2017-08-16 13:42] #700 closed

[2017-08-16 13:48] andresgalante commented on #663
@jgiardino Do you have time to send a PR to pf to fix this?

[2017-08-16 13:48] LHinson commented on #683
@serenamarie125 any updates regarding the testing you have done on this?

[2017-08-16 14:05] andresgalante commented on #659
@spadgett thanks for reporting this one an sorry for the delay. I can't reproduce it though 😞  What browser are you using?
Regarding this issue I think we can make a better use of calcs to make the markers more flexible.

<img width="479" alt="screen shot 2017-08-16 at 11 02 01 am" src="https://user-images.githubusercontent.com/1832037/29367209-83a92296-8272-11e7-9293-41715a5d1ee3.png">

Also than

[2017-08-16 14:15] andresgalante commented on #656
This one is done 😄  Thanks a lot @serenamarie125

[2017-08-16 14:15] #656 closed

[2017-08-16 14:19] andresgalante commented on #625
This one is done, thanks a lot @jawnsy

[2017-08-16 14:19] #625 closed

[2017-08-16 14:21] #626 closed

[2017-08-16 16:19] gregnolle opened #713 "Notifications drawer in horizontal layout is misaligned on mobile and doesn't match the design guides"
The notifications drawer implementation does not match the design guide screenshots under "Responsive State". In particular:

- Bell icon isn't visible in the toolbar in mobile mode (it gets put in the hamburger menu)
- When the hamburger menu is hidden, the drawer gets hidden, and when you then reopen the hamburger menu the notifications drawer is visible again. I guess this is because the drawer

[2017-08-16 16:21] gregnolle commented on #711
Ok thanks for the update. If we end up implementing the screen ourselves then I'll see if we can contribute back.

[2017-08-17 15:18] gregnolle opened #714 "Code missing for "Tree List View" pattern"
Another pattern that is documented but seems to be missing the code. Sorry to keep raising these sort of issues but I'm not sure how else to track the availability (I couldn't find any other issue about this).

If there's a roadmap that I've missed for patterns that are documented but not implemented yet, then by all means please close this and point me in that direction.

[2017-08-22 18:44] cdcabrera opened #718 "Angular PatternFly Charts Less Not in PatternFly"
The current Angular PatternFly ```charts.less``` isn't within PatternFly in its active state. Not necessarily understanding the history behind this decision need weigh in on moving this Less, or aspects of this file, over to core.

This decision currently affects an open PR where only a precise aspect ,concerning Donut Charts, has been updated, and there is an open question of should we move just

[2017-08-22 19:08] benjaminapetersen opened #719 "Ending the serve task leaves processes running (port 9000)"
Running ~~npm run serve~~ `npm run start`:

[code]

But then after killing the process & switching to another project that also uses a `connect` server:

[code]

Would probably be best if the server shut down completely.  I'm not sure atm what is causing this, will try to dig a little more & report some more detail.

[2017-08-22 19:21] dtaylor113 commented on #718
There is some donut chart less/css already be in patternfly:  https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/donut-charts.html.   We need to verify that angular-patternfly is using the correct donut styles as determined by pf core.  If there are some extra css/less styles that angular-patternfly's donut component requires, then it should either be moved to core, or if it's just fo

[2017-08-22 19:23] dtaylor113 commented on #718
My vote would be to evaluate/move styles of a chart, one at a time.  Ie. Donut, then Utilization, then Trend, etc..

[2017-08-22 20:02] mcarrano commented on #643
This looks like a duplicate.  I will close.

[2017-08-22 20:02] #643 closed

[2017-08-23 19:34] fr0z3nfyr commented on #333
Well, I wanted to post this same issue after seeing the demo on website. Glad to see that it is now fixed and works well in tests. However, [the website](http://www.patternfly.org/pattern-library/forms-and-controls/datepicker) still seems to use old script. Could you please fix it?

[2017-08-24 15:07] jeff-phillips-18 opened #721 "At smaller screen sizes, notification drawer notification messages do not get enough space"
First reported in https://github.com/patternfly/angular-patternfly/issues/576

[2017-08-25 15:46] rhamilto opened #723 "Vertical navigation is not keyboard accessible"
[Vertical navigation](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/vertical-navigation-with-secondary.html) is not [keyboard accessible](http://webaim.org/techniques/keyboard/).  The addition of href attributes to the &lt;a&gt; in the test pages will partially resolve this issue.  However, secondary and tertiary nav menus will remain inaccessible to keyboard navigation at deskto

[2017-08-28 17:28] #718 closed

[2017-08-28 19:27] LHinson opened #725 "Notification drawer's positioning values"
For the notification drawer, positioning values should be variables so they can easily be overridden downstream.

[2017-08-28 19:27] LHinson opened #726 "Move the toast notification's positioning down"
For the toast notification, positioning should be seen under the masthead.

[2017-08-28 19:54] benjaminapetersen opened #727 "Consider forms of configuration for app specific behavior"
Original discussion on [this PR](https://github.com/patternfly/patternfly/pull/717#discussion_r135292347), regarding features implemented to support specific apps.

`src/js/patternfly-functions-vertical-nav.js` is using local storage in a specific way to save state across browser restarts.  This behavior would likely be strange or unexpected in a different app without the same needs.

Two items wo

[2017-08-29 17:02] mindreeper2420 opened #729 "Stylelint rule deprecation"
In Stylelint, the rule "declaration-block-no-ignored-properties" is deprecated, as of version 8.0.

Though PatternFly uses grunt-stylelint v.0.7.0, which does not use stylelint v8.0, should PatternFly be upgraded to properly handle deprecated rulesets?

The current version of grunt-stylelint is v0.9.0, which uses stylelnit v8.0.0.

[2017-08-29 18:55] LHinson commented on #726
@matthewcarleton will be addressing this issue. Jira story here:  https://patternfly.atlassian.net/browse/PTNFLY-1744

[2017-08-29 18:57] LHinson commented on #723
Thanks @rhamilto. @matthewcarleton has a story to address the href attributes first. See: https://patternfly.atlassian.net/browse/PTNFLY-2533

We will look at the secondary and tertiary after the above is complete.

[2017-08-30 23:14] LHinson commented on #333
@fr0z3nfyr this is fixed on the site now too. see: http://www.patternfly.org/pattern-library/forms-and-controls/datepicker/#/code

[2017-08-31 10:56] LHinson commented on #714
Hey @gregnolle

There is a few things going on here.
1. In general, our process is iterative so there are times when documentation makes it up on the site prior to the code. That said, we can do a better job of explaining that process and will look to make changes to articulate that.
2. Tree List view is a contribution from patternfly-ng. You can view a demo of that implementation and code here: h

[2017-08-31 10:57] LHinson opened #731 "Add Tree List View CSS to patternfly-core"
We need to add the Tree List View CSS to patternfly-core.

design docs here: http://www.patternfly.org/pattern-library/content-views/table-view/
ng example here: https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/treelist

[2017-08-31 11:00] LHinson commented on #713
Hey @gregnolle I've just linked to the PR that is up to address these issues. Thanks!

[2017-08-31 12:48] augustogoulart opened #732 "Include HTML templates that address common scenarios"
# Proposal
Include HTML templates that address common scenarios, like article pages, landing pages, product page, etc.
### Examples:
[Foundation HTML templates](http://foundation.zurb.com/templates.html)
[Materialize HTML templates](http://materializecss.com/getting-started.html)
## Motivation
### To make easier to adopt Patternly
Starter templates are an easy way for newcomers to get started. Fou

[2017-08-31 20:21] LHinson commented on #731
Will not address this at this time while we determine our strategy for the showcases.

[2017-08-31 20:21] #731 closed

[2017-09-01 12:53] jeff-phillips-18 opened #734 "Wizard classes set the sidebar width based on resolution but does not update the content margin accordingly."
Since the sidebar width changes but the content margin does not, extra space is used unnecessarily in the content area. The test pages use javascript to update the margin, this is not listed as being a necessary step for adopters.

Would be nice to use flexbox and remove the left-margin all together.

[2017-09-01 19:02] #699 closed

[2017-09-01 19:05] LHinson commented on #210
This is in progress and being tracked, initially, over in the patternfly-design repo here: https://github.com/patternfly/patternfly-design/issues/334

[2017-09-01 19:08] LHinson commented on #595
@dabeng I'v moved this issue over to patternfly-org here: https://github.com/patternfly/patternfly-org/issues/460

Closing this issue here.

[2017-09-01 19:08] #595 closed

[2017-09-06 17:44] andresgalante commented on #540
@dtaylor113 Although you are right and that CSS is not been used, I think it's risky to remove it since a product might be using an old version of treeview. I'd leave it there and and improve treeview on the next version of pf

[2017-09-06 17:45] #540 closed

[2017-09-06 17:50] andresgalante commented on #512
In order to solve this issue we need to replicate the use case by building a prototype with a vertical nav and a sidebar, identify where the problem is and solve it.

[2017-09-06 17:53] bleathem commented on #162
Closing as out of date.

[2017-09-06 17:53] #162 closed

[2017-09-06 17:56] andresgalante commented on #732
Hi! Thanks! this a really important thing to do. You'll find some templates here:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/

You are planning to have better ones for the next version of patternfly

[2017-09-06 17:56] #732 closed

[2017-09-06 18:01] LHinson commented on #553
Let's address it in pf5 so closing this issue.

[2017-09-06 18:01] #553 closed

[2017-09-06 18:02] LHinson commented on #476
This bug is seen here: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/card-view-card-variations.html

[2017-09-07 08:55] skateman commented on #512
@andresgalante this should help you: https://github.com/skateman/patternfly/commit/ced561e011eb6227b3fe5d64a4b628249eacdae0

Actually there are a plenty of issues, the page should look something like:
![screenshot from 2017-09-07 10-49-18](https://user-images.githubusercontent.com/649130/30154557-95a6bfea-93ba-11e7-93ba-5ccdff7f12b8.png)

But would be even better if the accordions below the expand

[2017-09-07 12:55] LHinson commented on #721
Closing as this was taken care of in https://github.com/patternfly/patternfly/pull/717

[2017-09-07 12:55] #721 closed

[2017-09-07 13:00] LHinson commented on #216
@mulkieran sorry we kept missing each other some months ago. We are looking to add the slider to PatternFly. You can follow the design story here: https://github.com/patternfly/patternfly-design/issues/334

Implementation stories to follow. Closing this issue here as you can follow along over in patternfly-design. Thanks!

[2017-09-07 13:00] #216 closed

[2017-09-07 14:09] michpetrov opened #738 "Hyphenated variables and multiple inclusion do not work (application launcher)"
The issue seems to be caused by liquid, pages built with jekyll are ok.

Application launcher uses hyphenated variables in include:

    {% include widgets/navigation/horizontal-primary-nav-bar.html launcher-icons=true launcher-grid=true navindex=1 %}

which are re-included in `horizontal-primary-nav-bar.html`:

    {% include widgets/framework/application-launcher.html launcher-icons=include.laun

[2017-09-08 20:24] gregsheremeta opened #742 "vertical navigation doesn't open the just-selected primary option on hover"
Vertical navigation doesn't open the just-selected primary option on hover.

Secondary level nav won't open on the currently selected primary option. For example, if you select Option One > Sub-Option One, and then hover again over Option One, the secondary menu doesn't open. Hovering over Option Two and then Option One is a workaround.

Likely a side effect of #673

See also: https://bugzilla.red

[2017-09-09 12:46] gregsheremeta opened #744 "[RFE] vertical nav - support custom hover and hide delays"
vertical nav - support custom hover and hide delays.

Instead of adding hoverDelay and hideDelay parameters to the setupVerticalNavigation function, consider stabilizing this plugin's API using the options pattern:
https://learn.jquery.com/plugins/basic-plugin-creation/#accepting-options

[2017-09-11 17:15] #742 closed

[2017-09-12 13:31] deernano opened #745 "Timepicker bug"
The live example of Timepicker is not working in the code tab.
When clicking the text field, there is no drop-down shows.
Please refer to :http://www.patternfly.org/pattern-library/forms-and-controls/timepicker/#/api

![timepickerbug](https://user-images.githubusercontent.com/5396309/30328323-88c13dbe-9801-11e7-950e-ea26541f7f4a.jpg)

[2017-09-12 13:35] deernano commented on #745
@andresgalante @bleathem
Hi Andres and Brain, I was trying to do the task of moving Timepicker to widget page, before I started to do that, I found that the code of Timepicker is not working.  Could you help to have a look on that? Thank you~

[2017-09-12 14:24] LHinson commented on #745
@deernano This actually needs to be a bug against patternfly-org because the time picker is working in the test page here: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/time-picker.html

There is something funky going on with it specifically in patternfly-org.

[2017-09-12 14:50] jeff-phillips-18 commented on #745
Console errors:
[code]

[2017-09-12 16:50] starryeyez024 opened #747 "Documentation / example updates"
Just a couple suggestions on things I noticed when reading through the get started docs that I thought might be useful to other newbies. :)

* In the getting started doc, it would be useful to ask folks to run grunt or grunt build first, then grunt server, then open localhost:9000 to see examples since it does not auto-launch
* Mini Card with status - has mismatched description vs. percentage on b

[2017-09-12 18:08] LHinson commented on #734
Closing this issue here since #735 addresses it.

[2017-09-12 18:08] #734 closed

[2017-09-12 21:48] bleathem commented on #747
Great, thanks for the feedback @starryeyez024!  cc: @LHinson

[2017-09-13 10:04] deernano commented on #745
@LHinson The timepicker on test page is not working as well. Before we move the timepicker to the widget page. We might need to fix it. Not sure how to move now, need to view the code afterwards~

[2017-09-13 12:39] LHinson commented on #745
@deernano

When I click on the time picker on patternfly.org [1], I don't get a drop down.
When I test it on our rawgit page [2], I do see the drop down.

Will you specify what bugs you are seeing on the test page?

[1] http://www.patternfly.org/pattern-library/forms-and-controls/timepicker/#/api
[2] https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/time-picker.html

[2017-09-14 03:44] dabeng commented on #745
@bleathem , please review the PR -- https://github.com/patternfly/patternfly-org/pull/464

[2017-09-14 06:06] deernano commented on #745
@dabeng Thank you xuebin

[2017-09-15 14:40] andresgalante commented on #745
Thanks!

[2017-09-15 14:40] #745 closed

[2017-09-15 15:57] LHinson commented on #723
@jgiardino will be picking up this story to add further enhancements related to the secondary and tertiary menus. https://patternfly.atlassian.net/browse/PTNFLY-2537

FYI @rhamilto

[2017-09-18 12:18] vkrizan opened #752 "`.form-control-static` is not styled according to Patternfly"
`.form-control-static` CSS class does not seems to be styled according ti Patternfly standards. The class exists, but inherits values from Bootstrap. The problem is that the `min-height` is too high (`32px`). It leads to mismatched rows in case of horizontal forms in two or more columns. To fix this issue the `min-height` rule could be removed or set to `auto`.

`.form-control-static` is already i

[2017-09-18 12:48] rhamilto opened #754 "Wizard steps layout broken at exactly 480px wide viewport"
![screen shot 2017-09-18 at 8 45 54 am](https://user-images.githubusercontent.com/895728/30542597-04f2aa76-9c4e-11e7-8f0e-c2d163063338.PNG)

cc:  @matthewcarleton, @jeff-phillips-18, @spadgett

[2017-09-18 13:14] matthewcarleton commented on #754
Thanks @rhamilto I'll take a look at this today.

[2017-09-18 15:41] sg00dwin opened #756 "The notifications .fa-bell icon changes position whether the badge circle is displayed or not"
In the OpenShift web console, the notifications badge is only displayed when there are unread messages. When it appears and disappears the bell icon moves horizontally. This is because the `.badge` does not use absolute position and is in flow within `.nav-item-iconic` block.

example
![pf-notification-badge-issue](https://user-images.githubusercontent.com/1874151/30550570-d2f6df7a-9c65-11e7-8b34-

[2017-09-18 15:43] rhamilto opened #757 "Usability issues with wizard in landscape orientation on mobile"
On a small mobile screen (e.g., iPhone SE) at landscape orientation, the contents of the wizard are cut off.

![screen shot 2017-09-18 at 11 21 55 am](https://user-images.githubusercontent.com/895728/30549908-0342d0e6-9c64-11e7-816e-9a08c34e5e8b.PNG)

When using the iOS simulator in landscape orientation, depending on where you try to scroll, you may or may not be able to view the wizard footer bu

[2017-09-18 15:50] rhamilto commented on #756
Absolutely positioning the badge is one possible fix.  That's the override we're using in OpenShift.

[2017-09-18 16:19] matthewcarleton commented on #757
@rhamilto have a look at https://github.com/patternfly/patternfly/pull/755 for this fix. Thanks!

[2017-09-18 20:00] rhamilto opened #758 "Wizard steps layout breaks if more than four steps"
The addition of "Step Five" causes "Step Three" to wrap to two lines at viewport width of 481px.

![screen shot 2017-09-18 at 3 44 06 pm](https://user-images.githubusercontent.com/895728/30561381-d2ebce96-9c88-11e7-8de1-9a7b2483b3c4.PNG)

Parenthetically, @serenamarie125 supplied [designs for the OpenShift web console that may include more or less than six steps](https://github.com/serenamarie125/

[2017-09-18 20:23] andresgalante commented on #758
Thanks Robb,

@matthewcarleton can you please add the change on .1 to #755

@srambach do you think something like you did with those steps component can be done here for Robbs second point?

[2017-09-18 20:35] matthewcarleton commented on #758
Hey Robb,

Are you testing on my branch?
https://rawgit.com/matthewcarleton/patternfly/wizard-754-dist/dist/tests/wizard.html

The breakpoint should be at 992px.

[2017-09-18 20:53] rhamilto commented on #758
https://rawgit.com/matthewcarleton/patternfly/wizard-754-dist/dist/tests/wizard.html

No.  I was using master and did not see an open issue.

[2017-09-18 21:09] matthewcarleton commented on #758
Robb, ah ok. Ya I've switched the breakpoints based on the issue in https://github.com/patternfly/patternfly/issues/754

[2017-09-19 11:39] jeff-phillips-18 commented on #758
@rhamilto For the angular-patternfly wizard, we have added an option 'activeStepTitleOnly'. Since the names for each step could vary in length, we did not want to set a hard step count limit but rather leave the decision to the particular wizard.

Setting the activeStepTitleOnly option to true will show only the title for the currently active step.

[2017-09-19 12:19] spadgett commented on #758
In general, it'd be nice to control settings like this using CSS media queries. At some screen widths, you might need active title only, but at wider widths all titles fit OK. When set as an attribute on an Angular component, it's difficult to change without adding JavaScript resize listeners, which is klunky.

[2017-09-19 12:25] serenamarie125 commented on #758
@rhamilto @spadgett this element of the design was added to OpenShift last minute, and was not yet supported by PatternFly, as we discussed a week or two back.  As @jeff-phillips-18  mentioned, for now we have added the ability to use this solution on a per wizard basis.  At a later time, it would be great if someone contributed an enhancement

[2017-09-19 12:34] jeff-phillips-18 commented on #758
@spadgett I'm not sure any media query could determine when the titles fit and when they don't. It would depend on the titles and the size of the dialog containing the wizard.

[2017-09-19 12:43] spadgett commented on #758
@jeff-phillips-18 Right, it wouldn't be one size fits all. You'd need to let consumers choose the breakpoint for a given wizard. If documented CSS classes were added to active and inactive titles, then consumers could hide/show the titles at a breakpoint using CSS. (Maybe they already are, and we can use this. But ideally it would be treated as an API so that the class names didn't change.)

The b

[2017-09-19 12:56] LHinson opened #759 "Wizard steps and labels enhancement for responsive state"
Introduce [the changes seen in angular-pf](https://github.com/patternfly/angular-patternfly/pull/615) to core.  This will:

- Show only the selected step and substep titles at mobile resolution
- Add the activeStepTitleOnly option to show only the active step title
- in the steps indicator (header) when set to true.

[2017-09-19 12:59] #759 closed

[2017-09-19 14:00] rhamilto opened #760 "Wizard without .modal-title results in doubled top border at 480px or less"
To make the bug easier to see in the following screenshot, I've changed the border color of .modal-content and .wizard-pf-steps-indicator to red.

![screen shot 2017-09-19 at 9 38 12 am](https://user-images.githubusercontent.com/895728/30595195-7c9364dc-9d1e-11e7-8a64-e5289b82eb26.PNG)

The bug in OpenShift web catalog is much more evident as the catalog modal currently lacks a CSS declaration the

[2017-09-19 14:24] LHinson commented on #760
@rhamilto ah yes, I see what you are saying here! Want to submit a PR to fix and get this resolved quickly?

[2017-09-19 14:29] matthewcarleton commented on #760
@rhamilto are you removing .modal-header altogether to get this result?

[2017-09-19 14:45] LHinson commented on #756
Hey @sg00dwin, agreed this should be resolved... Would you be interested in contributing this fix?

[2017-09-19 15:49] sg00dwin commented on #756
Hi @LHinson, I can work on a fix. I currently have another pr open that's involves the notification badge https://github.com/patternfly/patternfly/pull/748, which hopefully would get merged in first, so there's no conflicts.

[2017-09-19 16:03] LHinson commented on #756
Awesome, thanks @sg00dwin! @andresgalante is going to review #748 to get that pushed along.

[2017-09-19 16:53] bleathem opened #761 "Fix the html lint errors in the `showcases` branch"
The new CSS and jQuery showcases generate html that produces errors when verified using the htmllint tool.

To see the errors, replace line 285 with line 284 in the `Gruntfile.js` and run `grunt showcaseBuild htmlhint`
https://github.com/patternfly/patternfly/blob/showcases/Gruntfile.js#L285

[2017-09-19 17:23] rhamilto commented on #760
Yes as that's the way it works in angular-patternfly.
![screen shot 2017-09-19 at 1 22 24 pm](https://user-images.githubusercontent.com/895728/30605855-b2c1309c-9d3d-11e7-946d-83ed48f3d536.PNG)

[2017-09-19 17:59] bleathem commented on #761
@amarie401 & @asonawan can you create PRs addressing this issue for your respective showcases?  Plesae be sure to work from the `patternfly/showcases` branch

[2017-09-20 14:43] andresgalante opened #765 "Wizard is unable to scroll when switching to landscape mode (or vice versa)"
@rhamilto reported that:

related to #755

Steps to reproduce:

1.  Visit https://rawgit.com/rhamilto/patternfly/matthewcarleton-wizard-754/dist/tests/wizard.html on an iPhone with the phone held in portrait orientation
1.  Click the "Launch Wizard" button under "Complete Wizard"
1.  Click the "Next" button four times until Step 3 is visible
1.  Rotate the phone to landscape orientation
1.  Attemp

[2017-09-20 14:44] #754 closed

[2017-09-20 14:44] #757 closed

[2017-09-21 00:38] #726 closed

[2017-09-25 15:24] amirfefer opened #767 "Vertical nav is expanded first and then collapsed after refresh"
When vertical navigation  is collapsed  (minimized view), and refreshing the page, it starting in expand mode and changing back to minimize.

![sep 25 2017 6-19 pm - edited](https://user-images.githubusercontent.com/11807069/30816353-7045d214-a21e-11e7-825f-9cb107838f09.gif)

[2017-09-27 06:48] ohadlevy commented on #767
/cc @Rohoover

[2017-09-29 14:24] Rohoover commented on #767
It should probably remain in its original state. I'll bring this up with the PF team.

[2017-09-29 14:25] Rohoover commented on #767
It should probably remain in it's origin state.

[2017-10-06 13:52] rhamilto opened #773 "Bug: wizard title uses semantically invalid dt element"
![screen shot 2017-10-06 at 9 42 45 am](https://user-images.githubusercontent.com/895728/31280691-2be634b4-aa7b-11e7-95ab-defbaedbc161.PNG)

[Per MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt),

Bootstrap and PatternFly modals use an h4 element for the title.  Since the wizard is utilizing modal, it probably makes sense to use a heading so wizard is consistent and semantically

[2017-10-06 14:12] rhamilto commented on #760
Fixed by https://github.com/patternfly/patternfly/pull/755

[2017-10-06 14:12] #760 closed

[2017-10-06 18:54] rhamilto opened #774 "Notification drawer close button lacks a hover state, expand/collapse icon has different hover state"
![screen shot 2017-10-06 at 2 45 55 pm](https://user-images.githubusercontent.com/895728/31293507-69fab05c-aaa5-11e7-9260-4318867c758b.PNG)

It seems like the default solution for close buttons in PatternFly is to have a less opaque icon that turns fully opaque on hover (e.g., alerts, modals).

![screen shot 2017-10-06 at 2 52 33 pm](https://user-images.githubusercontent.com/895728/31293685-076a47

[2017-10-06 19:10] rhamilto opened #775 "Wizard close button is different than modal close button"
![screen shot 2017-10-06 at 3 08 16 pm](https://user-images.githubusercontent.com/895728/31294291-4e214096-aaa8-11e7-9496-c97c1a3ffb1a.PNG)
![screen shot 2017-10-06 at 3 08 28 pm](https://user-images.githubusercontent.com/895728/31294293-4f7b623c-aaa8-11e7-907e-c5c92b6ef171.PNG)

Presumably these should be the same since they offer the same functionality?  The larger click target on the modal is b

[2017-10-11 13:38] andresgalante commented on #775
Yes, you are right, they should be the same. @LHinson lets work on this.

[2017-10-11 13:42] andresgalante commented on #774
This is related to #775.
@LHinson I've create a story to fix consistency on close icons:
https://patternfly.atlassian.net/browse/PTNFLY-2591

Let's work on it.

[2017-10-12 19:23] #756 closed

[2017-10-13 12:47] #339 closed

[2017-10-13 13:00] #249 closed

[2017-10-13 13:39] andresgalante commented on #758
For now I'll close this issue since it's fixed #755 but we need to work on the steps to make them more flexible.

[2017-10-13 13:39] #758 closed

[2017-10-13 13:40] andresgalante commented on #767
Hi @amirfefer Do you have time to send a PR to fix it? If not I'll add it to out backlog.

[2017-10-13 13:47] andresgalante commented on #752
Hi @vkrizan Thanks for reporting this.

Do have time to create an instance of that in the test pages and send a PR with a fix?

[2017-10-13 13:51] #747 closed

[2017-10-13 13:52] andresgalante commented on #744
Thanks @gregsheremeta for the suggestion.

@jeff-phillips-18 What do you think?

[2017-10-13 13:53] andresgalante commented on #738
@michpetrov thanks for reporting it, would you be able to send a PR with a fix for it?

[2017-10-13 13:57] andresgalante commented on #761
@amarie401 & @asonawan  do you have any update on this?

[2017-10-13 14:00] andresgalante commented on #729
Hey @mindreeper2420 you are right 👍 Can please you send a PR with a fix for this?

[2017-10-13 14:02] andresgalante commented on #727
@jeff-phillips-18 Can you please review this one when you have time please?

[2017-10-13 14:06] andresgalante commented on #723
@LHinson the CSS part of PR #766 is ready to merge, we need to include the Javascript for it.

[2017-10-13 14:08] andresgalante commented on #719
@benjaminapetersen this is super annoying, are you able to send a PR to fix it?

[2017-10-13 14:10] amarie401 commented on #761
@andresgalante the html lint errors for the jquery showcase have been fixed. Not sure if @asonawan has already fixed the CSS ones yet though.

[2017-10-13 14:10] jeff-phillips-18 commented on #744
Sounds like a reasonable thing to do.

[2017-10-13 14:15] jeff-phillips-18 commented on #727
Yeah, I think this is worth pursuing.

[2017-10-13 14:27] andresgalante commented on #682
Ola @andrewasem tudo bem? Você pode mandar um PR com isto?
Hi @andrewasem can you please send a PR to fix this?

[2017-10-13 14:45] matthewcarleton commented on #659
@spadgett Hi Sam, any update on this? Would love to get a bit more info (see @andresgalante question ^) to help get this resolved. Thanks!

[2017-10-13 16:28] spadgett commented on #659
I'm using Chrome.

@andresgalante I think you've reproduced it. It's subtle, but the numbers are a little to the right and too low. It might be worse for even larger font sizes though

[2017-10-13 16:28] spadgett commented on #659
Obviously not a huge issue, but I thought I'd report it since I noticed it.

[2017-10-13 18:09] benjaminapetersen commented on #719
@andresgalante assign me the issue and I can take a look.  I prob can't this afternoon, but happy to give it a go.  I just don't want to forget.

[2017-10-16 12:36] fr0z3nfyr opened #778 "List View expansion - minor issue"
Click right on the caret symbol that shows `expanded`/`collapsed` state of a list item. The item won't expand, click anywhere else on the list and expansion/collapse works as expected.

Looks to me like a click event on `.list-group-item-header` is handled but a click on `.list-view-pf-expand` is being prevented for some reason. haven't got time to look into the code personally. Thought of bringin

[2017-10-16 12:49] jeff-phillips-18 commented on #778
@fr0z3nfyr Where are you experiencing this?

[2017-10-16 17:06] LHinson commented on #719
Nice, thanks @benjaminapetersen!

[2017-10-16 17:08] LHinson commented on #723
@andreasn I see some open questions on the PR. Are you sure it's ready to merge?

[2017-10-17 13:39] LHinson commented on #210
@andresgalante has a story this sprint to address this one https://patternfly.atlassian.net/browse/PTNFLY-2579

[2017-10-17 13:52] andresgalante commented on #719
@benjaminapetersen thanks a lot you are the best :)

[2017-10-17 15:22] benjaminapetersen commented on #719
In the weeds on some test updates, but have this in my queue!

[2017-10-17 19:31] benjaminapetersen opened #782 "The Notification Drawer "x" icon is misaligned"
See this issue in openshift-web-console: https://github.com/openshift/origin-web-console/issues/2286 for the original report.

[2017-10-17 20:16] rhamilto opened #784 "`grunt serve` results in 404"
If `grunt serve` is run without first running `grunt` or `grunt build`, there are no test pages to serve and the browser renders a 404 page (`Cannot GET /`).  Either the instructions should be updated to reflect the need to run a build first or the serve task should be updated to include build.

[2017-10-18 12:39] #775 closed

[2017-10-18 16:16] #476 closed

[2017-10-18 19:43] andresgalante opened #787 "Add a skip link to horizontal and vertical nav"
To help keyboard only users, lets add a "skip link" to vertical and horizontal nav

[2017-10-19 11:08] jeff-phillips-18 opened #789 "Readme has duplicate Visual Regression Testing section"

[2017-10-19 11:37] ares commented on #744
:+1:

[2017-10-19 11:39] ares opened #790 "Vertical navigation and rest of the menu inconsistency"
I find the inconsistency between vertical nav and other menus unexpected. Where some menus appear just after hovering (vert nav) the rest must be clicked first. One can observe that at https://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation.html

[2017-10-19 11:56] gregsheremeta commented on #744
I can submit a PR

[2017-10-19 13:06] matthewcarleton commented on #790
Thanks @ares that's an interesting point. @andresgalante what are your thoughts on this?

[2017-10-19 13:14] matthewcarleton commented on #784
@bleathem what are your thoughts on this?

[2017-10-19 14:31] benjaminapetersen commented on #784
I would agree with @rhamilto, with the addition that:

[code]

[2017-10-19 14:38] benjaminapetersen commented on #719
This appears to have been resolved already:

- ran `npm run start` locally in Patternfly (serves on `localhost:9000`)
- `ctrl + c` to kill the server process
- switched to origin-web-console
- ran `grunt serve`  (also serves on `localhost:9000`)

No longer a conflict on server port.  I think we can close this issue, perhaps a previous dependency update resolved it?

[2017-10-19 19:58] LHinson opened #796 "Update the hover color for List View and add it to color variables"
Need to update color page on website and CSS to add light blue hover state for List View to PatternFly color palette.

Design issue here: https://github.com/patternfly/patternfly-design/issues/314
Jira story is here: https://patternfly.atlassian.net/browse/PTNFLY-2590

[2017-10-20 06:44] fr0z3nfyr commented on #778
@jeff-phillips-18 Hi, I was away for a while, so couldn't check the progress on this issue. You can check this behavior on any test implementation. For immediate reference, visit the [official demo page](http://www.patternfly.org/pattern-library/content-views/list-view/#/code) and attempt to expand/collapse a list item by clicking right on &#9658;/&#9660; to reproduce the issue.

[2017-10-20 07:06] fr0z3nfyr opened #797 "Configuration and events on treegrid"
Are there any plans on enhancing treegrid widget to support configuration and detect events similar to [this jQuery plugin](http://maxazan.github.io/jquery-treegrid/) by [@maxazan](https://github.com/maxazan).

I used this jQuery library in past but then gave up in favor of `dataTables` and then finally `patternfly` to stick with UI/UX. I was thinking of forking the plugin and customizing it to fi

[2017-10-20 11:48] jeff-phillips-18 commented on #778
This appears to only be an issue on patternfly.org. It works fine at https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-simple-expansion.html

[2017-10-20 12:10] andresgalante commented on #790
I agree there is an inconsistency on the behaviour. @mcarrano Can I assign this issue to you?

[2017-10-20 13:09] rhamilto commented on #773
Fixed with https://github.com/patternfly/patternfly/commit/0d5f0ab6

[2017-10-20 13:09] #773 closed

[2017-10-20 15:14] LHinson commented on #790
@andresgalante I've filed an issue on patternfly-design. @mcarrano will help to get this in the pipeline to address from a design standpoint first and then we can update code. See: https://github.com/patternfly/patternfly-design/issues/461

[2017-10-20 16:24] #697 closed

[2017-10-20 16:40] #774 closed

[2017-10-23 08:52] michpetrov commented on #738
@andresgalante I'll take another look at it but as I said the variable names are not the main problem and I'm not sure you can propagate the value through multiple includes.

[2017-10-23 11:38] #796 closed

[2017-10-23 12:51] matthewcarleton commented on #789
Hey @jeff-phillips-18 I only see one, can you confirm.

[2017-10-23 12:59] jeff-phillips-18 commented on #789
Fixed by #791

[2017-10-23 12:59] #789 closed

[2017-10-23 13:29] rhamilto commented on #790
For what it's worth, Red Hat QE also noted an issue with hover to open vertical nav menus.  See https://bugzilla.redhat.com/show_bug.cgi?id=1491622  cc: @spadgett

[2017-10-23 17:34] LHinson commented on #790
ok thanks @rhamilto I'm going to add this comment over to the design issue as well.

[2017-10-24 10:50] #642 closed

[2017-10-24 14:19] LHinson commented on #778
In that case, it should be closed here and opened on [patternfly-org](https://github.com/patternfly/patternfly-org) Would you mind filing this issue over there @fr0z3nfyr?

[2017-10-24 14:56] #782 closed

[2017-10-24 15:01] #644 closed

[2017-10-24 18:03] andresgalante commented on #659
@spadgett I'll close it for now and keep this noted to address it on PFNext

Thanks a lot for spotting it and bringing it up

[2017-10-24 18:03] #659 closed

[2017-10-24 18:10] andresgalante commented on #340
@mcarrano if you think it's worth working on this please create a design story, if not just close this issue.

[2017-10-24 18:14] andresgalante commented on #683
Hi, I'll close this issue, if you think there is a general enough usecase for a pin for notification drawer that we should cover on Patternfly please create a design story and reopen this one.

[2017-10-24 18:14] #683 closed

[2017-10-24 18:17] andresgalante commented on #480
I'd say lets keep things as they are for the are chart

[2017-10-24 18:17] #480 closed

[2017-10-24 18:32] andresgalante commented on #481
I don't think this is something we can work on. The chart is a generated svg. We can eventually send a PR upstream to fix it.

[2017-10-24 18:32] #481 closed

[2017-10-24 18:36] matthewcarleton commented on #588
This seems to be resolved, I've checked it in chrome and it looks good.

[2017-10-24 18:36] #588 closed

[2017-10-24 18:38] mcarrano commented on #340
It looks like Pagination uses that same hover colors as everything else, so changing this would have far-reaching implications for the overall visual system. That said, I can see how the color change between normal and hover can be very subtle. If we are to make any changes, I think they should be done in the context of the new visual system that @kybaker is working on.  I think it's best to close

[2017-10-24 18:58] #646 closed

[2017-10-24 18:59] #676 closed

[2017-10-24 19:02] andresgalante commented on #542
Since colored badges are part of bs4 they are coming to PF next
http://getbootstrap.com/docs/4.0/components/badge/

[2017-10-24 19:02] #542 closed

[2017-10-24 19:07] #340 closed

[2017-10-24 19:08] #594 closed

[2017-10-24 19:11] #620 closed

[2017-10-24 20:01] thiagodp commented on #542
Hi @andresgalante , wouldn't be interesting to close this issue after PF supports BS4? I mean, are colored badges available in the current release? Thanks you.

[2017-10-25 11:15] andresgalante commented on #596
This is a great idea, but I don't think we can do it till pf next with the showcases. I have it on the todo list

[2017-10-25 11:15] #596 closed

[2017-10-25 11:15] #586 closed

[2017-10-25 12:17] sharvit opened #804 "the login page styles for alerts are implemented differently from the design"
The design page shows the notification between the logo and the form while they are style normally:
http://www.patternfly.org/pattern-library/application-framework/login-page/#/design

In the `login.less` there is an override for the default alert styles so they became transparent and with a white text color:
https://github.com/patternfly/patternfly/blob/master/src/less/login.less#L52-L55

This is

[2017-10-25 15:32] dlabrecq commented on #670
It's not clear as to what headers are being set on your request? Exactly what would you like PatternFly to do; any examples?

[2017-10-25 23:45] #616 closed

[2017-10-25 23:48] #485 closed

[2017-10-25 23:53] #713 closed

[2017-10-25 23:54] andresgalante commented on #719
Thanks a lor @benjaminapetersen !

[2017-10-25 23:54] #719 closed

[2017-10-26 14:30] andresgalante commented on #744
@gregsheremeta it be awesome if you can fix it :) thanks a lot

[2017-10-26 19:33] #787 closed

[2017-10-27 13:13] #738 closed

[2017-10-27 14:10] rhamilto opened #807 "Vertical nav secondary nav items truncate earlier in IE11 than other browsers"
Chrome 61 on macOS
![screen shot 2017-10-27 at 10 05 43 am](https://user-images.githubusercontent.com/895728/32108111-a2b91334-bafe-11e7-9e74-4fde57e775b2.PNG)

IE11
![screen shot 2017-10-27 at 10 05 29 am](https://user-images.githubusercontent.com/895728/32108145-bdc30ce8-bafe-11e7-8cee-d5e108372859.PNG)

This is due to the fact that [IE11 doesn't support @support](http://caniuse.com/#search=%40s

[2017-10-27 18:09] andresgalante commented on #804
@mcarrano can you please decide what to do on this issue? should we keep it as it is or change it to follow the docs?

[2017-10-27 18:38] andresgalante commented on #804
This was introduce 3years ago, tbh I don't know the background. But we can easily remove those styles and make it look as the design specs.

I'll send a PR to fix it.

[2017-10-30 13:10] cliffpyles commented on #662
@gregsheremeta thanks for bringing this to our attention. I'm making adjustments now.

[2017-10-30 13:12] cliffpyles commented on #661
@gregsheremeta thanks for bringing this to our attention. I'm making adjustments now.

[2017-10-30 17:09] matthewcarleton opened #813 "skip link shows up in unwanted places"
Remove skip link from head.html to ensure it only shows on it's component test page.

[2017-10-30 17:12] matthewcarleton opened #814 "current login logo styling adds unwanted layout issues"
The logo on the login test page is positioned. Rather than being positioned is should be placed outside the form container in it's own container.  This approach will be true to what the original design shows.

[2017-10-30 19:54] rhamilto opened #815 "Release notes occasionally missing items or are incorrectly numbered"
The switch to semantic versioning is great as releases occur more frequently; however, I have noticed a couple of issues:

1.  If commit messages are not formatted correctly (e.g., https://github.com/patternfly/patternfly/commit/d7e9eb95a1477462c8baa04cf322360a01832f49), commits fail to appear in the release notes.  The implication of this is one has to go browse the commits for the release to det

[2017-10-31 17:15] #804 closed

[2017-10-31 17:54] matthewcarleton commented on #814
This will be resolved in the new login page.

[2017-10-31 17:54] #814 closed

[2017-11-01 15:05] rhamilto opened #818 "Wizard step labels off center by 10px at desktop"
![screen shot 2017-11-01 at 11 01 37 am](https://user-images.githubusercontent.com/895728/32281094-3311dd82-bef4-11e7-9d80-3e2c300a720a.PNG)

https://github.com/patternfly/patternfly/blob/master/src/less/wizard.less#L157 is needed for mobile, but not for desktop.  Adding

[code]

on line 158 resolves the issue.

cc: @spadgett

[2017-11-02 18:41] rhamilto opened #822 "Restrict :hover styling to non-touch devices?"
https://github.com/openshift/origin-web-console/issues/2438 is one example in the OpenShift console where :hover styles create a usability problem in iOS.  Other examples include the vertical nav and notification drawer.  It appears that the best way to resolve these bugs is to restrict :hover styling to non-touch devices.

[2017-11-03 13:07] #813 closed

[2017-11-03 13:26] #818 closed

[2017-11-03 18:16] beanh66 opened #823 "Resolve styling discrepancy between info status card examples"
Resolve styling discrepancy between the info status card examples. @jennyhaines provided some guidance and the team determined additional bottom margin should be added to this component.
@seanforyou23 created [this PR](https://github.com/patternfly/angular-patternfly/pull/668) in Angular, but as we discussed, this issue should be resolved in core so fixes will effect all repos.

@seanforyou23 @jef

[2017-11-03 22:20] seanforyou23 commented on #823
Two related bits related to echo from a follow up discussion with @jennyhaines

1) There was mention of possibly splitting the difference between the top and bottom margin. So instead of having 16 or 20px bottom margin, we'd have 8 or 10px on both top and bottom margin.

2) Another possible enhancement to make at the same time could be to grow the top/bottom margin for the selector ".card-pf-info-

[2017-11-07 17:46] gregsheremeta opened #828 "[RFE] open notification drawer should highlight the notifications icon"
[RFE] open notification drawer should highlight the notifications icon

We are using the notification drawer pattern:
![selection_247](https://user-images.githubusercontent.com/2248293/32508688-165be9a2-c3b9-11e7-9f18-1cc7e72b50ff.png)

With multiple icons in the masthead, it's easy to forget / lose track of which icon you need to click to close the drawer.
![selection_245](https://user-images.git

[2017-11-07 18:48] mcarrano opened #829 "Notification Drawer: HTML/CSS example is missing hover states"
Per this issue: https://github.com/patternfly/patternfly-org/issues/487, the Notification Drawer implementation is missing hover states when you mouse over rows in the list.  The correct implementation can be seen in the AngularJS reference implementation here: http://www.patternfly.org/pattern-library/communication/notification-drawer/#/code/angular.

[2017-11-08 11:54] ares opened #830 "The recommendations for primary button placement are inconsistent"
Hello,

we found that patternfly recommendations suggest having primary button aligned to left in form while in modal window it recommends primary button to be aligned to right - http://www.patternfly.org/pattern-library/forms-and-controls/buttons-on-forms/

We discussed it today with few devs here and we find this quite confusing. I understand that we wanted this to be aligned with elements above

[2017-11-08 15:08] #210 closed

[2017-11-08 15:53] mcarrano commented on #830
@ares I appreciate your feedback, but this was a conscious decision based on the idea that right aligned buttons don't work so well on responsive forms where the buttons can become too distant from the body of the form. Keeping the buttons left aligned with the elements above allows the user's eye to travel naturally to the primary action at the bottom of the form.

[2017-11-08 17:24] iNecas commented on #830
Please not that this is not about (if I understand it correctly) the alignment to the form, but rather order of
Ok/cancel vs. Cancel/Ok

[2017-11-08 19:14] ares commented on #830
Yes and also the fact it's different order in regular form and modal window.

[2017-11-09 14:21] LHinson commented on #828
@gregsheremeta I completely agree. I'm going to file a design doc bug as well and we'll get this updated. Thanks!

[2017-11-09 15:47] skateman opened #832 "Rubygems and rails asset pipeline support in the SASS version"
The new native sass doesn't have support for rubygems and the rails asset pipeline. This will require some changes in the conversion:
* Provide a top-level `_patternfly-sprockets.scss` similarly to the [old code](https://github.com/patternfly/patternfly-sass/blob/master/assets/stylesheets/_patternfly-sprockets.scss) mimicking [bootstrap-sass](https://github.com/twbs/bootstrap-sass/blob/master/asse

[2017-11-09 15:50] skateman opened #833 "Directory structure in the SASS folder needs a revisit"
The files and folders in the `dist/sass` folder should look more similar to bootstrap-sass:
* There should be a top level file called `_patternfly.scss` without the `-sass` suffix
* The `partials` folder should be renamed to `patternfly`

[2017-11-09 15:53] skateman opened #834 "Importing bootstrap in the SASS code should not have the `-sass` suffix"
I noticed that when you're importing bootstrap-related things in the top level SASS file, you're referring to as `bootstrap-sass`. However, in the SASS world the library is called `bootstrap` so we should import it like that.

[2017-11-09 21:40] seanforyou23 opened #836 "Card content overflows card container"
While working with the info status card, it was realized that when the card container becomes too small, the textual contents will overflow the parent element.

Below image illustrates the issue;

<img width="971" alt="screen shot 2017-11-09 at 9 16 04 am" src="https://user-images.githubusercontent.com/5942899/32630778-e733d57c-c56b-11e7-8957-d37ec146bf62.png">

You can see it in action from the f

[2017-11-10 15:04] michpetrov commented on #836
@seanforyou23 I think this can be fixed by setting proper classes for the column grid (and setting a `min-width` for the container; that way the cards will never get too narrow and overflowing text won't be an issue.

[2017-11-10 18:55] jeff-phillips-18 commented on #836
@seanforyou23 where are you seeing this?

[2017-11-10 18:56] jeff-phillips-18 commented on #836
@seanforyou23 Sorry, just saw the link. This looks like a patternfly-ng issue and should be opened against patternfly-ng.

[2017-11-13 09:11] Layla-P opened #837 "Arrow button not always visible in 2nd level pinnable menu"
When using the pinnable vertical navigation component, the blue circle with the arrow icon on is only visible once the menu has been click (ie. not visible in hover)
This causes the title and the links to appear mis-aligned.
However, this issue appears to be a bit sporadic.

[2017-11-13 13:21] garrett opened #838 "Labels (in forms) have too much emphasis"
While reviewing Cockpit UI, Andreas and I noticed there were inconsistencies here and there in form labels, and wanted to unify them across Cockpit.

[In the discussion](https://github.com/cockpit-project/cockpit/issues/8018), we looked at the way labels are implemented in various frameworks and OSes.

PatternFly's form labels are uniquely bold, which call a lot of attention to themselves.

## Com

[2017-11-13 14:41] jeff-phillips-18 commented on #837
The menu is pinnable only when it contains the active navigation item. Otherwise it would show a pinned menu with no selection.

[2017-11-13 15:48] michpetrov opened #839 "Underlined links in vertical navigation"
Links in the primary column have an underline that extends to the icon. Only appears when the link is focused and not hovered over.

![screenshot from 2017-11-13 16-12-57](https://user-images.githubusercontent.com/1999074/32733707-5b531be4-c890-11e7-87d7-b5f6900f0819.png)

I can submit a PR but I'm not sure what the expected look is. Remove the underline altogether, remove it just from the icon, s

[2017-11-13 21:11] jgiardino opened #841 "Embedded Wizard: HTML/CSS is needed"
The [design documentation for the Wizard](http://www.patternfly.org/pattern-library/communication/wizard/) shows an example of an embedded wizard.

This issue is to track the implementation of the html and css for the embedded wizard design.

[2017-11-15 10:40] andreasn opened #842 "Need a slimmer dialog variant"
The 600px wide modal-dialog is too wide for some situations, so in Cockpit we did a little bit of extra css to create a 400px variant using a class. I was speaking to @jgiardino the other day, and she happened to need a 400px dialog in Composer. Hence I wanted to see if it makes sense to put that extra css in Patternfly.
I know about the bootstrap modal-sm class, but that gives a 300px dialog, so

[2017-11-15 10:44] Layla-P commented on #837
Ok, but the headers look misaligned when it's not visible:
<img width="245" alt="menu" src="https://user-images.githubusercontent.com/15874598/32831981-efcbc6f6-c9f1-11e7-8509-27f2813156a0.png">

[2017-11-15 15:11] serenamarie125 commented on #767
@LHinson, can we get this on the PF backlog?  Both CloudForms and Satellite are being impacted by this issue.

[2017-11-15 18:48] dlabrecq opened #843 "Broken NPM package"
The RCUE build appears to be failing because the tests/pages directory is no longer included in the npm package. We need to add this back in ASAP so RCUE can be synced with PatternFly and released.

...
Running "jekyll:tests" (jekyll) task
`bundle exec jekyll build --source node_modules/patternfly/tests/pages --destination tests --config _config.yml` was initiated.

Configuration file: _config.yml

[2017-11-15 18:51] dlabrecq commented on #843
FYI @jeff-phillips-18

[2017-11-15 19:00] matthewcarleton commented on #839
@jgiardino This was something that came up with the accessibility work you were doing right? Do you have any thoughts on this?

[2017-11-15 19:07] dlabrecq commented on #843
The npm install is also missing the generated shrinkwrap.json file.

[2017-11-15 20:58] seanforyou23 commented on #836
@michpetrov thank you for the suggestion - I did try this but found that it didn't yield the best experience in many cases. I ended up achieving the desired result by using the word-break property. By doing it this way, I was able to go from this...
<img width="246" alt="screen shot 2017-11-15 at 1 27 53 pm" src="https://user-images.githubusercontent.com/5942899/32859489-a8775920-ca1c-11e7-9577-16

[2017-11-15 20:58] #836 closed

[2017-11-15 21:24] jgiardino commented on #839
Yes, this work is already included in this PR: #766
The css updates address the issue described here, but also generally addresses issues with indicating which menu item has focus for keyboard accessibility.

But this PR also includes more updates than just the css updates, to better support screen readers too.

Should the css updates just be split out into a separate PR?

[2017-11-15 22:06] jeff-phillips-18 commented on #767
@amirfefer You might try starting off with 'hide-nav-pf' on the 'nav-pf-vertical' and 'container-pf-nav-pf-vertical' elements. This way none of it shows until we know how to display the nav.

[2017-11-15 22:23] jeff-phillips-18 commented on #767
@amirfefer I've edited the above comment to include some necessary CSS.

[2017-11-16 13:18] matthewcarleton commented on #839
I don't think that's necessary. @andresgalante what do you think?

[2017-11-16 14:47] garrett opened #844 "Sign in screen in mobile is covered by keyboards"
PatternFly sign in screens are often covered by keyboards when trying to sign in from a mobile browser.

This affects both Chrome and Firefox (although Firefox _sometimes_ seems to try to accommodate a little bit by scrolling an element or two into the screen­ — but not always).

Here are a few screenshots to illustrate the problem:

## Example log in screen (in Chrome)

| initial | focus |
|---|-

[2017-11-20 17:01] ncameronbritt opened #846 "Close (X) icon should toggle button for popovers"
Closing a [popover](http://www.patternfly.org/pattern-library/widgets/#popover) via the X icon (the first two examples) does not reset the toggle button. As a consequence, if a user clicks the button to see the popover again after dismissing it with the X, nothing happens. Two clicks are required to see the popover again.

Not sure if this behavior is limited to the pf site.

[2017-11-20 17:45] jeff-phillips-18 commented on #846
Happens on the test page as well: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/popovers.html

[2017-11-20 19:37] TheRealJon opened #847 "Documentation does not have Less/Sass build instructions for downstream products"
Currently, there are no instructions on how to configure and build for consumers who are importing PatternFly Less. There has been recent confusion about the file structure and how dependencies work in our distribution, so some clarification may be necessary.

1. Explain that the `dist/dependencies` folder is **not** used by PatternFly but is included for edge cases where our standard distribution

[2017-11-21 06:28] skateman opened #848 "Unmet dependencies in the SASS implementation"
Some dependencies don't provide SASS files, therefore, it's not possible to produce a CSS output. In the `patternfly-sass` repo I sorted this out by converting these dependencies and shipping them together with the package in a [separate folder](https://github.com/patternfly/patternfly-sass/tree/master/assets/stylesheets/patternfly/lib).

[2017-11-21 11:53] jeff-phillips-18 commented on #848
Do we really need to provide these? Applications can include the css directly if the are using these components. Are these using any variables that we want to be updatable?

Copying and converting will restrict consumers to the version that we have converted. I think it better to allow the consumer to simply include the css as they see fit.

[2017-11-21 12:00] skateman commented on #848
@jeff-phillips-18 that's okay if it's about CSS, but we pull in some rules and variables and use/override them...

[2017-11-21 16:39] TheRealJon commented on #848
@skateman, @jeff-phillips-18 Yes, we do need the Sass from these dependencies, [but I already took care of this](https://github.com/patternfly/patternfly/pull/821/files?diff=unified#diff-35b4a816e0441e6a375cd925af50752cR319) issue in PR #821. There are specifically 3 dependencies that don't provide Sass: bootstrap-combobox, bootsrap-datepicker, and d bootstrap-switch. As part of the sass conversio

[2017-11-22 20:08] TheRealJon commented on #848
This issue should be closed by PR #840

[2017-11-22 20:10] TheRealJon commented on #833
Will be closed by PR #840

[2017-11-22 20:11] TheRealJon commented on #832
Will be closed by PR #840

[2017-11-22 20:12] TheRealJon commented on #834
Will be closed by PR #840

[2017-11-23 10:49] dabeng opened #849 "Pure CSS UI lib"
@LHinson  @andres @patrick, There will be a great prospect if we adding a pure css UI library where all the components are implemented with pure css code excluding js code. Maybe the scope of this library is limited. After all, advanced and complicated components need js code to add sophisticated behaviors and functionalities. But light weight and easy-to-use are exactly the killer features of thi

[2017-11-23 11:39] kirantpatil commented on #848
May I know the installation steps for rails ?

Since README is still pointing to the [Sass-based Rails Gem](https://rubygems.org/gems/patternfly-sass) and its latest supported version 3.23.2

[2017-11-23 12:01] dabeng commented on #849
This idea came into my mind when I was contributing tooltip PR to patternfly-react repo. Perhaps you guys are also interested in it.

[2017-11-23 14:07] survi91 opened #850 "Exclamation mark encoding on IE"
Hi,

I created a toast notification with following random string :
Li!cense&#33; '!!!!!!!!!!!!!' lim&#33;mit r?e$ac*h(ed &#33;&#33;asdasdas

It turns out there is a problem with the way IE renders exclamation mark in toast notification. The other symbols in the string are displayed correctly.

I am running IE (version 11.726.15063.0). The problem does not happen on FF neither on Chrome.

Attaching

[2017-11-27 15:09] andresgalante commented on #849
Hi @dabeng that's a good idea. PF next will be not have JS on core. we'll leave it to the react or ang implementations.

[2017-11-27 15:09] #849 closed

[2017-11-27 15:16] andresgalante commented on #844
Hi @garrett Thanks for reporting it. We are working with the keycloak team on a more flexible and improved login screen. I'll make sure to test the keyboard on those ones.

I think we can introduce the change you are suggesting for the current login page as long as it doesn't generate breaking changes.

[2017-11-27 16:01] #843 closed

[2017-11-27 18:32] serenamarie125 commented on #767
@ohadlevy do you think we could get someone to test Jeff's suggestion?

[2017-11-28 04:42] dabeng commented on #849
Hi @andresgalante. What I describe above are all CSS features and demands, I'm confused by your comments

Could you give a bit more details?

[2017-11-29 14:38] dgutride opened #852 "Fix SASS deprecation warning in patternfly sass support"
In Sass-preview branch currently, doing beta releases until we have acceptance.  There is a deprecation warning. New SASS versions will support percentage values in 0.xx form and the support for xx% will be dropped. I noticed that these are being used inconsistently and I think they should be unified.

@skateman @TheRealJon @jeff-phillips-18

[2017-11-29 16:56] dlabrecq opened #853 "RCUE build is failing due to bootstrap-slider CSS path"
RCUE is failing to build due to the bootstrap-slider CSS path.

I noticed that bootstrap-slider was recently added as a devDependency, while bootstrap-datepicker, bootstrap-select, etc. are optionalDependencies. I tried duplicating that dependency for RCUE, the build is still generating the following error.

I believe this is related to how PatternFly is importing bootstrap-slider? In patternfly-a

[2017-11-30 17:51] michpetrov commented on #846
It's caused by a bug in Bootstrap (twbs/bootstrap#16732).

[2017-11-30 20:26] dlabrecq opened #860 "Firefox errors"
The PatternFly test pages are generating a ton of errors in the Firefox console related to patternfly.min.css and patternfly-additions.min.css. This is carried forward/seen with other example apps for Angular PatternFly, RCUE, patternFly-ng, etc.

For example:

Error in parsing value for ‘-webkit-text-size-adjust’.  Declaration dropped.
patternfly.min.css:5:134
Unknown pseudo-class or pseudo-eleme

[2017-12-01 17:43] mindreeper2420 opened #861 "Move Precompiled Files Out of /dist"
With the recent changes to the distribution of PatternFly, the precompiled `.less` files are placed in a `/dist` folder. This is causing confusion and concern amongst products that consume PatternFly, as `/dist` folders usually only contain compiled `css` and minified code.

Is it possible to move this back out of the `/dist` folder and mimic the structure that is found in Bootstrap? Even in the u

[2017-12-01 18:43] #853 closed

[2017-12-02 00:16] gregsheremeta opened #864 "Inconsistent style between sm and md listview icons"
Inconsistent style between sm and md listview icons. This appears to be a css bug.

https://github.com/patternfly/patternfly/blob/fc906858d354ba7b1bd4b0e0f17e721abe0c0215/src/less/list-view.less
Line 206

&.list-view-pf-icon-sm {
  border: 2px solid @list-view-accented-border;

compiles to

.list-view-pf-left .fa.list-view-pf-icon-sm, .list-view-pf-left .pficon.list-view-pf-icon-sm {
    border: 2

[2017-12-02 00:16] gregsheremeta commented on #864
cc @serenamarie125 @kybaker

[2017-12-04 13:13] jeff-phillips-18 opened #865 "Add NSP security check badge"
It would be nice to see the current NSP (Node Security Platform) security check status as a badge in the github page for Patternfly.

[2017-12-04 19:09] andresgalante commented on #864
Hi @gregsheremeta you are right, it's not correct, but I don't see how we can fix this without generating breaking changes to users using the -md size

[2017-12-04 19:11] gregsheremeta commented on #864
@kybaker said it was the -sm blue that was incorrect

[2017-12-04 19:12] andresgalante commented on #850
Hi @survi91 Whats the encoding meta on your HTML? is it utf-8?

[2017-12-04 19:15] andresgalante commented on #848
I'll close it since  #840 was merged

[2017-12-04 19:15] #848 closed

[2017-12-05 15:58] andresgalante commented on #864
well, either way, if we change the `-sm` we'll creating a regression for the ones using it, right?

[2017-12-05 16:09] gregsheremeta commented on #864
Depends on your definition of regression :) @kybaker said -sm should never have been blue, so it'll be fixing that

[2017-12-06 14:57] jgiardino opened #869 "Wizard: show keyboard focus in the steps"
When I use the keyboard to navigate the steps in the [wizard](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/wizard.html), it is difficult to know which step has focus.

Note: In the [core test page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/wizard.html), I'm not able to place focus on a primary step, but in the [pf-react implementation](https://github.com/pa

[2017-12-07 13:58] priley86 commented on #841
This implementation has been started in PatternFly React [here](https://github.com/patternfly/patternfly-react/pull/69)

I am posting the temporary CSS that was used. It was not completed, but just posting it here so I don't lose it when it comes back time to review this again...
[code]

[2017-12-07 15:20] lancejjohnson opened #871 "Provide code samples / documentation for advanced form usage"
Several sections of the Patternfly documentation on http://www.patternfly.org/pattern-library provide code samples for example usage of particular patternfly features. Very few of the features under the form section provide code samples. For example, the ["Progressive Disclosure"](http://www.patternfly.org/pattern-library/forms-and-controls/progressive-disclosure/) feature appears very useful but

[2017-12-08 13:21] rhwood opened #876 "Release notes include broken HTML markup"
Since 3.26.3, the release notes have included a broken HTML markup fragment ```<a name"VERSION">``` where VERSION is the current version. This probably just needs to be removed.

[2017-12-08 15:45] AllenBW opened #879 "[SASS] Invalid sass mixin breaks login page, container background-color absent"
`fade($color-pf-white, 5.5%)` [is not a valid option](http://sass-lang.com/documentation/Sass/Script/Functions.html), recommend using `rgba($color-pf-white, .055)`

[Offending code is here](https://github.com/patternfly/patternfly/blob/master/src/sass/converted/patternfly/_variables.scss#L88)

[2017-12-08 15:47] AllenBW commented on #879
@jeff-phillips-18 or @dgutride can ya'll assign this to me?

[2017-12-08 19:01] tuxgasy commented on #670
Hi,

I need also to use datatable filter with ajax data source. When I add a filter, it's not sent to server.
Because Patternfly don't use the [search API of Datatable](https://datatables.net/reference/api/search()).

Here a quick fix by modifying the file patternfly.dataTables.pfFilter.js :

- Add `dt.column(filter.column).search('').draw();` between [lines 239 and 240](https://github.com/pattern

[2017-12-11 03:18] dlabrecq commented on #670
The pfFilter actually does use the search API of Datatable to provide "simple filter" functionality. I'm not certain, but what you're proposing appears to conflict with the existing simple filter?

https://github.com/patternfly/patternfly/blob/21105fc4116d21d29316561c95714c997842a5d2/src/js/patternfly.dataTables.pfFilter.js#L193

This code assumes that the user applies a filter to a different colu

[2017-12-11 10:02] tuxgasy commented on #670
I did a test and there is no conflict. The simple filter is called only for local data. But why provide "simple filter" since search API already provide one? I also did a test by removing the simple filter, I get the same results.

The search API supports filter to a different column ([example](https://datatables.net/examples/api/multi_filter.html)). it will also be interesting to implement a filt

[2017-12-11 12:38] akieling opened #882 "navbar-brand-icon and navbar-brand-name CSS classes don't limit image height"
Images used as logo or brand name of a page using vertical navigation are not limited to the expected maximum height (35px) and the page layout breaks. It would be good to add the `max-height: 35px;` rule to the `navbar-brand-icon` and `navbar-brand-name` CSS classes.

[2017-12-11 16:33] dlabrecq commented on #670
A simple filter is provided because multiple filters can be applied, values are compared by lower case, and it must be kept in sync with the filter results shown in the toolbar. Datatables.net has its own default filter, but wasn't quite what we were looking for.

Do you want to submit a PR with what you're testing with now? We can compare that against our existing test cases.

[2017-12-11 18:43] TheRealJon commented on #879
Resolved by PR #883. Sass conversion was missing less fade() function that used decimal percentages. A new rule was added to ensure decimal percentages are now handled and properly converted to the sass rgba() function.

[2017-12-11 18:43] #879 closed

[2017-12-13 07:53] tuxgasy commented on #670
I just realized that if I apply multiple filters on one column, only the last filter is sent to server.
I have to review my PR by using search API with regex...

[2017-12-13 09:29] tuxgasy commented on #670
I reviewed my PR. I added a new function that is called before redraw only if [server-side processing](https://www.datatables.net/release-datatables/examples/data_sources/server_side.html) is enabled.

[2017-12-14 20:24] danseethaler opened #887 "Listview heading truncating css"
I'm working on building the RedHat Repositories page for foreman and am having an issue where the `Listview` actions are bleeding off the edge of the container.

![image](https://user-images.githubusercontent.com/11202705/34012012-269c59fc-e0e0-11e7-98c8-07a07b81d0fa.png)

I'm using the patternfly-react library to implement the component but I'm posting here because it appears to be a css issue.

[2017-12-15 13:35] himdel opened #888 "Selectpicker with placeholder indistinguishable from disabled selectpicker"
After upgrading from 3.23 to 3.31, all our selectpickers look disabled :(.

non-disabled with placeholder in 3.23:

![localhost_3000_catalog_explorer 2](https://user-images.githubusercontent.com/289743/34044463-f914772c-e19c-11e7-9c7c-35ddc1447241.png)

non-disabled with placeholder now:

![localhost_3000_catalog_explorer](https://user-images.githubusercontent.com/289743/34044310-687b1ea0-e19c-11e

[2017-12-15 13:35] himdel commented on #888
Strictly speaking the 2 are not identical .. only indistinguishable :).

[2017-12-15 14:50] serenamarie125 commented on #888
oh my @himdel this isn't good!
@matthewcarleton @LHinson is this something we can look into?

[2017-12-15 15:02] epwinchell commented on #888
@himdel They look normal on my system. Where are you seeing this?

![screen shot 2017-12-15 at 10 01 44 am](https://user-images.githubusercontent.com/1287144/34047671-fe28f51c-e17e-11e7-8f32-80865d6aa9cf.png)

[2017-12-15 15:17] himdel commented on #888
Thanks! :)

I think this is especially problematic when the whole form is just a selectpicker in the beginning..

![localhost_3000_catalog_explorer 3](https://user-images.githubusercontent.com/289743/34048275-09651132-e1ab-11e7-992e-d3d483ef3b15.png)

[2017-12-15 15:18] himdel commented on #888
One tip.. Not sure if the problem comes more from the fact that the text is gray, or from the fact that so is the chevron..

(Also, visually it feels like even the border is grayer but that may be an illusion.)

[2017-12-19 14:31] jgiardino opened #891 "Alerts dismiss button are not screenreader accessible"
In the [alerts test page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/alerts.html), for the alerts that have the X dismiss button, the current html results in the button not being screen reader accessible.

**Current HTML:**
[code]
Issues:

- Using `aria-hidden="true"` tells the screen reader to ignore this element.
- There is no text string associated with this button that can

[2017-12-19 15:07] ekohl opened #892 "Why is moment.js pinned at minor level rather than major?"
92cf2415923e499b4d2b7db05a08d5291774a11b added the dependency on moment but pins it at the minor level. Is there a reason not to pin at the major version? So ```^2.14.1``` rather than ```~2.14.1```.

[2017-12-21 18:12] tuxgasy opened #895 "DataTables with checkbox Filter"
Hi,

I saw in the [documentation](http://www.patternfly.org/pattern-library/forms-and-controls/checkbox-filter/) that it'is possible to create a checkbox filter. But I do not see how to implement it.

[2018-01-06 19:36] xeeljire opened #901 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/patternfly) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2018-01-08 00:03] amirfefer opened #902 "Donut chart default color pattern has only 2 colors"
`blue` and `black-300` via [getDefaultDonutColors](https://github.com/patternfly/patternfly/blob/f3e97eed896f1cae0402a86ee526b68fc7abbb96/src/js/patternfly-settings-charts.js#L150).
Shouldn't we add a 6 colors (or more) pattern?

[2018-01-08 15:05] mmack commented on #149
Any news on this? Can't find it on the website... @andresgalante

[2018-01-08 15:38] mcarrano commented on #149
Templates for Sketch and Balsamiq Mockups can be found here: https://github.com/patternfly/patternfly-design/tree/master/resources/templates  @mmack please let us know if you have any questions or feedback if you use these.

@Mgranfie FYI

[2018-01-08 21:19] rhamilto opened #903 ".blank-slate-pf-secondary-action buttons lacking margin between them when they wrap"
![screen shot 2018-01-08 at 4 18 15 pm](https://user-images.githubusercontent.com/895728/34692891-b62555fc-f48f-11e7-8514-62e6ca37e099.PNG)

[2018-01-09 21:35] pthealthtech commented on #638
Hi,

Is there any update to this task? We are also looking for the same example code for pagination in list view?

[2018-01-10 10:42] paoloantinori opened #904 "[docs] bad example for list-view"
https://www.patternfly.org/pattern-library/content-views/list-view/#/code/html-css

`Row Variation #5 displays like this:`

![screenshot from 2018-01-10 11-40-02](https://user-images.githubusercontent.com/1520602/34768406-04c3df32-f5fb-11e7-8e64-a21abaf73c9f.png)

On Fedora with Firefox 57.0.4, while fullscreen on a 1920x1080 resolution

[2018-01-11 09:57] dabeng opened #905 "secondary tabs are not nested in primary tabs"
Please review https://github.com/patternfly/patternfly-react/pull/112 for details.

[2018-01-11 15:40] ohadlevy commented on #892
@jeff-phillips-18 any idea how to help @ekohl? thanks :)

[2018-01-11 19:35] beanh66 opened #907 "Empty State secondary action buttons do not align properly when labels differ in length"
In OpenShift we came across an issue where adding three secondary action buttons underneath the primary action (as the PF Empty State design suggests) created an issue with the alignment. The resolution used in OpenShift includes flexbox and only fixes the case where exactly 3 secondary actions are added. A more robust solution should be implemented in PF core to account for various cases.

For re

[2018-01-11 19:36] beanh66 commented on #907
FYI @jennyhaines @serenamarie125 @dtaylor113

[2018-01-11 22:07] jeff-phillips-18 commented on #892
I will take a pass at updating some of the underlying dependencies.

[2018-01-12 01:15] mindreeper2420 opened #909 "Unable to locate Bootstrap or Font Awesome files on builds"
When consuming PatternFly in the current iteration, builds cannot find the bootstrap.less file. The `patternfly.less` file, located in `node_modules/patternfly/dist/less` is looking for `bootstrap/less/bootstrap.less`, which does not exist.

Is there specific documentation for PatternFly that states A) why the `patternfly.less` file is looking in this particular path for a dependency when that pat

[2018-01-12 13:26] michpetrov commented on #909
Check your `node_modules`, that's where the less files are being pulled from, if they are not there it's probably an issue with your installation.

[2018-01-12 13:31] mindreeper2420 commented on #909
@michpetrov Installation is correct - nothing has been modified from what the package provides. This is what the directory looks like:
<img width="347" alt="screen shot 2018-01-12 at 8 28 18 am" src="https://user-images.githubusercontent.com/4032718/34877123-aec94cd8-f772-11e7-91ff-8b46f4a99964.png">

There is no `bootstrap/less` directory inside of the `dependencies` folder, which is where the `p

[2018-01-12 14:50] jennyhaines commented on #907
@beanh66 - I'll think about this more and mock up some ideas!

[2018-01-12 15:03] #892 closed

[2018-01-12 15:44] michpetrov commented on #909
No, `patternfly.less` is not looking into the `dependencies` folder, I do not know why that folder is being created but it's not for build purposes. (It might be the intent but the current build is pulling `boostrap.less` from `node_modules/bootstrap/less`.)

[2018-01-12 15:59] mindreeper2420 commented on #909
@michpetrov Correct, it is not looking in the `dependencies` folder - that was an error in typing. Older versions of PatternFly placed the files in different locations.

[2018-01-15 14:11] andresgalante commented on #907
@beanh66 This is a good idea, when blank slate was added we supported IE9 which left flexbox out of scope. Now that we don't we can change it.

Do you think you can find time to PR this?

[2018-01-15 14:14] andresgalante commented on #904
@paoloantinori thanks a lot for reporting this issue. List view is correct: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-rows.html

This issue is due to collapsing styles on pf.org. I'll open an issue there and reference to this one.

[2018-01-15 14:14] #904 closed

[2018-01-15 14:23] andresgalante commented on #903
Hi @rhamilto yeap, you are right thanks for reporting it.
It's duplicated here #907, I'll close this issue and continue there.

[2018-01-15 14:23] #903 closed

[2018-01-15 14:38] andresgalante commented on #888
Hi @himdel this is an old issue, was this fixed? I can't reproduce it, here is what we get in patternfly:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/bootstrap-select.html

[2018-01-15 14:44] himdel commented on #888
@andresgalante Yes, the issue is still present on the link you just posted :)

compare the Disabled select, with the Multiple Select select.

Both are completely grey, including the chevron. There is a slight shading difference, but ... it just looks disabled.

[2018-01-15 14:54] jeff-phillips-18 commented on #909
It should be finding it in the project's node_modules directory if correctly configured.

[2018-01-15 15:10] beanh66 commented on #907
@andresgalante I'm not sure, @rhamilto did the work for the OpenShift case, but at the moment it only covers the case where exactly 3 secondary actions exist. I think we want to be sure this covers the case where 0, 1, 2, or 3 secondary actions are used.

[2018-01-15 15:12] skateman commented on #852
Still reproducible in 3.37.0

[2018-01-15 21:08] jeff-phillips-18 commented on #860
I'm not seeing this with last patternfly in Firefox 57.0.1 (64-bit)

[2018-01-16 05:57] kirantpatil opened #912 "'patternfly-sass' gem version pointing to '~> 2.2'"
Hi,

patternfly-sass gem is pointing to gem 'patternfly-sass', '~> 2.2'.

Is it correct, since patternfly-sass version is 3.37.0 ?

Thanks,

[2018-01-16 07:33] dabeng commented on #902
Hi @amirfefer , I don't think this is a issue.

According to the [design doc ](http://www.patternfly.org/pattern-library/data-visualization/donut-chart/#/design)of utilization donut chart, it only include two factors(used & available), so two colors ` patternfly.pfPaletteColors.blue` `patternfly.pfPaletteColors.black300` are just the right amount.

Of course, you can specify the colors for your ow

[2018-01-16 07:47] ohadlevy commented on #902
I would think it would be nice if we had a default colors (maybe the same
as in the design docs). As it stands now it's inconsistent as for one type
you have a default vs the other which doesn't.

On Jan 16, 2018 8:33 AM, "Xuebin Dong" <notifications@github.com> wrote:

[2018-01-16 14:55] dlabrecq commented on #860
I'm still seeing this with Firefox 57.0.4 (64-bit)

[2018-01-16 15:03] dlabrecq commented on #860
Best seen with the patternfly test pages, but see it with the patternfly-ng and angular patternfly demos as well.

[2018-01-16 15:36] dtaylor113 commented on #860
I'm not seeing this on FF v57.0b12 (Fedora/Linux 64-bit) using `https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/`
No errors in console.

[2018-01-16 15:59] michpetrov commented on #860
The errors come from CSS features that are not supported by Firefox (likewise Chrome has issues with Firefox/IE features although it isn't this loud about it), the only way to get rid of those would be to serve the browser a separate stylesheet.

[2018-01-16 16:59] dlabrecq commented on #860
Resetting Firefox seems to resolve the issue. It wasn't just clearing the cache, but the "refresh firefox" in the about:support dialog. This is more of a profile reset, which forced me to reload my plugins, add-ons, etc.

[2018-01-16 16:59] #860 closed

[2018-01-16 17:26] wgordon17 opened #915 "Unable to @import patternfly when installed as gem"
I have tried numerous @import options when install as gem, but none of them seem to work. It appears that perhaps the `dist/` directory structure doesn't match the expected `vendor/assets` directory structure as originally used in https://github.com/patternfly/patternfly-sass/tree/master/assets

[2018-01-16 17:42] jeff-phillips-18 commented on #915
@skateman Can you help @wgordon17 out?

[2018-01-16 17:46] #915 closed

[2018-01-16 18:01] jeff-phillips-18 commented on #902
Agreed @ohadlevy. Based on https://github.com/theforeman/foreman/pull/5137#issuecomment-356959608, I think the default colors ought to be:

            patternfly.pfPaletteColors.blue,
            patternfly.pfPaletteColors.black300
            patternfly.pfPaletteColors.red100
            patternfly.pfPaletteColors.orange400
            patternfly.pfPaletteColors.green400
            patternfly.p

[2018-01-17 03:23] dabeng commented on #902
@jeff-phillips-18 , you mean we should remove the following settings
[code]

and replace the following settings
[code]
with
[code]

[2018-01-17 08:28] sharvit commented on #902
@dabeng @jeff-phillips-18 @amirfefer
Based on this document: http://www.patternfly.org/pattern-library/data-visualization/donut-chart/

It feels like you have 2 different set of donut-charts:
* UtilizationDonutChart - 2 colors - represent a scale of 1 value from 0% to 100%
* RelationshipDonutChart - up to 6 colors - represent relationship between values

I don't think that the `black300` should be

[2018-01-17 08:32] sharvit commented on #902
@jeff-phillips-18 @yaacov
Do you think `patternfly-react` should export 2 different components for DonutChart?

So i could do so without worry about the default values:
[code]

[2018-01-17 09:31] skateman commented on #915
@wgordon17 does this mean that you found a solution?

[2018-01-17 11:11] wgordon17 commented on #915
Yes, it also means I feel incredibly stupid! Restarting rails fixed the
issue...but it took me 30 mins to try that.

From: Halász Dávid <notifications@github.com> <notifications@github.com>
Reply: patternfly/patternfly
<reply@reply.github.com>
<reply@reply.github.com>
Date: January 17, 2018 at 04:31:39
To: patternfly/patternfly <patternfly@noreply.github.com>
<patternfly@noreply.github.com>
CC: Wi

[2018-01-17 11:50] jeff-phillips-18 commented on #902
@sharvit Good point about the black300 not being used for non-utilization donuts.
I like the idea of having the capability for both as you suggest above.

As for `patternfly-react`, it could use multiple components or the existing DonutChart component could take a property to specify the chart type.

[2018-01-17 11:59] sharvit commented on #902
@jeff-phillips-18 I have talked with @amirfefer and we both agreed about:
* `DonutChart` component should default act as a `RelationshipDonutChart`
* Create a `UtilizationDonutChart` component that render `DonutChart` with utilization colors.

[2018-01-17 12:14] michpetrov commented on #778
The issue has been reported on patternfly-org: patternfly/patternfly-org#408 (However it needs a fix here, I've already submitted a PR)

[2018-01-17 13:39] LHinson commented on #778
Got it. Thanks @michpetrov I've asked @cliffpyles and @amarie401 to review. Thanks for your help :)

[2018-01-17 13:56] yaacov commented on #902
I like this approach too 👍

[2018-01-17 14:25] jeff-phillips-18 commented on #902
Works for me, though out of context for this particular repo/issue 😉

[2018-01-18 05:25] #905 closed

[2018-01-18 07:59] dabeng commented on #902
Hi @jeff-phillips-18 @sharvit , I have committed a [PR](#916) for this issue. I think I adopted the least-cost solution that I just provide override color option for "available" data column of utilization donut chart and add more default colors for  all donut charts.

[2018-01-18 08:28] sharvit commented on #902
Thanks @dabeng :+1:

[2018-01-18 14:56] mindreeper2420 commented on #909
@jeff-phillips-18 as a story to update documentation/configuring has been created (https://github.com/patternfly/patternfly/issues/847), I'll close this and keep an eye on that. Thanks!

[2018-01-18 14:56] #909 closed

[2018-01-18 15:59] martinpitt opened #917 "awkward file name `Logo_Horizontal_Reversed.svg alias`"
Version 3.37.1 (and possibly earlier ones) now contain this file:

    ./node_modules/patternfly/dist/img/Logo_Horizontal_Reversed.svg alias

This looks like a bug in the dist/ generation scripts, and not actually intended. The embedded space causes all sorts of funny effects, like rpmbuild yelling

    error: File must begin with "/": alias

[2018-01-18 16:22] mcarrano opened #918 "HTML/CSS Implementation Needed for Multi-Factor Login"
While new test pages have been created for standard login, social login, and SSO, multi-factor login was earlier deferred. The design for this can be found here: http://www.patternfly.org/pattern-library/application-framework/multi-factor-login/

[2018-01-18 17:22] jeff-phillips-18 opened #919 "ListView close button in expansion area interferes with expansion content"
The close button is overlaid on the expansion content which causes issues when there is content in that space.

See https://github.com/patternfly/patternfly-react/issues/153 for original details.

[2018-01-18 20:13] amirfefer commented on #902
Thanks @dabeng :+1:

[2018-01-18 21:16] jeff-phillips-18 opened #920 "Issues with navbar-brand-icon and navbar-brand-txt styling in vertical navigation"
The navbar-brand-icon does not set a height therefore if an image with > 35px in height is used the masthead height grows and does not work properly with the left vertical nav menus.

The navbar-brand-txt does not set a line-height and the text does not align vertically. Setting a line-height of 34px aligns it correctly.

I'm not sure if this effects horizontal nav as well.

[2018-01-19 20:47] dtaylor113 opened #921 "bootstrap-slider dependency not added to bower.json"
Bower only users can't upgrade to patternfly v3.30.2+ which introduced `bootstrap-slider` in npm only!

Upgraded OpenShift Console (uses Bower only) to use patternfly v3.37.1, got this build error:

[code]

The problem seems to be in the `patternfly-additions.less` file:
[code]

if you install patternfly via npm there is no issue, however if your app only uses bower and attempts to use/override `p

[2018-01-19 21:14] dtaylor113 commented on #921
Workaround for this issue in OpenShift Console `bower.json`
"dependencies": {
   ...
   "bootstrap-slider": "seiyria-bootstrap-slider#^9.9.0",
}

This installs `seiyria-bootstrap-slider` into `bower_components/bootstrap-slider/src/..`, which matches what's specified in `patternfly-additions.less`.   We probably want to add this to patternfly's bower.json file as well.

[2018-01-22 10:36] kirantpatil opened #923 "css issue with table view on patternfly-sass 3.37.1"
Hi,

I used table view code from http://www.patternfly.org/pattern-library/content-views/table-view/.

I am getting css issue as shown below attached image.

![screenshot-2018-1-22 hocc 1](https://user-images.githubusercontent.com/1178055/35216579-1331d276-ff8e-11e7-8a0b-ae811fcd06cf.png)

[2018-01-22 12:40] michpetrov opened #924 "examples not working with hyphenated variables"
Same problem as #738, I haven't properly checked other pages. This affects expand/collapse functionality and error feedback (both in forms.html) but only in a local build using liquid.

There is also another problem with [navbar-vertical.html](https://github.com/patternfly/patternfly/blob/74cdae7f189969478663d88b5801efc2a57e51cd/tests/pages/_includes/widgets/layouts/navbar-vertical.html#L42-L44).

[2018-01-22 19:56] TheRealJon commented on #923
@kirantpatil could you clarify what you mean by patternfly-sass? The patternfly-sass npm package is no longer maintained, but there is still a ruby gem which should remain in tandem with this repo. Or are you referring to the Sass in this repo?

[2018-01-22 20:13] dtaylor113 commented on #923
@TheRealJon, @kirantpatil might mean that he is using the sass we now auto-generate from our less files:  https://github.com/patternfly/patternfly/tree/master-dist/dist/sass

[2018-01-22 20:18] TheRealJon commented on #923
I assume that this is the case, but the wording of the issue title is a little confusing. I just wanted to make sure before trying to help.

[2018-01-22 20:21] dtaylor113 commented on #923
:+1:

[2018-01-22 21:04] TheRealJon commented on #917
@matthewcarleton It looks like this file was added to our source as part of this PR: https://github.com/patternfly/patternfly/pull/885

[2018-01-22 21:12] TheRealJon commented on #912
@kirantpatil the patternfly-sass Ruby gem is currently at release 3.37.2. The ruby gem releases are kept in tandem with Patternfly releases. If you have this version constraint defined in your gemfile, it should be updated to `gem "patternfly-sass", "~> 3.37.0"`

[2018-01-22 21:17] matthewcarleton commented on #917
@TheRealJon oh hmmm, ya that is odd. It's shouldn't be in there. Not sure how that got created.

[2018-01-22 21:28] TheRealJon commented on #895
@tuxgasy The documentation on Patternfly.org is still a work in progress, but if you look at the file `patternfly.dataTables.pfFilter.js` in the `dist/js` directory of our package, there is a pretty detailed comment block at the top with examples of how to use this feature.

[2018-01-22 22:38] TheRealJon commented on #852
@dgutride @skateman Has this been fixed? I couldn't reproduce this issue now. Which sass compiler is throwing this warning (node or ruby)?

[2018-01-22 22:39] skateman commented on #852
@TheRealJon can't test it right now, but my issues were with the ruby compiler in 3.37.

[2018-01-23 04:57] kirantpatil commented on #923
I am using patternfly-sass gem.

[2018-01-23 15:21] #917 closed

[2018-01-23 17:52] TheRealJon commented on #852
Found that this is being caused by a bug in the conversion. For some reason, there are four instances of the fade function that are not being converted to rgba:

- https://github.com/patternfly/patternfly/blob/master/src/sass/converted/patternfly/_bootstrap-select.scss#L71
- https://github.com/patternfly/patternfly/blob/master/src/sass/converted/patternfly/_bootstrap-select.scss#L89
- https://gith

[2018-01-23 18:40] TheRealJon opened #927 "Stylelint deprecation warning for 'declaration-block-no-ignored-properties'"
Grunt Stylelint task throws the following deprecation warning:
[code]

[2018-01-23 18:43] TheRealJon commented on #923
@kirantpatil Are you using the latest release of this gem (3.37.2)? Also, could you post an example of the html structure that causes this issue so that we can test and try to duplicate the issue?

[2018-01-23 19:31] #921 closed

[2018-01-23 20:59] #834 closed

[2018-01-23 20:59] #833 closed

[2018-01-23 21:00] #832 closed

[2018-01-23 21:07] TheRealJon commented on #729
https://github.com/patternfly/patternfly/pull/929

[2018-01-23 21:10] TheRealJon commented on #927
Duplicate: https://github.com/patternfly/patternfly/issues/729

[2018-01-23 21:10] #927 closed

[2018-01-23 21:10] mindreeper2420 commented on #729
Somehow I missed the comment from @andresgalante to update grunt-stylelint. Is removing the rule set better, or upgrading the packages?

[2018-01-23 21:26] TheRealJon commented on #729
I think we need to do both. If it's deprecated, it would need to be removed/replaced with a similar rule regardless. I could add a version bump for stylelint to the PR.

[2018-01-23 21:28] mindreeper2420 commented on #729
I'm on board with bumping the versions too - I believe there are also additional rules that the newer version allows that could then (possibly) be added, if desired.

[2018-01-23 21:29] TheRealJon commented on #729
Yeah, the PR could be a WIP until we get the rules set the way we want.

[2018-01-23 21:32] TheRealJon commented on #729
Looks like `declaration-block-no-ignored-properties` was deprecated in 7.8. Reason given:

[2018-01-23 21:42] cliffpyles commented on #901
@xeeljire Thanks for creating this ticket! What time are you typically online? I'd like to get a little clarification around the ticket?

[2018-01-23 22:38] MartinKolarik commented on #901
@cliffpyles hi - jsDelivr team member here. Basically what the message means is that we don't know which file from your package is the one users should use. When you set a default file, we can show it at the top of the list, like [here](https://www.jsdelivr.com/package/npm/jquery). You'll also be able to use a shorter URL https://cdn.jsdelivr.net/npm/patternfly@3.37.4 instead of https://cdn.jsdeli

[2018-01-23 23:01] MartinKolarik commented on #901
Admittedly, this is not so useful when there are multiple files required to use the package.

[2018-01-24 00:51] serenamarie125 opened #930 "Slider - optional field input feature not working"
Based on the documentation of the [PatternFly Slider](http://www.patternfly.org/pattern-library/forms-and-controls/slider/) , "The slider can optionally have a field input on the right side to enter the desired value as an alternative to sliding. The slider button should move to indicate the value entered."

When accessing the component on the test page (https://rawgit.com/patternfly/patternfly/ma

[2018-01-24 06:03] kirantpatil commented on #923
@TheRealJon,

I upgraded to patternfly-sass (3.37.4) and still issue persist.

### Please find the below code
#### index.html.erb
------------------
[code]
#### main.js
------------

[code]

To verify I downgraded to other patternfly version and with 3.10.0 I don't see this css issue. Below is attached screenshot with v3.10.0.

![screenshot-2018-1-24 hocc](https://user-images.githubusercontent.com

[2018-01-24 07:48] dabeng opened #931 "There is a UI mess on List View page"
<img width="1600" alt="screen shot 2018-01-24 at 3 44 12 pm" src="https://user-images.githubusercontent.com/5689075/35320147-c9633374-011d-11e8-8921-f18a140334c7.png">

[2018-01-24 08:51] dabeng opened #932 "There is an unexpected space between table header and table body"
<img width="1220" alt="screen shot 2018-01-24 at 4 18 11 pm" src="https://user-images.githubusercontent.com/5689075/35322782-71f607f2-0126-11e8-808a-971784931e92.png">

[2018-01-24 10:04] michpetrov commented on #931
Reported (and closed) previously: #904

[2018-01-24 14:27] matthewcarleton commented on #932
Thanks for posting this @dabeng. It looks like this only exists on the examples so this should be moved to the patternfly.org repo.

[2018-01-24 14:29] matthewcarleton commented on #931
@dabeng I'm going to close this one.

[2018-01-24 14:29] #931 closed

[2018-01-24 16:09] #729 closed

[2018-01-24 17:34] matthewcarleton commented on #930
@serenamarie125 I believe this is b/c of the debate of when JS belongs in pf-core. @jeff-phillips-18 what do you think should we add this for the purpose of the demo?

[2018-01-24 19:45] matthewcarleton commented on #920
hey @jeff-phillips-18 so are you thinking a max-height:35px; on the image and a line-height of 34px on the text?

[2018-01-24 20:59] cliffpyles commented on #901
@MartinKolarik Thanks for the input! I think I am in agreement about the usefulness of the change with the current organization of the JS. The library is primarily for CSS and the JS is typically handled in external projects (with a few exceptions like you mentioned).

@xeeljire Since there isn't a single main JavaScript file that should be imported, would you mind providing some more context abou

[2018-01-25 02:18] mturley commented on #920
This is now being resolved as part of #922

[2018-01-25 10:38] dabeng opened #935 "patternfly blog login page doesn't look good"
<img width="1600" alt="screen shot 2018-01-25 at 6 32 59 pm" src="https://user-images.githubusercontent.com/5689075/35383921-b4d7889c-01fe-11e8-9824-84b030281723.png">

[2018-01-25 10:42] dabeng opened #936 "can not find "conduct guidelines for this repository""
<img width="872" alt="screen shot 2018-01-25 at 6 38 58 pm" src="https://user-images.githubusercontent.com/5689075/35384157-62a3a14a-01ff-11e8-8916-79f5c245e832.png">

<img width="857" alt="screen shot 2018-01-25 at 6 39 08 pm" src="https://user-images.githubusercontent.com/5689075/35384164-677cf02c-01ff-11e8-93d0-65c2c6c765da.png">

<img width="838" alt="screen shot 2018-01-25 at 6 39 30 pm" src=

[2018-01-25 14:00] matthewcarleton commented on #935
@dabeng this should be in .org, I've opened an issue there.

[2018-01-25 14:00] #935 closed

[2018-01-25 14:04] #932 closed

[2018-01-25 14:58] mcarrano commented on #932
This seems like a new issue as I have never seen this before. Anyone have any idea what's going on here and why? @cliffpyles @amarie401

[2018-01-25 15:36] LHinson commented on #936
@dabeng it's great that you are filing issues to make us aware how we need to update PatternFly. I would like to see you follow up these issues with PRs to help contribute to a fix.

[2018-01-25 16:26] #936 closed

[2018-01-25 16:43] #920 closed

[2018-01-25 16:58] matthewcarleton commented on #882
hey @akieling this has been resolved in #922

[2018-01-25 16:58] #882 closed

[2018-01-25 17:17] matthewcarleton commented on #869
Hey @jgiardino can you confirm I am looking at the right thing? This is what I see when I tab.
<img width="1064" alt="screen shot 2018-01-25 at 1 16 22 pm" src="https://user-images.githubusercontent.com/287880/35402160-1252f59c-01d2-11e8-94e2-d62c64782d0e.png">

[2018-01-25 17:19] matthewcarleton commented on #844
hey @Garrett we now have the new login pages that should resolve this. Can you confirm? [New login page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/login-basic.html)

[2018-01-25 17:21] matthewcarleton commented on #864
@gregsheremeta @andresgalante can we close this? It seems like it would introduce a breaking change which should be avoided.

[2018-01-25 17:22] matthewcarleton commented on #850
hi @survi91 were you able to follow up on this? Would like to help further upon your response.

[2018-01-25 17:33] matthewcarleton commented on #842
Thanks @andreasn this makes sense to me. I'd like to get @andresgalante thoughts on this first before we introduce it.

[2018-01-25 20:50] jgiardino commented on #869
I just checked. I do see focus now in the primary steps for both the core and react implementations. Focus doesn't work well with the secondary navigation, though (maybe that's what I meant to say instead of "primary"). In core, I see an underline like "1A. _Details" but other than that there's no change. In react, I see absolutely no change.

[2018-01-25 21:58] matthewcarleton commented on #869
ah ok. Ya I checked in Safari and the underlines aren't there at all. Definitely something that should added. I put something together and get you to review when it's done. Thanks!

[2018-01-26 04:15] dabeng commented on #935
Hi @matthewcarleton , I think this issue belongs to [patternfly-blog](https://github.com/patternfly/patternfly-blog), there isn't any issues on that repo since creating it , so I have to filing this issue to here.

[2018-01-26 05:13] dabeng commented on #936
Hi @LHinson . Once we verify the issue is a valuable feature improvement or real bug, I'm glad to commit according PR.

[2018-01-26 13:15] matthewcarleton commented on #935
Hey @dabeng no problem. I believe this was addressed in the issue on the .org repo [here](https://github.com/patternfly/patternfly-org/issues/513)

[2018-01-26 14:25] alexkieling opened #939 "jQuery.fn.resize() event shorthand is deprecated"
Based on the [jQuery Migrate Plugin documentation](https://github.com/jquery/jquery-migrate/blob/master/warnings.md#jqmigrate-jqueryfnclick-event-shorthand-is-deprecated), event shorthands should be replaced with `.on()` and `.trigger()` methods.

The PatternFly code uses the window `resize()` shortcut method in the following places:
https://github.com/patternfly/patternfly/blob/c214e177ce9e742643

[2018-01-26 20:19] #869 closed

[2018-01-26 20:47] TheRealJon commented on #923
@kirantpatil I can't seem to duplicate this issue. A few points:

1. You are wrapping your table in a `card-pf-aggregate-status` element which is an unusual use of this design pattern. See http://www.patternfly.org/pattern-library/cards/aggregate-status-card. I'm not sure if this could be having some unexpected side effects.

1. I noticed you are using the classes "c3" and "c2" on some of the tabl

[2018-01-27 03:00] dabeng commented on #930
Hi @serenamarie125 . I reviewed the source code of bootstrap-slider.html page and patternfly.js. It seems that  there are no according code snippets to implement the feature described on the [design doc](http://www.patternfly.org/pattern-library/forms-and-controls/slider/#design).

`
6. Field Input (Optional): The slider can optionally have a field input on the right side to enter the desired valu

[2018-01-27 04:19] dabeng commented on #932
Hi @mcarrano , I find the cause of this issue. Let's discuss it on https://github.com/patternfly/patternfly-org/issues/514

[2018-01-27 17:54] gregsheremeta commented on #864
No, IMO it should be fixed. We've hacked around it in oVirt, and I made a TODO in our code to remove the hack when the PatternFly bug is fixed.

When you release the fix, make sure people know about this potential break in the release notes. If you prefer, wait for a major version (3 -> 4 or whatever)

[2018-01-29 15:06] #891 closed

[2018-01-29 21:36] mcarrano opened #942 "Notification Drawer missing hover states on notification items"
Per the design here: http://www.patternfly.org/pattern-library/communication/notification-drawer/#design, items in the notification drawer should have a hover state. Furthermore, the cursor should change to the hand whenever an item is actionable. This is the case for unread items that are shown in bold where clicking on these items changes them to read.

Also see https://github.com/patternfly/pat

[2018-01-30 22:46] jgiardino opened #943 "Inconsistency between HTML/CSS and React Implementation for field level help"
We have a [PR in patternfly-react](https://github.com/patternfly/patternfly-react/pull/179) for adding a FieldLevelHelp component based on the [patternfly design documentation](https://rawgit.com/dabeng/patternfly-org/dt-space-dist/_site/pattern-library/forms-and-controls/help-on-forms/), but there isn't an html/css implementation for us to follow.

There are a couple of issues I've noticed in the

[2018-01-31 09:18] kirantpatil commented on #923
If I add records to it then the headers will start to shrink to display the rows as below.

![image](https://user-images.githubusercontent.com/1178055/35614623-bef4ed6a-0695-11e8-95b9-4c1637d19354.png)

[2018-01-31 11:21] kirantpatil commented on #923
I am using Firefox version 58 which is latest.

[2018-01-31 11:30] #852 closed

[2018-01-31 12:07] #918 closed

[2018-01-31 15:59] TheRealJon commented on #923
@kirantpatil Were you able to pinpoint any CSS rules that are affecting the table styles? I have been unable to duplicate the issue, so I can't verify that this is a PatternFly problem.

[2018-01-31 16:21] TheRealJon opened #944 "Quick Start guide needs update"
The quick start guide has not been updated since our dist has changed. The `What's Included` section is not accurate. The rest of the guide should also be revised to make sure no other discrepancies exist.

[2018-02-01 07:32] kirantpatil commented on #923
Sorry I am not good at CSS. I tried but couldn't figure out. To verify, I can host the app in aws and provide you app login details. Is it ok for you ?

Please send me testmail to kirantpatil@gmail.com

[2018-02-01 21:32] jcaianirh opened #946 "pfToolbar Button Alignment Wrapping Issue"
When wrapping, the buttons in a pfToolbar should become left justified when shrunk to < 768 pixels rather than have a small left indent as seen in the example below:

![patternflycoretoolbarbuttonwrap](https://user-images.githubusercontent.com/35978579/35704353-37b6f5e0-076d-11e8-9166-6876ab0bdd5c.png)

This stems from the original issue in angular-patternfly located here:
https://github.com/patte

[2018-02-02 08:29] jamesnetherton opened #947 "TreeGrid table is slow with large datasets"
I'm working with a TreeGrid table which has around 600 items. It's quite slow to do the initial tree view render and when subsequently expanding or collapsing any of the tree nodes.

After a brief bit of profiling, it seems much of the time is being spent [here](https://github.com/patternfly/patternfly/blob/master/src/js/patternfly-functions-tree-grid.js#L10).

Does it need to use `closest`? Paren

[2018-02-05 06:15] dabeng commented on #846
@jeff-phillips-18 @michpetrov I tried to refactor the js code snippets on patternfly/tests/pages/_includes/widgets/forms/field-level-help.html. Here's the **[Demo](https://rawgit.com/dabeng/patternfly/popover-close-dist/dist/tests/popovers.html)** page.
[code]

[2018-02-05 06:39] dabeng commented on #850
Hi @survi91 I wonder if you got correct render results when you access https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toast.html

[2018-02-05 11:38] andreasn opened #949 "conflicting guidelines about breadcrumbs"
We wanted to make sure we used the correct breadcrumb bar in Cockpit, but upon closer inspection, it seems there are two different ones in Patternfly. Slightly different from each other.
Breadcrumb on Widgets page http://www.patternfly.org/pattern-library/widgets/#breadcrumbs
Breadcrumb on Navigation page http://www.patternfly.org/pattern-library/navigation/breadcrumbs/

What one is correct, and s

[2018-02-05 17:09] andresgalante commented on #946
Hi @jcaianirh this is not happening on patternfly CSS https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toolbar.html

Are you sure the angular implementation is correctly reproducing the HTML?

[2018-02-05 17:10] andresgalante commented on #944
Thanks a lot @TheRealJon

[2018-02-05 17:14] andresgalante commented on #943
This element was part of patternfly at one point, I don't know why or when it was removed. I suspect the code is still in the codebase but I couldn't digg it up :(

[2018-02-05 18:31] mcarrano commented on #949
It looks like the difference here is in styling where the basic Bootstrap breadcrumb uses a double ">" and the Bootstrap pattern page a single ">".  So I assuming the question is whether to use "first level >> second level >> current page" or 'first level > second level > current page'. Is that your question @andreasn ?

@kybaker any thoughts on which visual styling we should be using? I don't thi

[2018-02-05 21:40] beanh66 opened #950 "Tree List View with Muti-Child Expansion"
We have a request for the [Tree List View with Multi-Child Expansion](http://www.patternfly.org/pattern-library/content-views/tree-list-view/#design) in Angular. Currently there is no implementation for PF Core, so if possible, we would be looking to get this into core and then follow up with the Angular implementation.  The ADS Team in IT is looking for this component. See related Angular issue h

[2018-02-06 05:50] dabeng commented on #706
Hi @Layla-P . Default active menu item is used for display selected status. I think it's a part of design intention.

[2018-02-06 07:07] dabeng commented on #947
Hi @jamesnetherton , I agree with you. `rows.closest(parent)` will bring performance impact. It's better to replace `rows.closest(parent)` with `$(parent)`

@dlabrecq @jeff-phillips-18 @cliffpyles  Any thoughts ?

[2018-02-06 07:16] dabeng commented on #930
@LHinson @cliffpyles @jeff-phillips-18 shall we begin to implement the expected behaviors of slider with input box for now ?

[2018-02-06 10:57] andreasn commented on #949
@mcarrano yes, that and if we should use the divider or not. (number 5 [here](http://www.patternfly.org/pattern-library/navigation/breadcrumbs/#design)
It also seems like the code example on the [react code example page](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=Breadcrumb&selectedStory=Breadcrumb&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2F

[2018-02-06 11:41] jeff-phillips-18 commented on #846
@dabeng Works for me.

[2018-02-06 13:49] matthewcarleton commented on #846
@dabeng looks good to me, nice work!

[2018-02-06 15:09] dlabrecq commented on #947
Not certain $(parent) is the correct syntax here, but .parent() should return the direct parent of a node. You can also do something more like $(“child”).parent();

[2018-02-06 15:28] jamesnetherton commented on #947
Not sure `$(parent)` or `$("child").parent() ` is correct either. Parent is set like this:

[code]
A typical value will look like `#some-parent-id`. We just need to do an element look up against that value.   So `$(parent)` should be ok (I think). I hacked my local copy of patternfly.js to use this and it seems to be working fine.

[2018-02-06 15:34] LHinson commented on #950
@beanh66 The current pf-list implementation [1] does support the addition of nested rows. That said, after reviewing the implementation, we found that there is a discrepancy between the design and the implementation that we must resolve. I will be leaving for PTO and back the week of 2/19 and have scheduled a meeting for that week to discuss best next steps. Apologies for the delay here but at lea

[2018-02-06 15:46] kybaker commented on #949
@mcarrano @andreasn This is an example of PatternFly exposing all bootstrap widgets by default and later documenting them in another place. But in this case they are using very similar styling. We should be using the single arrow for both. You could also show the breadcrumb in the container or not depending on the layout so both are correct from that perspective.

[2018-02-06 15:51] mcarrano commented on #949
Thanks, @kybaker If that's the case, then our sample code should also change to reflect that. Is this something we can update @andresgalante ?  This change should also be mirrored in the React repo. @priley86 FYI

[2018-02-06 19:36] #944 closed

[2018-02-07 05:36] dabeng commented on #846
Hi @jeff-phillips-18 @matthewcarleton , please review the related PRs :)

[2018-02-07 07:12] dabeng commented on #682
I came across the same issue when I contributed code to PELC. I'll try to send a PR : )

[2018-02-07 22:31] #846 closed

[2018-02-08 05:57] dabeng commented on #939
+1 . For now, the jquery dependency of patternfly-core is upgraded to verison 3.2.1. We'd better to use recommendation syntax - `.on( "resize", handler )`

https://github.com/jquery/jquery-migrate/blob/master/warnings.md#jqmigrate-jqueryfnclick-event-shorthand-is-deprecated

[2018-02-08 10:01] dabeng commented on #512
Hi @skateman. It seems that pattenfly-functions-sidebar.js is particularly used in vertical navigation layout. IMO, sidebar is more suited to horizontal navigation layout.

@mcarrano @andresgalante  Any thoughts ?

[2018-02-08 14:19] dabeng commented on #930
Hi @serenamarie125 @matthewcarleton  I made a **[Demo](https://rawgit.com/dabeng/patternfly/slider-dist/dist/tests/bootstrap-slider.html)** for slider with input box. Please review.

[2018-02-08 14:29] matthewcarleton commented on #930
@dabeng it is possible to have the slider update if the value is updated in the input as well?

[2018-02-08 15:10] dabeng commented on #930
Hi @matthewcarleton , you need to press "enter" to update slier value.

[2018-02-08 15:13] matthewcarleton commented on #930
ah perfect! thanks @dabeng

[2018-02-09 02:48] serenamarie125 commented on #930
This is looking really good @dabeng !  I have a couple of questions ...

1. If the user enters a value, and then tabs out of the field, I'd assume the slider would update

1. Can we set valid characters, so it will only accept numbers to be input in the field?

1. Can we perform input validation?  If we implement the valid characters piece, we still need to make sure that the number entered is bet

[2018-02-09 05:57] serenamarie125 commented on #888
@andresgalante @LHinson is this something we can look into?  If so, I'd assume we need visual help first?

[2018-02-09 08:32] dabeng commented on #930
Great ideas. Thank you very much @serenamarie125 I have improved the **[Demo](https://rawgit.com/dabeng/patternfly/slider-dist/dist/tests/bootstrap-slider.html)** according to your advice:

1. Adds "blur" event handler to response users' tab-out action

2. Adds input validation for text-box adjacent to slider

3. If uses input string, space or invalid numbers beyond given range, warning tooltip wi

[2018-02-09 12:10] jeff-phillips-18 commented on #930
Seems a bit much to be handling in core but if we have it already no sense it not providing it. I'll let @serenamarie125 and/or @mcarrano decide if the tooltip is necessary or if the field should just use the stander error outline when invalid or prevent invalid chars all together. This is where it get to be too much to provide in the test pages.

[2018-02-09 13:44] matthewcarleton commented on #888
@serenamarie125 @himdel Looking into this now :)

[2018-02-09 13:46] matthewcarleton commented on #930
I'm with @jeff-phillips-18 here. If we are providing JS we should do it all 👍

[2018-02-09 14:33] mcarrano commented on #930
I think that the demo looks great, @dabeng ! Just a couple of comments. I think that a slider should always have some labeling so that the user can see what the min and max values are at either end of the slider bar. Can we add this? It is something that I think was an oversight in the design doc and we can go back and fix that. I do like the tooltip that reflects why the textbox entry was not acc

[2018-02-09 14:45] maryclarke commented on #930
I agree @mcarrano, it would be good to have end points reflected.  Also, what about having a tooltip when the user hovers over the slider indicating what number they are getting ready to change it to?  This may be overkill, but could also help with understanding of the scale.  This would also obviously only be for sliders without detents.

[2018-02-09 14:50] andresgalante commented on #682
I'll close this issue since #185 solves it

[2018-02-09 14:50] #682 closed

[2018-02-10 00:01] dabeng commented on #930
It looks like we don't come to a agreement on design details of slider with text-box. Perhaps we should implement according behavior with js code after design is done.

[2018-02-12 11:31] martinpovolny commented on #512
I'd like to express my appreciation that someone has picked up this issue since we have been having the problem for quite some time. Actually we reporter it on Oct 17, 2016.

More to the point: I failed to find any PF docs on that. I belive it is taken from here: https://bootstrapious.com/p/bootstrap-sidebar. And I see the Sidebar is used in the same orientation as we do (vertical).

So, @dabeng,

[2018-02-12 11:47] skateman commented on #512
Related MiQ issue: https://github.com/ManageIQ/manageiq-ui-classic/issues/1884
Also we got a BZ where on small screens the sidebar is not being displayed at all: https://bugzilla.redhat.com/show_bug.cgi?id=1389022

[2018-02-12 13:14] jeff-phillips-18 commented on #512
Taking a look now.

[2018-02-13 17:06] matthewcarleton commented on #887
@jeff-phillips-18 was this resolved here [here](https://github.com/patternfly/patternfly-react/pull/151)

[2018-02-13 17:51] jeff-phillips-18 commented on #887
@matthewcarleton I believe so. Closing this issue.

@danseethaler Please reopen if this is a different issue.

[2018-02-13 17:51] #887 closed

[2018-02-13 20:20] serenamarie125 commented on #930
@jeff-phillips-18 I agree that I'm not sure that the tooltip is the best mechanism, but from a test page perspective, it's nice to see that we are doing some error checking.  I imagine that this would be used in a form, and would then have consistent error handling for all the form elements.

[2018-02-13 20:27] mcarrano commented on #930
@dabeng The tooltip the way you have it is fine to report an entry error in this demo. The only thing we ask whether it's possible to just constrain the text box to only accept a numeric (whole number or decimal) value. If not, we can keep as is. I'd also ask that you add end points (i.e. 0 and 100) to your example to provide more feedback on the valid range. We can update the design documentation

[2018-02-16 16:48] jennyhaines commented on #907
@beanh66 @andresgalante -

I've mocked up the cases when 1, 2, 3, or 4-5 secondary actions are presented within an empty state! (When there are 0 secondary actions, just the primary action button will appear, so no need to mock up!) Thoughts? I thin this is pretty straight forward... I tried a lot of visual options out, but came back to this!

**1 Secondary Action:**
![optiona](https://user-images

[2018-02-16 19:48] beanh66 commented on #907
Thanks @jennyhaines! As we discussed, I think these look great.

[2018-02-16 20:44] mindreeper2420 opened #956 "Card Title Overwrites Default Heading Styles"
In a Card, the class `.card-pf-title` overwrites the default HTML heading styles for PatternFly. This appears to be the only place that overwrites the default HTML elements - all other places (in the list views, empty states, etc.) use styled `<div>` tags.

This overwrite is causing issues when the [typography](http://www.patternfly.org/styles/typography/) page states one style, but the cards have

[2018-02-19 17:02] mcarrano opened #957 "Info Tip should not dismiss when clicking on it."
Info tips should only close when either clicking outside the area of the tip window or by an action taken via clicking on an element inside the tip (i.e. a close button). This is not true for the current example. See https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/infotip.html

[2018-02-19 19:03] mcarrano opened #958 "Replace 'pf-red-100' with 'pf-red-300' when used in core PatternFly examples."
An issue was filed against patternfly-design noting that pf-red-100 should not be used for error indicators as this is the Red Hat brand color. See https://github.com/patternfly/patternfly-design/issues/558 for more details.

Want to replace instances where 'pf-red-100' is used with 'pf-red-300' in code examples and test pages.

[2018-02-19 19:06] mcarrano commented on #958
@matthewcarleton this issue was raised from the design side and you can see @kybaker 's comments there. Can you take a look at this to see what it would take to make these updates? Glad to pull together a meeting with you, Kyle, and I if it will help. Thnx.

[2018-02-19 21:23] Mgranfie commented on #957
@mcarrano would the dismissal also include, if a content item, like an action item in the tip? It looks like one of these items would be clickable, navigable and then it would close on clicking of a line item, not the background.

[2018-02-19 21:55] mcarrano commented on #957
Yes, one could put an action inside the tip to close it, but it should not close just by clicking on the tip/background itself.

[2018-02-20 15:00] KwisatzHaderach opened #959 "Notification drawer wastes space by showing up at fixed height"
When notification drawer doesn't contain enough items, it still draws itself over the whole page.
It might be better to draw it only as high as it's necessary to display all visible items and not below that.
![notif_drawer](https://user-images.githubusercontent.com/2510105/36431017-c468b4e0-1656-11e8-88d3-cc8a441712f1.png)

[2018-02-20 18:13] matthewcarleton commented on #958
Hey @mcarrano we can do this, but it will be a breaking change. Are we ok with that @LHinson?

[2018-02-20 18:36] matthewcarleton commented on #959
thanks @KwisatzHaderach. I think this would be more of a patternfly design issue though so I'm moving it over there.

[2018-02-20 18:37] #959 closed

[2018-02-20 19:16] LHinson commented on #950
After our meeting today, we have determined that the design documentation with nested rows will remain until a mobile strategy is defined for PatternFly. You should be all set with the core implementation therefore I would like to close this issue @beanh66. Please let me know if there are any concerns with this.

[2018-02-20 19:36] beanh66 commented on #950
@LHinson I created this issue originally because I don't see anything on the PF site as far as a core implementation goes: http://www.patternfly.org/pattern-library/content-views/tree-list-view/#code. If there is already an implementation, can we get it up on the main code page?

[2018-02-20 20:02] LHinson commented on #958
I'm ok with this breaking change however we have a number of things that we want to consider for short term visual changes therefore I would like to wait to understand those first and coordinate around that so we can group any and all breaking changes together. @mcarrano @matthewcarleton

@mcarrano I believe this topic is on deck for the next pf-design meeting?

[2018-02-22 06:51] dabeng commented on #930
Hi @serenamarie125 @mcarrano Do you mean that we could remove tooltip for slider with text-box ?

[2018-02-22 06:58] dabeng commented on #930
Additionally, adding end points and character validation are easy to implement. Trust me.

[2018-02-22 14:23] mcarrano commented on #930
@dabeng I don't have a problem with leaving the tooltip in. Do you, @serenamarie125 ?

[2018-02-22 14:26] matthewcarleton commented on #919
I'm going to close this based on [this](https://github.com/patternfly/patternfly-design/pull/544)

[2018-02-22 14:35] matthewcarleton commented on #871
Thanks @lancejjohnson. We are in the process of addressing this issue for patternfly.org. I'm going to close this and move it over to the org repo to properly track it.

[2018-02-22 14:35] #871 closed

[2018-02-22 14:43] matthewcarleton commented on #865
good idea @jeff-phillips-18 What is required to do this?

[2018-02-22 14:44] matthewcarleton commented on #847
@TheRealJon can we close this now?

[2018-02-22 14:48] matthewcarleton commented on #828
@LHinson do you know the status of this issue?

[2018-02-22 14:50] matthewcarleton commented on #823
@seanforyou23 can this be closed?

[2018-02-22 14:58] TheRealJon commented on #847
@matthewcarleton Yes! I'm pretty sure we can

[2018-02-22 14:58] #847 closed

[2018-02-22 15:18] LHinson commented on #725
Closing as this #808 has been merged

[2018-02-22 15:18] #725 closed

[2018-02-22 15:32] LHinson commented on #957
In addition to the click behavior, there is more issues with info tip....

1. Info Tip is a confusing name as this is a variation of the drop down.
2. We should visit the design to determine if we are using (i) icon is being used appropriately.

These are all breaking changes therefore lumping them into the "Next Major Release" milestone so we can coordinate on all these changes.

[2018-02-22 15:38] LHinson commented on #956
@mindreeper2420 when say "causing issues" can you be specific about what those issues are? I didn't know if there was an issue beyond that it just doesn't match what is stated in the typography page. Thanks for clarifying!

[2018-02-22 15:43] mindreeper2420 commented on #956
@LHinson Would "causing confusion" be more appropriate? There have been a few instances where designs reference the typography page to use a specific heading style but when the Card Titles don't match that, there is confusion as to what is the appropriate style.

I.E. The Typography page has `<h2>` as `font-size: 22px`, yet the `<h2>` within the Card Title is overwritten to be `font-size: 16px`

[2018-02-22 15:44] LHinson commented on #950
I've added this to the PF Scrum backlog to contribute to the core code https://patternfly.atlassian.net/browse/PTNFLY-2780

[2018-02-22 15:55] LHinson commented on #949
@matthewcarleton to follow up with @kybaker on this to confirm the double arrow approach. If so, here are our next steps:

We will mark the breadcrumb widget as deprecated on the site to avoid further confusion and point to the breadcrumbs pattern page as the single point of truth. That way, we will not break anyone using the double arrow.

[2018-02-22 15:59] LHinson commented on #946
Hey @jcaianirh, let us know if this ends up being a PatternFly issue and we'll be happy to address. For now, I'm closing.

[2018-02-22 15:59] #946 closed

[2018-02-22 17:54] LHinson commented on #956
OK thanks @mindreeper2420

Let me validate the size, I do believe this was intentional. Assuming that's correct, I'll add a bug to patternfly-design to identify the the rhyme and reason for this on the pattern documentation.

I'll get back to you!

[2018-02-22 19:25] LHinson commented on #828
@andresgalante I remember you got blocked on his one. Will you specify what you need to complete this?

[2018-02-22 20:05] beanh66 commented on #907
@andresgalante Any update on this? @amysueg FYI this is the issue we discussed that may be helpful for your product as well :)

[2018-02-22 20:40] serenamarie125 commented on #930
@dabeng that's fine, you can leave it.  Thanks!

[2018-02-23 12:33] jeff-phillips-18 commented on #865
@matthewcarleton investigated and found Patternfly was already on nodesecurity.io so easy enough just to add the badge. PR is up.

[2018-02-23 13:27] serenamarie125 commented on #930
looks great, thanks @dabeng are you putting up a PR for this?

[2018-02-23 13:38] #865 closed

[2018-02-23 16:12] kybaker commented on #949
@LHinson @matthewcarleton @mcarrano After reconsidering this issue we are in agreement that it makes sense to take the time to correct this issue and move toward a breadcrumb with a single arrow.

[2018-02-23 19:15] ncameronbritt opened #963 "Tooltip location is far from the pointer on the donut charts demo page"
On the [donut chart demo page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/donut-charts.html) the tool tip appears quite far away from the pointer. See below:
![screen shot 2018-02-23 at 2 13 13 pm](https://user-images.githubusercontent.com/8974593/36612165-c2764946-18a3-11e8-9b43-beecd4a445ff.png)

The issue seems to affect the 2nd, 3rd, and 4th examples on that page.

[2018-02-23 19:15] ncameronbritt commented on #963
cc @TheRealJon

[2018-02-23 21:40] dlabrecq opened #964 "Cannot deploy PatternFly (bower) to webjars.org"
PatternFly is typically deployed to webjars.org via Travis scripts run during the semantic release. However, I was also not able to deploy manually via webjars.org -- anyone can deploy. In either scenario, I encounter the same error.

The error message states that the following repos have non-spec-compliant licenses:

- https://github.com/spencewood/google-code-prettify.git
- https://github.com/pa

[2018-02-26 04:42] serenamarie125 commented on #864
@matthewcarleton I don't think we should be closing this.  It should be addressed in the next major release if it's a breaking change.

[2018-02-26 13:28] matthewcarleton commented on #864
@LHinson should this be added to our milestone?

[2018-02-26 14:02] cliffpyles commented on #930
This looks great @dabeng! Awesome work!

[2018-02-26 18:50] amysueg commented on #907
@beanh66  - Will keep in mind if we ever have 3 or more actions in the empty state. at the moment I believe our two actions align as specified by patternfly.

[2018-02-27 12:10] michpetrov commented on #963
Looks like the chart container has to be a block element, I'll fix it.

[2018-02-27 14:42] LHinson commented on #828
@kybaker per the story here: https://patternfly.atlassian.net/browse/PTNFLY-2654, @andresgalante notes that:

![screen shot 2017-12-01 at 2 45 47 pm](https://user-images.githubusercontent.com/7924406/36734774-8226069a-1ba2-11e8-8f62-67be567b13d7.png)

Will you please advise?

[2018-02-27 14:48] kybaker commented on #828
@andresgalante I would be in favor of adjusting the hover state to make it more visible. You will have to try a few in the code to see what works best.

[2018-02-27 16:49] LHinson opened #967 "Inline edit example missing from core"
Related to pf-react issue: https://github.com/patternfly/patternfly-react/issues/187 which states:

From @dabeng

[2018-02-27 18:21] jgiardino commented on #967
@dabeng You had included some comments in the [patternfly-react issue](https://github.com/patternfly/patternfly-react/issues/187#issuecomment-368381588). Would you mind adding them here for discussion?

@andresgalante @matthewcarleton @srambach If you have time, could you review the css and provide feedback?

[2018-02-27 19:04] LHinson commented on #950
@dabeng is currently working on contributing this

[2018-02-27 19:20] LHinson commented on #943
I also could not find the implementations on our test pages. I'l add this as a PF Scrum issue

[2018-02-27 19:39] LHinson commented on #923
hey @kirantpatil, is it possible for you to produce a URL to show the issue that you are trying to resolve?

[2018-02-27 19:52] matthewcarleton commented on #919
Based on the new design docs, for this to be optional we will have to refactor the css. This will get added in the backlog.

[2018-02-27 19:52] LHinson commented on #919
story link is here: https://patternfly.atlassian.net/browse/PTNFLY-2806

[2018-02-27 19:57] LHinson commented on #907
I've added this story to the PF backlog. It's in our current sprint and @dabeng is going to address it. Here is the link to the story if interested: https://patternfly.atlassian.net/browse/PTNFLY-2801

[2018-02-27 19:59] LHinson commented on #912
Thanks @TheRealJon for helping us out on this one. I'm going to close this issue. @kirantpatil feel free to follow up if need be!

[2018-02-27 19:59] #912 closed

[2018-02-27 20:45] matthewcarleton commented on #888
@serenamarie125 @LHinson I agree. If we want to make this change we'll need some design input.

[2018-02-27 21:19] amarie401 opened #968 "Change image paths on single sign on to be dynamic for org to consume"
I am in the process of adding the single-sign-on code example to pf-org using the `login-single-sign-on.html` as an include. Currently the google drive svg, gmail svg, and google calendar svg have paths of:

`{{site.assets-base}}/img/google-drive.svg"`
`{{site.assets-base}}/img/gmail.svg`
`{{site.assets-base}}/img/google-calendar.svg`

pf-org cannot find this path because it points to `/patternfly

[2018-02-28 02:56] dabeng commented on #967
Maybe we can regard it as a starting point and go on with other inline-edit forms(inline-edit in a list view, table view) described in design doc.

**Inline Edit Additional Information:**
1. All the components used in "inline-edit in a form" are existing components listed in patrernfly library section of patternfly.org;

2. Currently, "inline-edit in a form" pattern includes 6 types of input field

[2018-02-28 12:58] matthewcarleton commented on #968
Hey @amarie401 if you have the time and want to take care of it that would be great, thanks!

[2018-02-28 13:45] dabeng commented on #907
Hi @jennyhaines . I created a **[demo page](https://rawgit.com/dabeng/patternfly/empty-state-dist/dist/tests/blank-slate.html)** of blank slate according to your design pictures. @andresgalante @LHinson please review the demo whenever you get the chance.

[2018-02-28 13:48] beanh66 commented on #907
@dabeng Thanks that looks great!

[2018-02-28 13:50] beanh66 commented on #950
Thanks @LHinson!

[2018-02-28 13:54] dabeng commented on #907
@beanh66 It's my pleasure that this fix could be helpful for you 😊

[2018-02-28 14:07] jgiardino commented on #967
@dabeng Thanks for adding the notes! Would you also open a PR with the updates you made so that we can review from there?

[2018-02-28 14:15] amarie401 commented on #907
Looks awesome @dabeng !

[2018-02-28 15:15] rhamilto commented on #907
A consideration:  button labels with a length longer than the specified min-width end up wider than buttons without.  Is this intentional?

![screen shot 2018-02-28 at 10 13 25 am](https://user-images.githubusercontent.com/895728/36795119-2a1d1b72-1c70-11e8-90fa-8f9e4cac979b.PNG)

My recommendation is to build and test using real world data, not mock data that may or may not illustrate such things

[2018-02-28 15:34] serenamarie125 commented on #907
@beanh66 can you also review the demo page from @dabeng ?

[2018-02-28 15:45] serenamarie125 commented on #907
@dabeng looks good!
@rhamilto brings up a good point.  Can you update the storybook so we can see how it looks/behaves responsively when there is a long button label?

[2018-02-28 15:47] beanh66 commented on #907
@rhamilto Agreed. @dabeng button widths should be consistent regardless of the button label lengths. Can you make sure that is the case here with this implementation?

[2018-02-28 16:26] jennyhaines commented on #907
@dabeng - I think it looks great! The link might want to say "in the documentation" instead of "on the documentation", but that's nit-picky, I know! To address what @rhamilto noticed about the longer button length, I agree that the button widths should be consistent.

To keep the button lengths from betting out of hand, we might want to add a suggested max character count for our button pattern in

[2018-02-28 17:31] amarie401 opened #972 "Update img paths on login social accounts"
Similar to issue #968 to update the image paths of the login components to be more dynamic for org to consume.

Need to update:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/login-social-account.html

@matthewcarleton does Login Social Account (two column) also need to be updated?

Thanks!

[2018-02-28 17:43] beanh66 commented on #907
Awesome, thanks for the input @jennyhaines 👍

[2018-02-28 18:06] matthewcarleton commented on #972
Hey @amarie401, ya it's basically the same just a second column of the same markup. Let me know if you need any help with it.

[2018-02-28 18:22] andresgalante commented on #968
The code looks ok, thanks a lot @amarie401

@LHinson if we are ok showing copyrighted logos, please merge it

[2018-02-28 19:23] #963 closed

[2018-02-28 22:12] jeff-phillips-18 commented on #939
Agreed

[2018-03-01 09:48] dabeng commented on #907
Hi @jennyhaines , I have updated the [demo page](https://rawgit.com/dabeng/patternfly/empty-state-dist/dist/tests/blank-slate.html) according to your idea. I choose to use unit ["ch"](http://meyerweb.com/eric/thoughts/2012/05/15/defining-ch/) to set button width.

Additionally, I have a concern. Due to "ch" is a relative unit, I have to construct the complex calc() expression in order to keep the

[2018-03-01 10:02] dabeng commented on #907
0.8571  =  secondary button font-size / primary button font-size
0.6363 = (primary button padding-left + border-width) /  (secondary button padding-left + border-width)

[2018-03-01 14:15] #949 closed

[2018-03-01 14:23] #968 closed

[2018-03-01 14:30] andresgalante commented on #842
Hi @andreasn I think that including a new size for modals might be too much.

Can you help me understand the usecase where you need a md size modal?

[2018-03-01 16:01] #942 closed

[2018-03-01 16:12] #919 closed

[2018-03-01 16:16] LHinson commented on #844
Thanks @matthewcarleton Since the new login resolves this, I'm going to close this issue. Thx!

[2018-03-01 16:16] #844 closed

[2018-03-01 16:19] jennyhaines commented on #907
@dabeng - This is why I am not a dev... darn MATH! :-) Thank you for doing that! I do understand the need to make sure that the code is easy to maintain, so I think you are right in using set pixel widths. (180 for short buttons, and 240 for longer buttons).

My only worry is around differing language translation lengths. Something that is, say, 20 characters in English might be 30 characters in G

[2018-03-01 16:20] LHinson commented on #662
@cliffpyles can you confirm that this issue is resolved with #812? If so, can you close this?

[2018-03-01 16:21] andresgalante commented on #829
Fixed on #974

[2018-03-01 16:21] #829 closed

[2018-03-01 16:39] LHinson commented on #876
this was a bug with the semantic release https://github.com/semantic-release/semantic-release/issues/363

we should fix globally

[2018-03-01 16:40] matthewcarleton commented on #838
Hey @Garrett I'm going to send this over to design to get review. Thanks!

[2018-03-01 16:40] #838 closed

[2018-03-01 16:58] matthewcarleton commented on #837
I'm going to move this over to design to get their input on it. Thanks @Layla-P

[2018-03-01 16:58] #837 closed

[2018-03-01 17:45] matthewcarleton commented on #830
I'm going to move this over to design to continue the discussion. Thanks!

[2018-03-01 17:45] #830 closed

[2018-03-01 17:47] matthewcarleton commented on #790
@LHinson I'm going to close this and we can continue with the issue you've created in design. Thanks!

[2018-03-01 17:47] #790 closed

[2018-03-01 17:54] matthewcarleton commented on #543
Hey @thiagodp we have [this](https://github.com/patternfly/patternfly-design/issues/553) issue open in design so I'm going to close this here. Thanks!

[2018-03-01 17:56] LHinson commented on #790
Just to loop back around on this issue.... the design issue is closed as well. While it may be inconsistent, the hover allows a user quick access to menu items. For that reason, the inconsistency is considered intentional and there will be no change at to the nav at this time.

[2018-03-01 18:02] matthewcarleton commented on #723
#766 Relates to this and another open issue #839
Should we consider prioritizing it to get it merged @LHinson?
@jgiardino suggested breaking it out to deal with these specific issues so that could be an option as well.

[2018-03-01 18:09] matthewcarleton commented on #790
Oh that's my fault, I didn't see that it was closed. Thanks for the update @LHinson

[2018-03-01 20:17] jgiardino commented on #723
I think the css updates in #766 addresses the issues in #839
I'm hesitant to really do anything more in the html other than just making the <a> keyboard accessible.

[2018-03-01 20:36] thiagodp commented on #543
Hi @matthewcarleton, will this issue be developed there? Whether it is, okay to close here.

[2018-03-02 00:04] matthewcarleton commented on #543
Hey @thiagodp the design repo is where it belongs, if it does get developed that's where it will start. If you have any other questions just let me know!

[2018-03-02 02:01] dabeng commented on #907
@jennyhaines @beanh66 @rhamilto I have created demos on codepen.io to show different solutions. They are easy to be tested and amended, so feel free to customize the code based on your ideas.

Besides, I also added some labels composed of german characters  with the help google translate.

FYI, on condition with same language and same character encoding, different character has different width. So

[2018-03-02 02:31] serenamarie125 commented on #907
@dabeng thanks for this extra work!

Regarding the actual length to use/algorithm, I would defer to suggestions from @andresgalante or @rhamilto on this

[2018-03-02 13:28] kirantpatil commented on #923
@LHinson, let me host it and share the link.

Please share your gmailid to kirantpatil@gmail.com, and I will send URL with credentials to login.

[2018-03-02 14:36] dgutride commented on #767
@LHinson @jeff-phillips-18  - is this a js issue or does your comment above provide sufficient information on how to work through this?

[2018-03-02 16:03] beanh66 commented on #907
@dabeng Thanks, this looks great 👍 Just posting a screenshot of an example I tried with your demo so others can see.
<img width="807" alt="screen shot 2018-03-02 at 11 02 37 am" src="https://user-images.githubusercontent.com/18057044/36908492-5c5ea520-1e09-11e8-97b8-b7b31a8b135f.png">

[2018-03-02 16:18] thiagodp commented on #543
Okay @matthewcarleton, thx.

[2018-03-05 11:04] andresgalante commented on #907
Hi @beanh66 I have a design question: if the label is a single short word then then btn looks too wide, and if it's a large string, it get ellipse, which might be really bad for a call to action since you wouldn't be able to read it! I mean, it's a call to action it might something like: "Click on this btn to immediately **delete everything you've ever done**" and the last part can be cut off 😄.

[2018-03-05 11:36] dabeng commented on #950
Hi @beanh66 , please review demo page:

- [Tree List View - Single Child Expansion](https://rawgit.com/dabeng/patternfly/tree-list-view-dist/dist/tests/tree-list-view-single-child-expansion.html)
- [Tree List View - Multiple Child Expansion](https://rawgit.com/dabeng/patternfly/tree-list-view-dist/dist/tests/tree-list-view-multiple-child-expansion.html)

[2018-03-05 13:18] beanh66 commented on #907
@andresgalante I see your point, but I don't know that we should account for ANY length button label. Realistically the names should never be that long IMO. I'd prefer the buttons be the same length but it seems to be more of a visual design question. I think in the rare case where labels are very long, consumers can take advantage of the link option rather than buttons. @jennyhaines provided thes

[2018-03-05 13:30] matthewcarleton commented on #950
Thanks for doing this @dabeng. This shows the issue we have with smaller screens though. @LHinson have we agreed to just move forward with this not being responsive?

[2018-03-05 14:48] LHinson commented on #950
@matthewcarleton yes, until we have a mobile strategy in place, this will remain as the design specifies.

[2018-03-05 15:15] michael-coker commented on #950
You've got a `z-index` issue with the kebab menu in selected nested rows. Otherwise it looks good to me.

![screen shot 2018-03-05 at 9 10 28 am](https://user-images.githubusercontent.com/35148959/36982440-7de1c558-2055-11e8-8176-60a5dbade534.png)

[2018-03-05 15:51] matthewcarleton commented on #950
@michael-coker can you provide browser/version you are seeing this in? I tried in Safari, Firefox, Chrome and don't get the same result.

@LHinson 👍

[2018-03-05 16:04] michael-coker commented on #950
@matthewcarleton Chrome 64.0.3282.186 (Mac). It only happens when the row is selected.

[2018-03-05 16:12] matthewcarleton commented on #950
@michael-coker ah that's what I was missing

[2018-03-05 18:21] beanh66 commented on #950
Thanks @dabeng, looks good. @dtaylor113 please take a look as well.

[2018-03-05 19:25] AllenBW opened #975 "Disabled pager does not show `not-allowed` cursor"
<img width="1920" alt="screen shot 2018-03-05 at 2 24 02 pm" src="https://user-images.githubusercontent.com/6640236/36995006-e163a882-2080-11e8-8438-2149b61d50f2.png">

☝️ look, see? Its not a disabled cursor 😭 on drats, doesn't show the cursor, well... just know... it doesn't show `not-allowed`

Offending line is here:
https://github.com/patternfly/patternfly/blob/master/src/less/pager.less#L35

[2018-03-05 19:29] jeff-phillips-18 commented on #975
Would be nice to have styling to allow the use of a button rather than an anchor as well.

[2018-03-05 20:19] dtaylor113 commented on #950
LGTM, although is this supposed to work with https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-compound-expansion.html ?  I could see someone wanting to add open/close arrows on those middle icons and counts.

[2018-03-05 21:15] LHinson commented on #950
@dtaylor113 there is no design documentation specifying how that particular design would work. See: http://www.patternfly.org/pattern-library/content-views/tree-list-view/#overview

For that reason, I'm considering it separate and out of scope for this PR.

[2018-03-05 22:59] williamjmorenor opened #977 "Integrate patternfly in python the python ecosistem"
Hello all, just a idea

There is a ruby gem that helps to ingrate patternfly with Rail, should be nice to have a extension that helps to ingrate patternfly with python frameworks like djando or flask

Django Bootstrap: https://github.com/dyve/django-bootstrap3
Flask Bootstrap: https://pythonhosted.org/Flask-Bootstrap

[2018-03-06 10:45] LHinson opened #978 "Consistent readme.md across PatternFly's primary component repos"
PatternFly should have a standard approach / template for the information seen in the readme.md. To address this issues requires looking all the readmes across the following repos:
* patternfly/patternfly
* patternfly/ng
* patternfly/angular
* patternfly/react

The result should be a proposal for a consistent readme that contains like information across.

[2018-03-07 04:53] dabeng commented on #950
Hi @michael-coker @matthewcarleton , I have made a update to fix the z-index issue. Could you review the demo page again ?

[2018-03-07 14:54] michael-coker commented on #950
@dabeng LGTM!

[2018-03-07 15:48] rhamilto opened #981 "Context selector dropdown presentation differs from dropdown"
Context selector dropdown
![screen shot 2018-03-07 at 10 38 09 am](https://user-images.githubusercontent.com/895728/37101616-fd392324-21f3-11e8-8e9f-7f19343767b0.PNG)

Dropdown
![screen shot 2018-03-07 at 10 38 29 am](https://user-images.githubusercontent.com/895728/37101622-003c44ac-21f4-11e8-8461-53fcaa7fd74a.PNG)

Presumably the dropdowns should have the same presentation since they perform sim

[2018-03-07 15:55] jgiardino opened #982 "Pattern enhancement - Cards with no data available"
The need for a card with no data available came up in the following PR:
https://github.com/patternfly/patternfly-react/pull/212

Also, this patternfly issue is somewhat related: https://github.com/patternfly/patternfly-design/issues/588

For now in pf-react, we're using the empty state pattern inside the card, with some style changes for the context of the card (see examples pasted below). But the

[2018-03-07 16:16] LHinson commented on #981
Thanks @rhamilto! @matthewcarleton is going to take this one.

[2018-03-07 18:23] LHinson opened #19 "Alert"
Update the alerts component and variations with patternfly.next styling.

[2018-03-07 21:09] jennyhaines opened #20 "Add shadow global variables to CSS"
Hi there! We need the following shadow styles added to the CSS (I just learned about shadow layering, so the CSS is edited from the original version):

**For Tiles & Modals:**
Shadow 1:
box-shadow: 0px 1px 2px 0px rgba (3,3,3,0.2)

Shadow 2:
box-shadow: 0px 2px 1px 1px rgba (3,3,3,0.12), 0px 4px 11px 6px rgba(3,3,3,0.05)

Shadow 3:
box-shadow: 0px 3px 7px 3px rgba (3,3,3,0.13), 0px 11px 24px 16px

[2018-03-07 21:22] jennyhaines opened #21 "Edit Typography Global variables in CSS"
Hi there! We need the typography styles edited in the CSS. I've attached a couple images with the new header styles! I want line heights mapped to each of header styles, and you'll notice that some are Regular (500) weight, and others are Semibold (600) weight. Also, I know that we are using Menlo font in all instances of text editors and the Google Code Prettify pattern. Is it possible to change

[2018-03-07 21:22] rhamilto opened #984 "Context selector overflow: scroll results in scrollbar always being painted"
Seen here in MacOS with "Show scroll bars" set to "Always", but the issue will also exist on browsers/platforms that don't automatically hide the scrollbar by default
![screen shot 2018-03-07 at 4 19 53 pm](https://user-images.githubusercontent.com/895728/37118804-6ee573ea-2223-11e8-89df-ab3faea4af72.PNG)

https://github.com/patternfly/patternfly/blob/master/src/less/context-selector.less#L46

Cha

[2018-03-07 21:25] rhamilto opened #985 "Context selector dropdown positioned 1 pixel higher than utility nav dropdowns"
![screen shot 2018-03-07 at 4 24 12 pm](https://user-images.githubusercontent.com/895728/37119003-0f9231fc-2224-11e8-9ebe-32d58e49c6d4.PNG)

![screen shot 2018-03-07 at 4 24 17 pm](https://user-images.githubusercontent.com/895728/37119013-14bbb1bc-2224-11e8-9585-6603fc5ce4fa.PNG)

Presumably these should be positioned the same?

Attn: @LHinson

[2018-03-07 22:16] #981 closed

[2018-03-08 14:15] matthewcarleton commented on #977
@dgutride  what do you think about this?

[2018-03-08 14:34] amarie401 opened #987 "Context Selector needs to be under includes/widgets/navigation directory for org consumption"
In order for pf-org to consume the context selector for navigation as an include, it needs to also be added in the `_includes/widgets/navigation` directory. @matthewcarleton

[2018-03-08 16:33] #975 closed

[2018-03-08 17:02] #984 closed

[2018-03-08 17:02] #985 closed

[2018-03-08 18:04] LHinson opened #22 "Badge"
Introduce the badge component and apply pf.next styling

[2018-03-08 18:11] LHinson opened #23 "Dropdown"
Add the dropdown component

[2018-03-08 18:12] LHinson opened #24 "Progress Bar"
Add progress bar

Design Folder: https://drive.google.com/open?id=1ObtKD1QavVL3p1hQ0aIXpoaJCzLHDYDx

- [x] Interaction design requirements
- [x] Visuals
- [x] First checkpoint complete and approved
- [x] CSS

Contacts:
- Visual @mceledonia
- CSS @srambach

[2018-03-08 18:18] LHinson opened #25 "Buttons"
Need attributes
Need to write the HTML as regular HTML
https://deploy-preview-11--pf-next.netlify.com/components/button/

[2018-03-08 18:19] LHinson opened #26 "Form component: Basic form elements (first version)"
Introduce a v1 of the form component, consisting of all basic form elements. Elements include:
- Labels
- Text Inputs
- Checkboxes
- Radios
- Textareas
- Selects
- Datalists
- required fields
- form validation

Component lifecycle:
- [x] Interaction design requirements
- [x] Visuals
- [x] First checkpoint complete and approved
- [ ] CSS
- [ ] React
- [ ] Second checkpoint complete and approved

Co

[2018-03-08 18:20] LHinson opened #27 "Simple Vertical Nav"
Introduce a simple single level vertical nav menu

Here is the simplest version of the vertical navigation which includes the mobile version.
[Design PDF](https://drive.google.com/open?id=1tAG-u-pAomS6r_HCjgvXLl8UgLDHToFK)

Incorporate findings based on [accessibility research](https://docs.google.com/presentation/d/13BD6dvDQdmrQGiqgdrje-Y9lXMVp2fhWWPR2Ljn_Qps/edit?usp=sharing) that has been done.

[2018-03-08 18:21] LHinson opened #28 "Horizontal nav w/ primary level only"
Introduce horizontal nav w/ primary level only

[2018-03-08 18:21] LHinson opened #29 "Subnav"
Introduce subnav

[2018-03-08 18:22] LHinson opened #30 "Tabs"
Introduce tabs

Tabs Design - Examples + spacing spec
[PF4_Tabs.pdf](https://github.com/patternfly/patternfly-next/files/2357300/PF4_Tabs.pdf)

- [x] Interaction design requirements
- [x] Visuals
- [x] First checkpoint complete and approved
- [x] CSS
- [ ] React
- [ ] Second checkpoint complete and approved

Contacts:
- IxD
- Visual
- CSS - Andy

[2018-03-08 18:22] LHinson opened #31 "Box Component"
* Review what has been introduced and update to match current conventions
* Document

[2018-03-08 18:22] LHinson opened #32 "Pagination"
Introduce pagination

Design: https://drive.google.com/file/d/1PpIo3-cZeUdVsq9WsG-LmbDj0Vwb6A5E/view

[2018-03-08 18:23] LHinson opened #33 "Breadcrumbs"
Introduce breadcrumbs http://www.patternfly.org/pattern-library/navigation/breadcrumbs/#/design

This issue includes:
- the basic, single line breadcrumb
- breadcrumbs with Title should be addressed.

Note, the breadcrumb switcher is out of scope for this issue. There is another issue to address that design here: https://github.com/patternfly/patternfly-next/issues/530 (it will be kicked back to i

[2018-03-08 18:57] amarie401 commented on #987
I'm seeing it now under `widgets/framework` I was looking inside of `widgets/navigation` for it.

[2018-03-08 20:11] #987 closed

[2018-03-09 14:01] andresgalante opened #34 "Grid Layout"
I think that we still have an open question about how to replace bootstrap grid system and I’d like to answer that before the meetup.

[2018-03-09 15:26] cliffpyles opened #35 "Notification drawer demo"
The Notification Drawer is a content delivery system such as events, tasks, and alerts. It is a self contained system that is viewable without having to navigate to another area of the application. Please note, there is currently a bug in the pf3 notification drawer with the dropdown menu ([see issue here](https://github.com/patternfly/patternfly/issues/1039)). We want to ensure to address this is

[2018-03-09 16:42] matthewcarleton commented on #888
after discussing this with design we've received direction. I'm reopening this issue. See notes above for design direction.

[2018-03-09 17:02] himdel commented on #888
Thanks, from the other issue, I can't tell if you're going to make the disabled version italicized or the placeholder version, but I'm fine with either :)

[2018-03-09 22:02] jlmitch5 opened #40 "update readme to include node/npm versions for running the repo"
hey, just noticed the repo, really great stuff!

Had some issues with getting the `npm run dev` script.  It looks to be because I was on an older version of node that doesn't have support for the async stuff:

[code]

Using `node v8.10.0 (npm v5.6.0)` worked great.

It might be helpful to include as a prerequisite for building which version of node this repo is targeting.  Would be happy to open a

[2018-03-12 14:51] cliffpyles opened #41 "Add an example of multiple child usage in the React reference"

[2018-03-13 14:53] awels opened #988 "Wizard side bar with long text"
The wizard style doesn't handle long text very well, not sure if it should wrap or cut off or ellipsis. But it doesn't look good when the text is long. I came across this because in our project some English text that was short turned into some long text in a different locale and I got a bug opened against it. I am attaching a screenshot with long text in the demo code.

![wizard_long_text](https:/

[2018-03-14 14:34] serenamarie125 opened #989 "The vertical alignment of "x" in the filter chips in the PatternFly toolbar is off"
When looking at the [PF Test Page for Toolbar](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toolbar.html) you can see that the "x" is not vertically aligned appropriately.

Both @kybaker and @jennyhaines confirmed that there is a visual issue here, and can provide input if necessary.

I'm not sure if the filter chip is a label with a close button?

Here's a screenshot of the tes

[2018-03-14 18:00] #663 closed

[2018-03-14 19:55] matthewcarleton commented on #943
Hey @jgiardino this is still on the test pages but it's in a strange place. https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/popovers.html

[2018-03-15 17:34] #40 closed, assigned to cliffpyles

[2018-03-16 04:38] dabeng commented on #957
Hi @mcarrano I'm afraid that this is a default behavior for Dropdown o bootstrap. IMO, the simple solution is to prevent "the click inside dropdown-menu" event bubble. For more details, please refer to this [question](https://stackoverflow.com/a/32922725/5890833) on stackoverflow.

[2018-03-19 06:18] dabeng commented on #947
@LHinson @cliffpyles I did a [testing](https://codepen.io/dabeng/pen/xWRXyX) with Chrome DevTools. The Demo TreeGrid Table has more than 400 rows. I found that it will take 1000 ms to collapse the child rows of "Parent 1".

![treegrid table testing](https://user-images.githubusercontent.com/5689075/37580640-d534cc58-2b7f-11e8-9dbf-9738db21ece6.gif)

<img width="671" alt="screen shot 2018-03-19 at

[2018-03-19 06:24] dabeng commented on #947
[TreeGrid Table Testing2](https://codepen.io/dabeng/pen/wmopwd) works well as expected.

<img width="672" alt="screen shot 2018-03-19 at 2 08 23 pm" src="https://user-images.githubusercontent.com/5689075/37580825-b428f6b4-2b80-11e8-8a5d-05700c9fb3aa.png">

The testing2 adopted the following modification:
`rows.closest(parent) => $(parent)`

[2018-03-19 06:26] dabeng commented on #947
@dlabrecq @LHinson @cliffpyles feel free to checkout the demos:

- [TreeGrid Table Testing](https://codepen.io/dabeng/pen/xWRXyX)
-  [TreeGrid Table Testing2](https://codepen.io/dabeng/pen/wmopwd)

[2018-03-19 20:15] jgiardino opened #992 "icon button color"
When a button uses an icon instead of text, and displays without a button background, what color should that icon be?

For example, if I were using an icon button without a button background, I would expect that I can implement this using:
`<button class="btn btn-link" type="button"><span class="pficon pficon-add-circle-o"></span></button>`

Which will result in a blue icon:
![image](https://user-

[2018-03-19 20:19] LHinson commented on #907
After looking through this issues, I see that @rhamilto says in the [OpenShift GitHub issue 2644](https://github.com/openshift/origin-web-console/pull/2644)

For the reason, I think this would mean that we keep the btns as they are in PatternFly today however, maybe we need developer notes to help guide upstream on how they can resolve this issue?

WDYT @matthewcarleton @andresgalante?

[2018-03-19 20:38] mcarrano commented on #992
This is an interesting question @jgiardino because we're just going through a process of changing the info (i) icon for infotips on form fields from blue to gray except upon hover. I think this is the way we thought about the edit icon. Having all of these blue created too much visual prominence. But I can see where it makes sense for a single add (+) icon like you show.

@cshinn just recently pos

[2018-03-20 15:19] #41 closed, assigned to cliffpyles

[2018-03-22 13:33] cliffpyles opened #997 "fix issues with style linting failures"
Style linting sporadically fails, and as a result the builds fail.

Example: https://travis-ci.org/patternfly/patternfly/builds/356754165