[2018-03-23 16:41] lizsurette opened #998 "Vertical Navigation on mobile has hamburger left aligned while Horizontal has it right aligned"
Is it intentional that if we use Horizontal navigation, the hamburger icon should be right aligned vs to the left of the branding as it's called out in Vertical navigation? Just trying to be sure I'm following PatternFly standards.

[2018-03-23 16:58] mcarrano commented on #998
@lizsurette We wanted to make Horizontal Nav consistent, but decided that the code rework was more than we wanted to bite off. Am I correct in that @matthewcarleton . Most of our newer designs are using Vertical Nav so we made a conscious decision not not invest much energy here.

Can you tell me more what's behind this question? Do you have a team looking to consume the current PF core implementa

[2018-03-23 18:16] lizsurette commented on #998
That makes total sense @mcarrano. The TripleO UI still uses Horizontal Nav and as I was fixing a bug with the mobile size view and the hamburger menu, I noticed the descrepancy and just wanted to follow up and make sure I was following the correct PatternFly recommendation.

[2018-03-23 18:48] matthewcarleton commented on #998
yup, that is correct. I believe we talked this through a couple months ago and came to that conclusion @mcarrano.

[2018-03-23 18:50] lizsurette commented on #998
Sounds great. Thanks guys I will close!

[2018-03-23 18:50] #998 closed

[2018-03-27 09:28] garrett opened #1002 "<kbd> has too much style"
The `<kbd>` element has semantic meaning and represents what someone is supposed to type.

As PatternFly pulls in Bootstrap, and Bootstrap styles all `kbd` elements by default (which is OK for documentation), it causes a problem when `kbd` is used in applications. This is an accessibility issue, as screen readers depend on using various semantic tags to describe the document.

We ran into this pro

[2018-03-28 15:16] #807 closed

[2018-03-28 15:29] jeff-phillips-18 commented on #641
Fixed by #952

[2018-03-28 15:29] #641 closed

[2018-03-28 22:22] serenamarie125 opened #1006 "Context Selector - can we remove the vertical separator?"
In reference to #990 the vertical separator in the context selector is causing some problems. (FYI @tlwu2013 @beanh66)

<img width="339" alt="38058890-52775fd0-3299-11e8-999f-694ccdc59556" src="https://user-images.githubusercontent.com/12504403/38059502-b27b8134-32b4-11e8-968c-e63fc1adf3f2.png">

@mcarrano @kybaker @matthewcarleton why was a vertical separator introduced as part of the context sel

[2018-03-29 15:29] #20 closed, assigned to andresgalante, srambach, jennyhaines

[2018-04-02 18:23] LHinson opened #1011 "Add sort icons"
Original story link: https://patternfly.atlassian.net/browse/PTNFLY-2853

Two new icons need to be added to PatternFly. They have been reviewed and vetted with dingna, Matt Carrano, and Leslie Hinson. @jhaines will get them into the icon table on the website after they are added to PF. Thank you!

- sort-common-asc
- sort-common-desc

[2018-04-03 19:20] #1006 closed

[2018-04-04 15:28] matthewcarleton opened #1014 "update popover on bottom with title"
The top triangle on the popover on bottom with title is white but it looks a little odd. It should be updated to use the same grey that the title uses as a background colour.

https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/popovers.html
<img width="345" alt="screen shot 2018-04-04 at 2 19 15 pm" src="https://user-images.githubusercontent.com/287880/38323298-40293e3c-3813-11e8-86d1

[2018-04-04 19:40] mcarrano opened #1015 "All example that include Masthead should be updated to reflect latest design changes"
Design changes for Masthead have been recently merged to improve consistency of the way utility items appear and behave. Updated design document can be found here: http://www.patternfly.org/pattern-library/application-framework/masthead/#design as a result of this PR: https://github.com/patternfly/patternfly-design/issues/622

In summary:
* Menu items with only an icon should not have a dropdown a

[2018-04-04 19:42] mcarrano commented on #1015
@matthewcarleton @LHinson I have created this issue to summarize the changes that are needed to bring the masthead core implementation in line with recent design changes. I tried to identify all of the relevant test pages, but you may think of others.

[2018-04-05 13:14] mcarrano commented on #1015
I think that makes sense @matthewcarleton

[2018-04-05 17:27] dgutride commented on #997
This appears to have been a temporary issue within a stylelint dependency - we can no longer reproduce it, moving to closed.

[2018-04-05 17:27] #997 closed

[2018-04-09 18:18] andresgalante commented on #1011
done on #1016

[2018-04-09 18:18] #1011 closed

[2018-04-11 14:14] #29 closed, assigned to nobody

[2018-04-12 14:15] srambach opened #1019 "Login page code example has misplaced class"
On the login page pattern, the class `pf-login` should be on the `<body>` tag instead of the `<html>` tag.
http://www.patternfly.org/pattern-library/application-framework/login-page/#code

[2018-04-13 15:48] mcarrano opened #1020 "Update List View styling to remove "selected" highlight color"
Per design issue https://github.com/patternfly/patternfly-design/issues/633 we want to remove the blue background color for selected rows and use only the checkbox state to indicate selection. All other styling should remain as currently implemented.

[2018-04-16 13:26] #967 closed

[2018-04-16 15:47] mindreeper2420 opened #1021 "Lock Down Dependencies"
In order to lock down the dependencies of PatternFly, we should be using a lock file of sorts. The recommended method for those that publish packages is to use `npm-shrinkwrap.json`.

This should prevent the issues where dependent dependencies cause build failures, even when packages were not updated by PatternFly.

https://docs.npmjs.com/files/shrinkwrap.json

[2018-04-16 21:27] mindreeper2420 commented on #661
The current version (3.45.0) of PatternFly is 16.1 MB zipped, so I will close this issue. If necessary, please open a new issue with a reference to this one.

[2018-04-16 21:28] #861 closed

[2018-04-16 21:32] gregsheremeta commented on #661
It used to be only 7. The issue is not fixed, only very slightly alleviated.

[2018-04-16 21:39] mindreeper2420 commented on #661
@gregsheremeta The reason why PatternFly is this size is because the distribution now includes both `less` and `sass` files (including dependencies for both versions), compiled CSS for PatternFly, the full tests and a variety of fonts. All of these additions were done by design.

CC: @cliffpyles @andresgalante @dgutride @LHinson

[2018-04-16 21:48] gregsheremeta commented on #661
The extra test from sass it trivial. This was something caused by large binaries -- specifically fonts. My argument was that the fonts were too big. Even if that was intentional.

At any rate -- it's better now. 6.8 gzipped from npm / yarn. What happened between 3.27.5 and 3.30.0? Less huge binaries, like fonts, I assume? Did the fonts just shrink?

yarn-offline-cache % ll patternfly*
-rw-r--r--.

[2018-04-16 21:48] #661 closed

[2018-04-16 21:50] LHinson commented on #930
Closing this issue since it is resolved by #965

[2018-04-16 21:50] #930 closed

[2018-04-16 21:52] LHinson commented on #850
This issue has gotten stale and have heard no reply therefore I'm closing. @survi91 feel free to open another issue if need be!

[2018-04-16 21:52] #850 closed

[2018-04-16 21:54] LHinson commented on #797
This seems to have gotten stale. Closing but feel free to open a new issue if need be @fr0z3nfyr

[2018-04-16 21:54] #797 closed

[2018-04-16 21:56] LHinson commented on #950
Closing this issue since it was addressed by #980 and can be viewed here: http://www.patternfly.org/pattern-library/content-views/tree-list-view/#code

[2018-04-16 21:56] #950 closed

[2018-04-16 22:03] LHinson commented on #982
@mcarrano any concern with proceeding with this implementation? Do we also need an issue for design docs?

[2018-04-16 22:04] LHinson commented on #543
Thanks @thiagodp. @matthewcarleton has provided the appropriate issue link to follow so I'm going to close this one.

[2018-04-16 22:04] #543 closed

[2018-04-17 01:24] mindreeper2420 opened #1023 "Regression Tests are Failing"
On the current version of master, regression tests are failing when run locally using `npm run regression`. BackstopJS states that there are 3 failures:
- Alerts (backstop_default_alerts_0_document_0_large-device.png)
- Buttons (backstop_default_buttons_0_document_0_large-device.png)
- Typography 2 (backstop_default_typography-2_0_document_0_large-device.png)

[2018-04-17 14:35] LHinson commented on #1023
@mindreeper2420 are you still running into this issue?

[2018-04-17 15:01] mindreeper2420 commented on #1023
@LHinson @jeff-phillips-18 I'm rerunning the tests again with a clean clone of the repo. I'll report back any findings.

[2018-04-17 15:55] mindreeper2420 commented on #1014
From what I can tell, this also involves JS (jQuery), as the popover needs to know when the title is absent. When absent, the background-color of the triangle would stay white.

[2018-04-17 15:56] LHinson commented on #1015
@mcarrano @matthewcarleton to identify how we can break this down into smaller issues before pulling anything in.

[2018-04-17 17:12] dgutride commented on #977
@williamjmorenor  - we aren't against submissions or contributions of this sort - do you know what it would entail (is this a separate repo or just a single file/build process)?

[2018-04-17 17:51] mcarrano commented on #982
@jgiardino @LHinson There is currently an open issue in patternfly-design here: https://github.com/patternfly/patternfly-design/issues/623. @sjcox-rh is assigned to work on that. We should just make sure this implementation is in sync with SJ's design.

[2018-04-17 19:03] mindreeper2420 opened #1025 "Update Node Dependency to LTS"
Update the NodeJS dependency to LTS, which is currently 8.11.1. Currently, the `.travis.yml` file requires Node v6, which is in the maintenance phase of support.

[2018-04-18 00:05] mindreeper2420 commented on #1023
I've downgraded to Node v6.11.5 (from v8.3.0), and the tests failed again. I'll downgrade further to v6.8.0 and run the tests again. I know that the configuration is using v6, but not what minor version.

[2018-04-18 00:35] mindreeper2420 commented on #1023
I've tried with node v6.8.0 and node v6.0.0 and I still have 3 regression test failures. I sat with Dana earlier today, and he had 0 failures when running the tests. At this point, I'm not sure what the issue is, but I will close this as it is clearly a local environment problem.

[2018-04-18 00:35] #1023 closed

[2018-04-18 01:55] matthewcarleton commented on #1014
Hey @mindreeper2420  I think this can be achieved with CSS. Try `&.bottom {
    .popover-title:before{
      content:'';
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      border-top-width: 0;
      border-width: 10px;
      border-color: transparent;
      border-bottom-color: @color-pf-black-150;
      border-style: solid;
    }
  }`
I did this

[2018-04-18 14:32] mcarrano commented on #1015
Per meeting on 4/18 with @matthewcarleton Want to create the following separate issues:
* Context Selector
* Notification Drawer
* App Launcher
* User Menu
* Horizontal Nav
* Vertical Nav

Will do a deeper dive on each of these to identify changes that must be addressed per the high level check list and design changes referenced above.

[2018-04-18 15:05] LHinson commented on #1023
ok, thanks for diving into this further @mindreeper2420 and @dgutride

[2018-04-18 15:06] mindreeper2420 commented on #1014
@matthewcarleton that worked :-) I didn't nest my elements properly, so I had the grey applied to the triangle with bottom popovers, but it was still applied on the bottom popover even when the title was not present.

I filed a PR and added you as a co-contributor.

[2018-04-18 15:13] matthewcarleton commented on #1014
@mindreeper2420 awesome!

[2018-04-19 00:07] jgiardino opened #1027 "Icon button size"
When an icon button displays with a background, as shown in the [inline edit designs](http://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/#design), should we be applying styles so that the sizes (i.e. widths) are consistent?

If the icons we use are slightly different in width, the buttons will end up having different widths. This is something we noticed in the inline edit com

[2018-04-19 10:41] LHinson commented on #982
OK, starting with the dashboard emtpy state design make sense. Let's hold off on this implementation. Thanks @mcarrano

[2018-04-20 12:54] brylie opened #1028 "Please post community call videos to video sharing site, such as Internet Archive"
It is currently difficult/impossible to view the Patternfly community call videos without Flash player. Flash is being slowly deprecated, and so will not be available in as many browsers as it once was.

Please post copies of the Patternfly community call videos to a video hosting site, such as [Internet Archive](https://archive.org), that supports non-proprietary video formats.

[2018-04-20 15:46] mcarrano opened #1029 "Update Context Selector Example to reflect lastest Masthead design"
The Context Selector example ( https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/context-selector.html) need to be updated to reflect the updated Masthead design. Design details can be found here: http://www.patternfly.org/pattern-library/application-framework/masthead/#design

Specific changes required include:
* Remove "v" from Help icon.
* Help and User menu items should display a

[2018-04-20 16:00] mcarrano opened #1030 "Update Notification Drawer examples to reflect latest Masthead design"
The examples for both the [Notification Drawer for Horizontal Navigation](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/notification-drawer-horizontal-nav.html) and the [Notification Drawer for Vertical Navigation](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/notification-drawer-vertical-nav.html) require updating to reflect the latest Masthead designs here: ht

[2018-04-20 16:12] mcarrano opened #1031 "Update Application Launcher examples to reflect latest Masthead styling"
Application Launcher test pages should be updated to reflect latest design styling for Masthead here: http://www.patternfly.org/pattern-library/application-framework/masthead/#design  This includes both the[ Application Launcher for Horizontal Navigation](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/application-launcher-nav-horizontal.html) and the [Application Launcher for Vert

[2018-04-20 17:20] mcarrano opened #1032 "Update Navigation Examples to reflect the lastest Masthead styling"
All navigation examples should be updated to reflect the latest Mastehead styling found here: http://www.patternfly.org/pattern-library/application-framework/masthead/#design

*    For horizontal navigation -- remove the down caret "v" from the Help menu.
*    For vertical navigation -- remove the down caret "v" from the Help menu and also update the styling of all items to display a selected stat

[2018-04-20 17:28] mcarrano commented on #1015
I have created separate issues to chunk this into smaller tasks. These are:

Context Selector - https://github.com/patternfly/patternfly/issues/1029
Notification Drawer - https://github.com/patternfly/patternfly/issues/1030
Application Launcher - https://github.com/patternfly/patternfly/issues/1031
Navigation - https://github.com/patternfly/patternfly/issues/1032

Note that there are many more exa

[2018-04-20 17:28] #1015 closed

[2018-04-20 21:00] jeff-phillips-18 commented on #902
Foxed bu #916

[2018-04-20 21:01] #902 closed

[2018-04-23 12:32] skateman opened #1035 "Custom colored toolbar button icons ignore the disabled setting"
We need to support custom colored button icons in ManageiQ, but it seems like if I have to set the opacity on the color manually if I want to have it look consistently disabled with the button text.

It looks like:
![](https://user-images.githubusercontent.com/649130/39052506-80ca87b6-44ac-11e8-86a5-b73149512e05.png)

But it should look like:
![](https://user-images.githubusercontent.com/649130/39

[2018-04-23 13:07] terezanovotna commented on #1035
@LHinson any idea who's a good person to ping about this?

[2018-04-23 13:44] matthewcarleton commented on #907
@LHinson @andresgalante I agree. It seems this is not something that can be completely solved in core. It's a great opportunity to make use of patternfly.org dev notes to advise best practice.

[2018-04-24 15:34] #1019 closed

[2018-04-24 21:59] amarie401 opened #1036 "forms.less in patternfly-additions for inline-edit example for pf-org consumption"
When trying to display the inline-edit example on pf-org the `forms.less` style cannot be consumed. I believe it should also be added to the `patternfly-additions.less` since that is what pf-org pulls in.

Related to this issue in pf-org: https://github.com/patternfly/patternfly-org/issues/556

@dabeng since you worked on the inline-edit is it correct to assume that this also needs to be added in

[2018-04-25 06:51] dabeng commented on #581
Hi @vkrizan , you need vertical-align property setting. Please review the [Demo](https://codepen.io/dabeng/pen/vjKOxK) on codepen.io

[2018-04-25 07:55] dabeng commented on #1036
Hi @amarie401 . forms.less has been imported by patternfly-adjusted.less  - https://github.com/patternfly/patternfly-org/blob/master/source/_less/patternfly-adjusted.less#L19

[2018-04-25 09:39] vkrizan commented on #581
Thank you @dabeng. That seem to work perfectly.

[2018-04-25 09:39] #581 closed

[2018-04-25 14:45] amarie401 commented on #1036
Will close this issue. Thanks @dabeng

[2018-04-25 14:45] #1036 closed

[2018-04-26 08:55] dabeng opened #1038 "Inline edit for list view example missing from core"
I created a demo page of inline edit for standard list view. Please review it and tell me your concerns 😊 @beanh66 @jgiardino @mcarrano @andresgalante

- [Demo page](https://rawgit.com/dabeng/patternfly/ie-list-view-dist/dist/tests/inline-edit-for-list-view.html)
- [design doc](http://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/#inline-create-and-edit)
- [source code](https:/

[2018-04-26 11:58] glekner opened #1039 "Notification Drawer Dropdown Items are hidden by Clear/Read All Buttons"
I'm not sure this is the intended behaviour.

Whenever trying to open the dropdown menu of the closest notification to the Clear/Read buttons (the last notification in each panel), its hidden behind it, creating a scrollable div to get to the menu items.

<img width="367" alt="screen shot 2018-04-26 at 14 29 53" src="https://user-images.githubusercontent.com/24938324/39304191-91d693ec-4961-11e8-98

[2018-04-26 13:07] jmazzitelli opened #1040 "provide color typedefs for typescript support"
Issue created as per request from @jeff-phillips-18 ... See https://github.com/kiali/kiali-ui/pull/281 for example

[2018-04-26 14:14] beanh66 commented on #1038
Thanks @dabeng, I have a couple comments below:

1 - The icons for save and cancel look a little small to me. Wondering if we can bump them up just a little and I also wonder about the color. The blue icons on a blue row seems difficult to see. I would suggest using pf-black-900 when the icon is active and pf-black-500 when it is disabled.

2 - I don't think the toast notification should be used a

[2018-04-26 14:48] dabeng commented on #1038
@beanh66 PF modal pattern has the fixed role "modal". In the user story of inline edit in a list view, we need role "alertdialog". From the point of view of ARIA, we'd better to distinguish different roles. Please refer to https://www.w3.org/TR/wai-aria-practices-1.1/#alertdialog

[2018-04-26 15:02] LHinson commented on #1038
@jgiardino do you mind helping to weigh in on this one? I'm not quite clear on the accessibility concern.

[2018-04-26 15:49] mcarrano commented on #1039
Thanks for flagging this issue @gilad215 . Definitely seems like a problem with the way kabob menus work. I wonder if this also shows up in other places where kabobs are used. From a design perspective the menu should always be on top of other content, but the icon itself should not. @matthewcarleton can you take a look?

[2018-04-26 16:03] mcarrano commented on #1038
@dabeng Overall this is looking good. I agree with @beanh66 's comments. I also wanted to question the switch in your example. This does not seem to be following the styling for a standard PatternFly Switch widget as shown here http://www.patternfly.org/pattern-library/widgets/#bootstrap-switch

As for the confirmation dialog, while it is appropriate to warning the user if they try to click away f

[2018-04-26 20:39] mcarrano commented on #1038
Just a heads up - there is currently an ongoing discussion here about row styling in list views that I think may impact how we want to represent the visual appearance of a row in edit mode. https://github.com/patternfly/patternfly-design/pull/651

Please continue to review and work out any coding or behavior issues, but I would ask to hold on merging this until the referenced PR has been resolved.

[2018-04-30 12:39] dgutride commented on #947
@dabeng - let's use the test 2 code you wrote and move to $(parent) - the performance improvement is significant.  In my tests - when parent evaluates to a selector (not a row id) - it works, so only replacing the .closest() function with the $(parent) selector is correct

[2018-04-30 12:40] dgutride commented on #947
@LHinson  - reassigning back to @dabeng with comments,  we can move forward with his prototype code

[2018-04-30 13:02] LHinson commented on #947
Thanks @dgutride and @dabeng

[2018-04-30 13:08] LHinson commented on #714
@gregnolle Closing this issue as Tree List View is not available
See: http://www.patternfly.org/pattern-library/content-views/tree-list-view/#code

[2018-04-30 13:08] #714 closed

[2018-04-30 13:12] LHinson commented on #698
Unfortunately PF3 did not have a standard to adhere to for responsiveness therefore we have a mixed bag of components that are responsive and some that are not. We are making strides to ensure everything is responsive for our next major release. Given how old this issue is and I have not heard anything else on this issue, I'm going to close. Please feel free to re-open if there are concerns @dlabr

[2018-04-30 13:12] #698 closed

[2018-04-30 13:13] LHinson commented on #711
@gregnolle Launcher is now available for PF-Core. Check it out here: http://www.patternfly.org/pattern-library/application-framework/launcher/#code

Closing this issue since it's been addressed.

[2018-04-30 13:13] #711 closed

[2018-04-30 15:46] michael-coker opened #1044 "Wizard snippet doesn't align with design on patternfly.org"
Specifically:

# No UI indicator for completed steps on desktop
![no-completed](https://user-images.githubusercontent.com/35148959/39436370-65ff4174-4c63-11e8-99c9-798a2fcb127d.png)

# No UI indicator for completed steps on mobile
![mobile completed](https://user-images.githubusercontent.com/35148959/39436383-717bc95a-4c63-11e8-98a2-1ecf6b2215d4.png)

# Need to disable hover state for active steps

[2018-05-01 13:03] LHinson commented on #1028
@brylie we are moving forward with youtube to host meetings and will post meetings there. See: https://www.youtube.com/channel/UCqLT0IEvYmb8z__9IFLSVyQ?view_as=subscriber

[2018-05-01 13:03] #1028 closed

[2018-05-01 13:06] LHinson commented on #958
@kybaker and the visual design team have a current effort to ensure that the PatternFly color palette is in sync with brand for pf-next. We will punt this issue for that major release so closing there.

[2018-05-01 13:06] #958 closed

[2018-05-01 13:07] LHinson commented on #943
@amarie401 see the link above and scroll all the way to the bottom of the page. That is where you will find field level help. Will you help to get this posted to the site?

[2018-05-01 13:14] amarie401 commented on #943
@matthewcarleton @LHinson where exactly on the site does this need to go under? I see that it is currently under the popover examples.

[2018-05-01 18:38] jgiardino commented on #1038
I share similar thoughts as @mcarrano and @jeff-phillips-18. I don't think how we handle the confirmation should be part of this test page.

I also agree with @beanh66 that a toast notification isn't appropriate as a confirmation prompt.

As for what ARIA role is most appropriate, this is something we're currently investigating for patternfly next.

[2018-05-01 21:58] matthewcarleton commented on #1039
@mcarrano @gilad215 I agree with what @jgiardino states above 👍

[2018-05-02 14:58] mcarrano commented on #1038
@dabeng We have resolved issues referenced above and I think we are OK to continue forward with this. I do think we need some refinement to the visual styling in your implementation. The background color to use for the editable row should be pf-blue-50 (#def3ff).  @kybaker @jennyhaines can you take a look at this and make some recommendations and/or provide a hi-fi mockup?

[2018-05-02 19:45] jennyhaines commented on #1038
Hi @dabeng - Right now on the demo site, this is what I'm seeing:

**Hover State**
![1](https://user-images.githubusercontent.com/24898297/39545403-1d54cd8c-4e1f-11e8-8363-b64f1ef30962.png)
- In the implementation, the hover state is #edf8ff, but should be #def3ff

**Edit State and Hover State side-by-side**
![2](https://user-images.githubusercontent.com/24898297/39545493-5735fde6-4e1f-11e8-9358-e

[2018-05-02 19:47] jennyhaines commented on #1038
@mcarrano - I'll work on new hi-fi images for the overview and design tabs, and create a PR to get those updated.

[2018-05-02 21:01] mcarrano commented on #1038
That's great @jennyhaines Thanks for helping out with this!

[2018-05-03 12:34] dabeng commented on #1038
@mcarrano @jennyhaines Thanks a lot for your recommendations. FYI, I built up "inline edit in a list view" based on standard list view - https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view.html. If we decide to do some background color adjustments, do we need to do refinements of background color on list view page firstly ?

[2018-05-03 13:27] mcarrano commented on #1038
Good question @dabeng There is currently another PR open for updating these styles (https://github.com/patternfly/patternfly/issues/1020). Yes, we should be sure to pick up these changes in this example to make sure all of our test pages are in sync.

[2018-05-04 13:42] #34 closed, assigned to andresgalante, mattnolting

[2018-05-04 15:08] #1029 closed

[2018-05-08 12:25] dabeng opened #1050 "Inline edit for table view example missing from core"
I created a demo page of inline edit for table view. Please review it and tell me your concerns blush @beanh66 @jgiardino @mcarrano

**[Demo page](https://rawgit.com/dabeng/patternfly/ie-table-view-dist/dist/tests/inline-edit-for-table-view.html)**
[design doc](http://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/#inline-edit-in-a-table-view)
[source code](https://github.com/da

[2018-05-08 13:04] jgiardino commented on #1050
Hi @dabeng, I'll let @beanh66 and @mcarrano comment on the design before making css/html comments, but I did want to make a comment on the icons you use.

For the Save and Cancel icons, you're using icons from the [glyphicon set](https://getbootstrap.com/docs/3.3/components/#glyphicons), but there's a statement on our [patternfly icon page](http://www.patternfly.org/styles/icons/) that recommends

[2018-05-08 13:04] jgiardino commented on #1050
Oh, one other question, should you open a PR to track discussion related to your updates?

[2018-05-08 14:00] mcarrano commented on #1050
@dabeng There are a couple of issues with the design for this. First, the column widths change when I switch into edit more. Is there a way to keep this from happening? Also, if you look at the design, the buttons are intended to be in a panel that extends down from the row rather than inline like you have them.

Regarding the question about glyphicons, I assume the statement on the Icons page is

[2018-05-08 14:33] dabeng commented on #1050
Thanks a lot for reminding. I'll submit new patches to replace Bootstrap Glyphicons with PatternFly Icons.

[2018-05-08 15:06] dabeng commented on #1050
@mcarrano react version table view is just simple table. This inline edit demo page is based on table view based on DataTables with pagination, filter and sort. It's a more complicated scenario. In short, keeping save&cancel buttons in the original row rather than in overlay is more suitable for native internal structure of DataTables. On the other hand, I'm willing to dig into this demand and app

[2018-05-08 16:56] jgiardino commented on #1050
I was curious to see what we come up with here in core that the react component might be able to reuse.

I would also prefer this approach from an html perspective. But as @dabeng mentions above, achieving the design that's documented isn't possible with css alone, and requires additional JS to handle positioning the buttons.

[2018-05-08 16:56] jgiardino commented on #1050
oops, hit the wrong button to post my comment

[2018-05-08 17:56] mcarrano commented on #1050
We could rework the design so the buttons fall inline as @dabeng has them. However I think the reason it was designed with the tab hanging below is that we can't necessarily guarantee the width of the last column. I'm sure that's why the table readjusts when a row enters edit.

@matthewcarleton @LHinson interested in your thoughts on this. Is there really such a thing as a pure HTML/CSS example fo

[2018-05-09 06:07] dabeng commented on #1050
Hi @jgiardino When I created this inline edit for table view demo page, I followed "btn-link" coding style - https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/buttons.html, so I used Glyphicons .

Now, I have replaced Glyphicons with Patternfly icons(fa-check and pficon-close)

@mcarrano I have fixed the issue that column widths change when users switch into edit mode. I also tested

[2018-05-09 13:33] jgiardino commented on #1050
Part of why this design is impossible without JS is because the buttons that overlay the next row have a border that visually appears to connect with the border of the table row. This requires exact placement to the pixel to pull off. Outside of a table, this isn't impossible with pure CSS, but the css that's required isn't supported very well in the context of a table. It is possible to have butt

[2018-05-09 17:26] mcarrano commented on #1050
Thanks for your explanation @jgiardino . This leads me to a question of whether there is value in creating a Core example page for this given that we would need to modify the design to make it work without Javascript. @LHinson let's discuss following Summit.

[2018-05-10 05:30] dabeng commented on #1050
@jgiardino I have removed the fixed with settings from datatables thead

[2018-05-11 15:22] #21 closed, assigned to kybaker, jgiardino, jennyhaines

[2018-05-11 17:42] jgiardino commented on #1050
Hey @mcarrano,
I was playing around with what's possible from a pure css perspective, and thought I would share what I found. In the following example, if I place a `<div>` with buttons in the table cell with the kebab, I can position it so that it's diagonally opposite the bottom left corner of the table cell with the kebab, using the styles shown below. I can also have it perfectly left-aligned

[2018-05-14 12:26] matthewcarleton commented on #1039
@mcarrano are you ok to close this and mark it as a "fix in pf-next" issue?

[2018-05-14 13:04] matthewcarleton commented on #1050
Just catching up on this, happy to get involved if I can be of any use. @dabeng I did notice that in safari when in edit more the rows disappear. http://g.recordit.co/SuiKic4sM9.gif

[2018-05-14 15:36] antoniojunyor opened #1051 "How can I contribute?"
Hi, my name is Antonio Junior and I'm a front-end developer guys, I really want to contribute to this project, but the project don't have some topic on README about some rules to commits and PR. I noticed that have a section "Frequently Asked Questions", but the "contribute" link doesn't exist.

![Page 404](https://user-images.githubusercontent.com/1471456/40007333-d6826ad8-5772-11e8-8442-429683ac

[2018-05-14 15:54] #1051 closed

[2018-05-14 16:05] mcarrano commented on #1050
@dabeng after discussing with @LHinson , we'd like to put this on hold for now as it appears we don't have a solution that matches the current design without including Javascript. I don't want to revisit the design at this time as we already have a working implementation for pf-react. Thanks for all your efforts on this. I think it will help clarify how we should address this for pf-next.

[2018-05-14 20:54] amarie401 commented on #943
As I was looking through the code it appears this is already on the site. Is there something I'm missing? @LHinson

http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/#code

https://github.com/patternfly/patternfly-design/commit/df3e7e1d1e8c745f10d208f7a7dd90347f65d2e6

[2018-05-14 21:11] jgiardino commented on #943
Hey @amarie401,

The example we have on pf.org is from the patternfly-react implementation, but we don't have a core html/css implementation. The items noted in this issue were some things that I noticed with the pf-react version that didn't sync very well with the design. I was hoping with this issue that we could get the html/css version as we want it to be while addressing the issues that I not

[2018-05-14 21:26] amarie401 commented on #943
Ah I see, @jgiardino
I was tasked with adding this example to the website but it appears that it is already there once I started digging through the code in pf-org so I wasn't sure if I was missing something. If there are any future changes to the html/css in core then it should update on the site. Since the example from the test pages is already on the website I will un-assign myself from that ta

[2018-05-14 21:31] jgiardino commented on #943
I'm sorry, my brain is partly shutdown for the day. I totally misread that pf.org page as "this is the example being pulled in from pf-react".

Yeah, I'm not sure that anything else needs to happen to pull the core example in.

I'd say the items noted in the original issue description are still valid, unless we want to close it as a "will fix in pf next" issue, which is fine with me too.

[2018-05-15 09:16] dabeng commented on #947
Hi @dgutride , please review this PR - https://github.com/patternfly/patternfly/pull/1054

[2018-05-15 15:38] #25 closed, assigned to srambach, stacymcauliffe

[2018-05-15 18:18] mcarrano commented on #943
@jgiardino I'm a little confused about this one. We do have core HTML/CSS for this here: http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/#code In looking at the React implementation, the only deviation I see is that the info icon should not be blue until the user hovers on it. This was a recent change. I can't seem to produce the condition you show in the issue descripti

[2018-05-15 21:16] jgiardino commented on #943
Maybe the designs were recently updated? I totally remember that all the label text was right-aligned with the help icon hanging out in the space between the labels and inputs. But now they're not. And the I think at the time, there wasn't a code example that we could find.

I'll close this issue. And I added this one for patternfly-react updates: https://github.com/patternfly/patternfly-react/iss

[2018-05-16 00:55] dabeng commented on #1050
Hi @matthewcarleton On my safari 10.0.3 (12602.4.8). It works well.
![9x6mpy9vlw](https://user-images.githubusercontent.com/5689075/40090834-ddb5ef3a-58e6-11e8-9369-0e29eed71f96.gif)

[2018-05-16 13:17] mcarrano commented on #1050
@dabeng There seems to be some issue with the correct version no longer displaying in the React showcase. @jgiardino did you ever figure out what's happening here?

[2018-05-17 13:13] jgiardino commented on #1050
Yep, I created an issue and it's now fixed. If you still see issues, you might want to try clearing your cache to reset the css.

[2018-05-17 13:58] LHinson commented on #1051
Hey @antoniojunyor! Thanks for reaching out. Did you find the information that you need? Happy to share some helpful links if not.

[2018-05-17 16:11] #1031 closed

[2018-05-18 15:00] himdel opened #1057 "3.46 breaks login screen background"
Upgrading [ManageIQ/manageiq-ui-service](https://github.com/ManageIQ/manageiq-ui-service) from patternfly 3.45.0 to 3.46.0, the login screen changed:

before:

![good](https://user-images.githubusercontent.com/289743/40242068-223042fc-5aac-11e8-8241-d41e13b5a0b9.png)

after:

![bad](https://user-images.githubusercontent.com/289743/40242077-26fe7e0c-5aac-11e8-8895-45f90c6b937f.png)

[2018-05-18 15:07] himdel commented on #1057
Still present in 3.46.1.

(3.46.2 was released 8 minutes ago, but is not available on npm yet)

[2018-05-18 16:39] d-m-u opened #1058 "pf-select breaks showing default values"
Dropdowns appear with nothing selected when defaults are clearly set in backend.

[2018-05-21 08:57] terezanovotna commented on #1057
@LHinson any idea what happened here?

[2018-05-22 12:31] jeff-phillips-18 commented on #1058
Could you give more information please? Is this issue visible on the test pages? Maybe the HTML that produces this error?

[2018-05-22 12:33] jeff-phillips-18 commented on #1057
Is there a system I can look at that shows this problem? I haven't setup/run the service UI in a while so might be easier if there is a system I could just poke at.

[2018-05-22 12:49] himdel commented on #1057
Sorry, we don't have any public-facing test instances, you'll have to pull the latest manageiq-ui-service.

[2018-05-22 12:55] himdel commented on #1057
..But if it helps, if I comment out:

[code]

(in patternfly css), it works as before.

[2018-05-22 16:31] #1014 closed

[2018-05-22 17:29] jeff-phillips-18 commented on #1057
This broke due to a change made in https://github.com/patternfly/patternfly/pull/1024

The background image is now set on the .login-pf selector (used to only be on `.login-pf body`).

@himdel Is this something you need PF to fix or can it be done easily enough in [ManageIQ/manageiq-ui-service](https://github.com/ManageIQ/manageiq-ui-service)

[2018-05-22 19:15] #1030 closed

[2018-05-22 19:17] #1040 closed

[2018-05-22 21:13] mcarrano opened #1059 "Introduce Dual List Selector"
The [Dual List Selector](http://www.patternfly.org/pattern-library/forms-and-controls/dual-list-selector/#overview) pattern was recently introduced to the design pattern library and a core implementation is needed.

[2018-05-23 11:13] himdel commented on #1057
We can override the style in ui-service, as long as we know that this was not indended for us :) thanks :).

Can you maybe take care of the other side and add the login screen styling to the regression tests so that this doesn't happen again?

[2018-05-23 11:29] jeff-phillips-18 commented on #1057
The problem is this particular change didn't break the regression tests since our login page uses the PF background image. We are working towards making our regression tests more robust in the future.

[2018-05-23 11:40] himdel commented on #1057
Thanks! :)

I guess I can close now..

[2018-05-23 11:40] #1057 closed

[2018-05-23 14:07] stacymcauliffe commented on #978
- [ ] Review and compare contrib guidelines for the different repos
- [ ] Review and compare readmes for the different repos
- [ ] Recommend a standard approach for both documents - what info should be included where
- [ ] Determine next steps to create consistency across repos

[2018-05-24 12:39] mcarrano commented on #1038
@dabeng The confirmation dialog that appears when you click away with unsaved changes should be just a standard modal. @deernano is currently working on a new pattern for these types of message dialogs so perhaps she can offer a design for this.

[2018-05-25 17:29] jgiardino opened #1063 "App launcher role attributes"
The roles currently applied to the menu in the [app launcher](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/application-launcher.html) are incorrect.

 `<li>` should have `role=“presentation”`
 `<a>` should have `role=“menuitem”`

[explanation about these roles](https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html)

[2018-05-28 06:52] dabeng commented on #1038
Thanks @mcarrano I'll work with @deernano and implement confirmation dialog firstly.

[2018-05-28 14:17] dabeng commented on #1038
Great Job @deernano I have introduced message dialog into current demo page.

[2018-05-29 13:48] #23 closed, assigned to kybaker, jgiardino

[2018-05-29 13:59] mcarrano commented on #1038
@deernano @stacymcauliffe I wanted to get your opinion about the confirmation dialog here. If you run the demo here, you can see it if you put one of the rows into edit mode, change something, and then click away - https://rawgit.com/dabeng/patternfly/ie-list-view-dist/dist/tests/inline-edit-for-list-view.html

There are two questions. 1- what should the wording of the message be? 2- In the propos

[2018-05-29 15:07] serenamarie125 opened #1064 "Component : Message Dialog"
Create a message dialog component.
See requirements in the PF React Issue : https://github.com/patternfly/patternfly-react/issues/360

Corresponding PatternFly design issue: https://github.com/patternfly/patternfly-design/issues/632

[2018-05-29 15:08] serenamarie125 commented on #1064
@michaelkro please take this on!
@mcarrano FYI - Mike it taking this before the PF React contribution

[2018-05-29 15:45] Mikewaite opened #1065 "icon-trend-down & icon-trend-up has the wrong description"
Small but...

Looks like trend-down and trend-up icons have switched descriptions.

[2018-05-29 20:23] #1032 closed

[2018-05-29 20:43] mcarrano commented on #828
Yes, I agree that this has been addressed with latest masthead changes and should probably be closed out.

[2018-05-30 08:04] deernano commented on #1038
@mcarrano @stacymcauliffe
I have an example in the previous doc:
https://docs.google.com/document/d/1SSv4YPU1b2qlLGJSBnLxsI2BboFdJlWySqIwA0T7nfE/edit?ts=5b001e5e#heading=h.my0mh3snt0cr
<img width="293" alt="1" src="https://user-images.githubusercontent.com/5396309/40706950-d7590924-6421-11e8-83d4-4c7d65017258.png">
Use affirmative text to clearly indicate the consequence of the decision.
Use the t

[2018-05-30 12:44] stacymcauliffe commented on #1038
@mcarrano I agree with @deernano that save and cancel would work - the wording of the message itself makes the button labels tough. We could change the message text to say "Do you want to save your changes?" and have the primary button be Save and the Secondary button be Cancel.

[2018-05-30 12:59] mcarrano commented on #1038
@deernano @stacymcauliffe The problem is that's not actually what this action does. The confirmation dialog appears only when the user clicks away from the row, so the options are either to ignore the action and stay in edit mode or exit edit mode. Nothing would actually be saved in either case. It's not clear what the affirmative action would be.

[2018-05-30 13:05] stacymcauliffe commented on #1038
Oh yes, good point. Ok. What about ...
"Are you sure you want to leave without saving your changes?" and the buttons are "Yes, Leave" and "No, Cancel" or simply, Leave and Cancel.

[2018-05-30 14:38] dgutride opened #1067 "Remove unnecessary test files from npm package"
The test directory is also being included in our npm package - it should be ignored when creating the package (but left as part of the dist so test pages will continue to work).

[2018-05-30 15:19] dgutride opened #1068 "Create OpenShift template for PatternFly demo application"
OpenShift ships with default templates for creating new applications - we should take our PatternFly-React demo application and package it for a PatternFly 3 starter application (node.js based on openshift) and contribute the template to OpenShift

The starter application should be very basic (nav, masthead, login and about).  Eventually - we should include template support for a pf-3 and a pf-nex

[2018-05-30 15:38] mindreeper2420 opened #1069 "Remove PatternFly from Automated RCUE Build"
Now that RCUE is built into PatternFly, the automated build triggers need to be turned off for RCUE.

CC: @dgutride @dlabrecq

[2018-05-30 16:57] dlabrecq commented on #1069
Just need to remove one line from patternfly's travis.yml file.

https://github.com/patternfly/patternfly/blob/master/.travis.yml#L39

[2018-05-30 17:04] dlabrecq commented on #1069
Thinking we should we also add a note in RCUE's README. Something to indicate that the RCUE repo has been deprecated in favor of the CSS being available in PatternFly.

[2018-05-30 18:58] #31 closed, assigned to srambach, jennyhaines

[2018-05-30 20:12] #1063 closed

[2018-05-31 12:51] jgiardino commented on #943
After chatting with Jeff, we realized there are a couple of differences between what we have in pf-react and core.

In pf-react:

1. element is a button
2. popover displays on click/Enter key

In core:

1. element is an anchor
2. popover displays on focus

Our preference is to keep the pf-react html and behavior for the following reasons:

1. Using a button as the tooltip toggle is semantically co

[2018-06-01 18:38] #28 closed, assigned to nobody

[2018-06-04 14:47] Laviro commented on #1059
Going to start to work on it soon in Patternfly-react, just opened an [issue](https://github.com/patternfly/patternfly-react/issues/379) there.

[2018-06-04 16:12] #22 closed, assigned to mcoker

[2018-06-05 03:08] dabeng commented on #1038
I agree with @stacymcauliffe . @mcarrano Any thoughts?

[2018-06-05 12:41] mcarrano commented on #1038
@dabeng @stacymcauliffe I still think this is one of the few cases where a simple Yes or No question is the clearest messaging. When I see something like you suggest, I always need to stop and think about what cancel will do because in this case cancel means to continue with the edit vs. clicking cancel within edit (which actually means cancel the edit). So the difference between Leave and Cancel

[2018-06-05 13:45] #1069 closed

[2018-06-06 02:02] dabeng commented on #1038
@mcarrano I'm OK with captions "Yes or No"

[2018-06-06 18:00] #1044 closed

[2018-06-07 01:17] #19 closed, assigned to matthewcarleton

[2018-06-08 19:22] #26 closed, assigned to mattnolting

[2018-06-11 05:05] dabeng commented on #1038
Hi @mcarrano @stacymcauliffe I have updated [demo page](https://rawgit.com/dabeng/patternfly/ie-list-view-dist/dist/tests/inline-edit-for-list-view.html) with new confirm dialog design:

<img width="726" alt="screen shot 2018-06-11 at 1 02 12 pm" src="https://user-images.githubusercontent.com/5689075/41213438-0d09f678-6d78-11e8-8ae4-6bd5fbc90387.png">

[2018-06-11 12:46] stacymcauliffe commented on #1038
Looks good to me! Thanks @dabeng

[2018-06-11 17:44] mcarrano commented on #1038
@deernano I believe we settled on the styling for this to be consistent with the existing pf modal styling, correct?  In this case the messaging is fine, @dabeng . But this should not have the horizontal separators and be build from a standard modal.

[2018-06-12 15:44] #1067 closed

[2018-06-12 15:56] mcarrano commented on #1020
@mindreeper2420 @LHinson I think we may be able to close this one out. Jenny Haines and I did make some updates/clarifications to states and colors on the Design page here: http://www.patternfly.org/pattern-library/content-views/list-view/#design

@mindreeper2420 can you just verify that this is consistent with what we currently have implemented? If so, there's nothing more to do here.

[2018-06-13 02:50] deernano commented on #1038
@mcarrano yes, already talked with @dabeng , please refer to the  https://rawgit.com/michaelkro/patternfly-react/confirm-dialog-storybook/?knob-With%20Secondary%20Button=true&knob-With%20Body=true&knob-With%20Body%20Heading=true&knob-With%20Primary%20Text=true&knob-Icon=info&knob-With%20Title=true&knob-With%20Icon=true&knob-With%20Secondary%20Text=true&knob-With=&selectedKind=patternfly-react%2FCo

[2018-06-14 18:42] mcoker opened #1076 "Inline edit snippet page - clear/empty "x" icons"
* I noticed that since edge has a built-in "x" icon to clear/empty an `<input type="text">` element, the "x" icon we use in PF to clear the input value creates 2 "x"s. Screenshot below.

![screen shot 2018-06-14 at 1 20 47 pm](https://user-images.githubusercontent.com/35148959/41431478-a41eec0a-6fd8-11e8-80f3-bc5264fab66e.png)

* Also the "combobox" implementation has an "x" icon to clear the curr

[2018-06-15 17:47] gregsheremeta opened #1077 "`yarn check` fails due to jquery peer deependency"
Reproducer: in a directory containing only a vanilla `package.json`:

[code]

yarn builds fine:
[code]

but `yarn check` fails:
[code]

See https://github.com/oVirt/ovirt-web-ui/pull/637#issuecomment-397055706 for discussion

A solution is a `resolutions` block in `package.json`:
[code]

[2018-06-15 20:32] mcarrano opened #1078 "Introduce new test page for Date and Time"
Introduce a new Date and Time test page to replace the old Datepicker that is consistent with the updated design pattern. This implementation must continue to be based on the Boostrap Datepicker.

Ref https://github.com/patternfly/patternfly-design/issues/459 for design details.

[2018-06-15 20:35] mcarrano commented on #1078
@LHinson @matthewcarleton I've created this new issue and assigned to @dabeng for him to contribute the Core examples for the revised Date and Time pickers. We are in the process of also adding this to the design library.

[2018-06-18 16:02] #744 closed

[2018-06-19 12:18] #1064 closed

[2018-06-19 20:08] mindreeper2420 opened #1079 "Remove Background Color & Border from Empty State"
Per a discussion in the uxd-visual Slack channel with @serenamarie125 and @jennyhaines, the empty state pattern should not have a set background color or border. As such, the background should be set as transparent and the border removed.

http://www.patternfly.org/pattern-library/communication/empty-state/#code

The design document needs to be updated as well, as that shows a background with colo

[2018-06-19 20:18] jeff-phillips-18 commented on #1079
This could be problematic for applications that are already using the empty state pattern and expect to have the color and border. I'm not sure how we determine if so.

[2018-06-20 07:34] andreasn commented on #844
It seems it was not fixed in the new design.

[2018-06-20 07:34] andreasn commented on #844
So we'll need to reopen this issue I think

[2018-06-20 09:20] garrett commented on #844
Confirmed still not work as expected with the new login screen on mobile. Brosers tested: Android System WebView (Blink, the Chrome engine) and Firefox, both on Android.

The keyboard still fills half the screen, which means it covers password and the login button. It's especially problematic when there is text under the logo.

Two solutions: Invert the layout with the logo under functional part o

[2018-06-20 20:57] mcarrano commented on #1079
Is this something that can be deferred to PatternFly 4? It's always been this way and has not been raised as a problem until now.  @LHinson FYI.

[2018-06-20 22:22] jeff-phillips-18 commented on #1079
I'm not disagreeing with the change. For sure I've over-ridden most of the blank-slate-pf values in a couple of different applications. I would actually like to see the change made in PF3 (where it will have the biggest impact), I just want to kno if there is some way to determine if it is `breaking`.

[2018-06-20 23:07] mindreeper2420 commented on #1079
I think that it would be "breaking" only in the case where users have specifically changed the background of their page to match the background of this component.

I, like Jeff, have changed it to white or transparent everywhere that I've used it. For those that have done the same (or changed it to another color), this would have no negative impact.

I'd like to see this in PF3.

[2018-06-21 19:15] terefang opened #1081 ".border styles from bootstrap not working"
since the bootstrap.css is not included in patternfly.css the border group of styles are not working

[2018-06-22 02:11] dabeng opened #1082 "Correct RGB colors of list view doesn't take effect"
It seems that the css code of  “States and Row Styling” section has not been merged into the master branch.

<img width="1114" alt="screen shot 2018-06-21 at 11 35 33 am" src="https://user-images.githubusercontent.com/5689075/41754301-6d65da16-7604-11e8-8e6c-5f38db63c627.png">

<img width="1063" alt="screen shot 2018-06-22 at 10 10 30 am" src="https://user-images.githubusercontent.com/5689075/4175

[2018-06-25 07:02] dabeng commented on #1082
@mcarrano I created a demo page for this fix - https://rawgit.com/dabeng/patternfly/list-view-colors-dist/dist/tests/list-view.html

[2018-06-25 13:50] mindreeper2420 commented on #1020
@mcarrano @LHinson The only difference I can see is in the List View with Compound Expansion example.

The design has it that when "8 Hosts" is selected/expanded, an underline appears under that name and only the icon is highlighted blue. In the code, that is not the case - the entire item is highlighted in blue (icon and text), with no underline.

**Design**
<img width="143" alt="screen shot 2018

[2018-06-25 14:28] mcarrano commented on #1020
This has been this way for a while. The implementation never exactly matched the visual design. Not sure I wanted to invest effort in fixing this if no one is complaining. @LHinson what do you think?

[2018-06-25 14:30] mindreeper2420 commented on #1021
outdated - closing

[2018-06-25 14:46] priley86 opened #1083 "Vertical nav pficon user Sass"
The `.navbar-pf-vertical .nav .nav-item-iconic>.pficon-user` Sass is not compiling correctly due to the fact that `calc()` variables do not interpolate this way...

https://github.com/sass/sass/issues/818

I noted this while working on the patternfly-react-demo-app w/ @amarie401 .
Render sass looks like this:
[code]

https://patternfly-react-demo-app.firebaseapp.com/#/

[2018-06-25 16:02] mcarrano commented on #1082
Hmmm... This does not look right. I thought that the hover state was intended to be the lighter blue. It's possible that we got these reversed in the design doc. @jennyhaines can you confirm this? Please double check the color values entered here: http://www.patternfly.org/pattern-library/content-views/list-view/#design

[2018-06-25 19:09] #1083 closed

[2018-06-25 20:50] jennyhaines commented on #1082
@mcarrano - they aren't looking right to me either. Currently, the color values in the design documentation say:

_"Hover - when the user hovers over a row (pf-blue-50, #def3ff)
Selected - when the user selects a row via single click or selecting the checkbox (#edf8ff)
Open - when a row is expanded (##edf8ff)
Edit - when a row is in edit mode via inline edit (##edf8ff)
Disabled - when a row is dis

[2018-06-26 02:48] dabeng commented on #1082
Hi @mcarrano @jennyhaines Could you give the final decision about which is the color solution for list view ?
A. https://github.com/patternfly/patternfly/issues/1038#issuecomment-386097899
B.

Selected - when the user selects a row via single click or selecting the checkbox (pf-blue-50, #def3ff)
Open - when a row is expanded (pf-blue-50, #def3ff)
Edit - when a row is in edit mode via inline edit (

[2018-06-26 14:36] jennyhaines commented on #1082
@dabeng - Let's go with solution B! Once @mcarrano pointed out that hover should be lighter, I whole-heartedly agree. It is more consistent with other PF UI experiences (Like single and multiple select, for example)! Sorry for changing things around on you.

[2018-06-26 17:31] mcarrano commented on #1082
I just opened a design PR to correct the documentation. See https://github.com/patternfly/patternfly-design/pull/687.  I think that should resolve this issue.

[2018-06-27 05:41] dabeng commented on #1038
Hi @mcarrano . Are we ready to send "inline edit in list view" PR if the PR of background colors of list view is merged.

[2018-06-27 19:05] mcarrano commented on #1038
Yes, I think so @dabeng

[2018-06-29 12:52] #27 closed, assigned to mattnolting

[2018-07-03 18:49] LHinson commented on #828
Thanks @michael-coker @mcarrano. I'm closing then!

[2018-07-03 18:49] #828 closed

[2018-07-03 19:29] #778 closed

[2018-07-03 19:59] dgutride commented on #662
@gregsheremeta  - closing based on commits from Cliff above, please contact if you need to reopen

[2018-07-03 19:59] #662 closed

[2018-07-03 20:01] dgutride commented on #670
Closing due to lack of activity - PatternFly should generally not be making or impacting any API calls.  Please re-open with suggestions if you disagree.

[2018-07-03 20:01] #670 closed

[2018-07-03 20:01] dgutride commented on #901
Closing due to lack of information - please reopen if there are any further details.

[2018-07-03 20:01] #901 closed

[2018-07-03 20:04] dgutride commented on #815
Closing - reviewed the last 10 releases and commit messages are being used correctly by the team (there is another issue to fix the extra anchor tag that we'll address with a semantic release version)

[2018-07-03 20:04] #815 closed

[2018-07-05 07:00] dabeng commented on #784
I sent PR #1087 to fix this issue.

[2018-07-05 07:01] dabeng commented on #1065
I sent [PR](https://github.com/patternfly/patternfly-design/pull/690) to fix this issue.

[2018-07-05 12:39] dabeng commented on #907
**Development notes of secondary action buttons of empty state pattern**

1 If width of secondary button is short (e.g. less than 300px), you can set the same width for all action buttons according to the widest button as shown as below:

![screenshot from 2018-07-05 20-22-38](https://user-images.githubusercontent.com/5689075/42323206-e7b83eb6-8091-11e8-9b7d-ecec3d79a73f.png)

2 If you have to add

[2018-07-05 12:41] dabeng commented on #907
@matthewcarleton @beanh66 @LHinson @jennyhaines need your new thoughts about above dev notes :blush:

[2018-07-05 14:37] LHinson commented on #1065
Closing this issue since its been addressed with the referenced PR. Thanks @dabeng

[2018-07-05 14:37] #1065 closed

[2018-07-05 14:58] LHinson commented on #1035
@skateman @terezanovotna To confirm, the icons do not look disabled because of this customization? If you used the standard color, would the icon look disabled?

From a user experience perspective, I don't see any reason why edit, policy or download (as seen in the screenshot above) require a color. What value does that provide? The goal of PatternFly is to provide consistency across the various U

[2018-07-05 15:25] LHinson commented on #957
@mcarrano I'm going to close this for now as this is a breaking change to PF3 that I'd like to avoid. I see the related react PR was merged therefore don't believe this is blocking anything. Reach out to me with any questions / comments.

[2018-07-05 15:25] #957 closed

[2018-07-05 15:31] LHinson commented on #923
@kirantpatil I hope you were able to find some CSS expertise to help you! I'm going to close this issue against PatternFly since this is not a PF bug, rather specific to your implementation.

[2018-07-05 15:31] #923 closed

[2018-07-05 15:38] LHinson commented on #638
@bregman-arie @pthealthtech apologies for the long delay. The jquery implementation has not been prioritized to date. Do you plan to continue to use jquery or have you investigated leveraging any of the js implementation frameworks? For example, we have a [react implementation](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Item%20Count%3A=75&knob-Items%20End=15&knob-Page=

[2018-07-05 15:43] LHinson commented on #761
The CSS and jquery showcase is an effort that we opted to not pursue therefore i"m closing this issue as it's no longer relevant.

[2018-07-05 15:43] #761 closed

[2018-07-05 17:18] LHinson commented on #1038
Closing as the PR has been merged to add inline edit for list view. I've created an issue to get this posted to the site. see: https://github.com/patternfly/patternfly-org/issues/592

[2018-07-05 17:18] #1038 closed

[2018-07-05 17:46] LHinson commented on #1082
Closing this issue since it's been addressed. Thanks @dabeng!

[2018-07-05 17:46] #1082 closed

[2018-07-05 17:48] LHinson commented on #1078
Closing as this has been addressed with PR 1080

[2018-07-05 17:48] #1078 closed

[2018-07-05 17:50] LHinson commented on #1058
@d-m-u reach out if you have more specifics on the issue. I'm going to close this one until then as we don't have enough information to address.

[2018-07-05 17:50] #1058 closed

[2018-07-05 17:53] LHinson commented on #1050
Closing this one as we will not address at this time. See Matt's comment above from May 14

[2018-07-05 17:53] #1050 closed

[2018-07-05 21:00] jeff-phillips-18 opened #1088 "Need README instructions on using RCUE CSS, Less, and Sass"
RCUE styling is now available in this repository but I don't see instructions on how a product would import in order to gain RCUE styling for the 3 supported mechanisms.

RCUE support was added in #1022

[2018-07-06 03:14] dabeng commented on #939
The related [PR](https://github.com/patternfly/patternfly/pull/1089) has been sent.

[2018-07-06 11:21] LHinson commented on #1076
@michael-coker thanks for filing this. We have a number of issues on our plate but will take a look at this next sprint.

[2018-07-06 11:33] LHinson commented on #1020
@mindreeper2420 @mcarrano when looking at the rawgit pages and the examples on pf-org, I still see the blue color background on selected.

[2018-07-06 11:47] LHinson commented on #992
I don't see this specifically addressed in the actions documentation. I also see a "create" action button in blue. @kybaker can you confirm what this is supposed to be so we can determine how to address.

[2018-07-06 11:57] LHinson commented on #842
looping back around on this one @andreasn @jgiardino. Were you able to proceed with standard PF dialog boxes? If not, see andres' above question. Thanks so much.

[2018-07-06 12:14] LHinson commented on #512
@terezanovotna I see that you are doing a UX review on the MIQ issue. I'd love to sync on this to determine a path forward.

[2018-07-06 12:39] LHinson commented on #638
ok thanks @bregman-arie

[2018-07-06 12:39] #638 closed

[2018-07-06 13:04] LHinson commented on #939
This PR has been merged so closing this issue!

[2018-07-06 13:05] #939 closed

[2018-07-06 13:35] amarie401 commented on #972
Since we aren't showing login social account on the current website, there will be no need to update the image path for this. I'm going to go ahead and close this issue, if there is a decision to include this example on the website at some point then we can reopen this.

[2018-07-06 13:35] #972 closed

[2018-07-06 13:38] matthewcarleton commented on #907
looks good @dabeng. I'd suggest stating `min-width` instead of width. Also state is spelled incorrectly as "slate" :)

[2018-07-06 19:40] mechevarria opened #1090 "CSS on pficon-user is inconsistent with other icons"
I noticed that the pficon-user element does not line up like other icons.  I included some screenshots to show the issue.  The fix is to remove the `float: left` from the element.
![problem2](https://user-images.githubusercontent.com/2657771/42397195-eea247a2-8132-11e8-8bf9-69bf4f6933d1.png)
![problem1](https://user-images.githubusercontent.com/2657771/42397196-eeb234fa-8132-11e8-9e24-1c55f8650b9f

[2018-07-06 21:05] jeff-phillips-18 opened #1091 "Horizontal Navigation secondary level menus are not legible when opened."
From PF.org

http://www.patternfly.org/pattern-library/navigation/horizontal-navigation/#code

![image](https://user-images.githubusercontent.com/11633780/42400156-7cd1a490-813e-11e8-9def-835a367a894b.png)

[2018-07-06 23:17] dabeng commented on #727
@dgutride  @jeff-phillips-18 I tried to append a [new option](https://github.com/dabeng/patternfly/commit/50e8a83238aa220e01d259182217e58013e816bf#diff-3a08537993f8159a012ac07ee723e26cR11) for method setupVerticalNavigation(). Here's the [demo page](https://rawgit.com/dabeng/patternfly/ls-option-dist/dist/tests/vertical-navigation-with-tertiary-pins-disable-localstorage.html). In this page, develo

[2018-07-07 02:06] feniworks opened #1092 "Datatables: Filter plugin won't work if table was set to 'serverSide'"
Hello, I'm trying to figure out why the Filter plugin won't work if a table has `serverSide: true`. When I set it to `false`, like in the examples, it works perfectly, but I need it to be server-side because I will be listing a lot of rows.
Everything else, such as pagination and sorting, works in both cases.

Thanks in advance.

**Files included**
[code]

**HTML code**
[code]

**Javascript**
[cod

[2018-07-08 06:16] skateman commented on #1035
@LHinson the problem here is inconsistency, if the button has no custom color (i.e. has the default one) and it becomes disabled, its color will be adjusted:
![screenshot from 2018-07-08 08-14-53](https://user-images.githubusercontent.com/649130/42417304-2fbb2182-8287-11e8-996c-d32c83f0d3f2.png)

[2018-07-09 02:32] dabeng commented on #907
Hi @matthewcarleton  I just followed naming convention used in [test page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/blank-slate.html)

[2018-07-09 09:20] terezanovotna commented on #1035
@LHinson has a great point about color. It's nice to display color, but it doesn't provide any value to the user, and therefore having the icons black (for active) and grey (for disabled) makes sense.

@skateman would that resolve the issue?

[2018-07-09 09:22] skateman commented on #1035
@terezanovotna @LHinson this was a requested feature by @Loicavenel

[2018-07-09 09:30] terezanovotna commented on #1035
@skateman is right. Would it be a reasonable solution? @Loicavenel

[2018-07-09 09:36] Loicavenel commented on #1035
@terezanovotna we introduced this feature in CF 4.6 and people really like the capability to set color on the 811 icons option, not sure we should removed a feature already supported

[2018-07-09 09:55] skateman commented on #1035
So the thing I am proposing here is to adjust the definition of the `.diabled` class on a button's icon. Right now PF [explicitly sets a color](https://github.com/patternfly/patternfly/blob/master/src/less/buttons.less#L16) with the evil `!important`. Instead of this the opacity should be set to let's say `50%` on the color that is being set on the non-disabled button. This way it is not important

[2018-07-09 12:48] Loicavenel commented on #1035
Seems ok for me..

[2018-07-09 17:49] mcarrano commented on #1076
Yeah, this bothers me a little bit, too, @michael-coker . The second "X" icon is actually a cancel button so it has a different result but I can see where this can be confusing. I believe that the clear "X" is being exposed by the component itself.

Do you have any thoughts on how to address this? We definitely need the cancel button, but could consider a different icon.

[2018-07-09 17:52] mcarrano commented on #1020
Yes, I know this is a bit confusing @LHinson . But after some further discussion we decided to keep the blue background for selected rows.

[2018-07-09 18:32] jgiardino commented on #723
This is primarily a design and JS issue. I suggest pairing :pear: up a designer and JS dev to investigate a solution that's possible in all the JS repos.

I removed the `css` label since css updates related to keyboard navigation can be included for issue #839.

[2018-07-09 18:32] jgiardino commented on #706
This is definitely a JS update. JS is adding the `.active` class on click. I think this could be reviewed as part of #723, which probably requires some design and JS investigation into what our options are.

[2018-07-09 18:56] michael-coker commented on #1076
@mcarrano just to make sure, we're talking about the 2 x's in the combobox element? Assuming so, how about we just drop the 1st x (the one that clears the field) from a combobox? The clear button is only on the text input currently, and isn't on any other type of form element. So I don't see an issue with dropping it from the combobox element.

And FWIW, that clear button only shows up before the

[2018-07-09 19:03] mcarrano commented on #1076
I agree with this solution.

[2018-07-09 19:20] LHinson commented on #842
I'm going to close this one for now but definitely reach out if we need to discuss more. Thanks!

[2018-07-09 19:20] #842 closed

[2018-07-09 19:23] LHinson commented on #706
Thanks for your input @jgiardino!

[2018-07-09 20:09] LHinson commented on #1020
OK thanks @mcarrano, I'll close this issue then.

[2018-07-09 20:09] #1020 closed

[2018-07-09 20:31] mcarrano commented on #1091
We actually decided a while back to no longer recommend this configuration (secondary nav with dropdowns) so I'd like to just remove this from the code page, if possible.

[2018-07-09 20:34] michael-coker commented on #1076
@mcarrano cool! I can grab this one if you like, but it may be a couple of weeks before I can get to it.

[2018-07-09 20:39] LHinson commented on #1076
@michael-coker that would be great, I'll assign you to it but leave it in the "to-do" column for now

[2018-07-09 21:31] mcarrano commented on #907
@dabeng I like the second option with links instead of buttons for secondary actions. But this is not specified in the current design. What do others think. Is this a variant that we should add? @beanh66 @jennyhaines interested in your thoughts.

[2018-07-10 20:22] jennyhaines commented on #907
@mcarrano @dabeng -
I can see the use of links as a secondary option for instances when those secondary actions are scarcely used.

[2018-07-11 01:48] marclaporte opened #1093 "Consider a license change from Apache to MIT"
For the same reasons as Bootstrap itself:
https://github.com/twbs/bootstrap/issues/2054

And:
https://startbootstrap.com/articles/2016/02/06/start-bootstrap-moves-to-mit-licensing/

[2018-07-12 03:39] dabeng commented on #907
Hi @mcarrano The second option is derived from @jennyhaines [recommendation](https://github.com/patternfly/patternfly/issues/907#issuecomment-366291029)

[2018-07-12 04:49] dabeng commented on #767
IMO, in the context of jQuery, there is no appropriate timing to change the classList of vertical navigation sidebar before rendering according to localStorage settings. But this will be a easy task in the context of React or Vue.js.

On the other side, I have a trick solution for this issue:
1. set the visibility of the whole page to hidden

2. add class ".collapsed" and ".collapsed-nav" to sideb

[2018-07-12 13:18] mcarrano commented on #907
Sounds good to me. What are the next steps here @dabeng ? Are we ready to send a PR?

I will also open a design issue so the documentation can be updated.

[2018-07-12 13:22] LHinson commented on #907
@dabeng @mcarrano in order to close out this particular issue, I'd like to add the dev notes for the original design, first example. This would be a PR against patternfly-org to add dev notes. If you would like to proceed with a new design, let's proceed with that over in patternfly-design and follow up with implementation. However, I'd like to avoid scope creep for this particular issue.

[2018-07-12 13:41] mcarrano commented on #907
Makes sense @LHinson . I have opened a new design issue here that can live in our backlog to cover alternate secondary button options. https://github.com/patternfly/patternfly-design/issues/696

[2018-07-13 03:47] dabeng commented on #907
LGTM +1

[2018-07-13 13:39] andresgalante commented on #1035
Hi @skateman you are right, it should be an opacity. I have 2 concerns:

1.  if we make it a transparency of an unknown color, let's make sure the percentage we pick is readable and accessible.
1. Youy are riught, there shouldn't be an important there and looking in the git history I can't spot how did it end up there. Having said we should make sure that we are not breaking anything by removing i

[2018-07-13 13:52] skateman commented on #1035
@andresgalante I was looking into this, but couldn't come up with a fix, that's why I created the issue and not a PR :disappointed:

[2018-07-16 20:50] LHinson commented on #1091
Thanks @mcarrano. I've filed an issue against pf-org to remove. see: https://github.com/patternfly/patternfly-org/issues/598

[2018-07-16 21:32] mtho11 commented on #1088
Hi, is there any progress on this issue?

[2018-07-17 13:36] LHinson commented on #1088
Hey @mtho11, this is currently still on out backlog. Is this currently a blocking issue for you?

[2018-07-17 16:35] mtho11 commented on #1088
Hi @LHinson, I'm currently finding out with PM how blocking this is. I will have a definitive answer shortly.

[2018-07-17 16:47] LHinson commented on #1088
ok great, that will be super helpful for me to understand how to prioritize this. thanks for the additional insight @mtho11

[2018-07-17 18:36] dgutride commented on #1092
Requires investigation to see how difficult the fix will be and if it will break the existing users of this plugin.

[2018-07-17 18:41] dgutride commented on #964
Requires investigation to understand the level of effort involved

[2018-07-17 18:45] dgutride commented on #1077
Requires investigation to see if the simple resolutions block in the package.json file is sufficient to resolve this (repro with patternfly-react and see if fix here is sufficient).

[2018-07-17 18:47] dgutride commented on #1081
Requires more details - @andresgalante, any idea what this is referring to?

[2018-07-17 18:49] dgutride commented on #1025
We should do this across all patternfly repos.

[2018-07-17 18:51] dgutride commented on #924
@michpetrov  - is your commit a fix for this, if so - would you like to create a PR for it?

[2018-07-17 18:54] dgutride commented on #1079
we should try to do this if there is a way to introduce a change without breaking users that have already customized the background  - @mindreeper2420 , @jeff-phillips-18: would that be possible?

[2018-07-17 18:56] dgutride commented on #1090
This appears to be a bug on patternfly-ng and not on core css.

[2018-07-17 19:10] LHinson commented on #1090
@mechevarria I'm having a hard time pinpointing where the bug is here.

If I look at patternfly-core, I don't see this dropdown with the caret. See: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/vertical-navigation-primary-only.html

If I look at patternfly-ng, I see issues with icon alignment but not the issue with the alignent/caret. See: http://www.patternfly.org/patternfly-ng

[2018-07-17 19:23] mindreeper2420 commented on #1088
@LHinson I can take this on, as I did the conversion work.

[2018-07-17 19:23] dgutride commented on #964
Spoke with Dan  -closing until the community indicates there is a need for this (been more than six months since it worked so nobody must be using it).

[2018-07-17 19:23] #964 closed

[2018-07-17 19:37] mindreeper2420 commented on #1079
@dgutride If a user changed it to be transparent or white (like OpenShift.io, for example), then this won't necessarily have a negative impact on them (other than now their code duplicates PatternFly). If they matched their background to the empty state color, then that will definitely cause issues.

Unfortunately, that is hard to tell until the change actually happens and people update their UIs.

[2018-07-17 19:45] LHinson commented on #1079
Thanks for that additional information @mindreeper2420 We are trying to be very mindful of breaking changes. Therefore, I'd like to understand the value of this change.

@serenamarie125 @mindreeper2420 Why should the "the empty state pattern should not have a set background color or border"? What's the concerns/issue that this is introducing?

[2018-07-17 19:59] LHinson commented on #1035
@andresgalante we'll need to take this one.

[2018-07-18 12:37] andresgalante commented on #1081
Hi @terefang Bootstrap's CSS is included in patternfly, it's been imported[ here](https://github.com/patternfly/patternfly/blob/master/src/less/patternfly.less#L6)

Remember that Patternfly 3 is based on Bootstrap 3. Maybe I am wrong but unlike Bootstrap 4, Bootstrap 3 doesn't have [border utility classes](http://getbootstrap.com/docs/4.1/utilities/borders/).

[2018-07-18 13:19] LHinson commented on #1081
Thanks for your input @andresgalante. I'm closing this issue based on that information. @terefang feel free to follow up if this does not address the issue!

[2018-07-18 13:19] #1081 closed

[2018-07-18 14:32] kedark3 opened #1096 "DateTimePicker does not look good on resize of browser"
![image](https://user-images.githubusercontent.com/8180469/42888228-cc7f2a86-8a75-11e8-898b-cffe8dd06719.png)
Reference to: https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/498

[2018-07-18 14:34] mechevarria commented on #1090
This issue can be closed.  I used the example html from the first link you sent to create the user dropdown menu and there were no css issues.  The fixed code is used is here (lines 35-45)

[https://github.com/mechevarria/patternfly-ng-seed/blob/master/src/app/nav/nav.component.html](https://github.com/mechevarria/patternfly-ng-seed/blob/master/src/app/nav/nav.component.html)

I am using the verti

[2018-07-18 14:34] #1090 closed

[2018-07-18 19:41] LHinson commented on #1088
Closing this issue as the quick start has been merged. @mtho11 please file any issues that you might have when using the quick start so we can continue to improve it!

[2018-07-18 19:41] #1088 closed

[2018-07-18 19:52] LHinson commented on #1096
Issue can also be seen on DateTimePicker on the patternfly test page here: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/date-and-time.html#

[2018-07-18 21:16] LHinson commented on #924
Thanks @michpetrov!

[2018-07-19 00:19] mindreeper2420 commented on #1025
@dgutride I've created a PR (see linked PR above) to update to NodeJS v8.x (LTS) and replace the `package-lock.json` file with `npm-shrinkwrap.json`.

Do all of the repos (including release) need to be updated at the same time, or can they use 6.x for the time being?

[2018-07-19 12:41] dgutride commented on #727
@dabeng  - I think the request was to make this configurable to be able to use a different form of storage (in addition to disabling storage altogether) - can you take another stab at it?

[2018-07-19 14:29] mindreeper2420 commented on #1025
Repos that need updating:
- [ ] patternfly/patternfly (v6)
- [ ] patternfly/patternfly-angular (v4)
- [ ] patternfly/patternfly-react (`.travis.yml` file only)

Repos that already use v8:
- patternfly/patternfly-ng
- patternfly/patternfly-react
- patternfly/patternfly-next

[2018-07-19 17:53] mindreeper2420 commented on #1025
patternfly/patternfly-eng-release has also been updated to use NodeJS v8

[2018-07-20 20:23] mindreeper2420 opened #1103 "Missing Sass files from Build"
It was recently found, through PR https://github.com/patternfly/patternfly/pull/1102, that there are `scss` files that were not updated/built for RCUE as part of the latest builds. These are files that reside in the `src/sass/converted/rcue` directory and need to be included.

The files that need updating are:
[code]

The new file that needs to be created is `src/sass/converted/rcue/_date-and-time

[2018-07-23 11:10] jeff-phillips-18 commented on #1091
The CSS that exists is still incorrect. For any application using Patternfly and using this pattern, the secondary nav is not legible.  I believe we should fix the CSS for those applications which might use it even if it is now removed from PF.org

[2018-07-23 17:38] #839 closed

[2018-07-23 19:11] michael-coker opened #1105 "Wizard click handler is disabling links on patternfly.org"
If you load https://www.patternfly.org/pattern-library/communication/wizard/#overview, the links on patternfly.org no longer work.

[2018-07-24 20:41] #1105 closed

[2018-07-25 14:13] dgutride commented on #727
@dabeng  - this looks like the right direction - one change, please use full words for the option instead of L or S (so localStorage or sessionStorage) and then put up a PR.

[2018-07-25 19:13] bthurber commented on #1096
@kedark3 do we have a BZ open for this?  If so please link.

[2018-07-25 19:31] kedark3 commented on #1096
@bthurber we have one in V2V, would that work?

[2018-07-25 19:37] bthurber commented on #1096
@kedark3 sure.

[2018-07-25 22:07] kedark3 commented on #1096
https://bugzilla.redhat.com/show_bug.cgi?id=1602792

[2018-07-26 10:31] jeff-phillips-18 commented on #767
IMO, the CSS change I mentioned above could be done in PF. Applications using local storage to set the nav state to the previous state should then, as I mention above as well, simply start with the `hide-nav-pf` class on the vertical nav and container components.

[2018-07-27 02:13] dabeng commented on #767
Hi @jeff-phillips-18 . Do you mean that we should abandon `vertical-navigation-primary-only-no-cache.html` and `vertical-navigation-primary-only-sessionstorage.html`

[2018-07-27 06:02] dabeng commented on #767
Hi @jeff-phillips-18 I have refactored the  [demo page](https://rawgit.com/dabeng/patternfly/remove-flash-dist/dist/tests/vertical-navigation-primary-only.html) and replace class `hidden` with `hide-nav-pf`

[2018-07-27 14:29] mcarrano opened #1112 "Introduce Copy to Clipboard component"
Copy to Clipboard has been added as a new pattern on the PatternFly website (https://www.patternfly.org/pattern-library/forms-and-controls/copy-to-clipboard). Need a corresponding Core implementation for this.

[2018-07-30 10:21] himdel opened #1113 "Trying to install patternfly via npm fails on older node"
Caused by https://github.com/patternfly/patternfly/pull/1100.

Doing `yarn install` in any repository which depends on the `patternfly` npm package now fails when using older node than 8.9.0:

[code]

The problem with that is: there is no reason this should block the install. We're not running any patternfly scripts, we're not trying to rebuild patternfly using your configuration, we're just servi

[2018-07-30 10:43] jeff-phillips-18 commented on #767
@dabeng please put up a PR with the changes so that it can be reviewed.

[2018-07-30 16:53] mindreeper2420 commented on #1113
My thinking around requiring that engine was to specify which versions of node are compatible with PatternFly, in order to decrease the amount of conflicts. Additionally, v6.9.1 is in "maintenance" mode for NodeJS (as of April 30, 2018) and we wanted to keep PatternFly on the latest active LTS.

When I run `npm install` (I do not use `yarn`) on a project that consumes PatternFly and then run said

[2018-07-31 09:10] himdel commented on #1113
What this is doing is forcing every single project using patternfly to use that same version of node.

Not sure that was something you intended... ;)

[2018-07-31 12:47] #1103 closed

[2018-07-31 15:31] himdel commented on #1113
@jeff-phillips-18 This is currently breaking manageiq builds, please assign appropriate priority ;)

[2018-07-31 15:32] martinpovolny commented on #1113
ping @simaishi

[2018-07-31 15:39] martinpovolny commented on #1113
@mindreeper2420 we do not have unlimited menpower on manageiq. Can you revert #1100 ?

[2018-07-31 15:47] mindreeper2420 commented on #1113
I cannot revert PRs - @dgutride is this something that you can take a look at?

[2018-07-31 17:30] mindreeper2420 commented on #1113
A PR has been filed to remove the engine requirements. Of note, this is the only PatternFly repo (React, NG, Angular, Next) that does not have engine requirements.

[2018-07-31 17:55] #1113 closed

[2018-07-31 19:25] LHinson commented on #767
Closing issue since PR #1114 has been merged.

[2018-07-31 19:25] #767 closed

[2018-07-31 19:29] LHinson commented on #907
@dabeng in order to close out this issue, dev notes are needed for the original design (your first example). This would be a PR against patternfly-org. I don't see the notes up on patternfly.org. What's the update on this?

[2018-07-31 19:42] dgutride commented on #1113
@himdel - please use release 3.54.1

[2018-08-01 11:00] himdel commented on #1113
Thanks for the quick fix everyone! :)

[2018-08-01 15:04] LHinson opened #1116 "Textbox Filter Bug"
Related to: https://github.com/patternfly/patternfly-design/issues/695

- The text box filter should work as a Select list (either single or multiple) with placeholder text. You can see that behavior if you go to this page and scroll down to [Placeholder](http://silviomoreto.github.io/bootstrap-select/examples/ ). The placeholder text should not appear in the menu.
- When you clear the filters, th

[2018-08-01 17:11] mindreeper2420 commented on #1025
This was completed by PR https://github.com/patternfly/patternfly/pull/1100

[2018-08-01 17:11] #1025 closed

[2018-08-02 10:42] dabeng commented on #907
Hi @Dobflem I planned to send PR to patternfly-core repo to add new examples of empty state on testing page and then send the associated PR to patternfly-org repo

[2018-08-02 13:50] QiWang19 commented on #1081
I used reactstrap in my cockpit project. reactstrap uses bootstrap v4, but patternflt uses bootstrap v3. Something wrong with that. The newest version of patternfly uses bootstrap v4?

[code]

[2018-08-02 14:00] michael-coker commented on #1076
@mcarrano finally getting back around to this. I don't think I understood what you meant when when you said the first/clear "X" in the combobox was part of the component itself. But you're right, it's part of the combobox component, and [doesn't look like you can remove it](https://github.com/danielfarrell/bootstrap-combobox), so I'll just leave that one in there. Does that sound OK?

[2018-08-02 14:32] mcarrano commented on #1076
@michael-coker I think so, but can you show me an example of what that would look like? In re-reading this now I have to admit to being a bit confused about what's going on here and what we want to accomplish. Unfortunately having the Clear and Cancel buttons at the same time causes issues. Open to alternate suggestions.

[2018-08-02 14:37] LHinson opened #1118 "Create a test page that includes sidebar working w/ the vertical nav"
Create a test page that includes sidebar working w/ the vertical nav. Related to #512.

Side bar can be seen in this test page here: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/form.html

Create a new test page using the above from page with vertical nav vs horizonal nav.

[2018-08-02 15:03] michael-coker commented on #1076
Basically, I would make no changes to the existing combobox inline edit pattern. I was originally saying that this instance with (2) X's is confusing, and I was hoping to just get rid of the first/clear X, but it's built into the combobox component (an external resource), and there are no options to remove it.

<img width="498" alt="screen shot 2018-08-02 at 9 46 13 am" src="https://user-images.gi

[2018-08-02 15:20] LHinson commented on #907
@dabeng ok sounds good.

[2018-08-02 19:16] LHinson commented on #1079
Per @lizsurette on https://github.com/patternfly/patternfly-design/issues/682

Since this is not a large effort to override, I'm closing this issue due to the risk it presents to breaking change. That said, we will add dev notes to the empty state code page to identify/ack this as an option. See: https://github.com/patternfly/patternfly-org/issues/615

[2018-08-03 11:02] jeff-phillips-18 commented on #1079
Could we add an optional class that would then override the border and bg color thus providing the optional styling?

[2018-08-03 17:09] LHinson commented on #512
@skateman @martinpovolny I've created an issue against pf-core to create a test page to get this operating correctly. It's a high priority for @dabeng so we can finally get this ball moving in the right direction.

I'm hoping a test page helps to resolve the issue identified here.

[2018-08-03 17:37] michael-coker commented on #1076
@mcarrano just pinging to make sure you saw my reply above (I forgot to tag you)

[2018-08-03 17:49] mcarrano commented on #1076
@michael-coker That seems like a good resolution. Should we just close this out then?

[2018-08-03 18:02] michael-coker commented on #1076
@mcarrano there is still the issue with 2 X clear icons in the text input field in IE. Submitted a PR for that - https://github.com/patternfly/patternfly/pull/1119

[2018-08-06 06:15] dabeng commented on #1118
@LHinson @andresgalante @dgutride I created a [test page](https://rawgit.com/dabeng/patternfly/vnav-sidebar-dist/dist/tests/vertical-navigation-with-sidebar.html) that includes sidebar working w/ the vertical nav. Could you review it whenever you have the chance ?

[2018-08-06 06:42] dabeng commented on #1118
FYI, due to its own bug , [fixed-height accordion](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/accordions.html) can not be used in the above layout to implement the following feature:
https://github.com/patternfly/patternfly/issues/512#issuecomment-327736464

[2018-08-06 08:46] dabeng commented on #1116
Hi @LHinson @mcarrano . After looked into the issue( patternfly/patternfly-design#695), I found that [current filters](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/filter.html) of patternflly-core repo are build up based on [bootstrap button dropdowns](https://getbootstrap.com/docs/3.3/components/#btn-dropdowns). Are you sure you want to replace all of them with [bootstrap selec

[2018-08-06 15:30] mcarrano commented on #1116
Good question @dabeng .  I didn't realize this. Given that these are already implemented as dropdowns, is there any reason that the placeholder text must also live in the menu? Seems like that should just be the label of the button and the menu includes things you can select. Does that make sense? What would your recommendation be on how best to address this?

[2018-08-06 19:38] mcarrano opened #1121 "Introduce File Upload core implementation"
[File Upload](https://www.patternfly.org/pattern-library/forms-and-controls/file-upload/) has been added as a new pattern. Requires core CSS implementation and test page.

[2018-08-07 08:40] garrett opened #1122 "checkboxes and radios are not vertically aligned properly"
Checkboxes and radios are not properly aligned vertically to their labels.

I noticed the issue in Cockpit, but this is also a problem in PatternFly and Bootstrap too. I've seen it in screenshots from several others and have also witnessed it on my own machine.

It affects Firefox (on Linux here, at least) more than Chrome, but affects Chrome and WebKit (Epiphany on Linux) also.

The issue is due

[2018-08-07 10:31] garrett commented on #1122
## Fix!

### Codepen

I've made a fix. Here's a CodePen: https://codepen.io/garrett/pen/QBVzWW/?editors=0100#0

### Screenshot

Here's a screenshot with Chrome, Firefox, WebKit (Epiphany / GNOME Web), and even IE11.

![checkboxes-and-radio-buttons-vertical-alignment](https://user-images.githubusercontent.com/10246/43770742-7d514f84-9a3d-11e8-9c0d-69377140d427.png)

### Relevant CSS

[code]

[2018-08-07 11:42] LHinson commented on #1118
I see the bug now @dabeng. What options do we have to fix?

[2018-08-07 16:03] garrett commented on #1122
I started to integrate and test this snippet within Cockpit. I think it might need a little tweak (like adding label.checkbox, label.radio to the last block).

I'll finish looking into it in action tomorrow, as it's evening here.

[2018-08-07 16:36] jeff-phillips-18 commented on #1118
What bug in fixed-height-accordion?

[2018-08-07 18:51] LHinson commented on #1096
Closed with issue #1120

[2018-08-07 18:51] #1096 closed

[2018-08-08 00:26] dabeng commented on #1118
@jeff-phillips-18 IMO, there is three bugs:
1. When you expand one panel, the below panels will slide down firstly and then slide up.
![peek 2018-08-08 06-56](https://user-images.githubusercontent.com/5689075/43808731-f14fd114-9ae0-11e8-9f53-b25e8dd55d75.gif)

2. current [fixed-height accordion](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/accordions.html) doesn't work if you ch

[2018-08-08 10:51] jeff-phillips-18 commented on #1118
Most of what you indicate above is basic accordion behaviors/issues. The `Fixed` height accordion is meant to be `Fixed` height, meaning it has a fixed height not relative height. Changing the height attribute in the style setting using dev tools will not update obviously, but if you were to then resize the window it would.

None of this causes the sidebar issue or prevents it from being in the si

[2018-08-08 11:40] garrett commented on #1122
I've been working on integrating the fix into Cockpit and ran across a few issues. One of the biggest ones is related to using flex, as it removes the space between multiple elements (which is normally a good thing, when flex is concerned)... meaning `<label>`s with sub-tags such as `<strong>`, `<em>`, `<b>`, `<i>`, or `<span>` then have words squeezed next to each other. This is not optimal. So I

[2018-08-08 13:57] dabeng commented on #1118
Sorry, I should give more details : )
1. from my point of view, fixed-height accordion is meant to full-height accordion like http://jqueryui.com/accordion/#fillspace

2. If `The Fixed height accordion is meant to be Fixed height, meaning it has a fixed height not relative height.` Such accordion is less useful than full-height accordion.

3. I changed height attribute within source code rather th

[2018-08-08 14:40] jeff-phillips-18 commented on #1118
Here's a crack at the sidebar in vertical nav with the new fixed height accordion:

[Test Page](https://rawgit.com/jeff-phillips-18/patternfly/vert-nav-sidebar/dist/tests/vertical-navigation-with-sidebar.html)

[2018-08-08 18:07] garrett commented on #1122
Between little Cockpit things here and there, I've been wrestling with getting this working _in vivo_ within Cockpit and sync'ing up the changes to the tests. And doing this across all browsers easily available on Linux (that is: not running VMs or booting up my old Mac yet).

Oddly, they're behaving differently with the same snippet and I haven't been able to figure out why. I think I'm nearly th

[2018-08-09 09:04] dabeng commented on #1116
@LHinson @mcarrano Perhaps we need to achieve unity in understanding.

1. @akaRem put forward two issues. One is about textbox filter(input filter). Feel free to play around with the associated [demo page](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/table-view.html#). You will find that with the help of textbox filter of patternfly-core repo, users could create active filter la

[2018-08-09 14:05] marjanovicsteva opened #1124 "Modal disable issue"
**For feature requests or enhancements, file an issue against [patternfly-design](https://github.com/patternfly/patternfly-design).**

**For bug reports, please provide as much relevant info as possible:**
* Firefox 61.0.1 (64-bit), Debian GNU/Linux 9.5 (stretch)
* Are you using a PatternFly JS framework implementation? **No**
* Create a modal with click on `list-group` item. Dismiss a modal by cl

[2018-08-09 14:15] #1124 closed

[2018-08-09 18:07] jgiardino opened #1125 "questions about Login screen design and implementation"
A couple of questions came up during implementation of the [Login screen for pf-react](https://github.com/patternfly/patternfly-react/pull/362).

1. The [design documentation](https://www.patternfly.org/pattern-library/application-framework/login-page/#design) shows a divider during the responsive state after the Log In button, but this isn't present in the [core example](https://rawgit.com/patter

[2018-08-09 18:12] mcarrano commented on #1116
@dabeng for (1) not sure I see what the issue is. Seems to work as expected.

For (2), we could add "no filter" to the menu. However this would mean that selecting that option should clear any existing filters which is not currently the case. I looked at how this is working today in both Angular and React PatternFly and they are not consistent. Please hold on this for now until I can get more inpu

[2018-08-09 18:30] mcarrano commented on #1125
@matthewcarleton These questions came out of a review of the React implementation I was doing with @jgiardino today. I remember discussing some of these topics during Core implementation. Would be good for the 3 of us to sync on these issues and decide whether updates are needed to the core CSS.

In addition to the above, I also noticed that the More/Less link exists in the Core example for respon

[2018-08-10 14:26] matthewcarleton commented on #1125
Just spoke with @jgiardino and @mcarrano here is where this stands:
1. The design doc should be updated to reflect what is shown in core ( no separator in responsive state)
2. This is an easy fix that we could implement in core, it was just not added in the initial implementation.
3. This is from the original implementation of login but I believe it was meant to be changed. I think it's a good ide

[2018-08-12 22:06] akaRem commented on #1116
@dabeng The playground you provided is ok in general. But how can I reproduce original issue with placeholders and no-filter stuff?

I mean this playground does not include UI case like this
<img width="341" alt="image" src="https://user-images.githubusercontent.com/1472728/42732260-c23e4a30-8826-11e8-8d44-b3e543b86ed3.png">
(Drop-down with pre-populated items)

BTW, should this input have autocom

[2018-08-14 21:06] mechevarria opened #1126 "User and help menu does not render in mobile view on vertical navigation"
When viewing the vertical navigation example, the user menu and help menu are no longer viewable if you switch to a mobile viewport

[https://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation-without-icons.html](https://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation-without-icons.html)

![screenshot from 2018-08-14 17-02-54

[2018-08-14 21:18] mcarrano commented on #1126
This is intended behavior, @mechevarria . You will find that the Help and User menus are added to the bottom of the primary menu (hamburger menu) when there is no longer space for them in the masthead.

[2018-08-15 15:45] mechevarria commented on #1126
Now I see it, thanks.  It does not seem like that additional nav items show on a xs viewport are implemented in Patternfly-NG.  I'll have to ask.  Closing this issue

[2018-08-15 15:45] #1126 closed

[2018-08-15 18:47] #924 closed

[2018-08-17 14:03] mcarrano opened #1130 "Introduce Progressive Disclosure Example"
Want to introduce example code to accompany this existing design pattern: https://www.patternfly.org/pattern-library/forms-and-controls/progressive-disclosure

Some initial ideas were lined to this issue in patternfly-design: https://github.com/patternfly/patternfly-design/issues/706

[2018-08-17 14:39] mcarrano commented on #1116
@dabeng After more discussions with the PatternFly design leads, we'd like to see if we can make this work without needing to have either placeholder text or a 'null' item in the list. Can we create another demo that replaces the dropdown with a select list that uses placeholder text? I'd like to see what this looks like and then investigation the implications of making that change. Let me know wh

[2018-08-17 15:03] LHinson commented on #1130
@garrett I just sent you an invite to join PF-Core contributors. Once you accept that, I'll be able to assign you to this issue!

[2018-08-20 16:12] #1125 closed

[2018-08-20 19:49] dgutride commented on #1068
Application.yaml containing this found here:
https://github.com/patternfly/patternfly-react-demo-app/tree/master/.openshiftio

[2018-08-20 19:49] #1068 closed

[2018-08-21 14:03] andresgalante commented on #752
Hey @vkrizan this has been open for ever, sorry.

I don't think there was ever a clear solution for it, would you mind putting together a codepen or a preview so we can see the problem and fix it?

[2018-08-21 16:59] thebigtoona commented on #1002
I'll preface this with I'm new here, but it sounds like its just pulling out some styles into a separate class, and then documentation on that element might need to change a little to compensate for the new extra class? I can make a separate class for this in code.less and test it out

[2018-08-21 20:54] mcarrano commented on #1116
@dtaylor113 Thanks for taking this on. Just to summarize out meeting today, Dave will explore ways to implement this without requiring the placeholder text to exist in the menu and create a prototype. Expected interaction is that...

- User selects an option from the list and it replaces the placeholder text with the selection as that filter is applied.
- A filter chip with the new filter is added

[2018-08-21 21:03] dtaylor113 commented on #1116
@mcarrano, yes, however wondering about another usecase:
1. User selects an option from the [ex 'Month'] list and it replaces the placeholder text with the selection [ex: 'July'] as that filter is applied.
2. A ['Month: July'] filter chip is added to the filter bar.
3. User selects another filter type, ex: Name
4. User switches back to Month filter.  Should the placeholder be shown or the previous

[2018-08-21 21:18] mcarrano commented on #1116
Hmmm...  Interesting question @dtaylor113 . I would prefer that the filter control be aware of what filters are currently applied and reflect that. But if that's too hard to do, then I guess your proposal is the next best alternative.

[2018-08-22 14:07] dtaylor113 commented on #1116
Hi @johnnyNcsu, thank you for your comment.  Yes, for my example I am illustrating single-select and mutal exclusivity, however, where possible we are striving to provide the app dev the ability to specify whether single or multiple filters can be applied to a single column.

[2018-08-22 14:25] mcarrano commented on #1116
@johnnyNcsu Yes, the current approach assumes that the control applies a single mutually exclusive filter. It seems like that's what pfFilter is doing now so I'd be interested to know how you were able to get this to work for applying multiple filters. Are we talking about the same Angular implementation here? https://www.patternfly.org/angular-patternfly/#/api/patternfly.filters.component:pfFilte

[2018-08-22 15:44] mcarrano opened #1131 "Add new drag handle icon to PatternFly icon set"
There is a request to add a new icon to indicate dragable rows in a list or card view. The icon has been designed. This was initially files in the design repo as https://github.com/patternfly/patternfly-design/issues/691

[2018-08-22 16:15] dtaylor113 commented on #1116
Related PR: https://github.com/patternfly/patternfly-ng/pull/449

[2018-08-22 18:48] johnnyNcsu commented on #1116
@mcarrano @dtaylor113 , here is a [rawgit demo](https://rawgit.com/johnnyNcsu/patternfly/master/index.html#) of the changes I made to pfFilter for my use (as described above). The last two items in the filter pull-down ('CSS Grade C or Better' & 'Apple Platforms') are custom filters that act immediately upon select. This is an extension to the existing filter behavior with (hopefully) no change to

[2018-08-22 18:59] dtaylor113 commented on #1116
HI @johnnyNcsu, I understand your usecase, however I'm not sure the use of the Placeholder text is quite correct for your custom filters.   Placeholder text is supposed to be instructions on what I user can enter or select.  IMO it is not supposed to be used to reflect what has been selected; like it does for your custom filters.
Other than that, I like what you have done! :-)

[2018-08-22 19:37] johnnyNcsu commented on #1116
@dtaylor113 , Thanks.

Well - it kinda does both. For instance, if you select 'Apple Platforms', you will get all the Apple related platforms and if you then enter 'Mac' in the input field, you refine the results for 'Filter by Apple Platforms ...' by showing only those Apple platforms that are identified as Mac. I agree that the implementation could be cleaner however. I'm definitely interested t

[2018-08-22 21:18] mcarrano commented on #1116
@johnnyNcsu Thanks for sharing this. I definitely think it offers some good ideas for future considerations. We have talked a lot about how the user can save and recall custom filter queries for reuse, so I think this shows one viable way to extend our current filter pattern for this.

Doing this is definitely beyond the scope of what this issue is intended to address, but it is definitely somethi

[2018-08-23 16:02] jiekang opened #1135 "Include fontless css/less files"
I would like to use the Google CDN to acquire Open Sans fonts. Would it be possible for Patternfly to provide css/less files that exclude the font definitions? It's possible for me to remove the definitions during build step but I think it would be cleaner if there were for example `patternfly-fontless.min.css` and `patternfly-fontless.min.less` files as part of the Patternfly distribution.

[2018-08-24 10:35] vkrizan commented on #752
Hi @andresgalante, the solution should be to match properties of a label next to `.form-control-static`. On [Test Pages[(https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/forms.html) you can see that  `p.form-control-static` does not match the height of the label: has higher min-height set, and has a bottom padding set.

These are the changes, that should fix it:
[code]
![screenshot_

[2018-08-24 14:30] thebigtoona commented on #1112
I can look into implementing this :)

[2018-08-24 14:34] jeff-phillips-18 commented on #1002
I'm not sure we want Patternfly to override all bootstrap settings. There is no pattern in patternfly for the `<kbd>` element. Is there any reason the application cannot override this setting w/o involving patternfly?

[2018-08-24 15:45] thebigtoona commented on #1002
I was able to override them with the class I built in the codepen.  I added the class to the patternfly additions that were built. Its in a separate file named code.less, but I had no issue altering it without touching the codebase. The codepen is using an unaltered patternfly

This is the codepen for reference:

https://codepen.io/tmorozco/pen/aazBMQ

[2018-08-27 15:55] #1079 closed

[2018-08-29 13:01] dtaylor113 commented on #1116
Hi @mcarrano,  I'm working on implementing these changes in PF Core.
As discussed [here](https://github.com/patternfly/patternfly-react/pull/558#discussion_r213324535) I need to add `.filter-pf-select-dropdown.filter-selected` css so that selected values in the dropdowns are not italicized.  Also, I need to remove placeholder values from the example filter dropdowns.

I see two places where I need

[2018-08-29 13:36] mcarrano commented on #1116
That ll sounds correct to me @dtaylor113 .  Also looping in @matthewcarleton in case he has any input.

[2018-08-29 14:17] amarie401 commented on #1116
@dtaylor113 pf-org is including the html that lives in `widgets/forms/filter.html` in pf3. No changes should need to be made in the `code.md` file in pf-org unless the directory for this example in pf3 changes. If it is only CSS updates being made then it should just require a rebuild of travis for pf-org to pick up the changes and update the version. You could also update to the latest version ma

[2018-08-29 16:26] #1116 closed

[2018-08-29 18:11] dlabrecq opened #1138 "Semantic Release is broken"
The semantic release was recently updated to a later version. However, the Travis build logs output the following error.

`npm ERR! missing script: semantic-release-pre`

See: https://travis-ci.org/patternfly/patternfly/builds/422159968#L1968

See the following PRs for changes:
https://github.com/patternfly/patternfly/commit/54bd6dc6de36c36895239401a5f72837d2c4e43d
https://github.com/patternfly/pa

[2018-08-30 19:18] #24 closed, assigned to srambach

[2018-09-12 20:04] stacymcauliffe commented on #978
Created some slides with observations - last slide contains recommendations. @LHinson let me know if you want to create a new issue for updates or touch base briefly and talk about this work and how it impact PF3 and related work that will need to happen for PF4.

[2018-09-14 11:17] LHinson commented on #1131
@serenamarie125 can you or someone else attach the appropriate assets required to add this icon?

[2018-09-16 14:57] serenamarie125 commented on #1131
@LHinson sure, this is associated with https://github.com/patternfly/patternfly-design/issues/691, and @maryshak1996 should be able to help with visual assets if they aren't included there.

[2018-09-17 14:01] maryshak1996 commented on #1131
@LHinson here is the SVG for the drag-drop icon. let me know if there are any other assets that you guys need!
[pficon-dragdrop.svg.zip](https://github.com/patternfly/patternfly/files/2388836/pficon-dragdrop.svg.zip)

[2018-09-18 00:58] serenamarie125 commented on #1131
thanks @maryshak1996 !

[2018-09-18 12:14] LHinson commented on #1131
@matthewcarleton will handle this one.

[2018-09-18 18:44] thebigtoona commented on #1112
Here's a link to the Codepen I'm working for this issue:

https://codepen.io/tmorozco/pen/vzmaPK?editors=0010

a couple of things - Its just the basic example right now and its still rough. I used a span instead of a button to maintain the design for the copy icon at the end, but I have been working on getting all the attributes and lables set properly in the html and jquery for accessibilty.  I w

[2018-09-19 00:47] thebigtoona commented on #1112
@michael-coker thank you for the feedback! I changed the span to resemble the one you showed me in the codepen.  I also agree that it needs to be generic, that was a good point.  right now it relies on value and id attributes from the source being copied from to grab the data.  I will play around with it and see how it works inside of spans, divs, p elements etc and change the implementation accor

[2018-09-19 17:28] thebigtoona commented on #1112
I got this working with a div element. but I had to work around `execCommand('copy')` by building an input on the fly, making it hidden, adding it to the dom and giving it the value of the text in the div element THEN manually selecting copying and removing the input from the DOM.

I haven't tested it yet but I think it will work with other general elements. I'm not sure if it will work with an in

[2018-09-20 15:54] michael-coker commented on #1112
Hey! Looking good! When I said make it more generic, I wasn't necessarily referring to the form elements (like `<input>`), but the form classes used to construct the layout. I think you're fine leaving the `<input>` inside of `<div>`s, so that you don't have to add/remove a DOM element just to execute the `copy` command. If you look at the [inline copy example](https://www.patternfly.org/patternfl

[2018-09-21 17:12] thebigtoona commented on #1112
@michael-coker thanks! I'm gonna look closer at the ng example and the code for that component. I'm not terribly familiar with angular, so I'm guessing that templated element in the html `<pfng-inline-copy>` is the where the input (and btn?) your talking about is located? I plan to pull it down and take a look at what's going on there for inspiration. Also, I agree with you on the classes and will

[2018-09-21 17:35] thebigtoona commented on #1112
https://github.com/thebigtoona/patternfly-ng/blob/master/src/app/copy/copy-service/copy.service.ts

Ok, so I'm crawling the ng component and I think this is actually really similar to how I'm running the copy on my example, except with a textarea being appended/removed to/from the DOM instead of an input. This being the case I'm thinking I might need to leave my JS pretty similiar to what it curre

[2018-10-16 13:28] dgutride commented on #1138
Fixed - moving to closed

[2018-10-16 13:28] #1138 closed

[2018-10-29 17:06] #33 closed, assigned to marshmalien

[2018-11-01 15:09] mcoker opened #885 "Use pf-m-wide/pf-m-tall for modifier classes that make something wider/taller"
For example, the ModalBox component uses `.pf-m-lg` to make an element wider. I think we should reserve `.pf-m-lg` for when the entire size of something increases (like Progress or Title), and use `.pf-m-wide` when the width of something increases and `.pf-m-tall` when the height of something increases.

[2018-11-15 21:09] #30 closed, assigned to andybraren

[2018-12-07 19:52] patternfly-build opened #1087 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-07 19:56] #1087 closed, assigned to nobody

[2018-12-13 08:59] lina-nikiforova commented on #1039
There a BZ and we need to fix this https://bugzilla.redhat.com/show_bug.cgi?id=1658542

[2018-12-14 15:42] mcoker opened #1158 "Update to Bootstrap 3.4.0?"
[Bootstrap 3.4.0](https://blog.getbootstrap.com/2018/12/13/bootstrap-3-4-0/) was just released. Should we look at updating to this version?

[2018-12-24 11:17] jamesdecourcy opened #1161 "BarChart overlapping Bootstrap column in Listview"
I'm trying to put a bar chart in a PatternFly ListView using Bootstrap columns. The problem I'm having is that the Bar chart does not seem to respect the containing column (col-md-3) and overlaps its neighbouring column (col-md-9).

![capture1](https://user-images.githubusercontent.com/2912085/50398163-604d0200-076d-11e9-973e-1e96c10a4418.JPG)

However, as soon as you resize the browser the bar ch

[2019-01-01 19:42] yakatz opened #1163 "HTML code for launcher home missing"
Issue #711 was closed because code was added for the Launcher Menu, but there is still no code for the Launcher Home page.

[2019-01-02 14:40] jeff-phillips-18 commented on #1161
C3 sets the width/height of the chart based on its parent's size unless you specify the size in the chart config settings. Since the expansion area is hidden, it must be looking upwards until it finds a shown component. If you can set a size.width value on the config rather than using row/column it would resolve the issue. If you are set on using bootstrap row/col, then you may need to trigger a r

[2019-01-02 15:53] himdel opened #1164 "Form Group not documented"
There is no documentation for `FormGroup` in http://patternfly-react.surge.sh/patternfly-3/.

[2019-01-02 15:55] #1164 closed

[2019-01-02 15:55] himdel commented on #1164
(wrong repo, reopening against patternfly-react)

[2019-01-24 19:46] #32 closed, assigned to mcoker

[2019-01-29 15:14] biapar opened #1165 "How to use with Vue.JS?"
How to use with Vue.JS?
Thanks.

[2019-01-31 14:42] ajacobs21e commented on #1121
@mcarrano do you know who did the design for this pattern?

[2019-01-31 14:57] mcarrano commented on #1121
@ajacobs21e A couple of different people worked on it. But Brie Mignano was the one who finalized it.

[2019-02-24 16:41] srbala commented on #1158
@mcoker

Bootstrap 3.4 added to in https://github.com/patternfly/patternfly/pull/1160
https://github.com/patternfly/patternfly/blob/master/package.json

Verify this issue still needed, elebrate with more description, otherwise please close this issue

[2019-02-24 17:01] #1158 closed

[2019-03-11 12:54] zregvart opened #1167 "bootstrap-select needs to be updated to 1.13.6"
* What browser(s), device and OS experience the problem?

Not relevant

* Are you using a PatternFly JS framework implementation [1]?

Not relevant

* What are the steps to reproduce the issue and what is the expected behavior?  For the the fastest support, provide a working demo or minimal reproduction using tools such as [codepen](https://codepen.io/) or [jsfiddle](https://jsfiddle.net/)

Take a

[2019-03-11 14:38] vkareh opened #1168 "Visual differences in DonutCharts title"
Donut Charts have visual differences between Firefox and Chromium. The title inside the charts on Firefox seem to be missing padding, and it makes it look like it needs some styling. The issue is visible on the https://www.patternfly.org/pattern-library/data-visualization/donut-chart/ page:

Left side is Chromium, right side is Firefox 65.0.2

![Screenshot at 2019-03-11 10-09-27](https://user-imag

[2019-03-11 14:53] jeff-phillips-18 commented on #1168
Thanks @vkareh, are you interested in contributing the fix?

[2019-03-17 09:50] atodorov commented on #1167
https://app.snyk.io/vuln/SNYK-JS-BOOTSTRAPSELECT-173741 - updating will fix a High priority security issue

[2019-03-17 09:52] atodorov opened #1169 "RFE: Consider enabling Snyk.io [+Greenkeeper.io]"
For example:
https://app.snyk.io/vuln/SNYK-JS-BOOTSTRAPSELECT-173741

[2019-03-20 13:26] #1093 closed

[2019-03-21 03:25] marclaporte commented on #1093
Thank you very very very much!

[2019-03-28 16:37] Jean-PhilippeGouin opened #1171 "Customize style"
Hi,

I try to override the style of patternfly using the following [tutorial](https://github.com/patternfly/patternfly-tutorial).

However when i try to import the less file of patternfly
[code]

I have the following error :
[code]

By looking into the code , i can see that the file is located into dependencies/boostrap.less into the dist of patternfly and not bootstrap/less/.

Did i miss somethin

[2019-04-09 01:34] sashadev-sky commented on #1122
@garrett Hey! Did patternfly still need any help on this issue? The open source repo I work with recently discovered this same issue with Bootstrap and we devised a fix for it which contributors across different systems agreed worked. You can find the PR [here](https://github.com/publiclab/plots2/pull/5372) but I would love to open a PR too if thats helpful :) Thanks!

Also please share your thoug

[2019-04-09 08:28] garrett commented on #1122
Hi @sashadev-sky! Yeah, it's still a problem for us, and in PatternFly 3.

PatternFly is working on version 4, which is a complete redo, without BootStrap. Hopefully they align the checkboxes correctly. (I haven't checked lately, but [Overpass, the font chosen for PF4, already has baseline issues](https://github.com/patternfly/patternfly-next/issues/195), so as of right now _everything_ in Pattern

[2019-04-15 22:10] sashadev-sky commented on #1122
Sorry for the late reply! Public Lab is a really wonderful open source community. It's not my project but I will be sure to pass that message on to the founders!!

My understanding of the issue was that Webkit increases (or decreases can't recall) the checkboxes and radio buttons by 1px and the bootstrap UI was probably developed around the Webkit sizing. So by setting a `min-width` / `min-height`

[2019-05-06 14:31] riginoommen opened #1172 "Patternfly website is unresponsive on click events while exploring the patternfly 4 demos"
**For feature requests or enhancements, file an issue against [patternfly-design](https://github.com/patternfly/patternfly-design).**

* What browser(s), device and OS experience the problem?
**Google Chrome Version 74.0.3729.108 (Official Build) (64-bit)
Mac OS 10.14**

* What are the steps to reproduce the issue and what is the expected behavior?  For the the fastest support, provide a working d

[2019-05-09 14:21] asankov opened #1173 "Missing examples for stacked horizontal bar chart"
In our project we are using Patternfly for drawing some charts. Recently, we needed to draw a stacked vertical bar chart like the one here - https://www.patternfly.org/pattern-library/data-visualization/bar-chart/#overview

Initially, we were stuck because there were no code examples of how to draw such a chart. Then I conducted a google search and came across #556

The person there had my problem

[2019-05-27 12:16] #1039 closed

[2019-06-06 09:07] skateman opened #1175 "Deprecated ruby-sass"
The `sass` rubygem became deprecated and the `sassc` should be used instead.

http://sass.logdown.com/posts/7081811

[2019-06-06 13:04] himdel opened #1176 "sass version can't be used with sass-loader (webpack) - external deps missing tilde"
When building with webpack (sass-loader), and using the sass variant, the build is failing because external dependencies are not distinguished from relative paths and the loader has no way of telling.

[sass-loader imports docs](https://github.com/webpack-contrib/sass-loader#imports) mentions that external packages should be prefixed with a tilde (`~`). Anything else is a relative path.

Thus, doi

[2019-06-07 09:07] martinpovolny commented on #1176
FYI: @h-kataria

[2019-06-07 10:46] himdel commented on #1176
Looks like this is a way of making patternfly work with sass-loader - relative path imports can be used as long as those paths can be found in sass-loader options `includePaths`:

[code]

[2019-06-11 20:01] ddelabru commented on #1168
The crux of the issue appears to be Firefox handling `dominant-baseline: middle` differently when it's applied to a `<text>` element with nested `<tspan>`s. I'm not much of a CSS artist, but I'm looking into a way to change the CSS on this so it's consistent and continues to look exactly as it does in Chrome now. (Firefox and Chrome render it the same way with `dominant-baseline: alphabetic` or wi

[2019-06-11 21:35] ddelabru commented on #1168
After a little further investigation I think this may have more to do with how Firefox handles `dy` on `tspan` elements in an SVG. The good news is that it looks like the same results can be achieved accross both Firefox and Chrome by simply using `y` on the donut chart title `tspan` elements instead. Will see if I can get a PR together for this.

[2019-06-13 13:18] dgutride commented on #1172
This was fixed in the patternfly/patternfly-org repo - thanks for submitting the issue.

[2019-06-13 13:18] #1172 closed

[2019-06-14 12:56] #1168 closed

[2019-06-14 13:15] patternfly-build commented on #1093
:tada: This issue has been resolved in version 3.59.2 :tada:

The release is available on:
- [GitHub release](https://github.com/patternfly/patternfly/releases/tag/v3.59.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/patternfly)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-14 13:15] patternfly-build commented on #1168
:tada: This issue has been resolved in version 3.59.2 :tada:

The release is available on:
- [GitHub release](https://github.com/patternfly/patternfly/releases/tag/v3.59.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/patternfly)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-17 07:15] fr0z3nfyr commented on #1092
Will the PR #1095 planned to be merged or is it abandoned?

[2019-06-24 01:24] jamesla opened #1181 "Working Pagination example missing from docs"
https://www.patternfly.org/v4/documentation/react/components/pagination/

I am looking at the docs for the Pagination component however it appears to be missing a working example and the props aren't clear enough for me to wire this up to a Table component.

I'm posting this as a bug as I'd probably argue that this documentation needs to be improved.

In the mean time is there a working example or

[2019-06-24 14:03] mcarrano commented on #1181
When you say a working example, I assume you mean something that actually shows this integrated with a table. Is that right @jamesla ? This is something that we do plan to create as a demo in the future. In the mean time, @rachael-phillips @LHinson @tlabaj is there someone who can help @jamesla through this?

I am also going to transfer this issue over to our React repo so it can be tracked there.

[2019-08-07 14:15] LHinson commented on #1112
@thebigtoona we appreciate that you have taken the time to make a contribution to PatternFly! This feature request has gone stale so I'd like to close, however I didn't want to close the issue on you give your work on it. Are you ok with a close? If you're interested in continuing to contribute to PatternFly, let's coordinate.

[2019-08-07 23:43] LHinson commented on #1027
@jgiardino I'm going to close this issue, please reach out if you have any concerns though.

[2019-08-07 23:43] #1027 closed

[2019-08-07 23:44] LHinson commented on #876
Thanks @mindreeper2420 I'm going to close this.

[2019-08-07 23:44] #876 closed

[2019-08-07 23:45] LHinson commented on #943
@jgiardino and this one

[2019-08-07 23:45] #943 closed

[2019-08-07 23:47] LHinson commented on #956
I'm going to close this issue but please let me know if you have any concerns

[2019-08-07 23:47] #956 closed

[2019-08-08 00:12] LHinson commented on #841
@jgiardino as you've noticed, closing a few issues in here --- let me know if you have any concerns!

[2019-08-08 00:12] #841 closed

[2019-08-08 00:12] #1130 closed

[2019-08-08 00:13] #765 closed

[2019-08-08 00:13] #823 closed

[2019-08-08 00:16] #978 closed

[2019-08-08 00:16] #982 closed

[2019-08-08 00:19] LHinson commented on #1165
Hi @biapar unfortunately we do not have any vue.js expertise to be able to advise in this area. for that reason, i'm going to close this issue. We would love to hear from you if you do progress with a vue.js and PF.

[2019-08-08 00:19] #1165 closed

[2019-08-08 00:19] #1121 closed

[2019-08-08 00:20] #1076 closed

[2019-08-08 00:21] #992 closed

[2019-08-08 00:22] #1112 closed

[2019-08-08 20:37] LHinson commented on #1163
The launcher code is provided specifically for the launcher component, not the home page. The home page is not provided since this is extremely specific to the needs of the application.

[2019-08-08 20:37] #1163 closed

[2019-08-08 20:40] LHinson commented on #1161
@jamesdecourcy hopefully Jeff's explanation helped. I'm going to close this issue, reach out with any other issues.

[2019-08-08 20:40] #1161 closed

[2019-08-08 20:42] LHinson commented on #1002
@garrett were you able to resolve your concern in product?

[2019-08-08 20:44] LHinson commented on #1118
@skateman revisiting some older issues.... did this test page help?

[2019-08-08 20:44] LHinson commented on #512
Closing this issue since we have #1118

[2019-08-08 20:44] #512 closed

[2019-08-09 07:54] garrett commented on #1002
@LHinson: Thanks for the follow up!

We decided to rework the UI that would have used the `kbd` tag. Between having to override styles, poor screen reader support (according to various sources on the Internet), and redoing the UI, we decided to not use the tag.

I'm assuming PF4 probably does not style the `kbd` tag anyway, so I suppose this bug is probably now either fixed or simply irrelevant?

[2019-08-09 12:45] LHinson commented on #1002
@garrett Yeah, given we moved forward without bootstrap, this shouldn't be a problem moving forward with PF4. I'll close it now. Thanks!

[2019-08-09 12:45] #1002 closed

[2019-08-09 12:57] LHinson commented on #1122
@garrett as you've noticed, i'm sweeping old issues :)

sounds l like you found a solution for this in product for the check box and radio buttons so I'm going to close this. We do have the new Red Hat font introduced to PatternFly 4 now as an opt-in. Check out Michael Coker's doc on the topic: https://docs.google.com/document/d/1NnWmhwuY2rC53HgQIpQYUYYcv8NqSQ7IrHaxo5hVM3Q/edit#heading=h.f8cdlhbnt

[2019-08-09 12:57] #1122 closed

[2019-08-09 13:00] LHinson commented on #1091
@jeff-phillips-18 there are no known concerns with product regarding this issue. I'm going to close. Let me know if you have any concerns.

[2019-08-09 13:00] #1091 closed

[2019-08-09 16:58] LHinson commented on #633
Hey @Fryguy, we are scrubbing old issues. I can't see the issue when you're not zoomed in. For that reason, we won't address anything.

[2019-08-09 16:58] #633 closed

[2019-08-10 10:52] martinpovolny commented on #512
@epwinchell, @skateman : can you verify that the issue is fixed for ManageIQ?

[2019-08-10 10:53] martinpovolny commented on #512
At the first look I see there's no resizer in the test page, not sure how much of a problem that is @epwinchell .

[2019-08-12 13:29] skateman commented on #512
Well, the demo is nice, but we struggled a lot of implementing it in our codebase. Eventually we gave it up :confused:

[2019-08-13 17:56] priley86 commented on #1021
getting some questions about this - any reason we are no longer locking the dependencies here with `package-lock.json` or `yarn.lock`? I think there is concern about matching the exact version of `bootstrap` dependency version used here in `patternfly`.

cc: @dgutride @vojtechszocs

[2019-08-15 17:23] gregsheremeta commented on #1077
I re-tested using the latest PF3 and a very recent yarn. All good.

[code]

[2019-08-15 17:23] #1077 closed

[2019-08-15 17:45] LHinson commented on #864
Greg has found a work around in product for this one. Going to close.

[2019-08-15 17:45] #864 closed

[2019-08-15 17:58] LHinson commented on #822
Thanks for looking at these issue. Closing per our conversation.

[2019-08-15 17:58] #822 closed

[2019-08-15 17:58] LHinson commented on #723
Closing per a conversation with Robb. Thanks for taking a look at those.

[2019-08-15 17:58] #723 closed

[2019-08-15 18:05] #1118 closed

[2019-08-28 13:24] dgutride opened #1185 "Update PatternFly dependencies"
There are several security alerts showing up on PatternFly right now - we need to update insecure dependencies and perform a new release.  Can be done in conjunction with adding the lock files #1021

[2019-08-30 16:27] #1021 closed

[2019-08-30 17:56] #1185 closed

[2019-08-30 17:56] redallen commented on #1185
Closed in #1184

[2019-09-05 08:48] matedo1 opened #1187 "jquery bower depedency should be upgraded"
One of the patternfly depedencies https://github.com/patternfly/patternfly-bootstrap-treeview/blob/v2.1.9/bower.json#L26 requires ```"jquery": ">= 3.4.1"``` but patternfly itself https://github.com/patternfly/patternfly/blob/v3.59.3/bower.json#L41 requires ```"jquery": "~3.2.1"``` .

Those versions don't match and it's not possible to use it without forcing specific version. It would be nice to co

[2019-09-05 14:19] patternfly-build commented on #1021
:tada: This issue has been resolved in version 3.59.4 :tada:

The release is available on:
- [GitHub release](https://github.com/patternfly/patternfly/releases/tag/v3.59.4)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/patternfly)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-05 14:20] patternfly-build commented on #1185
:tada: This issue has been resolved in version 3.59.4 :tada:

The release is available on:
- [GitHub release](https://github.com/patternfly/patternfly/releases/tag/v3.59.4)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/patternfly)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-15 18:01] spadgett opened #1190 "Hamburger menu doesn't align with page content at mobile"
See discussion in https://github.com/openshift/console/pull/2946#issuecomment-541116098. At mobile widths, the hamburger menu positioning does not line up with the content on the page. This can be observed on example page https://www.patternfly.org/v4/documentation/react/layouts/grid/

cc @serenamarie125 @gijohn

![Screen Shot 2019-10-15 at 1 56 34 PM](https://user-images.githubusercontent.com/116

[2019-10-18 14:21] spadgett commented on #1190
cc @rhamilto

[2019-10-19 14:56] serenamarie125 commented on #1190
FYI @rachael-phillips

[2019-10-21 21:41] petli-openshift opened #1191 "PF4 Button does not pass through tabIndex prop"
Define a pf4 button with `tabIndex` prop,
[code]

The `tabIndex` prop is missing from the rendered DOM,
[code]

[2019-10-23 07:13] brylie opened #1192 "Website links are broken"
The Components links on the PatternFly website display a "page not found" error:

https://www.patternfly.org/v4/404.html

Please make sure navigation links work after reorganizing website content.

[2019-10-24 22:06] viniciusferrao commented on #1163
Hi Leslie, I came here searching for the code too. The image was only a mock up? If not please reconsider releasing the code. The home is extremely well made and fit a lot of things.

[2019-10-25 03:35] nidorx opened #1193 "Tasteless"
I need to express my opinion regarding the Patterfly 4 interface. I didn't like it at all.

The 3 was beautiful, in 4 only see white, large fonts and no style, no life, for me Patterfly 4 should get another name, totally escaped the proposal (and wonderful work) of the previous version.

[2019-10-25 15:19] LHinson commented on #1193
Your opinion has been expressed. ✅
Closing issue.

[2019-10-25 15:19] #1193 closed

[2019-10-30 12:21] xsuchy opened #1194 "Fedora package with v4"
I am using PatternFly in several projects (e.g. Copr) and we use v3. I would love to migrate to v4 one day, but I need to use rpm packages. v3 is packaged in Fedora as `xstatic-patternfly-common`. It would be nice to provide (another) package in Fedora which contains v4 of Patternfly.

[2019-12-27 13:32] alexfdezsauco opened #1196 "Modal, SideBar, Page Header Z-Index Issue?"
Hi I'm writing Blazor wrappers for patternfly components.

Here is the repository https://github.com/WildGums/Blorc.PatternFly.

I'm running into an issue with Modal, SideBar, Page Header z-index. There is no issue in your demo website https://www.patternfly.org/v4/documentation/react/components/modal, but is not working properly on my live demo http://blorc-patternfly.wildgums.com/components/moda

[2019-12-27 17:58] alexfdezsauco commented on #1196
Open in the right repository https://github.com/patternfly/patternfly-next/issues/2555

[2019-12-27 17:58] #1196 closed

[2020-01-08 12:51] kahboom opened #1197 "`Select` creates nested form"
For some reason, PF wraps `Select` in a `form` element, which is causing issues, as you're not really supposed to nest forms. This doesn't happen with `FormSelect`, which uses a normal `<select>` tag, but I need to use `Select` because it has the `isCreatable` option.. it seems like it was introduced in this PR: https://github.com/patternfly/patternfly-react/pull/2820/files#diff-fd84af25e09f77329b

[2020-01-13 09:29] kahboom opened #1198 "react-core `SelectOption` should support label attribute"
**For feature requests or enhancements, file an issue against [patternfly-design](https://github.com/patternfly/patternfly-design).**

`SelectOption` should behave like a typical `option` tag within a `select` element and allow you to specify a `label` for it. At the moment, it only supports a `value`.

A use case for needing this is dynamic fields that don't have a single label you can manually t

[2020-01-21 20:13] #885 closed, assigned to nobody

[2020-01-24 10:10] terezanovotna commented on #1173
Hi there, I met Anton in person at DevConf.cz and they are actively using PF in their non-rh project, can we follow up on this issue @rachael-phillips. Thanks

[2020-01-24 15:27] rachael-phillips commented on #1173
Hi @terezanovotna @asankov I've seen this and I am going to move this over to the PatternFly-React repo

[2020-05-19 19:53] tuxgasy opened #1203 "Vulnerability in jquery"
Hi,

A vulnerability is reported in some versions of jquery.

See https://www.npmjs.com/advisories/1518

[2020-05-30 10:40] asankov opened #1204 "Missing code examples for Bulk Select"
I am trying to implement a container view with many elements and need a selector that selects/deselects all of them.

I see that there is such in Patternfly - https://www.patternfly.org/v3/pattern-library/forms-and-controls/bulk-selector/index.html#design

However, there are no code examples attached to the page, so I have no idea how to start using this, except starting from scratch (which defeat

[2020-06-02 16:42] LHinson commented on #1204
@asankov For our older version of PF and the website, we used to post designs prior to having any code. I understand this is confusing and frustrating and the reason why we changed this approach with our newest version, see https://www.patternfly.org/v4/

All design for PF4 have code when they are posted to the site. Do you have the opportunity to upgrade to latest? There has been a lot of improve

[2020-06-02 20:35] asankov commented on #1204
thank you for the answer, @LHinson

migrating to Patternfly 4 is a blocker for us ATM, because we have ongoing work in refactoring some pages. This works includes adding a bulk selector like the one in question to a few of the pages. If you don't have any code examples, then I guess we would have to implement them from scratch or try to adapt some of the Patternfly 4 examples for our purpose.

[2020-06-04 22:39] LHinson commented on #1204
Which implementation of PF3 are you using? e.g. core (html/css/jquery) or one of the JS. frameworks - angular, ng or react? There might be some components that can help you get there without building everything from scratch, even though we don't have the full example in PF3.

[2020-06-05 09:34] asankov commented on #1204
we are using the core (html/css/jquery) version.

[2020-06-19 17:43] #35 closed, assigned to nobody

[2020-09-12 18:27] asankov opened #1205 "Missing code examples for Comments form"
In [Kiwi TCMS](https://github.com/kiwitcms/kiwi) we are using Patternfly for everything in our UI. We want to add a comment form to one of our pages. The comment form should look something like the one shown here https://www.patternfly.org/v3/pattern-library/communication/comments/index.html#overview

However, the docs page I sent is missing example, so I have to build it from scratch. For most of

[2020-09-16 17:36] avivtur opened #1206 "upgrade jquery dependency to patternfly v3"
Hello all

I'm getting a CVE alert from github on my project which uses patternfly 3.59.5, because of patternfly dependency to jquery of 3.4.1^
it is needed to upgrade the dependency to 3.5.1^ to get rid off the CVE alert

[2020-09-29 16:03] pratap0007 opened #1207 "Audit vulnerabilities in transitive package of `patternfly-react`"
**Describe the issue. What is the expected and unexpected behavior?**

- Currently while using `patternfly-react`'s latest version i.e `4.40.3` on excuting the `npm audit` it gives vulnerability in transitive package of `patternfly-react`

[code]

- Here's the audit report for `patternfly-react`

[code]

**Please provide the steps to reproduce. Feel free to link CodeSandbox or another tool.**

**I

[2020-12-09 12:33] majioa opened #1210 "Undefined variable: "$fa-var-arrow-circle-o-left""
I've encountered the following error:

[code]
It seems that sometime the variable was defined in the package, but later was deleted out there, can you rollback the proper code to define all the variables, for example as follows:

[code]

[2021-01-12 18:45] sgratch commented on #1206
Any progress with this issue? We need this to be fixed for ovirt-engine package as well.

[2021-05-10 20:38] #1167 closed