[2019-02-06 20:06] rachael-phillips commented on #1094
That's good to know. Thank you!

[2019-02-06 20:08] maryshak1996 commented on #35
Based on @mcarrano 's updated wires and some communication with @kybaker , I updated visuals for this! I have mockups default and on-scroll states for both the 'simple' and 'complex' notification drawer. Those and their respective specs can be found in my prototype here: https://redhat.invisionapp.com/share/7FQDO4RP462#/345357487_Examples
Here's the gist of the simple and complex drawers:
Simple
!

[2019-02-06 20:18] ryelo commented on #1094
@rachael-phillips I think as soon as possible would be best for us, although we can always fake it before then. We're already past our first MVP, but these mock ups just came up.

[2019-02-06 20:19] mcarrano commented on #1094
I am OK with the idea of a Danger link. @kybaker do you have any concerns?

[2019-02-06 20:33] kybaker commented on #1094
@mcarrano I am fine with that.

[2019-02-06 20:49] christiemolloy opened #1379 "Update dropdowns"
Dropdowns shouldn't use .pf-c-button, they should use a standard <button> class.
Dropdowns should take on the same padding as buttons.
Buttons that will dropdown in react, should use the dropdown component.

- Currently the App Launcher dropdown is using .pf-c-button - it should use have its own class.
- Use button component padding for button.pf-m-plain.pf-c-*__toggle

[2019-02-06 21:43] mcoker opened #1380 "Theme documentation"
We should write some documentation around themes. This should include the use of the `@pf-t-dark/pf-t-light` mixins, how they work, and including a note about how the mixins include the `color` property to ensure the text color is changed per the theme var reassignments.

[2019-02-06 21:47] christiemolloy opened #1381 "Dropdown Focus States"
Dropdown and Select variations dont have focus styles in Core - we should use the styles that we already have for active/expanded.

[2019-02-06 22:20] mcoker opened #1382 "Remove .pf-u from shield CSS"
We don't need to apply base styling to `.pf-u` things. If they're applied to a patternfly element, that element should already have patternfly styling. If they're applied to a non-patternfly element, we don't want to reset the margin, padding, etc.

[2019-02-06 22:39] rachael-phillips commented on #731
Closing this because this example will appear in Filter Demo

[2019-02-06 22:39] #731 closed

[2019-02-07 14:58] mcoker opened #1385 "Remove max-height from modalbox body"
https://github.com/patternfly/patternfly-react/issues/1334

Checked with design, and they say there should be no limitation on the body height, as long as the modal doesn't grow taller than the browser viewport.

[2019-02-07 15:00] rachael-phillips commented on #1094
@ryelo Thank you for the info. If you have any more insight on timeline please send that along!

[2019-02-07 15:01] mceledonia opened #1387 "Colors: Green Rework"
Reworking the green to add more contrast and even out the palette. This is not particularly urgent.

New colors:
![image](https://user-images.githubusercontent.com/30935938/52419861-f1c6c800-2abe-11e9-9685-46b2687cda17.png)

Green-100:  BDE5B8
Green-200:  95D58E
Green-300:  6EC664
Green-400:  5BA352
Green-500:  467F40

[2019-02-07 15:10] mcarrano commented on #35
@maryshak1996 This is looking good. I left a few comments on the InVision doc.

[2019-02-07 15:58] maryshak1996 commented on #35
thanks @mcarrano ! I replied to your comments -- thanks for the feedback so far!

[2019-02-07 16:01] #1027 closed

[2019-02-07 18:12] #1358 closed

[2019-02-07 18:33] andybraren commented on #755
@mcarrano @kybaker I've been doing some product work that utilizes the latest wizard design. Below is a scenario where the user encounters a bunch of errors within Step 2.

![simple-wizard-status](https://user-images.githubusercontent.com/9122899/52434269-f26e5700-2adc-11e9-8c8a-e016aa7371a9.png)

@matthewcarleton pointed out (and I agree) that it might make sense for the wizard component to visua

[2019-02-07 18:55] mcoker opened #1388 "Document that nested calc()'s don't work in the dist package"
@dgutride I'm going to add a blurb to our contribution docs so it's documented that we should avoid nested calc() functions.  Is there an issue we can follow on the upstream package with the bug so we know if/when it's resolved?

[2019-02-07 18:58] mcarrano commented on #755
I think that's an interesting idea @andybraren . But before I say yes, let me understand better what the workflow is. I enter step 2 where I can add hosts. What does the Add Host button do here? Is it opening another dialog or adding an entry in the list? How are these errors returned?

[2019-02-07 18:59] tlabaj opened #1389 "Add support on adding an Icon to the DataListItem."
Issue [#1338](https://github.com/patternfly/patternfly-react/issues/1338) was opened in the React repo.  The consumer would like to add an icon to the DataListCell.  The consumer followed the [pattern library](https://www.patternfly.org/pattern-library/content-views/list-view/) and tried to add an icon on the left.  This Pattern Library is PF3 specific and currently PF4 does not support the icon b

[2019-02-07 19:02] mcarrano opened #1390 "Need Inline Alert variation"
It has been shown that the current Alert component does not look good when dropped into a page as an inline alert as the drop shadow causes it to appear floating above the content. The request is to create a new variant of the alert component with different styling.

[2019-02-07 19:04] tlabaj opened #1391 "Add support to Highlight Text and/or add inline alert for DataListItem"
Issue [#1339](https://github.com/patternfly/patternfly-react/issues/1339) was opened in the React repo. The consumer would like to display a warning for a DataListItem.

[2019-02-07 19:07] mcarrano commented on #1390
@rachael-phillips @kybaker Here is the new issue I promised to request an Inline Alert variation. @andybraren could you add a screen shot of what you showed me yesterday as it does a good job highlighting the current problem.

[2019-02-07 19:10] mcoker commented on #755
Notes from meeting with @kybaker @mcarrano:

* Layout should be header + nav (scrollable) + main area (scrollable) + footer
  * footer should be fixed, so the main area above it scrolls when there is overflow content
  * footer should have modifier to right align buttons (should be left aligned by default)
* In the mobile header:
  * drop the subtitle
  * the height/padding should match the mobile

[2019-02-07 19:12] andybraren commented on #1390
![2-2b-1-error-modal](https://user-images.githubusercontent.com/9122899/52436490-6b23e200-2ae2-11e9-9f31-8aaacbae51aa.png)

[2019-02-07 19:49] karelhala opened #1393 "Allow treeshape tables"
We need to allow consumers to nest multiple collapsible rows so we can achieve tree like design. Example can be seen in [patternfly-4/components/table](http://patternfly-react.surge.sh/patternfly-4/components/table) in collapsible example.

[2019-02-07 19:51] andybraren commented on #755
@mcarrano Here's a recent WIP mockup for some more context:

![simple-wizard-fullpage-context](https://user-images.githubusercontent.com/9122899/52437454-f1412800-2ae4-11e9-9b57-e20df260b6bd.png)

This may look a bit weird because our product is basically a full-page setup wizard, but the same use case would apply to a wizard within a modal.

Step 2 asks the user to add hosts. They click that "Add

[2019-02-07 19:54] karelhala commented on #1389
I would make it more generic and allow small size (same as action, collapse or select) of DataListItem.

[2019-02-07 20:28] dgutride commented on #1388
Yep - you can see this issue for all the details:
https://github.com/patternfly/patternfly-next/issues/1295

[2019-02-07 20:56] mcarrano commented on #755
@andybraren Thanks for the explanation. I think that the flow you describe makes sense and is typical of what often happens in these wizards used for configuring a subsystem of some type. I'd be OK to associate a status or warning with a step. @kybaker can you weight in with the best way to reflect this visually (icon or other method)? I guess another question is whether we need a unique style for

[2019-02-07 21:15] mcoker commented on #755
Good point. In the product I work on (fuse online), we have a wizard-type flow (that doesn't use the wizard layout) that does what you're proposing, Andy. We attach an icon to the step to indicate there is some sort of unresolved issue. Clicking the icon gives you a popover with more info. Exhibit A:

<img width="421" alt="screen shot 2019-02-07 at 3 11 24 pm" src="https://user-images.githubuserco

[2019-02-07 21:25] matthewcarleton commented on #755
@mcoker initially when Andy I were talking about it I thought the circle changing colour could be enough. I'd like to hear @kybaker thoughts on it. It seems like the cleanest way to achieve it.

[2019-02-07 21:37] mcoker opened #1395 "DataList: checkbox inputs shouldn't use .pf-c-check__input"
`.pf-c-check__input` is designed to be used in the `.pf-c-check` component as a check/label pair. If you only need a checkbox input, you can just create a normal `<input type="checkbox">` element.

[2019-02-07 21:39] mcoker commented on #1395
related https://github.com/patternfly/patternfly-next/pull/1363

cc @boaz0 want to pick this one up?

[2019-02-07 21:55] #1332 closed

[2019-02-07 22:31] mcoker commented on #1378
hey @mindreeper2420, this change assumes that any ancestors of something that needs to be full height would also have `height: 100%;` assigned. Will that not work for you? This was a solution to a bug reported by OpenShift in https://github.com/patternfly/patternfly-next/issues/1174

[2019-02-08 07:28] #1309 closed

[2019-02-08 13:36] #1388 closed

[2019-02-08 13:37] #1368 closed

[2019-02-08 13:37] #1382 closed

[2019-02-08 13:42] #1385 closed

[2019-02-08 13:43] patternfly-build opened #1398 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-02-08 13:45] patternfly-build commented on #1398
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-02-08 13:50] #1398 closed

[2019-02-08 14:40] #674 closed

[2019-02-08 15:47] mindreeper2420 commented on #1378
@mcoker That isn't how it appears to be working in Integr8ly - I'm assuming that the `<section>` element should then be 100% of the page, which would cause it to appear like screenshot 1 vs screenshot 2, correct? The only thing that fixed the `<section>` being cut short was resetting `pf-c-page` to `100vh`.

From looking at the bug, the change was made to fix a very specific iOS/mobile issue on a

[2019-02-08 16:00] mindreeper2420 commented on #1378
@mcoker I'm also wondering if an additional helper class might be useful in a case like this, rather than adding a media query - something simple like `pf-m-100vh` (not a correct usage, but just an idea).

[2019-02-08 16:07] #1387 closed

[2019-02-08 16:42] maryshak1996 commented on #35
@mcarrano @matthewcarleton I have updated my invision prototype with some updates, based on some great feedback from you guys and others :)
Simple
<img width="540" alt="screen shot 2019-02-08 at 11 41 17 am" src="https://user-images.githubusercontent.com/19824574/52492075-7b959480-2b96-11e9-82c8-0957dae1385b.png">
Complex
<img width="538" alt="screen shot 2019-02-08 at 11 41 09 am" src="https://us

[2019-02-08 17:14] mcarrano commented on #35
This is looking great @maryshak1996 !  Just one question about icons. In the example I see the you changed the icon for notification settings to the sliders, but in the masthead we show a gear icon. It raises two questions: 1) Which is the proper icon for settings and should we use it consistently? 2) It does seem weird to see these two settings icons in proximity. The purpose of the settings icon

[2019-02-08 18:56] #1348 closed

[2019-02-08 18:59] gdoyle1 commented on #35
@mcarrano I never ended up updating those in the master sketch file but I can do that. When we finish the symbol library, we will definitely use fake names!

[2019-02-08 19:04] patternfly-build commented on #1348
:tada: This issue has been resolved in version 1.0.187 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.187)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-08 19:57] mcoker opened #1400 "Create vh width/height utility class"
For folks that want something to be full height of the viewport but don't want to use `height: 100%` or `pf-u-height-100` because that also requires all ancestors of the element be 100% height, too, we should add viewport unit support.

Seems like we should just replicate the percentage heights/widths we have now with viewport units, too. So add `pf-u-height-100vh`, `pf-u-width-100vw`, etc

cc @mi

[2019-02-08 22:04] mcarrano commented on #170
There is a related design issue open here: https://github.com/patternfly/patternfly-design/issues/741

[2019-02-08 22:40] mcoker commented on #1400
related - https://github.com/patternfly/patternfly-next/issues/1378

[2019-02-10 14:41] mcoker opened #1405 "Firefox padding issue with elements that overflow"
On an element that has overflow that scrolls, any bottom padding will be ignored.

Read more about it here - https://github.com/w3c/csswg-drafts/issues/129

Some components we should look at
* expanded content in data list
* ^ in table
* page component vertical navigation (`.pf-c-page__sidebar`)

[2019-02-10 15:04] mcoker opened #1406 "placeholders.scss content being included multiple times"
`placeholders.scss` is being imported by each component so we currently have 52 instances of it in the compiled `patternfly.css` file. we need to figure out a way to still use the SCSS in that file to the theme components and not have it include CSS with every component.

cc @dgutride

[2019-02-10 15:57] mcoker commented on #1406
Looks like this is a general issue with importing in SASS and has been [reported](https://github.com/sass/sass/issues/869) [multiple](https://github.com/sass/sass/issues/139) [times](https://github.com/sass/sass/issues/156), and is officially being tracked in an issue overhauling the `@import` system - https://github.com/sass/sass/issues/1094

A workaround could be to use https://www.npmjs.com/pac

[2019-02-11 01:46] jgiardino opened #1407 "Select menu with checkbox groups should include fieldset"
Whenever a group of checkboxes are present, they should be grouped within a `<fieldset>`.

The example labeled "Select - Checkbox (Expanded and Selected with Groups)" includes two checkbox groups, but no `<fieldset>`.

- Remove `pf-c-form__fieldset` from `.pf-c-form__group `
- Include `<fieldset class="pf-c-form__group" aria-labelledby="[id of group label]">` after `.pf-c-select__menu-group-title`

[2019-02-11 13:26] dgutride commented on #1406
The gulp task used to remove the patternfly-utilities import before that file was changed to patternfly-imports.  How about we just add the line below that clears that out when creating the full css?

gulp.task('build-tmp', () =>
  gulp
    .src(['./src/patternfly/**/*.scss', '!./src/patternfly/**/examples/*.scss'])
    .pipe(
      sassGlob({
        ignorePaths: ['**/examples/*.scss']
      })

[2019-02-11 14:03] maryshak1996 commented on #35
@mcarrano I was looking through what we had in the master sketch file icons page, and that page is calling for 'Settings' to use that icon. I'm not sure if that is just out of date, or if there is a greater consistency issue here.
@kybaker do you have any thoughts on that icon topic?

[2019-02-11 16:33] #1376 closed

[2019-02-11 19:16] mcarrano opened #1410 "Single Select component is missing a Selected state"
During React implementation we noticed that there is no way to reflect the current selection in the drop-down menu when it is opened. This is standard behavior for select lists and you can see an example of it in the PF3 Select component (Bootstrap Select): https://www.patternfly.org/pattern-library/widgets/#bootstrap-select

This should be added as an additional state.

[2019-02-11 20:47] #1093 closed

[2019-02-11 21:30] karelhala opened #1411 "Tri-state checkbox"
As a user I want to be able to select all items in table, deselect one row and see that select all checkbox is in third state (not selected and also not deselect) to indicate that some items are still selected.

[2019-02-12 07:45] #1400 closed

[2019-02-12 15:42] ryelo commented on #1094
@rachael-phillips I got info that we're looking at March 1 for another MVP. It would be great to have by then. I've created a temporary shim in our application for it currently.

[2019-02-12 18:32] christiemolloy opened #1412 "Expandable Row in Table should not scroll on desktop"
Relates to this issue in React - https://github.com/patternfly/patternfly-react/issues/1346

The expandable row for the Expandable and Compound Expansion examples should scroll on Mobile but not Desktop - right not they scroll on both.

[2019-02-12 19:16] maryshak1996 commented on #35
@mcarrano @kybaker @gdoyle1 I did a little bit more iterating and I think that I can put the done stamp on the visual side of this! The invision prototype is up to date and here is my latest updated designs to take a look at:
<img width="564" alt="screen shot 2019-02-12 at 2 14 43 pm" src="https://user-images.githubusercontent.com/19824574/52661704-9cc8ee80-2ed0-11e9-8307-d8a712602cf2.png">
<img w

[2019-02-12 19:17] maryshak1996 commented on #35
https://redhat.invisionapp.com/share/7FQDO4RP462

[2019-02-12 19:46] gdoyle1 commented on #35
@maryshak1996 I like the additional background color change for unreads! Looks great

[2019-02-12 20:21] mcarrano commented on #35
Overall this looks great. I like the changes you made @maryshak1996 . I just had one question about the location of the footer in the complex drawer that I left in InVision.

[2019-02-12 21:53] rachael-phillips commented on #1094
Thank you for letting me know. It looks like it would be more feasible for us to get it done by March 22. Could that work for you? Let me know how high priority this is because we have some other priority Insights components on the roadmap before this one.

[2019-02-12 23:03] #1412 closed

[2019-02-12 23:11] patternfly-build commented on #1412
:tada: This issue has been resolved in version 1.0.192 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.192)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-13 13:35] ryelo commented on #1094
@rachael-phillips I think that should be fine. This isn't super high priority, we can serve a component up for now until the official PF one comes out.

[2019-02-13 14:33] dgutride opened #1414 "Add patternfly-next npm deprecation warning"

[2019-02-13 14:37] dgutride commented on #1414
Package deprecation marked successfully

[2019-02-13 14:37] #1414 closed

[2019-02-13 14:52] mcoker opened #1415 "Provide a version of patternfly.css without the reset"
For users not using SCSS, offer a version of the compiled patternfly.css that does not include the global reset CSS.

[2019-02-13 14:58] mceledonia commented on #919
Some visual updates to forms:

- This example shows optional placeholder text pattern. Recommending against placeholder text altogether, but also providing this solution for users who must have it.
- Moving infotip icon to left of field label
- Added required asterisks

[Forms.zip](https://github.com/patternfly/patternfly-next/files/2860839/Forms.zip)

@mcarrano @stacymcauliffe

[2019-02-13 15:00] maryshak1996 commented on #35
Thanks @gdoyle1 ! and @mcarrano thanks for pointing that out, what you suggested is what I had in mind in the first place and it was just an oversight on my part :)
https://redhat.invisionapp.com/share/7FQDO4RP462
@mcoker I think that the design on this is complete, and here is the most up-to-date spec
[notification-drawer_visual-spec.pdf](https://github.com/patternfly/patternfly-next/files/286084

[2019-02-13 15:34] mcarrano commented on #35
Looks good to me @maryshak1996 . @mcoker can you take a look and let us know if you see any issues that would affect implementation of this? @rachael-phillips pending that, I think this can move to CSS as soon as someone can take it.

[2019-02-13 16:25] rachael-phillips commented on #35
Thanks for letting me know! I'll be on the lookout for what @mcoker has to say!

[2019-02-13 16:56] rachael-phillips commented on #169
What ended up happening to this issue? Looking for a status. Thanks! :)

[2019-02-13 18:02] #1023 closed

[2019-02-13 18:36] rachael-phillips commented on #1094
Thanks for all of the info @ryelo !

[2019-02-13 18:49] bdellasc commented on #279
Here's a really basic proposal for the spinner. If there is more needed from a visuals standpoint, please let me know. Maybe small and large variants in addition to this default medium one?

https://redhat.invisionapp.com/share/2FQI0EGQ7NR

[2019-02-13 19:16] bdellasc commented on #279
Here is the Sketch source file
https://drive.google.com/open?id=1D0j5GL4NVajwElfS9tuyR22jXv6TsS2q

[2019-02-13 19:24] tiffanynolan commented on #1390
We also have a similar issue for the inline alert style in Integreatly.
![image](https://user-images.githubusercontent.com/15326290/52737640-d534ff00-2f9a-11e9-95b8-2fb5c7f678b6.png)

[2019-02-13 19:26] mcarrano commented on #297
I have created an initial design doc here that includes requirements and some wireframes: https://docs.google.com/document/d/1NCjv5HbpjLbBwgpb4WcY4YMnE1hub4SJvMUfvycvPX8/edit?usp=sharing  These closely mirror what we have for PF3. I have reviewed these with @mceledonia and am ready to hand this off to visual design. @mcoker you might also want to take a look to see if this is consistent with your

[2019-02-13 19:36] tiffanynolan commented on #1390
For the Integreatly team, we have a fairly immediate need to push through a solution for this as we fully convert Red Hat Solution Explorer to PF4. One proposed solution for this is from @bdellasc. The proposed inline style would be a modification of the existing style to:
- Remove the shadow
- Remove the background color for the side area and use that color for the icon instead.
- Add that same c

[2019-02-13 20:13] karelhala opened #1418 "Overflow for tables"
We have table with a few cells, this table is inserted in card body and we were wondering what would be the best solution for such tables. Because as of right now the view looks like this (notice the oveflow)
![small-table](https://user-images.githubusercontent.com/3439771/52740551-89eb1280-2fd3-11e9-8a84-a6fac58c7a2c.JPG)

We could add `overflow: auto` but that doesn't look that appealing either

[2019-02-13 22:03] mcoker commented on #35
Thanks @maryshak1996, this looks great! A couple of questions:

* It looks like the individual notifications are what scrolls - whether there are just notifications in the drawer, or those notifications are in a notification group. What happens if the number of groups overflows the height of the drawer? Would that add an additional scrollbar, so you have an outer scroll to scroll the groups and an

[2019-02-13 22:13] mcarrano commented on #279
@kybaker @mceledonia can you guys take a look?

[2019-02-13 22:31] #1395 closed

[2019-02-13 22:37] #1271 closed

[2019-02-13 22:40] patternfly-build opened #1419 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-02-13 22:46] #1419 closed

[2019-02-13 22:57] jgiardino opened #1420 "Forms - replace `aria-errormessage` with `aria-describedby`"
The attribute `aria-errormessage` is very similar in behavior to `aria-describedby`, but isn't widely supported yet.

For now, we should only use `aria-describedby` to reference the error message that displays for a form input.

This issue should find all instances of `aria-errormessage` and simply replace the attribute with `aria-describedby` while keeping the same attribute value.

[2019-02-13 22:59] jgiardino commented on #919
This seems the Forms epic issue, so I'm adding another issue related to forms:
https://github.com/patternfly/patternfly-next/issues/1420

[2019-02-13 23:48] jgiardino commented on #925
The updates included in https://github.com/patternfly/patternfly-react/pull/1052 allow you to edit what attributes are defined within the Modal.

I created different variations of the Modal using `aria-label`, `aria-labelledby`, and `aria-describedby`. In a working Modal, I didn't see any issues with using any of these attributes. I think the weird things we were seeing were a result of seeing a s

[2019-02-13 23:48] #925 closed

[2019-02-14 00:08] jgiardino opened #1421 "Page component - Nav is visibly hidden but not hidden from AT"
Currently, when the page navigation is hidden using CSS, it isn't hidden from assistive technology like screen readers.

Whenever CSS is used to hide elements (instead of using the `hidden` attribute on the HTML element), the following properties should be defined to ensure that the contents are completely hidden from screen readers:
[code]

[2019-02-14 00:15] jgiardino commented on #769
I tested `required` in the three screen readers mentioned above, and it's supported.

As part of this issue, we should:
- remove `aria-required` - it's currently only mentioned in documentation
- remove `required` from `<label>` elements - this attribute is only needed for the actual form inputs.

[2019-02-14 14:06] rachael-phillips commented on #1411
Hi Karel, can you tell me how high priority this is? Right now, we have this as "future" on our roadmap.

[2019-02-14 14:12] rachael-phillips commented on #170
Hi Matt, is there a product ask for File Upload and do you consider this high priority? For background, this is currently placed in the future section of our roadmap. I am going to organize the workspace using the P1 >> P5 labels. P1 = high priority, P5 = not high priority.

[2019-02-14 14:14] rachael-phillips commented on #277
@matthewcarleton and @mcarrano This is currently on the Future 4.x category on our spreadsheet, and I'm wondering if this is a conversation we need to pick back up? Was this a product ask?

[2019-02-14 14:19] rachael-phillips commented on #285
@matthewcarleton do we need to revisit this issue or have we resolved this?

[2019-02-14 14:30] mcarrano commented on #170
I don't know that there is an immediate PF4 ask. @ajacobs21e and @mturley were planning to work on a solution. Do either of you have a short term need for this in PF4?

[2019-02-14 14:32] mcarrano commented on #277
This falls into the category of a thing we have a design for on the PF3 website, but it was never implemented in PF3. No, I'm not aware that there is a product ask.

[2019-02-14 14:52] rachael-phillips commented on #1327
Hi @christiemolloy and @michpetrov. How high priority is this issue? Is this blocking implementation?

[2019-02-14 14:59] #116 closed

[2019-02-14 15:09] mturley commented on #170
Not PF4 on my end, my need for this is in PF3. I'm implementing something downstream in the short term and then planning to loop back to try and make it reusable later on, tweaking it to match the eventual design.

[2019-02-14 15:10] rachael-phillips commented on #170
Ok great! Thanks for the update everyone!

[2019-02-14 15:12] karelhala commented on #1411
We found out that this would be good to have in 2 places (multiple filter dropdown - not well designed as of yet) and table (linked issue). But overall improved checkbox would be really good to have, custom browser checkbox seems a bit off with the rest of PF components. Just a suggestion (I know you guys can make better designs than I do) can we use these icons in future checkbox?
![screenshot fr

[2019-02-14 15:30] rachael-phillips commented on #453
@matthewcarleton are we ready to close this one out based on #455?

[2019-02-14 15:31] rachael-phillips commented on #977
Are we ready to close this out based on #955?

[2019-02-14 15:34] mcoker commented on #1378
closed via https://github.com/patternfly/patternfly-next/issues/1400

[2019-02-14 15:34] #1378 closed

[2019-02-14 15:41] rachael-phillips commented on #330
@matthewcarleton and @mceledonia I'm following up on this issue. Any update here since October?

[2019-02-14 15:50] christiemolloy commented on #977
@rachael-phillips yes I believe so!

[2019-02-14 15:50] christiemolloy commented on #1327
@rachael-phillips its a bug, but not blocking implementation. Ill take it on.

[2019-02-14 15:55] rachael-phillips commented on #977
Closing this out based on #955

[2019-02-14 15:55] #977 closed

[2019-02-14 16:03] rachael-phillips commented on #1411
Hi @karelhala thanks for the information. This is helpful. Do you have a timeline around when this is needed or is this blocking implementation?

[2019-02-14 16:13] rachael-phillips commented on #354
@mceledonia did you and Michael resolve his questions above?

[2019-02-14 16:19] mceledonia commented on #354
@rachael-phillips @mcoker @mcarrano I'm not sure how extensive we want to be in this demo. We've got the design work done for the full MFA flow, so I will defer to Michael or Matt for how far to take it. We really just wanted to go ahead and have the design work to cover all use cases included in the PF3 login flow.

[2019-02-14 16:20] rachael-phillips commented on #370
@matthewcarleton are we ready to close this out based on #830 and the icon list we offer in the Sketch file?

[2019-02-14 16:30] mcoker commented on #354
We would need to add functionality to the login component to support the MFA flow before we could create a demo. All we support currently in the component are the default and invalid layouts. We can build that, I'm just not sure of the priority.

[2019-02-14 16:34] ryelo commented on #1411
@rachael-phillips we're currently supporting checkboxes in just about every app, right now, we still support the "tri-state", but there is no visual design difference from the regular checkbox.

So it's not necessarily blocking anything in the sense of usability, but it is blocking because users might get confused if they're selecting things in tables.

[2019-02-14 16:35] christianvogt commented on #285
There seems to have been many improvements with the resets since. However I still noticed there is a global reset. If the global reset isn't used, do PF4 components all look correct?
https://github.com/patternfly/patternfly-next/blob/ddf0b11b6c1f24cff38f925f27a5840bc862de79/src/patternfly/_base.scss#L135

[2019-02-14 16:39] rachael-phillips commented on #380
@mcoker Did we end up addressing this one or will we need to reopen the conversation?

[2019-02-14 16:49] mcarrano commented on #354
I don't have an easy answer to this question. I understand @mcoker 's point that we can't really full demo this without adding JS. That said, there are some unique screens for MFA and SSO that could be implemented. Does core need to build out the needed screens and a React demo gets created to wire these together? @dgutride whould be interested in your take about how this should work.

As for prio

[2019-02-14 16:57] mcoker commented on #380
@rachael-phillips it's still an issue, and also an issue with other variations of dropdown components like select, options menu, app launcher, context selector, etc. This general issue would apply to other components that change background-color on hover/focus with no other sort of indicator. For example the nav component has the same issue, and I think that's a much higher priority. The accordion

[2019-02-14 17:01] mcoker commented on #354
@mcarrano we can create a demo in core that just shows screens for the various states without it being an interactive demo. That said, core does need to build the functionality into the login component for the MFA layouts before either we or react could create a demo.  For example, we don't have a layout in the login component for the avatar + email + "not you?" links, or the bold "enter verificat

[2019-02-14 17:14] mcarrano commented on #35
Let me try to answer these questions @mcoker .

The likelihood of this is small. If groups are used at all (in most cases they won't be) it would normally be a small number (less than 5). In most cases this will work with the current accordion approach. I would not be in favor of extra work to add an additional scrollbar outside the group.

You are correct about the PF3 behavior, but this had actu

[2019-02-14 17:17] mcarrano commented on #354
Hmmm... Let's figure out the priority of this first. It sounds like more discussion is in order if and when we decide to move ahead with this.

[2019-02-14 17:51] amysueg opened #1422 "Add styling for context selector so that it works with dark background"
When the context selector is used in the masthead, the dropdown text and the arrow disappear on the dark background. Please create a version of context selector which styling that will work when it is placed on the masthead.

[2019-02-14 18:18] tiffanynolan opened #1423 "Empty State variation when used on full page (screen)"
In Integreatly, one of the locations that we use the empty state pattern is on a congrats screen. In this instance the pattern is being used without the constraints of some container element (such as a card) and is being shown at the page/screen level.

Given the size of the text and images in this style and it's usage on a full screen, we feel like the elements are getting lost.

We're proposing

[2019-02-14 18:20] dlabrecq opened #1424 "Table expanding rows have large margins"
Implemented the Table component from patternfly/patternfly-react, but the expanding row layout looks odd in the Insights/Cost Management UI.

It appears that the expandable row reserves space on the left side, presumably for additional `td` tags containing toggles, check boxes, etc? As a result, it looks like there is a large margin on the left.

Looking at the core examples, the expandable row al

[2019-02-14 18:27] rachael-phillips commented on #1411
Ok thank you for letting me know @ryelo - that helps!

[2019-02-14 18:39] tiffanynolan commented on #1390
Played around with another idea to throw in the mix:
![image](https://user-images.githubusercontent.com/15326290/52809252-ccf1c800-305d-11e9-8495-7e88089e7f38.png)

[2019-02-14 18:40] mceledonia commented on #330
I believe we worked this out a while ago, when we defined icon sizes and spacing for regular and small icons. As time goes on, it feels more and more like we may need to introduce another icon size, but I'd like to keep it as simple as we can. Was there anything we needed to wrap up here that you remember @matthewcarleton ?

[2019-02-14 18:51] jgiardino commented on #1128
Notes about aria attributes related to `role="progressbar"`

- JAWS will ignore the following:
    - `aria-valuemin`
    - `aria-valuemax`
    - `aria-valuenow` IF `aria-valuetext` is included
- VO will announce all of these as expected

Here are some recommendations for how to use these attributes for different cases:

1. If `aria-valuetext` is not being used, then given the way JAWS handles thes

[2019-02-14 18:54] dlabrecq opened #1425 "Modal padding"
I've implemented the modal component from patternfly/patternfly-react and noticed that content in the body scrolls oddly under the modal title.

The pf-c-modal-box__body selector currently uses a padding-top properly, which results in scrollable content like this:

![screen shot 2019-02-14 at 1 51 47 pm](https://user-images.githubusercontent.com/17481322/52810084-c2383280-305f-11e9-85fa-e0d8ea3222

[2019-02-14 19:06] mcoker commented on #35
We have a variation of the dropdown type components that aligns the menu above the toggle, but whether the component is smart enough to detect the available space and whether the menu should open on the top or bottom of the toggle, I'll need to defer to react devs. @tlabaj do you know?

If we aren't going to have a scrollbar to scroll groups, and the notification item dropdown will open inside the

[2019-02-14 19:20] matthewcarleton commented on #354
Ya I’d like to consider how in core we can best present multi step flows.
It was a bit awkward in PF3. We could consider building it into core and
implementing it in React and linking to it from core. This is a new
approach so we can figure out if we like it and the best way to make it
happen.

On Thu, Feb 14, 2019 at 7:17 PM mcarrano <notifications@github.com> wrote:

--
Matthew Carleton
Senior I

[2019-02-14 19:23] matthewcarleton commented on #330
Ya I agree. I think we’ve set a standard size for icons on the design side.
We can probably further document this on the new PF site eventually.

On Thu, Feb 14, 2019 at 8:40 PM Michael Celedonia <notifications@github.com>
wrote:

--
Matthew Carleton
Senior Interaction Designer
User Experience Design Team
Red Hat, Inc.
mcarleton@redhat.com <mcarleto@redhat.com>

[2019-02-14 19:35] mcoker commented on #1425
Thanks @dlabrecq. Will change the padding to margin. Re: the margin size matching, I chatted with @mceledonia and we think the top/left/bottom padding (32px) creates too much space, but increasing it from 16px to 24px looks good, so we'll go with that.

[2019-02-14 19:55] rachael-phillips commented on #1423
Thanks @tiffanynolan! We've seen this and will be talking about this over the next couple of weeks as we prioritize issues over the months to come.

[2019-02-14 20:24] #1425 closed

[2019-02-14 20:25] rachael-phillips commented on #406
Hi Matt, is this an issue that can be closed?

[2019-02-14 20:32] mcarrano commented on #406
@rachael-phillips This is functionality that existed in the PF3 data table that I think fell off the table for PF4. It's still a valid issue, but not sure it has priority. Not clear if there's a need.

[2019-02-14 20:34] tiffanynolan commented on #1390
@kybaker @mcarrano I built out a Sketch file to further show our proposal. Please let me know if this is enough information to get this reviewed and approved or if you need additional information. I also chatted with @maryshak1996 about how this proposal ties in to the notification drawer design ideas, so they match up. The Integreatly team should also be able to provide assistance with the dev si

[2019-02-14 21:01] mcoker commented on #1406
@dgutride looks good to me now. ok to close?

[2019-02-14 21:08] dgutride commented on #1406
Fixed by #1409

[2019-02-14 21:08] #1406 closed

[2019-02-14 21:42] rachael-phillips commented on #1390
Hi @tiffanynolan I've added this to our roadmap, and after tomorrow I can let you know timeline on this.

[2019-02-14 22:00] tlabaj commented on #35
@mcoker The Dropdown component does not detect space and automatically position it above if there is not enough space.

@jschuler worked on tooltip positioning do you.  Do you think we could do something similar  for Dropdown (see @mcoker comment above)?

[2019-02-15 14:25] rachael-phillips commented on #482
Closing because this was tackled in #1206

[2019-02-15 14:25] #482 closed

[2019-02-15 14:29] rachael-phillips commented on #506
Hi @jgiardino is this issue still relevant? Trying to learn a bit more about this one.

[2019-02-15 14:29] rachael-phillips commented on #506
Hi @jgiardino is this issue still relevant? Trying to learn a bit more about this one.

[2019-02-15 14:48] #1422 closed

[2019-02-15 16:06] mcoker opened #1429 "Create common toggle and context menu components"
I would like to propose creating common components for a toggle button and context menu that are used in components like dropdown, app launcher, options menu, select, context selector, etc.

The toggle button and context menus in our current dropdown menus are 90% the same, with relatively small variations in how they present themselves per component. These differences could be built into the shar

[2019-02-15 18:11] mcoker opened #1430 "How to handle dropdowns in page header at different viewports"
The way we show/hide dropdowns in the header is really specific, based off of the layout that we have in the page demo currently. This will easily cause issues and require more flexibility as folks introduce different variations of menus in the page header.

Also we should discuss how best to handle the collapsing/combining of menus in the header as the viewports change. In the [react page demos](

[2019-02-15 18:30] #1310 closed

[2019-02-15 18:54] rachael-phillips commented on #1393
Hi @karelhala do you mind providing me more information on our priorities and timeline on when this si needed?

[2019-02-15 21:57] #1183 closed

[2019-02-15 21:57] #1286 closed

[2019-02-15 21:57] #1379 closed

[2019-02-15 21:57] #1381 closed

[2019-02-15 22:00] #169 closed

[2019-02-15 22:04] jgiardino commented on #1429
One idea is that to have 3 types of components:

- Dropdown - basically a wrapper, similar to how card is a wrapper, and just controls positioning of the toggle relative to the menu
- Menu Item
- Toggle

Then maybe the demos are where we show different variations of these components based on the design documentation we have.

It might also be nice to decouple the a11y stuff from the component leve

[2019-02-15 22:06] patternfly-build opened #1431 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-02-15 22:51] mcoker opened #1432 "Remove unnecessary imports, add accordion and tab-content to base"
remove any instances of `@import "../../patternfly-imports";` in a component scss file and `import component.scss` in index.js.

also need to make sure all components are represented in base shield css.

[2019-02-17 23:26] rachael-phillips commented on #530
Can we close this due to issue #832?

[2019-02-18 11:33] karelhala commented on #1429
@jgiardino this is really great approach how to do this! This will heavilly impact the implementation of dropdown in react (and eventually in any framework) component. The best way to implement this (interaction in JS) would be to build on top of current implementation and just improve the API with new capabilities.

With this approach we will not be limited at all in using dropdown
* horizontal m

[2019-02-18 12:00] karelhala commented on #1393
It's not needed at the moment, it's nice to have, but we will need this functionality in future and need to update table design to allow such thing.

[2019-02-18 13:58] jgiardino commented on #506
Yes, I checked, and it appears this issue is fixed on the React side so that the spacing matches what we have in Core.

[2019-02-18 13:58] #506 closed

[2019-02-18 15:05] dgutride opened #1435 "Register patternfly npm package with a cdn"
Should be consistent with patternfly cdn registration

[2019-02-18 15:17] mcoker opened #1436 "Dropdown should support groups"
Per https://github.com/patternfly/patternfly-next/issues/1430, we need to add support for grouped items in the dropdown component, with a similar UI to the [Select - Checkbox (Expanded and Selected with Groups)](https://pf4.patternfly.org/components/Select/examples/) example.

cc @kybaker @mcarrano

[2019-02-18 15:18] #299 closed

[2019-02-18 15:19] #435 closed

[2019-02-18 15:20] #1176 closed

[2019-02-18 15:34] mcoker commented on #1436
chatted with @jgiardino and decided we can go with this general structure - https://codepen.io/mcoker/pen/JxwgqR

[2019-02-18 16:27] rachael-phillips commented on #1390
Hi @tiffanynolan we have this on the roadmap for our March 22 for our release! Thank you so much, and let me know if you have any questions!

[2019-02-18 17:26] #390 closed

[2019-02-18 18:07] rachael-phillips commented on #1410
Hi Matt, would you consider this a bug or an enhancement?

[2019-02-18 18:33] jgiardino commented on #1375
A POC is currently in progress as part of #1253. The findings from this POC will affect what updates are needed as part of this issue.

[2019-02-18 18:44] mcarrano commented on #1410
A bug. It was really just an oversight and not the result of a new requirement.

[2019-02-18 19:09] #493 closed

[2019-02-18 19:16] #592 closed

[2019-02-18 19:22] mcarrano commented on #556
@jknilans I am assigning this to you to evaluate the requirements and design based on what we did for PF3 and any improvements that we might make. There is a standard design already for modals so this may just be a matter of defining a common template for how to present these. @mceledonia can consult on visuals. I think the first step would be to identify demos we want to hand off to development a

[2019-02-18 19:24] rachael-phillips commented on #483
This needs further investigation we would like to decide if we need to get it done for April 5.

[2019-02-18 19:26] #532 closed

[2019-02-18 20:36] #1229 closed

[2019-02-18 20:44] #1431 closed

[2019-02-18 22:03] #644 closed

[2019-02-18 22:04] #859 closed

[2019-02-18 22:27] mcoker commented on #805
chatted with @dgutride about it. we support all auto-updating browsers. If folks need this they can add a post processing step for it.

[2019-02-18 22:27] #805 closed

[2019-02-19 01:04] seanforyou23 commented on #617
@rachael-phillips looks like the original issue in the Form component was resolved, but it's crept back up in three other components since then. I updated the issue accordingly.

[2019-02-19 01:10] seanforyou23 commented on #619
Switch and Toolbar components seem to also contain this issue, I've updated the description accordingly.

[2019-02-19 01:32] seanforyou23 opened #1438 "Form elements must have labels"
Multiple component demos exhibit this same issue. Details related to this accessibility violation can be found here: https://dequeuniversity.com/rules/axe/3.0/label

Below are the URLs that illustrate the problem:

-  /components/Login/examples-full/
- /components/Switch/examples-full/
- /upgrade-examples/LoginUpgradeExamples/examples-full/

This is a `critical` a11y issue.

To learn more about ho

[2019-02-19 01:36] seanforyou23 opened #1439 "IDs used in ARIA and labels must be unique"
Below are the URLs that illustrate the problem:

-  /components/Table/examples-full/
- /components/Login/examples-full/

This is a `critical` a11y issue.

To learn more about how to build and test locally, check out: https://github.com/patternfly/patternfly-next#testing-for-accessibility

**As part of this issue, please complete the following items.** These will help reviewers know what issues wer

[2019-02-19 01:38] seanforyou23 opened #1440 "Required ARIA attributes must be provided"
Below are the URLs that illustrate the problem:

-  /upgrade-examples/LoginUpgradeExamples/examples-full/

This is a `critical` a11y issue.

To learn more about how to build and test locally, check out: https://github.com/patternfly/patternfly-next#testing-for-accessibility

**As part of this issue, please complete the following items.** These will help reviewers know what issues were addressed in

[2019-02-19 01:39] seanforyou23 opened #1441 "Certain ARIA roles must contain particular children"
Below are the URLs that illustrate the problem:

-  /upgrade-examples/LoginUpgradeExamples/examples-full/

This is a `critical` a11y issue.

To learn more about how to build and test locally, check out: https://github.com/patternfly/patternfly-next#testing-for-accessibility

**As part of this issue, please complete the following items.** These will help reviewers know what issues were addressed in

[2019-02-19 15:16] mcoker commented on #771
@priley86 we build the icons at https://pf4.patternfly.org/icons from a JSON file, and those are added but not checked in, so the icons are always up to date with what's in the JSON file. Is that what you were going for here, or were you looking for something else?

[2019-02-19 15:20] #738 closed

[2019-02-19 15:22] mcoker commented on #704
This is now in the repo description:

[2019-02-19 15:22] #704 closed

[2019-02-19 15:55] #775 closed

[2019-02-19 15:59] #702 closed

[2019-02-19 16:04] mcoker commented on #758
related https://github.com/patternfly/patternfly-next/issues/279

[2019-02-19 16:05] #774 closed

[2019-02-19 16:10] christiemolloy commented on #1424
Hey @dlabrecq ,
Right now the extra tds are optional, and the content in the expandable row is set to span 4 cols. But you can change this.
You should be able to remove all of the unused ` table-td's` and then update `table-td` which has the child `pf-c-table__expandable-row-content` class to have a `colspan=[total number of table cols]` .
I tested this and it worked, but let me know if you have a

[2019-02-19 16:15] mcoker commented on #901
@dlabrecq do you know if this is something the charting library supports?

cc @mceledonia

[2019-02-19 16:18] mcoker commented on #701
closing this. https://github.com/patternfly/patternfly-next/issues/887 should address it.

[2019-02-19 16:18] #701 closed

[2019-02-19 16:20] #870 closed

[2019-02-19 16:20] #1109 closed

[2019-02-19 16:22] andybraren commented on #870
(Closed because the original Sequence component is no longer planned, obviating the need to do this.)

[2019-02-19 16:23] mceledonia commented on #901
I like the idea, we could visually represent this as faded colors like Cameron shows above, or perhaps 1px colored line at the edge of each threshold would work. Either way I think we can come up with a nice solution from a visual standpoint, and I agree we should support it.

[2019-02-19 16:26] redallen commented on #1435
Quick comparison:
|                             | Monthly Cost | Hosting | Image Optimization | Cache TTL | Instant purging | Configurability | Points of Presence |
|-----------------------------|--------------|---------|--------------------|-----------|-----------------|-----------------|--------------------|
| Unpkg                       | $0           | Yes     | No                 | Forever

[2019-02-19 16:28] mcoker commented on #1098
@mceledonia @kybaker how about we do something similar to modal where we have 2 modifiers, one for small and one for large, that set a small/large `max-width`. Then without a modifier, the component is 100% width and the paren't container can set the size, or potentially react could then add a `width` prop, too, that would allow you to pass a custom size to the react component (the modal does that

[2019-02-19 16:36] christiemolloy commented on #1103
Latest update: on the design side - scrollbars are not ideal, we should investigate this further.

[2019-02-19 16:38] jgiardino commented on #681
This issue can be completed when #919 is completed.

[2019-02-19 16:48] jgiardino commented on #680
Closing this since #919 should hopefully cover all the variations.

[2019-02-19 16:48] #680 closed

[2019-02-19 16:53] dlabrecq commented on #1424
Thanks, @christiemolloy. That's good to hear.

Unfortunately, it's not optional for the patternfly-react component. I opened an issue there and it was immediately closed stating that this is how core does it -- or something to that affect.

I'll re-open the issue in patternfly-react. However, would it be possible to document this in the example or provide another example showing it's optional?

[2019-02-19 19:08] christiemolloy commented on #1424
Hey @dlabaj just spoke with @kybaker and he advised that we defer to what we have in the expandable row in the data list component. So I'm going to make the update to remove the td's and add padding to the expandable-row-content.

[2019-02-19 19:11] rachael-phillips commented on #871
@dlabrecq have we started any work on Bullet chart and/or would you be interested in working on this?

[2019-02-19 19:18] karelhala commented on #1418
@christiemolloy yes, that helps! Thank you, I will update our tables to use this logic if they have multiple cells to break at some specific size.

[2019-02-19 19:19] mcarrano commented on #297
@gdoyle1 will create hi-fidelity mockups based on my wireframes for the basic card view, only (no drag and drop). @mcoker let @gdoyle1 or I know if you have any questions as you begin to implement, but this should be a pretty straight forward grid of cards with appropriate spacing. The grid must be responsive, of course.

The contents of the cards can be any layout based on the card variations tha

[2019-02-19 19:20] rachael-phillips commented on #278
Hi @mceledonia do you mind attaching the final designs to our dashboard issue?

[2019-02-19 19:21] rachael-phillips commented on #355
@mceledonia are these the final designs on this issue?

[2019-02-19 19:24] christiemolloy commented on #1418
Great! Feel free to reach out to me if you have any troubles. Going to close this issue!

[2019-02-19 19:24] #1418 closed

[2019-02-19 19:35] mcoker commented on #297
@mcarrano looks good.

Are you proposing a new layout/component that is different from the existing grid layout? You can see an existing demo of cards in the [page component demo](https://pf4.patternfly.org/demos/Page/examples-full/?component=Page%20Component%20Default%20Nav%20Header%20Example) that uses our existing grid layout.

[2019-02-19 19:57] mcoker opened #1443 "Update pagination example to show .pf-c-pagination__menu-text"
We need to show the "per page" text in the options menu item:

![53033026-1b2c1000-343e-11e9-83fc-5e27f69c41ac](https://user-images.githubusercontent.com/35148959/53043530-44ed3300-344e-11e9-9f3e-43afbfd6adaf.png)

related - https://github.com/patternfly/patternfly-react/pull/1297

[2019-02-19 20:21] dlabrecq commented on #871
I do have a bullet chart available in Cost Management. It's based on the Victory chart library, using a couple horizontal bar charts.

In general, the charts package still needs more work regarding colors, styling, themes, etc. (I know color pallets have been added to core, but not react-tokens. And we still need grey color scales for the bullet chart -- that's not part of the new color pallets.)

[2019-02-19 20:27] dlabrecq commented on #871
Note that the colors and layout was based on Kyle's high fidelity mocks:

https://redhat.invisionapp.com/share/ENPJQTBXTAC#/screens/336165167

Colors are slightly different, but quite similar to Micheal's version:

https://drive.google.com/file/d/1jCxBH0niB78V0PJvzHDBr8Hm5wKmDlgH/view

[2019-02-19 20:28] redallen commented on #1435
Closed in #1442.

[2019-02-19 20:28] #1435 closed

[2019-02-19 20:31] rachael-phillips commented on #841
Christie addressed this issue #756

[2019-02-19 20:31] #841 closed

[2019-02-19 20:53] mcarrano commented on #457
@bmignano Please post a link to your design doc here when ready. This should elaborate on the use cases and examples we want to illustrate through this demo.

Once we establish that, then I think next steps are to discuss how to build this. We may be able to go directly to implementation in React using the Toolbar and select components which have been previously defined.

[2019-02-19 22:04] mcarrano commented on #297
The existing grid layout should suffice @mcoker  . So then I think all this story is about is creating a demo that adds a toolbar above the card grid and an optional pagination footer in a full page layout (like what we did for data list and table demos). We can define some sample card content that is representative to support checkbox selection and/or actions. This should not require any new comp

[2019-02-19 22:23] mcoker commented on #297
Yep, great, thanks @mcarrano.

[2019-02-19 23:32] jgiardino commented on #1253
The findings from the POC created for this issue are:

- These attributes work best for the live region for the type of dynamic notifications we are displaying:
[code]
- This live region must exist in the DOM 200ms before the message is inserted. This is required for JAWS and NVDA. VO however will announce the contents of the live region when inserted at the same time.

[2019-02-19 23:32] #1253 closed

[2019-02-20 00:08] jgiardino commented on #1375
@tlabaj Could you provide feedback on this from a react component perspective? When testing a POC of alerts, @seanforyou23 and I found that:
- separate alerts must have their own aria-live region
- an aria-live region must be present 200ms before the contents of an alert are included

These are two possible approaches, but I'm not sure if one is simplest from a React perspective. I like variation

[2019-02-20 13:43] mceledonia commented on #355
@rachael-phillips Yes these are the final designs for the card structure.

[2019-02-20 13:49] mceledonia commented on #278
Sure thing!
[Dashboards 3.zip](https://github.com/patternfly/patternfly-next/files/2884817/Dashboards.3.zip)

[2019-02-20 15:24] mcoker opened #1446 "Label variations to represent state with colors"
From https://github.com/patternfly/patternfly-react/issues/1339#issuecomment-465337698

Should we add variations of the label component that represent the states we offer in alerts, similar to [patternfly 3 lables](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/labels.html)?

cc @mcarrano @mceledonia @kybaker

[2019-02-20 17:57] #1367 closed

[2019-02-20 18:14] mcarrano commented on #278
@mcoker @rachael-phillips @mceledonia and I met today to discuss next steps on this. We have a set of design examples to represent examples of dashboards. As we move towards implementation, some considerations are:

* How to use the existing grid layouts in PF4 to achieve a responsive dashboard that works at any viewport size/ What our the expectations for mobile?
* What about card types? We have

[2019-02-20 18:58] mcarrano commented on #1446
I think this should be treated as a new feature. @rachael-phillips let's consider for 4.x

[2019-02-20 19:09] matthewcarleton commented on #279
just had a conversation with @mceledonia about this. He walked me through the design that he came up with.
for reference we also looked at
https://material.io/design/components/progress-indicators.html#circular-progress-indicators
https://codepen.io/mrrocks/pen/EiplA

[2019-02-20 19:26] #505 closed

[2019-02-20 19:42] rachael-phillips commented on #871
Thanks for offering to contribute, and sorry for any delay.  @mcarrano , @kybaker, @mceledonia can you weigh in here from a design perspective? We will be contributing this in React whenever we are ready.

(FYI @mcoker )

[2019-02-20 19:44] mcarrano commented on #871
OK with me. I will defer to @kybaker and @mceledonia regarding visual design.

[2019-02-20 19:51] rachael-phillips commented on #279
@matthewcarleton just to clarify, do you want to take on this issue?

[2019-02-20 19:53] rachael-phillips commented on #354
@dlabaj do you mind advising us from the React side on what all will need to be done for MFA?

[2019-02-20 20:01] christiemolloy opened #1449 "Update Pagination and Toolbar (break-points)"
Confirmed with @gdoyle1 about the following changes that need to be made to the pagination and toolbar component.

- Currently pagination top on mobile truncates to "10 items", however it should say the full text from the options menu - "1-10 of 20 items".
- pagination bottom should truncate to just `.pf-c-pagination__nav' and the options-menu should be hidden.

For toolbar: the breakpoint on the

[2019-02-20 20:08] dlabaj commented on #954
BackgroundImage.js

  const bgStyles = StyleSheet.create({
    bgOverrides: `&.pf-c-background-image {
      ${Object.keys(variableOverrides).reduce(
        (prev, size) => `${prev.length ? prev : ''}${variableMap[size]}: url('${variableOverrides[size]}');`,
        {}
      )}
    }`
  });

[2019-02-20 20:12] christiemolloy opened #1450 "Fix Compact Table"
A list of issues to fix with the compact table.

1. At a certain breakpoint the data in the compact table is not aligning with the checkboxes.
<img width="776" alt="screen shot 2019-02-20 at 3 05 04 pm" src="https://user-images.githubusercontent.com/20118816/53120937-fe1c3d80-3520-11e9-91a6-2e289b1a6813.png">

2. The top and bottom rows have a larger padding/margin which is impacting the alignment

[2019-02-20 20:32] dlabaj commented on #954
Only style sheet create left in the Background image is needed for when users specify their own images.  Closing based on updates and no need for changes to BackgroundImage.js

[2019-02-20 20:32] #954 closed

[2019-02-20 21:40] jgiardino commented on #1171
Closing this issue. After discussion with CSS team, we want to keep options available to consumers to use as they need to, and will cover the topic of which html element to use in the accessibility guide, but that how these elements are styled is up to the discretion of the designer.

[2019-02-20 21:44] jgiardino opened #1452 "Switch enhancements - move text strings from css to html"
Currently the text strings that are included in the Switch component are defined in the css. This can be problematic for consumers that want to either translate their text strings or customize these strings to be different (e.g. enabled/disabled vs on/off).

I copied bits from comments in issue #915 to show a solution that might work for this.

With the html shown below, a couple of things are hap

[2019-02-20 22:11] rachael-phillips commented on #355
Thanks so much @mceledonia !

[2019-02-20 22:50] rachael-phillips commented on #1393
Thanks so much for the update, @karelhala !

[2019-02-20 23:04] rachael-phillips commented on #617
Thanks!

[2019-02-20 23:28] jgiardino opened #1453 "Pagination component - remove aria-label from <div>s"
Only certain html elements benefit from having an aria-label attribute. This attribute should be removed from the following `<div>`s of the Pagination component.

- `<div class="pf-c-pagination" aria-label="Element pagination">`
- `<div class="pf-c-pagination__nav-page-select" aria-label="Current page 1 of 4">`

[2019-02-21 15:10] #1424 closed

[2019-02-21 17:01] mcoker opened #1455 "Allow support for horizontal rule (<hr>) in content component"
The `<hr>` should have spacing when used within the `.pf-c-content` component.

[2019-02-21 18:09] jgiardino opened #1456 "progress bar - move aria attributes"
The progress bar currently relies on `aria-describedby` to announce the title/description for the progress bar, but this attribute isn't reliably supported for things other than form elements (see [Short note on aria-label, aria-labelledby, and aria-describedby](https://developer.paciellogroup.com/blog/2017/07/short-note-on-aria-label-aria-labelledby-and-aria-describedby/)). The [aria documentatio

[2019-02-21 18:19] mcoker commented on #1455
from @mceledonia

[2019-02-21 18:49] alexkieling commented on #1415
I think the version of patternfly.css without the reset shouldn't include Font Awesome 5 to avoid breaking Font Awesome 4 icons.

[2019-02-21 18:58] #1415 closed

[2019-02-21 19:00] rachael-phillips commented on #279
Leaving an explanation here of @mceledonia, @kybaker's and my recent discussion on Spinner. @bdellasc I took the design back to Michael, we had a discussion, and we decided to move forward with a more robust spinner design which should work well across products. Let me know if you have any questions!

[2019-02-21 19:08] katierik commented on #404
I've got a use case for this in Cloud Services Vulnerabilities. I want to be able to click a line in a table and edit the values involved.

Rox gave me a demo of what they currently have in Satellite where the entire table is editable vs the row being editable on its own (which I see in the PF3 docs). I'd prefer row, but could make the other work.

[2019-02-21 19:15] rachael-phillips commented on #404
Thanks @katierik ! Can you list any product/project release(s) and timelines your trying to align with?
Are you interested in HTML/CSS only or leveraging a PF-React implementation?

[2019-02-21 19:54] AdamJ opened #1457 "Add Font Awesome 5 Regular Icons"
In the current selection of Font Awesome icons, only the solid options are available (both built into PatternFly 4, as well as part of the included CDN option).

Ideally, PatternFly 4 would also offer the Regular icon sets that are available for free (non subscription use), as part of the CDN option. The CDN URL for the Regular (free) icons is `https://use.fontawesome.com/releases/v5.7.2/css/regul

[2019-02-21 20:05] bdellasc commented on #279
@rachael-phillips thanks for the update. Do we have a sense of when the chosen spinner will be implemented? We have need for one in the short term for our upcoming release. @dlabaj built the simple one I proposed already for our immediate needs/current page. I assume we'd just consume and replace it with the chosen one once it's been implemented.

[2019-02-21 21:14] mcarrano commented on #404
I reviewed requirements in the PF design sync meeting today and we agreed to start with looking for parity with current PF3 offering as implemented in the PF3 React repo. Corresponding PF3 designs can be found here: https://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/  There should be three possible levels of editing:

* At the cell level, where user can make a single cell ed

[2019-02-21 21:32] mcoker opened #1458 "Change pf-c-toolbar__current to pf-c-toolbar__total-items in toolbar docs"
Looks like that part of the docs wasn't updated to reflect an element change.

[2019-02-21 21:45] alexkieling commented on #1370
This issue is happening to me as well. I can manually fix it by changing the first line of `patternfly.scss` from `@import "./patternfly-base";` to `@import "./patternfly-base.scss";`. Unfortunately, that's not practical because `patternfly.scss` gets replaced when PatternFly is upgraded and it would not work in a CI server.

[2019-02-21 22:43] #893 closed

[2019-02-21 22:54] #1389 closed

[2019-02-22 08:56] karelhala commented on #1457
Are you talking about react icons [1]? If so there is Pr https://github.com/patternfly/patternfly-react/pull/1385 opened to add regular icons as well.

[1] http://patternfly-react.surge.sh/patternfly-4/styles/icons

[2019-02-22 13:37] mindreeper2420 commented on #1457
@karelhala This is for adding the Regular icon set into Core, in the case where it is used without the React library. It would be added under this line: https://github.com/patternfly/patternfly-next/blob/9bbbc1af24bc4809054cbf3a3081265546cc1e04/src/patternfly/_icons.scss#L10

[2019-02-22 13:59] rachael-phillips commented on #279
Hi @bdellasc that's a great question, and yes, that sounds like a good plan. Spinner is on the roadmap to be available on the React side by March 22, and I will keep you updated.

[2019-02-22 15:16] maryshak1996 commented on #35
@mcoker after some discussion with a larger group, there are a few concerns that were raised about the current design that we will likely require some design updates that I wanted to document here, so that you are aware before getting too knee-deep in the development. Here is a break down of the feedback given, and the solutions that I am proposing to resolve the issues can be seen on my updated i

[2019-02-22 15:37] #1128 closed

[2019-02-22 16:46] christiemolloy opened #1463 "Update width of tooltip"
Design suggests changing the max-width from 200px to 300px.

[2019-02-22 16:47] mcoker opened #1464 "FA icons aren't working on mobile"
Looks like this. Using the FA CDN seems to work though.

<img width="859" alt="screen shot 2019-02-22 at 10 46 46 am" src="https://user-images.githubusercontent.com/35148959/53257240-46f20480-368f-11e9-9e2e-77fcff89205e.png">

[2019-02-22 16:51] #1360 closed

[2019-02-22 17:09] mcoker commented on #1464
This appears to be a workspace bug. I built PF4 site from the npm dist package and PF3 and FA icons seem to work fine. cc @dgutride

[2019-02-22 18:36] tiffanynolan commented on #626
We're also running into a similar issue with the cards and the Integreatly project. I spoke with @mceledonia about this the other day. I believe the header is supposed to have a default size of 18px (vs the current 16px) which should help differentiate it. However, I'm not sure that will provide enough visual difference for the hierarchy.

Current implementation with the 16px header as specified i

[2019-02-22 18:41] mceledonia commented on #626
I think that's a great recommendation, the semibold weight of the fourth level title should be just enough to push that hierarchy up to where it needs to be. Thanks again @tiffanynolan !

[2019-02-22 18:43] ryelo commented on #626
Yeah, we are working around this project also using the fourth title level weight 😄

[2019-02-22 18:45] mcoker opened #1465 "Update card header font styles"
Per https://github.com/patternfly/patternfly-next/issues/626#issuecomment-466500428

cc @mceledonia

[2019-02-22 18:45] mcoker commented on #626
@ryelo @tiffanynolan @mceledonia created https://github.com/patternfly/patternfly-next/issues/1465 for that request.

[2019-02-22 18:48] mcoker commented on #1203
@TimoSta can we close this one?

[2019-02-22 19:17] andybraren commented on #1328
Closing this since #1303 included accessibility documentation that sufficiently covers this possibility. We're in agreement that adding a separate Tabs example isn't necessary. FYI @rachael-phillips.

[2019-02-22 19:17] #1328 closed

[2019-02-22 21:01] dgutride opened #1468 "Create sample PF3 and PF4 side by side application for testing releases"

[2019-02-22 21:51] jgiardino commented on #1441
@seanforyou23 I think this issue should be closed. Ideally, we would complete #864 and not flag these issues. The issue being returned here is coming from a PF3 component that's used in an upgrade example, so we can't really fix that type of issue.

Let me know what you think.

[2019-02-22 23:02] #1370 closed

[2019-02-22 23:05] mcoker commented on #1260
fixed in https://github.com/patternfly/patternfly-next/pull/1397

[2019-02-22 23:05] #1260 closed

[2019-02-24 22:51] jgiardino opened #1469 "Accordion - remove aria-expanded from <dd>"
In the Accordion, remove `aria-expanded` from the following element. This attribute is intended for the control/toggle, and not the contents. When this attribute is included on non-interactive elements like this, nothing is announced to the screen reader user.
`<dd class="pf-c-accordion__expanded-content pf-m-expanded" aria-expanded="true">`

[2019-02-24 22:55] jgiardino opened #1470 "Pagination component - update css used to hide elements"
The Pagination component currently includes the following element, which only displays in smaller views:
`<div class="pf-c-pagination__total-items">20 items</div>`

Currently when viewing the full size version of the component, this element is hidden using `display: none;`. This property alone doesn't reliably hide elements from screen readers. Whenever hiding elements from screen readers using on

[2019-02-25 14:10] maryshak1996 commented on #35
@mcoker @rachael-phillips I think that all of the feedback from product groups has been considered in these latest mocks above, and we can consider [again] this done from the visual side. sorry for the confusion!

[2019-02-25 14:35] rachael-phillips opened #1471 "MIT Licensing"
Update licensing to MIT licensing across PatternFly.

[2019-02-25 14:47] #1432 closed

[2019-02-25 15:09] mceledonia commented on #871
The colors for the implementation should probably follow the new color palette colors. Then if we need to diverge from those, like in the cost management mocks, we can do that. I'm thinking we want to be consistent with other chart colors.

[2019-02-25 15:23] christiemolloy commented on #888
Closing this issue as it does not apply anymore (was addressed in previous issues).

[2019-02-25 15:23] #888 closed

[2019-02-25 15:48] rachael-phillips commented on #871
@dlabrecq does that sound like a good plan to you? @mceledonia does that mean you are ready to move forward with @dlabrecq building this out?

[2019-02-25 16:06] rachael-phillips commented on #180
@maryshak1996 can you give me a status on this design?

[2019-02-25 16:09] rachael-phillips commented on #297
@gdoyle1 how is this one going? Can you give me a status on design?

[2019-02-25 16:12] maryshak1996 commented on #180
hey @rachael-phillips, yes! so I have reviewed this with other visual folks and am just specking it now :) should have design here by the end of the day today or tomorrow

[2019-02-25 16:33] jgiardino opened #1474 "Alerts - color contrast of icons"
The icons used for Alerts should be double-checked for color contrast. A quick check shows that the danger color combination is not accessible. These icons should have contrast given that for users who are color blind, this is the means by which they would understand the type of alert.

[2019-02-25 16:34] jgiardino commented on #1474
@kybaker I'm not sure if this issue would be addressed with the color updates you're working on or not, but wanted to go ahead and capture it.

[2019-02-25 18:09] rachael-phillips commented on #180
Wonderful, thanks so much! Just checking status :)

On Mon, Feb 25, 2019 at 11:13 AM maryshak1996 <notifications@github.com>
wrote:

[2019-02-25 19:20] jgiardino commented on #1441
@jameslau and @seanforyou23 I'm closing this one. I'm not able to reproduce the original issue in the audit.

[2019-02-25 19:20] #1441 closed

[2019-02-25 19:36] maryshak1996 commented on #180
Alright, so this component has a lot of uhhh "sub-elements" to it and I'm not too sure what new items would have to be added to core with this (ie. the circle to indicate selected date and the date range indicator bar, etc.). with that said, if there are any questions about the design on this please let me know! https://redhat.invisionapp.com/project/16756255
here's an example that shows the major

[2019-02-25 19:44] AllenBW commented on #180
I SEE TIMEZONE <3 <3 <3 thank goodness 🙇

[2019-02-25 20:28] christiemolloy commented on #1405
FYI the fix - When the parent has the `max-height` and `overflow` properties, the child must have the padding.

[2019-02-25 22:40] TimoSta commented on #1203
@mcoker Just verified that it's resolved in our app, and it looks good! 👍

[2019-02-25 22:40] #1203 closed

[2019-02-25 23:17] mcoker opened #1481 "Investigate -webkit-overflow-scrolling in wizard"
We removed `-webkit-overflow-scrolling: touch;` from `wizard.pf-c-wizard__main` per the discussion here - https://github.com/patternfly/patternfly-next/pull/1404#issuecomment-467224054

Let's try to figure out a workaround so we can use `-webkit-overflow-scrolling: touch;` on `wizard.pf-c-wizard__main`.

[2019-02-26 14:00] srambach commented on #1439
#1461 fixed those components that were not generating unique ids.
#1480 is a draft PR showing how the SVG could be put inline in the SCSS file; however, it is not working for Safari for no discernible reason.

[2019-02-26 17:01] jameslau commented on #1438
Hey @jgiardino, should we star a new PR for this ticket in order to isolate the "upgrade examples"? Or should we just remove the upgrade portion from this ticket? @rachael-phillips, we had to close #1441 due to similar issues.

[2019-02-26 18:52] mcoker commented on #1101
I think we could add a prop for `maxWidth` (and `minWidth`?) that overwrites these properties:

[code]

In their application, they can also overwrite `--pf-c-popover--MinWidth` and `--pf-c-popover--MaxWidth`

[2019-02-26 18:53] mcoker commented on #1463
closed via https://github.com/patternfly/patternfly-next/pull/1466

[2019-02-26 18:56] christiemolloy commented on #1101
If that works then that sounds good to me. @mcoker

[2019-02-26 19:02] mcoker commented on #1101
The only concern I might have is with regards to consistency. If I'm not mistaken, the modal component takes a `width` prop, not a `maxWidth` prop. I'm not sure if we should offer consistency between these components with regards to how you modify the width/max-width. Do you want to follow up with who made the original request or want me to follow up with someone?

[2019-02-26 19:11] christiemolloy commented on #1101
@mcoker IMO the modal uses a width prop to determine its size on the screen and the popover, uses a max-width so that the text wraps at a certain breakpoint. I'll talk with Titani on the React side.

[2019-02-26 19:23] christiemolloy opened #1486 "Fix Data List to handle more than two columns in a row without breaking"
The Data List needs to be able to handle an infinite number of columns in a row, where the items wrap but the kebab stays in the top right corner. Currently the example in our workspace with three columns breaks because the kebab wraps before the columns do as seen in #1327 .

Issue should be completed closer to the 4/5 Release date.

[2019-02-26 19:23] jameslau commented on #1438
@jgiardino, I went ahead and removed the "/upgrade-examples/LoginUpgradeExamples/examples-full/" task since we are no working on anything related to PF3 for ARIA.

[2019-02-26 19:29] jameslau commented on #1438
Due to the nature of the `aria-labelledby`, all labels for the switch component are driven dynamically by a set of handlebar rules, `aria-labelledby="switch-is-{{id}}"`. Because of this, the `aria-labelledby`can never match the elements ID because of the prefix "switch-is-" at the beginning. According to @mcoker, there is an enhancement on another ticketed issue that is being handled by @christiem

[2019-02-26 19:34] christiemolloy commented on #1101
@mcoker spoke with @tlabaj and she said they can add a prop for maxWidth and minWidth.
In terms of being consistent across components - I feel like thats more of a question for design. Last I spoke with @mceledonia he mentioned it should be a max-width which is what we currently have.

[2019-02-26 19:41] #1463 closed

[2019-02-26 19:43] jgiardino commented on #1438
That's fine as long as the issues were related to the PF3 component and not the PF4 component on that page. Since issues were also flagged for `/components/Login/examples-full/`, it's possible that the PF4 component on that page has issues. But it's also possible that if you fix the issues in `/components/Login/examples-full/`, that the PF4 issues in `/upgrade-examples/LoginUpgradeExamples/example

[2019-02-26 19:46] mcoker opened #1487 "Add support for sub-header text in Login component"
Related to https://github.com/patternfly/patternfly-next/issues/354

Need to add support for the "Log in to Application" text as seen on https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/login-single-sign-on.html

Details to come.

cc @tlabaj @mceledonia

[2019-02-26 19:49] mceledonia commented on #1487
Let's go with small text style (14px) underneath the header with spacing: 16px top, 32px below..

![image](https://user-images.githubusercontent.com/30935938/53441825-a58fe900-39d5-11e9-9c0b-5bded967acfb.png)

[2019-02-26 19:57] mcoker commented on #1101
Cool. Re: consistency, I meant with the props we offer on the react side for people to configure, but I agree it makes sense for popover and modal to be different in core because a modal will be as wide as possible, limited by a max-width, and the popover (and tooltip) are as narrow as possible (only growing as large as the content inside), also limited by a max-width.

[2019-02-26 20:59] jameslau commented on #1438
I plugged '/upgrade-examples/LoginUpgradeExamples/examples-full/' back into the issue as a reference.

[2019-02-26 21:55] katierik commented on #755
Why/when did the wizard switch from having progress buttons on the right (seen in wireframes, more common interaction pattern for wizards) to the buttons on the left (seen in the latest hifi)?

Most examples and implementations of wizards I have seen and researched have the buttons that progress forward on the right.

[2019-02-27 14:49] #1438 closed

[2019-02-27 15:40] christiemolloy opened #1490 "Add modifier class to `.pf-c-page__main-section`"
Add a modifier class to `.pf-c-page__main-section` that removes padding from the main section, to allow cards to sit on the edges of the viewport. This is necessary for the data table and data list demos.

[2019-02-27 15:44] maryshak1996 commented on #35
a few designers have asked for the sketch file for this, so here she is in all her glory along with the visual spec
[Notification-Drawer.zip](https://github.com/patternfly/patternfly-next/files/2911037/Notification-Drawer.zip)
:

[2019-02-27 16:04] christiemolloy opened #1491 "fix(table examples): on mobile"
Currently the information inside of the div looks like this:
`<div id="{{table--id}}-node2">Node 2</div><a href="#">siemur/test-space</a>`

which is causing this at mobile:
<img width="534" alt="screen shot 2019-02-27 at 11 02 57 am" src="https://user-images.githubusercontent.com/20118816/53504093-4a1a3580-3a7f-11e9-900f-e76e2ba4f128.png">

The information inside the div should be wrapped inside o

[2019-02-27 16:06] mcoker opened #1492 "Allow user to specify which main section grows in page component"
In the page component, the last section in the main content area grows to fill the height of the content area. Should we decide that for the user and enforce that behavior by default, or should we allow a user to specify which one grows instead, using `.pf-m-main`? The latter would follow the Split and Stack components' section that grows. This would also allow a user to have a footer that sticks

[2019-02-27 16:16] christiemolloy opened #1493 "Breaking Changes to Table"
This issue is created for changes to the table component that are breaking. They are necessary to complete the table demo.

[2019-02-27 16:59] mcoker opened #1494 "Add support for <caption> in table component"
The [PF4-React table component](http://patternfly-react.surge.sh/patternfly-4/components/table) takes a `caption` prop that defines a table `<caption>`, but we don't have support for that element in core, so the default browser styles are applied which looks weird.

Looks like the [PF3-React table component](http://patternfly-react.surge.sh/patternfly-3/index.html?selectedKind=patternfly-react%2FC

[2019-02-27 18:38] #755 closed

[2019-02-27 19:20] christiemolloy opened #1498 "Update toolbar padding-left/padding-right for mobile."
Spoke with @kybaker ... the toolbar on mobile should have 16px for padding-left/padding-right.

[2019-02-27 19:22] christiemolloy opened #1499 "Update table padding-left/padding-right for mobile"
Spoke with @kybaker ... table rows should be 16px for padding rather than 32px. (on mobile)

[2019-02-27 19:23] mcoker opened #1500 "Add no-padding to spacer utility classes"
We should support:

[code]

[2019-02-27 19:28] mcoker opened #1501 "use pf-m-no-padding in wizard body to remove padding, remove __body element"
wizard main element should have padding by default, with `.pf-m-no-padding` to remove it, instead of having a `__body` element to create the padding.

Also move the nav padding from the nav element to the nav list so that we don't need to use the pseudo element hack for the nav's bottom padding.

[2019-02-27 20:36] #1500 closed

[2019-02-27 20:55] christiemolloy opened #1505 "Changes to Data List for Mobile"
This issue is for changes to the data list from the data list demo.

[2019-02-27 21:12] gdoyle1 commented on #297
@rachael-phillips @mcoker @mcarrano Sorry guys! I didn't see this notification until now. Here's what I came up with! https://redhat.invisionapp.com/share/ZFQQYJQGWHV

[2019-02-27 21:47] christiemolloy opened #1507 "Update Expandable Table example: move content back to table column."
As a follow up to #1447... @kybaker would like the content in the expandable row to sit inside the column that lines up with the column in the row above.

This can be produced without any changes to the code. The expandable row should have no padding, and use `<td>'s` and adjust `colspan`.

[2019-02-27 21:58] #924 closed

[2019-02-28 14:47] mindreeper2420 opened #1509 "Dropdown hover text is white in user menu"
In the masthead, the user dropdown text changes to white on hover. Expected color is black, based on designs.

This was found using version `"@patternfly/patternfly": "1.0.208"`, as well as on the [PatternFly 4 React demo page](http://patternfly-react.surge.sh/patternfly-4/demos/pagelayout/examples/page-layout-default-nav) (02/28/2019).

![user-menu-hover](https://user-images.githubusercontent.com

[2019-02-28 16:39] mcarrano commented on #180
@maryshak1996 This is looking good. I reviewed the InVision and left some comments/questions regarding the intended interaction. I'd like to pull together a meeting with development to review this. That would be a good place to raise some of the questions about the need for custom or new components to build this. @bmignano can you also take a look? I think this needs to work for all potential use

[2019-02-28 18:52] maryshak1996 commented on #180
@mcarrano hey matt thanks - all great feedback and thoughts to discuss
I've been having some communication with @bmignano and @gdoyle1 about this as well, because of their work with filtering too

[2019-02-28 19:36] mcoker opened #1511 "Add support for disable dropdown toggle"
From https://github.com/patternfly/patternfly-next/pull/1476

We also need to update the color of pf-m-plain dropdown toggles, and the background-color and border on regular dropdown toggles. I chatted with @mceledonia about the split button dropdown, and we decided to support disabling the menu entirely instead of one or another element in the split button toggle.

[2019-02-28 19:51] mcarrano commented on #35
@maryshak1996 This is looking good. I like your changes. I only had one comment about how we are reflecting the state of the drawer (open vs closed). Did you also pass your Sketch assets along to @gdoyle1 for integration with the master file?

@mcoker please look over this design when you have a chance. I'm wondering how we will approach this from an implementation perspective. I think the drawer

[2019-02-28 20:17] bmignano commented on #180
@mcarrano @maryshak1996 This looks great! Looking at this I'm curious whether the calendar / clock icons are clickable. I might have thought clicking those would activate the dropdown. Also, curious whether we would support editing the date / time using the keyboard rather than opening the dropdown.

In the context of filtering, I'm concerned about resetting the controls. How can users clear the d

[2019-02-28 20:44] maryshak1996 commented on #35
@mcarrano yes I did! @gdoyle1 has my sketch assets for this

[2019-02-28 21:10] gdoyle1 commented on #180
@bmignano I wonder if we can just add something within the calendar modal/dropdown box saying "clear dates" or something like that. That would require the user to open the menu in general, but my guess is that if they are editing/adding a date/time range in the first place, it wouldn't be too much of a hassle!

[2019-02-28 22:03] mcoker commented on #35
This looks great! Re: implementation, the toggle looks like a button with a badge. Do we want to build something that serves as the badge that can be used elsewhere in the app, or build a notification drawer toggle that has the icon and badge built in?

Also, how is the drawer supposed to be positioned relative to the bottom of the page? Should it extend to the bottom of the viewport? The [PF3 not

[2019-02-28 22:17] #1499 closed

[2019-02-28 22:21] patternfly-build opened #1513 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-02-28 22:26] #1513 closed

[2019-03-01 14:12] rachael-phillips commented on #392
Hi @ryelo is this still a need or has this need passed?

[2019-03-01 15:01] mcoker opened #1515 "Overpass CDN font-weight issues"
Our Overpass CDN link doesn't include the various font weights we offer in core, and the font weights don't match the font file in the Google Fonts CDN compared to the fonts we ship in core.

For example, in core, `font-weight: 400` uses "overpass-light", and on the Google Fonts CDN, the "overpass-light" variant is `font-weight: 300`.

[2019-03-01 15:53] mcoker opened #1517 "Background image component size"
There is concern about the background-image size. For example pfbg_2000.jpg is 629k and pfbg_992@2x.jpg is 575k.

Can we compress this image, offer high/low resolutions? Maybe offer a smaller version of the background-image that is for use on the page component that only occupies the masthead?

[2019-03-01 16:09] christiemolloy opened #1519 "Fix Tertiary Nav Scroll"
This is how the Tertiary Nav looks in Chrome vs Firefox. We should hide the scrollbar in the css like we will do in the Tab component #1514 Also fix Horizontal Nav

<img width="829" alt="screen shot 2019-03-01 at 11 06 06 am" src="https://user-images.githubusercontent.com/20118816/53650269-22a7a200-3c12-11e9-8661-77d8012c2abe.png">

[2019-03-01 16:23] #1498 closed

[2019-03-01 16:24] ryelo commented on #392
@rachael-phillips I think this is good to close now.

[2019-03-01 16:24] #392 closed

[2019-03-01 16:32] patternfly-build commented on #1498
:tada: This issue has been resolved in version 1.0.216 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.216)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-01 16:52] suomiy opened #1520 "Table: incorrect borders in Firefox"
The borders are not rendered correctly when the table has more than 2 rows in firefox.

![s](https://user-images.githubusercontent.com/3648838/53652975-76ce7880-3c4a-11e9-897d-d35f4650e96c.png)

This issue was found when implementing inline editing, where it is also present: https://github.com/patternfly/patternfly-react/pull/1227

this issue seems to cause that: https://bugzilla.mozilla.org/show_

[2019-03-01 19:14] mcarrano opened #1522 "Notification Drawer Demo"
Create a demo showing the notification drawer in the context of a page. This should reflect the mockups shown here that include the masthead icon and the sizing of the drawer to fit the height of the page. https://redhat.invisionapp.com/share/7FQDO4RP462#/screens/345385129_Notification_Drawer_-_Complex_Example3

This issue is contingent on completion of #35 that introduces the Notification Drawer

[2019-03-01 19:16] mcarrano commented on #35
@mcoker Addressing your questions...

Do we want to build something that serves as the badge that can be used elsewhere in the app, or build a notification drawer toggle that has the icon and badge built in?

Good question. It's possible that there is a general case for adding a badge to any icon (although I can't think of one offhand), in which case we should make this a component unto itself or

[2019-03-01 19:26] rachael-phillips opened #1523 "Page Header and Navigation Changes"
Some updates should be made to page header:

- Accommodate logos that scale
- Resize and change color
- Remove image out of background

[2019-03-01 19:27] rachael-phillips opened #1524 "Update font to Red Hat Font"
Pull in Red Hat fonts - 3 variations

[2019-03-01 19:29] rachael-phillips opened #1525 "Hex colors address accessibility"
Update hex colors for accessibility best practices.

[2019-03-01 19:39] #1436 closed

[2019-03-01 19:55] #1420 closed

[2019-03-01 19:56] katierik opened #1526 "Sticky header (and footer)"
We would like an option for a sticky header. This sticky header would remain, well, sticky, while the user scrolls.
This would likely be useful on mobile as well as desktop.

cc @KendraMar
cc @ajacobs21e - wondering if you would also need this in designs

[2019-03-01 20:27] rachael-phillips commented on #1526
Hi @katierik @KendraMar @ajacobs21e
* What product/project does this impact?
* List any product/project release(s) and timelines your trying to align with
* Are you interested in HTML/CSS only or leveraging a PF-React implementation?

[2019-03-01 20:41] ajacobs21e commented on #1526
@katierik I included a sticky header in my Solution Engine (Customer Portal) designs but that feature hasn't been reviewed by the team yet as something we want to pursue.

Another project on the Portal, the Red Hat Dashboard, does include a sticky nav. For your use case, does the header include links / navigation?

[2019-03-01 20:56] rachael-phillips commented on #345
We already have accomplished this in our list. https://pf4.patternfly.org/components/List/examples/

[2019-03-01 20:56] #345 closed

[2019-03-01 21:00] rachael-phillips commented on #363
Team discussed, and we'll close this out.

[2019-03-01 21:00] #363 closed

[2019-03-01 21:03] rachael-phillips commented on #292
We are closing this because it is a large effort and there has been no ask to date.

[2019-03-01 21:03] #292 closed

[2019-03-01 21:13] rachael-phillips commented on #405
No need for row pinning at this time

[2019-03-01 21:13] #405 closed

[2019-03-01 21:13] rachael-phillips commented on #350
No need for this demo at this time.

[2019-03-01 21:13] #350 closed

[2019-03-04 14:37] maryshak1996 commented on #180
@bmignano to your question about the calendar/clock icon, yes it is clickable! My thinking is that the date/time picker could be triggered by a) clicking into one of the associated combobox-type fields or b.) clicking the icon. The icon is styled to accomodate this (has the default action icon color and clicked/hover state), and once the date/time picker has been expanded open, the icon goes to th

[2019-03-04 14:39] bmignano commented on #180
@gdoyle1 I think that makes sense! The multiple dropdown filters example could still have the "Clear filters" link to the right of all the controls to clear everything, which I think is fine. @mcarrano @maryshak1996 could we add a "Clear dates" in the date picker dropdown?

[2019-03-04 14:39] rachael-phillips commented on #1123
How is this issue coming along? It would be great to have a status update. Thanks!

[2019-03-04 14:50] mcarrano commented on #180
Agree that there should be a way to clear any date/time selection. Not sure about the best approach. Maybe a "x" button inside the field (at the right)? What are your thoughts @maryshak1996 ?

[2019-03-04 15:02] KendraMar commented on #1526
@ajacobs21e @rachael-phillips @katierik

- RH Cloud Services (aka the old Insights) and all apps that join it (there are at least 6 of them so far)
- September Ansible Fest
- not sure re third question...I think it would be the Pfly4 team who would recommend the right approach?

@ajacobs21e We'll get back to you re exactly what the customers (John and Logan in the paragraph below) in the pilot tes

[2019-03-04 16:10] #1346 closed

[2019-03-04 16:43] maryshak1996 commented on #180
@bmignano @mcarrano
Do you think that it would make sense for, once a date/time has been selected, a small clear 'x' icon button appears next to that field?
![screen shot 2019-03-04 at 11 42 28 am](https://user-images.githubusercontent.com/19824574/53748136-ba0b3000-3e72-11e9-9a5e-7247976a0654.png)

[2019-03-04 18:31] mcarrano commented on #180
That works for me.

[2019-03-04 18:54] mceledonia opened #1528 "Toolbar Refactoring - Design Specs"
# Toolbar Refactoring

We decided to refactor the toolbar to a more simple and generic component in order to increase flexibility and improve its utility in a wider range of use cases.

### Toolbar Base
- The toolbar is 36px tall to match the height of our dropdowns and buttons.
- All items not this height (icons, text) should be centered vertically within the height.
- There should no spacers on

[2019-03-04 23:24] mcoker commented on #1487
@mceledonia the bottom spacing is a bit different. After the header text currently, there is 16px bottom padding on the header, then the hidden error message, and then 24px (lg) spacer as the gap between the error message and first form field.

Here I just left all of the existing spacing the way it is and added the sub-header text (description) with 16px between it and the content above it. Then

[2019-03-05 05:09] sdash-redhat commented on #351
Here is the link to the document

**https://docs.google.com/presentation/d/18AWdUxsQjvXxHNB9lw1IbuSUmLhezP8ikOCZormq4dE/edit?usp=sharing**

where I have tried to identify and group the different types of tours, that we can make as a part of the proposal.

Each type can be explained based on when to use and the details of its components.
Please let me know your thoughts on this approach.

 @mcarran

[2019-03-05 05:11] sdash-redhat commented on #351
Here is the initial explorations  document created by  @muruGanesan
**https://docs.google.com/document/d/1XVlj58ddsCxd2_LoszxskttzJ95Ejs23eUApGipw93E/edit#heading=h.exfq7bu9rdpp**

We can use both the documents to aid the discussions.
@mcarrano @muruGanesan @catrobson @stacymcauliffe

[2019-03-05 13:43] rachael-phillips commented on #871
@dlabrecq we are good to move forward here! All looks good according to design!

[2019-03-05 13:54] rachael-phillips commented on #924
@mcoker , @tlabaj do we need to open a corresponding issue on the React side for this?

[2019-03-05 14:17] rachael-phillips commented on #351
Hi @sdash-redhat thank you for adding all of this helpful information. A few quick questions:
* What product/project does this impact?
* List any product/project release(s) and timelines your trying to align with
* Are you interested in HTML/CSS only or leveraging a PF-React implementation?

[2019-03-05 14:34] mcoker commented on #924
@rachael-phillips yes.

[2019-03-05 14:41] rachael-phillips commented on #1201
@mcarrano have you seen this conversation? Would love to hear your thoughts. Right now placeholder text is in the backlog and we haven't prioritized it or created an issue for it. Is this something you would like to consider in the future?

[2019-03-05 14:52] mcarrano commented on #1201
We've had several lengthily conversations on this @rachael-phillips . I think we ended up saying that placeholder text can be used as a syntax hint, but nothing else. @stacymcauliffe can you confirm? This is mentioned in your Forms guidelines, correct?

[2019-03-05 14:56] maryshak1996 commented on #362
@mcarrano @gdoyle1
This component seems to be fairly straightforward, but I'm interested to know if you guys have any other use-cases in mind that this might not support (and any other general thoughts of course too!), before I spec it and hand it off to CSS
![screen shot 2019-03-05 at 9 54 23 am](https://user-images.githubusercontent.com/19824574/53814041-e71c1900-3f2c-11e9-85ce-f30cc163699b.png)

[2019-03-05 15:05] maryshak1996 commented on #296
@mcarrano @gdoyle1 I've put together a handful of different ways to look at (a) discrete sliders, (b) continuous sliders, and (c) codependent slider
I don't recall the codependent slider being in the requirements, but @bmignano and I a codependent slider that the kiali team had a need for, so there is at least some teams that would appreciate this being a part of the patternfly components.
I'm cur

[2019-03-05 15:27] stacymcauliffe commented on #1201
We did talk about this at length in terms of a11y concerns and how we wanted to recommend placeholder text be used.

We determined that placeholder text could be provided, but we would only recommend using it for syntax hints in circumstances where data needs to be input in a certain format.

So, imaging we're asking a user to input an employee serial number, we could provide placeholder text that

[2019-03-05 15:45] mceledonia commented on #1487
This all looks great, thanks @mcoker !!

[2019-03-05 15:46] mceledonia commented on #1494
Captions should be styled as our secondary text color and small text style (14px).

[2019-03-05 16:14] gdoyle1 commented on #362
@maryshak1996 This looks great! I can't think of any other use cases.

[2019-03-05 16:28] gdoyle1 commented on #296
@maryshak1996 @mcarrano  I think it would make sense to recommend using the designs that have the percentages to the right of the slider (Option 3 discrete, Option 1 continuous) and then if they don't have enough space, they can use the slider alone (Option 1 discrete, Option 1 continuous). I do think it is worth showing the codependent slider if we needed it beforehand too! Also would show that t

[2019-03-05 17:01] tiffanynolan commented on #1390
@rachael-phillips Does this have a PF4 designer assigned to it yet? It would be great to have the chance to collaborate with them for any modifications.

[2019-03-05 18:20] #1511 closed

[2019-03-05 18:27] mcoker commented on #1494
And we'll use 16px top/bottom margin and 32px left margin

[2019-03-05 19:11] maryshak1996 commented on #180
Great! @dlabaj I have all of these updates live, with their visual specs, on the above invision link (https://redhat.invisionapp.com/project/16756255), so that you can reference them for react.
@rachael-phillips I think it's safe to call this done with visuals :) since this element is complex, I expect that there might be minor tweaks here and there during implementation but @dlabaj, @mcarrano, an

[2019-03-05 20:18] dlabaj commented on #354
@mcoker @rachael-phillips @mcarrano From the react side we would just add the different screens and give the user the ability to swap them out.  As far as how this logic works that would be on the application to handle the transition from one screen to the next.  We could put together a demo on the react side to do this to show how an application would transition each screen.

[2019-03-05 20:37] mcoker commented on #354
@dlabaj @mcarrano would we need to either design/build the section where email address and bold text are under the title as seen in the [pf3 demos](https://www.patternfly.org/pattern-library/application-framework/multi-factor-login/) or provide a box for them to put their own content or anything like that? Or would it just be up to the application to create that section/layout on their own?

[2019-03-05 20:56] jgiardino opened #1531 "Context Selector - aria refinements"
A couple of refinements can be made to the context selector:
1. include a reference to the hidden span from the toggle
2. use the label on the search button as the label for the input

**Details:**

1. `pf-c-context-selector__toggle` should have an `id` and an `aria-labelledby` that references the `id`s of the hidden span and `pf-c-context-selector__toggle`.
2. The search input can be labelled by

[2019-03-05 21:34] mcarrano commented on #354
@mceledonia Do we have mockups for what we are expecting here?

[2019-03-05 21:37] dlabaj commented on #1429
I think building these changes on top of drop down is a good idea, we should be able to add the additional api on the react side by expanding on the current api.

[2019-03-05 21:46] mcarrano commented on #180
@maryshak1996 I think this looks great. Because of the complexity of the interactions here I think this may call for an interaction spec. I can assign this back to myself to create that documentation. @rachael-phillips where does this currently sit on our roadmap?

[2019-03-05 21:47] rachael-phillips commented on #1390
It does. @mceledonia is assigned to this issue, and you can find that on the top right of any issue. I have a meeting tomorrow that will determine when we begin design work on this issue.

[2019-03-05 22:16] mcarrano commented on #457
Here is a full draft of the Filter design documentation: https://docs.google.com/document/d/1G3r9dJFQtLxc5it4FfM6Jj6PlXtzGcAVndfqGPGvWvE/edit?usp=sharing @mcoker When you are ready to get back to this, we should review to discuss what we would build as a demo. As you can see there are lot's of potential variations of filters.

[2019-03-05 22:23] mcarrano commented on #296
I agree with @gdoyle1 . The other thing I've seen is to show a tooltip with the value when the user hovers over the slide handle. The only other thing I'll say is that the text field with the underscore looks a bit odd in this context (I know that's our standard text box). @mceledonia would be interested in your thoughts.

[2019-03-05 22:26] mcarrano commented on #362
These look good to me. But in seeing these I wonder if this needs to be a distinct component or just an instance of an input group. @mcoker @mceledonia what do you think?

[2019-03-06 10:29] muruGanesan commented on #351
Currently, there is no impact i.e. we are not targeting any project/product.
Regarding HTML/CSS - it is too early to decide

[2019-03-06 14:17] rachael-phillips commented on #1524
We will not start work on this issue until we have been notified to continue.

[2019-03-06 14:18] rachael-phillips commented on #1523
We will not start work on this issue until we have been notified to continue.

[2019-03-06 14:30] ibolton336 opened #1532 "Accordion transition style missing"
.pf-c-accordion__toggle-icon  needs the global transition style applied

[2019-03-06 15:43] mcarrano opened #1533 "Re-evaluate 'on-running' icon"
An issue was filed in patternfly-design requesting that we re-evaluate the 'on-running' icon as it conflicts with the OLM product logo. See https://github.com/patternfly/patternfly-design/issues/740 for details. Intended result would be to replace or introduce an alternative icon to the PF4 icon set.

[2019-03-06 16:18] rachael-phillips commented on #1201
Ok great, thank you!

[2019-03-06 16:49] mcoker commented on #362
Looks like it doesn't match the input group design in that currently if there are buttons on the ends of an input group, they have rounded borders. The non-rounded borders on elements on the ends of an input group are just "text" elements. That's how it's built in core anyways. I'm not sure if that follows the intended use with design. We can always update core to allow for non-rounded corner butt

[2019-03-06 18:26] #1501 closed

[2019-03-06 19:55] rachael-phillips commented on #1390
Hi @tiffanynolan I wanted to update you that after timeline discussions today this will be a variation that gets taken in during our May 5 milestone.

[2019-03-06 20:02] #1490 closed

[2019-03-06 20:29] christiemolloy opened #1534 "Review utility classes and propose new utility classes"
Prior to Launch we should review the utility classes we currently have to ensure they are up to date, and also propose new utility classes that may be useful.

In the display utility for `display: none` , `visibility: hidden` should also be used.

Another suggestion:

`.pf-u-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}`

[2019-03-06 20:41] tiffanynolan commented on #1390
@rachael-phillips Thanks for the updates. Is there a way to reduce the timeline? The Integreatly team is willing to help usher this through the process with stakeholder checkpoints, etc. This is our final element to convert to be fully on PatterFly 4. Even if it's not fully approved, if the direction of the proposed designs is inline with what others are thinking, can we go ahead and use the propo

[2019-03-06 21:21] mcoker commented on #1509
@mindreeper2420 this should be fixed. I'm no longer seeing it on the demo page you linked. Would you mind verifying and letting me know if you're still seeing it?

[2019-03-06 22:58] mcoker commented on #1520
@suomiy thanks! I put up a PR if you'd like to verify https://github.com/patternfly/patternfly-next/pull/1535

[2019-03-07 11:49] karelhala opened #1536 "Paginaion - wrong width"
It looks like pagination is using input type number, such type however does not support `size` attribute [1]. When adding large numbers the number is hidden behind input borders, because this input has width set. We shouldn't set width for this field because its size is calculated by browser from `max` attribute (to allow all characters).

[1] https://www.w3schools.com/tags/att_input_size.asp

[2019-03-07 12:54] karelhala commented on #1452
Yes please! Current implementation is causing a lot of problems in our product because if we set custom label for our switch it always shows `OnLabel` and `OffLabel`.

[2019-03-07 15:40] mceledonia commented on #1423
Just want to jot down some notes here:

- I think we should support this, but it should probably be called something other than an empty state as it's more of a success screen rather than a void of content.
- We could connect the two in documentation as empty state is a pretty logical conclusion to make when searching for a layout like this.
- This can be differentiated from an empty state visuall

[2019-03-07 15:52] mcarrano commented on #1528
@mceledonia agree that this refactoring makes sense to create a more flexible toolbar as we previously discussed.

@rachael-phillips @mcoker do we have this on the roadmap as something to deliver for April release? Sounds to me like this would be a breaking change so it would be good to get in sooner rather than later. Does this refactoring also require rework for React?

[2019-03-07 16:00] jgiardino opened #1537 "Tabs - remove aria-label from .pf-c-tabs"
In any examples of Tabs that use a `<div>` for the parent wrapper `.pf-c-tabs`, we should not include `aria-label`. This attribute only works reliably for [certain elements](https://developer.paciellogroup.com/blog/2017/07/short-note-on-aria-label-aria-labelledby-and-aria-describedby/).

However, if there are any examples of Tabs that use `<nav>`, then `aria-label` should definitely be used. I don

[2019-03-07 16:08] mceledonia commented on #1410
Let's go with something like this, going to ping @mcoker to be sure I handled the spacing correctly.

Design
![image](https://user-images.githubusercontent.com/30935938/53970630-27180300-40c9-11e9-960d-a168a08dabcb.png)

Spec
![image](https://user-images.githubusercontent.com/30935938/53970651-339c5b80-40c9-11e9-82a9-ea5ea5181f31.png)
![image](https://user-images.githubusercontent.com/30935938/539

[2019-03-07 16:20] mcoker commented on #1410
We already have this state in the [options menu](https://pf4.patternfly.org/components/OptionsMenu/examples/). Should the select and options menu match? If so, fwiw, the options menu has 16px padding on the right of the check icon, and 24px between the check and the menu item text.

[2019-03-07 16:21] mceledonia commented on #1094
Spot on there, let's use secondary button style with our destructive red color for the secondary, and our link text button in the same color for that as well.

Secondary danger button
![image](https://user-images.githubusercontent.com/30935938/53971586-313b0100-40cb-11e9-81b0-88f5a50ec153.png)

Secondary danger link button
![image](https://user-images.githubusercontent.com/30935938/53971596-35ffb5

[2019-03-07 16:26] mceledonia commented on #790
Giving this a bump @rachael-phillips @mcoker design work here should be done, might need to have some discussion around how this behaves with certain components such as tabs and input groups, but overall I think we are set to implement.

[2019-03-07 16:41] tiffanynolan commented on #1423
@mceledonia Do you know if other products have a need for some sort of congrats or completion pattern? I agree that it seems odd to call this an "empty state" when it's more of a "yay, you're done" but the empty state pattern is very close to what we think the layout should be.

[2019-03-07 16:56] rachael-phillips commented on #1390
Hi @tiffanynolan , I spoke with @mcarrano and @mceledonia and we think it's a fantastic idea to go ahead and move forward with crafting the inline alert variation together. @mcarrano has put together a really helpful template for design proposals here: https://docs.google.com/document/d/1w6O_d6ZSEBoEBgsMMYNUtSMGw73LjEsV3w1pjHtRtVY/edit I'll put a meeting on the calendar to kick off the design conv

[2019-03-07 17:32] mcarrano commented on #1423
While I agree that "empty state" may not be the best title, I would like to see these as variations of the same thing. Maybe there's something better to call these messages? @stacymcauliffe any thoughts?

[2019-03-07 18:03] mceledonia commented on #1423
Definitely agreed it should be the same layout @tiffanynolan , I think what you have above is great I would just do some minor fine tuning for the spacing. And I think you have a good point @mcarrano . They are so similar it makes sense to group them conceptually, I just want to be sure avoid confusion between the two (i.e. someone using this as an empty state and vice versa). I think keeping them

[2019-03-07 18:23] stacymcauliffe commented on #1423
The empty state pattern use cases we document will include guidelines for several different types of states, like: first use scenarios, user is not entitled, there was a backend error, the user role doesnt have access, the user needs to configure something, etc. I think these use cases are fairly common.

That being said, I'm not sure how common this type of success state would be. Outside of comp

[2019-03-07 19:36] maryshak1996 commented on #362
@mcoker that's a really great point -- I think that it would be worth me mocking this up with the rounded edges like buttons as well as with the styling of 'copy to clipboard'. I'll give that a go and update here early next week!

[2019-03-07 19:46] maryshak1996 commented on #296
@gdoyle1 @mcarrano thanks for your input on this! Ya @mceledonia, I was also curious about your thoughts on if the input field should be treated this way. I figured it would be, because otherwise this would be the only area not using the basic text input field, but I'm interested to see what you think.

[2019-03-07 20:14] #1407 closed

[2019-03-07 20:26] jgiardino opened #1538 "Page header - hidden elements are visible to screen readers"
Currently the elements in the page header become visible/hidden at different screen sizes. It looks like the purpose is to take many separate items that display at larger sizes and collapse them down into a single actions menu.

The issue is that some of the elements that are hidden are hidden in a way that makes them available to screen readers (e.g. using `.pf-screen-reader`). But this method sh

[2019-03-08 14:18] christiemolloy opened #1539 "Select Component Width / Badge fixes"
Looks like if you make the select component 100% width (what react does by default), the toggle button doesn't grow. That should grow to fill the width of the component.

screen shot 2019-03-05 at 1 44 13 pm

Also, this is an existing problem, so let me know if you'd like to address this in another issue/PR, but the badge is currently centered in the toggle because of justify-items: space-between;

[2019-03-08 17:47] vconzola commented on #362
As I mentioned in the PF General Slack channel and @mcarrano asked me to comment here, why is the "unit" included as part of the component? It looks out of place and I've gotten feedback saying that it adds some confusion (at least in the Bootstrap implementation we picked up for PF3) because it looks too much like a button. I'd prefer that the units just be a text label to the right of the touchs

[2019-03-08 18:26] #1469 closed

[2019-03-08 19:18] mcoker opened #1540 "Add variation of compact table with borders"
* Add variation for compact table that allows for borders between rows.
* Remove extra padding at bottom of last row.
* pull in `vertical-align: baseline` change from https://github.com/patternfly/patternfly-next/pull/1472

[2019-03-08 19:21] mcoker commented on #1540
Here's the design @mceledonia approved

<img width="1768" alt="Screen Shot 2019-03-08 at 1 15 58 PM" src="https://user-images.githubusercontent.com/35148959/54050507-00c79580-41a5-11e9-8b93-da2eb1e3046c.png">

[2019-03-08 19:39] mcarrano commented on #404
@bkjeffer thanks for agreeing to create initial wireframes and interaction spec for this feature. @rachael-phillips FYI.

[2019-03-08 19:39] #1327 closed

[2019-03-08 19:51] patternfly-build opened #1542 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-08 20:06] jameslau commented on #613
**ISSUE**
For the third listed ARIA violation `/components/Toolbar/examples-full/` this is pointing to the fact that all buttons must have an `aria-label` embedded in the div. Below, is the violation feedback after running `npm run a11y`.

**QUESTION**
Because the buttons are dynamically generated with handlebars `pf-c-button{{#if button--modifier}} {{button--modifier}}`, is there a way to also dy

[2019-03-08 20:15] mcoker commented on #1534
`.pf-u-nowrap { white-space: nowrap; }` would be a good one, for example to wrap around 2 or more things so they wrap together when the content around it wraps (like 2 words in a paragraph you want to keep together)

[2019-03-08 20:36] jgiardino commented on #613
In the Toolbar component, this error pertains to the following buttons:
**Error:**
`1) Elements must only use allowed ARIA attributes`
**Buttons:**
[code]
`aria-selected` isn't a valid attribute for `role="button"` (i.e. the `<button>` element), so we can just remove that attribute from these elements. As a sidenote, we will need to revisit a lot of these menu components once we have working examp

[2019-03-08 20:38] jgiardino commented on #613
Oh, but re-reading this issue description, I think you would only need to focus on the updates related to this error: `2) Buttons must have discernible text`

I'm assuming there's a separate issue tracking this error: `1) Elements must only use allowed ARIA attributes`.

[2019-03-08 20:49] rhamilto opened #1543 "Dropdown item hover, focus text is blue when in hybrid mode"
![Screen Shot 2019-03-08 at 3 46 11 PM](https://user-images.githubusercontent.com/895728/54054979-a684ff80-41b9-11e9-96f8-618eec3af49b.png)

Due to `a:hover, a:focus` from PatternFly 3 having `color` defined.

[2019-03-08 21:13] mcoker commented on #1528
@mcarrano We could introduce it as a new component, then deprecate the old one, to add the component as a step, then at a later step, remove the old one. This will also involve breaking changes in at least the page layout (masthead buttons/menus, though not sure how the new masthead design might impact this), and potentially the form layout for the action row of buttons, whenever we decide to impl

[2019-03-08 21:46] #1421 closed

[2019-03-08 21:55] #1542 closed

[2019-03-08 22:06] mcarrano commented on #1528
@mcoker and I discussed this and wanted to offer the following as a potential path forward.

We can keep the existing Toolbar component which was designed for a very specific use case to sit on top of a table or list view. This is useful for anyone creating a standardized data view. We can then take this "refactored toolbar" into a new component that can be used in a more generalized way - for lay

[2019-03-08 22:40] mcoker commented on #1520
@suomiy actually I had another look at this, and I think I found the culprit with a much easier fix. Added a PR if you want to check it out. https://github.com/patternfly/patternfly-next/pull/1545

[2019-03-08 23:10] #1450 closed

[2019-03-11 14:47] maryshak1996 commented on #35
quick update here: after some stakeholder feedback, I updated the indicator for opened vs unopened drawer in the masthead
Previously the only only masthead indicator was a white outline around the blue 'unread' circle, but the point was raised that the user should see a visual indicator that the drawer is opened even when there is not an unread notification.
What I am proposing now is having the c

[2019-03-11 16:17] keithjgrant opened #1546 "Helper text missing top margin"
See the attached screenshot. Form helper text has a 4px top margin after a `pf-c-form-control` ("Ansible Environment" input), but it's missing after a `pf-c-input-group` ("Instance Groups" lookup)

![Screen Shot 2019-03-11 at 11 46 51 AM](https://user-images.githubusercontent.com/410794/54139298-9e1a0800-43f7-11e9-9678-41f66bda68cc.png)

[2019-03-11 16:56] mturley opened #1547 "Improved IE11 Support - Distributing a pre-processed IE11-compatible stylesheet?"
I noticed some discussion on the ManageIQ UI gitter channel about the IE11 support solution detailed on the wiki here: https://github.com/patternfly/patternfly-next/wiki/IE11-Support

@himdel and @skateman had some concerns they wanted to share, so I'm opening this issue as a place to have that discussion. I think the main ask is to have IE11 compatible styles provided as part of the patternfly bu

[2019-03-11 17:43] #1532 closed

[2019-03-11 19:25] stacymcauliffe commented on #917
@mcarrano - when you get a chance, can you review this draft of text and data input:
https://docs.google.com/document/d/1d1WYPcNaWMZeHKdqur2mvPTz96O7YAQkbQ2VetPPezg/edit?usp=sharing

I still need to create images. For help and validation/errors, I pulled that content from forms. Let me know if you think it belongs in both places or maybe one or the other.

Thanks!

[2019-03-11 19:51] rachael-phillips commented on #1137
Closing because it was a duplicate

[2019-03-11 19:51] #1137 closed

[2019-03-11 20:34] skateman commented on #1547
We have people who run our stuff on IE11 due to the fact that they aren't allowed to use any other browser in their environment. This whole self-built thing sounds like a hack and I am afraid it might end up as an "unsupported practice" that we cannot really use safely. I would definitely use it for my hobby project, but not for something bigger, which is actually the case right now.

Even if you

[2019-03-11 20:59] rachael-phillips commented on #180
Hi Matt, this will be picked up for development work at the end of this month.

[2019-03-11 22:03] #1494 closed

[2019-03-11 22:26] mcoker opened #1549 "Form layout issues"
We have a couple of layout issues in the [horizontal form demo](https://pf4.patternfly.org/demos/BasicForms/examples/)

* The 2 checkboxes beside the "can we follow up" label are misaligned.
    * The layout currently expects form-control elements in the right column (for the vertical spacing of the layout on the left) and it doesn't support stacking of components in that column. At a minimum, I t

[2019-03-12 08:34] karelhala commented on #1549
Oh nice, we just experienced some issues with form layout as well so I'll dump it here.

It looks like form actions have margin that expands beyound actions container and this causes that scrollbar is shown in some cases (like if I have form in dialog). Can we add `margin-bottom: 0` to these actions? There will be no visial changes and it will not break some layouts
### Current actions wrapper
![S

[2019-03-12 13:17] ryelo opened #1550 "Background Image Filter unspecified width error"
[Workspace Example](https://pf4.patternfly.org/demos/Page/examples-full/?component=Page%20Component%20Default%20Nav%20Header%20Example)

On build, we're getting:

`Error: <filter> attribute width: Unexpected end of attribute. Expected length, "".`

across all of our apps regarding an unspecified width with the background image filter because of `width=""`

[2019-03-12 13:31] rachael-phillips commented on #1550
Hi @ryelo is this currently blocking implementation?

[2019-03-12 13:47] ryelo commented on #1550
Not blocking implementation, but people are complaining about the error in the console

[2019-03-12 13:58] mceledonia opened #1551 "Chart colors: Modify base color order to improve contrast in unordered charts"
When unordered line charts with multiple values utilize the chart color system, contrast is hindered by the order of the base colors. Because blue, cyan, and green are ordered consecutively, we end up in a situation like below where there is more likely to be similar colors next to each other such as a light blue and a light cyan.

![image](https://user-images.githubusercontent.com/30935938/542055

[2019-03-12 14:38] rachael-phillips commented on #1528
My question would the new Action bar cause breaking changes?

[2019-03-12 14:42] mcarrano commented on #1549
@mcoker Yes, you are absolutely right about this. Thanks for flagging it. The horizontal form demo has two problems. The "yes and no" options should be radio buttons and not checkboxes since they are mutually exclusive. This can also be accomplished with a single checkbox that has the label to the right, i.e. "Follow up via email"

We should also never have a checkbox that sits alone like this, so

[2019-03-12 14:43] rachael-phillips commented on #1546
Hi @keithjgrant a couple of questions for you:

* List any product/project release(s) and timelines your trying to align with
* Is this currently blocking implementation?

[2019-03-12 14:54] keithjgrant commented on #1546
We decided to go a different direction with this form, so there's no immediate need; not currently blocking us.

[2019-03-12 14:55] stacymcauliffe commented on #1549
@mcarrano - in the text/data input guidelines, I have a section about how to choose which input components to use: Checkboxes enable users to select multiple items from a list of 5 or fewer. Radio buttons enable users to select one item from a list of 5 or fewer.

I also have a section RE: labeling that speaks to how labels for checkboxes and radio buttons should be aligned to the right of the con

[2019-03-12 14:56] mcoker commented on #1549
@mcarrano thanks! do we want to handle the case where you have multiple checkboxes, radios, form-control (text, select, textarea), input groups, etc in the right column with a single label similar to the "can we follow up via email" form group in the currently example?

And are there any other form layouts not covered in the current examples you'd like me to ensure are supported in the form compon

[2019-03-12 14:58] jgiardino opened #1552 "icon request for "module""
@schizari pulled together [findings for a survey](https://docs.google.com/presentation/d/1WYuOEYn4eOnQR-jh97ya4NsAS6w4qBhcp3JQTBVkaQY/edit?usp=sharing) where we collected feedback about icons for "package" and "module". Based on the findings, it seems like participants prefer seeing a visual relationship between these icons, where a "module" shows multiples of a "package".

Updates requested in th

[2019-03-12 15:01] mcarrano commented on #35
This is pretty subtle @maryshak1996 . Not sure that I would have noticed a difference if you did not point it out. What do others think?

[2019-03-12 15:10] mcoker commented on #1528
@rachael-phillips adding the new component wouldn't cause a breaking change. And using it in the page header (masthead utility items) wouldn't necessarily be a breaking change if we add support for the toolbar to be used and don't remove the old styles that support the current layout. Then we can go back later in a breaking changes release and remove support for the current layout and force users

[2019-03-12 15:11] mcoker opened #1553 "Create read-only variation of chip"
https://github.com/patternfly/patternfly-react/issues/1507

[2019-03-12 15:25] rachael-phillips commented on #1546
Thanks for letting me know!

[2019-03-12 15:27] maryshak1996 commented on #362
Thanks for this feedback everyone - I think that I have a stronger proposal :)
@mcoker I tried styling this with the rounded corners as well as like the 'copy to clipboard' component, and I think that the button styling works a lot better in this component because we would have the flexibility to treat the '-' and '+' icons as icon-buttons and they would have those associated default, hover, disab

[2019-03-12 15:28] mcarrano commented on #1549
The short answer is 'yes' @mcoker . But there is an active issue here that I think is intended to rework and enhance the form examples we provide: https://github.com/patternfly/patternfly-next/issues/919. Can't remember exactly where this sits on our roadmap, but's it's currently assigned to @mceledonia for visual work.

It might make sense for you, @mceledonia , @stacymcauliffe , and I to sit dow

[2019-03-12 15:30] mcoker commented on #1546
@mcarrano could you provide guidance on how to handle this? Currently we only create a top margin on helper text when it follows a form control element. We could go a couple of directions with this. The approach we choose should be dictated by our recommendation on where helper text goes in a form, and how flexible we want to be should a user place the helper text somewhere we don't necessary reco

[2019-03-12 15:39] stacymcauliffe commented on #1549
A convo would be good for me from a docs perspective to make sure I've got everything covered.

[2019-03-12 15:57] mcoker commented on #1549
@mcarrano sounds great, thanks! So for this issue, I'll just fix the demos and @karelhala's issue, and we can handle the rest in #919.

[2019-03-12 16:02] christiemolloy opened #1554 "Update Select selector after Breaking Change Period"
Remove these lines in the select.scss file as they are not needed anymore based on this PR #1527

[2019-03-12 16:19] matthewcarleton commented on #35
I agree with @mcarrano
Is the intention for the circle to be present when the drawer is open? I could see removing it and changing the bell icon to blue.
If I've opened the drawer and "seen" all of the new notifications but haven't explicitly marked them as read does that circle remain when I close the drawer?
I could see an argument for removing it and then adding it again if another notification

[2019-03-12 17:32] rachael-phillips commented on #1528
What do you think @mceledonia ?

[2019-03-12 17:33] christiemolloy opened #1556 "Button Design in Dark Mode"
In #1516 the input group background changed to white and now design would like to explore other options for buttons in dark mode.

[2019-03-12 17:38] mcarrano commented on #362
I like this much better @maryshak1996

[2019-03-12 17:44] mcarrano commented on #1546
@mcoker I agree with your assessment. I think it's safer to assume that helper text will always have that 4px top margin as I believe we are always saying that it falls below a form element. @stacymcauliffe can you confirm this?

[2019-03-12 18:01] stacymcauliffe commented on #1546
@mcoker @mcarrano - I can't speak to the right margin, but yes, helper text will always appear below a form field. From a content perspective, there are a few ways to handle contextual help on forms - helper text, placeholder text, and infopops (tooltips/popovers). Helper text should be very short (only a few words). For both examples shown here, I would actually recommend either updating and edit

[2019-03-12 18:09] #1255 closed

[2019-03-12 18:35] christiemolloy opened #1558 "Review all PF components in all browsers and devices that we support"
Before the next release, I think its imperative that we review all PF Core components in all the browsers and devices that we support.

[2019-03-12 18:54] mcoker opened #1560 "Compact table expanded state styling"
We didn't design for this scenario so we don't have an example for it, but looks like we need to support it. Let's add an example for it in the workspace, too.

https://github.com/patternfly/patternfly-react/issues/1552

[2019-03-12 19:25] mcarrano commented on #434
Complete

[2019-03-12 19:25] #434 closed

[2019-03-12 21:33] mcoker opened #1562 "role="status" on alert-group component causing a11y violations"
Should we just increase the a11y threshold to account for these, or is there another preferred approach?

<img width="802" alt="Screen Shot 2019-03-12 at 4 28 14 PM" src="https://user-images.githubusercontent.com/35148959/54237589-4d340d80-44e4-11e9-85a8-5368380f48b6.png">
<img width="824" alt="Screen Shot 2019-03-12 at 4 27 57 PM" src="https://user-images.githubusercontent.com/35148959/54237590-4

[2019-03-13 12:08] vconzola commented on #362
Me too. Thanks @maryshak1996

[2019-03-13 13:38] christiemolloy opened #1564 "Fix a11y in Table"
3 errors found in: /components/Table/examples-full/
1) ARIA attributes must conform to valid values -- https://dequeuniversity.com/rules/axe/3.1/aria-valid-attr-value -- impact: critical
2) IDs used in ARIA and labels must be unique -- https://dequeuniversity.com/rules/axe/3.1/duplicate-id-aria -- impact: critical
3) Form elements must have labels -- https://dequeuniversity.com/rules/axe/3.1/label

[2019-03-13 13:40] mcoker commented on #1562
from http://adrianroselli.com/2015/08/where-to-put-your-search-role.html

Should we wrap the alert group `ul` in `div role="status"`?

[2019-03-13 13:43] maryshak1996 commented on #35
@mcarrano @matthewcarleton
I do agree that it's very sublte, and I think that this something that we may want to consider addressing more globally in reference to the 'selected vs unselected' behavior of all utility icons (so the cog as well, launcher, or other icons that various products might use up there). What do you think?
With that said, I think that we should have the 'selected/unselected'

[2019-03-13 13:47] maryshak1996 commented on #35
I'll keep tweaking how we represent 'selected/unselected' with the bell for now and reach out to a few other visual folks too :)

[2019-03-13 14:27] jgiardino commented on #1562
This is kind of a duplicate of https://github.com/patternfly/patternfly-next/issues/1375. But this issue is on hold until we implement the solution in react (i.e. I want to let the JS dev figure out the best way to load the live region on the page, then update core based on that).

For this issue, we could just remove `role="status"` since we plan to remove that anyway.

[2019-03-13 14:57] mcoker opened #1567 "Add PF3/PF4 compatibility CSS"
Per https://github.com/patternfly/patternfly-next/issues/1543, let's add some snippet code to address these issues that come up when an app is using both PF3 and PF4.

[2019-03-13 17:02] christiemolloy opened #1569 "fix(table): a11y in the compound expansion nested table"
1 error found in: /components/Table/examples-full/
1) IDs of active elements must be unique -- https://dequeuniversity.com/rules/axe/3.1/duplicate-id-active -- impact: serious

-------html violation instances-------
<button class="pf-c-dropdown__toggle pf-m-plain" id="{{concat table-nested--id '-dropdown-kebab-nested-' table-tr--id }}-button" aria-expanded="false" aria-label="Actions">

[2019-03-13 18:34] christiemolloy commented on #1537
@jgiardino should we be supporting tabs using `<nav>` currently we don't but I feel like we should add it as support.

[2019-03-13 18:50] #1564 closed

[2019-03-13 18:59] patternfly-build commented on #1564
:tada: This issue has been resolved in version 1.0.228 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.228)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-13 19:24] gdoyle1 commented on #297
https://redhat.invisionapp.com/share/ZFQQYJQGWHV#/352046639_Toolbar_In_Card_View_Example @mcarrano Updated the wireframe here - thoughts?

[2019-03-13 19:27] #1553 closed

[2019-03-13 19:54] #1562 closed

[2019-03-13 20:01] #1569 closed

[2019-03-13 20:01] christiemolloy commented on #1569
This has been completed

[2019-03-13 20:09] christiemolloy opened #1570 "Remove classes from the Toolbar Component"
In #1482 we removed the styles on the class `.pf-c-toolbar__pagination`, this class is not needed anymore as we just use `.pf-c-pagination` so we can remove it after the breaking change period.

You'll find it in toolbar-pagination-example and toolbar-expanded-example

[2019-03-13 20:43] christiemolloy opened #1571 "Update Data List Breakpoints"
The Data List component currently uses custom breakpoints. We can remove those and use the global breakpoints after the breaking change period.

[2019-03-13 20:51] mcoker opened #1572 "Login component - which parts are required?"
Most of the elements in the login component docs aren't marked as **Required**. We should go through the elements in that component and ask IXD/design which elements are required, and 1) update the docs table and 2) ensure the component layout doesn't break if optional elements are removed.

[2019-03-13 20:54] mcarrano commented on #297
@gdoyle1 I think this is now on the right track. There are just a few small things I would ask you to consider. Would we want the title of the card and the checkbox to be inline in the header area? It feels like wasted space to have the checkbox occupy a row to itself. Also, should buttons at the bottom of a card be center-aligned or left-aligned as you have them. @mceledonia perhaps you can give

[2019-03-13 20:56] #1280 closed

[2019-03-13 21:01] #1505 closed

[2019-03-13 21:02] #1449 closed

[2019-03-13 21:02] #1470 closed

[2019-03-13 21:07] patternfly-build opened #1573 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-13 21:10] patternfly-build commented on #1573
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-13 21:15] patternfly-build commented on #1280
:tada: This issue has been resolved in version 1.0.231 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.231)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-13 21:15] #1573 closed

[2019-03-14 13:01] gdoyle1 commented on #297
@mcarrano I talked with @mceledonia about this and we agreed upon this card view https://redhat.invisionapp.com/share/ZFQQYJQGWHV#/352046639_Toolbar_In_Card_View_w-out_Pagination_Example. I created another mockup with pagination in the InVision project as well. Let me know if you need me to make any changes!

[2019-03-14 13:33] #1549 closed

[2019-03-14 13:41] bdellasc commented on #1423
@mceledonia - FYI The celebration illustration was a custom SVG I did emulating the brand icon look & feel.

[2019-03-14 13:42] seanforyou23 commented on #1440
These upgrade examples are known to contain a11y errors because they have a mix of PF3/PF4 components. Instead of fixing these deep-rooted issues in the PF3 componentry, we're instead ensuring the corresponding PF4 components don't contain the errors and excluding these demos from the a11y audit. Closing this in favor of https://github.com/patternfly/patternfly-next/issues/864

[2019-03-14 13:42] #1440 closed

[2019-03-14 14:04] jeff-phillips-18 opened #1574 "Need the ability to add a Nav separator not on a Nav item"
Currently the Nav separator pattern is a modifier on a Nav item. When nav items can be optional, it is hard to determine which nav item has the separator following it. It would be useful to be able to add a separator without it being on a Nav item.

[2019-03-14 17:44] #1546 closed

[2019-03-14 18:21] srambach commented on #1453
@jgiardino Just to doublecheck - this remains as is?
`<nav class="pf-c-pagination__nav" aria-label="Pagination">`

[2019-03-14 18:38] #1520 closed

[2019-03-14 18:39] mcoker commented on #1574
Can you give me an example of what you mean by that? Would moving `.pf-m-separator` to the `li.pf-c-nav__item` parent help?

[2019-03-14 18:46] mcoker commented on #1574
Looking at this closer, I wonder if we should match what we're doing with the dropdown menus like dropdown, select, options menu, etc.

`<li class="pf-c-dropdown__separator" role="separator"></li>`

what do you think @matthewcarleton @jgiardino

[2019-03-14 19:35] jgiardino commented on #1453
Yes - `<nav>` elements are landmark roles, and can be labeled, and we definitely want the label there, since there will most likely be several `<nav>` landmarks on a page.

This is the best article I've found so far that explains when you should use them: https://developer.paciellogroup.com/blog/2017/07/short-note-on-aria-label-aria-labelledby-and-aria-describedby/

[2019-03-14 19:38] mcoker opened #1577 "Table checkbox alignment"
There is a top margin on the content element in a check table cell that seems to be only for mobile. It should likely be removed from desktop, and re-evaluated on mobile, too. Some of the table examples have proper alignment and others don't.

#### the margin
<img width="644" alt="Screen Shot 2019-03-14 at 2 36 00 PM" src="https://user-images.githubusercontent.com/35148959/54386328-b2177100-4666-1

[2019-03-14 20:26] #1456 closed

[2019-03-14 20:43] priley86 commented on #1526
+1 for adding this feature. I believe OpenShift and friends could use it as well.

cc: @aljesusg

[2019-03-14 20:56] aljesusg commented on #1526
+1 for [Kiali Project](https://github.com/kiali/kiali)

[2019-03-14 21:02] christiemolloy opened #1580 "Investigate Secondary Tabs"
This issue arose from #1548 when we noticed that there is the button component in secondary tabs but it is not being used. Without any visual spec we don't know how to style the overflow of secondary tabs. If the primary button has an arrow, the secondary should too, especially with scrollbars being removed in #1514

<img width="490" alt="Screen Shot 2019-03-14 at 5 00 44 PM" src="https://user-ima

[2019-03-14 21:05] #1487 closed

[2019-03-14 21:17] jgiardino commented on #1574
👍 I like that suggestion

[2019-03-14 21:30] mcoker opened #1581 "Remove CSS labels from switch"
From this PR during our next breaking change release

https://github.com/patternfly/patternfly-next/pull/1473/

[2019-03-14 21:31] #1452 closed

[2019-03-14 21:33] jgiardino commented on #1581
Adding a screencap of the changes added in #1473 that we'd want to remove in the next breaking change release.

![image](https://user-images.githubusercontent.com/21063328/54392948-47befa80-467f-11e9-944a-2fdc7233349f.png)

[2019-03-14 21:40] patternfly-build commented on #1452
:tada: This issue has been resolved in version 1.0.237 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.237)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-15 01:20] ajacobs21e commented on #1526
@KendraMar I have not heard that feedback before. @rblackbu have you heard anything similar for RHSM? To have the filters or table heading sticky as you scroll through a table?
I think it makes a lot of sense though. My only concern would be the extra space between the CVE and Systems tabs and the top of the table. Have you talked to anyone on the visual design team about options to removing the w

[2019-03-15 13:23] rachael-phillips commented on #1526
PF4 team will investigate whether sticky header can be complete as a non-breaking change

[2019-03-15 13:27] maryclarke commented on #1526
Looking for clarification on what header is being requested to be sticky...the masthead or the toolbar above a data table or data list?

[2019-03-15 13:50] #571 closed

[2019-03-15 13:58] KendraMar commented on #1526
Hi, can we postpone discussion of this one to post summit? We need to investigate it more ourselves.

[2019-03-15 14:15] #1537 closed

[2019-03-15 14:29] mcarrano opened #1582 "Introduce Code Block component"
There is a need to introduce a component for displaying formatted code blocks for easy display. This component will recognize reserved words per the specified language and display color-coded text.

There was a similar component in PF3 that was based "Google code pretify" https://code.google.com/archive/p/google-code-prettify/wikis/GettingStarted.wiki

[2019-03-15 14:44] priley86 commented on #1526
i believe on our side this was in regard to the masthead - can you confirm @aljesusg ? I have checked OpenShift and I do not currently see any `postion: sticky` CSS. It seems the current resolution there was just to allow the page/sidebar contents to scroll independently. So `pf-c-page__main` is set to `overflow-y: auto` for example.

[2019-03-15 14:58] #1540 closed

[2019-03-15 15:13] #1453 closed

[2019-03-15 16:52] serenamarie125 commented on #1526
We should probably create multiple issues to track individual requests.  For OpenShift & Kiali, having a sticky masthead is desired

[2019-03-15 16:53] serenamarie125 commented on #1526
@katierik can you clarify that for this issue, when you say sticky header, you are talking about the masthead (or something else)?  Thanks!

[2019-03-15 17:19] christiemolloy opened #1583 "Update Data List Padding Breakpoint for Mobile"
Currently the data list item has a set padding for mobile at a breakpoint of `max-width: $pf-data-list--breakpoint--mobile` this needs to break earlier to align with when the toolbar and page etc. break. This should be updated to `max-width: $pf-global--breakpoint--md` the associated variables should also change their naming.

This will update #1401

[2019-03-15 17:25] KendraMar commented on #1526
@serenamarie125 @katierik See my description of the issue that generated this github issue. Also, see my comment about us postponing or examining the issue further before we do anything.

[2019-03-15 17:31] aljesusg commented on #1526
yes @priley86 you can test this in [storybook](http://patternfly-react.surge.sh/patternfly-4/demos/pagelayout/examples/page-layout-default-nav)  with the page-layout-default

Here is the gif

![header](https://user-images.githubusercontent.com/3019213/54450371-85d81f00-4750-11e9-97e5-57dbca183437.gif)

[2019-03-15 18:03] srambach commented on #613
I still see the discernible text error on the kebabs. Is this intended to fix that or not? If not, then it probably shouldn't say that it fixes the issue because I think that will close the issue.

Also, this changes the HTML structure of a PF3 upgrade example, which isn't the point that we work with existing PF3 HTML? Also, Dana's PR to exclude updated examples was merged this morning. So we migh

[2019-03-15 19:10] gdoyle1 commented on #297
@mcarrano I'm not sure about the checkbox - I assume it'll have to be it's own element but I'm probably not the right person to ask about that. The extension of the pagination footer is something I did so that it would be consistent with the toolbar. I expected it would act as it does on data tables/lists and would fall at the bottom of the content view. It looks funny when not extended because it

[2019-03-15 19:26] #617 closed

[2019-03-15 19:28] mcarrano commented on #297
Regarding the pagination footer, I think what you say makes sense @gdoyle1 . So the footer would just extend to the bottom of the page then. @mcoker let me know if you see any difficulty with this layout.

[2019-03-15 19:32] #613 closed

[2019-03-15 19:36] patternfly-build opened #1584 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-15 19:42] #1584 closed

[2019-03-15 22:04] jgiardino opened #1585 "Tabs - <nav> examples should show tabs as links"
In the examples we have where tabs are wrapped with a `<nav>` element, these tabs should be implemented as links.

This update will probably require some updates to the css to support either a link or button element.

These examples should also include notes in the documentation section explaining that when links are used as tabs, the `<a>` elements should be include `href` attributes with valid u

[2019-03-15 22:20] mcoker opened #1587 "Remove nav simple list link separator"
from https://github.com/patternfly/patternfly-next/pull/1586

we added support for `li.pf-m-separator` and should remove the old `.pf-c-nav__simple-list .pf-c-nav__link.pf-m-separator` styles.

[2019-03-15 22:48] tlabaj opened #1588 "LoginPage Language selector should use Single Select"
LoginPage should be modified to use a Single Select rather than a Dropdown for the Language Selector.

React react issue [#986 ](https://github.com/patternfly/patternfly-react/issues/986)depends on this.

[2019-03-18 13:55] mcoker opened #1590 "Remove cell-content element from table cells"
Undo https://github.com/patternfly/patternfly-next/pull/1496. Let's see if we can do this without introducing a div in every table cell.

[2019-03-18 14:23] rachael-phillips commented on #1517
Closing because it will be addressed in https://github.com/patternfly/patternfly-next/issues/1523

[2019-03-18 14:23] #1517 closed

[2019-03-18 14:24] rachael-phillips commented on #1430
May be impacted by https://github.com/patternfly/patternfly-next/issues/1523

[2019-03-18 14:26] rachael-phillips commented on #1519
Hi @mcarrano and @mceledonia making you aware of this enhancement. What indicator do you think should be used here?

[2019-03-18 14:46] stacymcauliffe commented on #917
@mcarrano - I split the text input and data input as we discussed, and also worked to remove duplicated info and cross link to forms guidelines. I'm still working on creating images, but I think the text is in a good place.

Data input:  https://docs.google.com/document/d/1d1WYPcNaWMZeHKdqur2mvPTz96O7YAQkbQ2VetPPezg/edit?usp=sharing
Text input: https://docs.google.com/document/d/1tjJYqhgI7-M68K0t4

[2019-03-18 14:56] mattnolting opened #1592 "Provide examples without wrappers in layouts"
Being that our new layouts are css grid/flexbox based, there's no longer a need for Bootstrap style wrappers. Rather, the wrapping elements are replaced by grid tracks, set on the parent container.

Reasons to streamline examples
- Leverage the efficiencies css grid offers with grid tracks (no need for wrappers)
- Unwrapping components allows for easier ordering, especially when considering mobile

[2019-03-18 15:03] #1590 closed

[2019-03-18 15:36] mcoker opened #1593 "Investigate method to limit width of layouts in full-width containers"
We have some instances where we likely want to limit the width of content in a layout in a container that is full-width. For example, in the page component, the main sections allow content to be full-width, but we probably don't want text/content and forms to span the entire width of the viewport, and have some sort of reasonable `max-width` instead.

There may be other components we want to limit

[2019-03-18 15:40] srambach commented on #1113
@jgiardino Just to clarify - is the desired behavior that the blue focus ring is shown completely circling the tab? Or just to make sure that both left and right are shown?

[2019-03-18 15:46] mcarrano commented on #1519
I agree that the scrollbar should be hidden. @kybaker I'm pretty sure that we talked about this when designing the nav and just decided that the user can swipe to scroll the nav. Can you confirm?

[2019-03-18 15:56] jgiardino commented on #1113
I'm not sure what our options are at this point. If it's super easy to get just left and right highlights, but a major rework to get all around, then maybe we go with the super easy for now, and bring this up with the css and visual design teams to figure out what we want moving forward.

Do you have an idea yet how much of a change it would require to get all around? Or even just showing sides an

[2019-03-18 15:59] mcarrano commented on #1593
Good question @mcoker . This has come up before relative to forms layout. IMO there should be a way to set a max-width on a form so you don't get what you show above.

[2019-03-18 16:05] mcarrano commented on #1582
@jknilans Please add any specific project requirements that you have here. @rachael-phillips FYI

[2019-03-18 17:05] srambach commented on #1113
No :-/ It's complicated with the scrolling and overflow and the vertical height with/without the scrollbar. Before I went too deep, I wanted to know for sure where to head.

[2019-03-18 17:06] mceledonia commented on #1519
We had decided on a white-colored shadow overlay to create the look of the tabs fading away as they go right. Not sure of the best way to implement this (shadow colored white or white gradient) but I will attach a quick visual here:

![image](https://user-images.githubusercontent.com/30935938/54548546-8e15a180-497e-11e9-854a-6df0cf7e5d74.png)

![image](https://user-images.githubusercontent.com/309

[2019-03-18 17:30] jgiardino commented on #1113
Copying @mceledonia on this to loop him in. I'm curious what his thoughts are on implementing a custom focus style for this.

Custom focus styles might be something we can consider depending on what our options are for enabling the default focus styles to display.

[2019-03-18 17:33] mceledonia commented on #1113
I am definitely interested in an overall approach of utilizing default styles when we can, and using our custom style as a backup for when we can't.

If we can use a default focus style here for tabs we should go for it.

[2019-03-18 19:28] RolandTa opened #1594 "Dark theme with breadcrumbs"
Text only breadcrumb elements will not change the textcolor when using with dark theming.

https://pf4.patternfly.org/components/Breadcrumb/examples/
![image](https://user-images.githubusercontent.com/264579/54557468-7f011480-49bb-11e9-8891-fb72dd59b08c.png)

[2019-03-18 19:45] rachael-phillips commented on #871
We are opening a corresponding React issue

[2019-03-18 19:45] #871 closed

[2019-03-18 19:55] mcarrano commented on #917
@stacymcauliffe I reviewed these and left a few comments. I think they are pretty close to done.

[2019-03-18 20:26] maryshak1996 commented on #362
Here's my spec for that latest version:
![Screen Shot 2019-03-18 at 4 26 20 PM](https://user-images.githubusercontent.com/19824574/54561264-9da2e380-499a-11e9-8465-95dfdcd50d62.png)

[2019-03-18 20:32] mindreeper2420 commented on #1509
@mcoker I'm still seeing it on https://patternfly.surge.sh/documentation/react/demos/pagelayout/examples/page-layout-default-nav. Is that the correct URL to use for documentation, or is there an updated one?

[2019-03-18 20:54] mcoker commented on #1509
Ah, I think that's for the website which may be out of date. I was verifying against the pf4 react workspace

http://patternfly-react.surge.sh/patternfly-4/

http://patternfly-react.surge.sh/patternfly-4/demos/pagelayout/examples/page-layout-default-nav

[2019-03-18 21:13] rebeccaalpert opened #1596 "Tabs: Typo in aria-label tag"
It looks like there are typos in some of the [Tabs examples](https://pf4.patternfly.org/components/Tabs/examples/). The aria-label attribute is spelled "arial-label" in a few places.

[2019-03-19 12:44] mceledonia commented on #1528
Additional proposal for a vertical divider between item groups, mainly utilized when there are two or more groups of the same item types next to each other (e.g. two groups of icons next to each other as seen below). In other words this is to be used when just the spacing is not enough of a visual separator between groups.

![image](https://user-images.githubusercontent.com/30935938/54606782-1f3e5

[2019-03-19 13:36] maryshak1996 commented on #296
sorry for how delayed this update is, but @mcarrano @mceledonia @gdoyle1 how do you think that this works?
![Screen Shot 2019-03-19 at 9 34 47 AM](https://user-images.githubusercontent.com/19824574/54609983-67ad4000-4a2a-11e9-85bd-2f95a70e273c.png)

[2019-03-19 13:43] maryshak1996 commented on #296
@mcarrano my thinking is that the text boxes on the end would provide that ability to track the value being selected. I made mockups that don't have the text input field in case their is a use case for it but for accessability, I feel that we should either (a) always have that text field or (b) require the tooltip when the text input field is not there.
To address your question about use cases for

[2019-03-19 13:51] katierik commented on #1528
Re: the order of the buttons up on this toolbar. Everywhere we're doing "Primary, Secondary, Tertiary" (on the bottom of forms, in wizards, etc) and in this toolbar design its "Tertiary, Secondary, Primary".

It would be better to have the buttons in the same order all the time to reduce confusion & enhance consistency.
(Unrelated, I have *opinions* about the ordering of the buttons in general, bu

[2019-03-19 13:51] gdoyle1 commented on #296
@maryshak1996 @mcarrano Mary I agree we should always have the text input field at the end of the slider for continuous sliders so that the value can be tracked at all times. I think we should also allow for labels on the end points for continuous sliders - yes you can figure out the same information by using the slider, but it is easy to see it right away if the end points are labeled.

[2019-03-19 14:04] maryshak1996 commented on #296
Ooooo I think I know what you mean @gdoyle1. are you referring to something like this?
![Screen Shot 2019-03-19 at 10 03 15 AM](https://user-images.githubusercontent.com/19824574/54611921-4cdcca80-4a2e-11e9-8367-5942ab7f32d2.png)

[2019-03-19 14:04] gdoyle1 commented on #296
@maryshak1996  Yup exactly!

[2019-03-19 14:09] mcarrano commented on #1528
I think @katierik makes a good point. On toolbar actions we have always had the primary action as the first (leftmost) button. I think this was an unintentional change. @mceledonia can you update your mock to avoid any confusion?

[2019-03-19 14:12] maryshak1996 commented on #296
@mcarrano here they all are with those labels
![Screen Shot 2019-03-19 at 10 12 18 AM](https://user-images.githubusercontent.com/19824574/54612563-8e21aa00-4a2f-11e9-8e03-cbbd89e225e4.png)

[2019-03-19 14:15] mceledonia commented on #1528
I agree 100% wherever we land, we should be consistent. It sounds like we might need to revisit button placement and have a larger discussion around it. Maybe we can find some time this week to meet and discuss?

[2019-03-19 14:18] mcarrano commented on #296
+1 It's less critical for something like percentage because w know the range is 0-100%. But sliders could be used for things with any range so in that case these labels are helpful.

Regarding the codependent and add/subtract sliders, these are legitimate use cases that we could include in the documentation as examples of slider usage. But I think they are too specific to build into a component. @

[2019-03-19 14:21] mattnolting commented on #1528
Hey all, thought I'd add my thoughts here.

I think that we're interpreting what is a component that uses `display: flex;` as a unique component with its own unique layout. It is correct that this design shows a toolbar, the approach to layout should be consistent with anything else that is a flexbox layout. Therefore, I think it's a good idea to create a `toolbar` component that uses the `pf-l-fl

[2019-03-19 14:21] maryshak1996 commented on #296
@mcarrano yup that sounds perfect!
I'll make that update (optional extensions, more forward-looking work) and put together a spec, if things seem good to you and @gdoyle1

[2019-03-19 14:43] gdoyle1 commented on #296
@maryshak1996 That sounds great! Send it along to me whenever it's done

[2019-03-19 15:35] mattnolting commented on #1534
__We can remove__
- `.pf-u-flex`
- `.pf-u-display-inline-flex`
- `.pf-u-display-inline-grid`
- `.pf-u-display-flex-row`, `.pf-u-display-flex-row-reverse`, `.pf-u-display-flex-columns`, `.pf-u-display-flex-column-reverse`
- `.pf-u-justify-content-*`
- `.pf-u-align-items-*`
- `.pf-u-align-content-*` i suspect this will rarely be used
- `.pf-u-flex-wrap`, `.pf-u-flex-nowrap`, `.pf-u-flex-wrap-reverse

[2019-03-19 15:46] mcarrano opened #1599 "Left-align buttons on modal"
There is a current proposal to change our standard for button alignment on modals. Currently, buttons in a modal are defined as having right-alignment with the primary action on the right. The proposal is to make the primary action left-aligned. See the InVision for possible placements: https://redhat.invisionapp.com/share/EBR35AEC6FK  Need to decide whether it makes sense to left-align button gro

[2019-03-19 16:03] maryshak1996 commented on #296
https://redhat.invisionapp.com/share/SNR36B98TAP
Here's the "final" design and visual spec :) let me know if anything needs to change

[2019-03-19 19:17] rachael-phillips commented on #1471
Completed this issue! :)

[2019-03-19 19:48] jgiardino opened #1602 "aXe a11y audit tool updates to review other screen sizes"
There are elements that are hidden in certain components for certain viewport sizes. Some of these elements aren't getting checked by the aXe a11y audit tool (because it ignores hidden elements).

Here is an example line that shows how screen size can be configured:
https://github.com/patternfly/patternfly-next/blob/master/test-a11y/index.js#L20

Some questions are:

- What checks do we want to en

[2019-03-19 20:56] gdoyle1 commented on #297
I think this is good to go now @mcarrano - https://redhat.invisionapp.com/share/ZFQQYJQGWHV

[2019-03-19 21:06] mcarrano commented on #297
Looks great @gdoyle1 !

[2019-03-19 21:07] jeperry commented on #1599
Matt, is the proposal about the alignment of the buttons respective to the modal, or the order of the buttons, or both? Your comment and the wires don't quite make it clear to me.

I have always favored matching the button order and button group alignment. That is, left aligned group has primary action to the left, or right aligned group has primary action to the right. [Example](https://developer

[2019-03-19 21:12] mcarrano commented on #1599
Yeah, I made two sets of mockups for discussion. We are meeting tomorrow to clarify this. I agree with your assessment. It is consistent with what has always been the general rule and works for visual users. But it was pointed out recently that when using a screen reader with right-aligned buttons, the Cancel gets announced before the Submit. I appreciate your input on this @jeperry .

[2019-03-19 21:13] mcoker opened #1603 "Flex shorthand issues in page component"
There is a bug in safari where, if a flex child using `flex` shorthand without a `flex-basis` has an element inside of it with `height: 100%`, it will cause weird height issues when you shorten the viewport. Tracked down the core issue in this pen - https://codepen.io/mcoker/pen/ZPMKag. when it loads, shorten the viewport height.

[2019-03-19 21:24] mcarrano commented on #296
This looks great @maryshak1996 . As a note to implementers, we should have 2 variations of the component - the Discrete slider and  the Continuous slider. The optional extensions may be interesting as a demo for a future date, but these do not need to be part of the basic slider.

@mcoker does this look good to you?

[2019-03-19 21:48] ryelo commented on #279
Is there any update on the spinner and if it'll hit the March 22 date?

[2019-03-19 21:55] ryelo commented on #1599
@mcarrano Is this going to affect the wizard too?

I'd assume that the "primary" button for a wizard is going to be the "forward" button. If that's the case, would that mean that the ordering of the buttons would go: "forward" "previous" ?

[2019-03-20 12:42] rachael-phillips commented on #279
Hi @ryelo it will no longer be available for the March 22 date. Per our release plan it will now be available May 5. Can you tell me more about your product timeline for spinner @ryelo? Thanks!

[2019-03-20 13:33] katierik commented on #279
@rachael-phillips @ryelo Spinner is needed for MCOM apps that are launching at summit. May 5 is too late. We're looking at an April 8th feature freeze for these apps. Can this get moved back up?

[2019-03-20 14:20] rachael-phillips commented on #279
Hi @katierik per our release plan I sent out earlier this month, this is the component timeline we decided on with product leads: https://docs.google.com/document/u/1/d/1xMQBWVX0RZqCv1N5hAH-82T78SrJxqSBu1ihF-ytqfI/edit#heading=h.pr9zj26f2jlv
We won't be able to offer spinner until after our release.

[2019-03-20 14:23] mcoker commented on #296
@mcarrano @maryshak1996 this looks great to me. Just to confirm, this is going to be a completely custom implementation and we are not utilizing a library? I looked at the issue referenced in the description (https://github.com/patternfly/patternfly-next/issues/180) but I don't see anything about the range slider there, just the date/time picker.

[2019-03-20 14:25] mcoker commented on #1602
re: sizes needed in the tests, I think we would just check at all of our breakpoints https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/sass-utilities/scss-variables.scss#L149-L154

[2019-03-20 14:32] tiffanynolan commented on #279
Given the timeline, the Integreatly team went with @bdellasc's proposal as a custom, interim solution for now. @katierik We're happy to share the code if you wanted to be consistent with our interim solution. @dlabaj worked on it as an animated icon. We'll circle back to consume the PF4 approved spinner post-Summit.

[2019-03-20 14:41] rachael-phillips commented on #1471
Closing this issue because this task is complete

[2019-03-20 14:41] #1471 closed

[2019-03-20 14:55] rachael-phillips commented on #1582
@jknilans do you mind also answering these questions below:

*What product is this impacting?
*Is this currently blocking implementation?
*Is there any product timeline information you can provide?

[2019-03-20 14:55] mcarrano commented on #296
That's a good question @mcoker . @rachael-phillips we should get someone from the React team involved.

[2019-03-20 14:59] rachael-phillips commented on #296
Ok sounds good to me. @dlabaj do you mind taking a look at this issue and advising on what we'll need to do from the React side?

[2019-03-20 15:29] ryelo commented on #279
@tiffanynolan that would be awesome. Do you have a source file for this that I could port over?

[2019-03-20 17:56] jgiardino opened #1608 "Context Selector - add examples for variations"
During review and discussion of https://github.com/patternfly/patternfly-react/pull/1526, a question came up regarding whether the button is needed. As a result of this discussion, the following variations should be available for the context selector:

1. **No search, just a menu** - this would be used when there aren't that many menu items
2. **Search field with search icon** - this would be used

[2019-03-20 18:07] #1596 closed

[2019-03-20 18:40] mcarrano commented on #1599
Today @kybaker @mceledonia @mcoker @jgiardino @rachael-phillips @stacymcauliffe and I met to talk about the approach that we want to take. We decided that buttons will always be left aligned in a page whether on a full page or a modal. See mockups below:

![Modal_basic_spec](https://user-images.githubusercontent.com/6619860/54708338-93f3ba00-4b19-11e9-8e06-261aa7f255f4.png)

![Modal_form_spec](htt

[2019-03-20 20:02] christiemolloy opened #1609 "Refactor the Card to use Separator Elements."
Question for design:
Should the Card Component have a spacer/border/separator element between header, body, footer.
For example in the data list and data table demos it would allow us to not add extra lines to the top and bottom of the list and table components, as the card would handle that.

[2019-03-20 20:28] jknilans commented on #1582
This new to PF4 component would be used in Red Hat Connect. We had a tight deadline for where this would be used in our interface so we decided to use the [copy-to-clipboard](https://pf4.patternfly.org/components/ClipboardCopy/examples/) component in the short term. Since we're using the copy-to-clipboard component in the short term, we don't have a need by timeline.

Besides the PF3 example provi

[2019-03-21 14:30] mcoker opened #1612 "Create divider component"
Divider should support both `<hr>` and a `<div>` (or maybe just any block element?). The `<hr>` should be used when you want the implicit `role="separator"` (between siblings, like `li`s in a `ul`) and the `div` should be used between blocks (like `divs`s or `sections`s)

cc @jgiardino @rachael-phillips

[2019-03-21 14:33] rachael-phillips commented on #419
After discussion with the team we have decided to move away from the approach for migration upgrade examples because they are difficult to maintain and frequent changes would need to be made.

[2019-03-21 14:33] #419 closed

[2019-03-21 14:33] rachael-phillips commented on #417
After discussion with the team we have decided to move away from the approach for migration upgrade examples because they are difficult to maintain and frequent changes would need to be made.

[2019-03-21 14:33] #417 closed

[2019-03-21 14:34] rachael-phillips commented on #413
After discussion with the team we have decided to move away from the approach for migration upgrade examples because they are difficult to maintain and frequent changes would need to be made.

[2019-03-21 14:34] #413 closed

[2019-03-21 14:37] rachael-phillips opened #1613 "Remove Upgrade Examples from PF4 workspace"
After discussion with the team we have decided to move away from the approach for migration upgrade examples because they are difficult to maintain and frequent changes would need to be made. In this issue we will remove upgrade examples from the PF4 because some have already become outdated.

[2019-03-21 15:42] rachael-phillips commented on #1538
Is this one ready to be closed?

[2019-03-21 17:37] mcoker commented on #1538
@rachael-phillips nope, the work hasn't been completed. If you're referring to #1521 being merged, that's something different.

[2019-03-21 20:54] mcoker commented on #1375
With an element in the component that wraps the title/description, we would no longer need to define `grid-template-rows` or `grid-template-areas` on the grid parent, or `grid-area` on the children.

[2019-03-22 16:58] #1603 closed

[2019-03-22 17:09] #619 closed

[2019-03-22 19:28] mcarrano opened #1616 "Make styling updates to the Wizard steps menu"
Update wizard steps menu to ensure that unavailable (disabled) steps are clearly differentiated and accessible.

Update design mockups (https://redhat.invisionapp.com/share/W3QA5O64XNQ) and core CSS.

[2019-03-24 10:53] boaz0 opened #1618 "form control should have ellipsis when text overflows"
According to the image below when the text overflows, ellipsis should be shown:

![my image](https://user-images.githubusercontent.com/6619860/54314649-9eaace00-45b2-11e9-8a12-dd7154055289.png)

I believe it's easier to implement that using css's `text-overflow` than writing it in JavaScript.

[2019-03-25 14:24] christiemolloy opened #1620 "Login Language selector should always be top right positioned."
When the header overflows to more than one line, the language selector is vertically centered. It should always sit in the top right corner like when there is one line for the header.

<img width="653" alt="Screen Shot 2019-03-25 at 10 17 11 AM" src="https://user-images.githubusercontent.com/20118816/54927109-ed783200-4ee7-11e9-8fa3-89ad20b173e2.png">

[2019-03-25 15:02] mcoker opened #1622 "Clean up SCSS/includes"
This is a follow-up to https://github.com/patternfly/patternfly-next/pull/1467. We talked about renaming and potentially reorganizing some of the files so it's more intuitive to find and include files in a project.

First steps should be to come up with a plan that we can review as a group before beginning. For this release, we should not move `patternfly.scss` or `patternfly-base.scss`.

cc @dgut

[2019-03-25 15:18] rachael-phillips commented on #35
Hi @maryshak1996 how is this issue going?

[2019-03-25 15:29] maryshak1996 commented on #35
@rachael-phillips hey sorry about the hold up on this! I have a couple of options for this last piece (opened vs unopened utility item), that I'm just working to refine :) should have the final design recommendation here shortly!

[2019-03-25 15:57] mcoker opened #1623 "Update dropdown and options menu to use divider component"
After https://github.com/patternfly/patternfly-next/issues/1612 is completed, refactor the divider in these components to use the divider component.

[2019-03-25 16:01] ncameronbritt opened #1624 "Definition list style/pattern"
Both OpenShift and Cloud Services have a need for something like a definition list (or "spec" or "set of facts") where there are a set of fields with their associated values.

Looks like Kyle has done a version of this for Cloud services (see screenshot), but I wonder if this should be a component or pattern.

Kyle's design
![Screen Shot 2019-03-25 at 11 57 15 AM](https://user-images.githubusercon

[2019-03-25 16:07] mcarrano commented on #35
@rachael-phillips I also have this in my queue to work on an interaction spec. But once Mary is done, I think there will be enough to hand over to CSS if/when there's a resource to take it.

[2019-03-25 16:16] maryshak1996 commented on #35
@rachael-phillips here's what we'd like to do!
![image](https://user-images.githubusercontent.com/19824574/54935990-e0633f00-4ef7-11e9-82cf-941eb7207b1b.png)

[2019-03-25 17:10] #1458 closed

[2019-03-25 17:14] rachael-phillips commented on #35
That sounds great. Thanks for the update!

[2019-03-25 17:20] patternfly-build commented on #1458
:tada: This issue has been resolved in version 1.0.247 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v1.0.247)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-25 17:52] katierik commented on #279
Can someone expand on what "more robust" means here? Are there specific technical and/or accessibility issues that need to be addressed?

[2019-03-25 17:57] rachael-phillips commented on #279
Hi Katie, When I spoke with @mceledonia we discussed that this spinner would work better across all applications. All I mean by "more robust" is that you can see there are adjustments to the animation. That was my wording. @mceledonia do you feel there are anymore technical or accessibility issues that your design will address?

[2019-03-25 18:04] #1455 closed

[2019-03-25 18:19] mceledonia commented on #279
No big technical or accessibility issues that are solved here, it is purely an aesthetic improvement that will help the overall experience look and feel more modern. A custom implementation does give us more control which I suppose is a technical benefit. From a developmental perspective it will serve as the kickoff or gateway to figuring out how and where to implement animation across the rest of

[2019-03-25 19:04] rachael-phillips commented on #1624
Thanks @ncameronbritt this would be a great topic to bring up in @mcarrano's Thursday design syncs where design contribution ideas are discussed. @ncameronbritt would you have any interest in presenting this at that meeting?

[2019-03-25 19:09] #1623 closed

[2019-03-25 19:50] christiemolloy opened #1625 "feat(Overflow Scroll Component)"
Introduce an overflow scroll component that has `.pf-c-overflow-scroll` as the container, `.pf-c-overflow-scroll__button` as the overflow buttons and `.pf-c-overflow-scroll__content` for the content that overflows.

This would be used in nav and tabs.
Need to check with design.

[2019-03-25 21:28] #1587 closed

[2019-03-26 13:17] christiemolloy opened #1630 "Data List Demo Follow up"
Use .pf-c-page__main-nav for the tertiary nav and remove the grid used in the page-main section - refer to the data table.

[2019-03-26 13:53] christiemolloy opened #1631 "Should the login live outside of the login container?"
I can foresee cases where someone would want to use the login outside of its layout, for example in a popover, or in the context of another page.

We should investigate this and see what products need. If so we should separate the login from its layout in the current login component that we have.

cc: @mcarrano @rachael-phillips

[2019-03-26 15:20] mcoker opened #1632 "Login component to support warning state"
Right now the login component only supports red text error messaging. Speaking with @priley86, a product he is working on would like to see a warning state that is differentiated visually from the error state, maybe with a different icon and color. Something like this?

<img width="568" alt="Screen Shot 2019-03-26 at 10 18 45 AM" src="https://user-images.githubusercontent.com/35148959/55009469-942

[2019-03-26 15:36] mattnolting opened #1633 "Card updates"
- Add example of `article` with `header` and `footer` elements https://www.w3.org/TR/html52/sections.html#example-86aedc40
- Add example of card when whole card is a link (allowed in html5, https://www.w3.org/TR/html52/textlevel-semantics.html#example-e6ee3b01)

[2019-03-26 15:42] mcarrano commented on #1632
@priley86 can you give some examples of what these warning messages would be?

[2019-03-26 15:48] jgiardino opened #1634 "Table sort - allow <a> for sorting tables"
@karelhala shared a cool idea in [this comment](https://github.com/patternfly/patternfly-react/issues/1306#issuecomment-474109187) to enable the sort action to be a `<a>` or `<button>`, because using `<a>` elements would allow users to bookmark sorted tables.

As part of this issue, we should include documentation that explains when to use `<a>` vs `<button>`. For example, if the consumer can defi

[2019-03-26 15:52] mattnolting opened #1635 "Add `pf-m-plain` modifier support for `<ul>`, `<ol>`"
Currently, many mockups present `<ul>`, `<ol>` with no list styling. Need to add this with enhanced CSS.

One example: https://redhat.invisionapp.com/share/R5QLEKZ9JXA#/screens/348804737

<img width="597" alt="Screen Shot 2019-03-26 at 11 52 48 AM" src="https://user-images.githubusercontent.com/5385435/55012489-e0c60d80-4fbd-11e9-9bca-f32673998f33.png">

[2019-03-26 15:55] mcoker commented on #1390
FWIW, I was working with @priley86 on Kiali and they're attempting to use an inline alert on their login screen. I'm not sure if that's an acceptable use of the login component, but since the login component's error message maintains layout on the page even when it isn't shown, if someone drops an inline alert in that area, this is what the default login state looks like.

<img width="1437" alt="S

[2019-03-26 17:06] priley86 commented on #1632
cc: @serenamarie125 ^^

[2019-03-26 18:34] #1572 closed

[2019-03-26 18:40] christiemolloy opened #1636 "fix responsive table padding"
When the table breaks from table to grid formatting, styles are immediately applied from the table-grid.scss file (including mobile padding). This padding should only be applied at the mobile size.

[2019-03-26 19:02] jgiardino opened #1637 "Table checkbox - remove aria-label"
The following element has an `aria-label` attribute that is meant for the expand/collapse button:
[code]
The `aria-label="Details"` should not be included on `.pf-c-table__check > input`.

In this case, `aria-labelledby` references the row header to provide an accessible label.

[2019-03-26 19:03] katierik opened #1639 "Update of icons for CVE severity"
(Possibly linked to PFElements as well)

A short while back there was an effort to make the severity icons used for CVEs (and other security alerts) more accessible.
That result was documented here: https://mojo.redhat.com/docs/DOC-1157657

The recommendation that came out included always having a label to help distinguish beyond color alone. However, this doesn't seem to be quite enough.
- Multip

[2019-03-26 19:15] gdoyle1 commented on #297
After our conversation last week, here's what I came up with. If anyone has an idea of what the description text should be, please let me know! https://redhat.invisionapp.com/share/ZFQQYJQGWHV @kybaker @mceledonia @mcarrano

[2019-03-26 19:20] mcoker commented on #1594
@RolandTa thanks! This should be fixed in https://github.com/patternfly/patternfly-next/pull/1600

[2019-03-26 19:32] #1636 closed

[2019-03-26 19:37] jgiardino commented on #468
Closing this issue. Specific updates to the Page component landmark regions were captured in https://github.com/patternfly/patternfly-next/issues/1185

[2019-03-26 19:37] #468 closed

[2019-03-26 19:43] mcarrano commented on #1639
@rachael-phillips This is a new request from @katierik . We should seek to get this on the roadmap. It will require some icon work as it looks like there is already a design approach worked out in the accompanying docs.

[2019-03-26 19:56] mcarrano commented on #297
Looks good to me. I don't have a better idea for description text. What you have is fine @gdoyle1 or you can just use "lorem ipsum" placeholder text.

[2019-03-26 20:00] ajacobs21e commented on #1639
The intention was the shield shape represented the Security Advisory and that the color & label would be used together to denote the severity level.

Some initial ideas for how to resolve this are:
- Use a label instead of an icon for severity level ([example here](https://access.redhat.com/security/cve/cve-2018-11793))

- Support cases use the severity level 1-4. Could we use the shield icon with

[2019-03-26 20:04] christiemolloy opened #1640 "add an extra breakpoint to the table"
In the data table sortable demo the table needs a larger breakpoint, so that the rows don't overflow outside of their container #1417

Our breakpoint global vars stop at xl size, I think we need to investigate a var that is bigger than this, to allow more flexibility.

[2019-03-26 20:07] rachael-phillips commented on #1639
@mcarrano I'm placing this on the roadmap now under "Update icons." Please keep me updated should any product timelines change. I totally understand that this design approach has been worked out. Do you foresee any design work at all, or we'll go straight to CSS?

[2019-03-26 20:13] mcarrano commented on #1639
Based on the comment from @ajacobs21e sounds like there still may be some design questions to work out. I'm happy to have @katierik @ajacobs21e and @kybaker work through any design issues and flag this when it is ready to move to CSS.

[2019-03-26 20:14] christiemolloy opened #1641 "Consider a mixin for scrollbar hiding"
Currently, there are three vars we are adding to hide the scrollbar on Edge, Firefox and Chrome. We should add these as a mixin and apply it anywhere we are hiding them so that we cover all browsers.

 scrollbar-width: none; // hides scrollbars in Firefox 64 and up

-ms-overflow-style: -ms-autohiding-scrollbar; // auto hides scrollbars in Edge

::-webkit-scrollbar {
 display: none;
} // hides scro

[2019-03-26 20:23] rachael-phillips commented on #362
Is there any more work that we'll want to do on this from a visual perspective? Or will this be good to move to CSS when the time comes?

[2019-03-26 20:25] maryshak1996 commented on #362
@rachael-phillips I don't see any more pushback on this latest design, so I think that this is visually done

[2019-03-26 20:30] mcarrano commented on #362
I agree. This can move to CSS.

[2019-03-26 20:49] rachael-phillips commented on #362
Great! Thanks for the update!

On Tue, Mar 26, 2019 at 4:30 PM mcarrano <notifications@github.com> wrote:

[2019-03-27 14:01] mcoker commented on #1536
@karelhala the main purpose behind setting `type="number"` was to disallow non-numbers in that field. This was a requirement from design, so we based the width on the field size with 2 numbers in it. Assuming you're suggesting setting `size` instead of css `width`, wouldn't you still have the issue of large numbers being cut off because the input width is still limited in width, except now by a di

[2019-03-27 14:02] mcoker commented on #1536
cc @mcarrano

[2019-03-27 14:43] karelhala commented on #1536
Yeah, I understand the reasoning behind input type number. But as it's said in documentatin `size` prop has no effect on this type of input unfortunately. But browsers are smart enough to change the size of number input by themselves so if we set `width: auto` for this particular input it will shrink if maximum is small number and if maximum will be some huge number the input will be wider.

[2019-03-27 15:02] mcoker commented on #1536
Ah gotcha! Agreed, thanks for bringing this up.

[2019-03-27 15:15] mcoker commented on #1536
Looks like [Firefox needs a CSS width](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#Controlling_input_size). I'll submit a PR to remove the `size` attribute.

[2019-03-27 16:14] karelhala commented on #1536
Yeah that is a big bummer. I guess we're gonna have to add custom styles to pagination in react so we can see page number bigger than 10

[2019-03-27 17:18] #1536 closed

[2019-03-27 17:35] mceledonia opened #1647 "Form input background color in dark mode"
We need a dark themed version of input fields for dark mode. Keeping the current white background in a dark theme not only looks bad but also causes a multitude of issues with our button styling. For example, the secondary blue outline optically disappears when between the bright white fill of the button and dark color of the background.

Utilizing a more proper background color for inputs will so

[2019-03-27 17:38] mceledonia commented on #1647
linking #1556 as this is related

[2019-03-27 17:39] mceledonia commented on #1556
Update here - we are going to align with the digital team's solution for this, with slight modifications to fit our system better. Working on the details today and meeting with Kyle and Matt Coker tomorrow to confirm the direction.

[2019-03-27 18:26] mcoker commented on #1550
Looks like this was added here. Will investigate some more.

[code]

[2019-03-27 18:50] bdellasc commented on #1390
Hi @mcarrano @mceledonia @rachael-phillips @tiffanynolan. I completed the design doc, echoing mocks for toast notifications, and integrating new material where appropriate. Please let me know if you notice any gaps. [Inline alerts design doc](https://docs.google.com/document/d/1HTkvK8_zFJAX-rhBw1aNrmZYzywixik31DzaiKCUbW4/edit?usp=sharing)

[2019-03-27 19:00] christiemolloy opened #1649 "Create a mixin for text overflow"
Create a mixin for these vars and update across the system in 8 components.

Overflow: hidden;
Text-overflow: ellipsis;
White-space: nowrap;

[2019-03-27 19:17] katierik commented on #1639
This may need to be broken out into a different issue, but the icons used in Insights also need a little TLC.
Similar to the CVE severity icons, these are showing the severity of an issue on a customer's system (not a CVE, which uses the shield)

![Xnip2019-03-27_15-16-32](https://user-images.githubusercontent.com/23172038/55105630-58219d00-50a3-11e9-9e77-17db4f4fe52d.jpg)

[2019-03-27 20:18] #1630 closed

[2019-03-27 20:26] #1649 closed

[2019-03-27 21:15] #1098 closed

[2019-03-27 21:57] #1507 closed

[2019-03-27 22:46] mcoker opened #1652 "Remove pf-c-toolbar__pagination from demos"
Class is no longer used. Need to remove from datalist and datatable demos.

[2019-03-28 03:35] ajacobs21e commented on #1639
Are rule hits based on CVEs?

[2019-03-28 13:01] #1491 closed

[2019-03-28 13:13] katierik commented on #1639
@ajacobs21e No - these are Red Hat defined insights rules that help customers maintain their systems. So a hit *could* be related to a CVE ("Update your system to avoid Spectre/Meltdown issues") or it could be something completely different ("You're using over 80% of your storage").

These rules do have different severities (which are defined by Red Hat) - the Spectre/Meltdown rule would be "Criti

[2019-03-28 13:43] #1618 closed

[2019-03-28 14:30] mattnolting opened #1654 "Update `pf-l-flex` to use grid breakpoints"

[2019-03-28 15:22] christiemolloy opened #1655 "update data list breakpoints to use sm instead of mobile"
this will align with the grid breakpoint system that we are using and going ahead with until further notice.

[2019-03-28 18:25] ryelo opened #1656 "Table select all checkbox disappears on mobile"
When on a mobile view for the selectable table, you can't check the "select all" checkbox

Steps to reproduce:
1. https://pf4.patternfly.org/components/Table/examples-full/?component=Table%20with%20checkboxes%20and%20actions
2. go to a mobile view

[2019-03-28 19:03] christiemolloy commented on #1583
closing this issue in favor of #1655

[2019-03-28 19:03] #1583 closed

[2019-03-28 19:24] #1655 closed

[2019-03-28 19:27] christiemolloy opened #1659 "data list padding should change at md not sm breakpoint"

[2019-03-28 19:32] #1570 closed

[2019-03-28 19:33] #1652 closed

[2019-03-28 19:48] #1659 closed

[2019-03-28 20:02] #1560 closed

[2019-03-28 20:23] #1554 closed

[2019-03-28 20:24] #1581 closed

[2019-03-28 20:49] #1637 closed

[2019-03-28 21:37] mcoker commented on #1616
For this issue:
* remove circle behind disabled steps
* use not-allowed cursor
* remove right-align footer option

[2019-03-28 22:40] #1531 closed

[2019-03-29 13:12] rachael-phillips commented on #1656
Thanks @ryelo for bringing this to our attention. @mcoker making you aware.

[2019-03-29 13:15] rachael-phillips commented on #1616
Will we need a corresponding React issue for this?

[2019-03-29 13:16] christiemolloy opened #1662 "Table with Checkboxes - Update tbody a11y docs"
replace title_cell_id to 'row_header_id' in this body of text, so that the id name is more meaningful.

| `aria-labelledby="[title_cell_id]"` or `aria-label="[descriptive text]` | `.pf-c-table__check input[type="checkbox"]` | Provides an accessible name for the checkbox. **Required** |
| `id` | title cell `<th>` > `*` | Provides an accessible description for the checkbox. **Required if using `aria

[2019-03-29 13:30] mcarrano commented on #1616
There is one. I will need to find it.

[2019-03-29 13:54] mcoker commented on #1616
For these updates, just the third bullet

[2019-03-29 13:59] mcoker commented on #1656
We remove the main table heads on mobile, so I'm not sure where the "select all" option should go. This will need some design input.

@mcarrano @kybaker

[2019-03-29 14:07] mcarrano commented on #1656
Interesting question. It may just be that we loose that functionality on mobile. If you think about it, management of large data sets in tables is completely impractical on a mobile device anyway. I don't feel like the user must always have full capability from their phone. What do you think @kybaker ?

[2019-03-29 14:21] mcarrano commented on #1616
It's this issue @rachael-phillips https://github.com/patternfly/patternfly-react/issues/1618

[2019-03-29 14:31] #1662 closed

[2019-03-29 14:40] kybaker commented on #1656
@mcarrano I totally agree. Not sure how the user could manage it.

[2019-03-29 14:49] #1616 closed

[2019-03-29 15:09] mcoker opened #1664 "update pagination "per page" text"
font-size should be 14px

[2019-03-29 15:20] #769 closed

[2019-03-29 15:29] ryelo commented on #1656
So, to clarify, this is on the `768px` breakpoint where you lose this functionality. Our QE was testing this as one of our valid use cases. If there is no plans to add it, we can put it in a toolbar above the table.

[2019-03-29 15:42] #1664 closed

[2019-03-29 16:03] #1574 closed

[2019-03-29 16:47] #1538 closed

[2019-03-29 17:28] christiemolloy opened #1665 "update table to design for mobile"
This is a redo of #1495 now that all other breaking changes have been merged for the table.

[2019-03-29 17:47] mcarrano commented on #1656
Yeah, if you must have this then I would recommend adding to the toolbar.

[2019-03-29 18:37] mcoker opened #1666 "Options menu toggle and menu font-size should be set"
We want to match the dropdown and select components so the toggle and menu items are a set font-size (16px). This will also involve making sure the toggle menu in the pagination component is 14px, but that the menu item text is 16px, and the "per page" text should be 14px.

Also update the examples that use options menu in the pagination to include the "per page" text, and make sure that text is 1

[2019-03-29 19:27] #1654 closed

[2019-03-29 20:37] rachael-phillips commented on #1410
@mcarrano did you see @mcoker 's question above?

[2019-03-29 21:00] mcarrano commented on #1410
I guess this is more of a question for @mceledonia . I feel like it would be good for them to match but is not a major issue.

[2019-03-29 21:09] #1525 closed

[2019-03-29 21:29] mcoker commented on #1410
To clarify, the options menu check icon is aligned to the right edge of the menu item. The check sits flush along the right edge of the item's padding, which is 16px (16px left/right padding on menu items).

And there is 24px left padding on the icon, but the icon is also aligned right. So there will always be at least 24px between the text and the icon, but more if the available space in the item

[2019-03-29 21:45] mcoker commented on #1647
Thanks michael! `$pf-color-black-900` is now `#151515` after the new brand updates, and that's also what the default white background color (`$pf-global--BackgroundColor--100: $pf-color-white`) changes to in a dark theme (`$pf-global--BackgroundColor--dark-100: $pf-color-black-900;`).

So adding this in would make the background of the form control match the default dark mode background color.

FW

[2019-03-31 22:51] boaz0 opened #1668 "Dropdown and tabs z-index issue"
When the Dropdown menu is overlaying a tab component, the menu is shown behind the tab which looks off.

Looking at the css, it looks like the `z-index` of tab is bigger than the menu what causes this issue.

Related to https://github.com/patternfly/patternfly-react/issues/1636

[2019-04-01 13:21] mceledonia commented on #1647
@mcoker Thanks for the heads up, I will need to revisit this today with the new color variable in mind. We don't want it to be the same color as the background and we also are going to want to change the outer border colors (all but bottom) as well.

I will need to provide separate color values for the disabled and read only states, the defaults are not going to work as we can see above :)

I will

[2019-04-01 14:42] mcoker opened #1670 "add finished state to wizard"
this should hide the desktop and mobile navigation.

[2019-04-01 16:20] #917 closed

[2019-04-01 17:47] christiemolloy commented on #756
Closing this issue as these are completed now.

[2019-04-01 17:47] #756 closed

[2019-04-01 17:48] christiemolloy commented on #625
@rachael-phillips the alert is done, not the toast notification, I wonder if we should close this issue and create a new issue just for a toast notification demo (seeing as we dont really have that component right now)

[2019-04-01 17:49] christiemolloy commented on #1493
Closing this issue as we have separate issues to tackle what needed to be done for the table.

[2019-04-01 17:49] #1493 closed

[2019-04-01 17:51] christiemolloy commented on #1571
This was completed in #1651

[2019-04-01 17:51] #1571 closed

[2019-04-01 17:56] #1405 closed

[2019-04-01 18:03] christiemolloy opened #1673 "Table Grid scss - simplify the selectors"
Currently this is the selector used to target the styling for the table to break into a grid layout.

we should aim to simplify this during the breaking change period.

[2019-04-01 18:30] mcarrano commented on #625
@christiemolloy The demo looks great. But I am curious what you mean by a "toast notification" demo. The demo I see shows 3 toast alerts (aka notifications). Were you thinking something different? We probably to want an inline notification demo in the future but I know there are still some design issues being worked out.

[2019-04-01 18:49] #355 closed

[2019-04-01 19:12] mcoker opened #1674 "Fix card padding"
Need to use `.pf-c-card__` selectors instead of `*` to assign padding to card header/body/footer elements.

[2019-04-01 19:38] #1674 closed

[2019-04-02 11:42] rachael-phillips commented on #395
Closing this as we decided to remove upgrade examples from the workspace.

[2019-04-02 11:42] #395 closed

[2019-04-02 12:08] mattnolting commented on #1633
Suggested structure for updates
<article class="pf-c-card">
  <a href="#">
    <header class="pf-c-card__header">Header</header>
    <div class="pr-c-card__body">Body</div>
    <footer class="pf-c-card__footer">Footer</footer>
  </a>
</article>
[code]

[2019-04-02 14:29] mcoker opened #1678 "Extend page logo area to accommodate wider logos"
We should no longer limit the logo image. The width should scale based on the available width in the header.

[2019-04-02 15:43] #1641 closed

[2019-04-02 17:49] mcoker opened #1679 "Add main-content anchor to default page demo"
Looks like `page-demo-default.hbs` is missing `<a id="main-content"></a>`

[2019-04-02 18:54] dgutride commented on #1613
Fixed in #1645

[2019-04-02 18:54] #1613 closed

[2019-04-02 19:33] #1670 closed

[2019-04-02 20:05] christiemolloy commented on #1673
Closing this issue as right now we would have to change these classes to modifiers in order for us to just use td as the target, but we want users to be able to customize these classes..

[2019-04-02 20:05] #1673 closed

[2019-04-02 22:56] mcoker opened #1683 "Dark theme card/button issues"
The way we apply custom variable changes to specific components in light/dark themes doesn't work when the component is nested in the other theme.

For example, the login component uses `%pf-t-dark`, then the main section uses `%pf-t-light`, but since we set custom variable changes for the `pf-c-button` component in `%pf-t-dark`, those changes are persisting when the button is used in `%pf-t-light

[2019-04-03 14:05] katierik commented on #1390
Hi all - Wanted to throw one more use case into the mix here that @jknilans brought up.
This is the case where the alert/notification is inline, and required to be on a white background. The proposed design looks a little odd (since there is no definition around it). This is the proposal that Josh & I noodled around with:

![Screen Shot 2019-04-03 at 9 57 19 AM](https://user-images.githubuserconte