[2015-01-07 12:19] andreasn opened #44 "checkboxes and radio buttons not hidpi aware"
Tried patternfly on a HiDPI/Retina screen (3200x1800 on 13") and everything look good, except for the checkboxes and radio buttons, at least on Firefox.

Checkbox from Cockpit:

![screenshot from 2015-01-07 10 52 27](https://cloud.githubusercontent.com/assets/209895/5645432/88658866-966f-11e4-8b53-d860c38b18ff.png)

Radio button from https://www.patternfly.org/wp-content/uploads/patternfly/tests/f

[2015-01-07 14:26] rhamilto commented on #44
@andreasn, your OS is Linux?  That same form looks fine in Firefox on OS X Yosemite on my MacBook Pro with Retina Display.  My guess is this is an issue with Firefox on your OS.

[2015-01-07 15:58] stefwalter commented on #44
Firefox on RHEL/Fedora is one of our our main browser targets for Cockpit. I guess we have to come up with a work around?

[2015-01-07 16:08] rhamilto commented on #44
@stefwalter I am unable to reproduce the bug, which makes it hard to troubleshoot.  If I run Firefox in RHEL 7 or Fedora 20 via Parallels with retina resolution enabled on my MacBook, I don't see the issue.  :/  Nothing in PatternFly is manipulating the size of checkboxes or radio buttons.  Does the issue also exist on Bootstrap's site (see http://getbootstrap.com/css/#forms-controls)?

[2015-01-08 14:26] andreasn commented on #44
Yeah, this is Fedora 21 with Firefox 34.
I do indeed see the same issue on Bootstrap.

[2015-01-08 14:27] andreasn commented on #44
Will test more and look around if this is a known Firefox or Linux bug.

[2015-01-08 14:29] andreasn commented on #44
This issue also appears on http://www.w3schools.com/Html/tryit.asp?filename=tryhtml_checkbox so it seems like it's outside of Patternfly's control.
Closing.

[2015-01-08 14:29] #44 closed

[2015-01-08 14:33] andreasn commented on #44
Also noted that checkboxes works in other browsers, such as Epiphany on Fedora 21, so will file this as a Firefox bug.

[2015-01-08 15:05] rhamilto commented on #44
Thanks, @andreasn!

[2015-01-22 10:36] stefwalter opened #45 "placeholder text makes input field look disabled"
Having placeholder text in an input field makes it look disabled. The port fields in the screenshot (with *none* placeholders) do not look like I can type into them because their contents are the same grey as a disabled field (eg: the disabled 'TCP' dropdown).

![screenshot from 2015-01-22 11 33 39](https://cloud.githubusercontent.com/assets/795070/5854137/e5cf3846-a22a-11e4-8daf-c269bee37c56.png)

[2015-01-23 13:26] andreasn opened #46 "input boxes with error changes to non-error on hover"
On http://getbootstrap.com/css/#forms-control-validation the input with error is all red, also on hover.
However, with Patternfly, the input changes color on hover. https://www.patternfly.org/widgets/#forms

Should it have a rule about the hover state for the has-error class specifically, so it doesn't get overrun by the regular input boxes hover?

[2015-01-23 16:56] mcarrano commented on #45
I think that you make a good point about the visual appearance of the placeholder text, and this is something we can consider updating in the future. However, I do have a question about your usage of placeholder text here. Typically this is used to include and instruction in a field when there is not space for a label outside the field. In this case, I'm not sure about the meaning of the work "non

[2015-01-23 19:34] stefwalter commented on #45
@andreasn do you have an answer to the above?

[2015-01-26 16:34] andreasn commented on #45
sure, so the idea is that certain docker images have ports they want to expose. For example this wordpress docker iamge: https://registry.hub.docker.com/u/tutum/wordpress/dockerfile/ wants to expose ports 80 and 3306.
So, we make two rows for these, the initial values are that, unless specified, these won't get bound to anything on the host, hence the indicator "none". I could choose to bind only

[2015-01-26 16:41] andreasn opened #47 "disabled variants of btn-danger and btn-primary are colorless"
Ran into a situation where I needed a bunch of btn-danger together, but some of them disabled. I noticed that the disabled ones were colorless.
Feature or bug?

[2015-01-26 16:57] rhamilto commented on #47
Feature.  Disabled buttons are always colorless.

[2015-01-26 16:57] #47 closed

[2015-01-26 17:26] mcarrano commented on #45
Yes, I think so.  If I understand correctly, the user can enter a value to set this, or leave it blank, right?  I think this makes better sense.  Do you agree?

----- Original Message -----
From: "andreasn" <notifications@github.com>
To: "patternfly/patternfly" <patternfly@noreply.github.com>
Cc: "mcarrano" <mcarrano@redhat.com>
Sent: Monday, January 26, 2015 11:34:24 AM
Subject: Re: [patternfly]

[2015-01-30 16:39] rhamilto commented on #46
Thanks, @andreasn.  I've fixed the issue.

[2015-01-30 16:39] #46 closed

[2015-02-12 11:56] andreasn opened #49 "has-warning and btn-warning doesn't match"
On bootstrap.org label-warning uses #F0AD4E and  has-warning input uses the color #8A6D3B
http://getbootstrap.com/components/#labels
http://getbootstrap.com/css/#forms-control-validation

Patternfly use the stronger, more orange #EC7A08 for label-warning, but still use #8A6D3B for the has-warning input.
https://www.patternfly.org/widgets/#labels
https://www.patternfly.org/widgets/#forms

[2015-02-12 11:57] andreasn commented on #49
What about using something like #c56e17 for has-warning?

[2015-02-12 15:58] kybaker commented on #49
We should use the warning color in the PF palette to be consistent. Border:#ec7a08, Outer-glow:#f4aa00

I did a mockup for it: https://dl.dropboxusercontent.com/u/5892944/Warning-field.png

[2015-02-12 17:09] rhamilto commented on #49
@kybaker, we also need to specify a label color.  I'm not sure the default warning color will provide enough contrast when used for text.  See https://www.patternfly.org/wp-content/uploads/patternfly/tests/forms.html for a live example.  Want to specify something?
![screen shot 2015-02-12 at 12 06 27 pm](https://cloud.githubusercontent.com/assets/895728/6172586/c783b3c2-b2af-11e4-9f84-18b1522d468d

[2015-02-12 17:24] rhamilto commented on #49
It occurred to me to just mock it up.  Thoughts?

![screen shot 2015-02-12 at 12 23 38 pm](https://cloud.githubusercontent.com/assets/895728/6172928/03e31f04-b2b2-11e4-8c08-c14f7b21da44.PNG)

[2015-02-12 18:04] kybaker commented on #49
@rhamilto I think it is enough, just as much contrast as the green. Additionally we will not be displaying large paragraphs in this color so fatigue is not an issue.

[2015-02-12 18:34] rhamilto commented on #49
Fixed.  https://github.com/patternfly/patternfly/commit/6d945e0a177e37d4d73e0960af00719c177385c2

[2015-02-12 18:34] #49 closed

[2015-02-13 10:31] andreasn commented on #49
Thanks for the quick fix!

[2015-02-18 11:37] andreasn opened #50 "Error in dropdown"
We have a form in Cockpit where if nothing is selected in the dropdown, gives you an error and a small note that you need to select something in this dropdown, similar to the text fields.
This could probably be of use to the rest of patternfly as well.

The css is:
.has-error > .bootstrap-select > button > span {
color: #A94442;
}

[2015-02-23 14:24] rhamilto commented on #45
@andreasn @stefwalter Checking in with you.  What did you guys decide?

[2015-02-23 14:25] rhamilto commented on #50
Thanks, @andreasn.  This is a great suggestion.  I'll add this to the PatternFly backlog.

[2015-03-11 17:32] rhamilto commented on #50
So that we're consistent with the way validation states work on &lt;select&gt;s, I think we really want something like this.

![screen shot 2015-03-11 at 1 31 07 pm](https://cloud.githubusercontent.com/assets/895728/6602616/f3231646-c7f2-11e4-9a25-d23d95a8d5c1.PNG)

Yea/nay?

[2015-03-11 17:34] kybaker commented on #50
This is consistent with the field states which is what we want. Yay

Kyle

----- Original Message -----

[2015-03-11 17:41] mcarrano commented on #50
So we're saying that the border color of the dropdown would change just as if it were a text field when there is a validation error?  Yes, that makes sense to me.

Matt

----- Original Message -----
From: "kybaker" <notifications@github.com>
To: "patternfly/patternfly" <patternfly@noreply.github.com>
Sent: Wednesday, March 11, 2015 1:34:32 PM
Subject: Re: [patternfly] Error in dropdown (#50)

This

[2015-03-13 19:40] andreasn commented on #50
Looks good.

[2015-03-13 20:06] rhamilto commented on #50
Added validation states for Bootstrap-selects
https://github.com/patternfly/patternfly/commit/0f6db28656cd74d3835141ab75c836411b0d8b2d

[2015-03-13 20:06] #50 closed

[2015-03-17 15:55] andreasn opened #51 "support for modal-sm"
I have a dialog in Cockpit where the default dialog width of 600px is waaay to wide.
Bootstrap have a class called modal-sm that sets the width of the dialog to 300px, but this doesn't seem to work in Patternfly.
Would it be possible to add support for this?
http://getbootstrap.com/javascript/#modals-sizes

[2015-03-17 16:36] rhamilto commented on #51
@andreasn, modal sizes definitely work in PatternFly.  Are the contents of your modal forcing its width?

[2015-03-18 10:53] andreasn commented on #51
I found the code for it now, and it is indeed there, I was using an old version of patternfly.
Closing.

[2015-03-18 10:53] #51 closed

[2015-03-19 10:35] lfryc opened #52 "Release new version with Google Code Prettify included"
Could you please $SUBJ$? :rocket:

[2015-03-19 12:56] rhamilto commented on #52
@lfryc I'm not sure when I'll have time to cut a new release, but GCP is in the master branch.  If you pull the latest, you should get the relevant bits.  How are you consuming PatternFly?  Git, Bower, or RPM?

[2015-03-19 13:46] lfryc commented on #52
Bower - sure, I will grab master, just to let you know there is a desire to get the release cut in a foreseeable future :-)

[2015-03-26 10:01] mvollmer opened #53 ".glyphicon has unexpected "top" style."
patternfly.css 1.1.3 contains this snippet:

[code]

The "top: 1px" causes a button with a glyphicon to be out of alignment (see screenshot).

The HTML for the buttons in the screenshot:

[code]

We are working around this with this CSS:

[code]

What's your recommendation?

![glyphbutton](https://cloud.githubusercontent.com/assets/3228183/6843862/60e5e89e-d3af-11e4-9d83-39d64c4eea61.png)

[2015-03-26 13:45] rhamilto commented on #53
@mvollmer, Put the glyphicon in its own html element.  See http://getbootstrap.com/components/#glyphicons-examples

[2015-03-26 19:29] rhamilto commented on #52
https://github.com/patternfly/patternfly/releases/tag/v1.1.4

RPM and web site updates to follow.

[2015-03-27 07:39] mvollmer commented on #53
Ok, thanks!

[2015-03-27 07:39] #53 closed

[2015-03-31 13:51] rhamilto commented on #52
RPM available at https://copr.fedoraproject.org/coprs/patternfly/patternfly1/build/83474/

[2015-03-31 13:51] #52 closed

[2015-03-31 13:52] rhamilto commented on #45
Closing for lack of activity.

[2015-03-31 13:52] #45 closed

[2015-04-01 06:18] lfryc commented on #52
Thanks Robb!

[2015-04-12 12:03] xtrasmal opened #57 "Dashboard widgets"
Hi there,

What are the libraries behind the dashboard graph? Right now they are just images, but I would like to implement these, so could you please tell me?

[2015-04-13 13:16] rhamilto commented on #57
hi, @xtrasmal.  we're still working on implementing charts in patternfly and are hoping to finalize things over the next month. there is an experimental branch with the leading candidate charting library, c3.js, available at https://github.com/patternfly/patternfly/tree/c3 if you want to see the direction we're heading.  we're still planning some changes to the look and feel in this branch, and th

[2015-04-13 14:31] xtrasmal commented on #57
That is really amazing. Thank you very much. I've been looking at building the charts for the dashboard for 1,5 years at least :dancer:

[2015-04-13 14:31] #57 closed

[2015-04-15 10:47] xtrasmal opened #58 "Javascript Libraries"
Hi there,

is there a list of javascript libraries that will be included in the future? Things like the c3js library?
I ask this, because it could happen that some systems require documents need to be uploaded, or images even. Imagine a whitelabel enabled reseller SAAS dashboard for instance.
In that case, what image uploading libraries would one use?

[2015-04-15 10:54] xtrasmal opened #59 "Extended form controls"
Hi there,

What libraries are going to be included for extended form controls, like
- range-sliders
- on/off toggle

and other stuff that would be nice in a app where you can scale infrastructure by hand.

[2015-04-15 11:38] andreasn opened #60 "very slim dropdown of combobox"
Compared to the bootstrap-select widget the dropdown of the bootstrap-combobox is very slim.
Setting the width of .dropdown-menu to 100% seems to do the trick.

[2015-04-15 11:38] andreasn commented on #60
![screenshot from 2015-04-15 13 28 09](https://cloud.githubusercontent.com/assets/209895/7157946/b437cd30-e374-11e4-87cd-586300f2c3c9.png)

[2015-04-15 11:43] andreasn opened #61 "text-cursor on bootstrap-combobox dropdown"
The cursor changes to `cursor: text;` on the bootstrap-combobox instead  of `cursor: pointer;` like other patternfly dropdowns.

[2015-04-15 11:45] andreasn commented on #61
[code]

should fix that.

[2015-04-15 11:48] stefwalter commented on #60
In addition, try resizing your window so that the drop down is near the bottom. All hell breaks loose with scrollbars:

![screenshot from 2015-04-15 13-48-37](https://cloud.githubusercontent.com/assets/795070/7158066/26275888-e376-11e4-8358-bf5fea9888bc.png)

[2015-04-15 13:13] xtrasmal opened #62 "Gulp vs Grunt"
Can we switch from Grunt to Gulp?
https://medium.com/@preslavrachev/gulp-vs-grunt-why-one-why-the-other-f5d3b398edc4

[2015-04-15 13:19] rhamilto commented on #61
@andreasn, the cursor changing on hover of the &lt;input type="text"&gt; of the combobox is by design in order to indicate that input accepts text entry. Changing the cursor would eliminate this affordance.

[2015-04-15 13:19] #61 closed

[2015-04-15 13:22] rhamilto commented on #58
hi, @xtrasmal.  I don't have a specific answer to your question, but you can see the PatternFly reference implementation backlog at https://trello.com/b/Hz3Nmwk4/patternfly-reference-implementation.  The backlog is where we define what work is planned and includes the known details associated with each feature, enhancement, or bug fix.

[2015-04-15 13:22] #58 closed

[2015-04-15 13:25] rhamilto commented on #59
hi, @xtrasmal.  As I mentioned in https://github.com/patternfly/patternfly/issues/58, you can see the backlog at https://trello.com/b/Hz3Nmwk4/patternfly-reference-implementation.  While we have no defined plans for range-sliders or on/off toggles, you're welcome to suggest such things by emailing the community at patternfly@redhat.com.

[2015-04-15 13:25] #59 closed

[2015-04-15 13:32] rhamilto commented on #60
@andreasn Good observation.  I've added a card to the backlog for this. https://trello.com/c/wLzWVhEs/61-make-boostrap-combobox-dropdowns-the-full-with-of-the-combobox-so-that-they-re-consistent-with-boostrap-selects

@stefwalter I'm unable to reproduce your bug using https://rawgit.com/patternfly/patternfly/master/tests/bootstrap-combobox.html.  Do you see the same behavior using the aforemention

[2015-04-15 13:34] rhamilto commented on #62
hi, @xtrasmal.  It's something we'll definitely consider, but I can't promise we'll make the switch or do so anytime soon.  Given that we're already using Grunt and it meets our needs, I can't imagine we'll prioritize switching to Gulp over new work.

[2015-04-16 08:18] stefwalter commented on #60
Nope, I don't see it there. I do see the pop-under vs. pop-over behavior. Normal browser combo boxes overlap the browser's edge as you would expect. But not sure this can be fixed.

[2015-04-16 08:19] stefwalter opened #63 "Ugly looking alert octagon exclam icons"
Unfortunately, the alert octagon exclam icons look misaligned and quite amateur when rendered on Linux. I would suggest not using overlay at all to get consistent behavior across browsers and operating systems.

![screenshot from 2015-04-16 10-17-06](https://cloud.githubusercontent.com/assets/795070/7176824/0ec86388-e422-11e4-89a3-5afe042890f1.png)

[2015-04-16 11:43] gregsheremeta commented on #63
+1. I also noticed that it looks bad on Linux.
On Apr 16, 2015 4:20 AM, "Stef Walter" <notifications@github.com> wrote:

[2015-04-16 13:16] kybaker commented on #63
Good catch, we are currently in the process of updating this icon and a few others.

[2015-04-16 14:08] rhamilto commented on #60
Fixed.  https://github.com/patternfly/patternfly/commit/1e1336f75560f4de4cc5f31bc70a290ba6340a25

[2015-04-16 14:08] #60 closed

[2015-04-16 14:41] rhamilto commented on #63
Added to the backlog:  https://trello.com/c/8j9VetNK/62-improve-appearance-of-pficon-layered-pficon-pficon-error-octagon-pficon-pficon-error-exclamation-on-linux

[2015-04-29 10:18] stefwalter opened #65 "Too much margin after bootstrap-select control"
The bootstrap-select control has a 10px margin-bottom. This causes help-block not to be displayed together with the control.

![screenshot from 2015-04-29 12-18-36](https://cloud.githubusercontent.com/assets/795070/7388951/df7691a2-ee69-11e4-97a9-bc47e078d40c.png)

[2015-04-29 10:23] stefwalter commented on #65
Either one of these should fix the issue:

[code]

[code]

[2015-04-29 19:35] rhamilto commented on #65
Thanks, @stefwalter.  I've added this to the backlog.  https://trello.com/c/oT0vkbr9/67-too-much-margin-after-bootstrap-select-control

[2015-05-04 16:50] #65 closed

[2015-05-06 08:22] stefwalter opened #66 "Sidebar code fails if no navbar"
In Cockpit we have the navbar in an outer frame, rather than in the document itself. The sidebar logic looks for this before setting the height of ```.sidebar-pf```:

[code]

This causes the sidebar not to work, unless we put an invisible hack of a navbar inside the document. Is there a better way to determine whether we're on mobile or not?

[2015-05-06 08:24] stefwalter commented on #66
Code in question: https://github.com/patternfly/patternfly/blob/bf6b9f60c5dcab7e69c92202d043d99534126790/dist/js/patternfly.js#L5

[2015-05-06 09:31] andreasn opened #67 "Content jumps when opening a dialog"
The content of the browser jumps a bunch of pixels to the right when a dialog opens.
![content-shift](https://cloud.githubusercontent.com/assets/209895/7490745/5ce2c466-f3e3-11e4-9a8e-79948520ddb4.png)

[2015-05-06 14:45] rhamilto commented on #67
This is a bug in Bootstrap 3.1.1, which is the version PatternFly is currently using.  https://github.com/twbs/bootstrap/issues/9855  Updating to Bootstrap >= 3.2 resolves the bug.  Given upgrading Bootstrap could have unknown consequences, we'll have to wait to upgrade until we can fully test any possible resulting issues.

[2015-05-06 15:19] rhamilto commented on #66
@stefwalter Outer frame as in an html frame or iframe element?

[2015-05-06 15:25] rhamilto commented on #67
Added to backlog. https://trello.com/c/YM5awliO/68-update-bootstrap-to-3-2-or-greater-to-resolve-modal-bug

[2015-05-06 16:39] andreasn commented on #67
Thanks!

[2015-05-06 17:04] stefwalter commented on #66
The sidebar, as well as other content, is in an iframe element that takes up the majority of the browser's viewport.

[2015-05-07 10:03] xtrasmal opened #68 "Website down?"
Hi there,

Seems like the website is down.. maybe maintenance.. But I miss it nevertheless.
Might be a good idea to move the Patternfly website to some RHEV managed cluster! :dancer: :smile:

[2015-05-07 11:57] gregsheremeta commented on #68
... like OpenShift? :)

(/sarcasm -- it's on OpenShift. And back up now.)

[2015-05-07 11:57] #68 closed

[2015-05-07 14:10] rhamilto commented on #66
So the navbar is in a separate html document?  If so, the existing solution will not work regardless as it assumes the navbar and sidebar are in the same document.

[2015-05-07 14:58] EmilyDirsh commented on #66
The existing test is pretty hack-y anyway. It'd be better to use matchMedia to test for the appropriate breakpoint.

[2015-05-13 15:07] rhamilto commented on #67
This is fixed by the update to Bootstrap 3.3.4.

[2015-05-13 15:07] #67 closed

[2015-05-19 19:14] rhamilto commented on #66
@stefwalter given your use case, I'm going to close this issue.  I can't imagine we'll want to support splitting the navbar and page contents into separate frames.

[2015-05-19 19:14] #66 closed

[2015-05-20 04:42] stefwalter commented on #66
I guess we have to go beyond PatternFly "supports" here.

[2015-05-20 15:24] gregsheremeta opened #70 "mixed IE8 support"
PatternFly says
[code]
This includes IE8.

However, the dependency tree pulls in jquery > 2, which is not IE8 compatible.

PatternFly should explicitly pull in jquery < 2.

[2015-05-20 18:28] rhamilto commented on #63
The design of the error and warning icons was changed to better align with the ok and info icons as well as render better on Linux.

[2015-05-20 18:28] #63 closed

[2015-05-20 18:51] rhamilto commented on #70
Good point, @gregsheremeta!  I've set PatternFly to explicitly use 1.11.3 as it was inheriting 2.x from Bootstrap.

[2015-05-20 18:51] #70 closed

[2015-05-26 08:03] stianst opened #71 "Date picker"
Add a pattern/widget for inputting dates and times

[2015-05-26 12:47] rhamilto commented on #71
Thanks, @stianst.  There is a Trello card for this feature at https://trello.com/c/sOdlDeVm/51-date-picker if you want to keep track of this feature request.

[2015-05-26 13:15] stianst commented on #71
@rhamilto until this is added we've considered using https://angular-ui.github.io/bootstrap/ - one issue with eternicode/bootstrap-datepicker might be angularjs support

[2015-06-02 07:26] stianst commented on #71
@rhamilto any clue when this will be added?

[2015-06-02 10:44] andreasn commented on #61
Returning to this, since I ran into it again today.
On the text part of the dropdown, it would have cursor: text; , only the little dropdown arrow would have cursor: pointer; with the code above. So the accordance would still be there for the part of the widget that accepts text.
![text-n-pointer](https://cloud.githubusercontent.com/assets/209895/7934130/0bcfbf3c-0925-11e5-9afe-6c5a37e9bbb2.png)

[2015-06-02 11:14] xtrasmal commented on #71
Surely it would be better to use a solution that is not based on Angular or any other javascript framework. As we speak, there is something going on in front-end land. Angular is hitting the point where it's releasing version 2.0. Which is a complete overhaul.
While this is happening, people around the world are looking for new frameworks to try out, before making commitment to Angular 2.0.
ReactJ

[2015-06-02 11:45] stianst commented on #71
No-one suggested it to require any specific framework. However, I need it to work in AngularJS and ideally I don't want to do the wrappers required myself. So using libraries where there already are wrappers for AngularJS is preferred IMO.

[2015-06-04 08:24] macgemini opened #72 "repo down"
Hi the patternfly repo on:
http://copr-be.cloud.fedoraproject.org/results/patternfly/patternfly1
is down.

Br,
Mac

[2015-06-04 14:22] rhamilto commented on #72
Sorry, @macgemini.  There must've been an issue with Fedora Copr.  It's back now.

[2015-06-04 14:22] #72 closed

[2015-06-05 20:01] stefwalter opened #74 "pficon-service has poor complex typography"
The pficon-service icon has complex double lines, and path overlaps, which cause it to render poorly at anything but the largest scales.

[2015-06-05 20:02] stefwalter commented on #74
@serenamarie125 @abonas CC.

[2015-06-05 20:02] stefwalter commented on #74
Example of rendering:

![screenshot from 2015-06-05 22-00-38](https://cloud.githubusercontent.com/assets/795070/8014151/98baab68-0bce-11e5-9eb5-dc215113e84d.png)

[2015-06-05 20:04] stefwalter commented on #74
Example of a fixed icon:

![layer1](https://cloud.githubusercontent.com/assets/795070/8014183/dd0371c4-0bce-11e5-81e8-8f98e6590390.png)

[2015-06-05 20:14] serenamarie125 commented on #74
@stefwalter , i'm checking with Kyle now.  I think that treatment was added intentionally, but will find out and get back to you.  The original icon was fixed, but it was modified.

[2015-06-05 20:19] kybaker commented on #74
@serenamarie125 the fixed icon stefwalter showed above is how it should look and how I built it. My guess is the issue he pointed out is an artifact of rendering the font.

https://dl.dropboxusercontent.com/u/5892944/service.svg

[2015-06-05 20:43] serenamarie125 commented on #74
@stefwalter , sorry for the bad info.  Does this happen when you are using any of our other pficons?

[2015-06-05 21:45] rhamilto commented on #74
This was a problem with the source artwork (svg) where the shapes were not combined.

![screen shot 2015-06-05 at 5 30 00 pm](https://cloud.githubusercontent.com/assets/895728/8015846/660267de-0baa-11e5-8942-a0fdae735a76.PNG)

I've corrected the source artwork and re-generated the font.

![screen shot 2015-06-05 at 5 35 43 pm](https://cloud.githubusercontent.com/assets/895728/8015861/8f63913e-0baa

[2015-06-05 21:45] #74 closed

[2015-06-06 02:43] serenamarie125 commented on #74
thanks @rhamilto !

[2015-06-06 05:52] stefwalter commented on #74
Thanks @rhamilto for the quick fix.

[2015-06-08 12:18] stefwalter opened #75 "class*="-exclamation" affects other stylesheets"
The following rule in ```less/icons.less``` affects other projects classes and seems to be needlessly broad:

[code]

In particular in Cockpit it makes certain things show up in white as they change state.

[2015-06-08 12:41] rhamilto commented on #75
Thanks again, @stefwalter.  This is fixed.

[2015-06-08 12:41] #75 closed

[2015-06-08 12:44] stefwalter commented on #75
Thanks!

[2015-06-16 07:18] akurdyukov opened #77 "Please publish package to npmjs.com"
I'd like to use only npm in my project. Please publish patternfly to npmjs.com. It seems to be easy: https://gist.github.com/coolaj86/1318304

[2015-07-01 20:28] erundle commented on #77
I pushed up patternfly 1.3.0 https://www.npmjs.com/package/patternfly

This should work since we have all of our dependencies committed in the components directory. Please take a look and let me know if this works for you.

[2015-07-05 22:53] strig opened #81 "Label inside table CSS"
Labels inside of a table end up with very large text and unaligned with the table rows.

![pfly](https://cloud.githubusercontent.com/assets/1923317/8513789/f42c09bc-2346-11e5-94a6-43c94052d776.PNG)

[2015-07-06 13:27] rhamilto commented on #81
@strig, are you seeing this same behavior on the labels test page at https://rawgit.com/patternfly/patternfly/master/tests/labels.html?

[2015-07-07 02:11] strig commented on #81
No, that looks right to me. Also, the table rows and font are larger somehow.

[2015-07-07 13:25] rhamilto commented on #81
@strig, if https://rawgit.com/patternfly/patternfly/master/tests/labels.html looks right, there must be an issue in your implementation's markup or css.  The font inside the label may appear larger because of the font weight (600 or semi-bold), but it should be the same font size (12px) as the other text in the table.

[2015-07-08 01:44] strig commented on #81
My bad, I was missing a doctype.

[2015-07-08 01:44] #81 closed

[2015-07-08 14:09] rhamilto commented on #81
@strig, glad you figured it out.  :)

[2015-07-15 19:02] rhamilto commented on #77
https://github.com/patternfly/patternfly/commit/5b761bfdb7abb314e795de5aed3ee287f550b656

[2015-07-15 19:02] #77 closed

[2015-07-22 14:14] fabm22 opened #84 "Improvement : A yeoman generator app"
The idea behind patternfly is a missing block the current web is (was) missing. So it's great having such approach promoting latest web technologies in a cohesive UX way.

Following the "best practices" approach patternfly promotes, it would be a good idea I think to have a yeoman generator (actually 2 if we count a angularJS one) (http://yeoman.io/generators/) to generate an app and possibly some

[2015-07-23 13:44] rhamilto commented on #84
@fabm22, a similar request was made over email.  We're planning to discuss it sometime next week.  Would you like to join the conversation?

[2015-07-23 13:47] rhamilto commented on #71
Given PatternFly is a jQuery-dependent library and is still supporting less than modern browsers, we've chosen to implement Bootstrap-datepicker (see https://github.com/patternfly/patternfly/commit/96ab74d2948c4641befca41e120d1bd1f589b2ce).  That said, https://github.com/patternfly/angular-patternfly is looking to cover the needs of those of you using Angular 1.x.

[2015-07-23 13:47] #71 closed

[2015-07-23 17:46] erundle commented on #71
I am working on an angular directive to wrap this component as we speak so I will be looking to release it as part of angular-patternfly shortly

[2015-07-30 07:43] skateman opened #85 "Single file version"
So after 2 days of experimenting I've decided to give up on merging the `patternfly.less` and `patternfly-additions.less` files. @rhamilto I need one file, maybe `patternfly-single.less` which I can convert to SASS without having any static SASS in my code.

[2015-07-30 13:25] rhamilto commented on #85
@skateman, will you still be able to output multple CSS files to avoid the IE9 limitation?

[2015-07-30 13:44] skateman commented on #85
@rhamilto yes

[2015-07-30 14:06] #85 closed

[2015-08-13 08:22] skateman opened #93 "DataTables lengthMenu support"
http://datatables.net/reference/option/lengthMenu

[2015-08-13 12:15] rhamilto commented on #93
@skateman, can you elaborate on what is needed?  PatternFly includes DataTables 1.10.7, which supports the lengthMenu option.

[2015-08-13 14:23] skateman commented on #93
This option is missing from the patternfly version:
![screenshot from 2015-08-13 16-20-04](https://cloud.githubusercontent.com/assets/649130/9252182/64fb424e-41d7-11e5-98ff-d4c26891a2d0.png)

[2015-08-13 16:01] rhamilto commented on #93
Ah.  Thanks for clarifying, @skateman!

PatternFly's recommended implementation of datatables excludes the length option.  However, it's easily added by initializing data tables using your own js.

See https://github.com/patternfly/patternfly/blob/master/dist/js/patternfly.js#L82 and http://legacy.datatables.net/ref#sDom for details on how to change the configuration of the data tables header.

[2015-08-13 16:01] #93 closed

[2015-08-24 14:57] serenamarie125 opened #100 "Dashboard Card - change font-weight to 400 for card-pf-title"
Currently card-pf-title has font weight of 300 ( light ).  Please change it to 400 ( medium ), as this is what Kyle specified.

[2015-08-24 17:29] rhamilto commented on #100
Fix added and merged.

[2015-08-24 17:29] #100 closed

[2015-08-25 17:38] rhamilto commented on #84
This work is planned.  Watch https://github.com/patternfly/generator-patternfly as development will happen there.

[2015-08-25 17:39] rhamilto commented on #62
Closing for lack of activity.

[2015-08-25 17:39] #62 closed

[2015-08-27 13:24] skateman opened #103 "Important mixins"
Hello!

Currently sass doesn't supports `!important` calls on mixins and now the CSS generation in `patternfly-sass` fails because of [this](https://github.com/patternfly/patternfly/blob/master/less/bootstrap-datepicker.less#L7). I temporarily solved this problem by [removing](https://github.com/skateman/patternfly-sass/commit/c5c4cd6334181bdcdf592b9014954b2a0c93ded4) the `!important` keyword and

[2015-08-31 09:04] fabm22 commented on #84
Amazing !

[2015-09-01 13:26] #103 closed

[2015-09-01 13:29] skateman commented on #103
^^ :+1:

[2015-09-02 16:21] serenamarie125 opened #106 "Donut Chart - color change request"
When Donut Charts use thresholds, currently blue when the value has not reached warning or error.  Based on usability testing, the blue should be changed to green.  Please change it to HEX 3f9c35, per Kyle's specification.

Note that when no thresholds are used, the current blue color should still be used.

This needs to be changed in the PF site @rhamilto @LHinson for both Donut Chart & Utilizati

[2015-09-02 17:19] LHinson commented on #106
Currently there are no visuals for thresholds on https://www.patternfly.org/patterns/donut-chart/. If we are going to include threshold color examples, we should also add visuals for the threshold indicators while we are at it. Documentation currently states visuals for thresholds are TBD. @kbaker @serenamarie125

[2015-09-02 17:45] kybaker commented on #106
I am not clear how thresholds should be visualized. Shouldn't we just change the blue to green here? I was under the impression showing x of x then having the donut change color was a threshold. https://www.patternfly.org/patterns/donut-chart/

[2015-09-02 18:11] LHinson commented on #106
@kybaker see #5 and #6 here: https://www.patternfly.org/patterns/donut-chart/ The inidcators are described as "tick marks" on the chart in the docs.

[2015-09-02 18:13] dtaylor113 commented on #106
This is what we show in our angular-patternfly ng-docs:

[image: Inline image 1]

[image: Inline image 3][image: Inline image 4]
Where I think we want this last "Ok" to be green instead of blue.  Blue
should only be shown when there are no thresholds set.
- Dave

On Wed, Sep 2, 2015 at 1:45 PM, Kyle Baker <notifications@github.com> wrote:

--
Dave Taylor
Principle Software Engineer
(978) 392 - 101

[2015-09-02 18:16] dtaylor113 commented on #106
The "tick marks" have not been implemented yet, but I think Serena is just
talking about changing the usage arc from blue to green.
- Dave

On Wed, Sep 2, 2015 at 2:11 PM, Leslie <notifications@github.com> wrote:

--
Dave Taylor
Principle Software Engineer
(978) 392 - 1016

[2015-09-02 18:21] LHinson commented on #106
Preferably, I'd like to address all the updates (color and tick marks). Otherwise, I will be revisiting this page again in the near future. Plus, it would be nice to have visuals for the documentation that is there vs "(visuals tbd)"

Are we blocked on creating the visuals for tick marks for some reason @serenamarie125 @kybaker ?

[2015-09-02 18:25] kybaker commented on #106
@LHinson if @serenamarie125 thinks we need them and she has not already designed something I will add them to the list to work on.

[2015-09-02 22:13] serenamarie125 commented on #106
@lhinson, I disagree about waiting to change the color until we have a decision on threshold indicators.  Although we had input saying that many wanted them, we need to come up with some designs and test them.  Much more time consuming than changing an RGB :)

I'll add a trello card for threshold indicators.

[2015-09-02 22:16] serenamarie125 commented on #106
@dtaylor113, yes I am talking about the full color of the usage arc in the chart.  Sorry if there was confusion.

[2015-09-02 23:05] jeff-phillips-18 opened #108 "Clickable toolbar items should use hand cursor to indicate clickability"
Items in the toolbar that can be clicked to perform an action should use a hand cursor. Clickable items include:

x icon on an active filter
Clear All Filters button
View Selection buttons

[2015-09-03 13:32] LHinson commented on #106
- Utilization Card [1] and Donut charts [2] visuals have been updated.
- Donut Chart [2] docs have also been updated.

[1] https://www.patternfly.org/patterns/utilization-card/
[2] https://www.patternfly.org/patterns/donut-chart/

Thanks!

[2015-09-03 13:42] LHinson commented on #106
Also see: https://www.patternfly.org/whats-new/

[2015-09-03 13:51] jeff-phillips-18 commented on #108
They are there, not sure what I was seeing.

[2015-09-03 13:51] #108 closed

[2015-09-03 17:17] psiroky opened #110 "Patternfly available in maven repository?"
Hello,

I would like to ask if there are any plans to make PatternFly releases available through Maven repository?

I know PatternFly is not a Java project. However, I believe it would make it much easier for Java users (using Maven) to consume the zips since lot of them are using Maven for managing dependencies.

Thanks for any response,
Petr

[2015-09-03 17:59] rhamilto commented on #110
Hi, Petr.

We do not have any plans to make PatternFly available through Maven at this time.  But, if you or someone else would like to lead such an effort, we will certainly entertain the option.

Thanks,
Robb.

[2015-09-04 13:03] dtaylor113 commented on #106
@dtaylor113 closed #106 via 95926eed50aaf0b45e8778f0178e91e0c5510382

[2015-09-04 13:03] #106 closed

[2015-09-04 13:17] tristantarrant opened #111 "Add patternfly-additions.css to bower.json main section"
The patternfly bower.json main section doesn't declare patternfly-additions.css, therefore when using a tool like main-bower-files, the file is not copied to the appropriate project destination

[2015-09-09 17:59] psiroky commented on #110
There is a quite nice service at http://www.webjars.org/npm which lets you create jars from the NPM packages with just few clicks of mouse. I've created one for patternfly 2.1.0 and it was uploaded to Maven Central: http://search.maven.org/#artifactdetails%7Corg.webjars.npm%7Cpatternfly%7C2.1.0%7Cjar.

This could be a way to easily distribute the PatternFly release fro consumption by Maven. The co

[2015-09-11 12:57] #111 closed

[2015-09-11 17:38] rhamilto commented on #110
That's great, Peter!  Given that this tool exists and we already publish PatternFly via npm and Bower, it seems like anyone can add new versions of PatternFly to Maven Central?  Is there anything more for us to do to support this?

[2015-09-14 09:38] i4snow opened #115 "Datatable code can not be entirely copied."
hey, when I want to copy the code in "Widget" > "Javascript" > "Data Tables", it could no be entirely copied.

[2015-09-14 09:39] i4snow commented on #115
Could you offer a button for copy?

[2015-09-14 13:02] rhamilto commented on #115
Hi, @i4snow.  The reference markup for data tables is intentionally truncated so as to make it easier to read and not ridiculously long (you'll note there is an ellipsis before &lt;/tbody&gt;.  If you want an exact copy, try viewing source on https://rawgit.com/patternfly/patternfly/master/tests/datatables.html and copying lines 42-460.

A copy button is a wonderful suggestion.  We're looking at o

[2015-09-15 02:26] i4snow commented on #115
In Chrome

[2015-09-15 02:34] i4snow commented on #115
Thank you @rhamilto.
I don't mean the code is not enough. When I want to copy the data table code, the middle area can't be chosen. Please see the screenshot attached.
Thanks

![image](https://cloud.githubusercontent.com/assets/2161137/9866441/f95b8134-5b94-11e5-8e04-f4b8af9401cf.png)

[2015-09-15 13:19] rhamilto commented on #115
Ah.  Sorry for the confusion, @i4snow.

What version of Chrome are you using?  And on which platform (operating system)?

I am unable to reproduce the bug using Chrome Version 45.0.2454.85 (64-bit) on OS X 10.10.5.

![screen shot 2015-09-15 at 9 16 27 am](https://cloud.githubusercontent.com/assets/895728/9877427/c53947a6-5b8a-11e5-9199-e3533f71d104.PNG)

[2015-09-15 19:15] kybaker opened #118 "Icon colors on Cards layout page"
The shield icon color on the card page should be #333333. This change will make the icons consistent and match the documentation updates.

https://rawgit.com/patternfly/patternfly/master/tests/cards.html

[2015-09-15 20:04] #118 closed

[2015-09-15 20:43] LHinson commented on #118
Image on site also updated. See: https://www.patternfly.org/patterns/aggregate-status-card/

[2015-09-16 03:27] i4snow opened #120 "Is there anything wrong with the "Pattern - Overview" page."
https://www.patternfly.org/patterns/
There is a scrolling issue. When I want to scroll the page, the elemnets will shake.

[2015-09-16 19:29] rhamilto commented on #120
Thanks, @i4snow.  I just applied a fix for the scrolling issue.  Mind testing it out?

[2015-09-22 07:17] lukebrooker opened #121 "Sidebar + Datatable = broken sidebar"
Any reason for this code?

[code]

We have pages that have a sidebar and datatables and this seems to be stopping the sidebar calculate its height on those pages.

Sidenote: flexbox can be used to get this functionality just in CSS.

[2015-09-22 11:28] lukebrooker commented on #121
As soon as you resize the window, it fixes it because of this:

[code]

So not sure why it ignores datatable pages on init.

[2015-09-22 12:21] andreasn opened #122 "Buttons in alerts are misaligned"
I have a case where we throw an alert and have a button to resolve it (in this case it needs to start a system service in order to function properly).

I added the button html, added the class pull-right, but it's all misaligned.
Just to make sure it's no css in cockpit that messes it up, I edited an alert on the patternfly widgets page.

![screenshot from 2015-09-22 14-18-38](https://cloud.github

[2015-09-22 12:50] rhamilto commented on #121
Hi, @lukebrooker.

Sorry for the lack of documentation on this.  We'll address the issue in a forthcoming reboot of the PatternFly site.

That said, the fix is to call sidebar() on callback of the data table initializer.  See lines 589-598 of https://github.com/patternfly/patternfly/blob/master/tests/tab.html#L589.  If this is not done, the sidebar height will be incorrectly calculated as the data

[2015-09-22 12:50] #121 closed

[2015-09-22 12:54] rhamilto commented on #122
Thanks, @andreasn!

Buttons in alerts is not a use case we'd identified, so it's not too surprising that this is a problem. We'll work on getting a fix in.

[2015-09-22 13:17] andreasn commented on #122
Thanks!

[2015-09-23 00:33] lukebrooker commented on #121
I thought it may be something like that.

Thanks.

[2015-09-28 14:54] #122 closed

[2015-10-01 15:43] #120 closed

[2015-10-01 15:44] #115 closed

[2015-10-01 15:51] rhamilto commented on #110
^ @psiroky

[2015-10-01 16:02] psiroky commented on #110
@rhamilto sorry, I forgot about this one. I think the above solution if more than fine (at least for now), so I am closing this issue.

[2015-10-01 16:02] #110 closed

[2015-10-02 18:45] rhamilto opened #128 "Add PatternFly icons character mappings as variables"
In a manner similar to https://github.com/FortAwesome/Font-Awesome/blob/master/less/variables.less

See https://github.com/openshift/origin/pull/4899#discussion_r40979344

cc: @jwforres

[2015-10-02 20:26] jwforres commented on #128
cc @sg00dwin

[2015-10-02 20:26] jwforres commented on #128
@rhamilto yes that is exactly what i was talking about :+1:

[2015-10-06 14:56] #128 closed

[2015-10-07 17:47] erundle opened #132 "FontAwesome path needs updating"
Right now the fontAwesome path of "../../components/font-awesome/fonts" is causing some issues if you try and use patternfly.css out of box due to the "../../" You need to make sure your CSS is down 2 levels deep which isn't always possible of you need to override the FontFace Declaration.

For a 3.0 release I would suggest we copy the FontAwesome fonts to dist/fonts/ via grunt and just change the

[2015-10-07 17:54] rhamilto commented on #132
Agreed.  I've planned to do such in my 3.0.0 dev branch.  :)

[2015-10-07 17:55] erundle commented on #132
Awesome!

[2015-10-15 14:50] rhamilto opened #141 "IMPORTANT: see the official bug list"
https://patternfly.atlassian.net/browse/PTNFLY-724?filter=10300

[2015-10-21 19:58] rhamilto commented on #132
This will be fixed by https://patternfly.atlassian.net/browse/PTNFLY-42

[2015-10-30 09:07] crudbug opened #149 "Design Kit for Wireframes"
Is there a plan to publish design toolkit for sketch / illustrator/ ? for creating wireframes. This will really help in accelerating workflows.

http://grommet.io from HP has taken this approach - Design + Develop.

http://grommet.io/docs/design/resources

[2015-10-30 13:26] rhamilto commented on #149
@LHinson and @serenamarie125, y'all want to answer this one?

[2015-11-02 03:38] serenamarie125 commented on #149
@crudbug @rhamilto @LHinson I've created a story in JIRA capturing the issue.  We need to do some further investigation and determine where it fits in our priorities.

@crudbug you can track the story here: https://patternfly.atlassian.net/browse/PTNFLY-785. Thanks for inquiring, this is something that we have discussed.

[2015-11-02 14:23] mcarrano commented on #149
For anyone is using Balsamiq Mockups to create wireframes, I have created a
template that includes most common Patternfly widgets as symbols.  I'd be
glad to share that with anyone who is interested.

-Matt

On Sun, Nov 1, 2015 at 10:38 PM, Serena Chechile Doyle <
notifications@github.com> wrote:

--
Matt Carrano
Sr. Interaction Designer
Red Hat, Inc.
mcarrano@redhat.com

[2015-11-02 17:48] crudbug commented on #149
@rhamilto  @serenamarie125 thanks for looking into this. We have started an internal project, and this will surely speedup things on the design end.

@mcarrano can you share the Balsamiq template, it will be a good reference point for the team.

Thanks,
Alan

[2015-11-19 06:37] stefwalter opened #161 "Standard dialog patterns"
Although Patternfly has support for modals, there's no actual dialog patterns. Cockpit has implemented patterns and code for this. You can see basic description here:

https://github.com/cockpit-project/cockpit/wiki/HIG:-Dialogs

Is this something that we can work to include in Patternfly proper?

[2015-11-19 06:38] stefwalter commented on #161
This has a purpose, by the way. Openshift Web Console and Cockpit would like to share some dialogs.

[2015-11-19 15:52] LHinson commented on #161
This is awesome and we absolutely want to work on getting this work into PatternFly. I've created a story to kick of this effort [1]. Let me take it back to the team to evaluate and identify what the next steps are for getting this into PatternFly. We will be in close communication with you regarding any adjustments that we might want to make to get this to match the current PatternFly format to m

[2015-11-19 16:03] stefwalter commented on #161
If I had to guess, this will probably become a blocker some time in January. At that point there's a likely effort to bring some of the image registry code being worked on in Cockpit into the Openshift Web Console.

[2015-11-19 20:16] rhamilto commented on #132
https://github.com/patternfly/patternfly/releases/tag/v3.0.0-alpha

[2015-11-26 12:50] kirantpatil commented on #149
:100:  :+1:

[2015-12-03 10:56] skateman opened #162 "Expanding and collapsing accordions with JS"
Hello!

When you try to collapse/expand accordions using their [JS API](http://getbootstrap.com/javascript/#via-javascript-3), reopening the collapsed accordion by using the mouse causes expanding both accordions.

![animated](https://cloud.githubusercontent.com/assets/649130/11558761/ce00236a-99b4-11e5-8155-06146b434ddc.gif)

This causes problems in https://github.com/ManageIQ/manageiq/pull/5693

[2015-12-03 15:03] rhamilto commented on #162
Given this appears to be a Bootstrap bug, an issue should be opened at https://github.com/twbs/bootstrap/issues.  I can reproduce at http://getbootstrap.com/javascript/#collapse.

[2015-12-25 12:59] sidahmedbenkhaoua opened #166 "patternfly new component"
hi,
when wa can use the new component of patternfly as liste view toast .... ?
is not in github repository !
thanks

[2016-01-12 13:58] stefwalter opened #168 "Patternfly is not compatible with less --strict-math=on"
variables.less from Patternfly 2.8.0 fails to build:

[code]

We see this problem in Cockpit. We're using less version ```2.5.3```

[2016-01-12 14:04] stefwalter commented on #168
This failure is due to less strict math. Due to CSS3 offering calc(), and its support being very widespread, we'd like to start to make use of things like this. However in order to do so with less, --strict-math is required.

Patternfly's less files do not build with the strict --strict-math option.

[2016-01-12 15:18] rhamilto commented on #168
Thanks for the feedback, @stefwalter.

In investigating this, it looks like we can easily fix any instances of math in PatternFly source less (by wrapping them in parentheses), but there is a [dependency](https://github.com/patternfly/patternfly/blob/master/less/patternfly-additions.less#L16) we're including that [poses a challenge](https://github.com/nostalgiaz/bootstrap-switch/blob/master/src/le

[2016-01-12 16:29] rhamilto commented on #168
https://github.com/rhamilto/patternfly/commit/705887b20cec7506cecdb340ec49db45a89f1a8a enables strict-math and edits to the dependency.  I don't love this solution because of the edit to the dependency, but I suppose it's ok?  @jeff-phillips-18 @dtaylor113 @andresgalante

[2016-01-12 19:32] rhamilto commented on #166
Hi, @sidahmedbenkhaoua.

You can keep track of what's happening with PatternFly over on the [product backlog](https://patternfly.atlassian.net/issues/?filter=10405).  I gather you're interested in [Toast notifications](https://patternfly.atlassian.net/browse/PTNFLY-526?jql=text%20~%20%22toast%22)?

[2016-01-14 13:49] stefwalter commented on #168
Nice. Looks like that does the trick.

[2016-01-15 17:30] rhamilto commented on #168
@jeff-phillips-18 @dtaylor113 @andresgalante, you guys have thoughts on the proposed fix?

[2016-01-15 17:32] jeff-phillips-18 commented on #168
Looks OK to me.

[2016-01-18 15:15] rhamilto commented on #166
Hi, @sidahmedbenkhaoua.

I just merged a [PR for Toast notifications](https://github.com/patternfly/patternfly/pull/170) that will release with v2.9.0 scheduled for tomorrow.

[2016-01-18 15:15] #166 closed

[2016-01-18 15:46] andreasn opened #174 "question: best strategy for not gluing page content to top?"
When you create a page, if no header or breadcrumb exists, the content of the page will glue to the top. What's the best strategy to avoid this?
In Cockpit, we've been doing a little override on container-fluid and give it a margin-top of 20px, but we want and need to remove this, since it breaks things elsewhere.
The container-cards-pf class could theoretically work, but it feels weird to use it

[2016-01-18 15:52] #168 closed

[2016-01-18 17:03] LHinson commented on #174
@andreasn I've added this to our Jira so we can track. You can follow it here: https://patternfly.atlassian.net/browse/PTNFLY-1101

We'll in touch!

[2016-01-19 10:57] andreasn commented on #174
Thanks!

[2016-01-21 11:49] andreasn commented on #149
I have an inkscape svg with some widgets I tend to reuse for my mockups. Doesn't cover everything, but some of it at least.
https://github.com/cockpit-project/cockpit-design/blob/master/widget-template.svg

[2016-01-27 11:41] andreasn opened #181 "big gap between modal dialog content and buttons"
There is a big gap there is between the dialog content and the action buttons of the dialog.
modal-body adds 15px of padding, modal-footer adds 14px of padding+15px of margin-top.
Elements inside the dialogs, such as form-group also tends to add 15px more.
If I'm doing the math right, that's 59px total between a text entry box and the action buttons.
This makes dialogs quite tall.

[2016-01-27 16:41] rhamilto commented on #181
@andreasn, are you referring to the example at http://rawgit.com/patternfly/patternfly/master/tests/modals.html?

[2016-01-27 16:46] andreasn commented on #181
Yes, that's the one!

[2016-01-27 16:53] rhamilto commented on #181
Thanks, @andreasn.  Let me defer to our visual design lead, @kybaker.  What do you think, @kybaker?

[2016-01-27 20:30] LHinson commented on #181
I know @kybaker is swamped this sprint so I went ahead and filed a bug in Jira (https://patternfly.atlassian.net/browse/PTNFLY-1124) We will make sure to get it taken care of.

[2016-01-27 22:02] andreasn commented on #181
Thanks!

[2016-02-02 13:10] rhamilto commented on #132
Fixed with the v3.0.0 release.

[2016-02-02 13:10] #132 closed

[2016-02-04 17:03] skateman opened #192 "Bundle JS files like stylesheets and fonts"
Is there any reason why the dependent JS files are not included into the repo?

[2016-02-05 14:44] dtaylor113 commented on #192
Hi,
As of PF v3.0.0.0 The dependencies are no longer committed to the repo. That means you must use Bower to install PatternFly or manually manage the dependencies.   This change was requested by consumers of Patternfly who indicated dependency conflicts within Patternfly and their applications.
Thanks,
- Dave Taylor

[2016-02-05 15:16] skateman commented on #192
Hi!
Yes, I've read this but why do you have then a lib folder with all the less dependencies in the repo?
https://github.com/patternfly/patternfly/tree/master/less/lib

[2016-02-11 18:24] robinsonaaron commented on #192
I'm wondering about the library less files too. Why don't you reference the less files instead of including them in the repo?

[2016-02-23 09:58] radek-holy opened #197 "A way to initialize nav-pf-vertical-alt from JavaScript"
Hello, I'm building an [SPA](https://en.wikipedia.org/wiki/Single-page_application) (using Angular 2) and I'd like to implement the [Vertical Navigation pattern](https://www.patternfly.org/patterns/vertical-with-persistent-secondary/). I've followed https://github.com/patternfly/patternfly/blob/master/tests/layout-alt-fixed-with-footer.html . The problem is that the `.nav-pf-vertical-alt` element

[2016-02-23 12:38] jeff-phillips-18 commented on #197
You can initialize the vertical alt layout by calling $().navigation();

However, Patternfly will be releasing a new vertical layout (non 'alt') with persistent secondary nav in 3.1 which will release any day now. You can see the new version of the vertical layout in PR #195.

[2016-02-23 12:42] radek-holy commented on #197
Thanks. Can it be documented somewhere so that I can be sure that it won't change in later minor releases?

[2016-02-23 13:36] jeff-phillips-18 commented on #197
The layout-alt components are less supported than the standard Patternfly components. There is no documentation for the Alt layouts on Patternfly.org. These tests pages are for development testing purposes and the supported components can be found on Patternfly.org.

[2016-02-23 13:44] radek-holy commented on #197
OK. Would it make sense to turn this report into a request for support of these components?

[2016-02-23 14:19] LHinson commented on #197
Hey @radek-holy. Our apologies about the confusion with the alt nav layout. As @jeff-phillips-18  mentioned, this is not a PatternFly supported version of the nav. My apologies for the confusion - we need to do a better job of indicating what is unofficial test versions vs the PatternFly approved versions. We will be adding a warning to the alt nav page that you found in hopes to provide some clar

[2016-02-23 14:36] radek-holy commented on #197
Hello. Well, I guess that the supported version could fit my needs, but... What actually do you mean by "supported"? Can you please point me to a clarification? TBH, I thought that the `layout-alt-fixed-with-footer.html` code actually is an implementation of the "vertical-with-persistent-secondary" pattern and thus that the code is supported because the pattern seemed to be supported. But if the c

[2016-02-23 15:05] jeff-phillips-18 commented on #197
@radek-holy the layout-alt-fixed-with-footer.html is not an implementation of the Vertical with Persistent Secondary. It is an alternate layout for the standard horizontal navigation and does not include any secondary menu support. It was done as a one-off and not meant for general consumption. As @LHinson said, we need to address this and determine an appropriate way to indicate that.

PR #195 ad

[2016-02-23 15:20] radek-holy commented on #197
Thank you. I guess I got it now. I am looking forward to the new layout.

So, feel free to close this, or turn this into a request for the new layout, or a request to add a warning to `layout-alt-fixed-with-footer.html`, or a request to add a clarification to the Patterns Overview document regarding the fact that not every component shown in the documents is available yet. I can also create separa

[2016-02-23 15:46] jeff-phillips-18 commented on #197
While not tracked here, I will be adding the warning to the alt layout pages as well as our standard full page components.

[2016-02-23 15:46] #197 closed

[2016-03-04 18:28] andreasn opened #210 "Slider widget"
We needed a slider widget for setting sizes for storage in a better way than just typing numbers in.
The code lives in Cockpit right now, but I wanted to see if this is interesting for Patternfly as well.

Here is the pull request for Cockpit https://github.com/cockpit-project/cockpit/pull/3876/
And this is how it looks in action:
![screenshot](https://cloud.githubusercontent.com/assets/209895/135

[2016-03-04 23:51] jhotujec opened #212 "table-view demo"
Hi, where can i find source code for this demo:https://www.patternfly.org/patterns/table-view/

thanks!

[2016-03-07 15:10] LHinson commented on #212
Hey @jhotujec We have not implemented this pattern yet. You can see the progress of this pattern here: https://patternfly.atlassian.net/browse/PTNFLY-837 Still have reference impl and angular left to do.

[2016-03-07 18:26] rhamilto opened #213 "Upgrade Font Awesome to v4.5.0"
OpenShift has a need for the [fa-clone](http://fontawesome.io/icon/clone/) icon included in Font Awesome >= 4.4.0.  Please upgrade PatternFly to include the latest version of Font Awesome (v4.5.0).

Thanks.

cc: @LHinson, @jwforres

[2016-03-07 20:39] #213 closed

[2016-03-08 18:16] mulkieran opened #216 "Representation of address ranges, e.g., bytes, KiB, kB, TB as well as input"
This is related to #210.

I have a sample (Python) implementation of some of these ideas here:
https://github.com/mulkieran/justbytes with documentation here: http://pythonhosted.org/justbytes/.

These are some proposals for the representation of address ranges. I'm starting from the assumption that IEC units are preferred, since I have been told that that is generally the policy and since I agree

[2016-03-11 15:39] mulkieran commented on #216
There is a significant difference between rate (bytes per second) and address range (bytes). Rate, whether it is across a network or disk I/O resembles a physical quantity, e.g., gallons per second, and does not have the special requirements for precision and representation that address range has. The reason is that rate is a measure of performance, and its approximate magnitude is what matters, w

[2016-03-14 12:57] LHinson commented on #210
Hey @andreasn I've added a Epic for this work in our PF backlog https://patternfly.atlassian.net/browse/PTNFLY-1281

[2016-03-14 13:10] andreasn commented on #210
Thanks!

[2016-03-14 18:15] rhamilto commented on #192
@skateman, @robinsonaaron, the dependency less files are copied to ease the production of the Red Hat branded version of PatternFly.

[2016-03-15 10:08] #192 closed

[2016-03-20 09:52] vniko opened #230 "Datetimepicker style is corrupt"
The eonasdan-bootstrap-datetimepicker  component doesn't looks  as expected
http://joxi.ru/1A5pLDwhKEezZ2?d=1

If i remove "patternfly-additions.css"
And instead use "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"
Everything looks just fine as expected
http://joxi.ru/V2VK6zMc0W6BxA?d=1

It seems the css overwrite is incorrect.

[2016-03-20 12:12] vniko opened #231 "Cyrillic symbols are missing in OpenSans font"
Would you include OpenSans fonts with cyrillic glyphs?

[2016-03-22 13:04] himdel opened #233 "Overly specific bower dependencies"
Depending on a specific (patch) version of a bower package makes it impossible to use external libraries that depend on one of the patternfly-required libraries unless the version matches exactly.

There is no need for that, for packages that do follow semver, just make the dependency `>~`.

My specific problem is moment - `"moment": "2.11.2"` which should probably depend on `>~ 2.11` (or `>= 2.11

[2016-03-23 14:42] kybaker commented on #181
@andreasn @rhamilto:
I understand the concerns about the height. When we designed PatternFly one of the goals was to present dense IT data in a lighter more consumable way. The primary way we do this is with whitespace. We also use the whitespace to create a visual hierarchy instead of using boxes or other ornamentation which creates visual noise.

I understand there are specific situations where

[2016-03-23 14:45] LHinson commented on #181
@andreasn given @kybaker recommendation re: spacing, I'm going to close this issue.

[2016-03-23 14:45] #181 closed

[2016-03-24 09:44] jmikulka opened #236 "bootstrap-treeview depends on bower and phantomjs"
I'm using npm managed version of PatternFly to avoid need of installing bower. However one of the dependencies (`bootstrap-treeview`) has bower as a dependency. Besides that it also depends on phantomjs which seems to me like overkill. This is present since `patternfly@3.1.0`.

Would it be possible make all dependencies optional (https://docs.npmjs.com/files/package.json#optionaldependencies) and

[2016-03-24 12:44] dtaylor113 commented on #236
Hi,
We can look into moving bootstrap-treeview into 'optionalDependencies' in the package.json file.

Can you please elaborate on what you mean by: "...ship only dist"?

We used to ship all the dependencies in a '/components' directory, however this changed in v3.0.0 due to a number of patternfly users having issues with the dependencies we shipped and those same dependencies in their individual a

[2016-03-24 12:57] dtaylor113 commented on #236
Hi @dlabrecq,
Can you please look at making this adjustment so it will be included in our next patternfly release?
Thanks,
- Dave

[2016-03-24 12:57] dtaylor113 commented on #233
Hi @dlabrecq,
Can you please look at making this adjustment so it will be included in our next patternfly release?
Thanks,
- Dave

[2016-03-24 13:00] dtaylor113 commented on #230
Hi,
This issue was fixed in:

Fix for issue where time picker dropdown not covering content
https://github.com/patternfly/patternfly/commit/06bbae57e070c82851f6c59ed1925c8c9a3b9b5b

It will be available in our next Patternfly release.
Thanks,
- Dave

cc @jeff-phillips-18

[2016-03-24 13:05] vniko commented on #230
@dtaylor113  Thank you!

[2016-03-24 13:05] #230 closed

[2016-03-24 13:55] dlabrecq commented on #233
I'll plan on changing this to ~2.11

[2016-03-24 13:56] dlabrecq commented on #236
I have some questions. Can we talk, @dtaylor113 ?

[2016-03-24 16:59] jmikulka commented on #236
Hi @dtaylor113,

correct me if I am wrong but I assume that all necessary PatternFly files (js, css, fonts and images) are installed into the `dist/` (`node_modules/patternfly/dist/` and `bower_components/patternfly/dist/`). If I decide to use datatables or bootstrap-select in my project, I should explicitly install these extra packages alongside PatternFly to avoid installing lots of unused packa

[2016-03-24 21:25] jmikulka commented on #236
Hi @dlabrecq,

thanks for moving bootstrap-treeview from dependencies to optionalDependencies. I was just wondering if it would make sense to move all but really essential (I assume the only crucial dependencies are jquery and bootstrap) dependencies to optional?

In my use case I'm using npm to install PatternFly, jQuery, Bootstrap and datatables only. In my html I include only jquery, bootstrap,

[2016-03-25 20:55] dlabrecq commented on #236
I'll have to defer to Dave/Jeff about making all dependencies (except jQuery and Bootstrap) optional. I don't know if we need to handle the case where dependencies are not available?

You may not be using components that require these dependencies, but that may not be true for all?

[2016-03-31 09:02] ceefour commented on #110
Latest Patternfly in http://www.webjars.org/bower is now 2.8.0 :(

It'd be great if release process also do the release to webjars/Maven.

[2016-03-31 09:09] ceefour commented on #110
I just deployed 3.3.2 :)

[2016-03-31 09:32] ceefour commented on #233
Please either update moment to `~2.12.0` or lax the version dependency as @himdel suggested: >= `2.11.0 && < 2.13`.

What's unfortunate is that https://github.com/Eonasdan/bootstrap-datetimepicker 4.15.35 actually depended on moment `~2.8` :( Latest version is 4.17.37 which AFAIK is not available in `npm` :(

[2016-03-31 13:57] ceefour opened #245 "Add a "Showcase / Who uses PatternFly" page"
Should be front and center on the website. To get some rep points.

http://cockpit-project.org would be good here.

[2016-04-01 17:01] LHinson commented on #245
It would be nice if we could set something up so that people could submit pull requests to post their examples of patternfly. something like this... http://beautifulopen.com/

What do you think?

Looping in @andresgalante

[2016-04-01 17:03] LHinson commented on #245
I've also added this to our backlog https://patternfly.atlassian.net/browse/PTNFLY-1347

[2016-04-07 12:52] krotscheck opened #249 "npm shrinkwrap fails when using patternfly and Node 4 LTS"
We have a project which uses patternfly, and we build this project using Node 4 and npm 2.4.17, the LTS versions soon to be available on xenial. As a debugging and security measure, we run npm shrinkwrap in the gate, which fails due to this project. The core reason appears to be that patternfly's npm-shrinkwrap.json file includes dev dependencies, which run into this bug here: https://github.com/n

[2016-04-11 13:02] mulkieran commented on #216
justbytes package now available in Fedora's 22, 23, 24, rawhide.

[2016-04-11 20:50] rhamilto opened #254 "Inline code style looks like a warning, feel off brand"
The [inline code styles inherited from Bootstrap](http://getbootstrap.com/css/#code-inline) seem a bit off brand for PatternFly and almost read as a warning.

![screen shot 2016-04-11 at 4 39 25 pm](https://cloud.githubusercontent.com/assets/895728/14441777/733d356a-0004-11e6-8cdd-a2a264565b3d.PNG)

Perhaps a more subtle approach would be better?

![screen shot 2016-04-11 at 4 41 52 pm](https://cl

[2016-04-12 09:32] andreasn opened #255 "style issue with input="number""
If I add an input with type="number" the spinner controls for the element gets a bit of a weird appearance.

![screenshot from 2016-04-12 11-30-40](https://cloud.githubusercontent.com/assets/209895/14455847/01d5ea72-00a2-11e6-8b6e-8ea83e58db70.png)

This is using Firefox on Fedora 23. There are similar issues with Chrome. Chrome also adds padding on top and bottom.

This piece of css seems to fix

[2016-04-12 14:43] dlabrecq commented on #236
This issue was addressed with PR #248.

[2016-04-12 14:43] #236 closed

[2016-04-12 14:45] dlabrecq commented on #233
This issue was addressed with PR #248.

[2016-04-12 14:45] #233 closed

[2016-04-19 05:22] heathtechnical opened #260 "Datatables headers merge when using multiple sort columns"
As per title, you end up with something like this:

<img width="360" alt="datatables-header-stack" src="https://cloud.githubusercontent.com/assets/8162329/14628550/126488b2-05f7-11e6-980a-2e41ece8a76d.png">

Any clues on how I might fix that?

[2016-04-19 13:19] dtaylor113 commented on #260
Hi,
What browser are you using?
Thanks,
- Dave

[2016-04-19 13:20] dtaylor113 commented on #260
Also, can you please post a code snippet on how you are specifying the multiple sort columns.
Thanks,
Dave

[2016-04-19 18:46] heathtechnical commented on #260
Hi Dave,

I'm using Safari 9 but pretty consistent across browsers - same on IE 11 and Chrome 49.

I can provide code if needed but you can reproduce using the widget demo here:

https://www.patternfly.org/widgets/#data-tables

Shift + click column headers.

[2016-04-19 19:56] dtaylor113 commented on #260
Hi,
Ok, I was able to reproduce it.  Thanks for discovering this!
We will add this issue to our backlog.
Dave

[2016-04-19 23:39] LHinson commented on #260
Thanks @dtaylor113 and @heathtechnical - I've added a bug to our Jira https://patternfly.atlassian.net/browse/PTNFLY-1381

[2016-04-22 11:35] #260 closed

[2016-04-25 09:35] PanSpagetka opened #265 "Charts X axis tick labels"
Hi, I integrate PatternFly charts in ManageIQ and I have some problems with labels on X axis when we have lot of data. Try to fix it by myself, but so far i wasnt successful. If you could fix it, so labels would be readable or give me advice how can i fix it.
Here are some screenshots:
![badxlabels](https://cloud.githubusercontent.com/assets/9535558/14779333/f6776652-0ad7-11e6-8da6-925e8919a698.pn

[2016-04-26 12:15] jeff-phillips-18 commented on #265
You can set the axis.tick.culling fields to limit the number of tick texts shown. See http://c3js.org/reference.html#axis-x-tick-culling  and http://c3js.org/reference.html#axis-x-tick-culling-max

Jeff

[2016-04-26 12:49] PanSpagetka commented on #265
Yep, i try it, but result still is not ok. This is how it looks with culling max: 5.
![maxculling5](https://cloud.githubusercontent.com/assets/9535558/14818382/1ddc27d8-0bbd-11e6-9c45-9aae14f9bf50.png)

[2016-04-26 13:08] jeff-phillips-18 commented on #265
You could rotate the tick labels so that they would fit in the space provided. See http://c3js.org/reference.html#axis-x-tick-rotate

[2016-04-27 11:53] skateman opened #266 "Legend with many items makes donut chart too small"
![screenshot from 2016-04-27 13-44-19](https://cloud.githubusercontent.com/assets/649130/14851310/506794ae-0c7f-11e6-876c-1751a1d650d7.png)

[2016-04-27 14:03] LHinson commented on #266
@skateman Even if that donut chart was larger, it would be very hard to read since there is so many categories. Our documentation [1] suggests that you "use no more than six categories" for the donut chart. Consider reducing the number of categories or using a bar chart [2] instead.

[1] https://www.patternfly.org/patterns/donut-chart/
[2] https://www.patternfly.org/patterns/bar-chart/

[2016-04-27 14:10] skateman commented on #266
cc @panspagetka @martinpovolny

[2016-04-28 11:57] bangert opened #269 "Add support for consistently styled file upload buttons"
http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/

The above site has some useful variations of a nicely styled file upload button which would make a fine addition to patternfly.

Thanks

[2016-04-28 19:59] martinpovolny commented on #266
We currently cannot change the chart type based on data.

[2016-04-28 20:19] martinpovolny commented on #266
@dclarizio: is it ok for us to change the number of items in the build-in reports?

So that only top 5 + "other" are displayed for pie charts and do similar limitation for other chart types based on patternfly recommendation?

Or can we switch the chart types e.g from pie to bar and similar as needed for the build-in charts?

[2016-04-28 20:49] dclarizio commented on #266
@martinpovolny @LHinson For the sample charts, we can reduce the number of elements and/or change the chart type, but the reporting system does allow the user to choose up to 10 plus an "other", so that doesn't really solve the problem for the product as customers may already have charts with this many items that they need to show.  I would rather limit the text length (chop it with "..." at the e

[2016-04-29 07:06] martinpovolny commented on #266
@dclarizio : I am not sure if patternfly is able to deliver that unless they actually try to play with charts in ManageIQ.

We do not need cool charts. We need cool charts that show the data that we have in the product.

[2016-04-29 14:16] dclarizio commented on #266
@LHinson This is typical to what we see on most charting sample pages, the samples have a low number of legend values that are all short text, so the charts are easy to layout.  In reality, we often need to place things like VM names and such that can have quite lengthy text.

With our current flash pie charts, we are able to handle I think 12 to 15 character long names and up to 11 of them stacke

[2016-04-29 15:05] randyrankin opened #272 "Typo in variables.less"
There is a typo in variables.less on line 119.

@nav-pf-vertical-**secondayr**-indicator-padding:

Should be

@nav-pf-vertical-**secondary**-indicator-padding:

[2016-04-29 15:10] dlabrecq commented on #272
LGTM

[2016-04-29 15:50] LHinson commented on #266
@dclarizio @martinpovolny looping in @serenamarie125 to help assist on a recommendation specific to your product needs that can be addressed in the short term. For the long term, samples and use cases to help inform PatternFly design is great! I love this suggestion. @serenamarie125 should be able to help out in this area as well.  Once we have that information, we will need to look at it and eval

[2016-04-29 18:47] randyrankin commented on #272
LGTM meaning it's supposed to be spelled that way?

[2016-04-29 19:50] dlabrecq commented on #272
The change looks good to me.

[2016-05-04 14:53] mulkieran commented on #216
When possible, it might be reasonable to avoid input of exact size values altogether. While, in some cases, the _exact_ value entered is exactly what the user gets, in many cases it is not. So, where it is possible to specify the value not as an exact quantity of bytes, but as a proportion of some other relevant quantity, that is, in many cases, a superior solution. So, for example, lvm2, a storag

[2016-05-05 17:30] sherl0cks opened #276 "Move Datatable To Angular UI"
The current datatable implementation uses [jquery datables](https://www.datatables.net/), which is at odds with the other angular components in the framework. It seems to me that patternfly should be using [Angular UI Grid](http://ui-grid.info/) instead.

[2016-05-05 17:37] jeff-phillips-18 commented on #276
@sherl0cks Did you mean for this issue to be against the angular-patternfly repo?

[2016-05-05 17:37] dtaylor113 commented on #276
Hi,
patternfly/patternfly uses HTML/CSS/Javascript and jQuery.  patternfly/angular-patternfly contains angular directives for corresponding patternfly layouts and widgets.  We will evaluate using Angular UI Grid when we implement PF datatables in angular-patternfly.  It is in our backlog: https://patternfly.atlassian.net/browse/PTNFLY-883

[2016-05-05 21:40] sherl0cks commented on #276
@jeff-phillips-18 not sure, it's possible I got this wrong

@dtaylor113 just so I'm clear, patternfly/patternfly continue to use jQuery datatable, patternfly/angular-patternfly would use angular UI (assuming it is chosen), and end users would be responsible for managing which dependencies get brought in?

[2016-05-06 13:04] dtaylor113 commented on #276
Hi @sherl0cks , yes that is correct.

[2016-05-06 16:40] sherl0cks commented on #276
@dtaylor113 thanks. Closing the issue.

[2016-05-06 16:40] #276 closed

[2016-05-15 18:45] andresgalante commented on #269
Hi @bangert, I am sorry for the late reply.

Thanks for the suggestion, styling file input is always tricky. Do you have a use case for it?

[2016-05-15 18:55] andresgalante commented on #231
Hi @vniko sorry for the super late reply.
@LHinson We should take a look at this and add it to our backlog. Think about what other glyphs we should consider?

[2016-05-15 18:58] andresgalante commented on #245
@ceefour Great idea 👍

[2016-05-15 18:58] #245 closed

[2016-05-15 19:00] andresgalante commented on #249
@krotscheck thanks for reporting this.

@LHinson the RHMAP guys had a similar problem with shrinkwrap. Let's add an issue to take a look at it.

[2016-05-15 19:02] andresgalante commented on #254
You are right @rhamilto, it does look off and I am sure Kyle agrees.

It would be great if you send a PR!

[2016-05-16 13:13] andresgalante commented on #272
@randyrankin thanks for spotting it! 😄

[2016-05-16 13:13] #272 closed

[2016-05-16 13:48] rhamilto commented on #254
Done.  #284

[2016-05-16 13:59] andresgalante commented on #254
Thanks a lot @rhamilto 😄

[2016-05-16 13:59] #254 closed

[2016-05-16 17:28] andreasn commented on #210
There is also the range widget in html5.
I had some issues getting that to display correctly in Firefox on Fedora though (Chrome displayed it better)
http://www.html5tutorial.info/html5-range.php

[2016-05-17 08:12] bangert commented on #269
In my case, i need to give the user the ability to upload a CSV file, which will allow the mass import of json objects, which my angular app then creates at the backend.

[2016-05-17 11:26] andresgalante commented on #269
@bangert I must be honest, I don't like styling input file fields. All the solutions to do it with js or css seems hacky to me. But since you have a usecase, lets take a look at it.

Are you wiling to send a PR with it or do you want us to add it to our backlog?

[2016-05-17 23:36] jhotujec opened #290 "setupVerticalNavigation error"
Tried to use this: https://rawgit.com/patternfly/patternfly/master/tests/vertical-navigation.html#, it didn't work.

<img width="1098" alt="screen shot 2016-05-18 at 01 35 24" src="https://cloud.githubusercontent.com/assets/784318/15342892/f150a0a8-1c98-11e6-927a-6d693e41e8f2.png">

[2016-05-18 11:26] andresgalante commented on #290
@jeff-phillips-18 Do you have a few mins to help @jhotujec please?

[2016-05-18 11:34] jeff-phillips-18 commented on #290
This is working fine for me.

[2016-05-18 11:38] andresgalante commented on #290
@jeff-phillips-18 thanks, works fine here also, and I see no error on my console for:
https://rawgit.com/patternfly/patternfly/master/tests/vertical-navigation.html#

@jhotujec Can you explain a bit more where are you getting that error?

[2016-05-18 12:14] jhotujec commented on #290
@jeff-phillips-18 @andresgalante sorry guys, forgot to update patternfly dependencies :/ everything works as expected.

[2016-05-18 12:14] #290 closed

[2016-05-18 12:58] LHinson commented on #249
@andresgalante would be happy to add @krotscheck request to the PF Jira. I'm assuming this would be a SPIKE (a story to investigate and figure out resulting stories). What would be the verification conditions (i.e. what needs to be completed) of such a story?

[2016-05-18 19:57] bleathem commented on #249
It's not normal practice to include *devDependencies* in the npm-shrinkwrap file.  Is anyone able to share the motivation for doing so?

[2016-05-18 20:13] dlabrecq commented on #249
Which version of PatternFly are you using? I don't see devDependencies npm-shrinkwrap (e.g., I don't see any grunt* in npm-shrinkwrap.json for v3.3.5). When npm shrinkwrap was run, the devDependencies should not have been included because the --dev switch wasn't used.

[2016-05-18 20:34] bleathem commented on #249
Indeed, I'm not able to reproduce this locally.  Using patternfly@3.3.5 and the following package.json:

[code]

then running `npm install` and `npm shrinkwrap --dev` returns successfully:

[code]

Have you tried blowing away the npm-shrinkwrap file and re-running the shrinkwrap command?
Can you provide a simple package.json file that can be used to reproduce this error?

[2016-05-19 08:49] bangert commented on #269
well, in my opinion this particular solution is rather clever and flexible, given the constraints of the system. ;-)
I have no plans of submitting a PR myself. thanks...

[2016-05-19 13:32] andresgalante commented on #269
@bangert yes, it is a good solution.I'll look into it.

Thanks a lot!

[2016-05-19 15:27] LHinson opened #292 "Labels should be black for all states, not just error/red"
Under validation states, we have changed the label to black for the error state but not for the other states See: https://cdn.rawgit.com/cardosogabriel/patternfly/PTNFLY-1255/tests/bootstrap-datepicker.html

All labels should be black.

[2016-05-19 19:51] #292 closed

[2016-05-24 14:04] mulkieran commented on #216
justbytes-gui now available on pypi.

[2016-05-26 17:24] andresgalante opened #295 "Color of the links on form messages"
Follows the discussion on: https://github.com/openshift/origin-web-console/pull/18

@rhamilto and the Openshifters spotted that links on form messages are blue:
![unnamed](https://cloud.githubusercontent.com/assets/1832037/15583696/4ae7a7b4-234d-11e6-8501-653d2afa6d7c.png)
They suggested to keep them red with an underline:
![unnamed-1](https://cloud.githubusercontent.com/assets/1832037/15583701/51

[2016-05-26 18:00] rhamilto opened #296 "table.table-bordered.table-hover tables lose bottom-border on hover"
Before:

![screen shot 2016-05-26 at 1 56 03 pm](https://cloud.githubusercontent.com/assets/895728/15584711/be6f9be6-2349-11e6-8276-28e93f72fb53.PNG)

See http://rawgit.com/patternfly/patternfly/v3.3.5/tests/tables.html

After:

![screen shot 2016-05-26 at 1 56 14 pm](https://cloud.githubusercontent.com/assets/895728/15584725/cefc9d56-2349-11e6-91e5-df927dbf7b94.PNG)

See http://rawgit.com/pattern

[2016-05-26 18:10] andresgalante commented on #296
@rhamilto thanks, I'll send a PR today

[2016-05-26 18:11] rhamilto commented on #295
I trust you guys to come up with the correct solution.  I suggested underline because it leverages a user's existing mental model (links are underlined).  A darker color shade doesn't necessarily suggest a link?

[2016-05-26 18:19] jwforres commented on #296
@rhamilto i'd wait for the fix, we've got plenty of time.  i don't think we urgently need anything we'd be picking up from the new version, @spadgett?

[2016-05-26 18:32] spadgett commented on #296
+1

[2016-05-26 19:46] sjcox-rh commented on #295
So I keep going back and forth.  Yes underlining it suggests a link but we
don't underline links until the hover state, so I don't want to change that
logic.   I would recommend the darker shade of the message color.  But it
has to be dark enough (without appearing black) that the user can
distinguish that it's different.  And on hover it would be underlined.

Thoughts?
SJ

On Thu, May 26, 2016 at

[2016-05-27 10:34] #296 closed

[2016-05-27 13:52] lclay2 commented on #295
Quick question, in OS example what happens when you click the link?

[2016-05-27 14:59] cardosogabriel opened #299 "Code snippet for Login Page is incomplete"
http://v2-patternfly.rhcloud.com/pattern-library/application-framework/login-page/#_code
Code snippet doesn't make clear that is necessary to add the following class to make the login page look as it should be:
<html lang="en-us" class="login-pf">

This needs to be declared in the code snippet.

[2016-05-27 14:59] #299 closed

[2016-05-27 14:59] cardosogabriel commented on #299
Sorry, wrong repo.

[2016-05-27 19:08] lclay2 commented on #295
Couple thoughts:
- Where does the link go? If it navigates the user out of the form that might be a surprise, unless it just opens a second window. So maybe show a nav link at the end of the error message with a little "going somewhere else" icon. I attached a quick mockup.
- If it's just opening up a pop-over, or bubble tip of some sort (and not navigating away from the page), then maybe there's

[2016-05-27 19:11] lclay2 commented on #295
P.S. I guess the blue doesn't bother me. ;) I used "Color Oracle" to see if the colors are distinguishable for color blindness and them see to be.

[2016-05-27 19:13] andresgalante commented on #295
I must agree with @lclay2 that the blue doesn't bother me either.

[2016-05-31 14:33] sjcox-rh commented on #295
Agree with @lclay2 and @andresgalante.  The blue never really bothered me.  As long as we avoid having the whole error message as a link, blue links within errors messages should be fine.  I don't want to go down the rabbit hole that we change the design for this specific use case, and then that triggers special cases for other designs, and so forth...

[2016-05-31 14:36] andresgalante commented on #295
@rhamilto if its ok with I'll close the issue and keep the blue links on error messages.

[2016-05-31 14:50] rhamilto commented on #295
cc: @jwforres, @spadgett, @benjaminapetersen, @sg00dwin

[2016-05-31 15:23] benjaminapetersen commented on #295
Would like to see the darker red suggestion as well if anyone has that handy, then can prob make a call.  The blue isn't bad, though it seems like a lot of color in one block of text... but I'm sure it meets the recommended 3:1 contrast ratio recommended for links & accessibility.

[2016-05-31 20:45] LHinson commented on #295
Late to the game here due to vacation but I also agree with @andresgalante @lclay2 and @sjcox-rh that the blue does not bother me.

[2016-06-02 07:56] EmilMoe opened #300 "Where is the documentation?"
It's good with all your examples, but I can't see documentation anywhere.

[2016-06-02 11:37] andresgalante commented on #300
Hi @EmilMoe you can find documentation on https://www.patternfly.org/

We are working on a new website with better docs, it will be out soon.

If you need help implementing PatterFly or any of the patterns, please join the #patternfly channel on irc.freenode.net or [join](https://www.redhat.com/mailman/listinfo/patternfly) and send an email to the PatternFly mailing list patternfly@redhat.com

[2016-06-02 12:02] EmilMoe commented on #300
Sorry but I can't find any code reference on your website

[2016-06-02 12:21] dtaylor113 commented on #300
Hi,
On our website the code examples are in expandable "Reference Markup" section:

![image](https://cloud.githubusercontent.com/assets/12733153/15744615/eb9c04e6-289a-11e6-889c-c7fbddc54199.png)

[2016-06-02 12:33] EmilMoe commented on #300
Thanks, I didn't see that link. However I'm trying to implement your sidebar, but the example is very messed with unnecessary code that makes it hard to know what part of it that is important.

[2016-06-02 12:36] andresgalante commented on #300
@EmilMoe which sidebar?
This one on the right: https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html

or the vertical menu? https://rawgit.com/patternfly/patternfly/master/tests/vertical-navigation.html

Until we have better docs, you will probably end up better looking into the test pages: https://rawgit.com/patternfly/patternfly/master/tests/

[2016-06-03 14:54] mcarrano opened #301 "New PatternFly site: PatternFly Modal Design page - link goes to old site"
THe link PatternFly Modal on this page: https://v2-patternfly.rhcloud.com/pattern-library/communication/about-modal/#_design  is still linking to the old site.

[2016-06-03 15:00] dlabrecq commented on #301
I've moved this to https://github.com/patternfly/patternfly-org/issues/119

[2016-06-03 15:00] #301 closed

[2016-06-03 15:06] mcarrano opened #302 "New PatternFly site: Notification Drawer Design page - link goes to old site"
On this page: https://v2-patternfly.rhcloud.com/pattern-library/communication/notification-drawer/#_design the links for Toast Notification and Kabob still point to the old site.

[2016-06-03 15:09] mcarrano opened #303 "New PatternFly site: Notification Drawer Design page - Misspelled word"
on this page: https://v2-patternfly.rhcloud.com/pattern-library/communication/notification-drawer/#_design
Item #3 is labeled "Accordian"  should be "Accordion"

[2016-06-03 16:03] dlabrecq opened #304 "New PatternFly site: Notification Drawer Design page - Misspelled word"
on this page: https://v2-patternfly.rhcloud.com/pattern-library/communication/notification-drawer/#_design
Item #3 is labeled "Accordian" should be "Accordion"

[2016-06-03 16:04] dlabrecq commented on #303
Moved to https://github.com/patternfly/patternfly/issues/304

[2016-06-03 16:04] #303 closed

[2016-06-03 16:05] dlabrecq commented on #302
Moved to https://github.com/patternfly/patternfly-org/issues/121

[2016-06-03 16:05] #302 closed

[2016-06-03 16:06] dlabrecq opened #305 "New PatternFly site: Notification Drawer Design page - Misspelled word"
on this page: https://v2-patternfly.rhcloud.com/pattern-library/communication/notification-drawer/#_design
Item #3 is labeled "Accordian" should be "Accordion"

[2016-06-03 16:06] #305 closed

[2016-06-03 16:06] #304 closed

[2016-06-03 21:04] serenamarie125 opened #306 "The "Mark All Read" link in the notifications drawer should be fixed at the bottom of the open drawer"
"Mark All Read" should be associated with each of the notifications drawers.

In the current implementation [1], Mark All Read is fixed under the last drawer title.  This is misleading as it only works on the items which are in the open drawer.

The initial intent of this design was to have the Mark All Read link fixed at the bottom of the open drawer.  The design pattern documentation isn't expli

[2016-06-06 11:09] andresgalante commented on #306
@serenamarie125 you are right, the visual story is not clear about the "mark as read" action: https://patternfly.atlassian.net/browse/PTNFLY-1269

The action would look good if we place it inside each accordion since it's too large, @Rohoover can you please review this and provide new mockups?

[2016-06-06 11:53] jeff-phillips-18 commented on #306
@serenamarie125 @andresgalante @Rohoover  I have an initial pass as the fix. Please take a look at http://rawgit.com/jeff-phillips-18/patternfly/fixes/tests/notifications-drawer.html

[2016-06-06 11:57] andresgalante commented on #306
Thanks @jeff-phillips-18 😄!
Since it's the same height as the item in the drawer and has the same gradient background it looks huge, and doesn't represent an action.

[2016-06-06 11:57] Rohoover commented on #306
@jeff-phillips-18

I think the row height and/or color needs to be different. It looks almost like an independent row vs. one being house within the accordion. I will have a mockup for you this AM.

[2016-06-06 12:25] jeff-phillips-18 commented on #306
Yeah, I was just trying to get the placement and scrolling/sizing correct.

[2016-06-06 12:26] andresgalante commented on #306
@jeff-phillips-18 I know, awesome job, the styling part is the easy part.

[2016-06-06 13:19] Rohoover commented on #306
Here's the comp. I think removing the grey and keeping it to the same bg color as the rest of the items, and reducing the height should work. Even though the loading more is on the same white background, both only appear together for short periods of time.
![patternfly_toastnotification_tray_markread](https://cloud.githubusercontent.com/assets/18266453/15823219/c439ec8a-2bc7-11e6-8965-5e696a1e33bb

[2016-06-06 20:32] #306 closed

[2016-06-07 11:11] #300 closed

[2016-06-07 17:19] Rohoover opened #309 "Vertical Navigation Page in Beta Site"
2 bugs for the price of one.

Vertical Navigation Page loads examples from test site. Test site header bar displayed in the example is not correct (screen shot attached). Icons is small, logo/text not in correct position.

Because the example is live, if you click on the patternfly icon, the website reloads on the page (screenshot attached). This could be confusing.

![screen shot 2016-06-07 at 1

[2016-06-09 02:33] dlabrecq commented on #309
Moved this issue to patternfly-org.

[2016-06-09 02:34] #309 closed

[2016-06-13 19:15] rhamilto opened #313 "Incorrect border-color for readonly inputs under certain conditions"
PatternFly [specifies a lighter border color for inputs that are readonly](https://github.com/patternfly/patternfly/blob/master/less/forms.less#L17).  As implemented, this causes problems when readonly inputs are combined with [input-group-addons](http://getbootstrap.com/components/#input-groups-basic) as the border color of the addons do not reflect this change.

<img width="168" alt="screen shot

[2016-06-14 11:42] andresgalante commented on #313
@rhamilto Thanks a lot for taking the time to explain the issue in so much detail.
I agree with your solution and the PR looks ok. @sjcox-rh If you are ok with the change I'll merge it.

Thanks again Robb 😄

[2016-06-15 12:50] #313 closed

[2016-06-16 17:46] dmsimard opened #317 "There's no documented examples of list view item expansion"
Hi,

I was looking at how I could accomplish the list view item expansion as shown in this image at https://www.patternfly.org/pattern-library/content-views/list-view/#/api:

![No alt text](https://www.patternfly.org/assets/img/list-view-simple-expansion2.png)

However, there's no code snippet in https://www.patternfly.org/pattern-library/content-views/list-view/#/_code.

Would love to see how we

[2016-06-23 08:44] skateman opened #323 "Overlapping toast notifications"
Hi guys,

I'm implementing toast notifications into ManageIQ and there is an issue with the overlapping toast notifications.
![screenshot from 2016-06-23 10-40-29](https://cloud.githubusercontent.com/assets/649130/16296997/04ed5018-392f-11e6-93d9-bcf42e9eb29e.png)
If you receive notification messages with similar length, only the one will be visible and it will cover all the others. I think they s

[2016-06-23 13:23] dtaylor113 commented on #323
Hi,
Would inline-notification fit this usecase?
https://www.patternfly.org/pattern-library/communication/inline-notifications/#/api

[2016-06-23 14:26] andresgalante commented on #323
@skateman thanks, we just need to remove one of them. I'll do it on my next PR

[2016-06-23 14:27] andresgalante commented on #323
@skateman you should not use more than one toast on a page. It's on the specs.
If you need to put more than one, then use the notification drawer.

[2016-06-23 14:29] andresgalante commented on #323
btw, the test page is wrong, I'll remove one of the notifications next time I send a PR

[2016-06-24 07:18] skateman commented on #323
@dtaylor113 nope, asynchronous notifications should not be inline. @andresgalante I can't really manipulate the time and prevent notifications to happen at the same time. Notifications Drawer is a cool thing for reviewing notifications happened in the past, but it would be nice to inform the user about the notification in real time.

My concept was to display a toast notification in real time and

[2016-06-24 10:43] andresgalante commented on #323
Hi @skateman You are right, and your use case is valid. If you line them up and show them one after the other you would lose the real time feedback a notification should provide.

Maybe we should change toast notification to support more than one in the page. This was a discussion back when we designed it.

It was decided to [show only one and to recommend to leave them 8 seconds](https://www.patt

[2016-06-24 10:57] skateman commented on #323
cc @dclarizio

[2016-06-24 11:04] skateman commented on #323
@andresgalante I'm also not sure about positioning the toast notifications to the same place as the notification drawer. It's weird and also possible that a toast will cover the drawer button.

[2016-06-24 11:18] jeff-phillips-18 commented on #323
We've added this to our usability test application and will be gathering feedback on this at summit.

@beanh66 @serenamarie125

[2016-06-24 11:21] andresgalante commented on #323
@jeff-phillips-18 awesome!! thanks a lot

[2016-06-27 10:30] jtomasek opened #324 "List View list-group-item-heading overlap"
When List View is used in a container which does not span the full screen width (e.g. a sidebar), it's media query related styling is not applied, so it does not behave as expected sometimes.

The specific case of this is that list-group-item-heading does not apply ellipsis title shortening.

![screenshot from 2016-06-27 12-28-05](https://cloud.githubusercontent.com/assets/1121740/16376823/b4fe5c0

[2016-06-27 18:00] mwmahlberg opened #326 "Vertical Navigation with primary Menuitems: Secondary Menu "flaps" when persisted"
# Steps to reproduce
1. Open the [Vertical Navigation with Persistent Secondary example page with primary icons](https://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation.html)
2. _Click_ on `Storage`
3. Persist `Storage` menu by clicking on the left arrow in the secondary menu:
   ![arrowleft](https://cloud.githubusercontent.com/assets/138420/16389964/bf297424-

[2016-06-28 14:44] serenamarie125 commented on #326
Markus,

Thanks for sharing this.  This is one of the items which would be fixed
with the proposed solutions & fixes from Jeff Phillips which I mentioned in
an email last Friday.

- Serena

On Mon, Jun 27, 2016 at 11:00 AM, Markus Mahlberg <notifications@github.com>
wrote:

--
- Serena Chechile Doyle
*UXD | Unified Management Experience*
*Red Hat*
*Cell* 508-769-7715 | *IRC* - serena | *Skype* - s

[2016-06-28 14:47] mwmahlberg commented on #326
Serena,

I have to admit that I am not on the mailing list – I am mainly a backend guy, and my inbox already scares me in the morning. ;)

Sorry in case I duplicated any work.

- Markus

[2016-06-28 18:05] yackitotreeville opened #327 "Toolbar - filter is not poping out dropdown"
Here is the css I am using in my index.html page

`<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly.css">
   <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly-additions.css" media="screen, print">
    <link rel="stylesheet" href="bower_components/patt

[2016-07-01 20:04] dlabrecq opened #329 "Kebab hidden from view in notification drawer"
I'm looking at the notification drawer example and see a problem with the kebabs. When I click on a kebab for the last notification, in any section, the kebab is truncated/hidden from view. (Note that I've already scrolled to the bottom of the notification. After clicking the kebab, I'm forced to scroll, once again, to move the menu items into view.) For some notifications, the kebab menu items ar

[2016-07-03 20:54] andresgalante commented on #324
@jtomasek Hi, sorry for the late reply, I've been away last week.

Thanks for the PR with the fix 👍

[2016-07-04 12:11] andresgalante commented on #327
@yackitotreeville hi, are you having this issue on Patternfly or angular-patternfly?

[2016-07-05 08:25] dabeng opened #331 "latest datatables reference(1.10), but outdated syntax(1.9) in patternfly"
It's weird to introduce datatables 1.10 into patternfly but use outdated 1.9 syntax

[2016-07-05 08:31] dabeng opened #332 "typeahead or autocomplete is very popular plugin which should be introduced into patternfly"
Maybe [Bootstrap-3-Typeahead](https://github.com/bassjobsen/Bootstrap-3-Typeahead) is a good choice.

[2016-07-05 08:41] dabeng commented on #331
Maybe this upgrade takes our two months but well worth it. Besides, datatables editor should be introduced in too.

[2016-07-05 16:00] LHinson commented on #323
nice +1 @jeff-phillips-18 @serenamarie125 @beanh66 Look forward to seeing the results. We can adjust as needed.

[2016-07-05 17:04] LHinson commented on #317
@dmsimard right now, only the design is available. We still need to code it. You can track the story here: https://patternfly.atlassian.net/browse/PTNFLY-452 or let us know if you are interested in helping us out by contributing the code :)

[2016-07-06 11:10] dabeng opened #333 "I wanna fix the bug in datepicker of patternfly but where is its source code"
Hi @andresgalante .I wonder which place I can commit my pull request about datepicker.

[2016-07-06 14:08] andresgalante commented on #333
I am a bit lost here, whats the issue you want to fix?

[2016-07-07 00:13] dabeng commented on #333
![screenshot from 2016-07-07 08-05-24](https://cloud.githubusercontent.com/assets/5689075/16638456/0dc5a400-43ad-11e6-8848-514cc034cc3c.png)
![screenshot from 2016-07-07 08-06-25](https://cloud.githubusercontent.com/assets/5689075/16638460/12ec4402-43ad-11e6-91b5-621d5b7b82b3.png)

You could get the above two snapshots easily if you clicks calendar icon firstly and then clicks input box. I think i

[2016-07-07 00:55] dabeng opened #336 "It's unacceptable that popover widget floats randomly after resizing the widnow"
![screenshot from 2016-07-07 08-42-37](https://cloud.githubusercontent.com/assets/5689075/16639187/db5d1646-43b2-11e6-96e9-00b6e041e872.png)
![screenshot from 2016-07-07 08-42-45](https://cloud.githubusercontent.com/assets/5689075/16639190/e4e6527c-43b2-11e6-82aa-4bbab0d75bd7.png)

It's unacceptable that popover widget  floats randomly after resizing the widnow.

[2016-07-07 01:01] dlabrecq commented on #333
This particular example is included via a template from patternfly. The source lives in tests-src/widgets/forms/bootstrap-datepicker.html.

I noticed that the input element is not closed in the template, but I also don't see this issue with the patternfly test pages (i.e., https://rawgit.com/patternfly/patternfly/master/tests/bootstrap-datepicker.html).

[2016-07-07 01:51] dabeng commented on #333
![screenshot from 2016-07-07 09-44-23](https://cloud.githubusercontent.com/assets/5689075/16640080/cac773f0-43ba-11e6-97f6-4f6b90db93f0.png)

Dear @dlabrecq , could you find that the show becomes double dark.

[2016-07-07 01:54] dabeng commented on #333
Redundant dropdown menu of datepicker, it does indeed exist.

[2016-07-07 02:33] dabeng opened #337 "Timepicker loses background and border on window resizing"
![screenshot from 2016-07-07 10-29-52](https://cloud.githubusercontent.com/assets/5689075/16640861/440c075c-43c1-11e6-999c-0043d936c24e.png)

[2016-07-07 02:59] dabeng opened #338 "The global scrollbar is unnecessary on vertical navigation demo page"
![screenshot from 2016-07-07 10-42-52](https://cloud.githubusercontent.com/assets/5689075/16641263/71599730-43c4-11e6-9ea7-658102d1c775.png)

With all due respect, it would make more sense to create a scrollbar with the staring point at position(2).

[2016-07-07 04:09] dabeng opened #339 "Panel body section of accordion should be displayed with scrollbar"
![screenshot from 2016-07-07 12-00-56](https://cloud.githubusercontent.com/assets/5689075/16642164/b0087128-43cd-11e6-8ca3-4413f79e72f7.png)

I guess I got the point of the accordion creator that the whole accordion has a fixed height limitation and the panel body section will use scrollbar to show the entire content.

[2016-07-07 07:16] dabeng opened #340 "the hover and active status of pagination is too obscure"
![screenshot from 2016-07-07 12-18-32](https://cloud.githubusercontent.com/assets/5689075/16645222/0fe46e84-43e8-11e6-81b5-2f4d86067d2e.png)

With all due respect, the hover and active status is too obscure, could we introduce some bright colors and got a distinct color contrast finally.

[2016-07-07 11:24] andresgalante commented on #333
@dabeng thanks for the clarification and the detail information. We do have a bug and a strange implementation on the website.
If this is a bug in our implementation, do you want to send a PR to fix it or want us to add it to our back log?

And if it is a bug in the component itself, maybe we can send a PR to the upstream project and update our dependency when they merge it. What do you think?

[2016-07-07 11:29] andresgalante commented on #340
@dabeng  😄 You are been too polite. Thanks for reporting all of this and helping out, you are awesome!
Let me tag the visual designers on this issue: @sjcox-rh Can you please review this one?

[2016-07-07 11:32] andresgalante commented on #339
I agree, lets improve that by adding more text, we should also move the fixed height accordion after the regular accordion instead of at the end of the list.
This is an issue for another repo, I'll open it there reference this one.

Thanks a lot!

[2016-07-07 11:42] andresgalante commented on #338
@dabeng This was a discussion we had and thats why we've ended up with so many alternative layouts:
https://rawgit.com/patternfly/patternfly/master/tests/

In order to have an inner scroll we would need to measure too many stuff and add more CSS and JS than we wanted. It's not a price I am willing to pay. But I will leave this issue open in case others feels otherwise and we can restart the discus

[2016-07-07 11:44] andresgalante commented on #337
@dabeng I can't reproduce it on the website or on the test page: https://rawgit.com/patternfly/patternfly/master/tests/time-picker.html

What browser are you using?

[2016-07-07 11:52] andresgalante commented on #336
Hi, again thanks for the huge help.

This is a known issue on bootstrap3, popovers are not responsive. It's fixed on bootstrap 4. When bootstrap 4 has a solid release and we move to it we'll have this problem solved on patternfly.

Do you want to fix it and send a PR to bootstrap? it would be awesome.

[2016-07-07 11:52] #336 closed

[2016-07-07 11:54] andresgalante commented on #331
@dabeng We are started an effort to improve tables overall.

@LHinson Can you point @dabeng to the jira issues when we have them?

[2016-07-07 11:55] andresgalante commented on #329
Yeah, we know about this one 😞

@jeff-phillips-18 What where the reasons why we just left it that way?

[2016-07-07 13:36] dlabrecq commented on #333
Yes, I see the highlighting darkening as well.

[2016-07-07 13:40] dlabrecq commented on #337
I also cannot reproduce on Firefox, Chrome and Safari.

[2016-07-08 01:03] dabeng commented on #333
Hi @andresgalante , as a matter of course, I'm glad to send  PR for the bug I found.

[2016-07-08 02:05] dabeng commented on #337
![chrome](https://cloud.githubusercontent.com/assets/5689075/16675351/ddd564d6-4485-11e6-99ac-468cee3b3cfc.jpg)
![ie](https://cloud.githubusercontent.com/assets/5689075/16675350/dd566ce4-4485-11e6-8cc1-515430b46677.jpg)
![opra](https://cloud.githubusercontent.com/assets/5689075/16675349/dd55c8e8-4485-11e6-9017-f2d02c78a12c.jpg)

Hi @andresgalante @dlabrecq , the problem has nothing to do with spec

[2016-07-08 02:17] dabeng commented on #340
Cool! If this issue could be fixed in the future, our project users would not complain that the pagination buttons look like disabled.

[2016-07-08 02:31] dabeng commented on #331
It's awesome. We have expected this upgrade so long.

[2016-07-08 03:38] dabeng commented on #339
Of course, it's my pleasure. Maybe there will be some code snippets modification except for supplementary description :blush:

[2016-07-08 11:45] srambach commented on #337
I replicated the behavior in Win 8 Chrome on the Patternfly page. However, on the same browser, it doesn't happen in the Rawgit page.
I can't replicate it in OSx or Win 10 at all.
![bs_win10_chrome_51 0](https://cloud.githubusercontent.com/assets/19825616/16686297/11f06abe-44df-11e6-827e-b4012e01d6e7.jpg)

[2016-07-11 04:01] dabeng commented on #337
Hi guys, I really get the same issue on standalone local test page on Chrome 50, Opera 32 and Firefox 47 under Fedora 22.
![screenshot from 2016-07-11 11-56-26](https://cloud.githubusercontent.com/assets/5689075/16719604/1dd77e02-46f2-11e6-9953-1b46c5ee584a.png)
![screenshot from 2016-07-11 11-56-46](https://cloud.githubusercontent.com/assets/5689075/16719605/1dd99a20-46f2-11e6-99c2-c31126ced8d5.p

[2016-07-11 06:25] dabeng commented on #333
Hi @dlabrecq . Could you tell me how to find the folder " tests-src" and I want to know why I got the unrendered page as shown below  when I access test page direct on rawgit.com.

![screenshot from 2016-07-11 14-15-00](https://cloud.githubusercontent.com/assets/5689075/16721590/136acc4e-4706-11e6-9e6f-ab20682caabd.png)

[2016-07-11 06:53] dabeng opened #346 "Is the patternfly-bootstrap-combobox still alive?"
Hi @andresgalante . One week ago, I sent a [PR](https://github.com/patternfly/patternfly-bootstrap-combobox/pull/1) for patternfly-bootstrap-combobox, bu to now, I haven't received any response. Maybe I sent PR to the wrong place?

[2016-07-11 12:05] andresgalante commented on #333
We have moved the compiled Jekyll tests to dist/tests.

https://rawgit.com/patternfly/patternfly/master/dist/tests/

PR: https://github.com/patternfly/patternfly/pull/344

[2016-07-11 14:58] bleathem commented on #346
Thanks for following-up @dabeng. I unfortunately didn't have my github watches setup for that repo.  I do now.

I've replied to your PR, we'll carry-on the conversation over there.  Closing this issue.

[2016-07-11 14:58] #346 closed

[2016-07-12 11:28] TomasTomecek opened #349 "rfe: new chart type: control chart"
Hello,

I've just started working on a new tool which should provide various reports in form of charts from trello. One of the requirements of the tool is to provide control chart:

![control chart](http://atlassian.wpengine.netdna-cdn.com/wp-content/uploads/jira_agile_control_chart_add_weekends.png)

This chart is composed of line chart, area chart and arbitrary placed points of various styles (s

[2016-07-12 13:47] LHinson commented on #332
Yes, I think this would be helpful from a design perspective. We would need to post some docs to the site to ensure that people know that we have this.... that can come after though.

@andresgalante has suggested sending a e-mail to the mailing list to see what people are using since there are many autocomplete plugins. Do you want to initiate that conversation?

[2016-07-13 00:44] dabeng commented on #349
Hi @TomasTomecek , it's amazing sophisticated chart and I wonder if it can be used without Trello.

[2016-07-13 01:02] dabeng commented on #269
HI guys, why not introduce[ jquery file upload plugin](http://blueimp.github.io/jQuery-File-Upload/) directly, it has no match.

[2016-07-13 05:11] TomasTomecek commented on #349
Yes, the chart can be used independently, it has no connection to trello nor agile project management.

[2016-07-13 13:46] TomasTomecek commented on #349
I'm going to answer myself. Since patternfly uses c3, it's possible to paint such complex chart:

 1. *dots* -- these can be line charts with lines hidden and points customized
 2. *lines* -- line charts
 3. *area* -- area chart with line hidden

Hence I'm closing.

[2016-07-13 13:46] #349 closed

[2016-07-13 15:40] jsniezek opened #350 "Typography page on PatternFly site has a dead link in it."
In the Typography page (https://www.patternfly.org/styles/typography), the page linked from the text "PatternFly Typography test page" has changed, and is no longer located at https://rawgit.com/patternfly/patternfly/master/tests/typography-2.html

This link needs to be updated.

[2016-07-13 15:45] jsniezek opened #351 "H2 and H3 styles in Typography Test page is inconsistent with PatternFly Site's Typography page"
For comparison: see here: https://www.patternfly.org/styles/typography/#_ and here: https://rawgit.com/patternfly/patternfly/master/dist/tests/typography-2.html

[2016-07-13 17:00] dmsimard opened #352 "html anchor destinations are hidden by the top navigation bar"
When using the [vertical navigation](https://www.patternfly.org/pattern-library/navigation/vertical-navigation/) and html in-page anchors (i.e, href="#anchor" and an item with id="anchor"), the destination of the anchor is hidden by the top navigation bar.

If, for example, I have the following:

[code]

When clicking on "Utilization", this is what I would expect:

![expectation](http://i.imgur.co

[2016-07-14 11:16] jeff-phillips-18 commented on #329
We left it this way because we did not have a reasonable fix. Any suggestions would be welcomed.

[2016-07-14 23:20] bleathem commented on #349
Great, thanks for sharing your solution Tomas.

[2016-07-15 12:23] jeff-phillips-18 opened #355 "Jekyll Version"
Currently the README file states that jekyll 2.5.3 should be used when building due to Jekyll issues #4433 and #4442. These issues have been resolved in Jekyll 3.1.4 and I believe we should remove the 2.5.3 requirement and update to the latest jekyll version. Not doing so causes some issues since many folks miss this requirement causing a large number of diffs to the dist/tests files. While the di

[2016-07-16 03:44] andresgalante commented on #355
@jeff-phillips-18 thanks a lot!!

[2016-07-16 03:44] #355 closed

[2016-07-16 03:45] andresgalante commented on #352
Thanks @dmsimard I'll try to find the less hacky way to solve this.
@LHinson can we open a story to look into this please?

[2016-07-16 03:47] andresgalante commented on #351
Thanks Joe 😄

@kybaker Can you please check which one of them is right?

[2016-07-18 13:06] dlabrecq commented on #355
Curious is anyone has done any testing with the latest Jekyll?

[2016-07-18 13:09] jeff-phillips-18 commented on #355
I ran through as many different page types in our test pages as I could think of and found no issues.

[2016-07-18 13:09] andresgalante commented on #355
@dlabrecq I've built patternfly with the latest version and have been building my blog with that version with issues.

[2016-07-18 13:38] dlabrecq commented on #355
Good to know. I'm a bit leery upgrading until after this coming release.

[2016-07-18 13:43] jeff-phillips-18 commented on #355
@dlabrecq I believe @andresgalante meant "without issues" as he was very happy with the change. I don't seen any reason to hold back since the compiled results are already committed.

[2016-07-18 14:13] dlabrecq commented on #355
I will feel more comfortable after going through each build, during the upcoming release and confirming there are no issues between patternfly and pf.org. I'm sure it will be fine.

[2016-07-21 23:52] #333 closed

[2016-07-22 14:30] jeff-phillips-18 opened #367 "Patternfly test pages use hard coded colors rather than $.pfPaletteColors"
It is recommended that applications use $.pfPaletteColors to get appropriate colors from the patternfly palette. Patternfly tests pages should use $pfPaletteColors as good examples.

[2016-07-23 18:07] LHinson commented on #231
I've create a story in the backlog for this here: https://patternfly.atlassian.net/browse/PTNFLY-1652

[2016-07-26 19:03] mindreeper2420 opened #373 "nvhbcceeihvtunfvcluibkvnjr"

[2016-07-26 19:08] #373 closed

[2016-07-27 12:36] jeff-phillips-18 opened #375 "Patternfly test pages call for incorrect version of matchHeight"
The test pages using the matchHeight component are including //cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.6.0/jquery.matchHeight-min.js

The bower.json file calls for ~0.7.0 and that version seems to have fixed an issue seen in PR #358.

The test pages need to be updated to use version 0.7.0 of matchHeight

[2016-07-28 13:50] vkrizan opened #377 "Latin2 characters are missing from OpenSans font"
Latin2 characters, such as "č", "ť", "ž", are not included in current OpenSans web font formats.

![opensans-latin2-missing](https://cloud.githubusercontent.com/assets/7695766/17214685/7157b07e-54da-11e6-850c-6b003712fbb6.png)

These characters should be included in "latin-extended" variant, according to [Google Fonts](https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans).

[2016-08-03 21:11] lroitman opened #391 "No dist directory created when installing with npm"
Hi
I am trying to install the latest patternfly version with npm install. After doing so no dist directory is being created under node_modules/patternfly

There was no such problem before version was bumped to 3.8

All the documentation still refers to scripts located under patternfly/dist.

My node version is v6.2.2, npm version 3.10.2, I am running Windows 8

[2016-08-04 01:02] priley86 commented on #391
Hi @lroitman - thanks for mentioning this to us! We recently added the `dist` folder to our `.gitignore`, but forgot to add a `.npmignore` so that it could be included in our NPM distribution.

This has been fixed in [v3.8.1](https://github.com/patternfly/patternfly/releases/tag/v3.8.1). Please simply update your installation and let us know if you have any more trouble. 😄

[2016-08-04 01:02] #391 closed

[2016-08-04 02:49] junezhang opened #395 "Need to remove this right-border in toolbar view selector"
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toolbar.html
There should be a bug. Need to remove this right-border of the view selector.

[2016-08-04 22:39] lroitman commented on #391
Thanks!! All set now!

[2016-08-08 20:27] morsik opened #399 "Popup in List View broken on specific selection"
![snapshot103](https://cloud.githubusercontent.com/assets/783794/17494916/1fe24ee4-5db7-11e6-813d-9c09bf56c636.png)

When I selected 2nd and 3rd entry, then pressed kebab menu on 1nd entry I got what you see on screenshot.
Happens always when entry below clicked kebabmenu is selected. Similar happens when I select 2nd and 4th and click kebab on 2nd.

Bug is there of course: https://www.patternfly.

[2016-08-08 20:46] LHinson commented on #399
This is also being tracked here: https://patternfly.atlassian.net/browse/PTNFLY-1134

[2016-08-09 13:32] skateman opened #401 "Variable referenced before declaration creates issues for SASS conversion"
The `font-size-base` is referenced before its declaration. This is acceptable in LESS, but not in SASS! Could you please do a small reorder in the `variables.less` file to ease the conversion process?

[2016-08-09 18:41] dmsimard commented on #352
@andresgalante would love to hear if you have had the time to try anything out yet. Thanks.

[2016-08-09 19:45] LHinson commented on #352
Hey @dmsimard, just wanted to let you know that @andresgalante is actually on paternity leave atm. He will be returning next week though! In the meantime, I've added a bug in our backlog to help us track this. https://patternfly.atlassian.net/browse/PTNFLY-1710

[2016-08-10 16:13] himdel opened #405 "Buttons: attribute disabled overrides btn-primary+btn-disabled"
A button with `<button class="btn btn-primary btn-disabled">Foo</button>` looks greyish-blue, as it should. But adding the `disabled` attribute (=> `<button class="btn btn-primary btn-disabled" disabled>Foo</button>`) makes the color white, as if `btn-primary` was not there.

I think that's a bug, both should look greyish-blue :).

Applies to all of `<a href="" class="btn .."`, `<input type="butto

[2016-08-10 20:19] jeff-phillips-18 opened #406 "Kebab menu in Toast Notifications is not vertically aligned"
Looking at the toast notifications with the kebab menu, the menu kebab indicator is not vertically aligned with the text. Adding the kebab menu also increases the height of the toast notification (from 45px to 50px).

[2016-08-11 02:47] junezhang commented on #399
@morsik, Please fetch the latest code, this bug has been fixed.
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view.html

[2016-08-11 02:48] junezhang commented on #395
Fixed this issue, close it.
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toolbar.html

[2016-08-11 02:48] #395 closed

[2016-08-12 01:20] jeff-phillips-18 commented on #405
Adding btn-disabled doesn't do anything as that class is not defined as far as I can tell. A disabled button is intentionally set to have background color #fafafa (adding !important).

If you application wants to override that then just add a .btn.disabled selector and set the background color as you wish (also using !imporant or !!important if you can't guarantee order).

@LHinson Can you confirm

[2016-08-12 08:16] himdel commented on #405
Oh, terribly sorry, I really was convinced that `btn-disabled` was a bootstrap thing, not manageiq] thing](https://github.com/ManageIQ/manageiq/blob/master/app/assets/stylesheets/template.scss#L7-L12).

That said.. [bootstrap docs](http://getbootstrap.com/css/#buttons-disabled) show a button with btn-primary and attribute disabled (or class disabled on anchor elements) with that primary color, and

[2016-08-12 12:15] jeff-phillips-18 commented on #405
@himdel OK, I will follow up with @LHinson to determine if we intentionally change all disabled buttons to the same shade of white or if it is a bug. Looking back it has been this way since the dawn of time (in this case 2013) so if it is a bug, that's a hell of a catch 😉

[2016-08-12 13:32] LHinson commented on #405
Thanks @jeff-phillips-18 @himdel I just synced with @kybaker, the visual design lead, and he has confirmed that is the intended design.

[2016-08-12 13:53] kybaker commented on #405
@LHinson We opted to use the gray instead of the lighter color fill when we got the feedback that the lighter buttons still looked clickable without the context of another filled button. Also the color is meant to draw the eye to reinforce an intended workflow, when the button is disabled the same workflow no longer applies.

[2016-08-14 19:32] himdel commented on #405
OK, thanks a lot, I suppose ManageIQ should probably follow then, will pass it on, or do a local override.. :)

[2016-08-14 19:32] #405 closed

[2016-08-16 14:49] jeff-phillips-18 opened #416 "In mobile mode, the Notification Drawer toggle is not accessible, drawer shouldn't expand"
There are 2 issues with the notification drawer in mobile mode.

1) You cannot get to the notification drawer toggle button as it is on the nav bar which is hidden
2) If the notification drawer is expanded, the left settings is too great and expanding the drawer makes it smaller. It should not be expandable in mobile mode.

[2016-08-19 15:59] hpehl commented on #323
Any updates on this one?

[2016-08-19 16:07] andresgalante commented on #323
Hi @hpehl yes, this was address on the latest release:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toast.html

Heads up: You'll need to add a container around the notifications. Check the changes here  #420

[2016-08-19 16:07] #323 closed

[2016-08-19 17:15] skateman opened #427 "Dropdown chopped if rightmost in .toolbar-pf-action-right"
![screenshot from 2016-08-19 19-13-20](https://cloud.githubusercontent.com/assets/649130/17817905/250bd02e-6641-11e6-9c14-a4e76f103cf9.png)

Note: we probably won't have any dropdown at the rightmost position, but it's still a bug in PF.

[2016-08-23 12:07] skateman commented on #401
ping @jeff-phillips-18

[2016-08-24 16:56] jeff-phillips-18 opened #435 "The badges on the primary menu for vertical navigation are not vertically aligned."
When adding badges to the primary nav items in vertical navigation the badge does not align vertically with the text/icon:

![image](https://cloud.githubusercontent.com/assets/11633780/17939772/1c7b9f5e-69fa-11e6-8859-bc14257efc96.png)

[2016-08-25 14:32] cardosogabriel commented on #427
@skateman , when dropdowns are on the edge of the screen, you probably want them to align to the right (not to the left). To do so, you just need to add the class "dropdown-menu-right", which would result: <ul class="dropdown-menu dropdown-menu-right">. Check out the result I got:

(https://snag.gy/cwYIob.jpg)

[2016-08-29 11:52] skateman opened #442 "Blue/black top-border on active items in tertiary navigation"
![screenshot from 2016-08-29 13-51-28](https://cloud.githubusercontent.com/assets/649130/18050595/da5f1296-6def-11e6-8b5f-2ca9f9f6b61a.png)

[2016-08-29 12:21] jeff-phillips-18 commented on #442
This was fixed by https://github.com/patternfly/patternfly/pull/434
Coming soon to theaters near you.

[2016-08-29 12:21] #442 closed

[2016-08-29 13:11] #399 closed

[2016-08-30 03:07] dabeng commented on #352
I think he root cause is [this](https://github.com/patternfly/patternfly/issues/338)

[2016-08-31 00:37] dabeng commented on #338
The global scrollbar is the root cause of this [issuce](https://github.com/patternfly/patternfly/issues/352)(html anchor destinations are hidden by the top navigation bar).

[2016-08-31 12:32] #265 closed

[2016-08-31 18:12] jsniezek opened #447 "List View Selected Item Hover State is the same as Unselected Item Hover State"
This behavior caught my eye in the PatternFly List view example. It was surprising to me that when selecting an element, the hover style was the same as it is when an item is deselected.

I find this a bit disorienting: if you go hover on a selected element, that prominent cue of background color change (back to gray) is so much more apparent than the little checkbox; it gives me a visceral impres

[2016-08-31 18:20] jsniezek opened #448 "PatternFly Icons Cheatsheet page has two broken links"
The links to download the PatternFlyIcons-webfont.ttf and FontAwesome.otf are broken. Please update them to point to the current URLs for these resources.

[2016-09-01 15:41] srambach opened #452 "Notification drawer tab heading wrapping problem when collapsed"
In the notification drawer, when a Notification Tab is collapsed, the caret wraps onto its own line. When expanded, it is beside the title.
https://www.patternfly.org/pattern-library/communication/notification-drawer/#/_code
I see this in Chrome, Firefox, and Safari.

[2016-09-01 15:42] srambach commented on #452
![screen shot 2016-09-01 at 11 41 39 am](https://cloud.githubusercontent.com/assets/19825616/18173819/168d3c3e-7039-11e6-8f22-58ee28451cc1.png)

[2016-09-06 14:33] gr0ebi opened #457 "navbar-toggle throw JS error in IE11 in fullscreen"
Hi,

I'm using patternfly since 2 days and rly like it with Visual Studio 2015 C# MVC.
Here is a screenshot of my error (in german): http://imgur.com/a/LHgXM
Line 1075 in patternfly.js
It says "Runtimeerror in Javascript: Object doesn't support this action"

I only get this error in Internet Explorer 11 when in full screen (not F11, normal fullscreen)

Thanks

[2016-09-06 21:33] kahboom opened #458 "npm module for PF not transpiling LESS to CSS properly"
Hello! We're using PatternFly for the front end of the iPaaS project ([here](https://github.com/hawtio/hawtio-ipaas), my dev branch [here](https://github.com/kahboom/hawtio-ipaas/tree/dev-starter-merges)). Our stack is Angular 2.0 and Webpack 2. I'm aware that Angular 2 is not yet supported, as I opened an issue in the angular-patternfly repo [here](https://github.com/patternfly/angular-patternfly

[2016-09-07 13:32] priley86 commented on #458
As you're probably noticing, pathing with Webpack can be challenging. As it's a new technology, there are still a lot of open issues.

One thing I noticed while attempting to compile Patternfly LESS directly from the NPM node_modules folder was the relative paths in LESS import statements were not always respected. This appears to be an open issue with Webpack less-loading.
https://github.com/webp

[2016-09-07 13:56] dlabrecq commented on #457
You may have discovered an IE 11 bug? Seems others are having similar problems with dispatchEvent on IE 11.

http://stackoverflow.com/questions/27176983/dispatchevent-not-working-in-ie11

[2016-09-08 06:29] dabeng commented on #452
Hi @srambach . This UI bug is caused by the following css code snippets in patternfly 3.10.0.
[code]
For the moment, this settings has been removed in current master branch.  After the new version is published, this issue will disappear automatically. :blush:

[2016-09-08 06:35] dabeng commented on #448
Could you provide the url of the page?

[2016-09-08 06:46] dabeng commented on #447
Sorry jsniezek. I have different opinion. I think this behavior is exactly best practice rather than something weird. No need to modify it.

[2016-09-08 10:17] dabeng opened #460 "inner scrollbar can impact outer scrollbar in notification drawer"
I have a confusion. On horizontal navigation page or vertical navigation page, if we got a global scrollbar, and we move the cursor on over the notification drawer as shown in below snapshots, then we continuously scroll to top edge or scroll to bottom edge, the outer scrollbar will show a response, is this expected behavior?
![screenshot from 2016-09-08 18-01-08](https://cloud.githubusercontent.c

[2016-09-08 16:30] LHinson commented on #447
@jsniezek we are actually working on a test plan for card view and list view. Here's the story https://patternfly.atlassian.net/browse/PTNFLY-1743 I think we could include this in the test to see how we might need to address from a design perspective.

[2016-09-08 19:08] kahboom commented on #458
Thanks @priley86 - Your response helped a lot, as did the patternfly-demo-app. It's a shame that 1) LESS files can't be imported into SCSS files and 2) Webpack's LESS loader has relative path issues.

I'm following the examples provided in the patternfly-demo-app to load PF JS files in a similar way. I provided some feedback for the patternfly-demo-app and opened up an issue [here](https://github.

[2016-09-08 20:46] jeff-phillips-18 commented on #458
@kahboom Please take a look at https://github.com/patternfly/patternfly-sass .  It contains SCSS versions of the patternfly less files. Might be helpful to you.

[2016-09-08 21:50] kahboom commented on #458
@jeff-phillips-18 - Thanks! It looks like it was made for use with Ruby on Rails, but I'll just install it with npm by referencing the GH repo and use the tags for version control. There used to be an issue with installing GH repos and using npm's shrinkwrap, but I think that was fixed already if I recall correctly.

[2016-09-09 12:44] priley86 commented on #458
@kahboom great to see you are experimenting with Webpack2. I'm pretty excited about tree-shaking features coming in, but haven't yet tried them. Would be happy to accept any contributions you might have on that front, and really appreciate this!

Are we safe to close this issue? Will try to comment now on [#10](https://github.com/patternfly/patternfly-demo-app/issues/10)...

[2016-09-09 14:36] kahboom commented on #458
@priley86 - Yep, feel free to close it. I'll report back with any miseries or successes with using Webpack 2 and PF together (in conjunction with Angular 2). I might write a blog post on it this/next week if I get a chance as well, in case anyone else finds it useful. Thanks so much for all the help!

[2016-09-12 01:48] dabeng commented on #460
Does anybody want to pursue the details with me?

[2016-09-13 14:25] dmsimard commented on #352
@dabeng you think ? This issue is kind of frustrating for me. I like the patternfly navbars but I don't have this issue with pure bootstrap navbars :(

[2016-09-13 15:17] dtaylor113 opened #464 "Cannot programmatically expand patternfly-bootstrap-treeview nodes"
Hi,
I added the following code below to .../patternfly/tests/pages/bootstrap-treeview-2.html in an attempt to programmatically expand all the root nodes:

[code]

I believe the following line is failing:

`$('#treeview1').treeview('expandNode', [rootNode[i].nodeId]);`

I get the following error:

`Uncaught TypeError: Cannot read property 'expanded' of undefined bootstrap-treeview.min.js:1`

This w

[2016-09-13 15:17] dtaylor113 commented on #464
@serenamarie125  Seems like the upgrade to PF 3.10.0 caused the issue we are seeing in the Automated Entry Points treeview :-(

[2016-09-13 15:33] dtaylor113 commented on #464
Hi, just FYI, in a new directory I issued:

`bower install bootstrap-treeview`

and created a new index.html file with their basic demo code, added my expend code, and it worked without any errors, so it seems like something in patternfly-bootstrap-treeview...unfortunately :cry:

[2016-09-13 15:44] dtaylor113 commented on #464
@skateman , wonder if this has anything to do with the recent work you did around expanding nodes?
https://github.com/patternfly/patternfly-bootstrap-treeview/pull/7
Thanks,
- Dave

[2016-09-13 16:25] skateman commented on #464
No, this is a known issue and this will fix it https://github.com/patternfly/patternfly-bootstrap-treeview/pull/6

[2016-09-13 16:30] dtaylor113 commented on #464
Great!  Thanks for the reply :-)

[2016-09-14 13:21] #458 closed

[2016-09-15 08:51] skateman opened #468 "Package name inconsistency between bower.json and package.json"
In `package.json`:

[code]

In `bower.json`:

[code]

[2016-09-15 10:51] sergio-ocon opened #469 "RFE Being able to search in dropdowns and change selection"
When using a dropdown, you can only hit the first letter.

For instance: with a list like this for cost center:
 - 100501 - one
 - 101502 - two
 - 102523 - three
 - 103112 -four
 - ....
 - 13912 - thirty nine
 - (2000 in total)

You would have to hit 1 - 39 times to get to the element you are looking for.

It would be great to have a dropdown that allows you to press 112 and choose directly that,

[2016-09-15 15:20] lizsurette opened #470 "List View Row Variation #1 (Including donut chart) is broken"
I was looking to use donut charts within a list view and didn't see an example. After looking closer into the Row Variation #1 it looks like the code is attempting to offer that, but the donut charts aren't showing up. Unfortunately, I can't identify the exact issue :(

https://www.patternfly.org/pattern-library/content-views/list-view/#/_code

[2016-09-15 15:55] lizsurette opened #471 "List View - Wrong Content view icon selected - should be list view"
In the reference markup, the wrong icon is selected in the example. It should have the list view icon selected rather than 2nd content view.

[2016-09-16 03:19] serenamarie125 commented on #469
@sergio-ocon Did you try bootstrap-combobox? http://www.patternfly.org/pattern-library/widgets/#bootstrap-combobox

I think that this will work, it filters the list and only shows items with a substring match

[2016-09-16 07:52] sergio-ocon commented on #469
Yes, that would work.

I wonder if we can use it instead of select in ManageIQ. I have a customer that was asking why we have changed the behaviour of selects... before you could use more keys to choose, now they have 3000 tags and the interface of the dialogue uses a dropdown.... in the past the same dropdown allowed to search for more than one key

[2016-09-16 07:52] #469 closed

[2016-09-18 03:28] dabeng opened #475 "A click on link buttons or dropdown menu items will result in jumping to the top of page"
You can find this kind of bug on It's an unacceptable for users.

![screenshot from 2016-09-18 11-24-13](https://cloud.githubusercontent.com/assets/5689075/18612687/1521f354-7d26-11e6-848b-027a971d1ba6.png)
![screenshot from 2016-09-18 11-24-29](https://cloud.githubusercontent.com/assets/5689075/18612689/167d0b08-7d26-11e6-9ca5-e2a02a22545c.png)

[2016-09-18 03:42] dabeng opened #476 "There is a typo on the progressbar of card"
![screenshot from 2016-09-18 11-36-01](https://cloud.githubusercontent.com/assets/5689075/18612755/02709664-7d28-11e6-82e3-c0009d7ac9e0.png)

[2016-09-18 03:56] dabeng opened #477 "The style of validation popup for email field is apparently different from the patternfly style"
![screenshot from 2016-09-18 11-53-21](https://cloud.githubusercontent.com/assets/5689075/18612804/f74a1a4c-7d29-11e6-9183-4cfffa6a5a42.png)

[2016-09-18 06:05] dabeng opened #478 "Toast notification is unworthy of the name"
bootstrap alert **+** close button **!=** toast notification. Where is toast effect? How show/hide? What about position of notification? There are still many details we need to take into account. I believe [toastr](http://codeseven.github.io/toastr/demo.html) is a great inspiration.

[2016-09-18 06:31] dabeng opened #479 "It's better to let the user resize only the height of <textarea>"
![screenshot from 2016-09-18 14-19-47](https://cloud.githubusercontent.com/assets/5689075/18613400/a214b2b0-7d3f-11e6-9063-dd896fa184f8.png)

[2016-09-18 06:53] dabeng opened #480 "two much blank space. Isn't it?"
![screenshot from 2016-09-18 14-42-53](https://cloud.githubusercontent.com/assets/5689075/18613532/a7bb48fc-7d42-11e6-9731-486279bb59f5.png)

[2016-09-18 07:28] dabeng opened #481 "How could I copy popup data items on all charts?"
I have a primary demand for all charts. I wanna copy popup data items( for example "320" shown on the following picture ). Looking forward a simple way.

![screenshot from 2016-09-18 15-18-06](https://cloud.githubusercontent.com/assets/5689075/18613774/d7c9a21a-7d46-11e6-94ea-1ffd5e4ca51e.png)

[2016-09-18 08:12] dabeng opened #482 "Initial arrow direction is not correct"
![screenshot from 2016-09-18 15-59-16](https://cloud.githubusercontent.com/assets/5689075/18614099/b2d72e30-7d4d-11e6-9c2f-66c94331fc95.png)
![screenshot from 2016-09-18 15-59-21](https://cloud.githubusercontent.com/assets/5689075/18614100/b7894c56-7d4d-11e6-85b4-1726067fd704.png)

[2016-09-18 08:56] dabeng opened #483 "Why not introduce bootstrap carousel into "Wizard" pattern?"
- Compose multiple standalone wizard pages into one page;
- Enable back/next buttons;
- Animate the status line;
- It's better to unify the size of multiple modal windows.

All above is just my personal improvement advice. Does anybody has the similar ideas?

[2016-09-18 09:03] dabeng opened #484 "Hover style for datatables row is fundamental and necessary"
Current patternfly datatables hasn't highlight effect when mouse moving over the rows .

[2016-09-18 12:39] dabeng opened #485 "Field level help is too high"
![2016-09-18_20-34-50](https://cloud.githubusercontent.com/assets/5689075/18615714/fe29e25a-7ddf-11e6-8264-c194b33d1aef.jpg)

[2016-09-18 13:00] dabeng opened #486 "Perhaps we missed the required filed symbol"
We usually place red * before required fields of form.

![2016-09-18_20-49-01](https://cloud.githubusercontent.com/assets/5689075/18615822/d7dae88a-7de2-11e6-8e98-9c797976df03.jpg)

[2016-09-19 00:51] serenamarie125 commented on #469
@sergio-ocon In MIQ for 4.2 they are converting to select with search.  I think happy martin, david halaasz and eric winchell have additional knowledge on that

[2016-09-19 11:12] sergio-ocon commented on #469
Great!

[2016-09-19 15:04] AllenBW opened #489 "Update dependencies"
Wondering if there is any possibility to update...
 `"jquery": "2.1.4"` to `"jquery": "3.1.0"`

[2016-09-19 15:38] lizsurette opened #490 "Needed to extend script references to get Dropdown to work"
Any code snippets for Dropdown (And where ever the dropdown is used) doesn't have enough to allow dropdown to work. I needed to add separate references to jquery.min.js and bootstrap.min.js to get it to work in my prototype. Script references incase it helps:

[code]

[2016-09-20 11:02] andreasn opened #491 "really, really long words overflow the inline error notification"
We have an issue in the Image Registry where really long strings overflow the inline notification error.
The error itself warns against names that are 63+ characters long, but if the word is 100+ letters long, that word will overflow the notification itself.

![screenshot from 2016-09-20 12-57-50](https://cloud.githubusercontent.com/assets/209895/18667852/86109e36-7f32-11e6-9eaf-d34ef0cbbf1e.png)

[2016-09-20 11:25] andreasn commented on #491
word-wrap: break-word; might be a good solution here.

[2016-09-20 14:53] lizsurette opened #492 "List View: Find widget gets cut off page if content view selection isn't present"
If the content view type selection is removed, the find widget falls off of the page when clicked. Screenshot:
<img width="995" alt="find bug" src="https://cloud.githubusercontent.com/assets/208455/18675536/a6c31eb8-7f20-11e6-8f37-62bb9e8ab257.png">

[2016-09-20 15:07] lizsurette opened #493 "Notification Drawer: Collapsed panel titles wrap to next line"
Collapsed panel titles within the notification drawer wrap to next line after the arrow. I'm assuming these shouldn't wrap unless the text gets too long.

Screenshot:
<img width="1426" alt="notification drawer bug" src="https://cloud.githubusercontent.com/assets/208455/18676078/67a17c64-7f22-11e6-862e-5d4917ca156a.png">

[2016-09-20 17:10] jeff-phillips-18 commented on #493
This was fixed in 3.11 by #454

[2016-09-20 17:10] #493 closed

[2016-09-20 17:22] lizsurette commented on #493
Upgraded to latest PF and can confirm it's working as expected now :)

[2016-09-22 06:41] junezhang commented on #492
@lizsurette Thanks for reporting this issue. I fixed it in this PR #494 . when merged, I will inform you.

[2016-09-26 14:19] lizsurette commented on #492
@junezhang thank you so much!

[2016-09-30 20:06] rhwood opened #496 "Vertical navigation hides any horizontal navigation items on narrow viewports"
When the Vertical Navigation pattern is used with any menu items on the top navigation bar (status/alerts, help, user preferences/logout as shown at http://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation.html#_), and the viewport is narrow (such as on a smart phone, or Mozilla Firefox made narrow), the top navigation items are inaccessible.

[2016-10-05 21:21] chsreedhar opened #499 "Bootstrap Select"
I tried same as example given for  [Bootstrap Select](https://www.patternfly.org/pattern-library/widgets/#bootstrap-select) . It is formatting the `<select>` tag but on click, options are not opening. Same is working with bootstrap.js

[2016-10-10 02:06] junezhang commented on #492
@lizsurette, the PR has been merged, please check it again. Thanks.

[2016-10-10 03:17] dabeng commented on #452
The duplicate issue([Notification Drawer: Collapsed panel titles wrap to next line](https://github.com/patternfly/patternfly/issues/493)) has been closed. @srambach it seems safe to close your issue.

[2016-10-11 12:04] andresgalante commented on #499
Hi @chsreedhar
I can't reproduce the issue. Bootstrap select is working on the website. Can you please double check?

[2016-10-11 12:06] andresgalante commented on #496
@rhwood thanks, this is a known bug. Would you like to send a PR to fix it?
if not, @LHinson Can we create a story to deal with it?

[2016-10-11 12:07] andresgalante commented on #491
@andreasn Thanks a lot for reporting this, would you like to send a PR with the `word-wrap` fix?

[2016-10-11 12:08] andresgalante commented on #489
@priley86 Did we upgrade?

[2016-10-11 12:09] andreasn commented on #491
Sure. I'll get one together.

[2016-10-11 12:10] rhwood commented on #496
I won't be able to get to it anytime soon.

[2016-10-11 12:10] andresgalante commented on #486
We are working on it here https://github.com/patternfly/patternfly/pull/473
thanks!

[2016-10-11 12:10] #486 closed

[2016-10-11 12:13] andresgalante commented on #491
Awesome, you are the best 😄  !

[2016-10-11 12:33] andresgalante commented on #496
@rhwood Don't worry, we'll take care of it. Thanks for reporting the bug.

[2016-10-11 15:00] cardosogabriel commented on #212
@jhotujec , you can see it here now: http://www.patternfly.org/pattern-library/content-views/table-view/#_code

[2016-10-11 15:09] cardosogabriel commented on #255
Hi @andreasn . Unfortunately every browser presents it in a different way. This article show some workarounds, for example removing the controls: https://css-tricks.com/numeric-inputs-a-comparison-of-browser-defaults/
Hope this helps.

[2016-10-11 15:14] cardosogabriel commented on #295
Super late, but I also agree that the blue is not an issue for me.

[2016-10-11 15:32] #295 closed

[2016-10-11 21:09] dlabrecq opened #506 "DataTable - Inline actions lose border for ie9"
Per code review comments, the inline actions (i.e., button and kebab) are styled like so:
- Height must be 100% of table cell
- Width must be 100% of table cell
- Button and kebab must be centered vertically (e.g., when lines wrap on small screens)
- Button and kebab must show a gradient

The current implementation has the button and kebab separated by two table cells, which share a single table h

[2016-10-12 07:30] junezhang commented on #492
HI, Liz, The PR has been merged,  I'd like to close this issue, if anything is wrong, please reopen it. Thanks.

[2016-10-12 07:30] #492 closed

[2016-10-12 15:06] lizsurette commented on #492
Thanks @junezhang !

[2016-10-12 15:06] bleathem commented on #506
Thanks for reporting this @dlabrecq.  I've created a jira bug to track this issue here:
https://patternfly.atlassian.net/browse/PTNFLY-1897

[2016-10-12 16:36] jawnsy commented on #210
:+1: I was just looking for something like this today. There are of course many slider widgets available, but I wanted one that was consistent with the PatternFly design language.

The best one I've seen so far is the Material Design one ([Polymer paper-slider](https://elements.polymer-project.org/elements/paper-slider?view=demo:demo/index.html&active=paper-slider)) though I haven't done an exhaus

[2016-10-12 17:53] dlabrecq commented on #506
Awesome! Hopefully a set of new eyes can help here?

[2016-10-14 17:04] nireno opened #511 "panel-primary breaks within panel-group"
Panels headers with the panel-primary class do not display the proper background-color when wrapped in  a panel-group. I've setup [this jsfiddle example](https://jsfiddle.net/9eokgb52/).

The fiddle shows that the panel only displays the correct border color. The background color on the other hand looks like panel-default even when the panel has a class of panel-primary or panel-warning.

[2016-10-17 08:55] skateman opened #512 "Sidebar doesn't work properly with tertiary-nav"
The `$(document).sidebar()` function isn't implemented for `navbar-pf-vertical` only `navbar-pf`:

![screenshot from 2016-10-17 10-55-26](https://cloud.githubusercontent.com/assets/649130/19431296/3c371a02-9458-11e6-9e87-b3b15fc28ffb.png)

[2016-10-17 09:14] chsreedhar commented on #499
hi @andresgalante

Code given at [Bootstrap Select](https://www.patternfly.org/pattern-library/widgets/#bootstrap-select) is not working, but live example is working. Same code is working with bootstrap.js insted of patternfly.js

[2016-10-17 09:23] #499 closed

[2016-10-17 17:39] #141 closed

[2016-10-18 13:00] #452 closed

[2016-10-19 09:52] skateman opened #517 "Menu glitch after refreshing a page with pinned navbar"
Steps to reproduce:
1. Pin a menu item in the navbar
2. Refresh the page
3. Move your mouse quickly to an expandable 1st level navbar item other than the pinned
4. After the pinning is reset, the hovered 1st level navbar item is still visible

![screencast from 2016-10-19 11-48-42](https://cloud.githubusercontent.com/assets/649130/19515900/bae4c622-95f9-11e6-95e3-034d1dc15397.gif)

[2016-10-19 15:41] andresgalante commented on #517
Thanks guys 😄

[2016-10-19 15:41] andresgalante commented on #512
@jeff-phillips-18 when you have time, can you please take a look at it?

[2016-10-26 17:45] rhamilto commented on #496
+1  This is a blocker for OpenShift.

cc:  @jwforres, @spadgett

[2016-10-26 18:55] andresgalante commented on #496
@bleathem @LHinson let's work on this next sprint

[2016-10-26 19:00] jwforres commented on #496
thanks @andresgalante ! Logout getting hidden at mobile is a non-starter :)

[2016-10-28 11:24] dmsimard commented on #352
@LHinson @andresgalante I would love to know if you guys have found anything for this :(

Surely using link anchors with the vertical navigation is a fairly common use case ?

[2016-10-31 10:21] skateman commented on #517
I'm still able to reproduce this issue with v3.13:
![screenshot from 2016-10-31 11-20-16](https://cloud.githubusercontent.com/assets/649130/19851025/19bed190-9f5c-11e6-95b5-70d3d659ebed.png)

[2016-11-02 14:25] rhamilto opened #526 "List view compound expansion "x" icon is not clickable when viewport is < 992px wide"
On https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-compound-expansion.html with a row expanded and a viewport less than 992px wide, the "x" icon to close the expanded area is not clickable.

<img width="957" alt="screen shot 2016-11-02 at 10 24 51 am" src="https://cloud.githubusercontent.com/assets/895728/19932456/99ed30c4-a0e6-11e6-8a1e-f7211040ebfd.PNG">

[2016-11-08 00:26] jawnsy opened #529 "Card views do not appear to be keyboard-accessible (single + multi-select)"
The examples for single- and multi-select card views do not appear to be keyboard accessible.  It's possible to add a `tabindex=0` to the card div to make it focusable, but I'm not quite sure how to make it behave nicely (I should note that I'm not an expert on the frontend - I just know enough to be dangerous :smile:)

Example here: http://www.patternfly.org/pattern-library/content-views/card-vie

[2016-11-10 00:39] jawnsy commented on #210
I've tried an experiment using the [CSS Tricks tutorial for styling range input](https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/). Some styles were ~~stolen~~ adopted from @andreasn's pull request with colors from [PatternFly's color palette](https://www.patternfly.org/styles/color-palette/).

I tested this on Firefox 45.4.0 and Chrome 55.0.2883.35 (beta), both on Linux a

[2016-11-10 04:21] serenamarie125 commented on #210
@jawnsy thanks for taking the initiative on this!  Can you answer a couple questions on the implementation?
- Can you optionally display slider labels (for values) above the slider along with axis marks?
- Does this support a tap for selection and/or press and drag?
- Can you optionally support a tooltip so that when slider values are not shown, the user could hover over the slider indicator and s

[2016-11-10 09:35] himdel commented on #457
This is also hitting ManageIQ, running on IE11, we get "Object doesn't support this action" both on the login screen and after that.

The code in question is
[code]

in vertical navigation, `onResize`, same as @gr0ebi 's screenshot.

IE11 does not support this way of creating new events, the problem is not `dispatchEvent` but `new Event`.

Cc: @serenamarie125 (it already existed :))

[2016-11-10 16:41] jeff-phillips-18 commented on #517
@skateman Can you try to reproduce on http://rawgit.com/jeff-phillips-18/patternfly/tertiary-nav-dist/dist/tests/vertical-navigation-with-tertiary-pins.html ?

[2016-11-10 17:04] jawnsy commented on #210
Hey @serenamarie125

Admittedly this is a pretty spartan implementation - it's simply styling for the built-in HTML5 range widget, so that it hopefully fits in better with the PatternFly Design Language.  The things you describe may require an entirely custom widget, which is what the Polymer team seem to have done, and which I believe @andreasn has done as well in Cockpit.  That approach may ulti

[2016-11-10 17:29] skateman commented on #517
@jeff-phillips-18 :+1:

[2016-11-11 17:15] jsniezek commented on #448
For PF icons, looks to now be: https://github.com/patternfly/patternfly/raw/master/src/fonts/PatternFlyIcons-webfont.ttf

Not sure about FA icons link.

[2016-11-18 16:50] lorthirk opened #535 "Broken Webpack compatibility in 3.14.0"
Hi all. I'm using Patternfly (and Angular-Patternfly, for what it's worth) with Webpack. Up until 3.13.0 everything worked fine, but today upgrading to 3.14.0 I discovered that the `patternfly` global variable isn't exported anymore. Specifically, these lines (patternfly-settings.js:497)

[code]
Gets translated by Webpack to:
[code]
So anyone who needs the patternfly global variable will fail (e.g

[2016-11-20 14:36] dmsimard commented on #352
I ended up using http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header/13067009#13067009 which seems to work fine so far.

[2016-11-21 02:35] serenamarie125 commented on #210
@jawnsy there are definitely projects that would benefit! @LHinson @andresgalante @bleathem do you agree?

[2016-11-23 13:21] andresgalante commented on #210
@jawnsy the html5 slider is smart and I didn’t know it had such good browser support 😄. Thanks for putting this together.

I'd rather not use the polymer component.

@serenamarie125 @LHinson I think say we should start the other way around for this case. We already know the tech limits of it, now we can do the conceptual design see what features need in a slider, then look for the technology that

[2016-11-26 03:40] jawnsy commented on #210
@andresgalante

I wasn't suggesting that we use it, I was just pointing it out as an example of prior art. There are some things that may not be customizable (for example, only Edge supports different lower/upper colors) with native HTML5 elements. It might be possible to achieve similar support through polyfills or by creating a custom widget (as @andreasn's implementation has done for Cockpit).

[2016-11-26 08:10] rodwin commented on #300
@andresgalante
Previous link are now 404. I am also looking for code that I've missed since my sidebar is not working. Looking at this page http://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation-without-icons.html, the sidebar is menus are not showing as well as the toggle menu not working.

[2016-11-28 21:30] dtaylor113 opened #540 "Need to move/remove treeview styles from patternfly-additions.css"
Hi,
I believe obsolete treeview styles in patternfly-additions.css is colliding with styles in patternfly-bootstrap-treeview.  If you look at this plnkr: https://plnkr.co/edit/e8pJdZRw3jQzlbR9ximt?p=preview
you'll see that tree node selection highlights and the cursor is a hand pointer.

If you then uncomment <link ..... patternfly-additions.css"> you'll notice that the hand point and node selecti

[2016-11-30 19:52] thiagodp opened #542 "[Feature Request] - Colors for badges"
Bootstrap 3 doesn't support colors on badges by default. It would be interesting if PatternFly could add these, maybe adapting some colors:
[code]
So a developer could use it like this:
[code]

[2016-11-30 20:22] thiagodp opened #543 "[Feature Request] - Supporting columns in vertical navigation"
When the vertical navigation menu expands, it could show more than one column.

Maybe something like this, but without the separation lines:

![image](https://cloud.githubusercontent.com/assets/2997844/20769594/d192bc3e-b729-11e6-8468-fe94061a8758.png)

[2016-12-01 16:39] dtaylor113 opened #544 "PF.org: Broken link to "Patternfly Code Guide" in Getting Started -> Contribute"
Hi,
Looking here: https://www.patternfly.org/get-started/contribute/

The "Check out our PatternFly Code Guide. " link goes to http://codeguide.patternfly.org/, which results in a error "This site can’t be reached".

[2016-12-01 22:11] serenamarie125 opened #545 "Selected rows in List View HTML/CSS should be changing the row background color"
In the List View, when using multi-selection via checkboxes, "selected" rows should use row shading.  This is implemented in Angular, but not in the html/css.

Design is shown here:
![screen shot 2016-12-01 at 5 09 33 pm](https://cloud.githubusercontent.com/assets/12504403/20814757/0205c87e-b7e9-11e6-9019-69e88b551697.png)

CSS/HTML Example:
![screen shot 2016-12-01 at 5 09 45 pm](https://cloud.gi

[2016-12-01 22:14] serenamarie125 opened #546 "Table View selected & hover visualizations are missing a top border"
Although the code isn't on patternfly.org, looking at the test page for Table View https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/table-view.html, the selected and hover visualizations are missing a top border.

Screenshot of the test page
![screen shot 2016-12-01 at 5 11 56 pm](https://cloud.githubusercontent.com/assets/12504403/20814905/a30fdc78-b7e9-11e6-8094-14a9d087c245.png)

[2016-12-05 16:02] lorthirk commented on #535
This can be closed, right?

[2016-12-05 19:43] dgutride commented on #535
Yes - closing :)

[2016-12-05 19:43] #535 closed

[2016-12-06 10:30] knokit opened #549 "Vertical navigation with item fixed at the bottom"
Is there currently any way to display an item fixed at the bottom of vertical navigation?

Tried to use `position: fixed` on the item ([jsfiddle with example](https://jsfiddle.net/knokit/ehum0hqu/)), however, it doesn't display properly on Chrome and Safari when used together with a css animation (e.g.: spinner).

Not querying elements hierarchically, in `bindMenuItemsBehavior()`, as in [this line

[2016-12-07 22:04] lroitman opened #550 "npm update doesn't promote c3 after 3.16 was released"
I am using patternfly-provided C3 library in my project, and up until now after I updated patternfly through npm update the C3 would be promoted and placed under my node_modules.

Now, when I do npm update the c3 remains under patternfly/node_modules

Is this something you are going to fix soon, or is it how it supposed to provide c3 from now on?

[2016-12-08 05:24] lroitman commented on #550
To clarify, the QUICKSTART still suggests to include 3rd party libraries from the root node_modules, like:
[code]

but the actual location of c3 and d3 modules are under node_modules/patternfly/node_modules/c3 and node_modules/patternfly/node_modules/d3

[2016-12-08 14:41] dtaylor113 commented on #550
Hi @lroitman ,

I verified this.  I did:

[code]

patternfly@3.16.0 was installed:
[code]
'patternfly' is the only directory/package in the resulting 'node_modules' directory, and in it's 'node_modules' are all the dependent packages.

I then did:

[code]

patternfly@3.15.0 was installed:
[code]
patternfly 3.15.0 does indeed install all dependent packages in the root of 'node_modules', as opposed

[2016-12-08 18:16] lroitman commented on #550
@dtaylor113 Dave, thanks for the clarification! This is exactly what is happening. I think at one point patternfly went for "flat" distribution, where it dependent packages were installed under parent node_modules. We changed the necessary paths when including dependent packages at that point, and as a result, after yesterday's update our app doesn't work as expected.

I just need to know if this

[2016-12-09 14:13] dlabrecq commented on #550
FYI, the npm install of patternfly 3.16.0 includes a shrinkwrap file; thus, npm 3 installs dependencies are installed under the node_modules/patternfly/node_modules directory. Previous versions v3.0.0 - v3.9.0 also included this shrinkwrap file and those dependencies were installed under the same directory as well. For some reason, the npm install for versions v3.10.0 - v3.15.0 omitted the shrinkw

[2016-12-09 17:44] lroitman commented on #550
Thanks @dlabrecq for looking at this. Any way is fine, just wanted to understand exactly what patternfly's intention regarding dependencies is.

Make sure QUICKSTART.md is updated as well (see my earlier post, it refers to flattened node_module structure)

[2016-12-12 15:09] jgiardino opened #553 "Kebab menu in notification drawer gets cut off"
The kebab menu in the notification drawer gets cut off by the row with link "Mark All Read".
<img width="325" alt="screen shot 2016-12-12 at 10 06 23 am" src="https://cloud.githubusercontent.com/assets/21063328/21104014/dabb18e2-c052-11e6-8f8c-88aa657d94a3.png">

You can see this behavior in the examples on this page:
http://www.patternfly.org/pattern-library/communication/notification-drawer/#/ap

[2016-12-19 15:27] andresgalante opened #554 "Links on the vertical nav mast head are blue"
@srambach discovered today that if you add text beside the icons on the vertical nav mast head on the right they show blue instead of light grey:
<img width="370" alt="screen shot 2016-12-19 at 12 26 19 pm" src="https://cloud.githubusercontent.com/assets/1832037/21318041/5ff45a26-c5e6-11e6-98d4-809010c81c22.png">

Here is the mockup:
http://www.patternfly.org/pattern-library/navigation/vertical-na

[2016-12-20 15:55] ameron83 opened #555 "DataTables bootstrap_input pagination control triggers a js error when the table contains precisely one row"
When manually typing a new page number value in the bootstrap input text of a DataTable, if the table contains exactly one row and the new page number is higher than the current table pages (which is 1 since the table must contain only 1 row), I get a javascript error:
`Uncaught TypeError: Cannot read property 'nTr' of undefined`

This seems to be caused by the following line:
`oSettings._iDisplay

[2016-12-20 22:54] mresti opened #556 "Add an example of Stacked Bar Chart"
Hi,

I've just started working on a project using Patternfly. One of the requirements of this project is to use Stacked Bar Chart:

![seleccion_092](https://cloud.githubusercontent.com/assets/1193771/21371092/90c55a04-c70f-11e6-9b95-e8075f1d351d.png)

This chart is a bar chart that I had developed using patternfly, but I didn't find in the documentation an example for stacked bar chart (https://ww

[2016-12-21 08:30] sergio-ocon commented on #556
What are you missing?

I see an example code here:
https://www.patternfly.org/pattern-library/data-visualization/bar-chart/#_code

[2016-12-21 14:46] LHinson commented on #556
@sergio-ocon, @mresti is right. We don't have the version with the stacked bars (a bar with multiple colors)

@mresti Yes! We love to get this added to PatternFly. Thanks for reaching out to us and offering to contribute! Are you interested in contributing the implementation? Would you be willing to help out with design documentation too and sending a PR to our design repo [1]? Happy to help you o

[2016-12-21 16:02] mresti commented on #556
@sergio-ocon @LHinson Thanks!!!

@LHinson Yes, I am interested in contributing in this project with the implementation and design documentation. I will send a PR to design repo[1] and a PR to implement repo [2].

[1] https://github.com/patternfly/patternfly-design/tree/master/pattern-library/data-visualization/bar-chart/design
[2] https://github.com/patternfly/patternfly

[2016-12-21 16:22] LHinson commented on #556
That's awesome @mresti Reach out to me anytime if you need anything.

FYI - I just sent an invite to your gmail to our PatternFly slack channel. There is a lot of conversation happening there and would be a good place to reach out to us.

[2016-12-22 15:33] vkrizan opened #559 "Item Heading for Stacked list view overflows"
If the content of list view heading (`.list-view-pf-stacked .list-group-item-heading`) is longer, then it overflows from the list and pushed additional content to right (`.list-view-pf-additional-info`).

Could it flex (and add ellipsis)?

![screenshot from 2016-12-22 16-30-12](https://cloud.githubusercontent.com/assets/7695766/21430655/57397ef4-c864-11e6-807c-8c8d85e3faa9.png)

[2016-12-28 20:26] donnydavis opened #561 "RFE: Improve docs to include complete example"
The readme refers to jekyll, but for someone who has never used patternfly, grunt, npm, etc its very confusing to figure out how to make even the most basic of site.

A reference implementation of a static site using jekyll would be ideal, as the docs and patternfly already render using it.

[2017-01-02 16:58] michpetrov commented on #338
Hi @andresgalante, is there an issue with using [viewport units](https://developer.mozilla.org/en-US/docs/Web/CSS/length#Viewport-percentage_lengths)?

At first glance it looks like all that is necessary is to set the content height as something like

    height: calc(100vh - <navbar-height> - <margin-top>);

The result looks like [this](https://rawgit.com/michpetrov/patternfly/content-height-dist

[2017-01-03 13:26] andresgalante commented on #338
@michpetrov you are right, we can do it with `vh` since we don't have the options with footer and alt layouts anymore.

[2017-01-03 14:07] dtaylor113 commented on #561
Hi, we only use jekyll to generate our patternfly test pages.   Please see our [Quickstart](https://github.com/patternfly/patternfly/blob/master/QUICKSTART.md) guide on how to integrate patternfly styles and javascript into an already existing site.
Please see our [Demo App](https://github.com/patternfly/patternfly-demo-app) for a complete example of standalone website using patternfly.
HTH,
- Dav

[2017-01-06 17:19] andresgalante commented on #559
That's strange, it does ellipse:
<img width="748" alt="screen shot 2017-01-06 at 2 18 57 pm" src="https://cloud.githubusercontent.com/assets/1832037/21726333/2089e6c4-d41b-11e6-9a94-7648cbef8090.png">

Can you send me a rawgit or somewhere I can see the code?

[2017-01-08 17:18] vkrizan commented on #559
[code]

I'm using Firefox 50.1.0.

[2017-01-09 14:04] andresgalante commented on #561
Hi @donnydavis it would be great to do a jekyll implementation of patternfly as a basic template, thats on my list of "things I want to do and never find time to start".

Do you want to start it? maybe if it's just the basic settings then we can start building it from there. What do you think?

[2017-01-10 02:31] donnydavis commented on #561
Something like this

http://project.fortnebula.com/#

[2017-01-10 10:53] #517 closed

[2017-01-10 10:54] skateman commented on #512
@jeff-phillips-18 @andresgalante any news on this?

[2017-01-10 10:54] andresgalante commented on #561
That is really cool!!!! 👏

The structure is a bit off and that's why it's not responsive. Do you have a repo? If I find time I can send you a PR.

[2017-01-10 10:54] #401 closed

[2017-01-10 10:55] #427 closed

[2017-01-10 10:55] #468 closed

[2017-01-10 11:01] andresgalante commented on #559
@vkrizan you are right, ellipse doesn't work on firefox. thanks a lot for reporting it 😄
Do you want to fix it and send a PR?

[2017-01-10 16:21] vkrizan commented on #559
Let me try to fix it... =)

[2017-01-10 16:23] andresgalante commented on #559
Awesome! so this is a nasty bug. I've checked a bit and it looks like the width: auto is creating some strange spaces. If you remove it the ellipse appears but the width of the div keeps been huge.

good luck and ping me on slack if I can help

[2017-01-10 21:15] #84 closed

[2017-01-13 10:56] vkrizan commented on #559
@andresgalante I've create a new PR. It contains only a fix. Should I add more content to test pages?

[2017-01-13 14:54] vkrizan commented on #559
Added test page in d14dfb5

[2017-01-13 18:19] #559 closed

[2017-01-16 14:17] gregsheremeta opened #571 "need clarification regarding Wizard header height"
On http://www.patternfly.org/pattern-library/communication/wizard/#/_overview

The Overview screenshot of the Wizard has a relatively tall header. It's at least as tall as the side tabs and footer, if not taller. However, when you click Demo, the coded demo has a much shorter header. It doesn't look quite right to me.

Is the screenshot wrong, or the coded demo? What should the header height be?

[2017-01-18 15:10] NicolaIsotta commented on #511
+1

[2017-01-19 16:20] #555 closed

[2017-01-19 16:29] LHinson commented on #571
Hey Greg!

To confirm, I wanted to make sure I understood what you meant by header -
just the gray band (vs the gray band + steps).

If that's correct, the gray header should match the PatternFly modal [1]
and the implementation does match that modal header height. So, in this
case, the implementation is the correct version. It's beneficial to have
the modal header heights to be consistent vs uniq

[2017-01-22 03:09] donnydavis commented on #561
I surely do
https://github.com/donnydavis/fortnebula.com

This isn't my day job, so don't be too harsh. :)

[2017-01-23 11:43] andresgalante commented on #561
@donnydavis I won't and great job! thanks a lot 😄

@bleathem @LHinson when you have a min take a look at this demo app based on Jekyll

I'll close this issue for now.

[2017-01-23 11:43] #561 closed

[2017-01-24 21:39] jawnsy opened #573 "Inconsistent vertical spacing between alerts"
Alerts have

[code]

However, this leads to inconsistent space between top and bottom (notice how the padding below the heading is smaller than the padding between alerts, or between the alert and the following `<p>` element):

![screenshot from 2017-01-24 11-07-41](https://cloud.githubusercontent.com/assets/52710/22267613/4c743056-e239-11e6-8707-41dc4b40390f.png)

In OpenShift origin, a [special

[2017-01-25 21:17] gregsheremeta commented on #571
Hi Leslie,

Sorry for being unclear. Talking only about the wizard ... the screenshot on patternfly.org and the demo on patternfly.org are inconsistent.

Screenshot:

![selection_097](https://cloud.githubusercontent.com/assets/2248293/22309508/8a06270e-e319-11e6-99c4-13c1e53a7d89.png)

Demo:

![selection_098](https://cloud.githubusercontent.com/assets/2248293/22309512/8f6725ea-e319-11e6-9f8c-7f505

[2017-01-28 15:15] gregsheremeta opened #577 "need clarification regarding datagrid row color"
On patternfly.org, there is an inconsistency between the screenshots and demo code for the [Table View](http://www.patternfly.org/pattern-library/content-views/table-view/)

In the screenshot, a selected row is bright blue, whereas in the demo, it remains gray.

Screenshot:
![selection_105](https://cloud.githubusercontent.com/assets/2248293/22397572/69e4a48e-e542-11e6-8c54-df68424bfbc8.png)

Demo:

[2017-01-30 14:13] dtaylor113 commented on #577
Hi @gregsheremeta,
Thanks for catching this!  I believe the bright blue selected row color is not being applied in the demo example.  I've created a bug in our backlog to address this:  [PTNFLY-2141](https://patternfly.atlassian.net/browse/PTNFLY-2141).
Thanks,
- Dave

[2017-02-01 14:34] gashcrumb opened #580 "Vertical nav widget API?"
Hey guys!  Using the vertical nav for our ipaas console, but for some pages we need to toggle the vertical nav depending on the view.  Is there an API for doing that?  Previously I've achieved the desired effect by adding `collapsed` and `collapsed-nav` tags to the relevant elements, but it'd be nicer if I could just toggle it via a javascript call.  Thanks!

[2017-02-01 14:51] kahboom commented on #580
Preferably without using jQuery, as we are using Angular 2 and want to avoid having to manipulate the DOM from any logic/functionality.

[2017-02-01 14:54] gashcrumb commented on #580
@kahboom Well, it's a jquery plugin, isn't it?  At least the code that sizes it to the window etc all appears to be, if that's the option I can live with it for now.

[2017-02-01 15:20] kahboom commented on #580
We're not using any of the PF JavaScript, just the styling for now, so we're having to add in any functionality ourselves or in using ng-bootstrap. See [here](https://github.com/redhat-ipaas/ipaas-ui/issues/8). Is that what you mean, or am I totally lost?

[2017-02-01 15:26] jeff-phillips-18 commented on #580
there is an angular patternfly directive for vertical navigation but is for Angular 1. Version 4.x of angular patternfly (currently in alpha) can be upverted to Angular 2 since all the directives have been changed to components. If you are interested in that, then the vertical nav component could be enhanced with this feature but it does not exist at this time.

[2017-02-01 15:36] LHinson commented on #526
I'm going to close this since it was addressed with #564

[2017-02-01 15:36] #526 closed

[2017-02-01 15:38] LHinson commented on #544
This has been addressed so going to close. Thanks for filing @dtaylor113

[2017-02-01 15:38] #544 closed

[2017-02-01 15:42] LHinson commented on #556
Thanks for your contribution @mresti! Going to close this out now.

[2017-02-01 15:42] #556 closed

[2017-02-01 15:45] kybaker commented on #571
@gregsheremeta @LHinson Leslie is correct here - the implementation is the correct one which matches the modal.

[2017-02-01 15:50] gregsheremeta commented on #571
Ok, I just thought it looked inconsistent in the implementation. The header looks too short to me, shrug.

So are you going to update the screenshot so people aren't confused? I'd consider it a bug in the website.

[2017-02-01 15:53] kybaker commented on #571
@gregsheremeta It is a bug, but we will hold off on redesigning it. We will update much of the website imagery and styles including this one when we convert to Overpass soon. This will include sizing and spacing changes.

[2017-02-01 15:54] gashcrumb commented on #580
Okay cool.  yeah, I think it'd be a handy feature to have for sure, we'll have to look into pulling in the alpha as well.  I may be able to work around the lack of an API for now, but then using 4.x might be a better use of my time :-)

[2017-02-01 16:01] jeff-phillips-18 commented on #580
@LHinson Can we add a story to the backlog to add the ability to hide/show the vertical nav bar in the angular patternfly component (at least in 4.x, might want to add to 3.x as well)?

[2017-02-01 19:02] LHinson commented on #338
For PatternFly, we would like to proceed with the current solution for the sake of simplicity so I'm going to close this issue. Thanks for the suggestions.

[2017-02-01 19:02] #338 closed

[2017-02-01 19:07] LHinson commented on #337
Looks like this is an issue with the pattern page vs an issue with the component. I've created a bug here to address when we can: https://patternfly.atlassian.net/browse/PTNFLY-2178

[2017-02-01 19:09] LHinson commented on #580
Thanks for bringing this up @gashcrumb Would you be willing to send a PR for this?

[2017-02-01 19:11] gashcrumb commented on #580
@LHinson yeah, I could probably do that, give me a bit to grok the code :-)

[2017-02-01 19:13] LHinson commented on #577
![bitmoji](https://render.bitstrips.com/v2/cpanel/10212734-130956820_16-s4-v1.png?transparent=1&palette=1&width=246)

Thanks @gregsheremeta for reporting this. It should be blue and thanks @dtaylor113 for filing a bug. I've moved this up in the backlog.

[2017-02-01 19:13] gashcrumb commented on #580
@LHinson actually I should ask, the jquery based one in this repo or the angular-patternfly implementation?  Or both?

[2017-02-01 19:15] LHinson commented on #571
Thanks @gregsheremeta and @kybaker, I'm going to close this one for now since the imagery is going to get an a general overhaul at a later date. This will be addressed then.

[2017-02-01 19:15] #571 closed

[2017-02-01 19:16] andresgalante commented on #573
Hey @jawnsy! I see what you mean, PatternFly margins on follows bootstraps, they have a `margin-bottom: 20px`.
If we add a margin top then might act strange when we use them on forms. Let me take a look at this in different scenarios and come back to you.

[2017-02-01 19:19] andresgalante commented on #553
Thanks @jgiardino

This is a known issue, the only solution I could think of is to measure the height of the space and open a pop-up if there is not enough space. But that would required a LOT of Js

Can you think of another option?

[2017-02-01 19:24] andresgalante commented on #546
Hi @serenamarie125. Each row has bottom border, we can change the color of it when things are active of hover, but it would requiere some javascript magic to paint the top border since it belongs to the row on the top.

That repaint will have an impact on performance.

[2017-02-01 19:26] andresgalante commented on #542
@thiagodp I like your idea, would you like to send a PR?

[2017-02-01 19:28] andresgalante commented on #543
Hey @thiagodp I think that's an intresting idea. At the moment we are not intresting in introducing that kind of menu, but we will consider it for later.

Thanks a lot

[2017-02-01 19:30] andresgalante commented on #550
@lroitman Quickstart.md is updated, thanks! and thanks @dlabrecq @dtaylor113

[2017-02-01 19:30] #550 closed

[2017-02-01 19:32] LHinson commented on #483
I think the latest updates to the wizard seen here: http://www.patternfly.org/pattern-library/communication/wizard/#/_code addresses your concerns so I'm going to close this one. Thanks @dabeng!

[2017-02-01 19:32] #483 closed

[2017-02-01 19:39] thiagodp commented on #543
Ok. Thanks for considering it for later!

[2017-02-02 14:57] srambach commented on #553
I think there is already some javascript in there that must be adding space at the bottom of the list dynamically, because I think it scrolls further if you try so that you can see the whole menu. I had a similar problem on a paged list where I knew it was going to break on every nth item, so the best I could do was pop up on the nth item instead of down.

[2017-02-02 16:09] jeff-phillips-18 commented on #553
I don't see that issue in Chrome or Safari, when the kebab menu is shown the notifications area grows and can be scrolled to see the entire menu.

[2017-02-03 04:02] serenamarie125 commented on #546
understood @andresgalante, do we have an idea of what the impact is?  When i filed this, there was a lot of inconsistency with the "blue line", where is shown and not shown in different patterns, which is a worry IMO.

[2017-02-03 06:38] zhutaoredhat commented on #554
hi @andresgalante I had test this bug just now.
 The PatternFly code structure is`
<a>
<span class="pficon pficon-user"></span>
Here goes text
</a>`
I think srambach's code is like this "<a> Here goes text </a>" , "<a></a>" around "here goes text"

[2017-02-03 13:10] vkrizan opened #581 "Bootstrap Switch does not work well with inline list"
When I add a Bootstrap Switch into inline list with a text input, then the switch is shifted down. In FF it shifts about half of the size of the input height. In Chrome it shifts only a few pixels.

Changing `.list-inline > li` `display` to `inline-flex` seems to fix it. However I don't know if that would work on all browser and I am not sure if there is a deeper problem with Bootstrap Switch itse

[2017-02-03 15:08] andresgalante commented on #480
Hi @dabeng Do you want to send a PR to fix it? maybe it's an issue upstream on d3 and we can send a PR to them directly, what do you think?

[2017-02-03 15:31] andresgalante commented on #545
Hi @serenamarie125 I can't reproduce the problem:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view.html

Can you send me a url please?

[2017-02-03 15:33] andresgalante commented on #540
@priley86 You've been working on treeview, can you please review this issue?

[2017-02-03 15:36] #549 closed

[2017-02-03 16:31] andresgalante commented on #553
@jeff-phillips-18 yeap, that's the issue, it is still readable but not great UX.

[2017-02-03 16:33] andresgalante commented on #580
@gashcrumb awesome! The jquery one is in this repo

[2017-02-03 16:37] jeff-phillips-18 commented on #553
Agreed, I thought the remark was that you couldn't get to it and I saw no scrollbar. Now I realize the image is with the only show scrollbars when scrolling setting.

[2017-02-03 16:39] #489 closed

[2017-02-03 16:40] andresgalante commented on #485
Hi @dabeng this only happens on one viewport, it's a bug.

Do you want to send a PR to fix it?

[2017-02-03 16:42] jgiardino commented on #553
I think at the time I posted this issue, since I had the hide scrollbars setting enabled, I didn't realize that I could scroll down to see the contents. I'd have to play around with this to see if I have any suggestions for this, but probably won't have time until the end of the sprint. One immediate thought I have is if we have javascript that increases the height to accommodate the menu, then is

[2017-02-03 16:44] andresgalante commented on #529
@jawnsy sorry for the delay on this reply, and thanks for reporting the bug. Cards need a `tabindex`. Do you want to send a PR with the fix?

I've created a story to address it: https://patternfly.atlassian.net/browse/PTNFLY-2183

[2017-02-03 16:44] LHinson commented on #580
@gashcrumb beggers can't be choosers haha. We would take both if you want to send a PR for both!

[2017-02-03 16:48] andresgalante commented on #490
@lizsurette Thanks! They don't but I don't think they should. I'd add a note on the docs that mentions that you'll need js to make it interactive like BS does:
http://getbootstrap.com/components/#dropdowns

[2017-02-03 16:50] andresgalante commented on #478
Toast notifications have recommendations to be placed on the top right corner and to appear on the screen for 8 seconds:
http://www.patternfly.org/pattern-library/communication/toast-notifications/#/api

The implementation follow that:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/toast.html

[2017-02-03 16:50] #478 closed

[2017-02-03 16:57] andresgalante commented on #479
@dabeng you are absolutely right. `resize: vertical` should do it:
https://developer.mozilla.org/en/docs/Web/CSS/resize

Do you want to send a PR with it?

[2017-02-03 16:59] andresgalante commented on #484
There is a highlight on the row, maybe this was fixed in recent times. Sorry about the delay on the reply.

[2017-02-03 16:59] #484 closed

[2017-02-03 17:34] andresgalante commented on #511
@nireno sorry for the delay on the reply. You are right, that's a bug.

Would you be able to send a PR to fix it?

[2017-02-03 17:45] andresgalante commented on #506
I'll close it since https://patternfly.atlassian.net/browse/PTNFLY-1897 is Done.

[2017-02-03 17:45] #506 closed

[2017-02-03 17:47] andresgalante commented on #464
patternfly/patternfly-bootstrap-treeview#6 was merge, I'll close this issue

[2017-02-03 17:47] #464 closed

[2017-02-03 17:49] #324 closed

[2017-02-03 17:51] andresgalante commented on #448
@jsniezek sorry Joe for the delay to reply to this issue. Where is the download link?

[2017-02-03 17:53] andresgalante commented on #447
I'll close this issue since https://patternfly.atlassian.net/browse/PTNFLY-1743 is done

[2017-02-03 17:53] #447 closed

[2017-02-03 17:55] andresgalante commented on #149
I'll close this issue since it's so old. We have a sketch template and we will add it to the website soon. Thanks!

[2017-02-03 17:55] #149 closed

[2017-02-03 17:58] andresgalante commented on #161
I'll close this issue since it might not be relevant anymore. @LHinson @stefwalter feel free to open it again if you feel otherwise.

[2017-02-03 17:58] #161 closed

[2017-02-03 18:00] andresgalante commented on #162
Was this ever fixed upstream? or only on Bs4?

[2017-02-03 18:07] andresgalante commented on #174
Wow, this is old. Bootstrap 4 has [spacer utility classes](http://v4-alpha.getbootstrap.com/utilities/spacing/) to deal with this situations. You are not missing anything, but adding a margin on the menu will create more chaos than happiness.

[2017-02-03 18:07] #174 closed

[2017-02-03 18:27] andresgalante commented on #581
@vkrizan There is something wrong there and I am sure it's in the way switch is build. I'll look into it.

[2017-02-03 18:30] #457 closed

[2017-02-03 18:37] andresgalante commented on #352
Hi @dmsimard sorry for the very late reply. I don't think we can add a global position of anchors. The best solution I can think of is adding a spacer on the body when the header is fixed, I'll document that when creating templates with fixed header on the new version of patternfly.

[2017-02-03 18:37] #352 closed

[2017-02-03 18:43] #255 closed

[2017-02-03 18:44] andresgalante commented on #249
@priley86 @bleathem Is this fixed? can we close this issue?

[2017-02-03 18:47] LHinson commented on #266
Looping back around on this one. Were you able to resolve the problem in your product @serenamarie125 @dclarizio @martinpovolny? If so, I'm going to close this issue out.

[2017-02-03 18:48] andresgalante commented on #269
@bangert Bootstrap 4 has custom file inputs:
http://v4-alpha.getbootstrap.com/components/forms/#file-browser
We will address this improvement on [PF5 CSS](https://github.com/patternfly/patternfly-atomic) that is based on BS4

[2017-02-03 18:48] #269 closed

[2017-02-03 18:48] andresgalante commented on #317
List view expansion is done: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-simple-expansion.html

[2017-02-03 18:48] #317 closed

[2017-02-03 18:58] andresgalante commented on #327
I can't reproduce this issue.

[2017-02-03 18:58] #327 closed

[2017-02-03 18:58] #375 closed

[2017-02-03 18:58] #367 closed

[2017-02-03 19:00] andresgalante commented on #329
I'll close this issue and follow up on #553

[2017-02-03 19:00] #329 closed

[2017-02-03 19:00] andresgalante commented on #331
Data tables are updated. thanks @dabeng

[2017-02-03 19:00] #331 closed

[2017-02-03 19:02] andresgalante commented on #332
I don't think we should add it to patternfly at the moment but we can revisit the idea if we have products needs for it.

[2017-02-03 19:02] #332 closed

[2017-02-03 19:03] andresgalante commented on #350
It was updated, thanks Joe 😄

[2017-02-03 19:03] #350 closed

[2017-02-03 19:04] andresgalante commented on #326
this one is fixed, thanks @jeff-phillips-18

[2017-02-03 19:04] #326 closed

[2017-02-03 19:05] andresgalante commented on #377
I agree, we should extend open sans. Would you be able to send a PR introducing the new fonts variables?

[2017-02-03 19:10] andresgalante commented on #351
The rawgit url changed to https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/typography-2.html
![screen shot 2017-02-03 at 4 10 01 pm](https://cloud.githubusercontent.com/assets/1832037/22604633/423ce994-ea2b-11e6-9f2c-5d497b7940ef.png)

[2017-02-03 19:19] andresgalante commented on #470
Thanks @lizsurette This has been solved

[2017-02-03 19:19] #470 closed

[2017-02-03 19:19] #435 closed

[2017-02-03 19:22] LHinson commented on #406
I've asked Tao to look at this and filed a bug here: https://patternfly.atlassian.net/browse/PTNFLY-2184

[2017-02-03 19:24] #490 closed

[2017-02-03 19:25] andresgalante commented on #475
It's correct to have a reference `#` for the href on example pages.

[2017-02-03 19:25] #475 closed

[2017-02-03 19:26] #471 closed

[2017-02-03 19:26] andresgalante commented on #476
Is this bug from c3 charts or ours?

[2017-02-03 19:28] andresgalante commented on #482
Bootstrap select will change the direction of the open menu from a dropdown to a dropup depending on the position of the page. So the icon is correct since it doesnt know when it will be clicked.

[2017-02-03 19:28] #482 closed

[2017-02-03 19:41] LHinson commented on #351
This page needs a total revamp. I've create a story for this here: https://patternfly.atlassian.net/browse/PTNFLY-2185

Closing this issue here and we will track over in Jira.

[2017-02-03 19:42] #351 closed

[2017-02-04 04:45] junezhang commented on #554
@zhutaoredhat, if using the PatternFly code structure <a> <span class="pficon pficon-user"></span> Here goes text </a>, The "Here goes text" still is blue, not light grey.
<img width="727" alt="screen shot 2017-02-04 at 12 38 16 pm" src="https://cloud.githubusercontent.com/assets/701009/22615767/dcfe6538-ead6-11e6-9b88-cd4a971cd084.png">

In PatternFly, there is the code for the light grey.
`heade

[2017-02-04 06:19] zhutaoredhat commented on #406
<img width="328" alt="2017-02-04 2 18 53" src="https://cloud.githubusercontent.com/assets/13375283/22616269/f1a311a6-eae4-11e6-96ad-957ea80f2779.png"> The bug

[2017-02-04 07:31] zhutaoredhat commented on #554
@junezhang  You are right!  I think need add `.navbar-pf-vertical .navbar-nav > li > a{color:#d1d1d1;};  .navbar-pf-vertical .navbar-nav > li:hover a{color:#fff;};`

[2017-02-05 15:23] martinpovolny commented on #266
As far as I know we have not. Ping PanSpagetka.

[2017-02-06 13:26] vkrizan commented on #377
I am not sure if I would be able to do that correctly (picking only selected character sets). Maybe copying it from Google Fonts?

For our project, we (I) have converted the whole source TTF to woff2 (only). Resulting format contained every character. Because of that a browser is trimming the character table with a warning "downloadable font: kern: Too large subtable, table discarded".

[2017-02-06 13:38] andresgalante commented on #377
Yes, we download it from google fonts, here are the instructions:
https://developers.google.com/fonts/faq
Do you want to try to send the PR with the update?

Let's try top address the trimming issue after we introduce the font so we can test it.

what do you think?

[2017-02-06 13:49] vkrizan commented on #377
I can try to (this week maybe).

 Do you know what are the requirements to extend the character set besides:
* Latin Extended (this issue)
* Cyrillic (Issue #231)

[2017-02-06 13:56] andresgalante commented on #377
Awesome! thanks a lot @vkrizan
@LHinson are there any other missing characters we want to add?

[2017-02-06 14:54] dlabrecq commented on #249
We run "npm prune --production" prior to creating the shrinkwrap, so the dev dependencies should no longer be included.

[2017-02-06 19:32] LHinson commented on #377
no, none that I know of! Thanks @vkrizan for the help with this!

[2017-02-07 05:27] dabeng commented on #577
I think it's just because current patternfly.org page is missing too much necessary js references as shown below:
![screenshot from 2017-02-07 13-19-20](https://cloud.githubusercontent.com/assets/5689075/22678938/c417a5d6-ecc3-11e6-9c62-244467d15183.png)

[2017-02-08 11:49] andresgalante commented on #546
Yes, you are right, we should have consistency on hovers. There is a story to address that but I can't find it. @LHinson Can you help me find it?

[2017-02-08 14:05] LHinson commented on #546
What do you mean you are getting lost in the PatternFly backlog @andresgalante ;)

The story is here: https://patternfly.atlassian.net/browse/PTNFLY-1483 I can add it to the visual design request spreadsheet. We'll see if they have the bandwidth to pick it up next sprint.

[2017-02-08 23:54] krotscheck commented on #249
There's two motivations to including devDependencies in the shrinkwrap file:

1. Transient devDependencies can result in broken build tools, thus creating a failing build.
2. Transient devDependencies can create variable build output, thus creating a non-reproducible build.

Having said that, I'm no longer working on OpenStack (which encountered this issue), so I'm going to disengage from this tic

[2017-02-09 17:06] gashcrumb commented on #580
With [this PR](https://github.com/patternfly/patternfly/pull/582) merged I'd consider this closed, one follow on question, when's the next release planned?  :-)

[2017-02-09 18:16] bleathem commented on #580
Resolved with #582;

[2017-02-09 18:16] #580 closed

[2017-02-10 05:40] dabeng opened #586 "additional info items of list-view are in a chaos"
![screenshot from 2017-02-10 10-47-01](https://cloud.githubusercontent.com/assets/5689075/22815407/13a2bf00-ef21-11e6-94d5-e5bd709955ce.png)

[2017-02-10 19:18] #377 closed

[2017-02-10 19:18] #231 closed

[2017-02-13 02:31] dabeng opened #588 "counting is confused after table-view filtering"
The following bold "15 results" is confused.

![screenshot from 2017-02-13 10-17-06](https://cloud.githubusercontent.com/assets/5689075/22869082/f6de17e6-f161-11e6-8cec-b78018071ed3.png)

[2017-02-13 12:00] mndotmail opened #589 "How can I have Google Material Design in patterfly?"
Do we have any document or standard methods for having Material design in Patterfly?

[2017-02-13 14:40] PanSpagetka commented on #266
Yep this is resolved. We have shortened legend and full description in tooltip. For dashboard charts we have zoom option. It could be problem for some extreme cases, but I guess you can close it.

[2017-02-13 14:45] andresgalante commented on #589
Hi @mndotmail Material design and PatternFly are 2 different design systems, you either follow one or the other. They don't compliment each other.

If there is any interaction you like on material that you'd like to see in Patternfly please contact the community on slack or the mailing list to discuss it: https://www.patternfly.org/community/#_

[2017-02-13 14:45] #589 closed

[2017-02-13 17:27] mndotmail opened #590 "pficons not loading."
pficons are not loading; I have followed this as well https://github.com/patternfly/patternfly/blob/master/PFICONS.md, though I might have missed anthing. still pficons are not loading.
![git](https://cloud.githubusercontent.com/assets/12978258/22894639/28b9ac72-f233-11e6-9c49-d625f8ab5791.PNG)

[2017-02-13 20:40] LHinson commented on #266
OK, thanks for the update @PanSpagetka. I'm going to close this one.

[2017-02-13 20:40] #266 closed

[2017-02-14 11:41] aaldapa opened #592 "Datatables scroll bars don´t work"
https://datatables.net/examples/basic_init/scroll_xy.html

Datatable scroll bars don´t work.

$("#example").DataTable({
	"scrollX": true,
	"scrollY": 200
});

[2017-02-15 01:50] dabeng opened #593 "sometime users just want to use handful widgets while npm install or bower install introduce huge assets"

[2017-02-15 02:30] dabeng opened #594 "It's not untouchable to build up native patternfly chart without D3.js and C3.js"
Frankly, charts generated by C3.js are rather ordinary and lack of interactivity and dynamic effects.

Currently, SVG is common and flexible, it's easy to integrated with native js(highcharts doesn't introduce any third-party plugins or libs), jquery, and even popular js frameworks like React ([Demo](http://codepen.io/HunorMarton/pen/ggQGqQ)) and Vue.js ([Demo](https://vuejs.org/v2/examples/svg.ht

[2017-02-15 03:02] dabeng opened #595 "global search on patternfly.org could be improved"
![screenshot from 2017-02-15 10-50-02](https://cloud.githubusercontent.com/assets/5689075/22958981/629c7544-f2f8-11e6-97b9-bb893e79b974.png)

![screenshot from 2017-02-15 10-48-57](https://cloud.githubusercontent.com/assets/5689075/22958977/5c68090e-f2f8-11e6-80ed-9b46f1a248e3.png)

Maybe the latter is more welcomed by users.

[2017-02-15 03:25] dabeng opened #596 "Introducing jsfiddle, codepen or js bin into patternfly.org can facilitate users' tryout of patternfly"
![screenshot from 2017-02-15 11-24-44](https://cloud.githubusercontent.com/assets/5689075/22959454/21f048b4-f2fc-11e6-833e-bb62332ed2f1.png)

Another profit is that the way can save us a lot maintainment efforts.

[2017-02-15 18:42] rhamilto opened #597 "Removal of vendor prefixes from placeholder mixin results in inconsistent styles"
@priley86's [removal of vendor prefixes in the placeholder mixin](https://github.com/patternfly/patternfly/blame/v3.10.0/less/mixins.less#L78) resulted in the introduction of inconsistent placeholder styles since [all browsers do not yet support un-prefixed placeholder pseudo elements](http://caniuse.com/#feat=css-placeholder).  This is resulting in a [bug in OpenShift](https://github.com/openshif

[2017-02-16 14:12] #479 closed

[2017-02-16 14:14] andresgalante commented on #597
@rhamilto Autoprefixer should be adding them

@priley86 Do you have time to take a look at this one?

[2017-02-16 14:15] andresgalante commented on #596
I agree, this could be really good. @bleathem what do you think?

[2017-02-16 14:17] andresgalante commented on #592
@dlabrecq Can you please take a look at this?

[2017-02-16 14:20] andresgalante commented on #491
@andreasn did we ever merge a PR related to this issue?

[2017-02-16 14:25] andresgalante commented on #590
Hey @mndotmail
Those instructions are to add new icons to Patternfly. What are you trying to achieve? Can you help me reproduce the issue?
thanks!

[2017-02-16 14:31] #545 closed

[2017-02-16 14:38] andresgalante commented on #573
Hi @jawnsy I don't think we should change this. At least not on this version.

Adding a margin to the top of any element might break an implementation of patternfly.  But we will consider and test this as we implement alerts on PF5. I'll tag you on that PR.

Thanks a lot for the suggestion

[2017-02-16 14:38] #573 closed

[2017-02-16 15:03] andreasn commented on #491
no, I very much forgot it.
Let me take care of that this week.

[2017-02-16 15:27] dlabrecq commented on #592
We don't have a design for scrolling, yet. However, the default datatables.net scrolling should still work.

In the latest table view example, the configuration looks like this:

// DataTable Config
$("#{{include.tableId}}").DataTable({
 ...
  dom: "t",

The dom property tells datatables.net to just show the table. For example, we don't want to show the default pagination controls.

If you change

[2017-02-16 16:38] andresgalante commented on #491
:) thanks you are awesome!

[2017-02-16 16:38] #491 closed

[2017-02-16 16:39] #592 closed

[2017-02-16 16:49] jawnsy commented on #573
Fair enough, I understand it might not be something we can change in a minor release due to the potential of breakage. Thanks for your analysis & consideration!

[2017-02-18 19:12] tec4 opened #602 "Split Button Dropdown not rending correctly - dropdown w/ caret is not same size as main button"
I am trying to implement the split button dropdown as described on the [(bootstrap website)](http://getbootstrap.com/components/#btn-dropdowns-split).

I, however, am unable to get the dropdown to render with the same size as the main button as you can see here:
![image](https://cloud.githubusercontent.com/assets/2973576/23096029/9686ab12-f5c9-11e6-95d7-d0ed9b623ab9.png)
![image](https://cloud.git

[2017-02-20 10:11] michpetrov commented on #602
Okay, this is a weird one. You need to put `<!DOCTYPE html>` in your page.

For some reason `line-height` isn't working under the default doctype if the element is empty.

[2017-02-20 20:15] tec4 commented on #602
Odd indeed.

I have confirmed that adding the doctype resolved the issue. Thank you very much for your help. I thought I was going crazy :)

[2017-02-20 20:15] #602 closed

[2017-02-22 10:31] michpetrov commented on #337
To reproduce this you have to get the bottom window border near the bottom of the timepicker, it also happens only when the window height is an odd number of pixels.

The timepicker is trying to reposition itself above the input, however some of the PatternFly styling prevents it from doing so. Either the CSS needs to be fixed or the widget has to be set to always stay under the input. I can send

[2017-02-22 12:59] andresgalante commented on #337
@michpetrov Thanks a lot Michael, I think we should fix the CSS so it doesn't prevent the timepicker to open ontop.

It'd be great if you can send a PR, thanks a lot!! 😄

[2017-02-23 13:15] dabeng opened #605 "Some patternfly widgets are over-customized"
The over-customized widgets have serious influence for the popularity and development of patternfly.

We know that patterns are the core section of patternfly. These patterns mostly come from the real applications or projects. While after we encapsulate a huge of features into the final widget, whether should we evaluate its reusability to check if it can be easily applied in the real projects. Co

[2017-02-23 16:01] #337 closed

[2017-02-27 11:51] LHinson commented on #554
@zhutaoredhat is this something you can send a PR for?

[2017-02-27 11:57] LHinson commented on #406
Ok thanks @zhutaoredhat. I'll get a developer to look at this.

[2017-02-27 13:13] zhutaoredhat commented on #554
Sorry Leslie,

  I don't how to fix this problem in .Less. Need developer's help.

Thanks,
Tao

----- Original Message -----
From: "Leslie" <notifications@github.com>
To: "patternfly/patternfly" <patternfly@noreply.github.com>
Cc: "zhutaoredhat" <tzhu@redhat.com>, "Mention" <mention@noreply.github.com>
Sent: Monday, February 27, 2017 7:51:38 PM
Subject: Re: [patternfly/patternfly] Links on the ver

[2017-02-27 20:03] mcarrano opened #607 "Show/hide functionality does not work on Vertical Nav example code when accessed from web site."
In the example code found here: http://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation.html, clicking on the hamburger icon in the upper left of the masthead does nothing.  Should show or hide the primary navigation.  If primary nav icons are present reduce the primary nave to display icons only.  Test pages work correctly.

[2017-02-27 20:30] LHinson commented on #607
Also added a story https://patternfly.atlassian.net/browse/PTNFLY-2245

[2017-02-28 12:02] LHinson commented on #554
OK no worries. Thanks @zhutaoredhat.

[2017-02-28 15:47] LHinson commented on #496
We are going to be addressing this in this story here: https://patternfly.atlassian.net/browse/PTNFLY-1934

[2017-02-28 17:08] LHinson commented on #577
Should be resolved with #197

[2017-02-28 18:24] priley86 commented on #597
@rhamilto thanks for reporting this. I did some further digging and it seems that my commit did remove one of the older Firefox prefixes.

[Before](https://github.com/patternfly/patternfly/blob/fbec1af1c93f6acb1759dc4b02eb63931c17d838/dist/css/patternfly.css#L2596):
[code]
[After](https://github.com/patternfly/patternfly/blob/master-dist/dist/css/patternfly.css#L2639):
[code]
 I noted the missing

[2017-03-01 05:22] #605 closed

[2017-03-02 12:01] LHinson commented on #577
Just checked and this is resolved here: http://www.patternfly.org/pattern-library/content-views/table-view/#/api

Thanks @gregsheremeta and @dabeng! Closing this issue.

[2017-03-02 12:01] #577 closed

[2017-03-04 20:25] LHinson commented on #554
Closing this one since PR #610 was sent.

Thanks @dabeng!

[2017-03-04 20:26] #554 closed

[2017-03-04 20:29] LHinson commented on #406
@dabeng has send a PR to fix this. see: #609

[2017-03-04 20:29] #406 closed

[2017-03-06 15:45] rhamilto commented on #597
@priley86, this isn't there yet.  `font-style: italic;` is needed inside `.form-control:-ms-input-placeholder` and `.form-control:-ms-input-placeholder` for IE/Edge and Chrome/Safari.

[2017-03-07 13:06] andresgalante commented on #496
I've been looking into this bug for the past few days and although it seems simple, it isn't because of the how the DOM of the vertical nav is build.

I did find a solution by moving the left nav DOM to the top nav after the logo and using fancy CSS flexbox and positioning. This works but it requieres a lot of braking changes that I want to avoid.

On the other hand there is a simpler solution, bu