[2019-06-03 21:27] dlabrecq commented on #1551
Unless we also define which chart components can use each multi-color theme, it would be preferable to support one multi-color theme for all charts.

[2019-06-04 13:24] christiemolloy opened #1883 "Link Button: look at adjusting spacing"
I was using our "Link Button" for the website and I had some feedback that there is no room between the icon and the text, which I also agree. @kybaker or @mceledonia what do you think? Should we look at adjusting it a little?

**Update** React Icons dont take classes, so lets create another div around the icon and add the margin to that div.

<img width="470" alt="Screen Shot 2019-06-04 at 9 22 2

[2019-06-04 13:33] kybaker commented on #1883
@christiemolloy I think this may be a website css issue. Or ghost buttons have an affordance built in for accessibility - https://pf4.patternfly.org/components/Button/examples/

[2019-06-04 14:07] christiemolloy commented on #1883
Closing this issue in favor of https://github.com/patternfly/patternfly-react/issues/2145

[2019-06-04 14:27] beanh66 commented on #1624
LGTM @maryshak1996! Thanks for the update. @priley86 is currently making the update in product as he is working on the PF4 table updates now 🎉

[2019-06-04 15:07] christiemolloy opened #1884 "Update Layout Descriptions"
As part of the Patternfly Training Documentation, I noticed that the descriptions for each layout are written differently. Lets align this wording.

[2019-06-04 15:08] priley86 commented on #1624
thanks for reviewing this w/ me! Will be sure to share screenshots w/ @beanh66 and @maryshak1996 once ready for review.

[2019-06-04 16:06] jgiardino commented on #1882
Here is a [quick (i.e. rough) codepen](https://codepen.io/jenngiardino/pen/wbZwKx) to demonstrate the interaction that I was thinking. If using chrome, click "Colors" in the nav sidebar to set focus on the page, then hit Tab. The next item to receive focus is a button labeled "Use Alternate".

It would be good to get design input on what the button label should be, and if we should include an addi

[2019-06-04 17:24] christiemolloy opened #1887 "Fix Accordion Toggle bug in React"
Theres a class on the toggle in Core to center the toggle icon vertically. React doesn't take in these classes on the icon they just insert the icon. So lets try to remove this class and find another work around the center the icon.

http://patternfly-react.surge.sh/patternfly-4/components/accordion/

[2019-06-04 17:27] mceledonia commented on #1821
@lboehling @mcarrano Agreed, I think having it above the form on mobile is the way to go.. I'm ok with either of those options, I think the one inline with the logo looks best but it raises a few questions... Does the field grow/shrink with longer language selections, or do we keep it a static width and truncate? Resizing also means resizing the logo as the field runs into it.

Full width below th

[2019-06-04 17:40] christiemolloy opened #1888 "Remove class on the Accordion Toggle Icon"
Related to: #1887  Remove these lines as there is no need for them anymore.

  --pf-c-accordion__toggle-icon--LineHeight: var(--pf-global--LineHeight--md);

    .pf-c-accordion__toggle-icon {
      line-height: var(--pf-c-accordion__toggle-icon--LineHeight);
    }

[2019-06-04 20:44] rachael-phillips opened #1891 "Workspace: Dropdown covers bottom of example"
The dropdown example covers the bottom of the box that contains the dropdown.

<img width="873" alt="Screen Shot 2019-06-04 at 4 43 14 PM" src="https://user-images.githubusercontent.com/40275806/58912371-dfb10b00-86e7-11e9-9d17-d2ab72cec880.png">

[2019-06-05 15:47] matthewcarleton opened #1892 "Provide default state for form select"
Currently in the form select input we don't have a style for a "placeholder" text. It would be helpful if we styled the text to be different from the selected text option.

Here is a possible design solution.
<img width="909" alt="Screen Shot 2019-06-05 at 12 42 28 PM" src="https://user-images.githubusercontent.com/287880/58970366-b055d900-878f-11e9-8e84-ac6d58cb18cb.png">

[code]
fyi: @kybaker @m

[2019-06-05 15:54] mcarrano opened #1893 "Embedded assistance demo"
Create a demo that illustrates different ways that embedded assistance/help can be used on a page to supplement the documentation that is being written here: https://docs.google.com/document/d/1v-_QA2DuDzKk73OJG5TZDTdQwnSQBec6J-Q-yKPRKKs/edit?usp=sharing

[2019-06-05 16:12] matthewcarleton opened #1894 "Update spacer for wizard cancel action"
Currently in the wizard there is a 16px spacer for the cancel button
<img width="883" alt="Screen Shot 2019-06-05 at 1 00 56 PM" src="https://user-images.githubusercontent.com/287880/58971566-1e030480-8792-11e9-9421-36488dda6bd0.png">
The white space around this action is misleading as well because it is done with padding so the click area is much larger than it appears visually.

For an action th

[2019-06-05 17:25] mattnolting opened #1895 "Abstract the flex layout to reusable mixins"
Need: bake flex layouts into 'organism' components based on standardized flex layout
Solution: abstract code into mixins/placeholders

Relates to: https://github.com/patternfly/patternfly-next/issues/1528

[2019-06-05 17:26] maryshak1996 commented on #180
https://sketch.cloud/s/rw5vG?settings=rw5vG

[2019-06-05 17:35] mcoker opened #1897 "Card component and demo updates"
Card component:

* reverse kebab and check so that check comes last.
* remove "Example with only card body and actions in the card head"

Rename card demo from "Card" to "Card View"

cc @mcarrano

[2019-06-05 17:40] #1800 closed

[2019-06-05 17:49] patternfly-build commented on #1800
:tada: This issue has been resolved in version 2.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-05 18:05] #1640 closed

[2019-06-05 18:14] patternfly-build commented on #1640
:tada: This issue has been resolved in version 2.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-05 18:58] christiemolloy opened #1899 "Update the Compound Expansion Table to use Link Buttons"
Currently the icon and text arent using the Link Button in Core which provides a margin between the icon and the text

<img width="645" alt="Screen Shot 2019-06-05 at 2 56 44 PM" src="https://user-images.githubusercontent.com/20118816/58982378-527ebc80-87a2-11e9-8644-46650787ae0d.png">

[2019-06-05 20:06] christiemolloy opened #1900 "Add Context Selector to page header"
Create a new example that shows context selector placed in a page.

In the page header we have containers for tools/nav etc. I placed the context selector in the nav as a demo and it looks like this:

<img width="1157" alt="Screen Shot 2019-06-05 at 4 06 21 PM" src="https://user-images.githubusercontent.com/20118816/58986652-e3a66100-87ab-11e9-9a72-0b80ff630c46.png">

Visuals look like this:

http

[2019-06-05 20:13] mcoker commented on #1900
@christiemolloy yep, I would expect to need to modify the page component header to position the context selector properly.

[2019-06-05 20:13] #1824 closed

[2019-06-05 20:27] patternfly-build commented on #1824
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-05 20:29] #1789 closed

[2019-06-05 20:37] patternfly-build commented on #1789
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-05 20:52] #1866 closed

[2019-06-05 21:00] patternfly-build commented on #1866
:tada: This issue has been resolved in version 2.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 13:13] #1887 closed

[2019-06-06 13:22] patternfly-build commented on #1887
:tada: This issue has been resolved in version 2.12.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 14:06] mcoker commented on #1869
fixed in https://github.com/patternfly/patternfly-next/pull/1871

[2019-06-06 14:06] #1869 closed

[2019-06-06 14:34] #1897 closed

[2019-06-06 14:34] kybaker commented on #1808
@mcarrano @mcoker I dont think this would affect anyone at this point. The most subnav items I can think of in a product is OpenShift and it does not come close to 600px. This function creates multiple scrollbars and a scroll trap which is not what we intended I think this could be considered a bug.

[2019-06-06 14:43] mturley commented on #348
I saw some discussion about whether there has been a need presented for the tree view in PF4. For what it's worth, I'm working on a PF3 project that includes a TreeView (https://github.com/ManageIQ/manageiq-v2v/blob/master/app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardTreeView/MappingWizardTreeView.js) and there have been discussions about possibly re-impl

[2019-06-06 15:13] christiemolloy opened #1903 "Can we remove the Icon Color Var"
@gdoyle1 bought up to me that the only place we're using `--pf-global--icon--Color--dark` is in the login main footer links brand icons. can we just use the text color here: `pf-global--Color--100` like we do for other icons?

[2019-06-06 15:24] mcoker commented on #1509
@mindreeper2420 ping - can you let me know if this is still applicable? Should have been resolved a while ago.

[2019-06-06 15:28] mindreeper2420 commented on #1509
@mcoker Looks fixed to me.

[2019-06-06 15:29] mcoker commented on #1903
They were added here - https://github.com/patternfly/patternfly-next/pull/1281

@matthewcarleton what do you think?

[2019-06-06 15:29] #1509 closed

[2019-06-06 15:43] mcoker opened #1904 "Update patternfly logo in demos"
replace the current png in the masthead with this svg

https://drive.google.com/file/d/1tb0DSxJ26fNY943AVl-Hgh_qVpt-vz4N/view?usp=sharing

[2019-06-06 15:43] #1704 closed

[2019-06-06 15:52] patternfly-build commented on #1897
:tada: This issue has been resolved in version 2.12.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 15:52] patternfly-build commented on #1704
:tada: This issue has been resolved in version 2.12.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 15:53] #1883 closed

[2019-06-06 15:58] mcarrano commented on #170
See https://github.com/patternfly/patternfly-react/issues/1254 for related implementation.

[2019-06-06 16:05] patternfly-build commented on #1883
:tada: This issue has been resolved in version 2.12.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 16:18] katierik commented on #1089
Sharing a prototype I made to demonstrate the proposed pattern:
https://marvelapp.com/5312gfj

There are 2 paths to go down. See the intro slide for details.

[2019-06-06 17:09] maryshak1996 commented on #813
After working with @rblackbu and reviewing with @kybaker, this is the direction we are thinking
https://marvelapp.com/7418145
https://sketch.cloud/s/v1Dm1
<img width="1221" alt="Screen Shot 2019-06-06 at 1 08 44 PM" src="https://user-images.githubusercontent.com/19824574/59052071-3fc8be00-885c-11e9-8074-47878f7ab9e0.png">

[2019-06-06 17:51] mcarrano commented on #813
This is looking great @maryshak1996 @rblackbu . Just a couple of questions I have...

* Do we really need the category overflow? I ask because my understanding of this is that it's a fixed set of buttons that sits within a toolbar. What is your expectation as the width of the container shrinks down? That elements are hidden one at a time? It might make more sense to either just left the buttons wr

[2019-06-06 18:01] mcarrano commented on #1089
The prototype looks great @katierik . I really like this approach of refreshing the toolbar with only relevant actions upon selection. @mcoker @dlabaj @mceledonia @kybaker @jgiardino @mattnolting would welcome any feedback.

[2019-06-06 18:03] matthewcarleton commented on #1903
I think the main reason was to ensure there was consistency with icon colours and possibly to set it up for future icon colours.
I would suggest we use the variable rather than the text colour throughout. I talked to @mcoker about this and I think he's going to pull @mceledonia into the discussion as well :)

[2019-06-06 18:09] mceledonia commented on #1903
Yeah, it would be good to ensure icon colors are consistent rather than relying on people to remember which text color variable the icon should be... With that being said, is there a reason why we aren't using the icon color variable throughout the system? Ideally we should have our actionable icons a consistent style.

[2019-06-06 18:25] rachael-phillips commented on #1865
There will be React followups on Red Hat font work

[2019-06-06 18:39] rachael-phillips commented on #1114
We'll need to create a follow-up issue in React for this one

[2019-06-06 18:45] rachael-phillips commented on #1791
There should be a corresponding React issue created for this one.

[2019-06-06 19:15] lwrigh commented on #1181
Just read over the requirements a bit more and my initial thoughts for an alert group involve having a single toast notification that appears once the toast threshold has been hit that features the aggregate number of toast notifications that are unread. The message within the aggregate toast message would provide the user with the number of new notifications and prompt the user to open the notifi

[2019-06-06 19:48] mcarrano commented on #1181
@lwrigh This was our initial take on this and we actually have some designs that show this. The problem when we went to implement this was that it's not possible for a single toast to know about the existence of other toast notifications and therefore decide to behave differently. It seemed like the thing that contains the notification needs to keep track of the count and manage the overflow. That

[2019-06-06 21:07] #1823 closed

[2019-06-06 21:16] patternfly-build commented on #1823
:tada: This issue has been resolved in version 2.12.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 21:26] mcoker commented on #1903
@mceledonia I don't think so. Probably just that we added the icon color vars fairly recently and only used them in new components, and didn't refactor any existing components to use them.

Currently `$pf-global--icon--Color--dark` is the same hex value as `$pf-global--Color--100` (text color 100) and `$pf-global--icon--Color--light` is the same hex as `$pf-global--Color--200` (text color 200). As

[2019-06-07 01:12] seanforyou23 opened #1906 "Buttons must have discernible text"
We have this a11y violation in the following paths

`/demos/CardView/examples-full/` where the code looks like
[code]

and again in
`/components/Toolbar/examples-full/` where it's another occurrence of the same component

[code]

Is it any more complicated than adding an aria-label to the button? Let me know either way, and I'm happy to send a fix.

[2019-06-07 01:17] seanforyou23 commented on #978
Just double checked and this issue is still valid, it's being flagged in our build audit;

<img width="933" alt="Screen Shot 2019-06-06 at 9 16 20 PM" src="https://user-images.githubusercontent.com/5942899/59075764-66104d00-88a0-11e9-88e7-a7edafcb0f56.png">

[2019-06-07 01:27] seanforyou23 opened #1907 "Login: Elements must have sufficient color contrast"
This is one of only **two** remaining color contrast issues! It's for login, details from the a11y audit below. The other error in the screenshot is already captured in a separate issue.

<img width="929" alt="Screen Shot 2019-06-06 at 9 20 35 PM" src="https://user-images.githubusercontent.com/5942899/59075971-84c31380-88a1-11e9-9b87-08244cdfe065.png">

It's basically those three links Terms of Us

[2019-06-07 14:03] mcoker opened #1908 "Inline alert icon size changes"
We're applying `font-size` to the inline alerts via `.pf-c-alert__icon > i`, which doesn't work in react since the icon is an svg. We should apply `font-size` to `.pf-c-alert__icon` instead.

Also the inline warning icon is wider than the others.
<img width="270" alt="Screen Shot 2019-06-07 at 8 32 07 AM" src="https://user-images.githubusercontent.com/35148959/59107988-80c5de80-88ff-11e9-8757-7a03

[2019-06-07 14:24] #1784 closed

[2019-06-07 14:26] #1908 closed

[2019-06-07 14:31] #1884 closed

[2019-06-07 14:39] mcoker commented on #1906
That's it!

[2019-06-07 14:40] patternfly-build commented on #1884
:tada: This issue has been resolved in version 2.12.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 14:40] patternfly-build commented on #1784
:tada: This issue has been resolved in version 2.12.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 14:40] patternfly-build commented on #1908
:tada: This issue has been resolved in version 2.12.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 14:41] maryshak1996 commented on #1624
Here's my sketch file for this (the top section titled "FINAL DIRECTION" is what should be used)
https://sketch.cloud/s/Yn1om?settings=Yn1om

[2019-06-07 14:53] maryshak1996 commented on #35
With the switch to marvel, the most up to date stuff can be found here: https://marvelapp.com/project/4090736/

[2019-06-07 15:18] mcarrano commented on #1820
There is a visual styling proposal as part of #1624  (Definition list) ideally this two issues should be addressed together.

[2019-06-07 15:23] priley86 commented on #1872
any updates here? I think we are ready to start looking into this downstream soon. Associated OpenShift issue:
https://github.com/openshift/console/pull/1629

Direction on downstream customization/variable override would also be appreciated!

cc: @sg00dwin

[2019-06-07 17:27] #1439 closed

[2019-06-07 17:56] mceledonia commented on #1903
That sounds good to me @mcoker, it will keep things cleaner down the line if we ever make adjustments to our text colors.

[2019-06-07 18:11] lwrigh commented on #1181
@mcarrano Ah I see the issue with that sort of behavior. So when you say the thing that contains the notifications are you talking about a div contain that contains the toast notifications? Maybe if that container got to a certain size it could manage the overflow and respond by telling the user that more toast notifications are waiting for them.

[2019-06-07 18:28] mcarrano commented on #1181
Yes @lwrigh , that's exactly what we are thinking. The container (which is what we are calling an Alert Group) can be aware of the number of toasts it contains and manage the overflow. So the question is what is the mechanism for reporting back to the user. Right how the Alert Group is a component with no UI.

[2019-06-07 18:34] lwrigh commented on #1181
@mcarrano Within the alert group could a toast notification appear once the edge of the container has been reached?

[2019-06-07 18:42] mcarrano commented on #1181
Maybe. But we need to consider what happens when things are added and removed from the stack of toast notifications. It's hard to treat this as just another notification.

[2019-06-07 18:50] lwrigh commented on #1181
Would it make sense to treat the alert group as a separate component from the toast notifications then?

[2019-06-07 19:14] mcarrano commented on #1181
It already is a separate component. See https://www.patternfly.org/v4/documentation/core/components/alertgroup

[2019-06-07 19:52] lwrigh commented on #1181
Cool thanks for sharing this! What do you think of adding some sort of thin border around the alert group with a message along the lines of, 'More toast notifications have been added to the alert group. Please open the notification drawer to see all new toast notifications.'?

[2019-06-07 19:58] mcarrano commented on #1181
That's the direction I was thinking, also. Maybe with an action to open the drawer or temporarily silence notifications?

[2019-06-07 20:00] lwrigh commented on #1181
Those would be good actions to have accessible to the user. Great I can start to explore some options that are in that vein if that's cool with you.

Another idea I had includes having a message like 'Click to view more toast notifications' that appears at the bottom of the alert group and the user can click it to expand more toast notifications if they like.

[2019-06-07 20:20] mcoker opened #1910 "Rename alert group example"
https://pf4.patternfly.org/components/AlertGroup/examples/

"Inline alert group" implies that the alerts are the `pf-m-inline` variation. Let's change that to something less confusing like just "Alert group" since that's the name of the component, and "Toast alert group" below is the `pf-m-toast` variation. Or "Embedded alert group," as in embedded in the page.

Let's also consider the overview te

[2019-06-10 15:11] lwrigh commented on #1181
<img width="860" alt="Screen Shot 2019-06-10 at 11 09 14 AM" src="https://user-images.githubusercontent.com/20227374/59205159-4747da00-8b70-11e9-832c-4799c4e97bb8.png">

@mcarrano What do you think of this option? Do you know if the component could be smart enough to say something like "Click to view 4 more notifications"?

[2019-06-10 15:14] seanforyou23 opened #1912 "id attribute value must be unique"
On this path we find an issue that comes from the background image component providing a non-unique ID.

`/components/Login/examples-full/`

https://pf4.patternfly.org/components/Login/examples-full/

<img width="1372" alt="Screen Shot 2019-06-10 at 11 14 14 AM" src="https://user-images.githubusercontent.com/5942899/59205434-e967c200-8b70-11e9-804d-ebdd26c35636.png">

[2019-06-10 15:21] mcarrano commented on #1181
@lwrigh I like this approach. The text should be blue to indicate that it's an action, and I don't think you need the words, "Click to" therefore. Yes I think the component should be able to track the number of notifications. So including a count makes sense. When the list is expanded, do you think the user needs the ability to collapse it? What do you propose would happen if the number of alerts

[2019-06-10 15:25] lwrigh commented on #1181
@mcarrano This is good feedback thank you! I can update it to say 'View 4 more notifications" and change the text to blue so it looks actionable. I think having the user have the ability to collapse it would be a nice addition. I think in the case of the notifications overflowing the height of the screen we should direct the user to view the notifications in the notification drawer. I can explore

[2019-06-10 15:29] priley86 commented on #1882
+1 - thanks for starting this convo @jgiardino !

I have noted some gaps as far as being able to "page" in a virtual scrolling table. Currently I do not see a good way of doing this because w/o modifications, you would not have any keyboard interaction to emulate this paging behavior the same way as you would with a paginated table.

That being said, I think it from an OpenShift perspective I see

[2019-06-10 15:31] mcoker commented on #1912
This was being tracked in https://github.com/patternfly/patternfly-next/issues/1439 but looks like that was closed via https://github.com/patternfly/patternfly-next/pull/1905

fwiw, @srambach has a draft PR up to fix it but the fix doesn't work in Safari - https://github.com/patternfly/patternfly-next/pull/1480

[2019-06-10 15:33] mcarrano commented on #1624
Current designs are approved and ready for CSS implementation. @mcoker we are unsure whether this calls for a new component, i.e. a read-only attribute value pair or if this can be just constructed as a demo using existing components. Would like to get your input.

[2019-06-10 15:35] mcarrano commented on #1832
This design is approved and ready for CSS implementation.

[2019-06-10 18:08] lwrigh commented on #1181
<img width="860" alt="Screen Shot 2019-06-10 at 11 45 11 AM" src="https://user-images.githubusercontent.com/20227374/59207575-49f8fe00-8b75-11e9-97b9-2461885100d7.png">

Here is the option that expands the notification.

![Alert example](https://user-images.githubusercontent.com/20227374/59216121-f85a6e80-8b88-11e9-89bf-f77db0184c67.png)

![Alert example Copy](https://user-images.githubusercontent

[2019-06-10 18:25] jgiardino opened #1913 "Accordion - update examples to show two html variations"
Here are a few examples of accordions out there:
https://www.w3.org/TR/wai-aria-practices-1.1/#accordion
https://inclusive-components.design/collapsible-sections/
https://www.scottohara.me/blog/2017/10/25/accordion-release.html
https://a11yproject.com/patterns/

The first 3 use headings, without a definition list. The last link includes an example, "Simple Accordion", that uses a definition list a

[2019-06-10 18:32] mcarrano commented on #1181
I like this approach @lwrigh . Thanks for mocking this up. So is the expected behavior that the tab below the group will appear when there are more than 3 notifications and hide when the number falls below 3? I think that would make sense. Perhaps it can be configured to either expand the list or open the drawer.

Would be great to get some more eyes on this. @mceledonia @kybaker @matthewcarleton

[2019-06-10 19:14] LHinson opened #1914 "Categories and icons for the app launcher component"
The app launcher needs the ability to have categories as well as support icons.

Related to react issue here: https://github.com/patternfly/patternfly-react/issues/2202

[2019-06-10 19:41] rachael-phillips commented on #295
Hi Matt and @bkjeffer how is this coming along? Curious to hear an update

[2019-06-10 19:52] mcarrano commented on #295
@rachael-phillips I believe that the basic interaction pattern is defined pretty well in the attached document. The only thing missing may be some visual design attention before this is ready to hand off to development.

[2019-06-10 21:51] jgiardino commented on #1089
These designs look really nice!  I included a few thoughts below on screen reader experience...

It would be worth testing what the screen reader experience would be for the bulk checkbox before and after selecting it. I was thinking the label (not visible) would be "Select all", and when selected, we would want to keep that label and somehow combine it with the "25 selected" text. Maybe using ari

[2019-06-10 21:56] lboehling commented on #1821
@mcarrano Here are the specs for mobile/desktop placement of the language selector: https://marvelapp.com/c110cie

Original design document: https://sketch.cloud/s/nLxQl

[2019-06-10 22:23] jgiardino commented on #1181
Nothing jumps out as problematic. I thought it would be worth capturing how the user could potentially interact with these things, and considerations to think about.

- When the user clicks the action to show more, we should determine where that focus goes
  - If the action opens the notification drawer, this would behave like a modal, and usually we place focus on the first focusable element, whi

[2019-06-11 01:17] mcarrano commented on #1181
These are great questions, @jgiardino .

This is something I hadn't really thought through. I would be interested to hear thoughts on what should happen here.

[2019-06-11 01:33] mcarrano commented on #1821
Looks great @lboehling . Thanks!

[2019-06-11 02:25] yih-wang commented on #1834
@mcarrano I have confirmed with developers. There isn't a hard deadline for this control right now. They will wait until it is available.

[2019-06-11 12:51] jgiardino commented on #1181
Can the notification drawer have alerts grouped into an accordion structure?

In the design above, I'm assuming that alerts are populated in the drawer in the order they come in, with newest on top. And in that case, we can pause the display of toasts sense they're immediately visible in the drawer.

But if it's possible they are sorted into groups within an accordion, then they would not necessar

[2019-06-11 12:59] ncameronbritt opened #1915 "Inconsistent button placement for modals and no guidance"
Currently the design guidelines show buttons on the left side of modal dialogs:
https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/modal

while the react demos for the modal component have buttons on the right:
https://www.patternfly.org/v4/documentation/react/components/modal/

There is no documentation that I was able to find that says which version is correct.

[2019-06-11 13:26] christiemolloy commented on #1762
Closing this issue for now, because we won't be adding hyphens.

[2019-06-11 13:26] #1762 closed

[2019-06-11 13:58] lwrigh commented on #1181
@mcarrano Yes that was my thinking towards it too. It would be great if it had a similar behavior to the notification drawer opening.

@jgiardino Thank you for the feedback Jenn!

I can update the mockup to include the first actionable elements in focus.

Agreed, it could get weird and busy real quick if we had overlapping elements. I think in this case I would recommend just having the new alerts

[2019-06-11 14:59] bkjeffer commented on #865
I've done a bit of research to see how other design systems handle checkboxes and radio buttons. From what I gathered, more systems were using sizes 16x16 and below, though there were a few notable exceptions. I've created a document (based on the design systems I viewed) that list the sizes of the checkboxes and radio buttons in descending order, along with links to view the larger implementation

[2019-06-11 15:08] christiemolloy opened #1917 "fix(nav): button has transparent background at lg breakpoint"
When working on the website I noticed that at 992px (lg breakpoint) the scroll button background turns transparent. Its happening because the scroll button background relies on the background of the nav, and at a lg breakpoint the nav background color turns from dark grey to transparent and so just and so based on the order that the variables are assigned, the background color changes, before the

[2019-06-11 15:39] lwrigh commented on #1181
![Alert example Copy 2](https://user-images.githubusercontent.com/20227374/59286315-7d06c480-8c3d-11e9-8ecf-d3fedc7f1d0a.png)
![Alert example Copy 3](https://user-images.githubusercontent.com/20227374/59286320-8001b500-8c3d-11e9-8ef2-2ad6fd70f076.png)

@mcarrano @jgiardino what about something along these lines?

[2019-06-11 15:43] jgiardino commented on #865
Thanks for pulling all of this information together, @bkjeffer! It's great to see what other design systems have.

These are some of the users that benefit from increased target size:
_(By "target size" I mean the area on the screen that the user can click to toggle these inputs. But this does not have to be the visual size.)_

- Users with impaired mobility using a mouse - For these users, the sm

[2019-06-11 16:55] matthewcarleton commented on #1181
Hey @lwrigh this is looking great!
I prefer the idea of the notifications being added to the drawer when it is expanded for the same reasons mentioned above. Also, it's a strange interaction if a toast appears you close it and then it appears again un-read in the drawer.
@mcarrano have we clarified  if it has a read or un-read state that when a toast is dismissed in the drawer?
It could be useful

[2019-06-11 17:00] jgiardino commented on #1181
From @lwrigh's previous comment:

In your second example, the focus where you show it matches what I would expect.

For the first example, the scenario I had in mind is after you click the "View more..." link. In that case, focus should go on the first alert that is displayed (i.e. the 4th alert in the list). I'm not sure you need to update your example to show this, but anytime we have a pattern

[2019-06-11 18:40] lwrigh commented on #1181
![Alert example Copy 2](https://user-images.githubusercontent.com/20227374/59297472-4d17eb00-8c56-11e9-8b89-15af5725ab12.png)
![Alert example Copy](https://user-images.githubusercontent.com/20227374/59297474-4ee1ae80-8c56-11e9-8955-88f9bbb04f20.png)
I updated the alert group indicator to be more aligned with what you're suggesting @matthewcarleton. I updated the expanded notification drawer as wel

[2019-06-12 13:26] seanforyou23 commented on #1912
Yea saw that, didn't mean to close the other but figured I'd just open a dedicated issue to track the last remaining bit since it's just login now.

[2019-06-12 13:27] #1906 closed

[2019-06-12 13:49] mceledonia commented on #630
This is going to end up being more of an animation thing, we want the progress bar itself to loop in a nice way. If we have anyone interested in doing the dev work with this I think we could knock it out in a single meeting. @LHinson

[2019-06-12 14:00] srambach commented on #1912
I updated the PR to link this issue to it.

[2019-06-12 14:06] #1764 closed

[2019-06-12 14:16] patternfly-build commented on #1439
:tada: This issue has been resolved in version 2.12.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-12 14:16] patternfly-build commented on #1764
:tada: This issue has been resolved in version 2.12.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-12 15:58] matthewcarleton commented on #1181
@lwrigh thanks! This is looking great.  We could probably run this through Kyle/Michael, a few things stand out to me to consider with visuals : Spacing, for proper a11y we'll need a larger clickable size, I'm not sure if that box shadow aligns with PF4 shadows. I also wonder if we need that "x" or not. Does a user need to dismiss that? I think it might be better to be persistent.

[2019-06-12 16:18] mcarrano commented on #1181
Just catching up on this. A few thoughts...

* I agree that when the drawer is open, toast alerts should be suppressed and that new notifications will just end up in the drawer. I don't think we want a "New" category as it's hard to define what "new" means. Is new and unread the same thing? How long would something live in "new"? I'd rather just use the scheme we have now and let the unread count

[2019-06-12 17:20] lwrigh commented on #1181
@matthewcarleton That sounds like a good next step to me. Good point on the larger clickable area to improve the usability, totally agree with that.

@mcarrano That works for me with sticking with the unread count since that has already been established. We can get rid of the close. Sounds good! If any other interaction work needs to be considered I'd be happy to help out with that.

[2019-06-12 17:28] #1114 closed

[2019-06-12 17:32] mcarrano commented on #1624
Met this morning with @mcoker and @maryshak1996 to talk about the approach here for implementation. We will tackle this in 2 parts:

* CReate a new Definition List component that is based on the Content component but allows a vertical as well as horizontal arrangement of the label-value pair. This will allow any element to be placed in the value area.

* CReate a demo that uses the new component t

[2019-06-12 17:35] mcarrano opened #1919 "Definition List component"
Create a definition list component that allows for either vertical or horizontal arrangement of label-value pairs. See https://github.com/patternfly/patternfly-next/issues/1624 for designs.

[2019-06-12 17:36] mcoker opened #1920 "Expanded/collapsed arrow rotation in components"
The datalist is the only component that uses a var for its arrow's `transform` property for the expanded state. Let's be consistent and add a var to these other components, too.

* accordion
* clipboard copy
* expandable
* expandable table
* wizard mobile nav toggle

[2019-06-12 17:38] mcarrano opened #1921 "Description list demo"
https://marvelapp.com/prototype/6e72b59

Create a demo to show how a definition list can be built in PatternFly (using the Description list component).

---

From the design looks like we can consider creating 4 things:
* Basic demo - not sure how useful that is? Might serve as a good baseline for other demos.
* Editable demo - this could also go in the inline edit component. We had an example for

[2019-06-12 17:39] patternfly-build commented on #1114
:tada: This issue has been resolved in version 2.12.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-12 17:59] mcoker opened #1922 "Update expanded table arrow icon and transform"
We have a number of components that use an arrow icon that transforms to indicate a collapsed/expanded state. All of them use the collapsed state icon as the default, then rotate the icon for the expanded state. The table is the reverse - it uses a down arrow rotated 270deg by default, then rotated 0deg for the expanded state. Let's update it to use a right arrow with no rotation, then rotate it 9

[2019-06-12 19:02] christiemolloy opened #1923 "Investigate components using max-width"
Related to https://github.com/patternfly/patternfly-next/pull/1918#pullrequestreview-248905813

The PR above raised a good point about max-widths and min-widths, and when both are used at the same breakpoint, breakpoint collisions will arise.

Can we investigate the components that use max-width and see if we can reverse them to be min-width, without causing a breaking change. If they are breaking

[2019-06-13 12:53] SpyTec commented on #351
Just wanted to give my use case. Though this component would help, it's a low-priority for my project

I have an internal application which might be confusing for some. Of what each field does, what is taken into account when changing a specific field, or how it all hangs together.

Right now we’re putting all the details on a Confluence page which is linked at the top of the application. Having a

[2019-06-13 12:56] rachael-phillips commented on #351
Thanks for posting this Eric!

[2019-06-13 13:11] rachael-phillips commented on #1411
@karelhala we think this could be a great contribution. Thanks for following up here!

@mcarrano could you weigh in here from the design perspective? Do you have any concerns design-wise?
Also, @jgiardino any concerns or thoughts about what we should keep in mind for a11y on tri-state checkbox?

[2019-06-13 13:56] jgiardino commented on #1429
Just wanted to capture some requirements for a MenuItem component, based on some updates made to AppLauncher in https://github.com/patternfly/patternfly-next/pull/1916

Any variation of a menu item that exists today should be possible with the MenuItem component we would create for this issue. This should include a variation that indicates the menu item is an external link (i.e. opens the page in

[2019-06-13 15:09] #1668 closed

[2019-06-13 15:13] #1917 closed

[2019-06-13 15:22] patternfly-build commented on #1668
:tada: This issue has been resolved in version 2.12.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-13 15:23] patternfly-build commented on #1917
:tada: This issue has been resolved in version 2.12.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.12.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-13 15:36] boaz0 commented on #1668
Good job @christiemolloy !

[2019-06-13 15:55] rachael-phillips commented on #1915
Thanks @ncameronbritt ! @mcarrano should we add this to the org repo?

[2019-06-13 17:19] jgiardino commented on #1411
I found this [css-tricks article](https://css-tricks.com/indeterminate-checkboxes/) that explains how to get this behavior with JS. Based on this, it should be possible to assign the `indeterminate` property to a checkbox via JS and have the native checkbox input visually display that state.

I tested this using a [codepen](https://codepen.io/jenngiardino/pen/qzOOvz?editors=1111) of our Check comp

[2019-06-13 17:29] karelhala commented on #1411
@jgiardino thanks for the investigation and further explanation. While I was checking for this issue I looked around and found `indeterminate` as well, it works as expected and it allows 3rd state as we need it to work. I went ahead and implemented JS solution as well [1].

Let's keep this issue opened so we can track the visual change of checkox, it would be really awesome to have svg icons inste

[2019-06-13 17:34] rachael-phillips opened #1924 "Epic: Red Fat Font"
The Red Hat Font epic should include all font issues. If more enhancements come up in the future we may need to create another epic.

[2019-06-13 17:44] jgiardino commented on #1411
Thanks, @karelhala! You're way ahead of me on this! 😉

After digging around a little more, I think the aria-checked property is only valid with custom checkbox components, but not the native `<input type="checkbox">`.

So I agree with you. Let's keep this issue open to capture the need for including this state of a checkbox if/when we implement custom styles. AND I'd also like to throw out a reque

[2019-06-13 18:14] mceledonia opened #1926 "Update input group button styling to match CopyClipboard"
The button styling for copy to clipboard looks better than the input group button styling, and in my opinion these should be consistent. Despite being separate components, to the end user they are the same, a button attached to an input field.

Copy to clipboard styling (currently hovering over copy button, invisible pointer)
https://deploy-preview-1813--pf-next.netlify.com/components/ClipboardCop

[2019-06-13 18:15] mcarrano commented on #1915
@ncameronbritt @rachael-phillips The documentation shows the correct design intent. This was based on a decision that was made to consistently left-align buttons on forms and modals. Our code examples have not caught up to this. There is an issue opened here that was deferred as it is a breaking change: https://github.com/patternfly/patternfly-next/issues/1599.

I think this issue can be closed as

[2019-06-13 18:28] mcarrano commented on #1411
@karelhala @rachael-phillips I agree that this is something we will want from a deign perspective. There is a related issue open here for bulk selection that will apply this to bulk selection in a list or table: https://github.com/patternfly/patternfly-next/issues/1089. Yes, this is something that we might need to address in Core together with the custom checkbox issue.

[2019-06-13 18:35] mcarrano commented on #1926
I like your proposal @mceledonia . If others agree with this, then we should get it on the roadmap. Would this be a breaking change @mcoker ?

[2019-06-13 18:47] mceledonia commented on #1926
Also includes text buttons - much better.
![image](https://user-images.githubusercontent.com/30935938/59459169-268ab900-8dea-11e9-8e8c-fee13a828893.png)

[2019-06-13 19:24] #1915 closed

[2019-06-13 20:18] #1914 closed

[2019-06-13 20:27] patternfly-build commented on #1914
:tada: This issue has been resolved in version 2.13.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-14 14:29] mcarrano opened #1927 "Custom cursors"
Add custom cursors for behaviors like drag and drop or anywhere else that makes sense. This will be needed for supporting Topology views or other direct manipulation features.

[2019-06-14 14:30] mcarrano commented on #1927
@serenamarie125 @Veethika please add your requirements.

[2019-06-14 15:02] lboehling commented on #1533
here are a few different ideas for the running icon. let me know what you all think!

<img width="673" alt="Screen Shot 2019-06-13 at 4 42 19 PM" src="https://user-images.githubusercontent.com/46571616/59518364-825d4c80-8e93-11e9-8f66-709bcddbb12c.png">

@mcarrano @kybaker @bmignano

[2019-06-14 16:07] ajacobs21e commented on #1926
@mceledonia please let me know when there's a final visual design decision and if I should make this update in the sketch library. Thanks!

[2019-06-14 16:42] mceledonia commented on #1926
I think there is consensus around the visual design, though I'm not sure if we should update the library before or after the changes are implemented.

[2019-06-14 16:59] katierik opened #1929 "Change default breakpoint for left hand navigation"
I've noticed in cloud.redhat.com that the breakpoint for the left nav is low. For example, right before the breakpoint, the left nav takes 37% of screen space, and spacing takes another 8%. Content is squished into 55% of the space (which may sound ok, but look at the screenshot).

This is the default breakpoint from PatternFly.
I'd like to propose that the default breakpoint is earlier. As seen i

[2019-06-14 18:01] mcarrano commented on #1926
It might be good to get a sense about when this can be implemented before we move on the Setch Library. @mcoker what's the scope of this? Is it an easy change? Is it breaking?

@LHinson @rachael-phillips any sense of where we can fit this on the roadmap?

[2019-06-14 18:16] mcoker commented on #1926
@mcarrano It's breaking in that we would be removing some variables in core that are currently used to style the component. I think we could position it in a way that isn't breaking though, by leaving the existing variables in place, and redefining them so they work with the new design, then follow up in a breaking change release and remove variables that are no longer necessary.

We share this bu

[2019-06-14 18:35] #1910 closed

[2019-06-14 19:01] mcarrano commented on #759
Hey @rblackbu I'm noting that the link here is now stale since we've moved from InVision to Marvel.

[2019-06-14 19:02] christiemolloy opened #1931 "breaking change: remove vars from data list component"
To be consistent with how we are setting `Transform` for all components with an element that rotates (toggle icon) lets remove these lines from the data list component so that we only have one var for transform and its value is 90deg, as opposed to a var for 0deg and 90deg.

Remove:
`
  --pf-c-data-list__item--m-expanded__toggle--c-button--Transform: rotate(90deg); `

[code]

[2019-06-14 20:38] ajacobs21e opened #1933 "Update needed to icon sizes"
The current icon sizes are:
$pf-global--icon--FontSize--sm: pf-font-prem(10px) !default;
$pf-global--icon--FontSize--md: pf-font-prem(18px) !default;
$pf-global--icon--FontSize--lg: pf-font-prem(24px) !default;
$pf-global--icon--FontSize--xl: pf-font-prem(54px) !default;
source https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/sass-utilities/scss-variables.scss

The are some

[2019-06-14 21:09] mcarrano commented on #759
Capturing some notes and mockups from discussion with the Ansible team.

Closable Tags: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs/
Read-Only Tags with X More: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-detail/
Show Less Toggle: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-detail-more/

[2019-06-14 21:24] mcoker opened #1934 "Updates to App Launcher"
* use `--pf-global--icon--FontSize--lg` for the icon size
* reduce height of expanded demo

[2019-06-17 13:48] rblackbu commented on #759
@mcarrano FYI - I updated the link to point to the prototype in Marvel.

[2019-06-17 15:02] mcoker opened #1937 "Table grid scss cleanup"
In this block - https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/components/Table/table-grid.scss#L221-L233

The `::before` label is supposed to be normal font, so let's remove L224 and see if L229 is necessary.

L228 seems redundant, so let's see if we can remove that.

The comment on L230 looks irrelevant.

And L231 probably isn't necessary, either.

[2019-06-17 15:41] christiemolloy opened #1938 "Rename vars in Accordion"
Related to #1932

During the breaking change period, rename these vars in the Accordion component to better align with our naming standards:

- Change `--pf-c-accordion__toggle-text--expanded--Color` to `--pf-c-accordion__toggle-text--m-expanded--Color`
- Change `--pf-c-accordion__toggle-text--expanded--FontWeight` to `--pf-c-accordion__toggle-text--m-expanded--FontWeight`

[2019-06-17 19:47] stacymcauliffe opened #1939 "Hint design pattern"
Create a PF component for the hint pattern as documented in the [OpenShift design wiki](http://openshift.github.io/openshift-origin-design/web-console/future-openshift/contextual-help/contextual-help) and [draft PF design guidelines](https://docs.google.com/document/d/1v-_QA2DuDzKk73OJG5TZDTdQwnSQBec6J-Q-yKPRKKs/edit?usp=sharing) for embedded assistance.

Hint pattern should meeting the following

[2019-06-17 19:48] stacymcauliffe commented on #1939
@mcarrano - let me know if this needs to be explained further

[2019-06-17 20:25] tiffanynolan opened #1940 "Help icon in masthead"
Based on a conversation in the uxd-visual Slack channel today, it was decided that we should be using the open circle and question mark "help" icon in the masthead instead of the solid circle one. It should be the help icon from this page: https://www.patternfly.org/v4/design-guidelines/styles/icons

This issue is for updating the icon in any corresponding documentation, page examples, Sketch file

[2019-06-17 20:27] tiffanynolan commented on #1940
@mceledonia @kybaker FYI

[2019-06-17 20:55] mcarrano commented on #1939
This looks great @stacymcauliffe . Thanks for opening an issue. @LHinson @rachael-phillips this is something we should get on our roadmap as it is closely aligned with https://github.com/patternfly/patternfly-next/issues/1893.

[2019-06-18 08:40] yuvalgalanti commented on #1853
Hi @lizsurette @mcarrano.
So @yaacov did a quick demo to check if just taking those two components can work and it doesn't seem like it. we will have to do some UI changes in the tabs component to support this implementation.

![localhost 8000 components table  (1)](https://user-images.githubusercontent.com/44394257/59666529-a97e8b80-91bd-11e9-8c8a-05113a3a6425.png)

[2019-06-18 13:08] rachael-phillips commented on #1939
Ok great! Thanks @mcarrano for the heads up.

[2019-06-18 13:09] mcarrano commented on #1853
I agree that this does not look very good @yuvalgalanti . But there are a couple of things I'd want to explore before committing to making a new Table variant. First, I know that we are considering a new tab style that might work better here. @kybaker can you take a look and comment regarding whether that styling will address this better?

@mcoker can you also take a look at this? Seems like there

[2019-06-18 13:11] rachael-phillips commented on #1929
Sorry for the delay here @katierik I've been on pto. Thank you for bringing this to our attention! @mcarrano @mceledonia making you aware. For a bit of history, why did we decide to place the breakpoint where it is currently, and would we be open to changing it in the future given this experience? I'm curious how this change would impact us across applications.

[2019-06-18 15:08] mcarrano commented on #1821
Moving to CSS backlog. Design is complete.

[2019-06-18 15:52] mcoker commented on #1853
@mcarrano @yuvalgalanti the expandable content area (`.pf-c-table__expandable-row-content`) should have top/bottom padding by default, which will create space between the top of the expandable content area and the top of the tabs component.

Here I added tabs to the expandable content area of a table, and used the [Stack layout](https://www.patternfly.org/v4/documentation/react/layouts/stack/) wit

[2019-06-18 18:34] mcoker opened #1941 "Remove title classes from about modal strapline and reduce font size"
* Remove the title classes from the strapline paragraph.
* Change strapline `font-size` to 14px.

cc @mceledonia

[2019-06-18 18:35] mcoker opened #1942 "Reduce font size in small variation of progress component"
* Change `font-size` of the text in the small variation to 14px. Leave the icon size as it is.

cc @mceledonia

[2019-06-18 18:36] mcoker opened #1943 "Make form labels bold"
* Update the form component labels so that the text is bold

cc @mceledonia

[2019-06-18 19:07] lboehling commented on #1552
Hi! I updated the "bundle" icon so that it is isometric and styled like FA icons, and made a "module" icon. Let me know what you think!
<img width="999" alt="Screen Shot 2019-06-18 at 2 35 57 PM" src="https://user-images.githubusercontent.com/46571616/59712099-7e566500-91da-11e9-98a3-799d94f97719.png">

@jgiardino @mcarrano

[2019-06-18 19:10] jschuler opened #1944 "AppLauncher: pf-c-app-launcher__menu-item should be applicable to non-anchor element as well"
in addition to `a` element for .pf-c-app-launcher__menu-item, make it work also with `button` and maybe `div` as well. In react, if consumer wants to use a routing library, it will often clash if it internally renders also to an anchor and thus it would be a doubly nested `a`.

[2019-06-18 19:45] christiemolloy opened #1945 "Link Buttons in the Footer of the Card"
When I drop Link Buttons into the card footer they don't align with the rest of the content which IMO looks odd. Can we take a look into this?

<img width="918" alt="Screen Shot 2019-06-18 at 3 43 59 PM" src="https://user-images.githubusercontent.com/20118816/59714646-1e62bd00-91e0-11e9-95ac-e3b5a825b666.png">

[2019-06-18 19:46] mcoker commented on #1945
Could you use the inline variation?

[2019-06-18 19:49] christiemolloy commented on #1945
Yeh that does the job. I thought inline variations were to be used inline with other content, like in a sentence for example @mcoker

[2019-06-18 19:49] #1945 closed

[2019-06-18 19:54] mcoker commented on #1945
@christiemolloy ah gotcha. Yeah they're just for any time you want it to display as inline. Not necessarily used inline with anything else. Another idea I had was to offer like an `pf-m-offset-[top/right/bottom/left]` that would move a button in whatever direction(s) to offset it's padding

[2019-06-18 20:00] christiemolloy commented on #1945
@mcoker I really like the offset idea because that would help the variation with the icon inside of it.

[2019-06-18 20:08] mcoker commented on #1945
Yah I remember you wanting to do that in some other context with the plain button.... can't remember where now :) If you have a use case, do you want to create an issue proposing the change and tag design?

[2019-06-18 20:19] mcoker opened #1946 "Change card body font-size, add dashboard variation"
Let's change the card body font-size back to 16px. Checking with @mceledonia and @kybaker we agree this shouldn't be a breaking change visually.

Then let's offer a dashboard variation of the card (`.pf-m-compact` to be consistent?) that

* decreases padding around card to 16px
* decreases the `--pf-c-card__body--FontSize` to 14px
* decreases space under head/header from 16px to 8px
* decreases sp

[2019-06-18 20:59] jgiardino commented on #1552
Thanks for working on this, @lboehling! It's very exciting to see a Module icon start to take shape!

Ultimately, the Module icon will need to get rendered at the same size as the Bundle icon in the UI. Without seeing the updated module icon at that size, it's hard to judge how well it would hold up.

I'm also wondering if all of those lines are needed on the bundle, or if we can start to remove s

[2019-06-18 21:00] #1934 closed

[2019-06-18 21:11] patternfly-build commented on #1910
:tada: This issue has been resolved in version 2.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-18 21:11] patternfly-build commented on #1934
:tada: This issue has been resolved in version 2.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-18 21:23] mcoker commented on #1938
we should change the var to be inline with the selector, so it's `--pf-c-accordion__toggle--m-expanded__toggle-text--[Color/FontWeight]`

[2019-06-18 21:37] priley86 opened #1947 "Table heading styles"
In OpenShift, we have recently updated all table heading styles to use Overpass bold font-weight. This issue is just requesting we do the same in PF Core.

Relevant OpenShift css:
https://github.com/openshift/console/blob/master/frontend/public/style/_overrides.scss#L515
https://github.com/openshift/console/blob/master/frontend/public/style/_common.scss#L472

This would also include setting the fo

[2019-06-18 21:39] priley86 commented on #1947
desktop:
<img width="1568" alt="cluster-settings" src="https://user-images.githubusercontent.com/4237045/59721752-072bcb80-91f0-11e9-9cf1-420b496fe62c.png">

mobile:
<img width="498" alt="cluster-settings-mobile-1" src="https://user-images.githubusercontent.com/4237045/59721725-f713ec00-91ef-11e9-959d-7d4d1ffc8cdd.png">

[2019-06-18 22:34] mcoker opened #1948 "Update table font-weight var"
change `--pf-c-table--FontWeight` to `--pf-c-table-cell--FontWeight` throughout the component.

[2019-06-19 12:51] dgutride opened #1950 "Add support for experimental components"
We'd like to be able to have components that are created as experimental.  The goal would be:

1) Put experimental components in the component section of the folder structure, but indicate in frontmatter or the component somehow that gatsby should treat them differently
2) Update gatsby to add an experimental section for components
3) Do not include experimental components in the full patternfly.c

[2019-06-19 14:17] lwrigh commented on #1181
Here's a link to the Marvel prototype: https://marvelapp.com/615e0ad

[2019-06-19 14:23] christiemolloy commented on #1931
Not removing this var anymore, so closing this issue

[2019-06-19 14:25] #1931 closed

[2019-06-19 14:41] beanh66 commented on #1872
FYI @LHinson

[2019-06-19 15:47] mcoker opened #1953 "Remove form label font-weight var"
We aren't using `--pf-c-form__label--FontWeight: var(--pf-global--FontWeight--normal);` and `font-weight` is controlled explicitly on the label text per https://github.com/patternfly/patternfly-next/pull/1952

Let's remove the var and the property that references it.

[2019-06-19 17:08] christiemolloy opened #1954 "Update Var Names Clipboard Copy"
Breaking change. Update var names so that they match the selector order, for example: `--pf-c-clipboard-copy__group-toggle--m-expanded--BorderBottomColor` needs to be changed.

[2019-06-19 17:33] mcoker commented on #1937
this is addressed in https://github.com/patternfly/patternfly-next/pull/1949/

[2019-06-19 17:33] #1937 closed

[2019-06-19 18:20] christiemolloy opened #1955 "Update stylesheet to use icons"
As part of this PR: #1922 we added a class for the icons in Nav, Data List and Table. This issue should update the stylesheet to replace `*` with the icon class.

Also update `--pf-c-nav__list-toggle--Transition` to be `--pf-c-nav__list-toggle-icon--Transition`

[2019-06-19 19:30] rachael-phillips commented on #1940
@mcarrano making you aware. Is this something we plan to update in PF4?

[2019-06-19 19:34] rachael-phillips commented on #1933
Thanks for filing! @mceledonia is working on icon sizes right now I believe. Michael, are there any relevant issues already open for this effort?

[2019-06-19 19:42] rachael-phillips commented on #1879
Thanks so much for filing this, @katierik! @mcarrano making you aware of this. Has this come up for you in the past and is there a need you have seen across teams for this feature?

[2019-06-19 19:44] rachael-phillips commented on #1878
@mcarrano and @LHinson making you aware of this. @mcarrano have we seen a need for this before or across applications?

[2019-06-19 19:49] rachael-phillips commented on #1854
@mceledonia , @kybaker did you happen to see @maryshak1996 's questions above?

[2019-06-19 19:51] rachael-phillips commented on #1847
@mcoker making you aware of this one. Is this something we need to fix in Core?

[2019-06-19 19:53] rachael-phillips commented on #1840
@karelhala is this still an issue?

[2019-06-19 19:57] rachael-phillips commented on #1835
Following up here on this conversation. As @mcarrano said, before we commit to creating a new table variant, @kybaker and @mceledonia can you take a look at the mockup here and let us know if there is a different way to handle this visually?

[2019-06-19 19:58] rachael-phillips commented on #1828
@mcarrano making you aware. What are your thoughts on renaming this component?

[2019-06-19 20:01] rachael-phillips commented on #1825
Hi @christiemolloy any thoughts for @mcarrano here? I'm trying to determine next steps on this issue.

[2019-06-19 20:03] rachael-phillips commented on #1793
Hi @lwrigh I'm following up here on this issue. Do you have any timeline or priority needs for this component?

[2019-06-19 20:05] rachael-phillips commented on #1792
Hi @terezanovotna sorry for the delay here. This one slipped past me. Is this still an issue?

@mcoker any input here for Tereza? This looks like a bug in her application

[2019-06-19 20:06] rachael-phillips commented on #1785
Hi @boaz0 is this still an issue for you? Sorry for the delay here!

[2019-06-19 20:35] mcarrano commented on #1940
@tiffanynolan @rachael-phillips I'm not aware the closed circle-question-mark is being used in any of our documentation or examples now. Other than the Sketch file, are you aware of other places that need to be changed/fixed?

[2019-06-19 20:37] lwrigh commented on #1793
@rachael-phillips The PF3 one will be merged soon so we probably won't need a PF4 one until the RHV 4.4 release next year at the absolute earliest.

[2019-06-19 20:37] rachael-phillips commented on #1793
Thank you for letting me know!

[2019-06-19 20:42] mcarrano commented on #1879
This has not come up before to my knowledge @rachael-phillips. I think we would need to define some sort of banner component as @katierik suggests. Perhaps this can be added to the agenda for the weekly design sync to see if there are similar needs and what the requirements would be?  If we want to move forward I can add to the design backlog.

[2019-06-19 20:46] mcarrano commented on #1878
Yes. And this is one of the use cases that is being addressed here: https://github.com/patternfly/patternfly-next/issues/1089 as described in the doc by @katierik above. I suggest that this be closed as a duplicate unless you think this is different from what you are working on @katierik

[2019-06-19 20:50] mcarrano commented on #1828
I'd be fine with that as I agree with @ncameronbritt that the current naming is inconsistent with our standard. I believe this change needs to be made in the code so not sure of the effect.

[2019-06-19 20:57] mcarrano commented on #1825
I do remember discussing this with @mcoker and @kybaker a few months back and arriving at the current design approach. There were problems with allowing the title to wrap as you point of @christiemolloy . From a design standpoint, I feel like modal titles should be short and the body should be used to convey more content. We don't scroll the entire modal as a way to always keep the action buttons

[2019-06-19 21:47] mcoker commented on #1847
@rachael-phillips yep!

[2019-06-19 21:52] mcoker opened #1957 "Update components so that * { background-color: transparent } isn't needed"
This line in our shield CSS is problematic for applications when they include it, and I don't think it's necessary as a global declaration. https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/_shield-noninheritable.scss#L9

Let's go through our components and see where all we rely on that being set and just apply `background-color: transparent;` in the component. Then create a

[2019-06-19 22:04] mcoker opened #1958 "Investigate the changes needed to build variations of our components where we're currently style a component in another component"
Let's go through the components and see where we're overriding styles of a component in another component and see what would be involved in making the overriding styles a variation of the original component instead. And if it doesn't make sense to create a variation of the original component, if it makes sense just to create a new element in the component with the override styles instead.

If we'r

[2019-06-19 22:09] mcoker opened #1959 "Investigate use of .pf-c-form__helper-text-icon in login component"
https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/components/Login/login.scss#L214-L217

`.pf-c-form__helper-text-icon` doesn't exist in the form component. Should we add it? Maybe update the class to be an element of the login component instead?

[2019-06-19 22:15] mcoker commented on #1792
@rachael-phillips @terezanovotna I have also opened an issue around this (https://github.com/patternfly/patternfly-next/issues/1593) and looks like it's being addressed in #919 (https://github.com/patternfly/patternfly-next/issues/919#issuecomment-496571266).

Do you know if #919 is ready to be worked on? I don't see the latest designs in the issue. Assuming it has been addressed in the designs an

[2019-06-19 22:29] mcoker commented on #1940
@mcarrano it's not in the masthead of any of our examples, but it is in an [Input Group example](https://pf4.patternfly.org/components/InputGroup/examples/)

[2019-06-19 22:38] mcoker opened #1960 "Update <small> in data list example"
The `<small>` in the data list example is 13.333px, and it should be 14px. We're relying on the browser's styles there.

Some options:

* Should we add `<small>` to the global reset styles?
* Maybe we can update the data list demo to use the `pf-c-content` version of the `<small>` element?
  * Should the `<small>` be a lighter color by default, or should that be a variation?
* Should we add a comp

[2019-06-20 06:30] boaz0 commented on #1785
It's not a blocker but it's still needed.

[2019-06-20 10:52] yuvalgalanti commented on #1853
@mcoker @mcarrano Ya, in the example I shared we played with the padding and that's why you see it close to the top of the expandable content area

[2019-06-20 12:14] rachael-phillips commented on #1879
I think that’s a great idea. I’ll add it to the agenda.

On Wed, Jun 19, 2019 at 4:42 PM mcarrano <notifications@github.com> wrote:

--

RACHAEL PHILLIPS

SHE/THEY

INTERACTION DESIGNER

User Experience Design (UXD) Team | Boston Office

raphilli@redhat.com
<https://red.ht/sig>

[2019-06-20 12:52] rachael-phillips commented on #1878
@katierik would you like me to close this one or keep it open?

[2019-06-20 12:58] rachael-phillips commented on #1792
@mcoker Let me ask them to post the latest designs - it should be ready to work on, and we hope to deliver it in mid August.

[2019-06-20 12:59] rachael-phillips commented on #919
@mceledonia would you mind updating this issue with the finalized designs? :) thanks so much!

[2019-06-20 13:00] rachael-phillips commented on #1940
@mceledonia what do you think? I know we opted for the exclamation point and circle for most use cases, but this feels very different. What would you recommend in this case?

[2019-06-20 13:02] rachael-phillips commented on #1785
@mcoker making you aware of this one.

[2019-06-20 13:11] mcoker commented on #1785
I'm curious what @mcarrano thinks here. How do you think we should display the pagination in this state?

[2019-06-20 13:34] christiemolloy commented on #1825
Thanks for responding @mcarrano
The arguments I can see for changing this component is:
- in our documentation we have a rule that when text truncates there needs to be a way to see the rest of the text that is truncated, currently we cant do that in that component. It also says that truncating words can cause awkward words by the way its truncated: https://www.patternfly.org/v4/design-guidelines/

[2019-06-20 14:13] rachael-phillips commented on #1927
@serenamarie125 @Veethika would you mind adding your requirements here?

[2019-06-20 14:14] rachael-phillips commented on #1926
@kybaker @mceledonia what do you think this priority of this is?

[2019-06-20 14:25] rachael-phillips commented on #1894
@mceledonia @kybaker @mcarrano  what do you think about this proposed change? Would love to hear your thoughts!

[2019-06-20 14:27] rachael-phillips commented on #1892
@kybaker @mceledonia @mcarrano what are your thoughts here? @mcoker thinks it's a fair enhancement :D

[2019-06-20 14:29] yfrimanm opened #1961 "Tool tip"
I was looking at the PF4 guidelines for tooltips and wondered what was the reason for the text to be center aligned. I believe a left alignment is easier to handle, especially with 3 lines and more use cases.
https://www.patternfly.org/v4/documentation/core/components/tooltip
Thanks!

[2019-06-20 14:32] rachael-phillips commented on #1961
Hi @yfrimanm would you mind adding a description here of the issue? :D

[2019-06-20 14:36] mcoker commented on #1907
@seanforyou23 is this something you'd like to work on?

[2019-06-20 14:44] #1791 closed

[2019-06-20 14:44] #1941 closed

[2019-06-20 14:47] #1947 closed

[2019-06-20 14:52] mcarrano commented on #1785
I think that @boaz0 raises a valid point. Seems like this is something that should be built into the React component. From a CSS standpoint, do we need to change anything? Do we need a "disabled state" pagination or can the controls that make up the pagination just be set to disabled via JS code?

[2019-06-20 14:58] #1943 closed

[2019-06-20 14:59] patternfly-build commented on #1791
:tada: This issue has been resolved in version 2.13.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-20 14:59] patternfly-build commented on #1941
:tada: This issue has been resolved in version 2.13.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-20 14:59] patternfly-build commented on #1947
:tada: This issue has been resolved in version 2.13.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-20 15:01] mcoker commented on #1785
If you just disable the form elements in pagination currently, this is what it looks like.

<img width="351" alt="Screen Shot 2019-06-20 at 9 57 49 AM" src="https://user-images.githubusercontent.com/35148959/59859183-e7a4b800-9341-11e9-9218-d96b32d0f095.png">

We don't have a disabled variation of the options menu, but I think that was just an oversight and it should be added, and it would look li

[2019-06-20 15:09] patternfly-build commented on #1943
:tada: This issue has been resolved in version 2.13.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.13.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-20 15:10] mcarrano commented on #1825
I guess we could just handle this by providing design guidance @christiemolloy . But before I say yes to this, @mcoker do you recall exactly why we did this? Was there a problem other than preventing messy run-on dialog titles?

[2019-06-20 15:12] mcarrano commented on #1894
I'd be OK with it.

[2019-06-20 15:26] mcarrano commented on #1892
I agree with this in theory @matthewcarleton , but it does get a little bit tricky. I'm not sure that we have the idea of a default selection other than the first item in the list. We could define an option to consider the first item as a placeholder (i.e. a null selection). Otherwise the default selection needs to be an actual value (for cases where the selected value cannot be null).

@mcoker @t

[2019-06-20 15:43] mceledonia commented on #1894
Yeah, makes sense to me!

[2019-06-20 15:46] michpetrov commented on #1850
@jeff-phillips-18 Can you clarify what's the expected look?

[2019-06-20 17:16] mcarrano commented on #1894
@mcoker would this just be a straight forward change? Do you need anything from design?

[2019-06-20 17:33] mcarrano commented on #1785
Yes, I think that makes sense @mcoker

[2019-06-20 17:37] mcoker opened #1962 "Add disabled variation of options menu"
Let's add a disabled version of the options menu that mimics the dropdown component's disabled state.

This is related to https://github.com/patternfly/patternfly-next/issues/1785

cc @mcarrano

[2019-06-20 17:38] mcoker commented on #1785
@mcarrano added https://github.com/patternfly/patternfly-next/issues/1962. Also we don't have a disabled version of the select component. Should we add that, too?

[2019-06-20 17:41] mcoker opened #1963 "Add example for disabled pagination"
Once https://github.com/patternfly/patternfly-next/issues/1962 is completed, let's add an example in the pagination component of a disabled state with the options menu and form fields disabled.

Related to https://github.com/patternfly/patternfly-next/issues/1785

cc @mcarrano

[2019-06-20 17:44] mcoker commented on #1785
Also added an issue to add the example in core - https://github.com/patternfly/patternfly-next/issues/1963.

And here's the react issue for when #1963 is complete - https://github.com/patternfly/patternfly-react/issues/2315

[2019-06-20 17:53] mcoker commented on #1825
Agreed, I think we should be flexible and encourage users how to best use the component. Seems like a 2 line modal title is fair, especially as you size down or are on mobile.

I think that's basically it and what @christiemolloy illustrated. During testing, we try edge cases, and if you have a long title with a short viewport, this happens.

<img width="691" alt="Screen Shot 2019-06-20 at 12 47 5

[2019-06-20 18:25] katierik opened #1969 "React modal example has incorrect button styles"
The modal dialog in the React examples has buttons on the *right*. As per the design guidelines, these buttons should be on the *left*.

![react-modal](https://user-images.githubusercontent.com/23172038/59872158-2862f800-9367-11e9-8b53-8f9395ff1b63.jpg)

[2019-06-20 18:31] ajacobs21e commented on #1933
<img width="308" alt="Screen Shot 2019-06-14 at 2 02 26 PM" src="https://user-images.githubusercontent.com/6415742/59872517-f2724380-9367-11e9-992b-693f5a3fcb37.png">
I think the 18 is a bit big but 10 is too small. This would apply to other icons in a text field like search magnifying glass and the time clock.
@mceledonia  @kybaker

[2019-06-20 18:31] mceledonia commented on #1933
@rachael-phillips This relates directly to what I was working on, our next steps are to adjust any icon sizes that don't match our variables in the sketch library and we will be all set! Sticking with icon font for now rather than worrying about transferring to SVG, as icon font works just fine and the switch would not be worth the time right now.

[2019-06-20 18:32] mcoker commented on #1892
I chatted with @rachael-phillips about it and she mentioned that if we do this, we should probably be consistent, and I think that implies using the same style here and in the select component. Would it make sense to make this change there, too?

Also this text looks like it might get confused as being disabled. While we have a different UI for a disabled select (grey background, no border), I sti

[2019-06-20 18:33] mceledonia commented on #1933
@ajacobs21e Let's go with 18 for now since we want to try not introducing a fifth variable, and 10 just looks funny 😁

[2019-06-20 18:36] ajacobs21e commented on #1933
![Screen Shot 2019-06-20 at 2 35 00 PM](https://user-images.githubusercontent.com/6415742/59872885-bee3e900-9368-11e9-8cfe-1ac3c44b2082.png)
Chip
@mceledonia @kybaker

[2019-06-20 18:40] ajacobs21e commented on #1933
![Screen Shot 2019-06-20 at 2 39 55 PM](https://user-images.githubusercontent.com/6415742/59873112-4df10100-9369-11e9-9001-dda3165d77eb.png)
Popovers

[2019-06-20 18:44] ajacobs21e commented on #1933
![Screen Shot 2019-06-20 at 2 43 55 PM](https://user-images.githubusercontent.com/6415742/59873364-d96a9200-9369-11e9-99bd-c2a7f927713a.png)
Breadcrumbs
@mceledonia

[2019-06-20 18:52] lboehling commented on #1933
Modal is already built with an 11px close icon on https://pf4.patternfly.org/components/ModalBox/examples/.

attaching examples with it at 10px and 18px. @mceledonia
<img width="564" alt="Screen Shot 2019-06-20 at 2 50 43 PM" src="https://user-images.githubusercontent.com/46571616/59873875-f2c00e00-936a-11e9-9d12-4d698de23cc3.png">

[2019-06-20 18:54] ajacobs21e commented on #1933
Masthead icons are 16px... pics from Gina coming soon

[2019-06-20 18:57] mceledonia commented on #1933
@ajacobs21e  [CHIP]

This is awesome
For the chip - this is actually the same problem the Red Hat logo had from being contained inside a circle. My proposal is we switch the icon to the plain X (no circle) and at 10px it should look the proper size.

[2019-06-20 18:58] mceledonia commented on #1933
@lboehling [MODAL]

I say 18, it feels a little big but it is definitely better than 10

[2019-06-20 18:58] mceledonia commented on #1933
@ajacobs21e [BREADCRUMBS]

10 for sure!

[2019-06-20 18:59] mceledonia commented on #1933
@ajacobs21e [POPOVERS]

This one is tough and I think half the problem is the misalignment with the text. I think 18 will feel better if we can get it to be realigned with the text... Do we know why it is misaligned?

[2019-06-20 19:00] ajacobs21e commented on #1933
Chip with 10px naked X
![Screen Shot 2019-06-20 at 2 59 42 PM](https://user-images.githubusercontent.com/6415742/59874387-1899e280-936c-11e9-9211-01598901b6d5.png)

[2019-06-20 19:01] mceledonia commented on #1933
It is also a little difficult to get a sense of scale since we aren't seeing these in context. I think we can make general decisions but definitely see how they feel in the larger context of a screen @ajacobs21e @gdoyle1 @lboehling

[2019-06-20 19:05] ajacobs21e commented on #1933
@mceledonia yeah I zoomed out before taking the screenshot because I though the same thing but it does look much better at 100% zoom instead of 600%.

I also looked at the popover and it has spacers overlapping so I'll chat with you offline about that. But yes I agree that 18px works better there too (and then matches the modal)

[2019-06-20 19:07] gdoyle1 commented on #1933
@mceledonia Masthead icons
![Screen Shot 2019-06-20 at 3 06 44 PM](https://user-images.githubusercontent.com/30870144/59874791-2439d900-936d-11e9-94e2-97fe1f2c54a9.png)

[2019-06-20 19:22] mceledonia commented on #1933
@gdoyle1 [MASTHEAD]

Let's go 18 there!

[2019-06-20 19:28] mattnolting commented on #1895
I can't seem to find a good way to do this right now while remaining consistent with our contribution guidelines. I'll have to revisit at a later date..

[2019-06-20 19:55] mcoker commented on #1894
@mcarrano seems straight forward enough. I wonder if this is a pattern we'll use elsewhere and if we should either just make this change manually in any components where we use a cancel button, offer an action row as a layout that allows for a modifier for the cancel button and spaces it appropriately. I pitched the action row layout to the CSS devs and the team wasn't super excited about it, so w

[2019-06-20 20:01] gdoyle1 commented on #1933
Updated all icon sizes in current designs and deleted the old random px sized icons out of icons list. I think this should solve everything! Probably can close this out

[2019-06-20 20:01] matthewcarleton commented on #1892
@mcoker ya I agree this is a bit of a tricky one to tackle. On one side it looks like it could be disabled, on the other side if we leave it then it looks like it has content and might be missed. The one argument I can think of for adding these styles is even though it may appear to be disabled it won't be so it can still be tabbed it and clicked on.
@mcarrano as far as building this we would have

[2019-06-20 20:19] mceledonia commented on #1933
@gdoyle1 @ajacobs21e @lboehling awesome work! thanks for taking this on and crushing it.

[2019-06-20 20:21] andybraren commented on #1892
@matthewcarleton do you have the full wizard form image that prompted this issue handy? In isolation having a unique "Select X" state doesn't seem like it would matter, but in the context of a larger, dynamic form (in which pre-filled and attention-needing FormSelects could pop into the form at the same time) it was much more obvious that not having a unique "Select X" state could be an issue.

@m

[2019-06-20 20:23] mcarrano opened #1964 "Banner"
Introduce a general banner component that can be used in a variety of use cases:

* To indicate that the application is offline (see #1879)
* To indicate an experimental feature
* To indicate classification level
* others?

Color and a one line message may be used to convey status. Placement and height should be considered. Are there different placement options?

[2019-06-20 20:27] mcarrano commented on #1879
@katierik @rachael-phillips @LHinson I have created a separate issue to add a new banner component per the discussion in today's PF sync mtg and will add this to the design backlog. Do you have a timeframe for this @katierik ? We will need to get on the roadmap.

As for this issue, I'm keeping it open separately as it addresses a specific usage of the banner. I can see this as a demo or just a des

[2019-06-20 20:35] ajacobs21e commented on #1933
@mceledonia thanks for answering our 400 questions!

[2019-06-20 20:47] mcarrano commented on #1785
Sounds good. Thanks @mcoker !

[2019-06-20 20:51] mcarrano commented on #1825
OK. Then I'm good to accept this one @christiemolloy and @rachael-phillips . I don't think there is any design needed here. This can go direct to CSS.

[2019-06-20 21:05] mcarrano commented on #1892
Ah, I was thinking this was referring to the Select component, but I keep forgetting we have both Selects and Form Selects. But wouldn't we want the same approach for these to be consistent? From a user perspective they aren't really different. Agree that the form select is perhaps a higher priority since this is where the current implementation would be most problematic.

I think this needs visua

[2019-06-21 00:08] lizsurette commented on #1964
@lwrigh - I know you were considering something like this for when an upgrade is available/recommended. Maybe another use case?

[2019-06-21 10:34] jeff-phillips-18 commented on #1850
I wouldn't expect the focus border to draw to the left of the selection indicator (blue vertical line).

[2019-06-21 11:54] lwrigh commented on #1964
@lizsurette I brought that case up when we were talking about it in the weekly PF sync meeting since I attended this week. I'm hoping other products might have similar use cases for upgrading and there being security risks or something similar.

[2019-06-21 12:06] matthewcarleton commented on #1892
Can we say for sure that the select component or the dropdown component won't get used in a form or in proximity to a form? If we can't then I agree with @mcarrano these should align.

[2019-06-21 12:11] michpetrov commented on #1850
I see, browsers draw the outline outside the borders of the element.
It can be changed but it would require shuffling the CSS classes around.
![Screenshot from 2019-06-21 13-56-00](https://user-images.githubusercontent.com/1999074/59921200-4bf07600-942d-11e9-8ca6-dd0140248246.png)
However this would also make it so that the outline on the collapsed toggles would not extend all the way to the left.

[2019-06-21 13:02] mmenestr opened #1966 "Tabs Component Link"
https://www.patternfly.org/v4/documentation/core/components/tabcontent#documentation

Clicking "Tabs Component" link causes 404 error.

[2019-06-21 13:59] #1723 closed

[2019-06-21 14:10] mcoker commented on #1966
@jschuler we have links in the overview of this component (and the [tabs component](https://www.patternfly.org/v4/documentation/core/components/tabs#documentation)) that link to the component in the core workspace, so they're 404'ing on the website. We probably have links like this in other spots, too.

Have you run into this before? Curious if we should we update those in core so they're absolute

[2019-06-21 14:10] patternfly-build commented on #1723
:tada: This issue has been resolved in version 2.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-21 14:17] matthewcarleton commented on #1894
@mcoker I'm happy to do this work since I'm to blame for it in the first place :)
It makes sense to include the spacing in the wizard, I think we'd need to investigate where else we have a cancel button and maybe space it appropriately. That might be a good reason to have a per component approach rather than a canned action row. WDYT?

[2019-06-21 14:23] mcoker commented on #1894
@matthewcarleton sounds great!

[2019-06-21 14:50] mcarrano commented on #1837
I have created an initial design proposal here: https://docs.google.com/document/d/1bmsgR28EdJ1FsroTBn0crxBB4xdiGPkVGpQ__yaWeG4/edit?usp=sharing  Comments welcome.

[2019-06-21 15:21] jschuler opened #1967 "font awesome icons should not require html as parent"
https://github.com/patternfly/patternfly-next/blob/b2e003d3bd332fa458501eab41a4dba395627f23/src/patternfly/_fa-icons.scss#L32

This won't work in shadow dom. Any reason it has to be
`html .fa-info-circle:before` instead of just `.fa-info-circle:before`?

[2019-06-21 15:27] jschuler commented on #1967
Actually i can wrap shadow dom content in `html` tag then it works. that is fine

[2019-06-21 15:27] #1967 closed

[2019-06-21 17:20] dlabrecq opened #1968 "chart axis: missing tick size var"
I believe we missed the tick size for the chart axis?

FYI, the theme below is applied only if we are showing grid and axis ticks for a given axis.

<img width="400" alt="Screen Shot 2019-06-21 at 1 12 33 PM" src="https://user-images.githubusercontent.com/17481322/59939819-003ace00-9427-11e9-82b5-a569958c9f16.png">

[2019-06-21 17:27] rachael-phillips commented on #1825
@christiemolloy @mcoker what priority would you give this issue?

[2019-06-21 17:50] mcoker commented on #1825
AFAIK, no one has asked for it and it isn't breaking anything, so it isn't a P1. Though I'd love to see it in sooner rather than later, and I imagine it's a change users would like to see, too. Maybe a P2 or P3? That said, I wonder if this would be a breaking change since some modal headers may be truncating currently, and this would change the layout/height of their modals.

[2019-06-21 17:55] mcoker commented on #1969
We have https://github.com/patternfly/patternfly-next/issues/1599 with the original discussion around changing this. I don't think we should make that change until a breaking change period since changing the alignment would just shift the buttons to the left, and they would be out of order with the primary action to the right of the secondary.

@rachael-phillips @mcarrano can we add the breaking c

[2019-06-21 17:56] mcarrano commented on #1969
There is already an open issue for this here: https://github.com/patternfly/patternfly-next/issues/1599 Suggest that we close this as a duplicate.

[2019-06-21 17:58] mcarrano commented on #1969
Yes, that was the plan @mcoker . I've added the breaking change label.

[2019-06-21 18:15] #1891 closed

[2019-06-21 18:18] mcarrano commented on #1552
What are the next steps here then @lboehling @jgiardino ? I agree that we should evaluate the module icon at actual size. Are there alternatives we could explore?

[2019-06-21 18:23] ajacobs21e opened #1970 "Stepper visual design update"
Proposed visual design update for a stepper.

The existing Wizard and in-progress Progressive Form designs both have a progress indicator / stepper that uses circle icons to show the state of each step. This proposal from Krystal Moore & @kybaker reduces the number of colors used for the states:

![image (1)](https://user-images.githubusercontent.com/6415742/59943265-cae6ae00-942f-11e9-8083-ff1af8

[2019-06-21 18:24] mcarrano commented on #1533
I actually like option 3 @lboehling . What do others think? Is this something you can bounce off of others on the product team @bmignano to see if it's acceptable?

[2019-06-21 18:27] christiemolloy opened #1971 "change var in options menu"
In #1973 we added a disabled variation that changes the background color of the toggle. For consistency lets change this var to be BackgroundColor instead of Background.

At the breaking change period change this to use BackgroundColor instead of Background: `--pf-c-options-menu__toggle--Background: transparent;`

[2019-06-21 18:39] jschuler opened #1972 "AppLauncher - add support for modifiers top and align right and disabled (at both the item level and whole toggle button level)"
AppLauncher should support similar modifiers to dropdown so that the menu can be right-aligned or the direction flipped up

Also consumer should be able to add `pf-m-disabled` at the button toggle as well as the menu item level

https://github.com/patternfly/patternfly-react/issues/2322

[2019-06-21 18:39] mcarrano commented on #404
I think that we have a good conceptual approach on this. I am going to kick it back to the backlog and tag for Visuals as I think that is the next step.

[2019-06-21 18:40] mcarrano commented on #295
I think that we have a good conceptual approach on this. I am going to kick it back to the backlog and tag for Visuals as I think that is the next step.

[2019-06-21 18:40] lboehling commented on #1552
@mcarrano @jgiardino here are some alternate icons that are more aligned with the look/sizing of the fa-cube and fa-cubes icons. I also adjusted the sizing so you can see them all at the same size.

<img width="423" alt="Screen Shot 2019-06-20 at 1 54 19 PM" src="https://user-images.githubusercontent.com/46571616/59944326-75f86700-9432-11e9-92e0-02e0bf73c930.png">

[2019-06-21 18:42] mcarrano commented on #865
Going to kick this back to the design backlog for visual design attention as next step.

[2019-06-21 18:43] mcarrano commented on #1970
@mcoker if we were to update the Wizard with this styling, would that be a breaking change?

[2019-06-21 19:56] mcoker commented on #1970
@mcarrano I think it would be since introducing an icon wouldn't really work with the way we draw the step circle/number currently, so we would likely want to refactor that part of the wizard.

[2019-06-23 11:49] yfrimanm commented on #1961
![image](https://user-images.githubusercontent.com/44577420/59975879-074c1280-95c6-11e9-8b9e-166ef664f07e.png)

[2019-06-24 13:11] rachael-phillips commented on #1971
Hi @christiemolloy what is the importance or urgency of making this change? Is this something we would want to bring in in our August breaking change release? cc @mcoker

[2019-06-24 13:12] rachael-phillips commented on #1970
@mcarrano have you discussed next steps here at all?

[2019-06-24 13:13] rachael-phillips commented on #1969
I am closing this issue as it is a duplicate

[2019-06-24 13:13] #1969 closed

[2019-06-24 14:09] mcarrano commented on #1970
@rachael-phillips we should take this up in the context of the work to implement the Progressive Form.

[2019-06-24 14:20] matthewcarleton opened #1976 "Update content component to accept inline notification"
Currently when an inline notification gets dropped into the content component it's `h4` inherits margin from the content component.
The content component styles should be more strict to not impact component styles.

[2019-06-24 15:14] rachael-phillips commented on #1929
@mcarrano @mceledonia ping :)

[2019-06-24 15:18] rachael-phillips commented on #483
@dgutride do you have an opinion on next steps here? cc @mcoker

[2019-06-24 15:19] mcarrano opened #1977 "Dark Theme"
Collect issues related to modifying components to work in dark mode/theme.

[2019-06-24 15:35] mcarrano commented on #1970
I've moved this over to the CSS/HTML backlog. @rachael-phillips @LHinson we should queue this up as a change to Wizard for the breaking change release.

@mcoker should we consider breaking the Stepper out into it's own component as it will be used for both Wizard and Progressive Form?

[2019-06-24 15:41] rachael-phillips commented on #1825
Thanks @mcoker @christiemolloy is there anyway to accomplish this without a breaking change?

[2019-06-24 15:48] gregsheremeta commented on #1976
cc @gregsheremeta

[2019-06-24 17:06] ryelo commented on #1929
Yeah, this is weird because the breakpoint that is defined currently doesn't account for a navigation/sidebar.

I'm not sure how many users will be collapsing the navigation, so maybe we could use a temporary solution to just increase that breakpoint to a higher px value for the time being?

[2019-06-24 17:33] mcarrano commented on #1929
@rachael-phillips I'm not aware of how the current breakpoint was determined, but can see the problem. @kybaker and @mcoker are probably the best people to consult with on this.

[2019-06-24 18:19] jgiardino commented on #1552
Thanks for working on these variations, @lboehling!

I included a few random thoughts below, but I'd love to hear what others on the team think.

I like options 1 and 2 the best. It's hard for me to judge if the lines are better in one or the other. It seems to be easier to discern what the 3 dimensional shape is when the shadow is present, but the shadowing is flipped to the right side versus the

[2019-06-24 18:32] katierik commented on #1879
This is aimed for the cloud.redhat.com Oct release.

[2019-06-24 18:34] lboehling commented on #1933
@mceledonia @ajacobs21e found another inconsistency while working on progress bars: icons are 16px on https://pf4.patternfly.org/components/Progress/examples/. Updating to 18px in sketch library.
![Screen Shot 2019-06-24 at 2 32 22 PM](https://user-images.githubusercontent.com/46571616/60043045-2661a780-968d-11e9-9678-37a0a43a48a6.png)

[2019-06-24 18:40] katierik commented on #1878
Open as per the discussion at the last pattern meeting about keeping the #1089 and this separate.

Here are designs for *selection only*
https://marvelapp.com/i50gj84

[2019-06-24 20:38] rachael-phillips commented on #1878
Thank you!

[2019-06-24 20:51] mcarrano commented on #1181
@lwrigh @mceledonia and I met today to discuss a request to aggregate repeat notifications as well. While this is good in theory, we determined that it would be difficult to implement in the front end (what criteria determines if a notification is a duplicate?). We will therefore keep this issue focused on managing the alert group overflow as currently designed.

Next steps -

@lwrigh will write u

[2019-06-24 23:05] tiffanynolan commented on #1964
I would be interested in this for the upgrade available use case as well. For Integreatly as part of the update being available, we could additionally have the option for someone to "schedule" the update since this is for a managed service or to see that the update is already scheduled.

[2019-06-25 12:48] lwrigh commented on #1964
There could also be the option to automatically do updates when they become available.

[2019-06-25 13:59] mattnolting opened #1979 "Update flex layout"
relates to: #1984

The flex layout can be used to very simply `display: flex` and add simple spacing. This should be achievable without having to import all of the extra features. Let's look at a way to accomplish a lightweight base stylesheet and a modifier stylesheet that can be imported for more complex layouts.

[2019-06-25 15:52] tlabaj opened #1980 "PF4 Expandable: button is missing type attribute"
The Expandable component button is missing the type attribute.  React has a related issue [#2339](https://github.com/patternfly/patternfly-react/issues/2339)

[2019-06-25 18:58] mceledonia commented on #1181
@mcarrano @lwrigh Re: Visuals

I think we can bring the "view more" button down in size a bit, let's try making it the same size as our buttons? Not sure if it would work better full width or just text-width, so try both. I think it makes sense being a different size than the alerts as it is less of an alert entry and more of an indication/action of multiple alerts.

To get that spacing: Draw a 24

[2019-06-25 20:03] lwrigh commented on #1181
@mceledonia Those suggestions sound good to me. Do you want me to make those updates to it or would I hand it off to you at this point in the process?

@mcarrano I added behavior notes to this doc and tried to cover some of the categories that are featured in the PF website documentation. Let me know what you think. https://docs.google.com/document/d/1sW3b6wJNDCeZaxNQv895APoqZROz6BPRyBNj2D4Rmco/ed

[2019-06-25 20:40] jessiehuff opened #1981 "Missing gutter modifiers for stack and split layouts"
Add classes for small/large gutter sizes.

[2019-06-26 13:03] mmenestr commented on #1933
@mceledonia Carets for dropdowns are 16px, but i've been doing them with 10px - thoughts?

Web Example:
<img width="422" alt="Screen Shot 2019-06-26 at 8 59 22 AM" src="https://user-images.githubusercontent.com/51165119/60181857-211d6d80-97f1-11e9-9116-6ae68c2e49ee.png">

Mine:
<img width="271" alt="Screen Shot 2019-06-26 at 9 03 17 AM" src="https://user-images.githubusercontent.com/51165119/60181

[2019-06-26 13:17] mmenestr commented on #1933
@mceledonia overflow arrows - seems similar to breadcrumbs situation, they are around 16px on inspect, but i've made them 10px - thoughts?

Example:
<img width="761" alt="Screen Shot 2019-06-26 at 9 07 51 AM" src="https://user-images.githubusercontent.com/51165119/60182893-2e3b5c00-97f3-11e9-9408-16baa0a624c2.png">

Mine:
<img width="342" alt="Screen Shot 2019-06-26 at 9 16 39 AM" src="https://use

[2019-06-26 13:33] mceledonia commented on #1933
@mmenestr I think your screenshot looks good! Are you measuring with the icon font size or the true icon size? When I change the icon font to 10px it gets super tiny, a lot smaller than what you have there. I think what you have looks good though.

[2019-06-26 13:55] christiemolloy opened #1983 "Update padding for chip group label"
@ajacobs21e pointed out that we have 12px of space between the chip group label and the chip group, which doesn't align with our spacer system. Lets update the padding-left on our chip-group label so that it is 0, and the total space between chip group label and the group is 8px.

cc: @gdoyle1 to update the symbol library.

<img width="631" alt="Screen Shot 2019-06-26 at 9 53 19 AM" src="https://u

[2019-06-26 14:04] mmenestr commented on #1933
@mceledonia not sure if you're referring to inspect or on sketch. But for inspect the font size was 16px, but the icon measurements were 8x16px (which is what I was looking at). On sketch, I just chose the icons / small / angle-left and angle-right version of the icon, so 10px sizing and that's what it looks like!

[2019-06-26 14:09] gdoyle1 commented on #1983
Thanks @christiemolloy ! Updated in symbol library

[2019-06-26 14:57] priley86 commented on #1882
Some additional notes here (and just recalling from previous discussions) that may prove relevant to the solution, some product APIs may never move towards pagination or have plans to move their backend APIs to support a paginated format (such as kubernetes APIs). This would not remove the possibility of doing client side pagination on all data present to the user, but that could lead to other per

[2019-06-26 15:06] mattnolting opened #1984 "Add `.pf-l-flex__item` wrapper to examples"
~~relates to: #1979~~

Currently, the `pf-l-flex` layout is only usable by applying selectors to react elements. In order for Pf-react to build a proper layout, we need to wrap flex items in `.pf-l-flex__item` so that properties can be passed to those items.

Also, in other react components with large stylesheets, we currently split the stylesheet into two or more partials. Doing so with the `flex

[2019-06-26 15:53] mcarrano commented on #1552
@lboehling @jgiardino and I met to discuss next steps. Lucia will create another iteration on 'package' based on Jenn's feedback. We will introduce this as a new icon called 'package' to not impact people who are already using the existing 'bundle' icon. We will therefor introduce 2 new icons, 'package' and 'module' which is defined as a group of packages.

[2019-06-26 18:11] tlabaj opened #1985 "PF4 Select: Add the ability to disable the component"
The consumer should be able to disable the Select component similar to the Dropdown.

[2019-06-26 18:20] tlabaj opened #1986 "PF4 Select: Add the ability to set the direction of the component"
The consumer would like to set the direction of the select menu (top or down) similar to the Dropdown component.

@srambach said there is already a modifier, can we also add an example to core.

[2019-06-26 18:50] tlabaj opened #1987 "PF4 Select: add example and documentation for pf-m-plain"
There is a request to have a pf-m-plain select, similar to the options menu and dropdown. Lets add an example and also add the documentation for the pf-m-plain modifier for the button is not documented in usage

[2019-06-26 18:58] mcarrano commented on #1181
This looks great @lwrigh . The only thing I can think to add is a mention that the alert group should be hidden whenever the notification drawer is open (we don't want them competing for the same space!).

[2019-06-26 19:24] mcarrano commented on #1528
Adding link to Toolbar Component System design doc for future reference: https://docs.google.com/document/d/12oxvXul8BxxjotRWSpJefyuiqcSm_gOYscEOXZXaqaI/edit?usp=sharing

[2019-06-26 22:09] rebeccaalpert opened #1991 "Alert h4 line-height issue"
We're seeing a Bootstrap-related alignment issue in PF4 in OpenShift:
<img width="452" alt="error" src="https://user-images.githubusercontent.com/7014965/60216092-256c7980-9837-11e9-8eef-7eb813651dec.png">

The icon isn't aligned with the text; we have to manually override it with `line-height: var(--pf-global--LineHeight--md)`. Anything you guys can do on your end?

[2019-06-27 12:34] lwrigh commented on #1181
@mcarrano Great thank you! Good catch and point, I added that to the behavior section in the doc.

[2019-06-27 13:30] rachael-phillips commented on #1991
@christiemolloy making you aware.

[2019-06-27 13:38] christiemolloy opened #1992 "Support Fixed Height and Pagination in Page"
Currently in the card view demo, at mobile the pagination switches to "20 items" and the cards inside the page main section scroll infinitely.

@sbuenafe-rh asked me about a paginated version of the page. @gdoyle1 had designs where there would be pagination at the top and bottom of the screen, and the main-section would have a fixed height.

@rachael-phillips do you know if theres any plan for thi

[2019-06-27 14:37] #1942 closed

[2019-06-27 14:43] ncameronbritt opened #1993 "The Lists and Tables page refers to "data table" but there is no component with that name"
I assume the documentation is referring to the [Table pattern](https://www.patternfly.org/v4/documentation/react/components/table/). The design guidelines are confusing because of this mismatch.

Also, it would be helpful if the design guidelines also linked to the appropriate components in the documentation

[2019-06-27 14:46] patternfly-build commented on #1891
:tada: This issue has been resolved in version 2.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 14:46] patternfly-build commented on #1942
:tada: This issue has been resolved in version 2.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 14:48] ncameronbritt commented on #1993
The Demos section also refers to "Data Table"

[2019-06-27 15:14] ncameronbritt opened #1994 "Missing documentation for content wrapping in tables"
I would like to see documentation somewhere around how content is handled within cells in tables. Does long content wrap by default? Does the layout switch to the stacked? It's not clear what the ootb behavior is or what options are available.

The behavior is not consistent across the [data table demos](https://www.patternfly.org/v4/documentation/core/demos/datatable). For example the simple and

[2019-06-27 15:17] srambach opened #1995 "Add A11y section of documentation on Options Menu"
The documentation for the Options Menu currently says that the A11y section will be filled in once the React implementation is complete.
https://www.patternfly.org/v4/documentation/core/components/optionsmenu#documentation

[2019-06-27 16:27] mcarrano commented on #1837
On June 26, @kybaker @mceledonia @tlabaj @rblackbu @rachael-phillips @trahman73 and I met to review the above proposal. Notes are captured in the Google doc. Next steps - @kybaker will elaborate on visual treatments of chips and chip groups with an eye towards creating a common element to be used in a variety of use cases.

[2019-06-27 18:47] rebeccaalpert opened #1996 "Increase width of Pagination input"
We had a request for allowing at least 4-digit inputs in Pagination in https://github.com/patternfly/patternfly-react/issues/2344. Right now it only accommodates two digits.

[2019-06-27 18:48] srambach opened #1997 "Add example for page section main nav type variant"
Page section has a nav variant but it is not demonstrated in any of the examples.

Once done, this example should also be added to PF-React

[2019-06-27 19:06] maryshak1996 commented on #1832
@mcarrano I wanted to ping this issue again, as I talked to @dlabaj about this a bit more today. I wanted to more specifically indicate the states of the masthead icons:
- DEFAULT: global-background-300
- HOVER: white
- OPENED: 36x36px black-800 circle appears behind icon (this is for ALL masthead icons, including notification bell)
I've updated the notification drawer docs as well as the docs for

[2019-06-27 19:12] christiemolloy opened #1998 "Focus state for icons in masthead (notification badge)"
from @maryshak1996:

@mcarrano I wanted to ping this issue again, as I talked to @dlabaj about this a bit more today. I wanted to more specifically indicate the states of the masthead icons:
- DEFAULT: global-background-300
- HOVER: white
- OPENED: 36x36px black-800 circle appears behind icon (this is for ALL masthead icons, including notification bell)
I've updated the notification drawer docs as

[2019-06-27 19:18] matthewcarleton opened #1999 "modal action spacing"
This is related to #1894

Currently the spacing for actions in the modal are pretty tight
<img width="606" alt="Screen Shot 2019-06-27 at 9 37 43 AM" src="https://user-images.githubusercontent.com/287880/60266847-4bd5f780-98bf-11e9-8752-60a8776ab947.png">
You can see the margin(orange) is pretty narrow so this could result in an accidental click. This poses some accessibility concerns IMO.

It cou

[2019-06-27 19:37] rebeccaalpert opened #2000 "Ellipses in Pagination input on overflow"
Hey - PatternFly React received a bug report (https://github.com/patternfly/patternfly-react/issues/2374) about ellipses in the Pagination input. I was able to recreate it on my Mac by typing in 22 and removing focus from the input. It looked related to a text-overflow: ellipsis style. Can you guys work on a fix?

[2019-06-27 19:40] #1946 closed

[2019-06-27 19:48] patternfly-build commented on #1946
:tada: This issue has been resolved in version 2.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 19:50] #1980 closed

[2019-06-27 19:59] patternfly-build commented on #1980
:tada: This issue has been resolved in version 2.15.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 20:07] jenny-s51 commented on #1900
@nicolethoen Hello! I see you were assigned this issue -- I've been assigned [essentially the same one](https://github.com/patternfly/patternfly-react/issues/2285) in react. @jschuler mentioned that I can continue with it when the context selector functionality is implemented here. Let me know if there's anything I can do to help.

[2019-06-27 20:49] #1920 closed

[2019-06-27 20:58] patternfly-build commented on #1920
:tada: This issue has been resolved in version 2.15.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.15.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 21:06] lboehling commented on #1552
Here are the new iterations for "package" and "module."
<img width="485" alt="Screen Shot 2019-06-27 at 5 03 42 PM" src="https://user-images.githubusercontent.com/46571616/60300812-c9b8f380-98fd-11e9-80d6-978022a9f0c3.png">
[package-module-icons.zip](https://github.com/patternfly/patternfly-next/files/3336620/package-module-icons.zip)

[2019-06-27 22:11] #1913 closed

[2019-06-27 22:20] patternfly-build commented on #1913
:tada: This issue has been resolved in version 2.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-28 12:29] rachael-phillips commented on #1994
Thanks for posting this @ncameronbritt! Making you aware @mcarrano @christiemolloy

[2019-06-28 12:29] rachael-phillips commented on #1994
@ncameronbritt do you have a timeline around when you will need this information by?

[2019-06-28 13:03] rachael-phillips commented on #1992
Hi @christiemolloy would this just be an example we include in the card view demo?

[2019-06-28 13:09] christiemolloy commented on #1992
We would probably have to add a modifier to the page section so that it scrolls, and then update the toolbar and pagination component too.

@gdoyle1 do you want to add your design here?

[2019-06-28 13:39] gdoyle1 commented on #1992
@christiemolloy @rachael-phillips This is what I was thinking (first two wireframes) that would allow for sticky bottom pagination and scrolling in content view. https://marvelapp.com/928ei6b

[2019-06-28 14:12] #1962 closed

[2019-06-28 14:22] patternfly-build commented on #1962
:tada: This issue has been resolved in version 2.17.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-28 14:54] mcarrano commented on #1994
I'm not sure that I can explain the difference between the two examples. Perhaps @christiemolloy can shed some light on that?  But in answer to your question, @ncameronbritt , yes long content in a cell should wrap unless there is code added to do otherwise. Is that what you want to happen? The stacking has nothing to do with cell content but is rather based on crossing a breakpoint as you shrink

[2019-06-28 16:06] mcarrano commented on #1533
In response to email from @bmignano on June 27:

It does become hard to capture every nuance of meaning that an icon might have. If we adopt option 3, I'm hoping that users will factor in context when considering differences between 'running' when looking at Pods or Builds. That said, I agree that getting some further cross product input would be good before adopting option 3 into the icon set for

[2019-06-28 19:32] serenamarie125 commented on #1533
option 3 looks nice!  It looks similar to a heartbeat icon.  I'm not aware of any conflicts but I'm tagging a few others @beanh66  @cshinn @tlwu2013 @ncameronbritt to see if the heartbeat concept is something they have considered in cluster monitoring or UHC.

[2019-06-28 21:30] mcarrano commented on #1552
I agree. These look great. Thanks, Lucia!

[2019-06-29 15:39] matthewcarleton opened #2003 "Remove toggle for horizontal menu page demo"
To align with the [React demo](https://www.patternfly.org/v4/documentation/react/demos/pagelayout/pagelayouthorizontalnav/) we should remove the toggle.

[2019-07-01 15:45] mcarrano commented on #1552
@kybaker @mceledonia @jgiardino Please review the latest iteration of icons for Package and Module and if you approve. I will move this over to CSS for implementation. This will add these as new icons and leave Bundle unchanged. @LHinson @rachael-phillips making you aware.

[2019-07-01 15:58] mceledonia commented on #1552
These look good to me, thanks @lboehling @mcarrano

[2019-07-01 16:00] schizari commented on #1552
@jgiardino @mcarrano @lboehling looks great! please let me know if you'd like to put the latest proposal into testing alongside other variations to investigate affordance. We could easily replicate the same study that initiated this icon request.

[2019-07-01 20:32] jessiehuff commented on #1981
Gutter sizes unneeded based on patternfly/patternfly-react#1982

[2019-07-01 20:32] #1981 closed

[2019-07-01 20:32] terezanovotna opened #2007 "Loading spinner -> skeleton loading"
This is an enhancement for an existing pattern.

Pattenfly Spinner could be substituted with skeleton loading which looks much cleaner on the screen.  Or skeleton loading could be introduced as a new pattern to pick from when any information is being loaded.

![47005198-e9c3d080-d13b-11e8-96b6-78b06d9fc004](https://user-images.githubusercontent.com/36040135/47015214-acb40a00-d14c-11e8-8d1d-b5fa895

[2019-07-01 22:08] mcoker commented on #1944
@jschuler can you show an example of how that would render? Not sure I understand how you get a nested `a`, and what we need to do to support it. Curious if we need to show an example of this in the core workspace or not. Is the dropdown component currently capable of using a `div` as the menu item?

[2019-07-02 09:16] SpyTec opened #2008 "Bug: PatternFly CSS has side-effects on unrelated elements"
PatternFly has CSS that changes pure DOM elements (such as `<a>`), this affects elements outside of PatternFly and is considered an unintended side-effect. PatternFly should not be able to modify elements I do not tell it to

If I wish to add PatternFly styling to something I should be able to do so through a class. Because otherwise PatternFly breaks my website and I have to do fire-fighting to r

[2019-07-02 12:26] gdoyle1 opened #2009 "Input fields bottom-border is wrong color"
Input fields should be using the secondary text color as the bottom-border but they are currently using #8b8d8f and should be #72767b. See this page for where I'm seeing this color being used on inspect: https://pf4.patternfly.org/components/Form/examples/

@christiemolloy @mceledonia

[2019-07-02 14:04] mcoker commented on #2008
Hey Eric, in the future we do plan on making the global resets a requirement of PF4, since many of our components rely on global styles that we don't want to set in each individual component. That said, currently the stylesheet you linked can be excluded, although some PF4 components may still be missing styles found in the globals stylesheet.

Can you tell me more about how you're importing PF4 i

[2019-07-02 14:20] SpyTec commented on #2008
I see, good to see that globals can be excluded in a few ways.

Should the globals not make more sense if it was classes? That way you only need to add the class names to the various elements. Then we would not loose styling from globals if we wish to import a PF4 project.

[2019-07-02 15:39] mcoker commented on #2008
Do you mean something like...

[code]

[2019-07-02 16:26] SpyTec commented on #2008
I would say

[code]

As it's then applied to the right element

[2019-07-02 17:39] mcoker commented on #2008
I see, thanks for the example. I think a change like this would create a separate variation of PF4 that we will need to support and test, since adding a class to the base elements increases the specificity of those selectors to 11, which is higher than a single class (10) that we use to style most of our components/layouts. Since we're moving toward making the global reset styles a requirement in

[2019-07-02 20:13] kybaker commented on #1855
@mcarrano @mceledonia I made an update to the tabs. This includes changing the primary style to use the underline instead of the boxed traditional shape. This design fits much better in the header area where it most commonly appears. I also adjusted spacing to fit within our containers.

https://marvelapp.com/416e0jh

[2019-07-02 20:13] #1968 closed

[2019-07-03 02:56] dlabrecq opened #2011 "Broken chart vars"
1. `$pf-chart-axis--tick--Width` should be 5 -- can't see axis ticks with a value of 1

2. `$pf-chart-axis--grid--stroke--Color`, and `$pf-chart-axis--tick--stroke--Color` are 'transparent'. We need to define colors here in order to show axis ticks.

3. `$pf-chart-axis--grid--Fill` is 'transparent', but probably should be 'none'? Transparent seems to work, but material.js and greyscale.js both use

[2019-07-03 13:07] karelhala opened #2012 "Invalid dom nesting on checkbox select"
We have to rewrite checkbox select not to use form, because this component is not usable in forms. You can't have form inside of a form as specification says [1]

You can check it on codesandbox here https://codesandbox.io/s/pf4-select-rprpc if you open select it hrows error wih `Warning: validateDOMNesting(...): <form> cannot appear as a descendant of <form>.`

Is there any reason why the menu is

[2019-07-03 13:07] karelhala commented on #2012
ping @Hyperkid123

[2019-07-03 13:22] karelhala opened #2013 "Long texts in tooltip are truncated"
When there is long text in tooltip it is runcated and not visible. Can we add `word-break: break-all;` in there?

[2019-07-03 13:23] karelhala commented on #2013
ping @rachael-phillips

[2019-07-03 13:23] karelhala commented on #2012
ping @rachael-phillips

[2019-07-03 14:13] jschuler commented on #1944
Yes, so right now, the markup looks like this (for a section)
[code]

The content within the `.pf-c-app-launcher__menu-item-text` span should allow for an `<a>` tag to be placed there. That is because consumers in react often use a routing library (such as reach router), and when they pass the `Link` component into the container for `.pf-c-app-launcher__menu-item-text` it typically renders as an a

[2019-07-03 14:58] mcarrano commented on #180
In working on design documentation, I've identified a few minor issues that need to be clarified. Pulling this back to design to allow @maryshak1996 a chance to do another design iteration. All issues are minor and will not change the overall approach. See comments here: https://docs.google.com/document/d/1hlS0R1l7gnoe-YDu1SEHpUSrf6WMuZPejR5AwYr0a20/edit?usp=sharing

[2019-07-03 15:08] jschuler commented on #1944
Actually i think we can keep this structure and render the `<a class=".pf-c-app-launcher__menu-item">...</a>` from the passed in router Link component in react. Opened https://github.com/patternfly/patternfly-react/issues/2451 in favor of this issue. Thanks!

[2019-07-03 15:17] jschuler commented on #1972
And also for disabled item `pf-m-disabled`

[2019-07-03 15:35] christiemolloy commented on #1944
Oh that makes sense now thanks for explaining that @jschuler ..  I'm going to reopen the issue because we still need the option for the user to add a button variation for the `pf-c-app-launcher__menu-item`

[2019-07-03 15:42] mcarrano opened #2016 "Tabs demo"
Introduce a Tabs demo that will illustrate usage of different style tabs in context. This will be important as we introduce alternative tab styles per https://github.com/patternfly/patternfly-next/issues/1855. Goal would be to provide some visual examples of where and how to use different tab styling.

[2019-07-03 15:58] mcarrano commented on #1855
New tab styling looks great @kybaker .  Based on discussion today with @kybaker and @mcoker there are a few considerations we should keep in mind:

* Intent is to replace current tab styling with these new variations. Further investigation is needed to determine whether this will be a breaking change. In any case, it will be a visual change that should be vetted with stakeholders so they are not s

[2019-07-03 16:06] mcoker commented on #1786
Talked to @mcarrano and @kybaker about this and we're going to go with

* 1 width variation (450px) that can be changed via a CSS var (`--pf-c-page__drawer--Width, `--pf-c-page__drawer--md--Width`)
* The drawer always appears on top of the content
* The sidebar always appears on top of the drawer
   * opened this issue from a discussion around if the sidebar should automatically collapse on mobile

[2019-07-03 17:29] mcoker opened #2017 "Update Font awesome classes to extend * instead of html"
Originating from this bug - https://github.com/patternfly/patternfly-org/issues/1270

We need to use an extend because SASS will not let you import inside of a conditional. Let's change it so that the fa includes extend `*` instead of `html`. That will also reduce the specificity to just the fa classes.

[2019-07-03 18:28] mcoker opened #2019 "Transparent border around dropdown, select, etc menus allows content underneath to show"
From https://github.com/patternfly/patternfly-react/issues/2095

You end up with text showing through to the left of the menu

<img width="248" alt="Screen Shot 2019-07-03 at 1 27 45 PM" src="https://user-images.githubusercontent.com/35148959/60616123-6532e400-9d96-11e9-9863-3537f7ecee48.png">

[2019-07-03 19:50] sg00dwin commented on #2019
Additional examples from OpenShift console
<img width="364" alt="Screen Shot 2019-07-03 at 3 48 04 PM" src="https://user-images.githubusercontent.com/1874151/60620739-fd869400-9da9-11e9-8e55-ba7cb1d45018.png">
<img width="239" alt="Screen Shot 2019-07-03 at 3 29 51 PM" src="https://user-images.githubusercontent.com/1874151/60620747-05decf00-9daa-11e9-8f46-cd874d6c7b23.png">

[2019-07-03 19:53] lboehling commented on #1749
Got together with @mceledonia regarding default notification states for alerts. Our recommendation is to use the notification bell as the icon for alerts that have no assigned state. Currently, the notification bell is used to represent all alerts/notifications in the nav, so it’s essentially being used as a neutral alert icon already. We suggest the default color be teal/dark teal, per Michael’s

[2019-07-03 21:07] mcoker opened #2021 "Create action list component"
**Updated design:** https://docs.google.com/presentation/d/1Kh8wGM27X5shhSyVpZbgjV3uidpOmlz-CLYWHhxEMEI/edit?usp=sharing

---

Let's create a layout that spaces and positions actions properly for use in the wizard, modal, and form, and anywhere you need a list of actions that would be spaced similarly.

cc @matthewcarleton @mcarrano

Can we talk about the specifics needed for this layout? Maybe so

[2019-07-03 22:25] SpyTec commented on #2008
Alright, I will do the latter of using no-reset and implementing the globals myself in a custom class. Thanks for taking the time

[2019-07-03 22:25] #2008 closed

[2019-07-04 14:41] #2011 closed

[2019-07-04 14:50] patternfly-build commented on #2011
:tada: This issue has been resolved in version 2.17.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-04 16:51] matthewcarleton commented on #2021
Thanks for creating this @mcoker
This would be a good fit for the wizard action spacing issue #1894  and the modal issue #1999
I'd assume any type of button can be used in this layout.
vertical spacing should be easy enough for wrapping actions.
The more complicated issue is the spacer modifier for link type actions.
Once wrapped we'll see the possibility of this:
<img width="357" alt="Screen Shot

[2019-07-05 12:17] rhwood opened #2022 "PatternFly or Font Awesome icons?"
The design guidelines for [Alerts and Notifications](https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/alerts-and-notifications) uses Font Awesome icons, but PatternFly has [defined analogous icons](https://www.patternfly.org/v4/design-guidelines/styles/icons).

Which should be used?

The icons in question are:
`pf-icon-info` <-> `fa-info-circle`
`pf-icon-warning-triangle` <-> `fa

[2019-07-05 12:20] rhwood commented on #1533
IEC has [standards for power state icons](https://en.wikipedia.org/wiki/Power_symbol#Standards). Although these seem to be intended more for physical power switches, perhaps those might be useful?

[2019-07-05 13:28] kybaker commented on #1533
@rhwood That is interesting approach and will definitely keep these in mind as we create PatternFly icons into the future.

@lboehling I agree with Matt and Serena here. Given the experience with some of the other designs in the past with PF3 option 3 here seems like the way to go.

[2019-07-05 18:09] spadgett commented on #1872
Hi, is this under consideration? We tried to use the primary button style on the dropdown in https://github.com/openshift/console/pull/1905, but it wasn't quite right. For now, we're using the default dropdown styles.

[2019-07-05 18:15] dlabrecq opened #2023 "Adjust chart axis vars"
Need to adjust a couple chart axis vars.

<img width="502" alt="Screen Shot 2019-07-05 at 2 10 55 PM" src="https://user-images.githubusercontent.com/17481322/60739131-bd9ce980-9f2e-11e9-99dc-1fc9d5d313d9.png">

1. The axis tick color is not correct. We need to use something more like '#D2D2D2'.

Change `pf-chart-axis--grid--stroke--Color` and `pf-chart-axis--tick--stroke--Color`

2. The `pf-chart-

[2019-07-05 19:55] #2023 closed

[2019-07-05 20:05] patternfly-build commented on #2023
:tada: This issue has been resolved in version 2.17.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-05 21:57] sg00dwin opened #2025 "The pf-c-switch renders awkwardly if --pf-global--FontSize--md variable is changed from 1rem"
We noticed in the OpenShift console that when changing the `--pf-global--FontSize--md` value caused  the `.pf-c-switch` to not render correctly, since it uses that value to calculat  `--pf-c-switch--Height`.

https://github.com/patternfly/patternfly-next/blob/4a2dd6b099c3b1625dd1a37992cb6f7fbb83a8e3/src/patternfly/components/Switch/switch.scss#L3

[2019-07-08 12:12] ncameronbritt commented on #1872
UHC needs something like this too.

[2019-07-08 13:20] priley86 commented on #1882
linking OpenShift [JIRA issue 1599](https://jira.coreos.com/browse/CONSOLE-1599)

Probably makes sense to reach a conclusion here first. cc: @jgiardino

[2019-07-08 18:25] tlabaj opened #2027 "Reselecting items in Horizontal Nav shifts spacing"
@mcarrano commented on [Fri Nov 30 2018](https://github.com/patternfly/patternfly-react/issues/990)

In reviewing this demo: http://patternfly-react.surge.sh/patternfly-4/demos/pagelayout/examples/page-layout-horizontal-nav/#nav-link5  I observed that when menu items are selected, there is a small movement in position/spacing of items. I think this is an artifact of the text style changing from re

[2019-07-08 18:26] tlabaj commented on #2027
This exists in  core as well.  I think it is because everything gets shifted when the text gets bolded.

[2019-07-09 14:00] christiemolloy commented on #1991
@rebeccaalpert could you use the inspector and send me a screenshot, looks like the padding is off around the h4, but I want to be sure because I can't reproduce the issue in pf4 right now. Or is there a link that you can send me?

[2019-07-09 17:29] rebeccaalpert commented on #1991
https://console-openshift-console.apps.taylordev.devcluster.openshift.com/k8s/ns/openshift-service-ca/pods/apiservice-cabundle-injector-85c86c779-dqbdb/environment

It has an expired certificate, so Chrome will complain at you. I'm sending you the login credentials via Slack.

You need to uncheck .co-alert h4 on .pf-c-alert__title (that's our workaround for now) to see it. It seemed related to Boo

[2019-07-09 18:25] christiemolloy opened #2029 "Buttons in the Data List component"
I was reviewing the data list component....
@mcarrano is it true that the recent addition of the `pf-hidden-visible-{breakpoints}` means that buttons should collapse to a kebab before they stack. That's how it looks, at 992px (lg breakpoint) width that looks like this, but it seems unintentional i think because of the min-max issue we've seen before:

<img width="723" alt="Screen Shot 2019-07-09 a

[2019-07-09 18:40] christiemolloy commented on #2029
closing this issue in favor of: #2021

[2019-07-09 21:07] christiemolloy commented on #1991
@rebeccaalpert I checked out the openshift link, thanks for linking that to me.
The issue thats occuring is that the bootstrap scaffolding.scss file targets h1-h6 and assigns them a line-height of 1.1 which is overriding the line-height that we set in patternfly's fonts.scss file, so there is nothing we can do on patternfly's end. This is a specificity problem and until the team gets rid of the de

[2019-07-10 13:07] #1950 closed

[2019-07-10 14:22] christiemolloy commented on #2013
@karelhala are you referring to the Modalbox, because the title in there truncates and theres an issue I created for it #1825 (we can make it a higher priority), otherwise can you send me a screenshot of the tooltip text truncated?

[2019-07-10 14:53] karelhala commented on #2013
I am refering to tooltip overflow text if there are really long words (for instance URLs) background is red on purpose so you can see it.
![Screenshot from 2019-07-10 16-53-11](https://user-images.githubusercontent.com/3439771/60979574-3c30c700-a333-11e9-8335-e4831f3f4d78.png)

[2019-07-10 14:56] christiemolloy commented on #2013
Ah ok thank you! I'll start working on this!

[2019-07-10 15:20] mcoker opened #2034 "Use break-word instead of break-all in about modal"
We're using `word-break: break-all;` here, which will break a word unnecessarily. Let's use `break-word` instead.

<img width="909" alt="Screen Shot 2019-07-10 at 10 19 07 AM" src="https://user-images.githubusercontent.com/35148959/60981585-3ec3fa00-a2fc-11e9-8c5b-aeff3a4a5f85.png">

[2019-07-10 19:38] dlabrecq opened #2037 "Chart tooltip vars"
Discovered that the tooltip colors are incorrect. Both the background and text are black, which makes tooltip text impossible to see.

The following vars should be 151515
pf-chart-voronoi--flyout--stroke--Fill
pf-chart-tooltip--flyoutStyle--Fill

The following var should be D2D2D2
pf-chart-axis--axis--stroke--Color

Need new vars for:
pf-chart-tooltip--Fill > EDEDED
pf-chart-voronoi--labels--Fill

[2019-07-10 20:35] ncameronbritt commented on #1993
https://github.com/patternfly/patternfly-org/pull/1280 addresses the first part of this issue. However' "data tables" is still used [here](https://www.patternfly.org/v4/documentation/core/demos/datatable) and as the secondary nav item under Demos.

[2019-07-10 21:10] #2037 closed

[2019-07-10 21:10] #2034 closed

[2019-07-10 21:11] #2017 closed

[2019-07-10 21:11] #2003 closed

[2019-07-10 21:12] #2013 closed

[2019-07-10 21:21] patternfly-build commented on #2037
:tada: This issue has been resolved in version 2.17.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-10 21:21] patternfly-build commented on #2013
:tada: This issue has been resolved in version 2.17.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-10 21:21] patternfly-build commented on #2017
:tada: This issue has been resolved in version 2.17.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-10 21:21] patternfly-build commented on #2034
:tada: This issue has been resolved in version 2.17.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-10 21:21] patternfly-build commented on #2003
:tada: This issue has been resolved in version 2.17.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-10 21:21] patternfly-build commented on #1950
:tada: This issue has been resolved in version 2.17.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.17.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-11 12:38] dgutride opened #2039 "Review dependencies and update to Node 10"
We need to perform a dependency audit, move to Node 10 since Node 8 lts ends in December, 2019.
https://github.com/nodejs/Release

Gulp should probably also be migrated to v4 at the same time since there are problems with Gulp 3 on Node 10.

[2019-07-11 14:04] christiemolloy opened #2040 "Remove margins from page header tools"
cc: @mattnolting I don't think these vars are necessary in the page header tools anymore, because when removing them they don't affect layout:

[code]

[2019-07-11 14:06] christiemolloy opened #2041 "New component for group of actions that get condensed"
cc: @mattnolting @mcoker

Can we create a component for a group of actions that condensed down into a dropdown with a menu, as a specific, functional component?

Looks like its used in the page, card, table, toolbar etc. component

[2019-07-11 17:21] jenny-s51 opened #2042 "Options menu checkbox can be deselected"
In reference to this issue: https://github.com/patternfly/patternfly-react/issues/2415

[2019-07-11 18:38] maryshak1996 commented on #180
@mcarrano @dlabaj I made some updates based on matt's thoughts and update my spec, marvel link, and sketch cloud link to reflect that.
@mcarrano I haven't looked at options for error validation yet, but I will do that soon and update here.
Marvel (design basics) : https://marvelapp.com/41ih97c
Marvel (full page mocks) : https://marvelapp.com/4c4ieii
Sketch : https://sketch.cloud/s/rw5vG
Updated sp

[2019-07-11 18:40] mattnolting opened #2044 "Revisit form layout"
Currently, spacing between the login form header and body is created by a hidden error message. I think we need to revisit this approach because it's pretty fragile and relies on developers to limit text, etc. Also, other forms are going to require several different validation messages and this isn't reusable/scalable.

[2019-07-11 19:17] mcoker commented on #2044
cc @matthewcarleton @mcarrano I believe this work was originally implemented in https://github.com/patternfly/patternfly-next/issues/1063

[2019-07-11 19:51] priley86 opened #2045 "Table grid responsive heading css"
Seeing this today after experimenting again w/ the vanilla responsive table... thanks @mcoker for helping resolve... we should possibly remove that `width` specifier?
![detail-table](https://user-images.githubusercontent.com/4237045/61080731-b6c11b80-a3f3-11e9-9a0c-41f9589eddaf.gif)

[2019-07-11 20:07] mcoker commented on #2045
Looks like this is due to improperly scoped expandable table styles...

https://github.com/patternfly/patternfly-next/blob/master/src/patternfly/components/Table/table.scss#L221-L240

[2019-07-11 20:54] tlabaj opened #2046 "The Wizard is another implementation of Modal"
The following issue was submitted to the react repo [#2114](https://github.com/patternfly/patternfly-react/issues/2114)  It needs to be investigated by core first.

[2019-07-12 12:44] matthewcarleton commented on #2044
I agree with everything you are saying @mattnolting
From what I recall this was a difficult decision and came with some issues. Happy to be part of the discussion to push this along.

[2019-07-12 13:29] ncameronbritt commented on #1993
@gdoyle1 is going to fix the demos section. Closing this issue.

[2019-07-12 13:29] #1993 closed

[2019-07-12 14:42] markcaron opened #2047 "Possible ModalBox Accessibility Improvements"
I'm curious to the DOM order of the close button in the ModalBox, and I was hoping this could be a discussion so we could arrive at the best possible modal experience.

Currently, the close button is the very first element in the Dialog Box DOM which makes for a slightly weird experience in VoiceOver—after the modal opens and reads the aria-label on the `dialog` it focuses immediately on the close

[2019-07-12 15:03] christiemolloy opened #2048 "Support column headers that wrap"
Update: this issue should show an example of the table headers wrapping.

cc: @mcoker  @mcarrano

[2019-07-12 15:11] mcoker commented on #2048
@christiemolloy it is in the table component's documentation:

[2019-07-12 15:16] christiemolloy commented on #2048
Ah i see it now, I guess my question is should we show an example of them wrapping, so its more clear that we support it @mcoker

[2019-07-12 15:28] mcoker commented on #2048
Hmmm, I'm not sure if that needs it's own example, but maybe we could add an example (or a couple/few) in the existing examples of a `<th>` that has a lot of text and wraps?

[2019-07-12 15:37] christiemolloy commented on #2048
Yeah I think that would be helpful

[2019-07-12 16:57] #1524 closed

[2019-07-12 17:05] patternfly-build commented on #1524
:tada: This issue has been resolved in version 2.18.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-12 17:17] KendraMar commented on #2048
@mcoker So we're saying that whether to truncate and/or wrap is up to the component consumer? We (UX) don't offer guidance on the max width on a column header title?

[2019-07-12 17:32] KendraMar commented on #2048
@mcoker I missed the wrap explanation on the Design and Overview tabs...is it only on the code tab?

Also, when I go to the code tab/react example, I'm not able to resize the columns to see how the table headers behave...am I supposed to be able to?

[2019-07-12 17:41] mcoker commented on #2048
@KendraMar according to the documentation, I think so, but I agree that this is unclear. Also worth noting that @ncameronbritt opened a similar issue - https://github.com/patternfly/patternfly-next/issues/1994 I'll defer to @mcarrano as to whether we have a recommendation we can add to the table design or component documentation, or if it's up to the consumer to use as they see fit.

Re: the wrap

[2019-07-12 18:08] KendraMar commented on #2048
Thanks, @mcoker !

[2019-07-15 13:12] jenny-s51 commented on #2042
Closing via https://github.com/patternfly/patternfly-react/pull/2513

[2019-07-15 13:12] #2042 closed

[2019-07-15 13:14] christiemolloy commented on #1991
closing this issue because there is nothing to do on patternfly's end

[2019-07-15 13:14] #1991 closed

[2019-07-15 13:37] #1944 closed

[2019-07-15 13:46] patternfly-build commented on #1944
:tada: This issue has been resolved in version 2.19.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-15 13:51] #1963 closed

[2019-07-15 14:00] patternfly-build commented on #1963
:tada: This issue has been resolved in version 2.20.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.20.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-15 14:02] mcarrano commented on #2048
@KendraMar do you think this is something we should have a specific design guideline about? What do you propose? I'd be fine to add something to the design documentation, but not sure what I'd say. In general I feel that column headings should be short so I would not encourage wrapping except as a special case.

[2019-07-15 14:11] mcarrano commented on #2044
I know that this is a very controversial topic and the current approach was arrived at following multiple design iterations. We were getting lots of push back from certain product teams that complained about the way the login form would accordion when errors were reported so this was a compromise. Unless we have specific product feedback that says this is a problem, I'd like to not revisit this.

[2019-07-15 15:18] #1814 closed

[2019-07-15 15:35] #1847 closed

[2019-07-15 15:45] patternfly-build commented on #1814
:tada: This issue has been resolved in version 2.20.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-15 15:45] patternfly-build commented on #1847
:tada: This issue has been resolved in version 2.20.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-15 15:50] mcarrano commented on #2021
Sounds good. I will add this to the design backlog. @LHinson @rachael-phillips FYI

[2019-07-15 16:52] spadgett commented on #2045
cc @rhamilto

[2019-07-15 18:15] mcarrano commented on #2022
@kybaker @mceledonia Can one of you take a look at this and let me know which are the correct icons to use in alerts? If the documentation is wrong, I will open an issue to fix that.

[2019-07-15 18:38] mcarrano opened #2052 "Improvements to Type-Ahead Select"
Based on project feedback, there are a couple of improvements/additions that are needed to the Type-Ahead Select component. These include:

* Add support for pagination, i.e. the ability to progressively disclose the contents of a long list. See https://github.com/patternfly/patternfly-react/issues/2445

* Add support for a "loading" state. See https://github.com/patternfly/patternfly-react/issues

[2019-07-15 20:13] christiemolloy opened #2054 "Remove golden ratio var"
Related to the updates made to the switch in this PR: #2049. We can now remove the global golden ratio variable at the next breaking change period, as we don't use it anymore (the var was being used to calculate the size of certain elements, one of them being a circle, and because this var has multiple decimal places, it was calculating the width of the circle to be multiple decimal points which w

[2019-07-15 20:21] christiemolloy opened #2055 "Documentation Select/Table"
The select and table components are both examples of components that have multiple .md files that are linked to the examples.

The select component repeats most of the"attributes" and "applied to" classes at each example, however the table doesnt (each new step just adds the classes that haven't been seen before).

We should be consistent, what do people think? cc: @mcoker @mattnolting @matthewcar

[2019-07-16 12:49] priley86 commented on #2045
Closing, this ended up being an issue w/ downstream style overrides applied. Updated this in the PR notes of [2014](https://github.com/openshift/console/pull/2014).

[2019-07-16 12:49] #2045 closed

[2019-07-16 14:02] christiemolloy opened #2056 "Modal Footer Button placement"
@katierik just filed this issue in org: https://github.com/patternfly/patternfly-org/issues/1290 to adjust the button placement in the modal.

This isn't a bug as the buttons exist on the right in Core, however I do remember discussion about the button placement. @mcarrano and @mcoker what do you think about moving the buttons to the left I don't think it will be a breaking change..?

[2019-07-16 14:07] Rohoover opened #2057 "PF4 website documentation clarification on Inline Alerts"
I was reading through the Inline Alert documentation at:
https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/alerts-and-notifications#inline-alerts

And noticed the icon is specified but not the color used, or the color of the type.

[2019-07-16 14:09] mcoker commented on #2056
@christiemolloy we have this issue to move the buttons - https://github.com/patternfly/patternfly-next/issues/1599

The problem with aligning the actions to the left is that the buttons would be out of order with the primary button as the last button in the list. We could try and fix that by using `flex-direction` to reverse the order visually, but that would give us a11y issues and may or may not

[2019-07-16 14:11] #1899 closed

[2019-07-16 14:14] mcoker commented on #2057
Hey @Rohoover, this issue needs to be created in the [patternfly-org](https://github.com/patternfly/patternfly-org/issues/new) repo, would you mind closing this one and creating one there? Thanks!

[2019-07-16 14:21] patternfly-build commented on #1899
:tada: This issue has been resolved in version 2.20.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.20.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-16 15:11] #2057 closed

[2019-07-16 15:46] tqle commented on #2056
Hi, been looking at your code set and have a suggested fix. There are several ways to fix this.
`
// Solution 1. Use align-self: flex-start (left) or flex-end (right)
// or just apply another style on your footer to control the align-self to change the flex start or end direction.
// Adding another style to the footer maybe the clean way of doing it. If you ever decide to do RTL you can control th

[2019-07-16 15:50] mattnolting commented on #2055
@christiemolloy I think the first example should be the most basic example, while each example subsequent example would highlight new attributes/classes/configs. Then a "master" table of attributes/classes could be included at bottom of page (table currently lacs).

For example, the first example of `pf-c-select` documentation would include base `pf-c-select` selector and the `pf-c-select`'s core

[2019-07-16 15:51] kybaker commented on #2022
@mcarrano The icons show in the alerts are the correct ones. The icons is the PF library are legacy from PF3.  https://pf4.patternfly.org/components/Alert/examples/

[2019-07-16 15:52] mattnolting commented on #2055
Also, I think this approach is only necessary for more complex components that have many variations/configs.

[2019-07-16 16:00] mattnolting commented on #1528
Toolbar examples (should be able to support these)
https://marvelapp.com/project/4205050/
https://marvelapp.com/project/4204560/
https://marvelapp.com/project/4148169/
https://marvelapp.com/project/4100287/

[2019-07-16 17:00] matthewcarleton commented on #2055
+1 on what @mattnolting is saying. I think it's helpful to see each variation and it's corresponding attributes/classes/configs. It could also be helpful to state in each that the basic example attributes/classes/configs are required as well with a link down to the "master" table. I also agree this approach is only needed for larger more complex components.

[2019-07-16 17:14] christiemolloy commented on #2055
I think the idea of having a master list of attributes/classes will resolve a lot of the issues with people struggling to find certain classes etc. sounds good to me -- so looks like we need to update the select docs

[2019-07-16 17:16] #1987 closed

[2019-07-16 17:25] patternfly-build commented on #1987
:tada: This issue has been resolved in version 2.21.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-16 17:26] mcoker opened #2059 "Fix table demo data-label"
Regression in the table demo `data-label` attrs from #2051

[2019-07-16 17:57] #2059 closed

[2019-07-16 18:06] patternfly-build commented on #2059
:tada: This issue has been resolved in version 2.21.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-16 18:18] mcarrano commented on #1749
I like this approach @lboehling @mceledonia . Using the bell to represent notifications, in general, works for me. @matthewcarleton @cshinn @bdellasc do you think this would suit your project needs? If there are no objections, I'd like to review at this week's PF weekly sync and move ahead with this.

[2019-07-16 18:21] christiemolloy opened #2062 "Remove max-height var in nav"
In #2061 we replaced the need for a max-height value, replacing 600px with 100%. This means that we can remove the max-height var `--pf-c-nav__subnav--MaxHeight: 100%;`

[2019-07-16 18:34] lareplog opened #2064 "remove padding for chip group label"
In #2063 the padding-left was changed to 0 in order to fit with our spacer system. This means we can remove the padding-left var for chip group label.

[2019-07-16 18:53] mcarrano commented on #1552
@jgiardino do you think we benefit from further testing on this? I'm OK either way. Otherwise I think we can move forward with adding the new 'module' icon design to the library.

[2019-07-16 18:55] mcarrano commented on #1533
Thanks @kybaker Let's move this forward to implementation then.

[2019-07-16 18:56] christiemolloy commented on #1994
@ncameronbritt  sorry for the late response.

The simple table changes display from table to grid at `pf-m-grid-lg` and the sortable table changes at `pf-m-grid-md`, this is because the sortable table has more columns, therefore it must wrap earlier so that it doesnt break. This documentation is at the very bottom of this link, but if you still don't think it clarifies it properly Id be happy to u

[2019-07-16 19:05] maryshak1996 commented on #1533
@lboehling @kyle
@bmignano just sent me this and option three looks really great! just one quick comment about the scalability. I wonder if it might benefit from removing that last bump? In openshift, we'd be using this icon in very small contexts and that part looses definition a bit as I scale down, making the icon itself a little less crisp. just some food for though!

[2019-07-16 19:12] KendraMar commented on #2048
@mcarrano

is it good enough to just say that -- please avoid wrapping (and do we support 2 lines only)? Try to keep your header title to 20 chars or fewer?  Also, does this mean we'd rather they truncate a long header name instead of wrap? I guess, in general, I'd rather the component support/present the behavior we'd like to see and force the product dev to override it to do things we don't real

[2019-07-16 19:39] LHinson commented on #1767
Will not pursue at this time... only need atm are enhancements to the app launcher

[2019-07-16 19:39] #1767 closed

[2019-07-16 20:26] christiemolloy opened #2066 "Fix justify-content in the dropdown plain variation"
In #2050 we replaced `justify-content: center;` with `justify-content: space-between;` however thats causing the dropdown plain to render like this:

<img width="87" alt="Screen Shot 2019-07-16 at 4 12 04 PM" src="https://user-images.githubusercontent.com/20118816/61327211-60cee800-a7e6-11e9-90a6-2e8c02a497fc.png">

[2019-07-16 20:28] dlabrecq opened #2067 "Add individual padding vars for donut charts"
Need to create individual padding properties for donut, donut utilization, and donut threshold.

I found that changing the --pf-chart-pie--Padding value does not have the same effect on these charts as the base pie chart. If someone were to adjust padding for pie charts, the donut charts will inherit that property and may break.

Instead of using the same var for all 4 chart types, I'd like to add

[2019-07-16 21:24] #2067 closed

[2019-07-16 21:33] patternfly-build commented on #2067
:tada: This issue has been resolved in version 2.21.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-17 01:07] rhwood commented on #2022
Where is it documented in PF4 that icons in the PF library are legacy from PF3? I'm not seeing that at https://www.patternfly.org/v4/design-guidelines/styles/icons or https://pf4.patternfly.org/icons?

(I'm utilizing PatternFly, and would like to use the right icons, and had assumed, barring any statements to the contrary, that the PF4 provided icons they are the right ones.)

[2019-07-17 11:18] rachael-phillips commented on #1994
@ncameronbritt do you have a timeline around when you will need this information by?

[2019-07-17 12:18] matthewcarleton commented on #1749
@mcarrano this works for me! Really nice work @mceledonia @lboehling !

[2019-07-17 13:19] mcarrano commented on #2022
@rhwood I agree that this is a problem and we will address it. For now, you can be assured that the 'fa' icons called out in the design documentation and the Alert component examples are the correct ones. @LHinson @rachael-phillips FYI

[2019-07-17 13:50] ncameronbritt commented on #1994
Thanks @christiemolloy

So which should I be looking at?
https://pf4.patternfly.org/components/Table/examples/
or
https://www.patternfly.org/v4/documentation/react/components/table/
or
https://www.patternfly.org/v4/documentation/core/components/table

On www.patternfly, Core has that documentation; React doesn't.

[2019-07-17 14:16] mattnolting opened #2070 "Icon buttons `.pf-m-plain`, `justify-content: center`"
Icon buttons icons justify left after we merged #2050. Need to update the justification for `.pf-m-plain` buttons.

[2019-07-17 14:18] mattnolting commented on #2070
@christiemolloy is already on top of this one w/ #2066

[2019-07-17 14:18] #2070 closed

[2019-07-17 14:43] christiemolloy opened #3261 "Fix a11y issue in Documentation/Core/app-launcher"
https://www.patternfly.org/v4/documentation/core/components/applauncher

There is 1 type of a11y issue in this page:
1. Heading levels should only increase by one

Steps to reproduce the a11y errors:

1. Right click on the page and choose inspect
2. In the developer tools, choose "axe" from the top menu
3. Run the test

[2019-07-17 14:52] christiemolloy opened #3262 "Fix a11y issues in Documentation/Core/Dropdown"
https://www.patternfly.org/v4/documentation/core/components/dropdown

There is 1 type of a11y issue(the rest are covered in separate issues):

1. Heading levels should only increase by one

Steps to reproduce the a11y errors:

1. Right click on the page and choose inspect
2. In the developer tools, choose "axe" from the top menu
3. Run the test

[2019-07-17 15:02] christiemolloy opened #3263 "Fix a11y issues in Documentation/Core/Popover"
https://www.patternfly.org/v4/documentation/core/components/popover

There is 1 type of a11y issue (rest are in separate issues):
1. Heading levels should only increase by one

Steps to reproduce the a11y errors:

1. Right click on the page and choose inspect
2. In the developer tools, choose "axe" from the top menu
3. Run the test

[2019-07-17 16:15] matthewcarleton commented on #2046
+1 we also have the need for the wizard to be in-page in OpenShift so it would great if the parts of the wizard could live outside of the modal that wraps it. Being in-page may also require some additional design updates as well, not sure if that would be part of this effort or not.
FYI @rachael-phillips @LHinson

[2019-07-17 17:57] #1808 closed

[2019-07-17 18:06] johnsonm325 opened #2072 "Pagination with 0 items allows clickable next page button"
We'd like to update the pagination component so that when you have 0 items, you cannot click the next page. It causes a new render and will get caught in an infinite loading state in our app.

![image](https://user-images.githubusercontent.com/15373136/61399351-fc6e6000-a89b-11e9-9d5e-e554271e9af7.png)

[2019-07-17 18:06] patternfly-build commented on #1808
:tada: This issue has been resolved in version 2.21.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-17 18:17] #2066 closed

[2019-07-17 18:25] #2048 closed

[2019-07-17 18:31] mcoker commented on #2072
Hey @johnsonm325, there should be no changes needed in the PatternFly 4 CSS to support this. Would you mind filing an issue in the [patternfly-react repo](https://github.com/patternfly/patternfly-react), and closing this one?

https://github.com/patternfly/patternfly-react/issues/new

[2019-07-17 18:34] patternfly-build commented on #2066
:tada: This issue has been resolved in version 2.21.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-17 18:34] patternfly-build commented on #2048
:tada: This issue has been resolved in version 2.21.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-17 18:51] matthewcarleton opened #2073 "Provide In-page wizard demo"
Currently the wizard only ships in a modal. In OpenShift we have the requirement for an in page wizard.
It would be great if the wizard was broken out of the modal and was capable of being dropped into the content area of the page.
Here is a wireframe of what this could look like:
![create-vm-inline-wizard](https://user-images.githubusercontent.com/287880/61402742-24fd5680-a8aa-11e9-903d-acb6e7380

[2019-07-17 19:12] johnsonm325 commented on #2072
Yes, sorry about that. Thanks! There is already an issue for it: https://github.com/patternfly/patternfly-react/issues/1949

[2019-07-17 19:12] #2072 closed

[2019-07-17 19:22] mcarrano commented on #2073
Thanks for opening this issue @matthewcarleton . I'd like to elaborate a bit more based on our conversation. I believe that this request can be accomplished by refactoring the current modal wizard into it's component parts. These components can be used for creating either wizards or progressive forms contained in a modal or full page view. This would give us the flexibility to support a number of

[2019-07-17 20:12] mcoker opened #2074 "Can't click in select typeahead toggle"
This is a regression from https://github.com/patternfly/patternfly-next/pull/1901/files#diff-6bfeb18996271fe106490fec026eee3bL73

The form control in the typeahead select needs a stacking context so it will show on top of the absolutely positioned toggle border.

[2019-07-17 20:25] christiemolloy commented on #1769
@mcoker what do you think about adding a modifier to a td that adds the extra padding to the left or right of the cell at a certain breakpoint if its going to be the first or last child at that breakpoint. Does that seem maybe too hard to calculate for a user?

[2019-07-17 20:42] mcoker commented on #2056
Hey @tqle, thanks for the contribution! These are all valid approaches, and I appreciate the feedback.

The problem with adjusting the alignment currently has to do with introducing a breaking change into a PatternFly user's UI, meaning we want to avoid changing an existing feature that would cause a user's UI to break in some way without a corresponding change in the user's application CSS, marku

[2019-07-17 20:48] mcoker commented on #1769
Yeah, I think that's asking too much, and I doubt most people would notice the padding isn't correct to begin with so they wouldn't think anything needs to be adjusted. ideally we can figure out a way to do it so the user doesn't have to do anything.

[2019-07-17 21:06] christiemolloy commented on #1612
@mcoker could you clarify whether `role="separator"` is basically the same as an `<hr>`, i.e. should one variation be an `<hr>` without a role , e.g. in the app-launcher, and then another be `<div role="separator">` ?

[2019-07-17 23:00] mcoker commented on #1612
@christiemolloy re: the roles, that's correct, no need to specify `role="separator"` on an `<hr>` since that is it's default `role`. And `role="separator"` (https://www.w3.org/TR/wai-aria-1.1/#role_definitions) should be used on

Though I'm not 100% on what I wrote in the description. That was after talking with @jgiardino, but in the dropdown, for example, we're using `<li role="separator" />` as

[2019-07-18 13:02] rachael-phillips commented on #2022
@mcarrano is this something we can address on the website copy or do we need to take additional steps?

[2019-07-18 13:18] matthewcarleton opened #2076 "Card header height issue/question"
I'm not sure if it's intentional but when adding an item to the card head the height shifts b/c of the padding. This is an odd visual on a page with multiple cards using the card head in different ways.
Without `.pf-c-card__head > .pf-c-card__actions > .pf-c-dropdown`
<img width="893" alt="Screen Shot 2019-07-18 at 10 13 16 AM" src="https://user-images.githubusercontent.com/287880/61460274-c6d1818

[2019-07-18 13:19] rachael-phillips commented on #2052
Hi @mcarrano what priority do you think #2445 and #2444 are? Do you see these as critical enhancements?

[2019-07-18 14:04] rachael-phillips commented on #2041
@mattnolting @mcoker any thoughts here?

[2019-07-18 14:34] lucasponce opened #2077 "Filter component in PF4"
Kiali uses PF3 Filter component [1] to implement one of the main features which requires multi-dimensional + multi-value filtering.

Patternfly 4 has some design guidelines in [2] but there is not an implementation for PF4 + React.

So, that limitation prevents us to run a full migration to PF4, as we should to implement a custom filter to have same features we had in PF3.

Our expectation is if P

[2019-07-18 14:54] LHinson commented on #2052
See issue here: https://github.com/patternfly/patternfly-react/issues/2531
Assuming the evaluation goes well, this might help address these additional needs.

@rachael-phillips I'd like to prioritize getting the investigation of this component completed sooner than later.

[2019-07-18 15:05] rachael-phillips commented on #2052
Let's try to assign it out in sprint planning.

[2019-07-18 15:50] mcarrano commented on #2073
Once we perform work to remove the wizard from a modal, we should create a demo to show how it can be used within a page.

[2019-07-18 15:52] mattnolting commented on #2041
@rachael-phillips I'm including an experimental version of this as an abstracted component for #1528.

[2019-07-18 16:17] mcoker commented on #2041
@rachael-phillips yeah, this sounds good and super smart to me. @mattnolting went over the concept with @dlabaj and he's on board, too.

[2019-07-18 16:17] mcarrano commented on #278
Pulling this back to design as @kybaker does more work on refining card examples. @rachael-phillips @LHinson FYI

[2019-07-18 17:37] christiemolloy opened #2078 "Select doesn't have a separator"
Theres code in the select component that I believe isn't being used, I don't see the select having a separator element. cc: @srambach  @mcoker

[code]

Theres also a .hbs file in the component called `select-multi.hbs` but the classes inside say dropdown? I think we can also remove it.

[2019-07-18 17:40] rachael-phillips commented on #2041
Ok great! Thanks. Do you think I should create an experimental label, as well to start adding?

[2019-07-18 17:58] seanforyou23 opened #2079 "Elements with role region must be given an accessible name"
In an effort to improve our accessible experience (AX) I think we should require that users supply a proper label when using a `.pf-c-page__main-section`.

Why? These elements represent major sections of an application, "landmarks" as they are referred to by assistive technology. Here's an example of what we get out of the box. Notice `banner` and `main` are referring to the aria _role_, and not a

[2019-07-18 18:49] rachael-phillips commented on #2012
@Karelhala I've been away on pto and am just now getting back - I'm sorry for the delay! @jschuler did we build it this way because of the core implementation?

[2019-07-18 18:57] mcarrano commented on #1855
Want to also consider request to include icons in tabs as a new variant. See https://github.com/patternfly/patternfly-react/issues/2536

[2019-07-18 20:06] #1907 closed

[2019-07-18 20:16] patternfly-build commented on #1907
:tada: This issue has been resolved in version 2.21.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.21.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-18 20:18] christiemolloy commented on #2076
I would expect that if one card has a larger component in its header, then the height of the header increases. Are you suggesting to make a fixed height for the card header. so that no matter what you put in the header they're all equal?

In that third example thats a really good point I will investigate further to see if we can find a fix

[2019-07-18 22:08] mcoker commented on #2076
Agreed. If it's a common enough use case that a dropdown/button will be in some headers but not all, we could add a `min-height` to the card header that matches the height of the dropdown/button components.

[2019-07-19 00:47] tqle commented on #2056
@mccoker - Ok. I understand the issue.  The breaking change sounds like the best solution.  I guess my only question is if there is a limit on how many elements that go in the footer or what the ux guidelines for the footer content.  I'll be glad to help in any way.

[2019-07-19 14:48] mcoker commented on #2056
@tqle I think this would be a great question to post on our forum where designers can answer questions about best practices, and it will serve as a resource for other users who may have this question in the future. https://forum.patternfly.org

[2019-07-19 17:21] mcoker commented on #2029
@christiemolloy did you mean to close this?

[2019-07-19 17:41] christiemolloy commented on #2029
Nope @mcoker

[2019-07-19 18:48] christiemolloy commented on #2056
Closing this issue in favor of #1599

[2019-07-19 19:51] srambach commented on #2078
Is it just not in an example, or is it not a valid thing to do? There is a select in my product that has separators.
![image](https://user-images.githubusercontent.com/19825616/61561441-ffed1d00-aa3c-11e9-9ef5-33a24de60bcc.png)

[2019-07-19 19:58] christiemolloy commented on #2078
@mcarrano could you clarify here? If you believe the separator can be in the select component then I'm happy to add an example in. FWI I'm working on an issue to create a divider component #2080 so it can be part of the issue.

[2019-07-19 20:02] LHinson commented on #2078
@christiemolloy FYI there is an issue open to investigate [react-select component](https://github.com/patternfly/patternfly-react/issues/2531) for PatternFly. For that reason, I'd like to hold off investing in our custom component until we've determined the best path fwd.

This investigation is being prioritized by @rachael-phillips for this upcoming sprint that starts on tuesday.

[2019-07-19 20:43] mcarrano commented on #2078
@christiemolloy if we do go forward with this, I think having a separator is unusual but can be useful in certain use cases as @srambach shows. In this case the separator helps because it comes with a section heading. Does our current separator allow for that?

[2019-07-22 13:55] jgiardino commented on #2055
Ultimately this information is consumed in the patternfly website, e.g. here:
https://www.patternfly.org/v4/documentation/core/components/select/
and not in the workspace, e.g. here:
https://pf4.patternfly.org/components/Select/examples/

Currently the website only pulls in one .md file for documentation. The separate ones that are included in Table and Select aren't surfaced in the website. Befor

[2019-07-22 14:26] mattnolting commented on #1849
relates to: #2001

Let's update this during next breaking change period.

[2019-07-22 15:05] rachael-phillips commented on #1865
Work has been complete.

[2019-07-22 15:05] #1865 closed

[2019-07-22 17:01] #1786 closed

[2019-07-22 17:56] #2074 closed

[2019-07-22 17:57] #1983 closed

[2019-07-22 18:06] patternfly-build commented on #1983
:tada: This issue has been resolved in version 2.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 18:06] patternfly-build commented on #2074
:tada: This issue has been resolved in version 2.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 18:24] rhamilto commented on #2044
@mcarrano, since you're looking for specific product feedback...

The assumption that every immediate child of `.pf-c-form` will be a `.pf-c-form__group` is very short sighted.  We have numerous forms in OpenShift where we need to insert nodes (e.g., a wrapping `div`) in to a form that are not simple form label/group combos (i.e., `.pf-c-form__group`s ).  The workaround we've identified is to inse

[2019-07-22 18:58] rachael-phillips commented on #2077
Hi Lucas - we will be working on a filter demo in months to come. Would this suffice for your needs? https://github.com/patternfly/patternfly-next/issues/457

[2019-07-22 19:07] #2025 closed

[2019-07-22 19:16] patternfly-build commented on #2025
:tada: This issue has been resolved in version 2.22.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.22.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 20:00] #1972 closed

[2019-07-22 20:01] #1612 closed

[2019-07-22 20:10] patternfly-build commented on #1972
:tada: This issue has been resolved in version 2.23.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 20:10] patternfly-build commented on #1612
:tada: This issue has been resolved in version 2.23.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 20:33] mcoker commented on #1850
@jeff-phillips-18 like @michpetrov mentioned, the focus indicator is on the clickable element (`<button>`), and the button has a left border to indicate that it's expanded, which is why the focus ring goes around the blue line.

I suppose we could create the expanded indicator differently by removing the border and creating the expanded indicator using a pseudo element instead, then apply a `margi

[2019-07-22 20:45] christiemolloy opened #2082 "Give Data List Demo a header"
Related to: https://github.com/patternfly/patternfly-org/issues/1348

[2019-07-22 21:22] mcoker opened #2084 "Expandable datalist and table - align content in rows that are not expandable"
From https://github.com/patternfly/patternfly-react/issues/1392

For expandable datalists and tables, we should make sure we support and have examples for rows that are not expandable (do not have a toggle) where the content for those rows aligns with the content in the expandable rows.

[2019-07-22 22:05] mcarrano commented on #1850
I'm not bothered by it. @mceledonia do you have any concerns?

[2019-07-23 13:29] christiemolloy opened #2085 "Fix a11y issues in Core Form Demo"
Related to: https://github.com/patternfly/patternfly-org/issues/1346

These a11y issues are coming from the Core demo for Basic forms

- Checkbox inputs with the same name attribute value must be part of a group
- Headings must not be empty

[2019-07-23 13:58] christiemolloy opened #2087 "fix(a11y): Radio"
Related to: https://github.com/patternfly/patternfly-org/issues/1337

There is an issue coming from Core: "Radio inputs with the same name attribute value must be part of a group"

[2019-07-23 14:22] rachael-phillips commented on #1979
Hi @mattnolting are you still working on this? If not, I'll unassign you for the time being :)

[2019-07-23 14:59] mattnolting commented on #1979
@rachael-phillips I'm currently working on the toolbar, but will move to this right after. I'd like to keep:)

[2019-07-23 15:16] maryshak1996 commented on #180
@mcarrano @dlabaj
I looked at some error validations for the component, and tagged you guys in a few things within the prototype, so if you could take a look when you can that would be great!

[2019-07-23 15:22] christiemolloy opened #2089 "fix(divider): update the example to use li"
Not sure how I missed this, but for the li example of the divider, need to set the type from `<div>` to `<li>`

[2019-07-23 15:22] mcoker opened #2090 "Update demo main section copy"
* _"Body text should be Overpass Regular at 16px. It should have leading of 24px because of its relative line height of 1.5."_ - this is covered in design documentation. Let's just use some generic placeholder text here
* There is a `<br>` between _"leading of 24px because"_ and _"of its relative line height"_. No need for that line break. If we need to encourage folks to limit copy width, we can

[2019-07-23 16:23] maryshak1996 commented on #1831
After some discussion with @kybaker @chart @bmignano and others on the OpenShift side, I think that I have a design that fits the use case. Simple visual spec to come soon :)

**SketchCloud:** https://sketch.cloud/s/jP5QG?settings=jP5QG
**Marvel Prototype**: https://marvelapp.com/63g9616

[2019-07-23 19:24] #1707 closed

[2019-07-23 19:24] mcoker opened #2093 "Charts - add color to black color range"
We need `#ededed` in the black color range to support qualitative range bars in bullet charts.

cc @dlabrecq

[2019-07-23 20:38] christiemolloy commented on #1900
@mcarrano @maryshak1996  do you guys have designs of how the context selector should behave on mobile? Or maybe you could point me towards who originally designed the context selector/in the page

[2019-07-23 20:41] serenamarie125 commented on #1850
IMO the other examples don't seem to be outside the boundary of the element

This is a zoomed in piece of @jeff-phillips-18's image.  It feels odd to me, since the vertical line "feels" like it's left boundary, and the focus is outside the boundary:
<img width="182" alt="Screen Shot 2019-07-23 at 4 39 21 PM" src="https://user-images.githubusercontent.com/12504403/61745901-828d1980-ad68-11e9-8f56-5

[2019-07-23 21:01] mcarrano commented on #1900
@kybaker can you help here? I know we went through all of these cases very early on when we were designing the PF4 navigation system. There should be mocks that show this.

[2019-07-23 21:42] bdellasc commented on #279
@mceledonia can you please provide @srambach with the source files for the chosen spinner direction? We're assuming you have some source files used to generate the animation you posted in that last post?

She came to me asking for the old InVision links that no longer exist, but those aren't aligned with the chosen direction anyway. I checked the Google drive folder in the original story descripti

[2019-07-24 13:11] mcoker opened #2095 "Update content component so elements don't have bottom margin if they are the last child"

[2019-07-24 13:11] mcoker opened #2096 "Update content component elements' top/bottom margin for first/last children"
For example, this shouldn't have a bottom margin.

<img width="1189" alt="Screen Shot 2019-07-24 at 8 11 52 AM" src="https://user-images.githubusercontent.com/35148959/61796301-b6a91e80-adea-11e9-85a3-55e879440077.png">

And this shouldn't have a top margin

<img width="1145" alt="Screen Shot 2019-07-24 at 8 13 42 AM" src="https://user-images.githubusercontent.com/35148959/61796417-f96af680-adea-1

[2019-07-24 13:30] mcarrano commented on #1831
This looks good to me @maryshak1996 .  @mcoker can you take a look at this? Would you see defining a new component that is simply a container for form content?

[2019-07-24 13:59] katierik opened #2097 ""Label" component looks like a button - confusing"
The label component looks just like a button. This is confusing.
![Xnip2019-07-24_09-59-47](https://user-images.githubusercontent.com/23172038/61799815-c9771f80-adf9-11e9-9194-27de9f262011.jpg)

[2019-07-24 14:36] kybaker commented on #1900
@mcarrano This designs utilized the larger header and scrolling behavior which has since been changed. I think we will have to look at the behavior again given the new masthead design.

[2019-07-24 14:48] mceledonia commented on #2097
Here is a concept I was exploring with work on the topology component. I think this would work with or without icons, but this was designed to include icons. My thoughts below:
- Keeping the area of the color behind the text background allows us to avoid accessibility concerns (having to ensure contrast of text on a variety of background colors)
- Border effect gives labels a unique feel in the sy

[2019-07-24 16:44] jgiardino commented on #1850
I don't have a super strong opinion on this yet—these are just some initial thoughts. Ultimately I trust the opinion of the visual designers on this.

I pasted below @michpetrov's second example from his [comment](https://github.com/patternfly/patternfly-next/issues/1850#issuecomment-504403418) above:

![Screenshot from 2019-06-21 13-56-04](https://user-images.githubusercontent.com/1999074/5992120

[2019-07-24 17:04] seanforyou23 opened #2098 "Popover padding when there is no popover header"
When using a Popover with no header, and just the right about of text, the focus ring for the close button will overlay the text content like in the screenshot below

![screenshot-2019-06-24_09:41:41](https://user-images.githubusercontent.com/7081216/60000415-7710da80-9664-11e9-990b-9790ce60cb63.png)

This recommendation came from a relevant slack conversation

<img width="400" alt="Screen Shot 20

[2019-07-24 17:48] mcoker opened #2099 "Considerations in wizard markup"
Let's investigate the markup and see if we can get rid of `.pf-c-wizard__outer-wrap` and `.pf-c-wizard__inner-wrap`

[2019-07-24 19:49] mcoker opened #2100 "PF masthead logo is missing width attribute"
SVG isn't rendering in firefox, svg needs a width.

[2019-07-24 21:32] maryshak1996 commented on #813
@mcarrano
I have made some significant updates based on testing and further conversation internally (mostly just visual changes). Please take a look here and feel free to leave comments!
https://docs.google.com/document/d/12ez3u7AICp3hMuRk0OZCcaZMVUpEWKtv9-a7BGuBlOs/edit?usp=sharing

[2019-07-25 13:44] rhamilto opened #2102 "`.pf-c-app-launcher__group` results in dropdown item spacing that differs..."
from app launcher's without `.pf-c-app-launcher__group` or standard dropdowns.  This results in dropdowns with an inconsistent appearance, which is especially noticeable when the app launcher sits alongside other dropdowns (as it does in OpenShift console).  We've applied a workaround with https://github.com/openshift/console/pull/2170.

App launcher without `.pf-c-app-launcher__group`
![Screen Sh

[2019-07-25 14:08] jgiardino opened #2103 "SkipToContent updates needed based on updates in react"
Updates were recently included in https://github.com/patternfly/patternfly-react/pull/2519 by @seanforyou23 for the SkipToContent link works, regarding how the target is defined (i.e. targeting the `main` region instead of an anchor link).

This issue is to include these same updates in core as well. Specifically:
- Update the documentation for the SkipToContent link regarding how the target is de

[2019-07-25 14:09] jgiardino commented on #2103
I marked this as P1 because it's out of alignment with react (at least once patternfly/patternfly-react#2519 is merged)

[2019-07-25 14:15] jgiardino commented on #2103
🤦‍♀ https://github.com/patternfly/patternfly-next/pull/2058

[2019-07-25 14:15] #2103 closed

[2019-07-25 15:05] mcoker commented on #2102
+ @kybaker this mimics the groups in the Dropdown component where, the first group in the menu has a top padding of `--pf-global--spacer--sm`, and any group that comes after that has a top padding of `--pf-global--spacer--md`.

It's also worth noting that the Select component doesn't define a top padding for the first group, but subsequent groups have a top padding of `--pf-global--spacer--sm`

Sh

[2019-07-25 15:34] mcoker opened #2105 "Update card and alert demo page ID"
These demos use the page demo ID's. They should be unique to the demo they apply to.

[2019-07-25 17:56] mcarrano commented on #813
This is looking good @maryshak1996 I think it addresses some of the earlier questions that we had. I did leave a few comments/questions in the Marvel prototype. @rblackbu can you also take a look?

[2019-07-25 17:59] nicolethoen commented on #1900
@kybaker @mcarrano @christiemolloy
I have made a lot of progress with this story so far, but believe it is blocked until I have the mobile mockups.

[2019-07-25 20:47] mcarrano commented on #1900
I will set up some time for us to discuss.

[2019-07-25 21:05] seanforyou23 opened #2108 "DataList customizable breakpoints"
Currently, DataList has static breakpoints defined. Like many apps, we have a need over in Syndesis to be able to customize these breakpoints to account for various sized content at various viewport dimensions so that we can optimize the layout and take full advantage of the available space. Can we add this as a feature?

[2019-07-26 14:53] mcarrano commented on #1900
Met today with @christiemolloy @mcoker @nicolethoen and @kybaker to discuss next steps. Looks like this needs to be pulled back to design to consider what the mobile header should look like when a context selector is present.

I have renamed the issue and changed from a bug to an enhancement as this case was never fully implemented as a demo before. @LHinson @rachael-phillips we should consider wh

[2019-07-26 15:00] #438 closed

[2019-07-26 15:07] mcarrano commented on #294
This need was raised during the PF Weekly meeting on July 25. A Google doc has been started here to capture requirements: https://docs.google.com/document/d/1AKodtar3NEJ0GEJDWwFsOfoR0c9x8XBnGa9UAF5byNI/edit?usp=sharing

[2019-07-26 15:35] mcarrano opened #2110 "Compact pagination variant"
In exploring Toolbar usage with product teams, it becomes clear that a compact pagination solution is needed when a pagination control needs to be placed in a toolbar above a list or table, The current Pagination component takes too much horizontal space making it difficult to fit all elements on a single line even at typical laptop viewport widths of 1440px. This problem is well illustrated throu

[2019-07-26 15:48] mcarrano commented on #180
I'd like to be able to finalize this design. @dlabaj  can you just take a look at the latest mocks and let us know if you think these work? After that I think we should make one more rev to the mocks and can hand off to CSS.

[2019-07-26 22:00] jgiardino commented on #1552
I chatted with @schizari this week about whether we need to do additional testing. We decided that we should move forward with the icon designs that @lboehling provided, on the assumption that any feedback we get wouldn't result in major changes to the design. But if we ever do have a research activity in the future related to icons in PF, we would like to include these icons as part of that study

[2019-07-29 13:57] rachael-phillips commented on #2108
Hi @seanforyou23 what is your timeline like for when you will need this?

[2019-07-29 14:11] rachael-phillips commented on #1552
Thanks for the update, @jgiardino !

[2019-07-29 15:26] rachael-phillips commented on #2110
Hi @mcarrano I will add this to our component status spreadsheet

[2019-07-29 15:32] kybaker commented on #2102
@mcoker Yeah we should revisit. It doesn't make sense why it wouldn't be the same in both the select and dropdown here. The only reason I could think of is to keep the content center aligned. We should explore this further.

[2019-07-29 15:44] lboehling commented on #1533
[PF-Running-Icon.svg.zip](https://github.com/patternfly/patternfly-next/files/3443064/PF-Running-Icon.svg.zip)

[2019-07-29 19:48] mcoker commented on #1831
@maryshak1996 @mcarrano Sorry for the delay, this looks good to me. It looks like an element of the form component. So just a part of the existing form component versus a new component, unless we want to abstract this out in a way where it can be used outside of the context of the form component.

[2019-07-29 20:50] #2056 closed

[2019-07-29 20:50] LHinson commented on #2056
As Christie stated, closing in favor of 1599

[2019-07-30 09:11] SpyTec opened #2112 "All dropdown components do not change dropdown icon if switched between closed and expanded"
The Select, Dropdown, and Context Selector components does not change or rotate the dropdown icon as of right now. One exception is going on with Dropdown (direction up), but with that I'd expect the arrows to be switched - point up when closed, point down when expanded.

This is happening on both HTML and React versions.

In the Sketch files provided in design guidelines the dropdown components a

[2019-07-30 11:21] xtrasmal opened #2113 "Where do we put ApplicationLauncher in top navigation?"
Where do I composition the ApplicationLauncher component?
Right now I tried some ways, but I couldn't get a better result than what is shown in the picture below.

App.js:
-----

![image](https://user-images.githubusercontent.com/1174877/62125078-4f004100-b2cc-11e9-9420-1b400ceca7d5.png)

ApplicationLauncher.js
------

![image](https://user-images.githubusercontent.com/1174877/62125210-cdf57980-b2

[2019-07-30 13:13] rachael-phillips commented on #2113
@mcoker making you aware of this one.

[2019-07-30 13:55] rachael-phillips commented on #2112
Hi @mcarrano making you aware of this one! Should we open this up in Core?

[2019-07-30 17:14] mceledonia commented on #279
Adding this breakdown of our proposed spinner design:

![Spinner Breakdown 2](https://user-images.githubusercontent.com/30935938/62150379-e2854200-b2cb-11e9-99a9-afd43fbf43df.gif)

[2019-07-30 17:17] bmignano commented on #1831
@maryshak1996 @mcarrano It was just pointed out to me that this design doesn't account for more complex form groups such as the second screenshot in the description above. In cases where you can add more elements to a form group (such as adding a Port in the screenshot), the `- Remove` link would conflict with the placement of the `+ Add another` link. Could we take another look at this design to

[2019-07-30 18:19] #2082 closed

[2019-07-30 18:22] #2089 closed

[2019-07-30 18:23] #2090 closed

[2019-07-30 18:23] #2105 closed

[2019-07-30 18:24] #2100 closed

[2019-07-30 18:30] seanforyou23 commented on #2108
@rachael-phillips it's not a blocking issue for me, however, we do have a need for it in a few projects I work on. I don't have any specific target date, just on my wishlist for when it's practical. I believe this was mentioned recently as a pain point in our public slack also, which was my motivation for posting this issue. Does that help? Let me know if you need more info!

[2019-07-30 18:31] patternfly-build commented on #2089
:tada: This issue has been resolved in version 2.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 18:31] patternfly-build commented on #2082
:tada: This issue has been resolved in version 2.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 18:31] patternfly-build commented on #2090
:tada: This issue has been resolved in version 2.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 18:31] patternfly-build commented on #2105
:tada: This issue has been resolved in version 2.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 18:31] patternfly-build commented on #2100
:tada: This issue has been resolved in version 2.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 18:39] patternfly-build commented on #2093
:tada: This issue has been resolved in version 2.23.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@patternfly/patternfly)
- [GitHub release](https://github.com/patternfly/patternfly-next/releases/tag/v2.23.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 19:21] mcarrano commented on #1831
@bmignano From a PatternFly perspective, I'm not sure that we need anything new to implement those actions inside of a form section. It's just a matter of placing a link-style button within the contents of the form section. What that button does, including adding more elements to the form, should be within the applications control. @mcoker please verify to make sure I'm not saying something incorr